<form (ngSubmit)="onFormSubmit()" #vform="ngForm">
  <app-cms-html-card [optionLoading]="loading">
    <ng-container cms-header>
      <!--begin:::::::::::::::::::::::::::::::::::::::::cms-header-->
      <h3 class="card-label">
        {{ formInfo.FormTitle }}
      </h3>
      <!--end:::::::::::::::::::::::::::::::::::::::::cms-header-->
    </ng-container>
    <ng-container cms-body>
      <!--begin:::::::::::::::::::::::::::::::::::::::::cms-body-->
      <mat-horizontal-stepper (selectionChange)="onStepClick($event,stepper)" #stepper>
        <mat-step label="{{'TITLE.REQUIRED_INFORMATION' | translate}}" state="main">
          <!-- RecordStatus Field -->
          <mat-form-field class="ntk-full-width" *ngIf="fieldsInfo['RecordStatus']?.AccessWatchField">
            <mat-select placeholder="{{fieldsInfo['RecordStatus']?.FieldTitle}}" [(ngModel)]="dataModel.RecordStatus"
              [disabled]="!fieldsInfo['RecordStatus']?.AccessEditField" name="dataModel.RecordStatus"
              #RecordStatus="ngModel" panelClass="recordStatus-{{ dataModel.RecordStatus }}" required>
              <mat-option *ngFor="
                let item of dataModelEnumRecordStatusResult.ListItems;
                index as i
              " [value]="item.Value">{{ item.Description }}</mat-option>
            </mat-select>
            <mat-hint align="end">{{ 'Application.Source.RecordStatus_hint' | translate }}</mat-hint>
            <mat-error *ngIf="RecordStatus.errors?.required">
              {{ fieldsInfo['RecordStatus']?.FieldTitle }} is <strong>required</strong>
            </mat-error>
          </mat-form-field>
          <!-- Title Field -->
          <mat-form-field class="ntk-full-width" *ngIf="fieldsInfo['Title']?.AccessWatchField">
            <mat-label>{{ fieldsInfo['Title']?.FieldTitle }}</mat-label>
            <input matInput [(ngModel)]="dataModel.Title" [disabled]="!fieldsInfo['Title']?.AccessEditField"
              name="dataModel.Title" #Title type="text" placeholder="{{fieldsInfo['Title']?.FieldTitle}}" minlength="3"
              maxlength="100" required />
            <mat-icon matSuffix *ngIf="dataModel.Title && fieldsInfo['Title']?.AccessEditField" matSuffix
              mat-icon-button aria-label="Clear" (click)="dataModel.Title = ''">close</mat-icon>
            <mat-icon *ngIf="fieldsInfo['Title']?.AccessEditField" matSuffix>mode_edit</mat-icon>
            <mat-hint align="start">{{ Title.value.length }} / 100</mat-hint>
            <mat-error *ngIf="Title.errors?.required">
              {{ fieldsInfo['Title']?.FieldTitle }} is <strong>required</strong>
            </mat-error>
          </mat-form-field>
          <!-- LinkPageId Field -->
          <mat-form-field class="ntk-full-width" *ngIf="fieldsInfo['LinkPageId']?.AccessWatchField">
            <mat-label>{{ fieldsInfo['LinkPageId']?.FieldTitle }}</mat-label>
            <input matInput [(ngModel)]="dataModel.LinkPageId" [disabled]="!fieldsInfo['LinkPageId']?.AccessEditField"
              name="dataModel.LinkPageId" #LinkPageId type="text" placeholder="Page Id" minlength="3" maxlength="100" />
            <mat-icon matSuffix *ngIf="dataModel.LinkPageId && fieldsInfo['LinkPageId']?.AccessEditField" matSuffix
              mat-icon-button aria-label="Clear" (click)="dataModel.LinkPageId = ''">close</mat-icon>
            <mat-icon *ngIf="fieldsInfo['LinkPageId']?.AccessEditField" matSuffix>mode_edit</mat-icon>
            <mat-hint align="start">{{ LinkPageId.value.length }} / 100</mat-hint>

          </mat-form-field>
          <!-- Priority Field -->
          <mat-form-field class="ntk-full-width" *ngIf="fieldsInfo['Priority']?.AccessWatchField">
            <mat-label>{{ fieldsInfo['Priority']?.FieldTitle }}</mat-label>
            <input matInput [(ngModel)]="dataModel.Priority" [disabled]="!fieldsInfo['Priority']?.AccessEditField"
              name="dataModel.Priority" #Priority type="number" placeholder="الویت" required />
            <mat-icon matSuffix *ngIf="dataModel.Priority && fieldsInfo['Priority']?.AccessEditField" matSuffix
              mat-icon-button aria-label="Clear" (click)="dataModel.Priority = 1">close</mat-icon>
            <mat-icon *ngIf="fieldsInfo['Priority']?.AccessEditField" matSuffix>mode_edit</mat-icon>
            <mat-error *ngIf="Priority.errors?.required">
              {{ fieldsInfo['Priority']?.FieldTitle }} is <strong>required</strong>
            </mat-error>
          </mat-form-field>
          <!-- Description Field -->
          <mat-form-field class="ntk-full-width" *ngIf="fieldsInfo['Description']?.AccessWatchField">
            <mat-label>{{ fieldsInfo['Description']?.FieldDescription }}</mat-label>
            <textarea matInput [(ngModel)]="dataModel.Description"
              [disabled]="!fieldsInfo['Description']?.AccessEditField" name="dataModel.Description" #Description
              type="text" placeholder="{{fieldsInfo['Description']?.FieldTitle}}" row="10" minlength="3" maxlength="100"
              required></textarea>
            <mat-icon matSuffix *ngIf="dataModel.Description && fieldsInfo['Description']?.AccessEditField" matSuffix
              mat-icon-button aria-label="Clear" (click)="dataModel.Description = ''">close</mat-icon>
            <mat-icon *ngIf="fieldsInfo['Description']?.AccessEditField" matSuffix>mode_edit</mat-icon>
            <mat-hint align="end">{{ 'Application.Source.Description_hint' | translate }}</mat-hint>
            <mat-hint align="start">{{ Description.value.length }} / 100</mat-hint>
            <mat-error *ngIf="Description.errors?.required">
              {{ fieldsInfo['Description']?.FieldDescription }} is <strong>required</strong>
            </mat-error>
          </mat-form-field>

          <div *ngIf="formInfo.FormSubmitAllow" class="ntk-button-row">
            <button type="button" mat-raised-button (click)="onActionBackToParent()">
              {{'ACTION.BACK' | translate}}
            </button>
            <button type="button" mat-raised-button color="primary" [disabled]="!vform.form.valid" matStepperNext>
              {{'ACTION.NEXT' | translate}}
            </button>
          </div>
        </mat-step>


        <mat-step label="{{'TITLE.ATTACH_FILES' | translate}}" state="file">
          <p>عکسها و فایل های اپلیکیشن</p>
          <!-- LinkMainImageId Field -->
          <div class="mb-3">
            <img *ngIf="dataModel?.LinkMainImageIdSrc?.length>0" style="vertical-align:middle;" aria-hidden
              src="{{dataModel.LinkMainImageIdSrc}}" class="ntk-hover-zoom" height="50" width="50" />
          </div>
          <div class="mb-9">
            <mat-form-field class="ntk-full-width" *ngIf="fieldsInfo['LinkMainImageId']?.AccessWatchField">

              <mat-label (click)="fileManagerOpenForm = true">{{fieldsInfo['LinkMainImageId']?.FieldTitle}}</mat-label>
              <input matInput [(ngModel)]="dataModel.LinkMainImageId"
                [disabled]="!fieldsInfo['LinkMainImageId']?.AccessEditField" name="dataModel.LinkMainImageId"
                #LinkMainImageId type="text" placeholder="شناسه فایل اصلی" autocomplete="off"
                (click)="fileManagerOpenForm = true" />
              <mat-icon matSuffix *ngIf="dataModel.LinkMainImageId && fieldsInfo['LinkMainImageId']?.AccessEditField"
                matSuffix mat-icon-button aria-label="Clear" (click)="dataModel.LinkMainImageId = null">close</mat-icon>
              <mat-icon *ngIf="fieldsInfo['LinkMainImageId']?.AccessEditField" matSuffix
                (click)="fileManagerOpenForm = true">mode_edit</mat-icon>
            </mat-form-field>

            <cms-file-manager (itemSelected)="onActionFileSelectedLinkMainImageId($event)" [language]="appLanguage"
              [isPopup]="true" [(openForm)]="fileManagerOpenForm" [tree]="fileManagerTree"
              [openDirectUploadView]="true"  [openFilemanagerButtonLabelKey]="'select'" [selectFileType]="selectFileTypeMainImage"
              [openFilemanagerButtonView]="false"></cms-file-manager>
          </div>
          <!-- LinkMainVideoId Field -->
          <div class="mb-3">
            <img *ngIf="dataModel?.LinkMainVideoIdSrc?.length>0" style="vertical-align:middle;" aria-hidden
              src="{{dataModel.LinkMainVideoIdSrc}}" height="50" width="50" />
          </div>
          <div class="mb-9">
            <mat-form-field class="ntk-full-width" *ngIf="fieldsInfo['LinkMainVideoId']?.AccessWatchField">

              <mat-label (click)="fileManagerOpenFormVideo = true">{{fieldsInfo['LinkMainVideoId']?.FieldTitle}}
              </mat-label>
              <input matInput [(ngModel)]="dataModel.LinkMainVideoId"
                [disabled]="!fieldsInfo['LinkMainVideoId']?.AccessEditField" name="dataModel.LinkMainVideoId"
                #LinkMainVideoId type="text" placeholder="شناسه فایل اصلی" autocomplete="off"
                (click)="fileManagerOpenFormVideo = true" />
              <mat-icon matSuffix *ngIf="dataModel.LinkMainVideoId && fieldsInfo['LinkMainVideoId']?.AccessEditField"
                matSuffix mat-icon-button aria-label="Clear" (click)="dataModel.LinkMainVideoId = null">close</mat-icon>
              <mat-icon *ngIf="fieldsInfo['LinkMainVideoId']?.AccessEditField" matSuffix
                (click)="fileManagerOpenFormVideo = true">mode_edit</mat-icon>
            </mat-form-field>

            <cms-file-manager (itemSelected)="onActionFileSelectedLinkMainVideoId($event)" [language]="appLanguage"
              [isPopup]="true" [(openForm)]="fileManagerOpenFormVideo" [tree]="fileManagerTree"
              [openDirectUploadView]="true"  [openFilemanagerButtonLabelKey]="'select'" [selectFileType]="selectFileTypeMainVideo"
              [openFilemanagerButtonView]="false"></cms-file-manager>
          </div>

          <div *ngIf="formInfo.FormSubmitAllow" class="ntk-button-row">
            <button type="button" mat-raised-button color="accent" matStepperPrevious>
              {{'ACTION.BEFOR' | translate}}
            </button>
            <button type="submit" mat-raised-button color="success" [disabled]="!vform.form.valid">
              {{'ACTION.SAVE' | translate}}
            </button>
          </div>
        </mat-step>

      </mat-horizontal-stepper>

      <!--end:::::::::::::::::::::::::::::::::::::::::cms-body-->
    </ng-container>
    <ng-container cms-message>
      <!--begin:::::::::::::::::::::::::::::::::::::::::cms-message-->

      <!--end:::::::::::::::::::::::::::::::::::::::::cms-message-->
    </ng-container>
    <ng-container cms-footer>
      <!--begin:::::::::::::::::::::::::::::::::::::::::cms-footer-->

      <!--end:::::::::::::::::::::::::::::::::::::::::cms-footer-->
    </ng-container>
  </app-cms-html-card>
</form>