<form (ngSubmit)="onFormSubmit()" #vform="ngForm">
  <div class="ntk-cms-html-card-header">
    <!--begin:::::::::::::::::::::::::::::::::::::::::cms-header-->
    {{ formInfo.formTitle }}
    <!--end:::::::::::::::::::::::::::::::::::::::::cms-header-->
  </div>
  <div class="ntk-cms-html-card-body">
    <app-progress-spinner [options]="loading"> </app-progress-spinner>
    <!--begin:::::::::::::::::::::::::::::::::::::::::cms-body-->
    <mat-horizontal-stepper (selectionChange)="onStepClick($event,stepper)" #stepper>
      <mat-step label="{{'TITLE.REQUIRED_INFORMATION' | translate}}" state="main">
        <!-- RecordStatus Field -->
        <mat-form-field class="ntk-full-width" *ngIf="fieldsInfo['recordStatus']?.accessWatchField">
          <mat-label>{{fieldsInfo['recordStatus']?.fieldTitle}}</mat-label>
          <mat-select placeholder="{{fieldsInfo['recordStatus']?.fieldTitle}}" [(ngModel)]="dataModel.recordStatus"
            [disabled]="!fieldsInfo['recordStatus']?.accessEditField" name="dataModel.recordStatus"
            #RecordStatus="ngModel" panelClass="recordStatus-{{ dataModel.recordStatus }}" required>
            <mat-option *ngFor="
                let item of dataModelEnumRecordStatusResult.listItems;
                index as i
              " [value]="item.value">{{ item.description }}</mat-option>
          </mat-select>
          <mat-hint align="start">
            <mat-icon matSuffix class="info-field-icon">info</mat-icon>
            <strong class="info-field-text">{{fieldsInfo['recordStatus']?.FieldDescription}}</strong>
          </mat-hint>
          <mat-hint align="end">{{ 'Application.source.recordStatus_hint' | translate }}</mat-hint>
          <mat-error *ngIf="RecordStatus.errors?.required">
            {{ fieldsInfo['recordStatus']?.fieldTitle }} is <strong>{{'MESSAGE.required' | translate}}</strong>
          </mat-error>
        </mat-form-field>
        <!-- Title Field -->
        <mat-form-field class="ntk-full-width" *ngIf="fieldsInfo['title']?.accessWatchField">
          <mat-label>{{ fieldsInfo['title']?.fieldTitle }}</mat-label>
          <input matInput [(ngModel)]="dataModel.title" [disabled]="!fieldsInfo['title']?.accessEditField"
            name="dataModel.title" #Title type="text" placeholder="{{fieldsInfo['title']?.fieldTitle}}" minlength="3"
            maxlength="100" required />
          <mat-icon matSuffix *ngIf="dataModel.title && fieldsInfo['title']?.accessEditField" matSuffix mat-icon-button
            aria-label="Clear" (click)="dataModel.title = ''">close</mat-icon>
          <mat-icon *ngIf="fieldsInfo['title']?.accessEditField" matSuffix>mode_edit</mat-icon>
          <mat-hint align="start">
            <mat-icon matSuffix class="info-field-icon">info</mat-icon>
            <strong class="info-field-text">{{fieldsInfo['title']?.FieldDescription}}</strong>
          </mat-hint>
          <mat-hint align="end">{{ Title.value.length }} / 100</mat-hint>
          <mat-error *ngIf="Title.errors?.required">
            {{ fieldsInfo['title']?.fieldTitle }} <strong>{{'MESSAGE.required' | translate}}</strong>
          </mat-error>
        </mat-form-field>
        <!-- LinkPageId Field -->
        <mat-form-field class="ntk-full-width" *ngIf="fieldsInfo['linkPageId']?.accessWatchField">
          <mat-label>{{ fieldsInfo['linkPageId']?.fieldTitle }}</mat-label>
          <input matInput [(ngModel)]="dataModel.linkPageId" [disabled]="!fieldsInfo['linkPageId']?.accessEditField"
            name="dataModel.linkPageId" #LinkPageId type="text" placeholder="Page Id" minlength="3" maxlength="100" />
          <mat-icon matSuffix *ngIf="dataModel.linkPageId && fieldsInfo['linkPageId']?.accessEditField" matSuffix
            mat-icon-button aria-label="Clear" (click)="dataModel.linkPageId = ''">close</mat-icon>
          <mat-icon *ngIf="fieldsInfo['linkPageId']?.accessEditField" matSuffix>mode_edit</mat-icon>
          <mat-hint align="start">
            <mat-icon matSuffix class="info-field-icon">info</mat-icon>
            <strong class="info-field-text">{{fieldsInfo['linkPageId']?.FieldDescription}}</strong>
          </mat-hint>
          <mat-hint align="end">{{ LinkPageId.value.length }} / 100</mat-hint>
        </mat-form-field>
        <!-- Priority Field -->
        <mat-form-field class="ntk-full-width" *ngIf="fieldsInfo['priority']?.accessWatchField">
          <mat-label>{{ fieldsInfo['priority']?.fieldTitle }}</mat-label>
          <input matInput [(ngModel)]="dataModel.priority" [disabled]="!fieldsInfo['priority']?.accessEditField"
            name="dataModel.priority" #Priority type="number" placeholder="{{'TITLE.priority' | translate}}" required />
          <mat-icon matSuffix *ngIf="dataModel.priority && fieldsInfo['priority']?.accessEditField" matSuffix
            mat-icon-button aria-label="Clear" (click)="dataModel.priority = 1">close</mat-icon>
          <mat-icon *ngIf="fieldsInfo['priority']?.accessEditField" matSuffix>mode_edit</mat-icon>
          <mat-error *ngIf="Priority.errors?.required">
            {{ fieldsInfo['priority']?.fieldTitle }} is <strong>{{'MESSAGE.required' | translate}}</strong>
          </mat-error>
          <mat-hint align="start">
            <mat-icon matSuffix class="info-field-icon">info</mat-icon>
            <strong class="info-field-text">{{fieldsInfo['priority']?.FieldDescription}}</strong>
          </mat-hint>
        </mat-form-field>
        <!-- Description Field -->
        <mat-form-field class="ntk-full-width" *ngIf="fieldsInfo['description']?.accessWatchField">
          <mat-label>{{ fieldsInfo['description']?.FieldDescription }}</mat-label>
          <textarea matInput [(ngModel)]="dataModel.description"
            [disabled]="!fieldsInfo['description']?.accessEditField" name="dataModel.description" #Description
            type="text" placeholder="{{fieldsInfo['description']?.fieldTitle}}" row="10" minlength="3" maxlength="100"
            required></textarea>
          <mat-icon matSuffix *ngIf="dataModel.description && fieldsInfo['description']?.accessEditField" matSuffix
            mat-icon-button aria-label="Clear" (click)="dataModel.description = ''">close</mat-icon>
          <mat-icon *ngIf="fieldsInfo['description']?.accessEditField" matSuffix>mode_edit</mat-icon>
          <mat-hint align="start">
            <mat-icon matSuffix class="info-field-icon">info</mat-icon>
            <strong class="info-field-text">{{fieldsInfo['description']?.FieldDescription}}</strong>
          </mat-hint>
          <mat-hint align="end">{{ Description.value.length }} / 100</mat-hint>
          <mat-error *ngIf="Description.errors?.required">
            {{ fieldsInfo['description']?.FieldDescription }} is <strong>{{'MESSAGE.required' | translate}}</strong>
          </mat-error>
        </mat-form-field>
        <div *ngIf="formInfo.formSubmitAllow  && !loading.display" class="ntk-button-row">
          <button type="button" mat-raised-button (click)="onActionBackToParent()">
            {{'ACTION.BACK' | translate}}
          </button>
          <button type="button" mat-raised-button color="primary" [disabled]="!vform.form.valid" matStepperNext>
            {{'ACTION.NEXT' | translate}}
          </button>
        </div>
      </mat-step>
      <mat-step label="{{'TITLE.ATTACH_FILES' | translate}}" state="file">
        <p>{{'TITLE.Photos_And_Application_Files' | translate}}</p>
        <!-- LinkMainImageId Field -->
        <div class="mb-3">
          <a href="{{dataModel.linkMainImageIdSrc | cmsthumbnail}}" target="_blank">
            <img *ngIf="dataModel?.linkMainImageIdSrc?.length>0" style="vertical-align:middle;" class="ntk-hover-zoom"
              aria-hidden src="{{dataModel.linkMainImageIdSrc | cmsthumbnail}}" height="50" width="50" />
          </a>
        </div>
        <div class="mb-9">
          <mat-form-field class="ntk-full-width" *ngIf="fieldsInfo['linkMainImageId']?.accessWatchField">
            <mat-label (click)="fileManagerOpenForm = true">{{fieldsInfo['linkMainImageId']?.fieldTitle}}</mat-label>
            <input matInput [(ngModel)]="dataModel.linkMainImageId"
              [disabled]="!fieldsInfo['linkMainImageId']?.accessEditField" name="dataModel.linkMainImageId"
              #LinkMainImageId type="text" placeholder="{{'TITLE.Original_File_ID' | translate}}" autocomplete="off"
              (click)="fileManagerOpenForm = true" />
            <mat-icon matSuffix *ngIf="dataModel.linkMainImageId && fieldsInfo['linkMainImageId']?.accessEditField"
              matSuffix mat-icon-button aria-label="Clear" (click)="dataModel.linkMainImageId = null">close</mat-icon>
            <mat-icon *ngIf="fieldsInfo['linkMainImageId']?.accessEditField" matSuffix
              (click)="fileManagerOpenForm = true">mode_edit</mat-icon>
          </mat-form-field>
          <cms-file-manager (itemSelected)="onActionFileSelectedLinkMainImageId($event)" [language]="appLanguage"
            [isPopup]="true" [(openForm)]="fileManagerOpenForm" [tree]="fileManagerTree" [openDirectUploadView]="true"
            [openFilemanagerButtonLabelKey]="'select'" [selectFileType]="selectFileTypeMainImage"
            [openFilemanagerButtonView]="false"></cms-file-manager>
        </div>
        <!-- LinkMainVideoId Field -->
        <div class="mb-3">
          <img *ngIf="dataModel?.linkMainVideoIdSrc?.length>0" style="vertical-align:middle;" class="ntk-hover-zoom"
            aria-hidden src="{{dataModel.linkMainVideoIdSrc | cmsthumbnail}}" height="50" width="50" />
        </div>
        <div class="mb-9">
          <mat-form-field class="ntk-full-width" *ngIf="fieldsInfo['linkMainVideoId']?.accessWatchField">
            <mat-label (click)="fileManagerOpenFormVideo = true">{{fieldsInfo['linkMainVideoId']?.fieldTitle}}
            </mat-label>
            <input matInput [(ngModel)]="dataModel.linkMainVideoId"
              [disabled]="!fieldsInfo['linkMainVideoId']?.accessEditField" name="dataModel.linkMainVideoId"
              #LinkMainVideoId type="text" placeholder="{{'TITLE.Original_File_ID' | translate}}" autocomplete="off"
              (click)="fileManagerOpenFormVideo = true" />
            <mat-icon matSuffix *ngIf="dataModel.linkMainVideoId && fieldsInfo['linkMainVideoId']?.accessEditField"
              matSuffix mat-icon-button aria-label="Clear" (click)="dataModel.linkMainVideoId = null">close</mat-icon>
            <mat-icon *ngIf="fieldsInfo['linkMainVideoId']?.accessEditField" matSuffix
              (click)="fileManagerOpenFormVideo = true">mode_edit</mat-icon>
          </mat-form-field>
          <cms-file-manager (itemSelected)="onActionFileSelectedLinkMainVideoId($event)" [language]="appLanguage"
            [isPopup]="true" [(openForm)]="fileManagerOpenFormVideo" [tree]="fileManagerTree"
            [openDirectUploadView]="true" [openFilemanagerButtonLabelKey]="'select'"
            [selectFileType]="selectFileTypeMainVideo" [openFilemanagerButtonView]="false"></cms-file-manager>
        </div>
        <div *ngIf="formInfo.formSubmitAllow  && !loading.display" class="ntk-button-row">
          <button type="button" mat-raised-button color="accent" matStepperPrevious>
            {{'ACTION.BEFOR' | translate}}
          </button>
          <button type="submit" mat-raised-button color="success" [disabled]="!vform.form.valid">
            {{'ACTION.SAVE' | translate}}
          </button>
        </div>
      </mat-step>
    </mat-horizontal-stepper>
    <!--end:::::::::::::::::::::::::::::::::::::::::cms-body-->
  </div>
  <div class="ntk-cms-html-card-message">
    <!--begin:::::::::::::::::::::::::::::::::::::::::cms-message-->

    <!--end:::::::::::::::::::::::::::::::::::::::::cms-message-->
  </div>
  <div class="ntk-cms-html-card-footer">
    <!--begin:::::::::::::::::::::::::::::::::::::::::cms-footer-->
    <!--end:::::::::::::::::::::::::::::::::::::::::cms-footer-->
  </div>
</form>