<mat-card class="example-card">
  <app-progress-spinner [options]="loading">
  </app-progress-spinner>

  <mat-card-header *ngIf="!loading.display">
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>{{dataModel.Title}}</mat-card-title>
    <mat-card-subtitle>ver : {{dataModel.AppVersion}}</mat-card-subtitle>
  </mat-card-header>
  <img [src]="dataModel.DownloadLinkSrcByDomainQRCodeBase64" alt="بارکد را اسکن کنید" height="300px" width="300px">
  <img [src]="dataModel.LinkMainImageIdSrc" *ngIf="dataModel.LinkMainImageId>0 &&dataModel.LinkMainImageIdSrc.length>0"
    height="300px" width="300px">
  <mat-card-content>
    <p>
      {{dataModel.DownloadLinkSrc}}
    </p>
    <p>
      {{dataModel.DownloadLinkSrcCustomize}}
    </p>
    <p>
      {{dataModel.DownloadLinkUpdateSrc}}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button (click)="onActionDownloadApp()" mat-button>دانلود اپ</button>
    <button (click)="onActionDownloadUpdate()" mat-button>دانلود آپدیت</button>
    <button (click)="onFormCancel()" class="btn btn-raised btn-warning mr-1">
      <i class="ft-x"></i> {{'ACTION.BACK' | translate}}
    </button>
  </mat-card-actions>
</mat-card>
