<div class="row">
  <div Class="col-xl-2">
    <!--begin::tree-->
    <div class="ntk-cms-html-tree-header">
      <!--begin:::::::::::::::::::::::::::::::::::::::::cms-action-->
      <button (click)="onActionAdd()" type="button" class="btn btn-outline-primary" style="width:98%">ذخیره
        محتوا</button>
      <button (click)="onActionAdd()" type="button" class="btn btn-outline-primary" style="width:98%">حذف محتوا</button>
      <button (click)="onActionAdd()" type="button" class="btn btn-outline-primary" style="width:98%">بارگزاری مجدد
        محتوا</button>
      <button (click)="onActionAdd()" type="button" class="btn btn-outline-primary" style="width:98%">بارگزاری پیش فرض
        محتوا</button>
      <button (click)="onActionAdd()" type="button" class="btn btn-outline-primary" style="width:98%">بارگزاری پیش فرض
        محتوا</button>
      <button (click)="onActionAdd()" type="button" class="btn btn-outline-primary" style="width:98%">درون ریزی
        محتوا</button>
      <button (click)="onActionAdd()" type="button" class="btn btn-outline-primary" style="width:98%">بررون ریزی
        محتوا</button>
      <button (click)="onActionAdd()" type="button" class="btn btn-outline-primary" style="width:98%">تاریخچه تغییرات
        محتوا</button>
      <!--end:::::::::::::::::::::::::::::::::::::::::cms-action-->
    </div>
    <div class="ntk-cms-html-tree-header">
      <!--begin:::::::::::::::::::::::::::::::::::::::::cms-body-->
      سایز نمایش
      <br>
      <button (click)="onActionAdd()" type="button" class="btn btn-outline-primary">lg</button>
      <button (click)="onActionAdd()" type="button" class="btn btn-outline-primary">md</button>
      <button (click)="onActionAdd()" type="button" class="btn btn-outline-primary">sm</button>
      <button (click)="onActionAdd()" type="button" class="btn btn-outline-primary">xs</button>
      <!--end:::::::::::::::::::::::::::::::::::::::::cms-body-->
    </div>
    <div class="ntk-cms-html-tree-header">
      <!--begin:::::::::::::::::::::::::::::::::::::::::cms-body-->
      نمایش
      <br>
      <button (click)="onActionAdd()" type="button" class="btn btn-outline-primary" style="width:98%">پیش نمایش</button>
      <button (click)="onActionAdd()" type="button" class="btn btn-outline-primary" style="width:98%">پیش نمایش با صفحه
        مادر</button>
      <!--end:::::::::::::::::::::::::::::::::::::::::cms-body-->
    </div>
    <div class="ntk-cms-html-tree-body">
      body
    </div>
    <div class="ntk-cms-html-tree-footer">
      <!--begin:::::::::::::::::::::::::::::::::::::::::cms-footer-->
      tree-footer
      <!--end:::::::::::::::::::::::::::::::::::::::::cms-footer-->
    </div>













    <!--end::tree-->
  </div>
  <div Class="col-xl-10">
    <!--begin::Header-->
    <div class="ntk-cms-html-list-header">
      <button (click)="onActionAdd()" type="button" class="btn btn-outline-primary">ایجاد
        ردیف</button>

    </div>
    <!--end::Header-->

    <!--begin::Body-->
    <div>
      <app-progress-spinner [options]="loading"> </app-progress-spinner>
      Body
    </div>
    <!--end::Body-->
    <!--begin::Footer-->
    <div class="ntk-cms-html-list-footer">
      footer
    </div>
    <!--end::Footer-->
  </div>
</div>
