<!--begin::Header-->
<div *ngIf="optionHeaderDisplay ||optionActionDisplay" class="ntk-cms-html-tree-header">
  <ng-content *ngIf="optionHeaderDisplay" select="[cms-header]"></ng-content>
  <ng-content *ngIf="optionActionDisplay" select="[cms-action]"></ng-content>
</div>
<!--end::Header-->
<!--begin::Body-->
<div class="ntk-cms-html-tree-body">
  <app-progress-spinner [options]="loading"> </app-progress-spinner>
  <ng-content  select="[cms-body]"></ng-content>
</div>
<!--end::Body-->
<!--begin::Footer-->
<div *ngIf="optionFooterDisplay" class="ntk-cms-html-tree-footer">
  <ng-content  select="[cms-footer]"></ng-content>
</div>
<!--end::Footer-->