<div *ngIf="optionsData.data.show" class="alert alert-primary">
  <!-- FileType Field -->
  <mat-form-field class="ntk-full-width">
    <mat-select placeholder="{{'TITLE.Output_file_format' | translate}}" [(ngModel)]="filterModel.exportFile.fileType"
      name="filterModel.exportFile.FileType" #RecordStatus="ngModel"
      panelClass="recordStatus-{{ filterModel.exportFile.fileType }}" required>
      <mat-option *ngFor="
                  let item of fileTypeListItems;
                  index as i
                " [value]="item.value">{{ item.description }}</mat-option>
    </mat-select>
    <mat-hint align="end">{{'TITLE.Select_the_file_format' | translate}}</mat-hint>
    <mat-error *ngIf="RecordStatus.errors?.required">
      RecordStatus is <strong>{{'MESSAGE.required' | translate}}</strong>
    </mat-error>
  </mat-form-field>
  <!-- RecieveMethod Field -->
  <mat-form-field class="ntk-full-width">
    <mat-select placeholder="{{'TITLE.Method_of_receipt' | translate}}" [(ngModel)]="filterModel.exportFile.recieveMethod"
      name="filterModel.exportFile.recieveMethod" #RecordStatus="ngModel"
      panelClass="recordStatus-{{ filterModel.exportFile.recieveMethod }}" required>
      <mat-option *ngFor="
                    let item of recieveMethodListItems;
                    index as i
                  " [value]="item.value">{{ item.description }}</mat-option>
    </mat-select>
    <mat-hint align="end">{{'TITLE.Select_the_method_of_receiving_the_file' | translate}}</mat-hint>
    <mat-error *ngIf="RecordStatus.errors?.required">
      RecordStatus is <strong>{{'MESSAGE.required' | translate}}</strong>
    </mat-error>
  </mat-form-field>
  <!-- CurrentPageNumber Field -->
  <mat-form-field class="ntk-full-width text-black">
    <mat-label>{{'TITLE.from_page' | translate}}</mat-label>
    <input matInput [(ngModel)]="filterModel.currentPageNumber" name="filterModel.currentPageNumber" #CurrentPageNumber
      type="number" placeholder="{{'TITLE.page_number' | translate}}" required />
    <mat-icon matSuffix *ngIf="filterModel.currentPageNumber" matSuffix mat-icon-button aria-label="Clear"
      (click)="filterModel.currentPageNumber =0">close</mat-icon>
    <mat-icon matSuffix>mode_edit</mat-icon>
    <mat-error *ngIf="CurrentPageNumber.errors?.required">
      Current Page Number is <strong>{{'MESSAGE.required' | translate}}</strong>
    </mat-error>
  </mat-form-field>

  <!-- RowPerPage Field -->
  <mat-form-field class="ntk-full-width text-black">
    <mat-label>{{'TITLE.page_number' | translate}}</mat-label>
    <input matInput [(ngModel)]="filterModel.rowPerPage" name="filterModel.rowPerPage" #RowPerPage type="number"
      placeholder="{{'TITLE.number_of_output_file_rows' | translate}}" required />
    <mat-icon matSuffix *ngIf="filterModel.rowPerPage" matSuffix mat-icon-button aria-label="Clear"
      (click)="filterModel.rowPerPage = 100">close</mat-icon>
    <mat-icon matSuffix>mode_edit</mat-icon>
    <mat-error *ngIf="RowPerPage.errors?.required">
      Row Per Page is <strong>{{'MESSAGE.required' | translate}}</strong>
    </mat-error>
  </mat-form-field>
  <!-- SkipRowData Field -->
  <mat-form-field class="ntk-full-width text-black">
    <mat-label>{{'TITLE.Over_the_number_of_rows' | translate}}</mat-label>
    <input matInput [(ngModel)]="filterModel.skipRowData" name="filterModel.skipRowData" #SkipRowData type="number"
      placeholder="{{'TITLE.Number_of_rows_row_rowss' | translate}}" required />
    <mat-icon matSuffix *ngIf="filterModel.skipRowData" matSuffix mat-icon-button aria-label="Clear"
      (click)="filterModel.skipRowData =0">close</mat-icon>
    <mat-icon matSuffix>mode_edit</mat-icon>
    <mat-error *ngIf="SkipRowData.errors?.required">
      Skip Row Data is <strong>{{'MESSAGE.required' | translate}}</strong>
    </mat-error>
  </mat-form-field>
  <button (click)="onSubmit()" type="button" class="btn btn-secondary BTN-text">{{'ACTION.FILE_CREATION' |translate}}</button>
  <mat-list>
    <div mat-subheader style="font-size: 20px;">{{'TITLE.download_list' | translate}} </div>
    <mat-list-item *ngFor="let folder of modelData| keyvalue">
      <a class="text-white" href="{{folder.value}}" target="_blank"><mat-icon mat-list-icon>download</mat-icon></a>
      <div mat-line><a class="text-white" href="{{folder.value}}" target="_blank"> {{folder.key}}</a></div>
    </mat-list-item>
    <mat-divider></mat-divider>
  </mat-list>
</div>
