<div *ngIf="optionsData.data.show" class="alert alert-info" style="direction: ltr">
  <!-- FileType Field -->
  <mat-form-field class="ntk-full-width">
    <mat-select placeholder="فرمت فایل خروجی" [(ngModel)]="filterModel.exportFile.fileType"
      name="filterModel.exportFile.FileType" #RecordStatus="ngModel"
      panelClass="recordStatus-{{ filterModel.exportFile.fileType }}" required>
      <mat-option *ngFor="
                  let item of fileTypeListItems;
                  index as i
                " [value]="item.value">{{ item.description }}</mat-option>
    </mat-select>
    <mat-hint style="text-align: right;">انتخاب فرمت فایل</mat-hint>
    <mat-error *ngIf="RecordStatus.errors?.required">
      RecordStatus is <strong>{{'MESSAGE.required' | translate}}</strong>
    </mat-error>
  </mat-form-field>
  <!-- RecieveMethod Field -->
  <mat-form-field class="ntk-full-width">
    <mat-select placeholder="روش دریافت" [(ngModel)]="filterModel.exportFile.recieveMethod"
      name="filterModel.exportFile.recieveMethod" #RecordStatus="ngModel"
      panelClass="recordStatus-{{ filterModel.exportFile.recieveMethod }}" required>
      <mat-option *ngFor="
                    let item of recieveMethodListItems;
                    index as i
                  " [value]="item.value">{{ item.description }}</mat-option>
    </mat-select>
    <mat-hint style="text-align: right;">انتخاب روش دریافت فایل</mat-hint>
    <mat-error *ngIf="RecordStatus.errors?.required">
      RecordStatus is <strong>{{'MESSAGE.required' | translate}}</strong>
    </mat-error>
  </mat-form-field>
  <!-- CurrentPageNumber Field -->
  <mat-form-field class="ntk-full-width">
    <mat-label>از صفحه</mat-label>
    <input matInput [(ngModel)]="filterModel.currentPageNumber" name="filterModel.currentPageNumber" #CurrentPageNumber
      type="number" placeholder="شماره صفحه" required />
    <mat-icon matSuffix *ngIf="filterModel.currentPageNumber" matSuffix mat-icon-button aria-label="Clear"
      (click)="filterModel.currentPageNumber =0">close</mat-icon>
    <mat-icon matSuffix>mode_edit</mat-icon>
    <mat-error *ngIf="CurrentPageNumber.errors?.required">
      Current Page Number is <strong>{{'MESSAGE.required' | translate}}</strong>
    </mat-error>
  </mat-form-field>

  <!-- RowPerPage Field -->
  <mat-form-field class="ntk-full-width">
    <mat-label>تعداد ردیف</mat-label>
    <input matInput [(ngModel)]="filterModel.rowPerPage" name="filterModel.rowPerPage" #RowPerPage type="number"
      placeholder="تعداد ردیف خروجی فایل" required />
    <mat-icon matSuffix *ngIf="filterModel.rowPerPage" matSuffix mat-icon-button aria-label="Clear"
      (click)="filterModel.rowPerPage = 100">close</mat-icon>
    <mat-icon matSuffix>mode_edit</mat-icon>
    <mat-error *ngIf="RowPerPage.errors?.required">
      Row Per Page is <strong>{{'MESSAGE.required' | translate}}</strong>
    </mat-error>
  </mat-form-field>
  <!-- SkipRowData Field -->
  <mat-form-field class="ntk-full-width">
    <mat-label>پرش از تعداد ردیف</mat-label>
    <input matInput [(ngModel)]="filterModel.skipRowData" name="filterModel.skipRowData" #SkipRowData type="number"
      placeholder="عدد تعداد ردیف ردیف پرش" required />
    <mat-icon matSuffix *ngIf="filterModel.skipRowData" matSuffix mat-icon-button aria-label="Clear"
      (click)="filterModel.skipRowData =0">close</mat-icon>
    <mat-icon matSuffix>mode_edit</mat-icon>
    <mat-error *ngIf="SkipRowData.errors?.required">
      Skip Row Data is <strong>{{'MESSAGE.required' | translate}}</strong>
    </mat-error>
  </mat-form-field>
  <button (click)="onSubmit()" type="button" class="btn btn-warning BTN">{{'ACTION.FILE_CREATION' |translate}}</button>
  <mat-list>
    <div mat-subheader>لیست دانلود</div>
    <mat-list-item *ngFor="let folder of modelData| keyvalue">
      <a href="{{folder.value}}" target="_blank"><mat-icon mat-list-icon>download</mat-icon></a>
      <div mat-line><a href="{{folder.value}}" target="_blank"> {{folder.key}}</a></div>
    </mat-list-item>
    <mat-divider></mat-divider>
  </mat-list>
</div>
