<h2 mat-dialog-title>{{'TITLE.Rules' | translate}}</h2>
<mat-dialog-content>
  <app-progress-spinner [options]="loading"> </app-progress-spinner>
  <div [innerHTML]="dataModelResult.item"></div>
</mat-dialog-content>
<mat-dialog-actions style="text-align: left;" class="ntk-button-row">
  <button mat-raised-button color="accent" mat-dialog-close>{{'ACTION.DENY' | translate}}</button>
  <button mat-raised-button color="success" [mat-dialog-close]="true" cdkFocusInitial>{{'ACTION.ACCEPT' | translate}}</button>
</mat-dialog-actions>