<h2 mat-dialog-title>قوانین</h2>
<mat-dialog-content>
  <h3>عضویت</h3>
  <p>
    طفا قوانین را با دقت مطالعه فرمائید. با سفارش از سایت، شما موافقت خود را با شرایط و قوانین زیر اعلام می‌نمائید.
    علاوه بر این مفاد، به عنوان یک وب‌سایت و سرویس ایرانی از تمامی قوانین و مقررات جمهوری اسلامی ایران تبعیت می‌نماید.
    <br>
    عضویت شما در سایت شرکت ، بیانگر پذیرش کلیه ضوابط و قوانین سایت بوده و نیاز به امضای کاربر نمی باشد و کاربر متعهد به
    احترام و رعایت کلیه ضوابط و مقررات می باشد
  </p>

  <h3>مسئولیت محتوا</h3>
  <p>
    تمامی وبسایت های ایجاد شده در وب وان به دقت توسط مدیریت سیستم نظارت شده و در صورت مشاهدۀ هرگونه تخلف دسترسی کاربر به
    سیستم مسدود می‌گردد.
    <br>
    مسئولیت تمامی محتوای ایجاد شده در وبسایت ساخته شده بر عهدۀ شخص بوده و مدیریت سامانه مدیریت محتوا هیچگونه مسئولیتی در
    قبال محتوای وبسایت شما ندارد.
    <br>
    ایجاد هرگونه وبسایت نامتعارف شامل هرگونه توهین و فحاشی به افراد (به خصوص سران کشور)، متون سیاسی و غیر اخلاقی، مخل
    نظم عمومی، مخل امنیی ملی و خلاف عرف ممنوع می‌باشد و به محض مشاهده دسترسی کاربر به سیستم مسدود می شود و وبسایت ایجاد
    شده از سیستم پرتال حذف می گردد. همچنین تمامی در صورت لزوم به پلیس فتا و مراجع قانونی ارجاع داده خواهد شد.
    <br>
    مسئولیت محتوا و خدماتی که بر روی وب سایت خود ارائه می دهید بر عهده شما است، در صورت نوشتن محتوا یا ارائه خدمات یا
    محصولاتی که خلاف قوانین کشور باشد اطلاعات شما در اختیار مراجع استعلام کننده قرار می گیرد.
  </p>

  <h3>نوع محتوا</h3>
  <p>
    سایت های تحویل داده شده با مشخصات پیشفرض می باشد. خریدار متعهد می گردد که تمامی اطلاعات پیشفرض را به نام خود تغییر
    دهد . همچنین امکان تغییر نوع وب سایت به نوعی دیگر امکان پذیر نبوده

  </p>





  <h3>برروز رسانی</h3>

  <p>
    :باتوجه به هسته مشترک و فراهم ساختن قابلیت بروز رسانی خودکار بر روی وب سایت ها، امکان تغییر هاست وب سایت توسط شما
    وجود ندارد. وب وان همواره از پرقدرتمند ترین سرورها استفاده کرده و تمامی مکانیزم های امنیتی و پشتیبان گیری از وب سایت
    ها و محتوا ها را به بهترین شکل ممکن انجام می دهد. بنابراین نیاز به تمهیداتی از سمت شما نیست
  </p>

  <h3>فسخ قرار داد</h3>
  <p>
    امکان انصراف از سفارش و فسخ قرارداد تنها باتوجه به شرایط فسخ قرارداد و یا قبل از امضای قرارداد امکان پذیر خواهد بود
  </p>
  
</mat-dialog-content>
<mat-dialog-actions align="end" class="ntk-button-row">
  <button mat-raised-button color="accent" mat-dialog-close>رد می کنم</button>
  <button mat-raised-button color="success" [mat-dialog-close]="true" cdkFocusInitial>قبول دارم</button>
</mat-dialog-actions>