<div class="table" >
  <div class="tr">
    <div class="td">{{fieldsInfo['title']?.fieldTitle}} : </div>
    <div class="td">{{dataModelResult?.item?.title}}</div>
    <div class="td">{{fieldsInfo['id']?.fieldTitle}} : </div>
    <div class="td">{{dataModelResult?.item?.id}}</div>
    <div style="clear: both;"></div>
  </div>
  <div class="tr">
    <div class="td">{{fieldsInfo['fromDate']?.fieldTitle}} : </div>
    <div class="td">{{publicHelper.LocaleDate( dataModelResult?.item?.FromDate)}}
    </div>
    <div class="td">{{fieldsInfo['expireDate']?.fieldTitle}} : </div>
    <div class="td">{{publicHelper.LocaleDate(dataModelResult?.item?.ExpireDate)}}</div>
    <div style="clear: both;"></div>
  </div>
  <div class="tr">
    <div class="td">{{fieldsInfo['salePrice']?.fieldTitle}} :</div>
    <div class="td">{{dataModelResult?.item?.SalePrice}}</div>
    <div class="td">{{fieldsInfo['hasDemo']?.fieldTitle}} :</div>
    <div class="td">{{dataModelResult?.item?.HasDemo}}</div>
    <div style="clear: both;"></div>
  </div>
</div>
