<ng-container *ngIf="tokenInfo && tokenInfo.userId>0">
  <ng-container *ngIf="extrasUserDropdownStyle === 'light'">
    <!--begin::Header-->
    <div class="d-flex align-items-center p-8 rounded-top">
      <!--begin::Symbol-->
      <div class="symbol symbol-md bg-light-primary mr-3 flex-shrink-0">
        <img
          src="{{ (tokenInfo.linkMainImageIdSrc && tokenInfo.linkMainImageIdSrc.length>0) ? tokenInfo.linkMainImageIdSrc : './assets/media/users/default.jpg' }}"
          alt="" />
      </div>
      <!--end::Symbol-->
      <!--begin::Text-->
      <div class="text-dark m-0 flex-grow-1 mr-3 font-size-h5">
        {{ tokenInfo.name}} {{ tokenInfo.lastName }}
      </div>
      <span class="label label-light-info label-lg font-weight-bold label-inline">{{ tokenInfo.userAccessUserTypeTitle
        }}
      </span>
      <!--end::Text-->
    </div>
    <div class="separator separator-solid"></div>
    <!--end::Header-->
  </ng-container>
  <ng-container *ngIf="extrasUserDropdownStyle === 'dark'">
    <!--begin::Header-->
    <div
      class="d-flex align-items-center justify-content-between flex-wrap p-8 bgi-size-cover bgi-no-repeat rounded-top"
      style="background-image: url('./assets/media/misc/bg-1.jpg');">
      <div class="d-flex align-items-center mr-2">
        <!--begin::Symbol-->
        <div class="symbol bg-white-o-15 mr-3">
          <span class="symbol-label text-success font-weight-bold font-size-h4">{{ tokenInfo.name | firstLetter
            }}</span>
        </div>
        <!--end::Symbol-->

        <!--begin::Text-->
        <div class="text-white m-0 flex-grow-1 mr-3 font-size-h5">
          {{ tokenInfo.name }} {{ tokenInfo.lastName }}
        </div>
        <!--end::Text-->
      </div>
      <span class="label label-info label-lg font-weight-bold label-inline">{{ tokenInfo.userAccessUserTypeTitle }}
      </span>
    </div>
    <!--end::Header-->
  </ng-container>

  <!--begin::Nav-->
  <div class="navi navi-spacer-x-0 pt-5">
    <!--begin::Item-->
    <a class="navi-item px-8 cursor-pointer" routerLink="{{'/core/user/edit/' +this.tokenInfo.userId}}">
    <div class="navi-link">
      <div class="navi-icon mr-2">
        <i class="flaticon2-calendar-3 text-success"></i>
      </div>
      <div class="navi-text">
        <div class="font-weight-bold">
          {{'TITLE.User_Profile'| translate}}
        </div>
        <div class="text-muted">
          {{'TITLE.Account_settings_and_more'| translate}}
          <br>
          <span class="label label-light-info label-inline font-weight-bold">{{'TITLE.User_Id'|
            translate}}:{{this.tokenInfo.userId}}</span>
          <a class="navi-item cursor-pointer" routerLink="{{'/core/site/edit/' +this.tokenInfo.siteId}}">
            <span class="label label-light-success label-inline font-weight-bold ms-1"
              >{{'TITLE.Site_Id'| translate}}:{{this.tokenInfo.siteId}}</span>
          </a>
        </div>
      </div>
    </div>
    </a>
    <!--end::Item-->
    <!--begin::Item-->
    <a class="navi-item px-8 cursor-pointer" routerLink="{{'/ticketing/task/contactus-list/LinkCmsUserId/' +this.tokenInfo.userId}}">
      <div class="navi-link">
        <div class="navi-icon mr-2">
          <i class="flaticon2-mail text-warning"></i>
        </div>
        <div class="navi-text">
          <div class="font-weight-bold">
            {{'TITLE.My_Messages'| translate}}
          </div>
          <div class="text-muted">
            {{'TITLE.Inbox_and_tasks'| translate}}
            <span
              class="label label-light-info label-inline font-weight-bold">{{dataTaskGetCountEditorModelResult.totalRowCount}}
              {{'TITLE.MESSAGES'|translate}}</span>
          </div>
        </div>
      </div>
    </a>
    <!--end::Item-->
    <!--begin::Item-->
    <ng-container *ngIf="this.tokenHelper.isAdminSite">
      <a class="navi-item px-8 cursor-pointer" routerLink="{{'/ticketing/task/LinkCmsUserId/' +this.tokenInfo.userId}}">
        <div class="navi-link">
          <div class="navi-icon mr-2">
            <i class="flaticon2-hourglass text-primary"></i>
          </div>
          <div class="navi-text">
            <div class="font-weight-bold">
              {{'TITLE.My_Tasks'| translate}}
            </div>
            <div class="text-muted">
              {{'TITLE.latest_tasks_and_projects'| translate}}
              <span
                class="label label-light-info label-inline font-weight-bold">{{dataTaskGetCountViewerModelResult.totalRowCount}}
                {{'TITLE.MESSAGES'|translate}}</span>
            </div>
          </div>
        </div>
      </a>
    </ng-container>
    <!--end::Item-->
    <!--begin::Item-->
    <a class="navi-item px-8 cursor-pointer" routerLink="{{'/coretoken/userlog/LinkUserId/' +this.tokenInfo.userId}}">
      <div class="navi-link">
        <div class="navi-icon mr-2">
          <i class="flaticon2-rocket-1 text-danger"></i>
        </div>
        <div class="navi-text">
          <div class="font-weight-bold">
            {{'TITLE.My_Activities'| translate}}
          </div>
          <div class="text-muted">
            {{'TITLE.Logs_and_notifications'| translate}}
          </div>
        </div>
      </div>
    </a>
    <!--end::Item-->
    <div class="navi-separator mt-3"></div>
    <app-cms-token-access></app-cms-token-access>
    <!--begin::Footer-->
    <div class="navi-separator mt-3"></div>
    <div class="navi-footer px-8 py-5">
      <a class="btn btn-clean font-weight-bold cursor-pointer">ver: {{this.publicHelper.appClientVersion}} </a>
      <a class="btn btn-light-primary font-weight-bold cursor-pointer" (click)="logout()">{{'TITLE.Sing_Out'|
        translate}}</a>
    </div>
    <!--end::Footer-->
  </div>
  <!--end::Nav-->
</ng-container>