    <div class="ntk-cms-html-card-header">
      <!--begin:::::::::::::::::::::::::::::::::::::::::cms-header-->
      مشخصات 
      <!--end:::::::::::::::::::::::::::::::::::::::::cms-header-->
    </div>
    <div class="ntk-cms-html-card-body">
      <!--begin:::::::::::::::::::::::::::::::::::::::::cms-body-->
    
  
      <!--end:::::::::::::::::::::::::::::::::::::::::cms-body-->
    </div>
    <div class="ntk-cms-html-card-message">
      <!--begin:::::::::::::::::::::::::::::::::::::::::cms-message-->
  
      <!--end:::::::::::::::::::::::::::::::::::::::::cms-message-->
    </div>
    <div class="ntk-cms-html-card-footer">
      <!--begin:::::::::::::::::::::::::::::::::::::::::cms-footer-->
  
      <!--end:::::::::::::::::::::::::::::::::::::::::cms-footer-->
    </div>
