<form (ngSubmit)="onFormSubmit()" #vform="ngForm">
  <div class="ntk-cms-html-card-header">
    <!--begin:::::::::::::::::::::::::::::::::::::::::cms-header-->
    {{ formInfo.formTitle }}
    <!--end:::::::::::::::::::::::::::::::::::::::::cms-header-->
  </div>
  <div class="ntk-cms-html-card-body">
    <app-progress-spinner [options]="loading"> </app-progress-spinner>
    <!--begin:::::::::::::::::::::::::::::::::::::::::cms-body-->
    <mat-horizontal-stepper (selectionChange)="onStepClick($event,stepper)" #stepper>

      <mat-step label="{{'TITLE.Default_module_settings'|translate}}" state="main"
        *ngIf="tokenInfo.userAccessAdminAllowToProfessionalData">
        <p>{{'TITLE.Settings_that_are_used_in_the_first_assignment_of_the_module_to_the_site' |translate}}</p>
        <!-- StatusRenderUser Field -->
        <div class="ntk-full-width">
          <mat-slide-toggle [(ngModel)]="dataConfigSiteValuesDefaultModel.statusRenderUser"
            name="dataConfigSiteValuesDefaultModel.statusRenderUser">
            StatusRenderUser
          </mat-slide-toggle>
        </div>
        <!-- UseDataDefaulteSite -->
        <div class="ntk-full-width">
          <mat-slide-toggle [(ngModel)]="dataConfigSiteValuesDefaultModel.useDataDefaulteSite"
            name="dataConfigSiteValuesDefaultModel.useDataDefaulteSite">
            {{'TITLE.Display_the_default_site_information_on_the_site' | translate}}
          </mat-slide-toggle>
        </div>
        <!-- DomainsGoogleSitekey Field -->
        <mat-form-field class="ntk-full-width">
          <mat-label>DomainsGoogleSitekey</mat-label>
          <input matInput [(ngModel)]="dataConfigSiteValuesDefaultModel.domainsGoogleSitekey"
            name="dataConfigSiteValuesDefaultModel.domainsGoogleSitekey"
            #dataConfigSiteValuesDefaultModel_DomainsGoogleSitekey type="text" placeholder="ad....." />
          <mat-icon matSuffix *ngIf="dataConfigSiteValuesDefaultModel.domainsGoogleSitekey" matSuffix mat-icon-button
            aria-label="Clear" (click)="dataConfigSiteValuesDefaultModel.domainsGoogleSitekey = null">close</mat-icon>
          <mat-icon matSuffix>mode_edit</mat-icon>

        </mat-form-field>

        <!-- DomainsGoogleSecretkey Field -->
        <mat-form-field class="ntk-full-width">
          <mat-label>DomainsGoogleSecretkey</mat-label>
          <input matInput [(ngModel)]="dataConfigSiteValuesDefaultModel.domainsGoogleSecretkey"
            name="dataConfigSiteValuesDefaultModel.domainsGoogleSecretkey"
            #dataConfigSiteValuesDefaultModel_DomainsGoogleSecretkey type="text" placeholder="ad....." />
          <mat-icon matSuffix *ngIf="dataConfigSiteValuesDefaultModel.domainsGoogleSecretkey" matSuffix mat-icon-button
            aria-label="Clear" (click)="dataConfigSiteValuesDefaultModel.domainsGoogleSecretkey = null">close</mat-icon>
          <mat-icon matSuffix>mode_edit</mat-icon>

        </mat-form-field>
        <div class="ntk-full-width">
          <mat-slide-toggle [(ngModel)]="dataConfigSiteValuesDefaultModel.userRegidteryBool"
            name="dataConfigSiteValuesDefaultModel.userRegidteryBool">
            UserRegidteryBool
          </mat-slide-toggle>
        </div>
        <!-- UserRegidteryRecordStatus Field -->
        <mat-form-field class="ntk-full-width">
          <mat-select placeholder="{{'TITLE.Status' | translate}}"
            [(ngModel)]="dataConfigSiteValuesDefaultModel.userRegidteryRecordStatus"
            name="dataConfigSiteValuesDefaultModel.userRegidteryRecordStatus" #UserRegidteryRecordStatus="ngModel"
            panelClass="UserRegidteryRecordStatus-{{ dataConfigSiteValuesDefaultModel.userRegidteryRecordStatus }}">
            <mat-option *ngFor="
                let item of dataModelEnumRecordStatusResult.listItems;
                index as i
              " [value]="item.value">{{ item.description }}</mat-option>
          </mat-select>
          <mat-hint align="end">{{'TITLE.SELECT_STATUS' | translate}}</mat-hint>

        </mat-form-field>
        <!-- UserRegidteryExpireDateDay Field -->
        <mat-form-field class="ntk-full-width">
          <mat-label>UserRegidteryExpireDateDay</mat-label>
          <input matInput [(ngModel)]="dataConfigSiteValuesDefaultModel.userRegidteryExpireDateDay"
            name="dataConfigSiteValuesDefaultModel.userRegidteryExpireDateDay"
            #dataConfigSiteValuesDefaultModel_UserRegidteryExpireDateDay type="number" placeholder="0" />
          <mat-icon matSuffix *ngIf="dataConfigSiteValuesDefaultModel.userRegidteryExpireDateDay" matSuffix
            mat-icon-button aria-label="Clear"
            (click)="dataConfigSiteValuesDefaultModel.userRegidteryExpireDateDay = null">close</mat-icon>
          <mat-icon matSuffix>mode_edit</mat-icon>

        </mat-form-field>
        <!-- RSSCount Field -->
        <mat-form-field class="ntk-full-width">
          <mat-label>RSSCount</mat-label>
          <input matInput [(ngModel)]="dataConfigSiteValuesDefaultModel.rssCount"
            name="dataConfigSiteValuesDefaultModel.rssCount" #dataConfigSiteValuesDefaultModel_RSSCount type="number"
            placeholder="0" />
          <mat-icon matSuffix *ngIf="dataConfigSiteValuesDefaultModel.rssCount" matSuffix mat-icon-button
            aria-label="Clear" (click)="dataConfigSiteValuesDefaultModel.rssCount = null">close</mat-icon>
          <mat-icon matSuffix>mode_edit</mat-icon>

        </mat-form-field>



        <div *ngIf="tokenInfo.userAccessAdminAllowToProfessionalData">
          <div [innerHTML]="dataConfigSiteValuesDefaultModel | prettyjson"></div>
        </div>
        <div *ngIf="formInfo.formSubmitAllow  && !loading.display" class="ntk-button-row">
          <button type="button" mat-raised-button (click)="onActionBackToParent()">
            {{'ACTION.BACK' | translate}}
          </button>
          <button type="button" mat-raised-button color="primary" [disabled]="!vform.form.valid" matStepperNext>
            {{'ACTION.NEXT' | translate}}
          </button>
          <button type="submit" mat-raised-button color="success" [disabled]="!vform.form.valid">
            {{'ACTION.SAVE' | translate}}
          </button>
        </div>
      </mat-step>
      <mat-step label="{{'TITLE.Default_access'|translate}}" state="main"
        *ngIf="tokenInfo.userAccessAdminAllowToProfessionalData">
        <p>{{'TITLE.Default_website_access_to_this_module'|translate}}</p>

        <!-- MainDataContentRowCount Field -->
        <mat-form-field class="ntk-full-width">
          <mat-label>MainDataContentRowCount</mat-label>
          <input matInput [(ngModel)]="dataConfigSiteAccessValuesDefaultModel.mainDataContentRowCount"
            name="dataConfigSiteAccessValuesDefaultModel.mainDataContentRowCount"
            #dataConfigSiteAccessValuesDefaultModel_MainDataContentRowCount type="number" placeholder="0" />
          <mat-icon matSuffix *ngIf="dataConfigSiteAccessValuesDefaultModel.mainDataContentRowCount" matSuffix
            mat-icon-button aria-label="Clear"
            (click)="dataConfigSiteAccessValuesDefaultModel.mainDataContentRowCount = 0">close</mat-icon>
          <mat-icon matSuffix>mode_edit</mat-icon>

        </mat-form-field>
        <!-- UseDataDefaulteSiteId Field -->
        <mat-form-field class="ntk-full-width">
          <mat-label>{{'TITLE.Default_information_site_ID' | translate}}</mat-label>
          <input matInput [(ngModel)]="dataConfigAdminMainModel.useDataDefaulteSiteId"
            name="dataConfigAdminMainModel.useDataDefaulteSiteId" #dataConfigAdminMainModel_UseDataDefaulteSiteId
            type="number" placeholder="0" />
          <mat-icon matSuffix *ngIf="dataConfigAdminMainModel.useDataDefaulteSiteId" matSuffix mat-icon-button
            aria-label="Clear" (click)="dataConfigAdminMainModel.useDataDefaulteSiteId = 0">close</mat-icon>
          <mat-icon matSuffix>mode_edit</mat-icon>
        </mat-form-field>

        <!-- DomainsList Field -->
        <mat-form-field class="ntk-full-width">
          <mat-label>DomainsList</mat-label>
          <textarea matInput [(ngModel)]="dataConfigSiteAccessValuesDefaultModel.domainsList"
            name="dataConfigSiteAccessValuesDefaultModel.domainsList"
            #dataConfigSiteAccessValuesDefaultModel_DomainsList type="text" placeholder="domain.com"
            rows="10"></textarea>
          <mat-icon matSuffix *ngIf="dataConfigSiteAccessValuesDefaultModel.domainsList" matSuffix mat-icon-button
            aria-label="Clear" (click)="dataConfigSiteAccessValuesDefaultModel.domainsList = null">close</mat-icon>
          <mat-icon matSuffix>mode_edit</mat-icon>
        </mat-form-field>



        <!-- MaxAdminCpUserCreation Field -->
        <mat-form-field class="ntk-full-width">
          <mat-label>MaxAdminCpUserCreation</mat-label>
          <input matInput [(ngModel)]="dataConfigSiteAccessValuesDefaultModel.maxAdminCpUserCreation"
            name="dataConfigSiteAccessValuesDefaultModel.maxAdminCpUserCreation"
            #dataConfigSiteAccessValuesDefaultModel_MaxAdminCpUserCreation type="number" placeholder="0" />
          <mat-icon matSuffix *ngIf="dataConfigSiteAccessValuesDefaultModel.maxAdminCpUserCreation" matSuffix
            mat-icon-button aria-label="Clear"
            (click)="dataConfigSiteAccessValuesDefaultModel.maxAdminCpUserCreation = 0">close</mat-icon>
          <mat-icon matSuffix>mode_edit</mat-icon>

        </mat-form-field>

        <!-- MaxUserCreation Field -->
        <mat-form-field class="ntk-full-width">
          <mat-label>MaxUserCreation</mat-label>
          <input matInput [(ngModel)]="dataConfigSiteAccessValuesDefaultModel.maxUserCreation"
            name="dataConfigSiteAccessValuesDefaultModel.maxUserCreation"
            #dataConfigSiteAccessValuesDefaultModel_MaxUserCreation type="number" placeholder="0" />
          <mat-icon matSuffix *ngIf="dataConfigSiteAccessValuesDefaultModel.maxUserCreation" matSuffix mat-icon-button
            aria-label="Clear" (click)="dataConfigSiteAccessValuesDefaultModel.maxUserCreation = 0">close</mat-icon>
          <mat-icon matSuffix>mode_edit</mat-icon>

        </mat-form-field>




        <div *ngIf="tokenInfo.userAccessAdminAllowToProfessionalData">
          <div [innerHTML]="dataConfigSiteAccessValuesDefaultModel | prettyjson"></div>
        </div>
        <div *ngIf="formInfo.formSubmitAllow  && !loading.display" class="ntk-button-row">
          <button type="button" mat-raised-button color="accent" matStepperPrevious>
            {{'ACTION.BEFOR' | translate}}
          </button>

          <button type="button" mat-raised-button color="primary" [disabled]="!vform.form.valid" matStepperNext>
            {{'ACTION.NEXT' | translate}}
          </button>
          <button type="submit" mat-raised-button color="success" [disabled]="!vform.form.valid">
            {{'ACTION.SAVE' | translate}}
          </button>
        </div>
      </mat-step>
      <mat-step label="{{'TITLE.System_management_settings'|translate}}" state="main">
        <p>{{'TITLE.The_whole_system_management_settings_for_this_module'|translate}}</p>

        <!-- AccessBuy Field -->
        <div class="ntk-full-width">
          <mat-slide-toggle [(ngModel)]="dataConfigAdminMainModel.accessBuy" name="dataConfigAdminMainModel.accessBuy">
            AccessBuy
          </mat-slide-toggle>
        </div>
        <!-- ImageMainSizeWidth Field -->
        <mat-form-field class="ntk-full-width">
          <mat-label>ImageMainSizeWidth</mat-label>
          <input matInput [(ngModel)]="dataConfigAdminMainModel.imageMainSizeWidth"
            name="dataConfigAdminMainModel.imageMainSizeWidth" #dataConfigAdminMainModel_ImageMainSizeWidth
            type="number" placeholder="0" required />
          <mat-icon matSuffix *ngIf="dataConfigAdminMainModel.imageMainSizeWidth" matSuffix mat-icon-button
            aria-label="Clear" (click)="dataConfigAdminMainModel.imageMainSizeWidth = null">close</mat-icon>
          <mat-icon matSuffix>mode_edit</mat-icon>
          <mat-error *ngIf="dataConfigAdminMainModel_ImageMainSizeWidth.errors?.required">
            ImageMainSizeWidth is <strong>{{'MESSAGE.required' | translate}}</strong>
          </mat-error>
        </mat-form-field>
        <!-- ImageMainSizeHeight Field -->
        <mat-form-field class="ntk-full-width">
          <mat-label>ImageMainSizeHeight</mat-label>
          <input matInput [(ngModel)]="dataConfigAdminMainModel.imageMainSizeHeight"
            name="dataConfigAdminMainModel.imageMainSizeHeight" #dataConfigAdminMainModel_ImageMainSizeHeight
            type="number" placeholder="0" required />
          <mat-icon matSuffix *ngIf="dataConfigAdminMainModel.imageMainSizeHeight" matSuffix mat-icon-button
            aria-label="Clear" (click)="dataConfigAdminMainModel.imageMainSizeHeight = null">close</mat-icon>
          <mat-icon matSuffix>mode_edit</mat-icon>
          <mat-error *ngIf="dataConfigAdminMainModel_ImageMainSizeHeight.errors?.required">
            ImageMainSizeHeight is <strong>{{'MESSAGE.required' | translate}}</strong>
          </mat-error>
        </mat-form-field>



        <!-- ImageThumbnailSizeWidth Field -->
        <mat-form-field class="ntk-full-width">
          <mat-label>ImageThumbnailSizeWidth</mat-label>
          <input matInput [(ngModel)]="dataConfigAdminMainModel.imageThumbnailSizeWidth"
            name="dataConfigAdminMainModel.imageThumbnailSizeWidth" #dataConfigAdminMainModel_ImageThumbnailSizeWidth
            type="number" placeholder="0" required />
          <mat-icon matSuffix *ngIf="dataConfigAdminMainModel.imageThumbnailSizeWidth" matSuffix mat-icon-button
            aria-label="Clear" (click)="dataConfigAdminMainModel.imageThumbnailSizeWidth = null">close</mat-icon>
          <mat-icon matSuffix>mode_edit</mat-icon>
          <mat-error *ngIf="dataConfigAdminMainModel_ImageThumbnailSizeWidth.errors?.required">
            ImageThumbnailSizeWidth is <strong>{{'MESSAGE.required' | translate}}</strong>
          </mat-error>
        </mat-form-field>
        <!-- ImageThumbnailSizeHeight Field -->
        <mat-form-field class="ntk-full-width">
          <mat-label>ImageThumbnailSizeHeight</mat-label>
          <input matInput [(ngModel)]="dataConfigAdminMainModel.imageThumbnailSizeHeight"
            name="dataConfigAdminMainModel.imageThumbnailSizeHeight" #dataConfigAdminMainModel_ImageThumbnailSizeHeight
            type="number" placeholder="0" required />
          <mat-icon matSuffix *ngIf="dataConfigAdminMainModel.imageThumbnailSizeHeight" matSuffix mat-icon-button
            aria-label="Clear" (click)="dataConfigAdminMainModel.imageThumbnailSizeHeight = null">close</mat-icon>
          <mat-icon matSuffix>mode_edit</mat-icon>
          <mat-error *ngIf="dataConfigAdminMainModel_ImageThumbnailSizeHeight.errors?.required">
            ImageThumbnailSizeHeight is <strong>{{'MESSAGE.required' | translate}}</strong>
          </mat-error>
        </mat-form-field>
        <!-- AccessFree Field -->
        <div class="ntk-full-width">
          <mat-slide-toggle [(ngModel)]="dataConfigAdminMainModel.accessFree"
            name="dataConfigAdminMainModel.accessFree">
            AccessFree
          </mat-slide-toggle>
        </div>
        <!-- AccessFreeDay Field -->
        <mat-form-field class="ntk-full-width">
          <mat-label>AccessFreeDay</mat-label>
          <input matInput [(ngModel)]="dataConfigAdminMainModel.accessFreeDay"
            name="dataConfigAdminMainModel.accessFreeDay" #dataConfigAdminMainModel_AccessFreeDay type="number"
            placeholder="0" />
          <mat-icon matSuffix *ngIf="dataConfigAdminMainModel.accessFreeDay" matSuffix mat-icon-button
            aria-label="Clear" (click)="dataConfigAdminMainModel.accessFreeDay = null">close</mat-icon>
          <mat-icon matSuffix>mode_edit</mat-icon>

        </mat-form-field>



        <!-- DomainsList Field -->
        <mat-form-field class="ntk-full-width">
          <mat-label>DomainsList</mat-label>
          <textarea matInput [(ngModel)]="dataConfigAdminMainModel.domainsList"
            name="dataConfigAdminMainModel.domainsList" #dataConfigAdminMainModel_DomainsList type="number"
            rows="5"></textarea>
          <mat-icon matSuffix *ngIf="dataConfigAdminMainModel.domainsList" matSuffix mat-icon-button aria-label="Clear"
            (click)="dataConfigAdminMainModel.domainsList = null">close</mat-icon>
          <mat-icon matSuffix>mode_edit</mat-icon>

        </mat-form-field>

        <!-- AdminCpUserRegidteryBool Field -->
        <div class="ntk-full-width">
          <mat-slide-toggle [(ngModel)]="dataConfigAdminMainModel.adminCpUserRegidteryBool"
            name="dataConfigAdminMainModel.adminCpUserRegidteryBool">
            AdminCpUserRegidteryBool
          </mat-slide-toggle>
        </div>

        <!-- AdminCpUserRegidteryExpireDateDay Field -->
        <mat-form-field class="ntk-full-width">
          <mat-label>AdminCpUserRegidteryExpireDateDay</mat-label>
          <input matInput [(ngModel)]="dataConfigAdminMainModel.adminCpUserRegidteryExpireDateDay"
            name="dataConfigAdminMainModel.adminCpUserRegidteryExpireDateDay"
            #dataConfigAdminMainModel_AdminCpUserRegidteryExpireDateDay type="number" placeholder="0" />
          <mat-icon matSuffix *ngIf="dataConfigAdminMainModel.adminCpUserRegidteryExpireDateDay" matSuffix
            mat-icon-button aria-label="Clear"
            (click)="dataConfigAdminMainModel.adminCpUserRegidteryExpireDateDay = null">close</mat-icon>
          <mat-icon matSuffix>mode_edit</mat-icon>
        </mat-form-field>

        <!-- UserMembershipRuleHtmlBody Field -->
        {{'TITLE.User_Membership_Rules' | translate}} :
        <angular-editor [placeholder]="this.translate.instant('TITLE.Enter_the_text_of_the_user_membership_ruless')"
          [config]="publicHelper.editorConfig" id="maineditor"
          [(ngModel)]="dataConfigAdminMainModel.userMembershipRuleHtmlBody"
          name="dataConfigAdminMainModel.userMembershipRuleHtmlBody"></angular-editor>


        <div *ngIf="tokenInfo.userAccessAdminAllowToProfessionalData">
          <div [innerHTML]="dataConfigAdminMainModel | prettyjson"></div>
        </div>
        <div *ngIf="formInfo.formSubmitAllow  && !loading.display" class="ntk-button-row">
          <button type="button" mat-raised-button (click)="onActionBackToParent()">
            {{'ACTION.BACK' | translate}}
          </button>
          <button type="button" mat-raised-button color="accent" matStepperPrevious>
            {{'ACTION.BEFOR' | translate}}
          </button>
          <button type="submit" mat-raised-button color="success" [disabled]="!vform.form.valid">
            {{'ACTION.SAVE' | translate}}
          </button>
        </div>
      </mat-step>
    </mat-horizontal-stepper>

    <!--end:::::::::::::::::::::::::::::::::::::::::cms-body-->
  </div>
  <div class="ntk-cms-html-card-message">
    <!--begin:::::::::::::::::::::::::::::::::::::::::cms-message-->

    <!--end:::::::::::::::::::::::::::::::::::::::::cms-message-->
  </div>
  <div class="ntk-cms-html-card-footer">
    <!--begin:::::::::::::::::::::::::::::::::::::::::cms-footer-->

    <!--end:::::::::::::::::::::::::::::::::::::::::cms-footer-->
  </div>
</form>