<app-cms-html-notice [svg]="'assets/media/svg/icons/Tools/Compass.svg'">
    {{'TITLE.This_section_guides_you_in_completing_and_correcting_information' | translate}}
</app-cms-html-notice>
<div class="example-container mat-elevation-z8">
    <app-progress-spinner [options]="loading">
    </app-progress-spinner>
    <mat-table [dataSource]="tableSource" >
          <!-- Warrning Column -->
          <ng-container matColumnDef="Accepted">
            <mat-header-cell *matHeaderCellDef > {{'TITLE.Accepted' | translate}} </mat-header-cell>
            <mat-cell *matCellDef="let row">  <i [ngClass]="row.accepted|boolclass"></i> </mat-cell>
        </ng-container>
        <!-- Title Column -->
        <ng-container matColumnDef="Title">
            <mat-header-cell *matHeaderCellDef > {{'TITLE.title' | translate}} </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.title}} </mat-cell>
        </ng-container>
        <!-- Description Column -->
        <ng-container matColumnDef="Description">
            <mat-header-cell *matHeaderCellDef > {{'TITLE.Description' | translate}} </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.description}} </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="tabledisplayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: tabledisplayedColumns;" >
        </mat-row>
      </mat-table>
</div>