<form (ngSubmit)="onFormSubmit()" #vform="ngForm">
  <div class="ntk-cms-html-card-header">
    <!--begin:::::::::::::::::::::::::::::::::::::::::cms-header-->
      {{ formInfo.formTitle }}
    <!--end:::::::::::::::::::::::::::::::::::::::::cms-header-->
  </div>
  <div class="ntk-cms-html-card-body">
    <app-progress-spinner [options]="loading"> </app-progress-spinner>
    <!--begin:::::::::::::::::::::::::::::::::::::::::cms-body-->
    <mat-horizontal-stepper (selectionChange)="onStepClick($event,stepper)" #stepper>

      <mat-step label="{{'TITLE.REQUIRED_INFORMATION' | translate}}" state="main">
        <!-- RecordStatus Field -->
        <mat-form-field class="ntk-full-width" *ngIf="fieldsInfo['RecordStatus']?.accessWatchField">
          <mat-select placeholder="{{fieldsInfo['RecordStatus']?.fieldTitle}}" [(ngModel)]="dataModel.recordStatus"
            [disabled]="!fieldsInfo['RecordStatus']?.accessEditField" name="dataModel.recordStatus"
            #RecordStatus="ngModel" panelClass="recordStatus-{{ dataModel.recordStatus }}" required>
            <mat-option *ngFor="
                let item of dataModelEnumRecordStatusResult.listItems;
                index as i
              " [value]="item.value">{{ item.description }}</mat-option>
          </mat-select>
          <mat-hint style="text-align: left;">{{ 'Application.source.recordStatus_hint' | translate }}</mat-hint>
          <mat-error *ngIf="RecordStatus.errors?.required">
            {{ fieldsInfo['RecordStatus']?.fieldTitle }} is <strong>{{'MESSAGE.required' | translate}}</strong>
          </mat-error>
        </mat-form-field>

        <!-- Title Field -->
        <mat-form-field class="ntk-full-width" *ngIf="fieldsInfo['Title']?.accessWatchField">
          <mat-label>{{ fieldsInfo['Title']?.fieldTitle }}</mat-label>
          <input matInput [(ngModel)]="dataModel.title" [disabled]="!fieldsInfo['Title']?.accessEditField"
            name="dataModel.title" #Title type="text" placeholder="{{fieldsInfo['Title']?.fieldTitle}}" minlength="3"
            maxlength="100" required />
          <mat-icon matSuffix *ngIf="dataModel.title && fieldsInfo['Title']?.accessEditField" matSuffix mat-icon-button
            aria-label="Clear" (click)="dataModel.title = ''">close</mat-icon>
          <mat-icon *ngIf="fieldsInfo['Title']?.accessEditField" matSuffix>mode_edit</mat-icon>
          <mat-hint style="text-align: left;">{{ Title.value.length }} / 100</mat-hint>
          <mat-error *ngIf="Title.errors?.required">
            {{ fieldsInfo['Title']?.fieldTitle }} is <strong>{{'MESSAGE.required' | translate}}</strong>
          </mat-error>
        </mat-form-field>
        <!-- TitleResourceLanguage Field -->
        <mat-form-field class="ntk-full-width" *ngIf="fieldsInfo['TitleResourceLanguage']?.accessWatchField">
          <mat-label> {{fieldsInfo['TitleResourceLanguage']?.fieldTitle}}</mat-label>
          <input matInput [(ngModel)]="dataModel.titleResourceLanguage" name="dataModel.titleResourceLanguage"
            #TitleResourceLanguage type="text" [disabled]="!fieldsInfo['TitleResourceLanguage']?.accessEditField"
            placeholder="{{fieldsInfo['TitleResourceLanguage']?.fieldTitle}}" minlength="3" maxlength="100" required />
          <mat-icon matSuffix *ngIf="dataModel.titleResourceLanguage" matSuffix mat-icon-button aria-label="Clear"
            (click)="dataModel.titleResourceLanguage = ''">close</mat-icon>
          <mat-icon matSuffix>mode_edit</mat-icon>
          <mat-hint style="text-align: left;">{{ TitleResourceLanguage.value.length }} / 100</mat-hint>
          <mat-error *ngIf="TitleResourceLanguage.errors?.required">
            TitleResourceLanguage is <strong>{{'MESSAGE.required' | translate}}</strong>
          </mat-error>
        </mat-form-field>
        <!-- OSType Field -->
        <mat-form-field class="ntk-full-width" *ngIf="fieldsInfo['OSType']?.accessWatchField">
          <mat-select placeholder="{{fieldsInfo['OSType']?.fieldTitle}}" [(ngModel)]="dataModel.oSType"
            name="dataModel.oSType" #OSType="ngModel" required>
            <mat-option *ngFor="
                        let item of dataModelEnumOsTypeResult.listItems;
                        index as i
                      " [value]="item.value">{{ item.description }}</mat-option>
          </mat-select>
          <mat-hint style="text-align: left;">{{ 'Application.source.OSType_hint' | translate }}</mat-hint>
          <mat-error *ngIf="OSType.errors?.required">
            {{ fieldsInfo['OSType']?.fieldTitle }} is <strong>{{'MESSAGE.required' | translate}}</strong>
          </mat-error>
        </mat-form-field>
        <!-- ClassName Field -->
        <mat-form-field class="ntk-full-width" *ngIf="fieldsInfo['ClassName']?.accessWatchField">
          <mat-label>{{fieldsInfo['ClassName']?.fieldTitle}}</mat-label>
          <input matInput [(ngModel)]="dataModel.className" [disabled]="!fieldsInfo['ClassName']?.accessEditField"
            name="dataModel.className" #ClassName type="text" placeholder="{{fieldsInfo['Title']?.fieldTitle}}"
            minlength="3" maxlength="100" required />
          <mat-icon matSuffix *ngIf="dataModel.className && fieldsInfo['ClassName']?.accessEditField" matSuffix
            mat-icon-button aria-label="Clear" (click)="dataModel.className = ''">close</mat-icon>
          <mat-icon *ngIf="fieldsInfo['ClassName']?.accessEditField" matSuffix>mode_edit</mat-icon>
          <mat-hint style="text-align: left;">{{ ClassName.value.length }} / 100</mat-hint>
          <mat-error *ngIf="ClassName.errors?.required">
            ClassName is <strong>{{'MESSAGE.required' | translate}}</strong>
          </mat-error>
        </mat-form-field>
        <!-- PackageName Field -->
        <mat-form-field class="ntk-full-width" *ngIf="fieldsInfo['PackageName']?.accessWatchField">
          <mat-label>{{fieldsInfo['PackageName']?.fieldTitle}}</mat-label>
          <input matInput [(ngModel)]="dataModel.packageName" [disabled]="!fieldsInfo['PackageName']?.accessEditField"
            name="dataModel.packageName" #PackageName type="text" placeholder="{{fieldsInfo['Title']?.fieldTitle}}"
            minlength="3" maxlength="100" required />
          <mat-icon matSuffix *ngIf="dataModel.packageName && fieldsInfo['PackageName']?.accessEditField" matSuffix
            mat-icon-button aria-label="Clear" (click)="dataModel.packageName = ''">close</mat-icon>
          <mat-icon *ngIf="fieldsInfo['PackageName']?.accessEditField" matSuffix>mode_edit</mat-icon>
          <mat-hint style="text-align: left;">{{ PackageName.value.length }} / 100</mat-hint>
          <mat-error *ngIf="PackageName.errors?.required">
            PackageName is <strong>{{'MESSAGE.required' | translate}}</strong>
          </mat-error>
        </mat-form-field>

        <!-- Extension Field -->
        <mat-form-field class="ntk-full-width" *ngIf="fieldsInfo['Extension']?.accessWatchField">
          <mat-label>{{fieldsInfo['Extension']?.fieldTitle}}</mat-label>
          <input matInput [(ngModel)]="dataModel.extension" [disabled]="!fieldsInfo['Extension']?.accessEditField"
            name="dataModel.extension" #Extension type="text" placeholder="exe" minlength="1" maxlength="10" required />
          <mat-icon matSuffix *ngIf="dataModel.extension && fieldsInfo['Extension']?.accessEditField" matSuffix
            mat-icon-button aria-label="Clear" (click)="dataModel.extension = ''">close</mat-icon>
          <mat-icon *ngIf="fieldsInfo['Extension']?.accessEditField" matSuffix>mode_edit</mat-icon>
          <mat-hint *ngIf="fieldsInfo['Extension']?.accessEditField" style="text-align: left;">{{ Extension.value.length }} / 10
          </mat-hint>
          <mat-error *ngIf="Extension.errors?.required">
            Extension is <strong>{{'MESSAGE.required' | translate}}</strong>
          </mat-error>
        </mat-form-field>
        <!-- ExtensionUpdateFile Field -->
        <mat-form-field class="ntk-full-width" *ngIf="fieldsInfo['ExtensionUpdateFile']?.accessWatchField">
          <mat-label>{{fieldsInfo['ExtensionUpdateFile']?.fieldTitle}}</mat-label>
          <input matInput [(ngModel)]="dataModel.extensionUpdateFile"
            [disabled]="!fieldsInfo['ExtensionUpdateFile']?.accessEditField" name="dataModel.extensionUpdateFile"
            #ExtensionUpdateFile type="text" placeholder="zip" minlength="1" maxlength="10" required />
          <mat-icon matSuffix
            *ngIf="dataModel.extensionUpdateFile && fieldsInfo['ExtensionUpdateFile']?.accessEditField" matSuffix
            mat-icon-button aria-label="Clear" (click)="dataModel.extensionUpdateFile = ''">close</mat-icon>
          <mat-icon *ngIf="fieldsInfo['ExtensionUpdateFile']?.accessEditField" matSuffix>mode_edit</mat-icon>
          <mat-hint style="text-align: left;">{{ ExtensionUpdateFile.value.length }} / 10</mat-hint>
          <mat-error *ngIf="ExtensionUpdateFile.errors?.required">
            Extension Update File is <strong>{{'MESSAGE.required' | translate}}</strong>
          </mat-error>
        </mat-form-field>



        <div *ngIf="formInfo.formSubmitAllow  && !loading.display" class="ntk-button-row">
          <button type="button" mat-raised-button (click)="onActionBackToParent()">
            {{'ACTION.BACK' | translate}}
          </button>
          <button type="button" mat-raised-button color="primary" [disabled]="!vform.form.valid" matStepperNext>
            {{'ACTION.NEXT' | translate}}
          </button>
        </div>
      </mat-step>

      <mat-step label="{{'TITLE.Build_Settings' | translate}}" state="seo">
        <p>{{'TITLE.Select_App_Build_And_Update_Settings' | translate}}</p>

        <!-- DefaultAppId Field -->
        <mat-form-field class="ntk-full-width" *ngIf="fieldsInfo['DefaultAppId']?.accessWatchField">
          <mat-label>{{fieldsInfo['DefaultAppId']?.fieldTitle}}</mat-label>
          <input matInput [(ngModel)]="dataModel.defaultAppId" [disabled]="!fieldsInfo['DefaultAppId']?.accessEditField"
            name="dataModel.defaultAppId" #DefaultAppId type="number" placeholder="پش فرض" />
          <mat-icon matSuffix *ngIf="dataModel.defaultAppId && fieldsInfo['DefaultAppId']?.accessEditField" matSuffix
            mat-icon-button aria-label="Clear" (click)="dataModel.defaultAppId = null">close</mat-icon>
          <mat-icon *ngIf="fieldsInfo['DefaultAppId']?.accessEditField" matSuffix>mode_edit</mat-icon>
        </mat-form-field>
        <!-- IsPublish Field -->
        <div class="ntk-full-width">
          <mat-slide-toggle [(ngModel)]="dataModel.isPublish" *ngIf="fieldsInfo['IsPublish']?.accessWatchField"
            [disabled]="!fieldsInfo['IsPublish']?.accessEditField" name="dataModel.isPublish">
            {{fieldsInfo['IsPublish']?.fieldTitle}}
          </mat-slide-toggle>
        </div>
        <!-- ForceUpdate Field -->
        <div class="ntk-full-width">
          <mat-slide-toggle [(ngModel)]="dataModel.forceUpdate" *ngIf="fieldsInfo['ForceUpdate']?.accessWatchField"
            [disabled]="!fieldsInfo['ForceUpdate']?.accessEditField" name="dataModel.forceUpdate">
            {{fieldsInfo['ForceUpdate']?.fieldTitle}}
          </mat-slide-toggle>
        </div>
        <!-- UpdateSourceByGit Field -->
        <div class="ntk-full-width">
          <mat-slide-toggle [(ngModel)]="dataModel.updateSourceByGit"
            *ngIf="fieldsInfo['UpdateSourceByGit']?.accessWatchField"
            [disabled]="!fieldsInfo['UpdateSourceByGit']?.accessEditField" name="dataModel.updateSourceByGit">
            {{fieldsInfo['UpdateSourceByGit']?.fieldTitle}}
          </mat-slide-toggle>
        </div>
        <!-- IsAbilityGradleBuild Field -->
        <div class="ntk-full-width">
          <mat-slide-toggle [(ngModel)]="dataModel.isAbilityGradleBuild"
            *ngIf="fieldsInfo['IsAbilityGradleBuild']?.accessWatchField"
            [disabled]="!fieldsInfo['IsAbilityGradleBuild']?.accessEditField" name="dataModel.isAbilityGradleBuild">
            {{fieldsInfo['IsAbilityGradleBuild']?.fieldTitle}}
          </mat-slide-toggle>
        </div>
        <!-- SourceNameGit Field -->
        <mat-form-field class="ntk-full-width" *ngIf="fieldsInfo['SourceNameGit']?.accessWatchField">
          <mat-label>{{fieldsInfo['SourceNameGit']?.fieldTitle}}</mat-label>
          <input matInput [(ngModel)]="dataModel.sourceNameGit"
            [disabled]="!fieldsInfo['SourceNameGit']?.accessEditField" name="dataModel.sourceNameGit" #SourceNameGit
            type="text" placeholder="{{fieldsInfo['Title']?.fieldTitle}}" minlength="0" maxlength="100" />
          <mat-icon matSuffix *ngIf="dataModel.sourceNameGit && fieldsInfo['SourceNameGit']?.accessEditField" matSuffix
            mat-icon-button aria-label="Clear" (click)="dataModel.sourceNameGit = ''">close</mat-icon>
          <mat-icon *ngIf="fieldsInfo['SourceNameGit']?.accessEditField" matSuffix>mode_edit</mat-icon>
          <mat-hint style="text-align: left;">{{ SourceNameGit.value.length }} / 100</mat-hint>
        </mat-form-field>

        <!-- FireBaseServerKey Field -->
        <mat-form-field class="ntk-full-width" *ngIf="fieldsInfo['FireBaseServerKey']?.accessWatchField">
          <mat-label>{{fieldsInfo['FireBaseServerKey']?.fieldTitle}}</mat-label>
          <textarea matInput [(ngModel)]="dataModel.fireBaseServerKey"
            [disabled]="!fieldsInfo['FireBaseServerKey']?.accessEditField" name="dataModel.fireBaseServerKey"
            #FireBaseServerKey type="text" placeholder="{{fieldsInfo['Title']?.fieldTitle}}" rows="5"></textarea>
          <mat-icon matSuffix *ngIf="dataModel.fireBaseServerKey && fieldsInfo['FireBaseServerKey']?.accessEditField"
            matSuffix mat-icon-button aria-label="Clear" (click)="dataModel.fireBaseServerKey = ''">close</mat-icon>
          <mat-icon *ngIf="fieldsInfo['FireBaseServerKey']?.accessEditField" matSuffix>mode_edit</mat-icon>
        </mat-form-field>

        <div *ngIf="formInfo.formSubmitAllow  && !loading.display" class="ntk-button-row">
          <button type="button" mat-raised-button color="accent" matStepperPrevious>
            {{'ACTION.BEFOR' | translate}}
          </button>
          <button type="button" mat-raised-button color="primary" [disabled]="!vform.form.valid" matStepperNext>
            {{'ACTION.NEXT' | translate}}
          </button>
        </div>
      </mat-step>
      <mat-step label="{{'TITLE.ATTACH_FILES' | translate}}" state="file">
        <p>عکس از اپلیکیشن.</p>
        <div class="mb-3">
          <img *ngIf="dataModel?.linkMainImageIdSrc?.length>0" style="vertical-align:middle;" class="ntk-hover-zoom" aria-hidden
            src="{{dataModel.linkMainImageIdSrc | cmsthumbnail}}"  height="50" width="50" />
        </div>
        <div class="mb-9">
          <mat-form-field class="ntk-full-width" *ngIf="fieldsInfo['LinkMainImageId']?.accessWatchField">

            <mat-label (click)="fileManagerOpenForm = true">{{fieldsInfo['LinkMainImageId']?.fieldTitle}}</mat-label>
            <input matInput [(ngModel)]="dataModel.linkMainImageId"
              [disabled]="!fieldsInfo['LinkMainImageId']?.accessEditField" name="dataModel.linkMainImageId"
              #LinkMainImageId type="text" placeholder="{{'TITLE.Original_File_ID' | translate}}" autocomplete="off"
              (click)="fileManagerOpenForm = true" />
            <mat-icon matSuffix *ngIf="dataModel.linkMainImageId && fieldsInfo['LinkMainImageId']?.accessEditField"
              matSuffix mat-icon-button aria-label="Clear" (click)="dataModel.linkMainImageId = null">close</mat-icon>
            <mat-icon *ngIf="fieldsInfo['LinkMainImageId']?.accessEditField" matSuffix
              (click)="fileManagerOpenForm = true">mode_edit</mat-icon>
          </mat-form-field>

          <cms-file-manager (itemSelected)="onActionFileSelectedLinkMainImageId($event)" [language]="appLanguage"
            [isPopup]="true" [(openForm)]="fileManagerOpenForm" [tree]="fileManagerTree" [openDirectUploadView]="true"
            [openFilemanagerButtonLabelKey]="'select'" [selectFileType]="selectFileTypeMainImage"
            [openFilemanagerButtonView]="false"></cms-file-manager>
        </div>

        <div *ngIf="formInfo.formSubmitAllow  && !loading.display" class="ntk-button-row">
          <button type="button" mat-raised-button color="accent" matStepperPrevious>
            {{'ACTION.BEFOR' | translate}}
          </button>
          <button type="button" mat-raised-button color="primary" [disabled]="!vform.form.valid" matStepperNext>
            {{'ACTION.NEXT' | translate}}
          </button>
        </div>
      </mat-step>

      <mat-step label="{{'TITLE.Config_Template_and_Build' | translate}}" state="otherinfo">
        <p>{{'TITLE.Total_management_default_settings_in_build' | translate}}</p>

        در سایت ها با دسته بندی زیر قالب بکار گیری باشد:
        <br>
        <app-cms-sitecategory-selectionlist [optionSelectForce]="dataCoreSiteCategoryIds" [optionDisabled]="false"
          (optionChange)="onActionSelectorUserCategorySelect($event)"
          (optionSelectAdded)="onActionSelectorUserCategorySelectAdded($event)"
          (optionSelectRemoved)="onActionSelectorUserCategorySelectRemoved($event)">
        </app-cms-sitecategory-selectionlist>

        <hr>
        <mat-form-field class="ntk-full-width"
          *ngIf="fieldsInfo['DefaultConfigBuilderAdminJsonValues']?.accessWatchField">
          <mat-label>{{fieldsInfo['DefaultConfigBuilderAdminJsonValues']?.fieldTitle}}</mat-label>
          <textarea matInput [(ngModel)]="dataModel.defaultConfigBuilderAdminJsonValues"
            [disabled]="!fieldsInfo['DefaultConfigBuilderAdminJsonValues']?.accessEditField"
            name="dataModel.defaultConfigBuilderAdminJsonValues" #DefaultConfigBuilderAdminJsonValues type="text"
            placeholder="{{fieldsInfo['Title']?.fieldTitle}}" rows="5"></textarea>
          <mat-icon matSuffix *ngIf="dataModel.defaultConfigBuilderAdminJsonValues" matSuffix mat-icon-button
            aria-label="Clear" (click)="dataModel.defaultConfigBuilderAdminJsonValues = ''">close</mat-icon>
          <mat-icon matSuffix>mode_edit</mat-icon>
        </mat-form-field>
        <mat-form-field class="ntk-full-width"
          *ngIf="fieldsInfo['DefaultConfigRuntimeAdminJsonValues']?.accessWatchField">
          <mat-label>{{fieldsInfo['DefaultConfigRuntimeAdminJsonValues']?.fieldTitle}}</mat-label>
          <textarea matInput [(ngModel)]="dataModel.defaultConfigRuntimeAdminJsonValues"
            [disabled]="!fieldsInfo['DefaultConfigRuntimeAdminJsonValues']?.accessEditField"
            name="dataModel.defaultConfigRuntimeAdminJsonValues" #DefaultConfigRuntimeAdminJsonValues type="text"
            placeholder="{{fieldsInfo['Title']?.fieldTitle}}" rows="5"></textarea>
          <mat-icon matSuffix *ngIf="dataModel.defaultConfigRuntimeAdminJsonValues" matSuffix mat-icon-button
            aria-label="Clear" (click)="dataModel.defaultConfigRuntimeAdminJsonValues = ''">close</mat-icon>
          <mat-icon matSuffix>mode_edit</mat-icon>
        </mat-form-field>
        <mat-form-field class="ntk-full-width"
          *ngIf="fieldsInfo['DefaultConfigBuilderSiteJsonValues']?.accessWatchField">
          <mat-label>{{fieldsInfo['DefaultConfigBuilderSiteJsonValues']?.fieldTitle}}</mat-label>
          <textarea matInput [(ngModel)]="dataModel.defaultConfigBuilderSiteJsonValues"
            [disabled]="!fieldsInfo['DefaultConfigBuilderSiteJsonValues']?.accessEditField"
            name="dataModel.defaultConfigBuilderSiteJsonValues" #DefaultConfigBuilderSiteJsonValues type="text"
            placeholder="{{fieldsInfo['Title']?.fieldTitle}}" rows="5"></textarea>
          <mat-icon matSuffix *ngIf="dataModel.defaultConfigBuilderSiteJsonValues" matSuffix mat-icon-button
            aria-label="Clear" (click)="dataModel.defaultConfigBuilderSiteJsonValues = ''">close</mat-icon>
          <mat-icon matSuffix>mode_edit</mat-icon>
        </mat-form-field>
        <mat-form-field class="ntk-full-width"
          *ngIf="fieldsInfo['DefaultConfigRuntimeSiteJsonValues']?.accessWatchField">
          <mat-label>{{fieldsInfo['DefaultConfigRuntimeSiteJsonValues']?.fieldTitle}}</mat-label>
          <textarea matInput [(ngModel)]="dataModel.defaultConfigRuntimeSiteJsonValues"
            [disabled]="!fieldsInfo['DefaultConfigRuntimeSiteJsonValues']?.accessEditField"
            name="dataModel.defaultConfigRuntimeSiteJsonValues" #DefaultConfigRuntimeSiteJsonValues type="text"
            placeholder="{{fieldsInfo['Title']?.fieldTitle}}" rows="5"></textarea>
          <mat-icon matSuffix *ngIf="dataModel.defaultConfigRuntimeSiteJsonValues" matSuffix mat-icon-button
            aria-label="Clear" (click)="dataModel.defaultConfigRuntimeSiteJsonValues = ''">close</mat-icon>
          <mat-icon matSuffix>mode_edit</mat-icon>
        </mat-form-field>








        <table class="ntk-full-width" cellspacing="0">

          <tr>
            <td>
              <mat-form-field class="ntk-full-width" *ngIf="fieldsInfo['BuildKey1String']?.accessWatchField">
                <mat-label>{{fieldsInfo['BuildKey1String']?.fieldTitle}}</mat-label>
                <input matInput [(ngModel)]="dataModel.buildKey1String"
                  [disabled]="!fieldsInfo['BuildKey1String']?.accessEditField" name="dataModel.buildKey1String"
                  #BuildKey1String type="text" placeholder="KEY" minlength="0" maxlength="1000" />
                <mat-hint style="text-align: left;">{{ BuildKey1String.value.length }} / 1000</mat-hint>
              </mat-form-field>
            </td>
            <td>
              <mat-form-field class="ntk-full-width" *ngIf="fieldsInfo['BuildKey1Value']?.accessWatchField">
                <mat-label>{{fieldsInfo['BuildKey1Value']?.fieldTitle}}</mat-label>
                <input matInput [(ngModel)]="dataModel.buildKey1Value"
                  [disabled]="!fieldsInfo['BuildKey1Value']?.accessEditField" name="dataModel.buildKey1Value"
                  #BuildKey1Value type="text" placeholder="Value" minlength="0" maxlength="1000" />
                <mat-hint style="text-align: left;">{{ BuildKey1Value.value.length }} / 1000</mat-hint>
              </mat-form-field>
            </td>
          </tr>


          <tr>
            <td>
              <mat-form-field class="ntk-full-width" *ngIf="fieldsInfo['BuildKey2String']?.accessWatchField">
                <mat-label>{{fieldsInfo['BuildKey2String']?.fieldTitle}}</mat-label>
                <input matInput [(ngModel)]="dataModel.buildKey2String"
                  [disabled]="!fieldsInfo['BuildKey2String']?.accessEditField" name="dataModel.buildKey2String"
                  #BuildKey2String type="text" placeholder="KEY" minlength="0" maxlength="1000" />
                <mat-hint style="text-align: left;">{{ BuildKey2String.value.length }} / 1000</mat-hint>
              </mat-form-field>
            </td>
            <td>
              <mat-form-field class="ntk-full-width" *ngIf="fieldsInfo['BuildKey2Value']?.accessWatchField">
                <mat-label>{{fieldsInfo['BuildKey2Value']?.fieldTitle}}</mat-label>
                <input matInput [(ngModel)]="dataModel.buildKey2Value"
                  [disabled]="!fieldsInfo['BuildKey2Value']?.accessEditField" name="dataModel.buildKey2Value"
                  #BuildKey2Value type="text" placeholder="Value" minlength="0" maxlength="1000" />
                <mat-hint style="text-align: left;">{{ BuildKey2Value.value.length }} / 1000</mat-hint>
              </mat-form-field>
            </td>
          </tr>



          <tr>
            <td>
              <mat-form-field class="ntk-full-width" *ngIf="fieldsInfo['BuildKey3String']?.accessWatchField">
                <mat-label>{{fieldsInfo['BuildKey3String']?.fieldTitle}}</mat-label>
                <input matInput [(ngModel)]="dataModel.buildKey3String"
                  [disabled]="!fieldsInfo['BuildKey3String']?.accessEditField" name="dataModel.buildKey3String"
                  #BuildKey3String type="text" placeholder="KEY" minlength="0" maxlength="1000" />
                <mat-hint style="text-align: left;">{{ BuildKey3String.value.length }} / 1000</mat-hint>
              </mat-form-field>
            </td>
            <td>
              <mat-form-field class="ntk-full-width" *ngIf="fieldsInfo['BuildKey3Value']?.accessWatchField">
                <mat-label>{{fieldsInfo['BuildKey3Value']?.fieldTitle}}</mat-label>
                <input matInput [(ngModel)]="dataModel.buildKey3Value"
                  [disabled]="!fieldsInfo['BuildKey3Value']?.accessEditField" name="dataModel.buildKey3Value"
                  #BuildKey3Value type="text" placeholder="Value" minlength="0" maxlength="1000" />
                <mat-hint style="text-align: left;">{{ BuildKey3Value.value.length }} / 1000</mat-hint>
              </mat-form-field>
            </td>
          </tr>


          <tr>
            <td>
              <mat-form-field class="ntk-full-width" *ngIf="fieldsInfo['BuildKey4String']?.accessWatchField">
                <mat-label>{{fieldsInfo['BuildKey4String']?.fieldTitle}}</mat-label>
                <input matInput [(ngModel)]="dataModel.buildKey4String"
                  [disabled]="!fieldsInfo['BuildKey4String']?.accessEditField" name="dataModel.buildKey4String"
                  #BuildKey4String type="text" placeholder="KEY" minlength="0" maxlength="1000" />
                <mat-hint style="text-align: left;">{{ BuildKey4String.value.length }} / 1000</mat-hint>
              </mat-form-field>
            </td>
            <td>
              <mat-form-field class="ntk-full-width" *ngIf="fieldsInfo['BuildKey4Value']?.accessWatchField">
                <mat-label>{{fieldsInfo['BuildKey4Value']?.fieldTitle}}</mat-label>
                <input matInput [(ngModel)]="dataModel.buildKey4Value"
                  [disabled]="!fieldsInfo['BuildKey4Value']?.accessEditField" name="dataModel.buildKey4Value"
                  #BuildKey4Value type="text" placeholder="Value" minlength="0" maxlength="1000" />
                <mat-hint style="text-align: left;">{{ BuildKey4Value.value.length }} / 1000</mat-hint>
              </mat-form-field>
            </td>
          </tr>



          <tr>
            <td>
              <mat-form-field class="ntk-full-width" *ngIf="fieldsInfo['BuildKey5String']?.accessWatchField">
                <mat-label>{{fieldsInfo['BuildKey5String']?.fieldTitle}}</mat-label>
                <input matInput [(ngModel)]="dataModel.buildKey5String"
                  [disabled]="!fieldsInfo['BuildKey5String']?.accessEditField" name="dataModel.buildKey5String"
                  #BuildKey5String type="text" placeholder="KEY" minlength="0" maxlength="1000" />
                <mat-hint style="text-align: left;">{{ BuildKey5String.value.length }} / 1000</mat-hint>
              </mat-form-field>
            </td>
            <td>
              <mat-form-field class="ntk-full-width" *ngIf="fieldsInfo['BuildKey5Value']?.accessWatchField">
                <mat-label>{{fieldsInfo['BuildKey5Value']?.fieldTitle}}</mat-label>
                <input matInput [(ngModel)]="dataModel.buildKey5Value"
                  [disabled]="!fieldsInfo['BuildKey5Value']?.accessEditField" name="dataModel.buildKey5Value"
                  #BuildKey5Value type="text" placeholder="Value" minlength="0" maxlength="1000" />
                <mat-hint style="text-align: left;">{{ BuildKey5Value.value.length }} / 1000</mat-hint>
              </mat-form-field>
            </td>
          </tr>



        </table>














        <div *ngIf="formInfo.formSubmitAllow  && !loading.display" class="ntk-button-row">
          <button type="button" mat-raised-button color="accent" matStepperPrevious>
            {{'ACTION.BEFOR' | translate}}
          </button>
          <button type="button" mat-raised-button color="primary" [disabled]="!vform.form.valid" matStepperNext>
            {{'ACTION.NEXT' | translate}}
          </button>
        </div>
      </mat-step>

      <mat-step label="{{'TITLE.Report' | translate}}" state="loaction">
        <p>{{'TITLE.Latest_Status_Report' | translate}}</p>
        <mat-form-field class="ntk-full-width" *ngIf="fieldsInfo['LastSuccessfullyBuildDate']?.accessWatchField">
          <mat-label>{{fieldsInfo['LastSuccessfullyBuildDate']?.fieldTitle}}</mat-label>
          <textarea matInput [(ngModel)]="dataModel.lastSuccessfullyBuildDate"
            [disabled]="!fieldsInfo['LastSuccessfullyBuildDate']?.accessEditField"
            name="dataModel.lastSuccessfullyBuildDate" #LastSuccessfullyBuildDate type="text"
            placeholder="{{fieldsInfo['Title']?.fieldTitle}}" rows="5"></textarea>
          <mat-icon matSuffix *ngIf="dataModel.lastSuccessfullyBuildDate" matSuffix mat-icon-button aria-label="Clear"
            (click)="dataModel.lastSuccessfullyBuildDate = ''">close</mat-icon>
          <mat-icon matSuffix>mode_edit</mat-icon>
        </mat-form-field>


        <mat-form-field class="ntk-full-width" *ngIf="fieldsInfo['LastBuildCommandDate']?.accessWatchField">
          <mat-label>{{fieldsInfo['LastBuildCommandDate']?.fieldTitle}}</mat-label>
          <textarea matInput [(ngModel)]="dataModel.lastBuildCommandDate"
            [disabled]="!fieldsInfo['LastBuildCommandDate']?.accessEditField" name="dataModel.lastBuildCommandDate"
            #LastBuildCommandDate type="text" placeholder="{{fieldsInfo['Title']?.fieldTitle}}" rows="5"></textarea>
          <mat-icon matSuffix *ngIf="dataModel.lastBuildCommandDate" matSuffix mat-icon-button aria-label="Clear"
            (click)="dataModel.lastBuildCommandDate = ''">close</mat-icon>
          <mat-icon matSuffix>mode_edit</mat-icon>
        </mat-form-field>

        <mat-form-field class="ntk-full-width" *ngIf="fieldsInfo['LastBuildCommandBy']?.accessWatchField">
          <mat-label>{{fieldsInfo['LastBuildCommandBy']?.fieldTitle}}</mat-label>
          <textarea matInput [(ngModel)]="dataModel.lastBuildCommandBy"
            [disabled]="!fieldsInfo['LastBuildCommandBy']?.accessEditField" name="dataModel.lastBuildCommandBy"
            #LastBuildCommandBy type="text" placeholder="{{fieldsInfo['Title']?.fieldTitle}}" rows="5"></textarea>
          <mat-icon matSuffix *ngIf="dataModel.lastBuildCommandBy" matSuffix mat-icon-button aria-label="Clear"
            (click)="dataModel.lastBuildCommandBy = ''">close</mat-icon>
          <mat-icon matSuffix>mode_edit</mat-icon>
        </mat-form-field>



        <mat-form-field class="ntk-full-width" *ngIf="fieldsInfo['LastBuildCommandDate']?.accessWatchField">
          <mat-label>{{fieldsInfo['LastBuildCommandDate']?.fieldTitle}}</mat-label>
          <textarea matInput [(ngModel)]="dataModel.lastBuildCommandDate"
            [disabled]="!fieldsInfo['LastBuildCommandDate']?.accessEditField" name="dataModel.lastBuildCommandDate"
            #LastBuildCommandDate type="text" placeholder="{{fieldsInfo['Title']?.fieldTitle}}" rows="5"></textarea>
          <mat-icon matSuffix *ngIf="dataModel.lastBuildCommandDate" matSuffix mat-icon-button aria-label="Clear"
            (click)="dataModel.lastBuildCommandDate = ''">close</mat-icon>
          <mat-icon matSuffix>mode_edit</mat-icon>
        </mat-form-field>


        <mat-form-field class="ntk-full-width" *ngIf="fieldsInfo['LastBuildCommandBy']?.accessWatchField">
          <mat-label>{{fieldsInfo['LastBuildCommandBy']?.fieldTitle}}</mat-label>
          <textarea matInput [(ngModel)]="dataModel.lastBuildCommandBy"
            [disabled]="!fieldsInfo['LastBuildCommandBy']?.accessEditField" name="dataModel.lastBuildCommandBy"
            #LastBuildCommandBy type="text" placeholder="{{fieldsInfo['Title']?.fieldTitle}}" rows="5"></textarea>
          <mat-icon matSuffix *ngIf="dataModel.lastBuildCommandBy" matSuffix mat-icon-button aria-label="Clear"
            (click)="dataModel.lastBuildCommandBy = ''">close</mat-icon>
          <mat-icon matSuffix>mode_edit</mat-icon>
        </mat-form-field>


        <mat-form-field class="ntk-full-width" *ngIf="fieldsInfo['LastUnsuccessfullyBuildErrorDate']?.accessWatchField">
          <mat-label>{{fieldsInfo['LastUnsuccessfullyBuildErrorDate']?.fieldTitle}}</mat-label>
          <textarea matInput [(ngModel)]="dataModel.lastUnsuccessfullyBuildErrorDate"
            [disabled]="!fieldsInfo['LastUnsuccessfullyBuildErrorDate']?.accessEditField"
            name="dataModel.lastUnsuccessfullyBuildErrorDate" #LastUnsuccessfullyBuildErrorDate type="text"
            placeholder="{{fieldsInfo['Title']?.fieldTitle}}" rows="5"></textarea>
          <mat-icon matSuffix *ngIf="dataModel.lastUnsuccessfullyBuildErrorDate" matSuffix mat-icon-button
            aria-label="Clear" (click)="dataModel.lastUnsuccessfullyBuildErrorDate = ''">close</mat-icon>
          <mat-icon matSuffix>mode_edit</mat-icon>
        </mat-form-field>

        <mat-form-field class="ntk-full-width"
          *ngIf="fieldsInfo['LastUnsuccessfullyBuildErrorMessage']?.accessWatchField">
          <mat-label>{{fieldsInfo['LastUnsuccessfullyBuildErrorMessage']?.fieldTitle}}</mat-label>
          <textarea matInput [(ngModel)]="dataModel.lastUnsuccessfullyBuildErrorMessage"
            [disabled]="!fieldsInfo['LastUnsuccessfullyBuildErrorMessage']?.accessEditField"
            name="dataModel.lastUnsuccessfullyBuildErrorMessage" #LastUnsuccessfullyBuildErrorMessage type="text"
            placeholder="{{fieldsInfo['Title']?.fieldTitle}}" rows="5"></textarea>
          <mat-icon matSuffix *ngIf="dataModel.lastUnsuccessfullyBuildErrorMessage" matSuffix mat-icon-button
            aria-label="Clear" (click)="dataModel.lastUnsuccessfullyBuildErrorMessage = ''">close</mat-icon>
          <mat-icon matSuffix>mode_edit</mat-icon>
        </mat-form-field>


        <div *ngIf="formInfo.formSubmitAllow  && !loading.display" class="ntk-button-row">
          <button type="button" mat-raised-button color="accent" matStepperPrevious>
            {{'ACTION.BEFOR' | translate}}
          </button>
          <button type="submit" mat-raised-button color="success" [disabled]="!vform.form.valid">
            {{'ACTION.SAVE' | translate}}
          </button>
        </div>
      </mat-step>



    </mat-horizontal-stepper>

    <!--end:::::::::::::::::::::::::::::::::::::::::cms-body-->
  </div>
  <div class="ntk-cms-html-card-message">
    <!--begin:::::::::::::::::::::::::::::::::::::::::cms-message-->

    <!--end:::::::::::::::::::::::::::::::::::::::::cms-message-->
  </div>
  <div class="ntk-cms-html-card-footer">
    <!--begin:::::::::::::::::::::::::::::::::::::::::cms-footer-->

    <!--end:::::::::::::::::::::::::::::::::::::::::cms-footer-->
  </div>
</form>