<mat-form-field style="width:100%" appearance="fill">
  <mat-label>{{optionLabel}}</mat-label>
  <mat-chip-grid #chipList aria-label="tag selection" [disabled]="optionDisabled">
    <mat-chip *ngFor="let item of tagDataModel" (removed)="remove(item)">
      {{item.display}}
      <button matChipRemove>
        <mat-icon>cancel</mat-icon>
      </button>
    </mat-chip>
    <input [placeholder]="optionPlaceholder" #tagInput [matChipInputAddOnBlur]="addOnBlur" [formControl]="tagCtrl"
      [matAutocomplete]="auto" [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
      (matChipInputTokenEnd)="add($event)"/>
  </mat-chip-grid>
  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
    <mat-option *ngFor="let item of filteredOptions  | async" [value]="item">
      {{item.display}}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
