<form (ngSubmit)="onFormSubmit()" #vform="ngForm">
  <div class="ntk-cms-html-card-header">
    <!--begin:::::::::::::::::::::::::::::::::::::::::cms-header-->
    {{ formInfo.formTitle }}
    <!--end:::::::::::::::::::::::::::::::::::::::::cms-header-->
  </div>
  <div class="ntk-cms-html-card-body">
    <app-progress-spinner [options]="loading"> </app-progress-spinner>
    <!--begin:::::::::::::::::::::::::::::::::::::::::cms-body-->
    <mat-horizontal-stepper (selectionChange)="onStepClick($event,stepper)" #stepper>
      <mat-step label="{{'TITLE.REQUIRED_INFORMATION' | translate}}" state="main">
        <div>
          {{'TITLE.Copy_settings_from_content' | translate}}:
          <br>
          <app-application-source-selector (optionChange)="onActionSourceCopySelect($event)" [(loading)]="loading"
            [optionPlaceholder]="this.translate.instant('TITLE.Application_Source')"></app-application-source-selector>
          <br>
          {{'TITLE.Using_this_option,_you_can_copy_other_source_settings_and_then_make_changes' | translate}}
        </div>
        <!-- RecordStatus Field -->
        <mat-form-field class="ntk-full-width" *ngIf="fieldsInfo['recordStatus']?.accessWatchField">
          <mat-select placeholder="{{fieldsInfo['recordStatus']?.fieldTitle}}" [(ngModel)]="dataModel.recordStatus"
            [disabled]="!fieldsInfo['recordStatus']?.accessAddField" name="dataModel.recordStatus"
            #RecordStatus="ngModel" panelClass="recordStatus-{{ dataModel.recordStatus }}" required>
            <mat-option *ngFor="
                let item of dataModelEnumRecordStatusResult.listItems;
                index as i
              " [value]="item.value">{{ item.description }}</mat-option>
          </mat-select>
          <mat-hint align="end">{{ 'Application.source.recordStatus_hint' | translate }}</mat-hint>
          <mat-error *ngIf="RecordStatus.errors?.required">
            {{ fieldsInfo['recordStatus']?.fieldTitle }} is <strong>{{'MESSAGE.required' | translate}}</strong>
          </mat-error>
        </mat-form-field>
        <!-- Title Field -->
        <mat-form-field class="ntk-full-width" *ngIf="fieldsInfo['title']?.accessWatchField">
          <mat-label>{{ fieldsInfo['title']?.fieldTitle }}</mat-label>
          <input matInput [(ngModel)]="dataModel.title" [disabled]="!fieldsInfo['title']?.accessAddField"
            name="dataModel.title" #Title type="text" placeholder="{{fieldsInfo['title']?.fieldTitle}}" minlength="3"
            maxlength="100" required />
          <mat-icon matSuffix *ngIf="dataModel.title && fieldsInfo['title']?.accessAddField" matSuffix mat-icon-button
            aria-label="Clear" (click)="dataModel.title = ''">close</mat-icon>
          <mat-icon *ngIf="fieldsInfo['title']?.accessAddField" matSuffix>mode_edit</mat-icon>
          <mat-hint align="end">{{ Title.value.length }} / 100</mat-hint>
          <mat-error *ngIf="Title.errors?.required">
            {{ fieldsInfo['title']?.fieldTitle }} is <strong>{{'MESSAGE.required' | translate}}</strong>
          </mat-error>
        </mat-form-field>
        <!-- TitleResourceLanguage Field -->
        <mat-form-field class="ntk-full-width" *ngIf="fieldsInfo['titleResourceLanguage']?.accessWatchField">
          <mat-label> {{fieldsInfo['titleResourceLanguage']?.fieldTitle}}</mat-label>
          <input matInput [(ngModel)]="dataModel.titleResourceLanguage" name="dataModel.titleResourceLanguage"
            #TitleResourceLanguage type="text" [disabled]="!fieldsInfo['titleResourceLanguage']?.accessEditField"
            placeholder="{{fieldsInfo['titleResourceLanguage']?.fieldTitle}}" minlength="3" maxlength="100" required />
          <mat-icon matSuffix *ngIf="dataModel.titleResourceLanguage" matSuffix mat-icon-button aria-label="Clear"
            (click)="dataModel.titleResourceLanguage = ''">close</mat-icon>
          <mat-icon matSuffix>mode_edit</mat-icon>
          <mat-hint align="end">{{ TitleResourceLanguage.value.length }} / 100</mat-hint>
          <mat-error *ngIf="TitleResourceLanguage.errors?.required">
            TitleResourceLanguage is <strong>{{'MESSAGE.required' | translate}}</strong>
          </mat-error>
        </mat-form-field>
        <!-- OSType Field -->
        <mat-form-field class="ntk-full-width" *ngIf="fieldsInfo['oSType']?.accessWatchField">
          <mat-select placeholder="{{fieldsInfo['oSType']?.fieldTitle}}" [(ngModel)]="dataModel.oSType"
            name="dataModel.oSType" #OSType="ngModel" required>
            <mat-option *ngFor="
                let item of dataModelEnumOsTypeResult.listItems;
                index as i
              " [value]="item.value">{{ item.description }}</mat-option>
          </mat-select>
          <mat-hint align="end">{{ 'Application.source.OSType_hint' | translate }}</mat-hint>
          <mat-error *ngIf="OSType.errors?.required">
            {{ fieldsInfo['oSType']?.fieldTitle }} is <strong>{{'MESSAGE.required' | translate}}</strong>
          </mat-error>
        </mat-form-field>
        <!-- ClassName Field -->
        <mat-form-field class="ntk-full-width" *ngIf="fieldsInfo['className']?.accessWatchField">
          <mat-label>{{fieldsInfo['className']?.fieldTitle}}</mat-label>
          <input matInput [(ngModel)]="dataModel.className" [disabled]="!fieldsInfo['className']?.accessAddField"
            name="dataModel.className" #ClassName type="text" placeholder="{{fieldsInfo['title']?.fieldTitle}}"
            minlength="3" maxlength="100" required />
          <mat-icon matSuffix *ngIf="dataModel.className && fieldsInfo['className']?.accessAddField" matSuffix
            mat-icon-button aria-label="Clear" (click)="dataModel.className = ''">close</mat-icon>
          <mat-icon *ngIf="fieldsInfo['className']?.accessAddField" matSuffix>mode_edit</mat-icon>
          <mat-hint align="end">{{ ClassName.value.length }} / 100</mat-hint>
          <mat-error *ngIf="ClassName.errors?.required">
            ClassName is <strong>{{'MESSAGE.required' | translate}}</strong>
          </mat-error>
        </mat-form-field>
        <!-- PackageName Field -->
        <mat-form-field class="ntk-full-width" *ngIf="fieldsInfo['packageName']?.accessWatchField">
          <mat-label>{{fieldsInfo['packageName']?.fieldTitle}}</mat-label>
          <input matInput [(ngModel)]="dataModel.packageName" [disabled]="!fieldsInfo['packageName']?.accessAddField"
            name="dataModel.packageName" #PackageName type="text" placeholder="{{fieldsInfo['title']?.fieldTitle}}"
            minlength="3" maxlength="100" required />
          <mat-icon matSuffix *ngIf="dataModel.packageName && fieldsInfo['packageName']?.accessAddField" matSuffix
            mat-icon-button aria-label="Clear" (click)="dataModel.packageName = ''">close</mat-icon>
          <mat-icon *ngIf="fieldsInfo['packageName']?.accessAddField" matSuffix>mode_edit</mat-icon>
          <mat-hint align="end">{{ PackageName.value.length }} / 100</mat-hint>
          <mat-error *ngIf="PackageName.errors?.required">
            PackageName is <strong>{{'MESSAGE.required' | translate}}</strong>
          </mat-error>
        </mat-form-field>
        <!-- Extension Field -->
        <mat-form-field class="ntk-full-width" *ngIf="fieldsInfo['extension']?.accessWatchField">
          <mat-label>{{fieldsInfo['extension']?.fieldTitle}}</mat-label>
          <input matInput [(ngModel)]="dataModel.extension" [disabled]="!fieldsInfo['extension']?.accessAddField"
            name="dataModel.extension" #Extension type="text" placeholder="exe" minlength="1" maxlength="10" required />
          <mat-icon matSuffix *ngIf="dataModel.extension && fieldsInfo['extension']?.accessAddField" matSuffix
            mat-icon-button aria-label="Clear" (click)="dataModel.extension = ''">close</mat-icon>
          <mat-icon *ngIf="fieldsInfo['extension']?.accessAddField" matSuffix>mode_edit</mat-icon>
          <mat-hint *ngIf="fieldsInfo['extension']?.accessAddField" style="text-align: left;">{{ Extension.value.length
            }} / 10
          </mat-hint>
          <mat-error *ngIf="Extension.errors?.required">
            Extension is <strong>{{'MESSAGE.required' | translate}}</strong>
          </mat-error>
        </mat-form-field>
        <!-- ExtensionUpdateFile Field -->
        <mat-form-field class="ntk-full-width" *ngIf="fieldsInfo['extensionUpdateFile']?.accessWatchField">
          <mat-label>{{fieldsInfo['extensionUpdateFile']?.fieldTitle}}</mat-label>
          <input matInput [(ngModel)]="dataModel.extensionUpdateFile"
            [disabled]="!fieldsInfo['extensionUpdateFile']?.accessAddField" name="dataModel.extensionUpdateFile"
            #ExtensionUpdateFile type="text" placeholder="zip" minlength="1" maxlength="10" required />
          <mat-icon matSuffix *ngIf="dataModel.extensionUpdateFile && fieldsInfo['extensionUpdateFile']?.accessAddField"
            matSuffix mat-icon-button aria-label="Clear" (click)="dataModel.extensionUpdateFile = ''">close</mat-icon>
          <mat-icon *ngIf="fieldsInfo['extensionUpdateFile']?.accessAddField" matSuffix>mode_edit</mat-icon>
          <mat-hint align="end">{{ ExtensionUpdateFile.value.length }} / 10</mat-hint>
          <mat-error *ngIf="ExtensionUpdateFile.errors?.required">
            Extension Update File is <strong>{{'MESSAGE.required' | translate}}</strong>
          </mat-error>
        </mat-form-field>
        <div *ngIf="formInfo.formSubmitAllow  && !loading.display" class="ntk-button-row">
          <button type="button" mat-raised-button (click)="onActionBackToParent()">
            {{'ACTION.BACK' | translate}}
          </button>
          <button type="button" mat-raised-button color="primary" [disabled]="!vform.form.valid" matStepperNext>
            {{'ACTION.NEXT' | translate}}
          </button>
        </div>
      </mat-step>
      <mat-step label="{{'TITLE.Build_Settings' | translate}}" state="seo">
        <p>{{'TITLE.Select_App_Build_And_Update_Settings' | translate}}</p>
        <!-- DefaultAppId Field -->
        <mat-form-field class="ntk-full-width" *ngIf="fieldsInfo['defaultAppId']?.accessWatchField">
          <mat-label>{{fieldsInfo['defaultAppId']?.fieldTitle}}</mat-label>
          <input matInput [(ngModel)]="dataModel.defaultAppId" [disabled]="!fieldsInfo['defaultAppId']?.accessEditField"
            name="dataModel.defaultAppId" #DefaultAppId type="number"
            placeholder="{{'TITLE.Assumption' | translate}}" />
          <mat-icon matSuffix *ngIf="dataModel.defaultAppId && fieldsInfo['defaultAppId']?.accessEditField" matSuffix
            mat-icon-button aria-label="Clear" (click)="dataModel.defaultAppId = null">close</mat-icon>
          <mat-icon *ngIf="fieldsInfo['defaultAppId']?.accessEditField" matSuffix>mode_edit</mat-icon>
        </mat-form-field>
        <!-- IsPublish Field -->
        <div class="ntk-full-width">
          <mat-slide-toggle [(ngModel)]="dataModel.isPublish" *ngIf="fieldsInfo['isPublish']?.accessWatchField"
            [disabled]="!fieldsInfo['isPublish']?.accessAddField" name="dataModel.isPublish">
            {{fieldsInfo['isPublish']?.fieldTitle}}
          </mat-slide-toggle>
        </div>
        <!-- ForceUpdate Field -->
        <div class="ntk-full-width">
          <mat-slide-toggle [(ngModel)]="dataModel.forceUpdate" *ngIf="fieldsInfo['forceUpdate']?.accessWatchField"
            [disabled]="!fieldsInfo['forceUpdate']?.accessAddField" name="dataModel.forceUpdate">
            {{fieldsInfo['forceUpdate']?.fieldTitle}}
          </mat-slide-toggle>
        </div>
        <!-- UpdateSourceByGit Field -->
        <div class="ntk-full-width">
          <mat-slide-toggle [(ngModel)]="dataModel.updateSourceByGit"
            *ngIf="fieldsInfo['updateSourceByGit']?.accessWatchField"
            [disabled]="!fieldsInfo['updateSourceByGit']?.accessAddField" name="dataModel.updateSourceByGit">
            {{fieldsInfo['updateSourceByGit']?.fieldTitle}}
          </mat-slide-toggle>
        </div>
        <!-- IsAbilityGradleBuild Field -->
        <div class="ntk-full-width">
          <mat-slide-toggle [(ngModel)]="dataModel.isAbilityGradleBuild"
            *ngIf="fieldsInfo['isAbilityGradleBuild']?.accessWatchField"
            [disabled]="!fieldsInfo['isAbilityGradleBuild']?.accessAddField" name="dataModel.isAbilityGradleBuild">
            {{fieldsInfo['isAbilityGradleBuild']?.fieldTitle}}
          </mat-slide-toggle>
        </div>
        <!-- SourceNameGit Field -->
        <mat-form-field class="ntk-full-width" *ngIf="fieldsInfo['sourceNameGit']?.accessWatchField">
          <mat-label>{{fieldsInfo['sourceNameGit']?.fieldTitle}}</mat-label>
          <input matInput [(ngModel)]="dataModel.sourceNameGit"
            [disabled]="!fieldsInfo['sourceNameGit']?.accessAddField" name="dataModel.sourceNameGit" #SourceNameGit
            type="text" placeholder="{{fieldsInfo['title']?.fieldTitle}}" minlength="0" maxlength="100" />
          <mat-icon matSuffix *ngIf="dataModel.sourceNameGit && fieldsInfo['sourceNameGit']?.accessAddField" matSuffix
            mat-icon-button aria-label="Clear" (click)="dataModel.sourceNameGit = ''">close</mat-icon>
          <mat-icon *ngIf="fieldsInfo['sourceNameGit']?.accessAddField" matSuffix>mode_edit</mat-icon>
          <mat-hint align="end">{{ SourceNameGit.value.length }} / 100</mat-hint>
        </mat-form-field>
        <!-- FireBaseServerKey Field -->
        <mat-form-field class="ntk-full-width" *ngIf="fieldsInfo['fireBaseServerKey']?.accessWatchField">
          <mat-label>{{fieldsInfo['fireBaseServerKey']?.fieldTitle}}</mat-label>
          <textarea matInput [(ngModel)]="dataModel.fireBaseServerKey"
            [disabled]="!fieldsInfo['fireBaseServerKey']?.accessAddField" name="dataModel.fireBaseServerKey"
            #FireBaseServerKey type="text" placeholder="{{fieldsInfo['title']?.fieldTitle}}" rows="5"></textarea>
          <mat-icon matSuffix *ngIf="dataModel.fireBaseServerKey && fieldsInfo['fireBaseServerKey']?.accessAddField"
            matSuffix mat-icon-button aria-label="Clear" (click)="dataModel.fireBaseServerKey = ''">close</mat-icon>
          <mat-icon *ngIf="fieldsInfo['fireBaseServerKey']?.accessAddField" matSuffix>mode_edit</mat-icon>
        </mat-form-field>
        <div *ngIf="formInfo.formSubmitAllow  && !loading.display" class="ntk-button-row">
          <button type="button" mat-raised-button color="accent" matStepperPrevious>
            {{'ACTION.BEFOR' | translate}}
          </button>
          <button type="button" mat-raised-button color="primary" [disabled]="!vform.form.valid" matStepperNext>
            {{'ACTION.NEXT' | translate}}
          </button>
        </div>
      </mat-step>
      <mat-step label="{{'TITLE.ATTACH_FILES' | translate}}" state="file">
        <p>{{'TITLE.CONTENT_ATTACH_FILES' | translate}}</p>
        <!-- LinkMainImageId Field -->
        <div class="mb-3">
          <a href="{{dataModel.linkMainImageIdSrc | cmsthumbnail}}" target="_blank">
            <img *ngIf="dataModel?.linkMainImageIdSrc?.length>0" style="vertical-align:middle;" class="ntk-hover-zoom"
              aria-hidden src="{{dataModel.linkMainImageIdSrc | cmsthumbnail}}" height="50" width="50" />
          </a>
        </div>
        <div class="mb-9">
          <mat-form-field class="ntk-full-width" *ngIf="fieldsInfo['linkMainImageId']?.accessWatchField">
            <mat-label (click)="fileManagerOpenForm = true">{{fieldsInfo['linkMainImageId']?.fieldTitle}}</mat-label>
            <input matInput [(ngModel)]="dataModel.linkMainImageId"
              [disabled]="!fieldsInfo['linkMainImageId']?.accessAddField" name="dataModel.linkMainImageId"
              #LinkMainImageId type="text" placeholder="{{'TITLE.Original_File_ID' | translate}}" autocomplete="off"
              (click)="fileManagerOpenForm = true" />
            <mat-icon matSuffix *ngIf="dataModel.linkMainImageId && fieldsInfo['linkMainImageId']?.accessAddField"
              matSuffix mat-icon-button aria-label="Clear" (click)="dataModel.linkMainImageId = null">close</mat-icon>
            <mat-icon *ngIf="fieldsInfo['linkMainImageId']?.accessAddField" matSuffix
              (click)="fileManagerOpenForm = true">mode_edit</mat-icon>
          </mat-form-field>
          <cms-file-manager (itemSelected)="onActionFileSelectedLinkMainImageId($event)" [language]="appLanguage"
            [isPopup]="true" [(openForm)]="fileManagerOpenForm" [tree]="fileManagerTree" [openDirectUploadView]="true"
            [openFilemanagerButtonLabelKey]="'select'" [selectFileType]="selectFileTypeMainImage"
            [openFilemanagerButtonView]="false"></cms-file-manager>
        </div>
        <div *ngIf="formInfo.formSubmitAllow  && !loading.display" class="ntk-button-row">
          <button type="button" mat-raised-button color="accent" matStepperPrevious>
            {{'ACTION.BEFOR' | translate}}
          </button>
          <button type="button" mat-raised-button color="primary" [disabled]="!vform.form.valid" matStepperNext>
            {{'ACTION.NEXT' | translate}}
          </button>
        </div>
      </mat-step>
      <mat-step label="{{'TITLE.Config_Template_and_Build' | translate}}" state="otherinfo">
        <p>{{'TITLE.Total_management_default_settings_in_build' | translate}}</p>
        <!-- DefaultConfigBuilderAdminJsonValues Field -->
        <mat-form-field class="ntk-full-width"
          *ngIf="fieldsInfo['defaultConfigBuilderAdminJsonValues']?.accessWatchField">
          <mat-label>{{fieldsInfo['defaultConfigBuilderAdminJsonValues']?.fieldTitle}}</mat-label>
          <textarea matInput [(ngModel)]="dataModel.defaultConfigBuilderAdminJsonValues"
            [disabled]="!fieldsInfo['defaultConfigBuilderAdminJsonValues']?.accessAddField"
            name="dataModel.defaultConfigBuilderAdminJsonValues" #DefaultConfigBuilderAdminJsonValues type="text"
            placeholder="{{fieldsInfo['title']?.fieldTitle}}" rows="5"></textarea>
          <mat-icon matSuffix *ngIf="dataModel.defaultConfigBuilderAdminJsonValues" matSuffix mat-icon-button
            aria-label="Clear" (click)="dataModel.defaultConfigBuilderAdminJsonValues = ''">close</mat-icon>
          <mat-icon matSuffix>mode_edit</mat-icon>
        </mat-form-field>
        <!-- DefaultConfigRuntimeAdminJsonValues Field -->
        <mat-form-field class="ntk-full-width"
          *ngIf="fieldsInfo['defaultConfigRuntimeAdminJsonValues']?.accessWatchField">
          <mat-label>{{fieldsInfo['defaultConfigRuntimeAdminJsonValues']?.fieldTitle}}</mat-label>
          <textarea matInput [(ngModel)]="dataModel.defaultConfigRuntimeAdminJsonValues"
            [disabled]="!fieldsInfo['defaultConfigRuntimeAdminJsonValues']?.accessAddField"
            name="dataModel.defaultConfigRuntimeAdminJsonValues" #DefaultConfigRuntimeAdminJsonValues type="text"
            placeholder="{{fieldsInfo['title']?.fieldTitle}}" rows="5"></textarea>
          <mat-icon matSuffix *ngIf="dataModel.defaultConfigRuntimeAdminJsonValues" matSuffix mat-icon-button
            aria-label="Clear" (click)="dataModel.defaultConfigRuntimeAdminJsonValues = ''">close</mat-icon>
          <mat-icon matSuffix>mode_edit</mat-icon>
        </mat-form-field>
        <!-- DefaultConfigBuilderSiteJsonValues Field -->
        <mat-form-field class="ntk-full-width"
          *ngIf="fieldsInfo['defaultConfigBuilderSiteJsonValues']?.accessWatchField">
          <mat-label>{{fieldsInfo['defaultConfigBuilderSiteJsonValues']?.fieldTitle}}</mat-label>
          <textarea matInput [(ngModel)]="dataModel.defaultConfigBuilderSiteJsonValues"
            [disabled]="!fieldsInfo['defaultConfigBuilderSiteJsonValues']?.accessAddField"
            name="dataModel.defaultConfigBuilderSiteJsonValues" #DefaultConfigBuilderSiteJsonValues type="text"
            placeholder="{{fieldsInfo['title']?.fieldTitle}}" rows="5"></textarea>
          <mat-icon matSuffix *ngIf="dataModel.defaultConfigBuilderSiteJsonValues" matSuffix mat-icon-button
            aria-label="Clear" (click)="dataModel.defaultConfigBuilderSiteJsonValues = ''">close</mat-icon>
          <mat-icon matSuffix>mode_edit</mat-icon>
        </mat-form-field>
        <!-- DefaultConfigRuntimeSiteJsonValues Field -->
        <mat-form-field class="ntk-full-width"
          *ngIf="fieldsInfo['defaultConfigRuntimeSiteJsonValues']?.accessWatchField">
          <mat-label>{{fieldsInfo['defaultConfigRuntimeSiteJsonValues']?.fieldTitle}}</mat-label>
          <textarea matInput [(ngModel)]="dataModel.defaultConfigRuntimeSiteJsonValues"
            [disabled]="!fieldsInfo['defaultConfigRuntimeSiteJsonValues']?.accessAddField"
            name="dataModel.defaultConfigRuntimeSiteJsonValues" #DefaultConfigRuntimeSiteJsonValues type="text"
            placeholder="{{fieldsInfo['title']?.fieldTitle}}" rows="5"></textarea>
          <mat-icon matSuffix *ngIf="dataModel.defaultConfigRuntimeSiteJsonValues" matSuffix mat-icon-button
            aria-label="Clear" (click)="dataModel.defaultConfigRuntimeSiteJsonValues = ''">close</mat-icon>
          <mat-icon matSuffix>mode_edit</mat-icon>
        </mat-form-field>
        <table class="ntk-full-width" cellspacing="0">
          <tr>
            <td>
              <mat-form-field class="ntk-full-width" *ngIf="fieldsInfo['buildKey1String']?.accessWatchField">
                <mat-label>{{fieldsInfo['buildKey1String']?.fieldTitle}}</mat-label>
                <input matInput [(ngModel)]="dataModel.buildKey1String"
                  [disabled]="!fieldsInfo['buildKey1String']?.accessAddField" name="dataModel.buildKey1String"
                  #BuildKey1String type="text" placeholder="KEY" minlength="0" />
                <mat-hint align="end">{{ BuildKey1String.value.length }}</mat-hint>
              </mat-form-field>
            </td>
            <td>
              <mat-form-field class="ntk-full-width" *ngIf="fieldsInfo['buildKey1Files']?.accessWatchField">
                <mat-label>{{fieldsInfo['buildKey1Files']?.fieldTitle}}</mat-label>
                <input matInput [(ngModel)]="dataModel.buildKey1Files"
                  [disabled]="!fieldsInfo['buildKey1Files']?.accessAddField" name="dataModel.buildKey1Files"
                  #BuildKey1Files type="text" placeholder="Files" minlength="0" />
                <mat-hint align="end">{{ BuildKey1Files.value.length }}</mat-hint>
              </mat-form-field>
            </td>
            <td>
              <mat-form-field class="ntk-full-width" *ngIf="fieldsInfo['buildKey1Value']?.accessWatchField">
                <mat-label>{{fieldsInfo['buildKey1Value']?.fieldTitle}}</mat-label>
                <input matInput [(ngModel)]="dataModel.buildKey1Value"
                  [disabled]="!fieldsInfo['buildKey1Value']?.accessAddField" name="dataModel.buildKey1Value"
                  #BuildKey1Value type="text" placeholder="Value" minlength="0" />
                <mat-hint align="end">{{ BuildKey1Value.value.length }}</mat-hint>
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td>
              <mat-form-field class="ntk-full-width" *ngIf="fieldsInfo['buildKey2String']?.accessWatchField">
                <mat-label>{{fieldsInfo['buildKey2String']?.fieldTitle}}</mat-label>
                <input matInput [(ngModel)]="dataModel.buildKey2String"
                  [disabled]="!fieldsInfo['buildKey2String']?.accessAddField" name="dataModel.buildKey2String"
                  #BuildKey2String type="text" placeholder="KEY" minlength="0" />
                <mat-hint align="end">{{ BuildKey2String.value.length }}</mat-hint>
              </mat-form-field>
            </td>
            <td>
              <mat-form-field class="ntk-full-width" *ngIf="fieldsInfo['buildKey2Files']?.accessWatchField">
                <mat-label>{{fieldsInfo['buildKey2Files']?.fieldTitle}}</mat-label>
                <input matInput [(ngModel)]="dataModel.buildKey2Files"
                  [disabled]="!fieldsInfo['buildKey2Files']?.accessAddField" name="dataModel.buildKey2Files"
                  #BuildKey2Files type="text" placeholder="Files" minlength="0" />
                <mat-hint align="end">{{ BuildKey2Files.value.length }}</mat-hint>
              </mat-form-field>
            </td>
            <td>
              <mat-form-field class="ntk-full-width" *ngIf="fieldsInfo['buildKey2Value']?.accessWatchField">
                <mat-label>{{fieldsInfo['buildKey2Value']?.fieldTitle}}</mat-label>
                <input matInput [(ngModel)]="dataModel.buildKey2Value"
                  [disabled]="!fieldsInfo['buildKey2Value']?.accessAddField" name="dataModel.buildKey2Value"
                  #BuildKey2Value type="text" placeholder="Value" minlength="0" />
                <mat-hint align="end">{{ BuildKey2Value.value.length }}</mat-hint>
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td>
              <mat-form-field class="ntk-full-width" *ngIf="fieldsInfo['buildKey3String']?.accessWatchField">
                <mat-label>{{fieldsInfo['buildKey3String']?.fieldTitle}}</mat-label>
                <input matInput [(ngModel)]="dataModel.buildKey3String"
                  [disabled]="!fieldsInfo['buildKey3String']?.accessAddField" name="dataModel.buildKey3String"
                  #BuildKey3String type="text" placeholder="KEY" minlength="0" />
                <mat-hint align="end">{{ BuildKey3String.value.length }} </mat-hint>
              </mat-form-field>
            </td>
            <td>
              <mat-form-field class="ntk-full-width" *ngIf="fieldsInfo['buildKey3Files']?.accessWatchField">
                <mat-label>{{fieldsInfo['buildKey3Files']?.fieldTitle}}</mat-label>
                <input matInput [(ngModel)]="dataModel.buildKey3Files"
                  [disabled]="!fieldsInfo['buildKey3Files']?.accessAddField" name="dataModel.buildKey3Files"
                  #BuildKey3Files type="text" placeholder="Files" minlength="0" />
                <mat-hint align="end">{{ BuildKey3Files.value.length }} </mat-hint>
              </mat-form-field>
            </td>
            <td>
              <mat-form-field class="ntk-full-width" *ngIf="fieldsInfo['buildKey3Value']?.accessWatchField">
                <mat-label>{{fieldsInfo['buildKey3Value']?.fieldTitle}}</mat-label>
                <input matInput [(ngModel)]="dataModel.buildKey3Value"
                  [disabled]="!fieldsInfo['buildKey3Value']?.accessAddField" name="dataModel.buildKey3Value"
                  #BuildKey3Value type="text" placeholder="Value" minlength="0" />
                <mat-hint align="end">{{ BuildKey3Value.value.length }} </mat-hint>
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td>
              <mat-form-field class="ntk-full-width" *ngIf="fieldsInfo['buildKey4String']?.accessWatchField">
                <mat-label>{{fieldsInfo['buildKey4String']?.fieldTitle}}</mat-label>
                <input matInput [(ngModel)]="dataModel.buildKey4String"
                  [disabled]="!fieldsInfo['buildKey4String']?.accessAddField" name="dataModel.buildKey4String"
                  #BuildKey4String type="text" placeholder="KEY" minlength="0" />
                <mat-hint align="end">{{ BuildKey4String.value.length }}</mat-hint>
              </mat-form-field>
            </td>
            <td>
              <mat-form-field class="ntk-full-width" *ngIf="fieldsInfo['buildKey4Files']?.accessWatchField">
                <mat-label>{{fieldsInfo['buildKey4Files']?.fieldTitle}}</mat-label>
                <input matInput [(ngModel)]="dataModel.buildKey4Files"
                  [disabled]="!fieldsInfo['buildKey4Files']?.accessAddField" name="dataModel.buildKey4Files"
                  #BuildKey4Files type="text" placeholder="Files" minlength="0" />
                <mat-hint align="end">{{ BuildKey4Files.value.length }} </mat-hint>
              </mat-form-field>
            </td>
            <td>
              <mat-form-field class="ntk-full-width" *ngIf="fieldsInfo['buildKey4Value']?.accessWatchField">
                <mat-label>{{fieldsInfo['buildKey4Value']?.fieldTitle}}</mat-label>
                <input matInput [(ngModel)]="dataModel.buildKey4Value"
                  [disabled]="!fieldsInfo['buildKey4Value']?.accessAddField" name="dataModel.buildKey4Value"
                  #BuildKey4Value type="text" placeholder="Value" minlength="0" />
                <mat-hint align="end">{{ BuildKey4Value.value.length }} </mat-hint>
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td>
              <mat-form-field class="ntk-full-width" *ngIf="fieldsInfo['buildKey5String']?.accessWatchField">
                <mat-label>{{fieldsInfo['buildKey5String']?.fieldTitle}}</mat-label>
                <input matInput [(ngModel)]="dataModel.buildKey5String"
                  [disabled]="!fieldsInfo['buildKey5String']?.accessAddField" name="dataModel.buildKey5String"
                  #BuildKey5String type="text" placeholder="KEY" minlength="0" />
                <mat-hint align="end">{{ BuildKey5String.value.length }} </mat-hint>
              </mat-form-field>
            </td>
            <td>
              <mat-form-field class="ntk-full-width" *ngIf="fieldsInfo['buildKey5Files']?.accessWatchField">
                <mat-label>{{fieldsInfo['buildKey5Files']?.fieldTitle}}</mat-label>
                <input matInput [(ngModel)]="dataModel.buildKey5Files"
                  [disabled]="!fieldsInfo['buildKey5Files']?.accessAddField" name="dataModel.buildKey5Files"
                  #BuildKey5Files type="text" placeholder="Files" minlength="0" />
                <mat-hint align="end">{{ BuildKey5Files.value.length }} </mat-hint>
              </mat-form-field>
            </td>
            <td>
              <mat-form-field class="ntk-full-width" *ngIf="fieldsInfo['buildKey5Value']?.accessWatchField">
                <mat-label>{{fieldsInfo['buildKey5Value']?.fieldTitle}}</mat-label>
                <input matInput [(ngModel)]="dataModel.buildKey5Value"
                  [disabled]="!fieldsInfo['buildKey5Value']?.accessAddField" name="dataModel.buildKey5Value"
                  #BuildKey5Value type="text" placeholder="Value" minlength="0" />
                <mat-hint align="end">{{ BuildKey5Value.value.length }} </mat-hint>
              </mat-form-field>
            </td>
          </tr>
        </table>
        <div *ngIf="formInfo.formSubmitAllow  && !loading.display" class="ntk-button-row">
          <button type="button" mat-raised-button color="accent" matStepperPrevious>
            {{'ACTION.BEFOR' | translate}}
          </button>
          <button type="button" mat-raised-button color="primary" [disabled]="!vform.form.valid" matStepperNext>
            {{'ACTION.NEXT' | translate}}
          </button>
        </div>
      </mat-step>
      <mat-step label="{{'TITLE.Report' | translate}}" state="loaction">
        <p>{{'TITLE.Latest_Status_Report' | translate}}</p>
        <mat-form-field class="ntk-full-width" *ngIf="fieldsInfo['lastSuccessfullyBuildDate']?.accessWatchField">
          <mat-label>{{fieldsInfo['lastSuccessfullyBuildDate']?.fieldTitle}}</mat-label>
          <textarea matInput [(ngModel)]="dataModel.lastSuccessfullyBuildDate"
            [disabled]="!fieldsInfo['lastSuccessfullyBuildDate']?.accessAddField"
            name="dataModel.lastSuccessfullyBuildDate" #LastSuccessfullyBuildDate type="text"
            placeholder="{{fieldsInfo['title']?.fieldTitle}}" rows="5"></textarea>
          <mat-icon matSuffix *ngIf="dataModel.lastSuccessfullyBuildDate" matSuffix mat-icon-button aria-label="Clear"
            (click)="dataModel.lastSuccessfullyBuildDate = ''">close</mat-icon>
          <mat-icon matSuffix>mode_edit</mat-icon>
        </mat-form-field>
        <mat-form-field class="ntk-full-width" *ngIf="fieldsInfo['lastBuildCommandDate']?.accessWatchField">
          <mat-label>{{fieldsInfo['lastBuildCommandDate']?.fieldTitle}}</mat-label>
          <textarea matInput [(ngModel)]="dataModel.lastBuildCommandDate"
            [disabled]="!fieldsInfo['lastBuildCommandDate']?.accessAddField" name="dataModel.lastBuildCommandDate"
            #LastBuildCommandDate type="text" placeholder="{{fieldsInfo['title']?.fieldTitle}}" rows="5"></textarea>
          <mat-icon matSuffix *ngIf="dataModel.lastBuildCommandDate" matSuffix mat-icon-button aria-label="Clear"
            (click)="dataModel.lastBuildCommandDate = ''">close</mat-icon>
          <mat-icon matSuffix>mode_edit</mat-icon>
        </mat-form-field>
        <mat-form-field class="ntk-full-width" *ngIf="fieldsInfo['lastBuildCommandBy']?.accessWatchField">
          <mat-label>{{fieldsInfo['lastBuildCommandBy']?.fieldTitle}}</mat-label>
          <textarea matInput [(ngModel)]="dataModel.lastBuildCommandBy"
            [disabled]="!fieldsInfo['lastBuildCommandBy']?.accessAddField" name="dataModel.lastBuildCommandBy"
            #LastBuildCommandBy type="text" placeholder="{{fieldsInfo['title']?.fieldTitle}}" rows="5"></textarea>
          <mat-icon matSuffix *ngIf="dataModel.lastBuildCommandBy" matSuffix mat-icon-button aria-label="Clear"
            (click)="dataModel.lastBuildCommandBy = ''">close</mat-icon>
          <mat-icon matSuffix>mode_edit</mat-icon>
        </mat-form-field>
        <mat-form-field class="ntk-full-width" *ngIf="fieldsInfo['lastBuildCommandDate']?.accessWatchField">
          <mat-label>{{fieldsInfo['lastBuildCommandDate']?.fieldTitle}}</mat-label>
          <textarea matInput [(ngModel)]="dataModel.lastBuildCommandDate"
            [disabled]="!fieldsInfo['lastBuildCommandDate']?.accessAddField" name="dataModel.lastBuildCommandDate"
            #LastBuildCommandDate type="text" placeholder="{{fieldsInfo['title']?.fieldTitle}}" rows="5"></textarea>
          <mat-icon matSuffix *ngIf="dataModel.lastBuildCommandDate" matSuffix mat-icon-button aria-label="Clear"
            (click)="dataModel.lastBuildCommandDate = ''">close</mat-icon>
          <mat-icon matSuffix>mode_edit</mat-icon>
        </mat-form-field>
        <mat-form-field class="ntk-full-width" *ngIf="fieldsInfo['lastBuildCommandBy']?.accessWatchField">
          <mat-label>{{fieldsInfo['lastBuildCommandBy']?.fieldTitle}}</mat-label>
          <textarea matInput [(ngModel)]="dataModel.lastBuildCommandBy"
            [disabled]="!fieldsInfo['lastBuildCommandBy']?.accessAddField" name="dataModel.lastBuildCommandBy"
            #LastBuildCommandBy type="text" placeholder="{{fieldsInfo['title']?.fieldTitle}}" rows="5"></textarea>
          <mat-icon matSuffix *ngIf="dataModel.lastBuildCommandBy" matSuffix mat-icon-button aria-label="Clear"
            (click)="dataModel.lastBuildCommandBy = ''">close</mat-icon>
          <mat-icon matSuffix>mode_edit</mat-icon>
        </mat-form-field>
        <mat-form-field class="ntk-full-width" *ngIf="fieldsInfo['lastUnsuccessfullyBuildErrorDate']?.accessWatchField">
          <mat-label>{{fieldsInfo['lastUnsuccessfullyBuildErrorDate']?.fieldTitle}}</mat-label>
          <textarea matInput [(ngModel)]="dataModel.lastUnsuccessfullyBuildErrorDate"
            [disabled]="!fieldsInfo['lastUnsuccessfullyBuildErrorDate']?.accessAddField"
            name="dataModel.lastUnsuccessfullyBuildErrorDate" #LastUnsuccessfullyBuildErrorDate type="text"
            placeholder="{{fieldsInfo['title']?.fieldTitle}}" rows="5"></textarea>
          <mat-icon matSuffix *ngIf="dataModel.lastUnsuccessfullyBuildErrorDate" matSuffix mat-icon-button
            aria-label="Clear" (click)="dataModel.lastUnsuccessfullyBuildErrorDate = ''">close</mat-icon>
          <mat-icon matSuffix>mode_edit</mat-icon>
        </mat-form-field>
        <mat-form-field class="ntk-full-width"
          *ngIf="fieldsInfo['lastUnsuccessfullyBuildErrorMessage']?.accessWatchField">
          <mat-label>{{fieldsInfo['lastUnsuccessfullyBuildErrorMessage']?.fieldTitle}}</mat-label>
          <textarea matInput [(ngModel)]="dataModel.lastUnsuccessfullyBuildErrorMessage"
            [disabled]="!fieldsInfo['lastUnsuccessfullyBuildErrorMessage']?.accessAddField"
            name="dataModel.lastUnsuccessfullyBuildErrorMessage" #LastUnsuccessfullyBuildErrorMessage type="text"
            placeholder="{{fieldsInfo['title']?.fieldTitle}}" rows="5"></textarea>
          <mat-icon matSuffix *ngIf="dataModel.lastUnsuccessfullyBuildErrorMessage" matSuffix mat-icon-button
            aria-label="Clear" (click)="dataModel.lastUnsuccessfullyBuildErrorMessage = ''">close</mat-icon>
          <mat-icon matSuffix>mode_edit</mat-icon>
        </mat-form-field>
        <div *ngIf="formInfo.formSubmitAllow  && !loading.display" class="ntk-button-row">
          <button type="button" mat-raised-button color="accent" matStepperPrevious>
            {{'ACTION.BEFOR' | translate}}
          </button>
          <button type="submit" mat-raised-button color="success" [disabled]="!vform.form.valid">
            {{'ACTION.SAVE' | translate}}
          </button>
        </div>
      </mat-step>
    </mat-horizontal-stepper>
    <!--end:::::::::::::::::::::::::::::::::::::::::cms-body-->
  </div>
  <div class="ntk-cms-html-card-message">
    <!--begin:::::::::::::::::::::::::::::::::::::::::cms-message-->
    <!--end:::::::::::::::::::::::::::::::::::::::::cms-message-->
  </div>
  <div class="ntk-cms-html-card-footer">
    <!--begin:::::::::::::::::::::::::::::::::::::::::cms-footer-->
    <!--end:::::::::::::::::::::::::::::::::::::::::cms-footer-->
  </div>
</form>