<div class="login-form login-forgot">
  <!--begin::Form-->
  <form *ngIf="forgetState=='sms'" class="form fv-plugins-bootstrap fv-plugins-framework" novalidate="novalidate"
    #vformBySms="ngForm" (ngSubmit)="onActionSubmitOrderCodeBySms()" id="kt_login_forgot_form" [ngStyle]="{
      display: errorState === errorStates.NoError ? 'none' : 'block'
    }">
    <!--begin::Title-->
    <div class="pb-13 pt-lg-0 pt-5">
      <h3 class="font-weight-bolder text-dark font-size-h4 font-size-h1-lg">
        {{'AUTH.FORGOT.TITLE' | translate}}
      </h3>
      <p class="text-muted font-weight-bold font-size-h4">
        {{'AUTH.FORGOT.DESCSMS' | translate}}
      </p>
    </div>
    <!--end::Title-->
    <!--Mobile Field-->
    <mat-form-field class="ntk-full-width">
      <mat-label> {{'AUTH.FORGOT.MOBILE' | translate}}</mat-label>
      <input matInput [(ngModel)]="dataModelforgetPasswordBySms.Mobile" name="dataModelforgetPasswordBySms.Mobile"
        [disabled]=" !formInfo.ButtonSubmittedEnabled" #Mobile type="text" autocomplete="off"
        class="form-control form-control-solid h-auto py-7 px-6 rounded-lg font-size-h6"
        placeholder=" {{'AUTH.FORGOT.MOBILE' | translate}}" minlength="5" maxlength="50" required />
      <mat-icon matSuffix *ngIf="dataModelforgetPasswordBySms.Mobile" matSuffix mat-icon-button aria-label="Clear"
        (click)="dataModelforgetPasswordBySms.Mobile = ''">
        close</mat-icon>
      <mat-icon matSuffix>mode_edit</mat-icon>
      <mat-hint align="end">{{ Mobile.value.length }} / 100</mat-hint>
      <mat-error *ngIf="Mobile.errors?.required">
        Mobile is <strong>{{'MESSAGE.required' | translate}}</strong>
      </mat-error>
    </mat-form-field>
    <!--CaptchaText Field-->
    <img src="{{captchaModel.Image}}" (click)="onCaptchaOrder()" class="mb-3" alt="">
    <mat-icon matSuffix (click)="onCaptchaOrder()">refresh</mat-icon>
    <mat-form-field class="ntk-full-width">
      <mat-label> {{'AUTH.INPUT.CAPTCHACODE' | translate}}</mat-label>
      <input matInput [(ngModel)]="dataModelforgetPasswordBySms.CaptchaText"
        name="dataModelforgetPasswordBySms.CaptchaText" [disabled]=" !formInfo.ButtonSubmittedEnabled" #CaptchaText
        type="number" class="form-control form-control-solid h-auto py-7 px-6 rounded-lg font-size-h6"
        autocomplete="off" placeholder=" {{'AUTH.INPUT.CAPTCHACODE' | translate}}" required />
      <mat-icon matSuffix *ngIf="dataModelforgetPasswordBySms.CaptchaText" matSuffix mat-icon-button aria-label="Clear"
        (click)="dataModelforgetPasswordBySms.CaptchaText = ''">
        close</mat-icon>
      <mat-icon matSuffix>mode_edit</mat-icon>
      <mat-error *ngIf="CaptchaText.errors?.required">
        CaptchaText is <strong>{{'MESSAGE.required' | translate}}</strong>
      </mat-error>
    </mat-form-field>
    <!--begin::Form group-->
    <div class="row">
      <div class="col-12 col-lg-6">
        <button type="submit" id="kt_login_forgot_submit"
          [disabled]="vformBySms.invalid || !formInfo.ButtonSubmittedEnabled"
          class="btn btn-primary font-weight-bolder font-size-h4  col-12" style="margin: 1px;">
          {{'AUTH.FORGOT.SEND_PIN_CODE' | translate}}
        </button>
      </div>
      <div class="col-12 col-lg-6">
        <a routerLink="/auth/singin" id="kt_login_forgot_cancel"
          class="btn btn-primary font-weight-bolder font-size-h4  col-12" style="margin: 1px;">
          {{'AUTH.REGISTER.RETURN_TO_LOGIN' | translate}}
        </a>
      </div>
      <ng-container *ngIf="isLoading$ | async">
        <span class="spinner spinner-primary ml-5"></span>
      </ng-container>
    </div>
    <!--end::Form group-->
    <br>
    <p (click)="changeforgetState('email')">{{'MESSAGE.Reminders.by.email' | translate}}</p>
    <div></div>
  </form>
  <!--end::Form-->
  <!--begin::Form-->
  <form *ngIf="forgetState=='email'" class="form fv-plugins-bootstrap fv-plugins-framework" novalidate="novalidate"
    #vformByEmail="ngForm" (ngSubmit)="onActionSubmitOrderCodeByEmail()" id="kt_login_forgot_form" [ngStyle]="{
      display: errorState === errorStates.NoError ? 'none' : 'block'
    }">
    <!--begin::Title-->
    <div class="pb-13 pt-lg-0 pt-5">
      <h3 class="font-weight-bolder text-dark font-size-h4 font-size-h1-lg">
        {{'AUTH.FORGOT.TITLE' | translate}}
      </h3>
      <p class="text-muted font-weight-bold font-size-h4">
        {{'AUTH.FORGOT.DESCSMS' | translate}}
      </p>
    </div>
    <!--end::Title-->
    <mat-form-field class="ntk-full-width">
      <mat-label> {{'AUTH.FORGOT.EMAIL' | translate}}</mat-label>
      <input matInput [(ngModel)]="dataModelforgetPasswordByEmail.Email" name="dataModelforgetPasswordByEmail.Email"
        [disabled]=" !formInfo.ButtonSubmittedEnabled" #Email type="email" autocomplete="off"
        class="form-control form-control-solid h-auto py-7 px-6 rounded-lg font-size-h6"
        placeholder=" {{'AUTH.FORGOT.EMAIL' | translate}}" minlength="5" maxlength="50" required />
      <mat-icon matSuffix *ngIf="dataModelforgetPasswordByEmail.Email" matSuffix mat-icon-button aria-label="Clear"
        (click)="dataModelforgetPasswordByEmail.Email = ''">
        close</mat-icon>
      <mat-icon matSuffix>mode_edit</mat-icon>
      <mat-hint align="end">{{ Email.value.length }} / 100</mat-hint>
      <mat-error *ngIf="Email.errors?.required">
        Email is <strong>{{'MESSAGE.required' | translate}}</strong>
      </mat-error>
    </mat-form-field>
    <!--CaptchaText Field-->
    <img src="{{captchaModel.Image}}" (click)="onCaptchaOrder()" class="mb-3" alt="">
    <mat-icon matSuffix (click)="onCaptchaOrder()">refresh</mat-icon>
    <mat-form-field class="ntk-full-width">
      <mat-label> {{'AUTH.INPUT.CAPTCHACODE' | translate}}</mat-label>
      <input matInput [(ngModel)]="dataModelforgetPasswordByEmail.CaptchaText"
        name="dataModelforgetPasswordByEmail.CaptchaText" [disabled]=" !formInfo.ButtonSubmittedEnabled" #CaptchaText
        type="text" class="form-control form-control-solid h-auto py-7 px-6 rounded-lg font-size-h6" autocomplete="off"
        placeholder=" {{'AUTH.INPUT.CAPTCHACODE' | translate}}" required />
      <mat-icon matSuffix *ngIf="dataModelforgetPasswordByEmail.CaptchaText" matSuffix mat-icon-button
        aria-label="Clear" (click)="dataModelforgetPasswordByEmail.CaptchaText = ''">
        close</mat-icon>
      <mat-icon matSuffix>mode_edit</mat-icon>
      <mat-error *ngIf="CaptchaText.errors?.required">
        CaptchaText is <strong>{{'MESSAGE.required' | translate}}</strong>
      </mat-error>
    </mat-form-field>
    <!--begin::Form group-->
    <div class="row">
      <div class="col-12 col-lg-6">
        <button type="submit" id="kt_login_forgot_submit"
          [disabled]="vformByEmail.invalid || !formInfo.ButtonSubmittedEnabled"
          class="btn btn-primary font-weight-bolder font-size-h4  col-12" style="margin: 1px;">
          {{'AUTH.FORGOT.SEND_PIN_CODE' | translate}}
        </button>
      </div>
      <div class="col-12 col-lg-6">
        <a routerLink="/auth/singin" id="kt_login_forgot_cancel"
          class="btn btn-primary font-weight-bolder font-size-h4  col-12" style="margin: 1px;">
          {{'AUTH.REGISTER.RETURN_TO_LOGIN' | translate}}
        </a>
      </div>
      <ng-container *ngIf="isLoading$ | async">
        <span class="spinner spinner-primary ml-5"></span>
      </ng-container>
    </div>
    <!--end::Form group-->
    <br>
    <p (click)="changeforgetState('sms')">{{'MESSAGE.Reminder.by.SMS' | translate}}</p>
    <div></div>
  </form>
  <!--end::Form-->
  <!--begin::Form-->
  <form *ngIf="forgetState=='entrycode'" class="form fv-plugins-bootstrap fv-plugins-framework" novalidate="novalidate"
    #vformEntryCode="ngForm" (ngSubmit)="onActionSubmitEntryPinCode()" id="kt_login_forgot_form" [ngStyle]="{
      display: errorState === errorStates.NoError ? 'none' : 'block'
    }">
    <!--begin::Title-->
    <div class="pb-13 pt-lg-0 pt-5">
      <h3 class="font-weight-bolder text-dark font-size-h4 font-size-h1-lg">
        {{'AUTH.FORGOT.TITLE' | translate}}
      </h3>
      <p class="text-muted font-weight-bold font-size-h4">
        {{'AUTH.FORGOT.DESCSMS' | translate}}
      </p>
    </div>
    <mat-form-field class="ntk-full-width">
      <mat-label> {{'AUTH.FORGOT.PIN_CODE' | translate}}</mat-label>
      <input matInput [(ngModel)]="dataModelforgetPasswordEntryPinCode.ActivateCode"
        name="dataModelforgetPasswordEntryPinCode.ActivateCode" [disabled]=" !formInfo.ButtonSubmittedEnabled"
        #ActivateCode type="text" autocomplete="off"
        class="form-control form-control-solid h-auto py-7 px-6 rounded-lg font-size-h6"
        placeholder=" {{'AUTH.FORGOT.SEND_PIN_CODE' | translate}}" minlength="3" maxlength="50" required />
      <mat-icon matSuffix *ngIf="dataModelforgetPasswordEntryPinCode.ActivateCode" matSuffix mat-icon-button
        aria-label="Clear" (click)="dataModelforgetPasswordEntryPinCode.ActivateCode = ''">
        close</mat-icon>
      <mat-icon matSuffix>mode_edit</mat-icon>
      <mat-hint align="end">{{ ActivateCode.value.length }} / 100</mat-hint>
      <mat-error *ngIf="ActivateCode.errors?.required">
        PIN Code is <strong>{{'MESSAGE.required' | translate}}</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="ntk-full-width">
      <mat-label> {{'AUTH.FORGOT.PASSWORD' | translate}}</mat-label>
      <input matInput [(ngModel)]="dataModelforgetPasswordEntryPinCode.NewPassword"
        name="dataModelforgetPasswordEntryPinCode.NewPassword" [disabled]=" !formInfo.ButtonSubmittedEnabled"
        #NewPassword type="password" class="form-control form-control-solid h-auto py-7 px-6 rounded-lg font-size-h6"
        autocomplete="off" placeholder=" {{'AUTH.FORGOT.PASSWORD' | translate}}" minlength="3" maxlength="50"
        required />
      <mat-icon matSuffix *ngIf="dataModelforgetPasswordEntryPinCode.NewPassword" matSuffix mat-icon-button
        aria-label="Clear" (click)="dataModelforgetPasswordEntryPinCode.NewPassword = ''">
        close</mat-icon>
      <mat-icon matSuffix>mode_edit</mat-icon>
      <mat-hint align="end">{{ NewPassword.value.length }} / 50</mat-hint>
      <mat-error *ngIf="NewPassword.errors?.required">
        Password is <strong>{{'MESSAGE.required' | translate}}</strong>
      </mat-error>
    </mat-form-field>
    <app-password-strength [passwordToCheck]="dataModelforgetPasswordEntryPinCode.NewPassword"
      (passwordStrength)="passwordValid($event)"></app-password-strength>
    <mat-form-field class="ntk-full-width">
      <mat-label> {{'AUTH.FORGOT.CONFIRM_PASSWORD' | translate}}</mat-label>
      <input matInput [(ngModel)]="RePasswordModel" name="RePasswordModel"
        [disabled]=" !formInfo.ButtonSubmittedEnabled" #RePassword type="password"
        class="form-control form-control-solid h-auto py-7 px-6 rounded-lg font-size-h6" autocomplete="off"
        placeholder=" {{'AUTH.FORGOT.CONFIRM_PASSWORD' | translate}}" minlength="3" maxlength="50" required />
      <mat-icon matSuffix *ngIf="RePasswordModel" matSuffix mat-icon-button aria-label="Clear"
        (click)="RePasswordModel = ''">
        close</mat-icon>
      <mat-icon matSuffix>mode_edit</mat-icon>
      <mat-hint align="end">{{ RePassword.value.length }} / 50</mat-hint>
      <mat-error *ngIf="RePassword.errors?.required">
        RePassword is <strong>{{'MESSAGE.required' | translate}}</strong>
      </mat-error>
      <mat-error *ngIf=" RePassword.value!=NewPassword.value">
        پسورد و تاییدیه پسورد با هم مغایرت دارد
      </mat-error>
    </mat-form-field>
    <!--CaptchaText Field-->
    <img src="{{captchaModel.Image}}" (click)="onCaptchaOrder()" class="mb-3" alt="">
    <mat-icon matSuffix (click)="onCaptchaOrder()">refresh</mat-icon>
    <mat-form-field class="ntk-full-width">
      <mat-label> {{'AUTH.INPUT.CAPTCHACODE' | translate}}</mat-label>
      <input matInput [(ngModel)]="dataModelforgetPasswordEntryPinCode.CaptchaText"
        name="dataModelforgetPasswordEntryPinCode.CaptchaText" [disabled]=" !formInfo.ButtonSubmittedEnabled"
        #CaptchaText type="number" class="form-control form-control-solid h-auto py-7 px-6 rounded-lg font-size-h6"
        autocomplete="off" placeholder=" {{'AUTH.INPUT.CAPTCHACODE' | translate}}" required />
      <mat-icon matSuffix *ngIf="dataModelforgetPasswordEntryPinCode.CaptchaText" matSuffix mat-icon-button
        aria-label="Clear" (click)="dataModelforgetPasswordEntryPinCode.CaptchaText = ''">
        close</mat-icon>
      <mat-icon matSuffix>mode_edit</mat-icon>
      <mat-error *ngIf="CaptchaText.errors?.required">
        CaptchaText is <strong>{{'MESSAGE.required' | translate}}</strong>
      </mat-error>
    </mat-form-field>
    <!--begin::Form group-->
    <div class="form-group d-flex flex-wrap pb-lg-0">
      <button type="submit" id="kt_login_forgot_submit"
        [disabled]="vformEntryCode.invalid || !formInfo.ButtonSubmittedEnabled"
        class="btn btn-primary font-weight-bolder font-size-h6 px-8 py-4 my-3">
        {{'AUTH.FORGOT.RESET_PASSWORD' | translate}}
      </button>
      <a routerLink="/auth/singin" id="kt_login_forgot_cancel"
        class="btn btn-light-primary font-weight-bolder font-size-h6 px-8 py-4 my-3 mr-2">
        {{'AUTH.REGISTER.RETURN_TO_LOGIN' | translate}}
      </a>
      <ng-container *ngIf="isLoading$ | async">
        <span class="spinner spinner-primary ml-5"></span>
      </ng-container>
    </div>
    <!--end::Form group-->
    <p (click)="changeforgetState('email')">ارسال مجدد کد بازیابی</p>
    <div></div>
  </form>
  <!--end::Form-->
  <ng-container *ngIf="errorState === errorStates.NoError">
    <div class="card card-custom bgi-no-repeat gutter-b" style="
        height: 175px;
        background-color: #4ab58e;
        background-position: calc(100% + 1rem) bottom;
        background-size: 25% auto;
        background-image: url(assets/media/svg/humans/custom-1.svg);
      ">
      <!--begin::Body-->
      <div class="card-body d-flex align-items-center">
        <div class="py-2">
          <h3 class="text-white font-weight-bolder mb-3">Email is correct!</h3>
          <p class="text-white font-size-lg">
            Message with 'recovery' instruction<br />
            has been sent<br />
          </p>
          <a routerLink="/auth/singin" class="swal2-confirm btn font-weight-bold btn-light-primary">
            Ok, got it!
          </a>
        </div>
      </div>
      <!--end::Body-->
    </div>
  </ng-container>
</div>
<ng-template #formError let-control="control" let-message="message" let-validation="validation">
  <ng-container *ngIf="control.hasError(validation) && (control.dirty || control.touched)">
    <div class="fv-plugins-message-container">
      <div class="fv-help-block">
        {{ message }}
      </div>
    </div>
  </ng-container>
</ng-template>