<form (ngSubmit)="onFormSubmit()" #vform="ngForm">
  <div class="ntk-cms-html-card-header">
    <!--begin:::::::::::::::::::::::::::::::::::::::::cms-header-->
      {{ formInfo.formTitle }}
    <!--end:::::::::::::::::::::::::::::::::::::::::cms-header-->
  </div>
  <div class="ntk-cms-html-card-body">
    <app-progress-spinner [options]="loading"> </app-progress-spinner>
    <!--begin:::::::::::::::::::::::::::::::::::::::::cms-body-->
    <mat-horizontal-stepper (selectionChange)="onStepClick($event,stepper)" #stepper>
      <mat-step label="{{'TITLE.Config_Module' | translate}}" state="main">
        <p>{{'TITLE.Settings_that_the_module_applies_to_the_site' | translate}} </p>
        <!-- StatusRenderUser Field -->
        <div class="ntk-full-width">
          <mat-slide-toggle [(ngModel)]="dataConfigSiteValuesModel.statusRenderUser"
            name="dataConfigSiteValuesModel.statusRenderUser">
            StatusRenderUser
          </mat-slide-toggle>
        </div>
        <!-- UseDataDefaulteSite -->
        <div class="ntk-full-width">
          <mat-slide-toggle [(ngModel)]="dataConfigSiteValuesModel.useDataDefaulteSite"
            name="dataConfigSiteValuesModel.useDataDefaulteSite">
            {{'TITLE.Display_the_default_site_information_on_the_site' | translate}}
          </mat-slide-toggle>
        </div>
        <div *ngIf="tokenInfo.userAccessAdminAllowToProfessionalData">
          <div [innerHTML]="dataConfigSiteValuesModel | prettyjson"></div>
        </div>
        <div *ngIf="formInfo.formSubmitAllow  && !loading.display" class="ntk-button-row">
          <button type="button" mat-raised-button (click)="onActionBackToParent()">
            {{'ACTION.BACK' | translate}}
          </button>
          <button type="button" mat-raised-button color="primary" [disabled]="!vform.form.valid" matStepperNext>
            {{'ACTION.NEXT' | translate}}
          </button>
          <button type="submit" mat-raised-button color="success" [disabled]="!vform.form.valid">
            {{'ACTION.SAVE' | translate}}
          </button>
        </div>
      </mat-step>
      <mat-step label="{{'TITLE.Saved_Value' | translate}}" state="main">
        <p>{{'TITLE.Values_saved_by_the_system' | translate}} </p>
        <!-- RowCount Field -->
        <div class="ntk-full-width">
          <mat-slide-toggle [(ngModel)]="dataSiteStorageModel.rowCount" name="dataSiteStorageModel.rowCount">
            RowCount
          </mat-slide-toggle>
        </div>
        <!-- MainDataContentRowCount Field -->
        <mat-form-field class="ntk-full-width">
          <mat-label>MainDataContentRowCount</mat-label>
          <input matInput [(ngModel)]="dataSiteStorageModel.mainDataContentRowCount"
            name="dataSiteStorageModel.mainDataContentRowCount" #dataSiteStorageModel_MainDataContentRowCount
            type="number" placeholder="0" />
          <mat-icon matSuffix *ngIf="dataSiteStorageModel.mainDataContentRowCount" matSuffix mat-icon-button
            aria-label="Clear" (click)="dataSiteStorageModel.mainDataContentRowCount = null">close</mat-icon>
          <mat-icon matSuffix>mode_edit</mat-icon>
        </mat-form-field>
        <!-- UpdatedContent Field -->
        <mat-form-field class="ntk-full-width">
          <mat-label>UpdatedContent</mat-label>
          <input matInput [matDatepicker]="dataSiteStorageModel_UpdatedContent"
            [(ngModel)]="dataSiteStorageModel.updatedContent" name="dataSiteStorageModel.updatedContent" />
          <mat-icon matSuffix *ngIf="dataSiteStorageModel.updatedContent " matSuffix mat-icon-button aria-label="Clear"
            (click)="dataSiteStorageModel.updatedContent = null">close</mat-icon>
          <mat-datepicker-toggle matSuffix [for]="dataSiteStorageModel_UpdatedContent"></mat-datepicker-toggle>
          <mat-datepicker touchUi #dataSiteStorageModel_UpdatedContent></mat-datepicker>
        </mat-form-field>
        <!-- UpdatedNewsCategory Field -->
        <mat-form-field class="ntk-full-width">
          <mat-label>UpdatedNewsCategory</mat-label>
          <input matInput [matDatepicker]="dataSiteStorageModel_UpdatedNewsCategory"
            [(ngModel)]="dataSiteStorageModel.updatedNewsCategory" name="dataSiteStorageModel.updatedNewsCategory" />
          <mat-icon matSuffix *ngIf="dataSiteStorageModel.updatedNewsCategory " matSuffix mat-icon-button
            aria-label="Clear" (click)="dataSiteStorageModel.updatedNewsCategory = null">close</mat-icon>
          <mat-datepicker-toggle matSuffix [for]="dataSiteStorageModel_UpdatedNewsCategory"></mat-datepicker-toggle>
          <mat-datepicker touchUi #dataSiteStorageModel_UpdatedNewsCategory></mat-datepicker>
        </mat-form-field>
        <!-- UpdatedNewsContent Field -->
        <mat-form-field class="ntk-full-width">
          <mat-label>UpdatedNewsContent</mat-label>
          <input matInput [matDatepicker]="dataSiteStorageModel_UpdatedNewsContent"
            [(ngModel)]="dataSiteStorageModel.updatedNewsContent" name="dataSiteStorageModel.updatedNewsContent" />
          <mat-icon matSuffix *ngIf="dataSiteStorageModel.updatedNewsContent " matSuffix mat-icon-button
            aria-label="Clear" (click)="dataSiteStorageModel.updatedNewsContent = null">close</mat-icon>
          <mat-datepicker-toggle matSuffix [for]="dataSiteStorageModel_UpdatedNewsContent"></mat-datepicker-toggle>
          <mat-datepicker touchUi #dataSiteStorageModel_UpdatedNewsContent></mat-datepicker>
        </mat-form-field>
        <div *ngIf="tokenInfo.userAccessAdminAllowToProfessionalData">
          <div [innerHTML]="dataSiteStorageModel | prettyjson"></div>
        </div>
        <div *ngIf="formInfo.formSubmitAllow  && !loading.display" class="ntk-button-row">
          <button type="button" mat-raised-button color="accent" matStepperPrevious>
            {{'ACTION.BEFOR' | translate}}
          </button>
          <button type="button" mat-raised-button color="primary" [disabled]="!vform.form.valid" matStepperNext>
            {{'ACTION.NEXT' | translate}}
          </button>
          <button type="submit" mat-raised-button color="success" [disabled]="!vform.form.valid">
            {{'ACTION.SAVE' | translate}}
          </button>
        </div>
      </mat-step>
      <mat-step label="{{'TITLE.Accessibility' | translate}}" state="main">
        <p>{{'TITLE.This_website_accesses_this_module' | translate}}</p>
        <!-- MainDataContentRowCount Field -->
        <mat-form-field class="ntk-full-width">
          <mat-label>MainDataContentRowCount</mat-label>
          <input matInput [(ngModel)]="dataConfigSiteAccessValuesModel.mainDataContentRowCount"
            name="dataConfigSiteAccessValuesModel.mainDataContentRowCount"
            #dataConfigSiteAccessValuesModel_MainDataContentRowCount type="number" placeholder="0" required />
          <mat-icon matSuffix *ngIf="dataConfigSiteAccessValuesModel.mainDataContentRowCount" matSuffix mat-icon-button
            aria-label="Clear" (click)="dataConfigSiteAccessValuesModel.mainDataContentRowCount = null">close</mat-icon>
          <mat-icon matSuffix>mode_edit</mat-icon>
          <mat-error *ngIf="dataConfigSiteAccessValuesModel_MainDataContentRowCount.errors?.required">
            MainDataContentRowCount is <strong>{{'MESSAGE.required' | translate}}</strong>
          </mat-error>
        </mat-form-field>
        <!-- UseDataDefaulteSiteId Field -->
        <!-- <mat-form-field class="ntk-full-width">
          <mat-label>{{'TITLE.Default_information_site_ID' | translate}}</mat-label>
          <input matInput [(ngModel)]="dataConfigSiteAccessValuesModel.useDataDefaulteSiteId"
            name="dataConfigSiteAccessValuesModel.useDataDefaulteSiteId"
            #dataConfigSiteAccessValuesModel_UseDataDefaulteSiteId type="number" placeholder="0" />
          <mat-icon matSuffix *ngIf="dataConfigSiteAccessValuesModel.useDataDefaulteSiteId" matSuffix mat-icon-button
            aria-label="Clear" (click)="dataConfigSiteAccessValuesModel.useDataDefaulteSiteId = 0">close</mat-icon>
          <mat-icon matSuffix>mode_edit</mat-icon>
        </mat-form-field> -->
        <div *ngIf="tokenInfo.userAccessAdminAllowToProfessionalData">
          <div [innerHTML]="dataConfigSiteAccessValuesModel | prettyjson"></div>
        </div>
        <div *ngIf="formInfo.formSubmitAllow  && !loading.display" class="ntk-button-row">
          <button type="button" mat-raised-button color="accent" matStepperPrevious>
            {{'ACTION.BEFOR' | translate}}
          </button>
          <button type="button" mat-raised-button color="primary" [disabled]="!vform.form.valid" matStepperNext>
            {{'ACTION.NEXT' | translate}}
          </button>
          <button type="submit" mat-raised-button color="success" [disabled]="!vform.form.valid">
            {{'ACTION.SAVE' | translate}}
          </button>
        </div>
      </mat-step>
    </mat-horizontal-stepper>
    <!--end:::::::::::::::::::::::::::::::::::::::::cms-body-->
  </div>
  <div class="ntk-cms-html-card-message">
    <!--begin:::::::::::::::::::::::::::::::::::::::::cms-message-->
    <!--end:::::::::::::::::::::::::::::::::::::::::cms-message-->
  </div>
  <div class="ntk-cms-html-card-footer">
    <!--begin:::::::::::::::::::::::::::::::::::::::::cms-footer-->
    <!--end:::::::::::::::::::::::::::::::::::::::::cms-footer-->
  </div>
</form>