<app-donate-target-period-header *ngIf="this.requestLinkTargetPeriodId>0" [optionId]="this.requestLinkTargetPeriodId">
</app-donate-target-period-header>
<div class="row">
  <div Class="col-xl-12">
    <div class="row">
      <div class="col">
        <mat-card class="example-card">
          <mat-card-header>
            <mat-card-title> {{'TITLE.Donation_Amount' | translate}} </mat-card-title>
            <mat-card-subtitle></mat-card-subtitle>
          </mat-card-header>

          <mat-card-content>
            <p>
              <!-- Credit Field -->
              <mat-form-field class="ntk-full-width">
                <mat-label> {{'TITLE.Amount' | translate}} </mat-label>
                <input matInput (input)="onInputChange($event)" [(ngModel)]="dataModelCalculate.supportPayment" name="dataModelCalculate.supportPayment"
                  #Credit type="number" 
                  placeholder="0" />
                <mat-icon matSuffix *ngIf="dataModelCalculate.supportPayment" matSuffix mat-icon-button aria-label="Clear"
                  (click)="dataModelCalculate.supportPayment = 0">close</mat-icon>
                <mat-icon matSuffix>mode_edit</mat-icon>
              </mat-form-field>
              {{price}}
              {{currency}}
            </p>
          </mat-card-content>
          <mat-card-actions>

            <button mat-button class="btn btn-success" (click)="onActionbuttonBuy()">{{'ACTION.BUY' |
              translate}}</button>
            <button type="button" (click)="onActionBackToParent()" class="btn btn-light">
              <i class="ft-x"></i> {{'ACTION.BACK' | translate}}
            </button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </div>
</div>