<form (ngSubmit)="onFormSubmit()" #vform="ngForm">
    <div class="ntk-cms-html-card-header">
      <!--begin:::::::::::::::::::::::::::::::::::::::::cms-header-->
        {{ formInfo.FormTitle }}
      <!--end:::::::::::::::::::::::::::::::::::::::::cms-header-->
    </div>
    <div class="ntk-cms-html-card-body">
	<app-progress-spinner [options]="loading"> </app-progress-spinner>
      <!--begin:::::::::::::::::::::::::::::::::::::::::cms-body-->
      <!-- RecordStatus Field -->
      <mat-form-field class="ntk-full-width" *ngIf="fieldsInfo['RecordStatus']?.AccessWatchField">
        <mat-label>{{fieldsInfo['RecordStatus']?.FieldTitle}}</mat-label>
        <mat-select placeholder="{{fieldsInfo['RecordStatus']?.FieldTitle}}"
        [disabled]="!fieldsInfo['RecordStatus']?.AccessEditField" [(ngModel)]="dataModel.RecordStatus"
          name="dataModel.RecordStatus" #RecordStatus="ngModel" panelClass="recordStatus-{{ dataModel.RecordStatus }}"
          required>
          <mat-option *ngFor="
                  let item of dataModelEnumRecordStatusResult.ListItems;
                  index as i
                " [value]="item.Value">{{ item.Description }}</mat-option>
        </mat-select>
        <mat-hint align="start" ><mat-icon matSuffix class="info-field-icon">info</mat-icon>
          <strong class="info-field-text">{{fieldsInfo['RecordStatus']?.FieldDescription}}</strong> </mat-hint>
        <mat-hint align="end">{{'TITLE.SELECT_STATUS' | translate}}</mat-hint>
        <mat-error *ngIf="RecordStatus.errors?.required">
          {{fieldsInfo['RecordStatus']?.FieldTitle}}  <strong>{{'MESSAGE.required' | translate}}</strong>
        </mat-error>
      </mat-form-field>
      <!-- Writer Field -->
      <mat-form-field class="ntk-full-width" *ngIf="fieldsInfo['Writer']?.AccessWatchField">
        <mat-label>{{fieldsInfo['Writer']?.FieldTitle}}</mat-label>
        <input matInput [(ngModel)]="dataModel.Writer" name="dataModel.Writer" #Writer type="text"
          placeholder="{{fieldsInfo['Title']?.FieldTitle}}" [disabled]="!fieldsInfo['Writer']?.AccessEditField"
           minlength="3" maxlength="100" required />
        <mat-icon matSuffix *ngIf="dataModel.Writer" matSuffix mat-icon-button aria-label="Clear"
          (click)="dataModel.Writer = ''">close</mat-icon>
        <mat-icon matSuffix>mode_edit</mat-icon>
        <mat-hint align="start" ><mat-icon matSuffix class="info-field-icon">info</mat-icon>
          <strong class="info-field-text">{{fieldsInfo['Writer']?.FieldDescription}}</strong> </mat-hint>
        <mat-hint align="end">{{ Writer.value.length }} / 100</mat-hint>
        <mat-error *ngIf="Writer.errors?.required">
          {{fieldsInfo['Writer']?.FieldTitle}} <strong>{{'MESSAGE.required' | translate}}</strong>
        </mat-error>
      </mat-form-field>
      <!-- Comment Field -->
      <mat-form-field class="ntk-full-width" *ngIf="fieldsInfo['Comment']?.AccessWatchField">
        <mat-label>{{fieldsInfo['Comment']?.FieldTitle}}</mat-label>
        <textarea matInput [(ngModel)]="dataModel.Comment" name="dataModel.Comment" #Comment type="text"
          placeholder="{{fieldsInfo['Comment']?.FieldTitle}}" [disabled]="!fieldsInfo['Comment']?.AccessEditField"
           minlength="1" maxlength="1000" required rows=5></textarea>
        <mat-icon matSuffix *ngIf="dataModel.Comment" matSuffix mat-icon-button aria-label="Clear"
          (click)="dataModel.Comment = ''">close</mat-icon>
        <mat-icon matSuffix>mode_edit</mat-icon>
        <mat-hint align="start" ><mat-icon matSuffix class="info-field-icon">info</mat-icon>
          <strong class="info-field-text">{{fieldsInfo['Comment']?.FieldDescription}}</strong> </mat-hint>
        <mat-hint align="end">{{ Comment.value.length }} / 1000</mat-hint>
        <mat-error *ngIf="Comment.errors?.required">
          {{fieldsInfo['Comment']?.FieldTitle}}  <strong>{{'MESSAGE.required' | translate}}</strong>
        </mat-error>
      </mat-form-field>
      <!--end:::::::::::::::::::::::::::::::::::::::::cms-body-->
    </div>
    <div class="ntk-cms-html-card-message">
      <!--begin:::::::::::::::::::::::::::::::::::::::::cms-message-->
      <div class="form-actions">
        <small class="form-text text-muted">{{ formInfo.FormAlert }} </small>
        <small class="form-text text-muted danger">{{ formInfo.FormError }}
        </small>
      </div>
      <!--end:::::::::::::::::::::::::::::::::::::::::cms-message-->
    </div>
    <div class="ntk-cms-html-card-footer">
      <!--begin:::::::::::::::::::::::::::::::::::::::::cms-footer-->
      <div class="form-actions" *ngIf="formInfo.FormSubmitAllow">
        <button type="button" (click)="onFormCancel()" class="btn btn-light">
          <i class="ft-x"></i> {{'ACTION.CANCEL' | translate}}
        </button>
        <button type="submit" (click)="onFormSubmit()" class="btn btn-success"
          [disabled]="!vform.form.valid">
          <i class="fa fa-check-square-o"></i> {{'ACTION.SAVE' | translate}}
        </button>
      </div>
      <!--end:::::::::::::::::::::::::::::::::::::::::cms-footer-->
    </div>
</form>