<form (ngSubmit)="onFormSubmit()" #vform="ngForm">
    <div class="ntk-cms-html-card-header">
      <!--begin:::::::::::::::::::::::::::::::::::::::::cms-header-->
        {{ formInfo.formTitle }}
      <!--end:::::::::::::::::::::::::::::::::::::::::cms-header-->
    </div>
    <div class="ntk-cms-html-card-body">
	<app-progress-spinner [options]="loading"> </app-progress-spinner>
      <!--begin:::::::::::::::::::::::::::::::::::::::::cms-body-->
      <!-- RecordStatus Field -->
      <mat-form-field class="ntk-full-width" *ngIf="fieldsInfo['recordStatus']?.accessWatchField">
        <mat-label>{{fieldsInfo['recordStatus']?.fieldTitle}}</mat-label>
        <mat-select placeholder="{{fieldsInfo['recordStatus']?.fieldTitle}}"
        [disabled]="!fieldsInfo['recordStatus']?.accessEditField" [(ngModel)]="dataModel.recordStatus"
          name="dataModel.recordStatus" #RecordStatus="ngModel" panelClass="recordStatus-{{ dataModel.recordStatus }}"
          required>
          <mat-option *ngFor="
                  let item of dataModelEnumRecordStatusResult.listItems;
                  index as i
                " [value]="item.value">{{ item.description }}</mat-option>
        </mat-select>
        <mat-hint align="start" ><mat-icon matSuffix class="info-field-icon">info</mat-icon>
          <strong class="info-field-text">{{fieldsInfo['recordStatus']?.FieldDescription}}</strong> </mat-hint>
        <mat-hint align="end">{{'TITLE.SELECT_STATUS' | translate}}</mat-hint>
        <mat-error *ngIf="RecordStatus.errors?.required">
          {{fieldsInfo['recordStatus']?.fieldTitle}}  <strong>{{'MESSAGE.required' | translate}}</strong>
        </mat-error>
      </mat-form-field>
      <!-- Writer Field -->
      <mat-form-field class="ntk-full-width" *ngIf="fieldsInfo['writer']?.accessWatchField">
        <mat-label>{{fieldsInfo['writer']?.fieldTitle}}</mat-label>
        <input matInput [(ngModel)]="dataModel.writer" name="dataModel.writer" #Writer type="text"
          placeholder="{{fieldsInfo['title']?.fieldTitle}}" [disabled]="!fieldsInfo['writer']?.accessEditField"
           minlength="3" maxlength="100" required />
        <mat-icon matSuffix *ngIf="dataModel.writer" matSuffix mat-icon-button aria-label="Clear"
          (click)="dataModel.writer = ''">close</mat-icon>
        <mat-icon matSuffix>mode_edit</mat-icon>
        <mat-hint align="start" ><mat-icon matSuffix class="info-field-icon">info</mat-icon>
          <strong class="info-field-text">{{fieldsInfo['writer']?.FieldDescription}}</strong> </mat-hint>
        <mat-hint align="end">{{ Writer.value.length }} / 100</mat-hint>
        <mat-error *ngIf="Writer.errors?.required">
          {{fieldsInfo['writer']?.fieldTitle}} <strong>{{'MESSAGE.required' | translate}}</strong>
        </mat-error>
      </mat-form-field>
      <!-- Comment Field -->
      <mat-form-field class="ntk-full-width" *ngIf="fieldsInfo['comment']?.accessWatchField">
        <mat-label>{{fieldsInfo['comment']?.fieldTitle}}</mat-label>
        <textarea matInput [(ngModel)]="dataModel.comment" name="dataModel.comment" #Comment type="text"
          placeholder="{{fieldsInfo['comment']?.fieldTitle}}" [disabled]="!fieldsInfo['comment']?.accessEditField"
           minlength="1" maxlength="1000" required rows=5></textarea>
        <mat-icon matSuffix *ngIf="dataModel.comment" matSuffix mat-icon-button aria-label="Clear"
          (click)="dataModel.comment = ''">close</mat-icon>
        <mat-icon matSuffix>mode_edit</mat-icon>
        <mat-hint align="start" ><mat-icon matSuffix class="info-field-icon">info</mat-icon>
          <strong class="info-field-text">{{fieldsInfo['comment']?.FieldDescription}}</strong> </mat-hint>
        <mat-hint align="end">{{ Comment.value.length }} / 1000</mat-hint>
        <mat-error *ngIf="Comment.errors?.required">
          {{fieldsInfo['comment']?.fieldTitle}}  <strong>{{'MESSAGE.required' | translate}}</strong>
        </mat-error>
      </mat-form-field>
      <!--end:::::::::::::::::::::::::::::::::::::::::cms-body-->
    </div>
    <div class="ntk-cms-html-card-message">
      <!--begin:::::::::::::::::::::::::::::::::::::::::cms-message-->
      <div class="form-actions">
        <small class="form-text text-muted">{{ formInfo.formAlert }} </small>
        <small class="form-text text-muted danger">{{ formInfo.formError }}
        </small>
      </div>
      <!--end:::::::::::::::::::::::::::::::::::::::::cms-message-->
    </div>
    <div class="ntk-cms-html-card-footer">
      <!--begin:::::::::::::::::::::::::::::::::::::::::cms-footer-->
      <div class="form-actions" *ngIf="formInfo.formSubmitAllow  && !loading.display">
        <button type="button" (click)="onFormCancel()" class="btn btn-light">
          <i class="ft-x"></i> {{'ACTION.CANCEL' | translate}}
        </button>
        <button type="submit" (click)="onFormSubmit()" class="btn btn-success"
          [disabled]="!vform.form.valid">
          <i class="fa fa-check-square-o"></i> {{'ACTION.SAVE' | translate}}
        </button>
      </div>
      <!--end:::::::::::::::::::::::::::::::::::::::::cms-footer-->
    </div>
</form>