<!--begin::Notice-->

<div class="row">
  <div class="col-12">
    <div class="alert alert-custom alert-white alert-shadow gutter-b" [ngClass]="classes" role="alert">
      <ng-container *ngIf="icon || svg">
        <div class="alert-icon alert-icon-top">
          <ng-container *ngIf="svg">
            <span class="svg-icon svg-icon-3x svg-icon-primary" [inlineSVG]="svg"></span>
          </ng-container>
          <ng-container *ngIf="icon">
            <i [ngClass]="icon"></i>
          </ng-container>
        </div>
      </ng-container>
      <div class="alert-text">
        <h4 class="text-center">Access Check</h4>
        <div *ngIf="bodyShow">
          
    
          <table class="table table-bordered">
            <tr>
              <td [ngClass]="detectColor(access.accessDeleteRow)">accessDeleteRow : {{access.accessDeleteRow}}</td>
              <td [ngClass]="detectColor(access.accessRowInPanelDemo)">accessRowInPanelDemo : {{access.accessRowInPanelDemo}}</td>
              <td [ngClass]="detectColor(access.accessDeleteRowOtherCreatedBy)">accessDeleteRowOtherCreatedBy : {{access.accessDeleteRowOtherCreatedBy}}</td>
            </tr>
            <tr>
              <td [ngClass]="detectColor(access.accessEditRow)">accessEditRow : {{access.accessEditRow}}</td>
              <td [ngClass]="detectColor(access.accessEditRowOtherCreatedBy)">accessEditRowOtherCreatedBy : {{access.accessEditRowOtherCreatedBy}}</td>
              <td [ngClass]="detectColor(access.accessEditRowOtherSiteId)">accessEditRowOtherSiteId : {{access.accessEditRowOtherSiteId}}</td>
            </tr>
            <tr>
              <td [ngClass]="detectColor(access.accessWatchRow)">accessWatchRow : {{access.accessWatchRow}}</td>
              <td [ngClass]="detectColor(access.accessRowWatchInSharingCategory)">accessRowWatchInSharingCategory : {{access.accessRowWatchInSharingCategory}}</td>
              <td [ngClass]="detectColor(access.accessWatchRowOtherSiteId)">accessWatchRowOtherSiteId : {{access.accessWatchRowOtherSiteId}}</td>
            </tr>
            <tr>
            <td [ngClass]="detectColor(access.accessAddRow)">accessAddRow : {{access.accessAddRow}}</td>
            <td colspan="2" [ngClass]="detectColor(access.accessWatchRowOtherCreatedBy)">accessWatchRowOtherCreatedBy : {{access.accessWatchRowOtherCreatedBy}}</td>
            
          </tr>
          </table>

        </div>
      </div>
    </div>
      <div style="align-self: end;">
        <button type="button" *ngIf="!bodyShow&& body?.length>0" class="btn btn-outline-primary"
          (click)="onActionBottunClick()">
          بیشتر...
        </button>
        <button type="button" *ngIf="bodyShow" class="btn btn-outline-primary" (click)="onActionCloseBottunClick()">
          بستن 
        </button>
      </div>
  </div>
</div>

<!--end::Notice-->