<app-progress-spinner [options]="loading"> </app-progress-spinner>
<!-- compact -->
<ng-container *ngIf="footerLayout === 'compact'">
  <!--begin::Container-->
  <div [ngClass]="footerContainerCSSClasses"
    class="d-flex flex-column flex-md-row align-items-center justify-content-between">
    <!--begin::Copyright-->
    <div class="text-dark order-2 order-md-1">
      <span class="text-muted font-weight-bold mr-2">{{ currentYear }} &copy;</span>
      <a href="https://ntk.ir" target="_blank" class="text-dark-75 text-hover-primary">NTK co</a>
    </div>
    <div class="text-dark order-2 order-md-1">
      ver: {{this.publicHelper.appClientVersion}} /{{this.publicHelper.appServerVersion}}
    </div>
    <!--end::Copyright-->

    <!--begin::Nav-->
    <div class="nav nav-dark order-1 order-md-2">
      <a href="https://ntk.ir" target="_blank" class="nav-link pr-3 pl-0">About</a>
      <a href="https://ntk.ir" target="_blank" class="nav-link px-3">Team</a>
      <a routerLink="/ticketing/contactus" class="nav-link pl-3 pr-0">Contact</a>
    </div>
    <!--end::Nav-->
  </div>
  <!--end::Container-->
</ng-container>
<!-- extended -->
<ng-container *ngIf="footerLayout === 'extended'">
  <!--begin::Container-->
  <div [ngClass]="footerContainerCSSClasses" class="container py-lg-18 py-8">
    <!--begin::Row-->
    <div class="row">
      <!--begin::Col-->
      <div class="col-lg-4 my-lg-0 my-5">
        <h4 class="text-white pb-3">{{'ACTION.ABOUT' | translate}}</h4>
        <p class="m-0 text-white opacity-45">
            {{'TITLE.In_order_to_take_advantage_as_much_as_possible_and_to_take_practical_steps_in_order_to_provide_a_solution_for_applying_the_specialized_topics_of
            _the_IT_industry_and_advertising_in_Iran_the_site_of_Negin_Tejarat_Karavi_Company_was_established_and_considering_the_increasing_importance_
            of_the_applied_fields_of_information_technology_and_its_very_effective_role_In_solving_the_existing-problems_and_challenges and in order to meet
             the_advertising needs and information_systems_of-the-society_from_this_new_market_the_position_of_this_Persian_information_system_in_line_with_
             the_national_authority_and_developmentThe_IT_industry_in_the_country_and_the_potential_customers_and_services_of_Iranians_all_over_the_world_
             this_consortium_centered_on_Negin_companyBusiness_was_formed' | translate}}
        </p>
      </div>
      <!--end::Col-->

      <!--begin::Col-->
      <div class="col-lg-4 my-lg-0 my-5">
        <h4 class="text-white pb-3">{{'ACTION.QUICKLINKS' | translate}}</h4>
        <div class="d-flex align-items-center">
          <div class="d-flex flex-column mr-18">
            <a href="#" class="text-white opacity-55 text-hover-primary">{{'ACTION.GENERALREPORTS' | translate}}</a>
            <a href="#"
              class="py-2 text-white opacity-55 text-hover-primary">{{'ACTION.DASHBOARDWIDGETS' | translate}}</a>
            <a href="#" class="text-white opacity-50 text-hover-primary">{{'ACTION.CUSTOMPAGES' | translate}}</a>
          </div>
          <div class="d-flex flex-column">
            <a href="#" class="text-white opacity-55 text-hover-primary">{{'ACTION.USERSETTING' | translate}}</a>
            <a href="#" class="py-2 text-white opacity-55 text-hover-primary">{{'ACTION.CUSTOMPAGES' | translate}}</a>
            <a href="#" class="text-white opacity-55 text-hover-primary">{{'ACTION.INTRANETSETTING' | translate}}</a>
          </div>
        </div>
      </div>
      <!--end::Col-->

      <!--begin::Col-->
      <div class="col-lg-4 my-lg-0 my-5">
        <h4 class="text-white pb-3">{{'ACTION.GETINTOUCH' | translate}}</h4>
        <form class="rounded" style="background-color: rgba(0, 0, 0, 0.2)">
          <div class="input-group p-2 align-items-center">
            <input type="text" class="form-control rounded-right border-0 bg-transparent text-white opacity-80"
              placeholder="{{'ACTION.ENTERYOUREMAIL' | translate}}" />
            <div class="input-group-append p-0 mr-1">
              <button class="btn btn-fh btn-sm btn-primary px-6 rounded-left" type="button">
                {{'ACTION.SEND' | translate}}
              </button>
            </div>
          </div>
        </form>
      </div>
      <!--end::Col-->
    </div>
    <!--end::Row-->
  </div>
  <!--end::Container-->

  <!--begin::Container-->
  <div class="separator separator-solid opacity-7"></div>
  <!--end::Container-->

  <!--begin::Container-->
  <div class="container py-8" [ngClass]="footerContainerCSSClasses">
    <div class="d-flex align-items-center justify-content-between flex-lg-row flex-column">
      <!--begin::Copyright-->
      <div class="d-flex align-items-center order-lg-1 order-2">
        <img alt="Logo" src="./assets/media/logos/logo-letter-1.png" class="logo-sticky max-h-35px" />
        <span class="text-muted font-weight-bold mx-2">{{ currentYear }} ©</span>
        <a href="https://ntk.ir" target="_blank" class="text-primary text-hover-primary">NTK co</a>
      </div>
      <div class="text-dark order-2 order-md-1">
        ver: {{this.publicHelper.appClientVersion}} /{{this.publicHelper.appServerVersion}}
      </div>
      <!--end::Copyright-->

      <!--begin::Nav-->
      <div class="d-flex align-items-center order-lg-2 order-1 mb-lg-0 mb-5">
        <a href="https://ntk.ir" target="_blank"
          class="text-white opacity-55 pl-0 text-hover-primary">{{'ACTION.PURCHASELISECSE' | translate}}</a>
        <a href="https://ntk.ir" target="_blank"
          class="text-white opacity-55 px-6 text-hover-primary">{{'ACTION.TEAM' | translate}}</a>
        <a href="https://ntk.ir" target="_blank"
          class="text-white opacity-55 pr-0 text-hover-primary">{{'ACTION.CONTACT' | translate}}</a>
      </div>
      <!--end::Nav-->
    </div>
  </div>
  <!--end::Container-->
</ng-container>