<form (ngSubmit)="onFormSubmit()" #vform="ngForm">
  <div class="ntk-cms-html-card-header">
    <!--begin:::::::::::::::::::::::::::::::::::::::::cms-header-->
    {{ formInfo.formTitle }}
    <!--end:::::::::::::::::::::::::::::::::::::::::cms-header-->
  </div>
  <div class="ntk-cms-html-card-body">
    <app-progress-spinner [options]="loading"> </app-progress-spinner>
    <!--begin:::::::::::::::::::::::::::::::::::::::::cms-body-->

    <!-- Title Field -->
    <mat-form-field class="ntk-full-width">
      <mat-label>{{fieldsInfo['title']?.fieldTitle}}</mat-label>
      <input matInput [(ngModel)]="dataModel.title" name="dataModel.title" #Title type="text"
        placeholder="{{fieldsInfo['title']?.fieldTitle}}" minlength="3" maxlength="100" required />
      <mat-icon matSuffix *ngIf="dataModel.title" matSuffix mat-icon-button aria-label="Clear"
        (click)="dataModel.title = ''">close</mat-icon>
      <mat-icon matSuffix>mode_edit</mat-icon>
      <mat-hint align="end">{{ Title.value.length }} / 100</mat-hint>
      <mat-error *ngIf="Title.errors?.required">
        Title is <strong>{{'MESSAGE.required' | translate}}</strong>
      </mat-error>
    </mat-form-field>


    <!-- LinkPropertyTypeId Field -->
    <!-- <app-member-propertytypelanduse-selector (optionChange)="onActionSelectorSelect($event)"
      [optionSelectForce]="dataModel.LinkPropertyTypeId" [optionPlaceholder]="'کابری'"
      [optionDisabled]="!fieldsInfo['linkPropertyTypeId']?.accessEditField">
    </app-member-propertytypelanduse-selector> -->



    <!-- LinkPropertyDetailGroupId Field -->
    <app-member-propertydetailgroup-selector (optionChange)="onActionSelectorDetailGroup($event)" [(loading)]="loading"
      [optionSelectForce]="dataModel.linkPropertyDetailGroupId"
      [optionPlaceholder]="this.translate.instant('TITLE.Category')"
      [optionDisabled]="!fieldsInfo['linkPropertyDetailGroupId']?.accessEditField">
    </app-member-propertydetailgroup-selector>
    <!-- IconFont Field -->
    <mat-form-field class="ntk-full-width" *ngIf="fieldsInfo['iconFont']?.accessWatchField">
      <mat-label> {{fieldsInfo['iconFont']?.fieldTitle}}</mat-label>
      <input matInput [(ngModel)]="dataModel.iconFont" name="dataModel.iconFont" #IconFont
        [iconPicker]="dataModel.iconFont" [ipIconPack]="['fa']" [ipPosition]="'top'"
        (iconPickerSelect)="onIconPickerSelect($event)" type="text"
        [disabled]="!fieldsInfo['iconFont']?.accessEditField" placeholder="{{fieldsInfo['iconFont']?.fieldTitle}}" />
      <span class="input-group-addon"><i [ngClass]="dataModel.iconFont"></i></span>
      <mat-icon>{{dataModel.iconFont}}</mat-icon>
      <mat-icon matSuffix *ngIf="dataModel.iconFont" matSuffix mat-icon-button aria-label="Clear"
        (click)="dataModel.iconFont = ''">close</mat-icon>
      <mat-icon matSuffix>mode_edit</mat-icon>
    </mat-form-field>

    <!-- ShowInFormOrder Field -->
    <mat-form-field class="ntk-full-width" *ngIf="fieldsInfo['showInFormOrder']?.accessWatchField">
      <mat-label> {{fieldsInfo['showInFormOrder']?.fieldTitle}}</mat-label>
      <input matInput [(ngModel)]="dataModel.showInFormOrder" name="dataModel.showInFormOrder" #ShowInFormOrder
        type="number" [disabled]="!fieldsInfo['showInFormOrder']?.accessEditField"
        placeholder="{{fieldsInfo['showInFormOrder']?.fieldTitle}}" />
      <mat-icon matSuffix *ngIf="dataModel.showInFormOrder" matSuffix mat-icon-button aria-label="Clear"
        (click)="dataModel.showInFormOrder = 1">close</mat-icon>
      <mat-icon matSuffix>mode_edit</mat-icon>
    </mat-form-field>
    <!-- InputDataType Field -->
    <mat-form-field class="ntk-full-width">
      <mat-select placeholder="{{'TITLE.TypeId' | translate}}" [(ngModel)]="dataModel.inputDataType"
        name="dataModel.inputDataType" #InputDataType="ngModel"
        panelClass="InputDataType-{{ dataModel.inputDataType }}">
        <mat-option *ngFor="
                      let item of dataModelEnumInputDataTypeResult.listItems;
                      index as i
                    " [value]="item.value">{{ item.description }}</mat-option>
      </mat-select>
    </mat-form-field>
    <!-- Unit Field -->
    <mat-form-field class="ntk-full-width">
      <mat-label>{{fieldsInfo['unit']?.fieldTitle}}</mat-label>
      <input matInput [(ngModel)]="dataModel.unit" name="dataModel.unit" #Unit type="text"
        placeholder="{{fieldsInfo['unit']?.fieldTitle}}" minlength="1" maxlength="64" />
      <mat-icon matSuffix *ngIf="dataModel.unit" matSuffix mat-icon-button aria-label="Clear"
        (click)="dataModel.unit = ''">close</mat-icon>
      <mat-icon matSuffix>mode_edit</mat-icon>
      <mat-hint align="end">{{ Unit.value.length }} / 64</mat-hint>

    </mat-form-field>

    <!-- InvisibleForEndUser Field -->
    <div class="ntk-full-width">
      <mat-slide-toggle [(ngModel)]="dataModel.invisibleForEndUser"
        *ngIf="fieldsInfo['invisibleForEndUser']?.accessWatchField"
        [disabled]="!fieldsInfo['invisibleForEndUser']?.accessEditField" name="dataModel.invisibleForEndUser">
        {{fieldsInfo['invisibleForEndUser']?.fieldTitle}}
      </mat-slide-toggle>
    </div>
    <!-- InvisibleForSubmiter Field -->
    <div class="ntk-full-width">
      <mat-slide-toggle [(ngModel)]="dataModel.invisibleForSubmiter"
        *ngIf="fieldsInfo['invisibleForSubmiter']?.accessWatchField"
        [disabled]="!fieldsInfo['invisibleForSubmiter']?.accessEditField" name="dataModel.invisibleForSubmiter">
        {{fieldsInfo['invisibleForSubmiter']?.fieldTitle}}
      </mat-slide-toggle>
    </div>
    <!-- Required Field -->
    <div class="ntk-full-width">
      <mat-slide-toggle [(ngModel)]="dataModel.required" *ngIf="fieldsInfo['required']?.accessWatchField"
        [disabled]="!fieldsInfo['required']?.accessEditField" name="dataModel.required">
        {{fieldsInfo['required']?.fieldTitle}}
      </mat-slide-toggle>
    </div>
    <!-- IsHistoryable Field -->
    <div class="ntk-full-width">
      <mat-slide-toggle [(ngModel)]="dataModel.isHistoryable" *ngIf="fieldsInfo['isHistoryable']?.accessWatchField"
        [disabled]="!fieldsInfo['isHistoryable']?.accessEditField" name="dataModel.isHistoryable">
        {{fieldsInfo['isHistoryable']?.fieldTitle}}
      </mat-slide-toggle>
    </div>
    <!-- IsSearchable Field -->
    <div class="ntk-full-width">
      <mat-slide-toggle [(ngModel)]="dataModel.isSearchable" *ngIf="fieldsInfo['isSearchable']?.accessWatchField"
        [disabled]="!fieldsInfo['isSearchable']?.accessEditField" name="dataModel.isSearchable">
        {{fieldsInfo['isSearchable']?.fieldTitle}}
      </mat-slide-toggle>
    </div>

    <mat-form-field style="width: 100%;" appearance="fill">
      <mat-label>{{'TITLE.Choose_keywords_relative_to_the_content' | translate}}</mat-label>
      <mat-chip-grid #chipList aria-label="this.translate.instant('TITLE.key_word')">
        <mat-chip *ngFor="let item of keywordDataModel" (removed)="removeTag(item)">
          {{item}}
          <button matChipRemove>
            <mat-icon>cancel</mat-icon>
          </button>
        </mat-chip>
        <input placeholder="{{'TITLE.key_word' | translate}}+" [matChipInputFor]="chipList"
          [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlurTag"
          (matChipInputTokenEnd)="addTag($event)"/>
      </mat-chip-grid>
    </mat-form-field>
    <!--end:::::::::::::::::::::::::::::::::::::::::cms-body-->
  </div>
  <div class="ntk-cms-html-card-message">
    <!--begin:::::::::::::::::::::::::::::::::::::::::cms-message-->
    <div class="form-actions">
      <small class="form-text text-muted">{{ formInfo.formAlert }} </small>
      <small class="form-text text-muted danger">{{ formInfo.formError }}
      </small>
    </div>
    <!--end:::::::::::::::::::::::::::::::::::::::::cms-message-->
  </div>
  <div class="ntk-cms-html-card-footer">
    <!--begin:::::::::::::::::::::::::::::::::::::::::cms-footer-->
    <div class="form-actions" *ngIf="formInfo.formSubmitAllow  && !loading.display">
      <button type="button" (click)="onFormCancel()" class="btn btn-light">
        <i class="ft-x"></i> {{'ACTION.CANCEL' | translate}}
      </button>
      <button type="submit" (click)="onFormSubmit()" class="btn btn-success" [disabled]="!vform.form.valid">
        <i class="fa fa-check-square-o"></i> {{'ACTION.SAVE' | translate}}
      </button>
    </div>
    <!--end:::::::::::::::::::::::::::::::::::::::::cms-footer-->
  </div>
</form>
