<app-cms-guide-notice [Key]="'article.content.list.add'"
  [svg]="'assets/media/svg/icons/General/Notifications1.svg'"></app-cms-guide-notice>

<form (ngSubmit)="onFormSubmit()" #vform="ngForm">
  <div class="ntk-cms-html-card-header">
    <!--begin:::::::::::::::::::::::::::::::::::::::::cms-header-->
    {{ formInfo.formTitle }}
    <!--end:::::::::::::::::::::::::::::::::::::::::cms-header-->
  </div>
  <div class="ntk-cms-html-card-body">
    <app-progress-spinner [options]="loading"> </app-progress-spinner>
    <!--begin:::::::::::::::::::::::::::::::::::::::::cms-body-->
    <mat-horizontal-stepper (selectionChange)="onStepClick($event,stepper)" #stepper>
      <mat-step label="{{'TITLE.REQUIRED_INFORMATION' | translate}}" state="main">
        <!-- RecordStatus Field -->
        <mat-form-field class="ntk-full-width" *ngIf="fieldsInfo['recordStatus']?.accessWatchField">
          <mat-label>{{fieldsInfo['recordStatus']?.fieldTitle}}</mat-label>
          <mat-select placeholder="{{fieldsInfo['recordStatus']?.fieldTitle}}" [(ngModel)]="dataModel.recordStatus"
            [disabled]="!fieldsInfo['recordStatus']?.accessAddField" name="dataModel.recordStatus"
            #RecordStatus="ngModel" panelClass="recordStatus-{{ dataModel.recordStatus }}" required>
            <mat-option *ngFor="
                let item of dataModelEnumRecordStatusResult.listItems;
                index as i
              " [value]="item.value">{{ item.description }}</mat-option>
          </mat-select>
          <mat-hint align="start"><mat-icon matSuffix class="info-field-icon">info</mat-icon>
            <strong class="info-field-text">{{fieldsInfo['recordStatus']?.FieldDescription}}</strong> </mat-hint>
          <mat-hint align="end">{{'TITLE.SELECT_STATUS' | translate}}</mat-hint>
          <mat-error *ngIf="RecordStatus.errors?.required">
            {{fieldsInfo['recordStatus']?.fieldTitle}} <strong>{{'MESSAGE.required' | translate}}</strong>
          </mat-error>
        </mat-form-field>
        <!-- LinkCategoryId Field -->
        <app-article-category-selector (optionChange)="onActionSelectorSelect($event)" [(loading)]="loading"
          [optionSelectForce]="dataModel.linkCategoryId" [optionPlaceholder]="this.translate.instant('TITLE.Category')">
        </app-article-category-selector>
        <!-- Title Field -->
        <mat-form-field class="ntk-full-width" *ngIf="fieldsInfo['title']?.accessWatchField">
          <mat-label>{{fieldsInfo['title']?.fieldTitle}}</mat-label>
          <input matInput [(ngModel)]="dataModel.title" name="dataModel.title" #Title type="text"
            disabled="{{!fieldsInfo['title']?.accessAddField}}" placeholder="{{fieldsInfo['title']?.fieldTitle}}"
            minlength="3" maxlength="100" required />
          <mat-icon matSuffix *ngIf="dataModel.title" matSuffix mat-icon-button aria-label="Clear"
            (click)="dataModel.title = ''">close</mat-icon>
          <mat-icon matTooltip="{{fieldsInfo['title']?.FieldDescription}}" matSuffix> info</mat-icon>
          <mat-hint align="end">{{ Title.value.length }} / 100</mat-hint>
          <mat-error *ngIf="Title.errors?.required">
            {{fieldsInfo['title']?.fieldTitle}} <strong>{{'MESSAGE.required' | translate}}</strong>
          </mat-error>
        </mat-form-field>
        <!-- Description Field -->
        <mat-form-field class="ntk-full-width" *ngIf="fieldsInfo['description']?.accessWatchField">
          <mat-label>{{fieldsInfo['description']?.fieldTitle}}</mat-label>
          <textarea matInput [(ngModel)]="dataModel.description" name="dataModel.description" #Description type="text"
            disabled="{{!fieldsInfo['description']?.accessAddField}}"
            placeholder="{{fieldsInfo['description']?.fieldTitle}}" minlength="1" maxlength="500" rows="5"></textarea>
          <mat-icon matSuffix *ngIf="dataModel.description" matSuffix mat-icon-button aria-label="Clear"
            (click)="dataModel.description = ''">close</mat-icon>
          <mat-icon matTooltip="{{fieldsInfo['description']?.FieldDescription}}" matSuffix>info</mat-icon>
          <mat-hint align="end">{{ Description.value.length }} / 500</mat-hint>
          <mat-error *ngIf="Description.errors?.required">
            {{fieldsInfo['description']?.fieldTitle}} <strong>{{'MESSAGE.required' | translate}}</strong>
          </mat-error>
        </mat-form-field>
        <!-- FromDate Field -->
        <mat-form-field class="ntk-full-width" *ngIf="fieldsInfo['fromDate']?.accessWatchField">
          <mat-label>{{fieldsInfo['fromDate']?.fieldTitle}}</mat-label>
          <input matInput [matDatepicker]="FromDate" [(ngModel)]="dataModel.fromDate" name="dataModel.fromDate"
            disabled="{{!fieldsInfo['fromDate']?.accessAddField}}"
            placeholder="{{fieldsInfo['fromDate']?.fieldTitle}}" />
          <mat-icon matSuffix *ngIf="dataModel.fromDate && fieldsInfo['fromDate']?.accessEditField" matSuffix
            mat-icon-button aria-label="Clear" (click)="dataModel.fromDate = null">close</mat-icon>
          <mat-icon matSuffix *ngIf="dataModel.fromDate && fieldsInfo['fromDate']?.accessEditField" matSuffix
            mat-icon-button aria-label="Clear" (click)="dataModel.fromDate = null">close</mat-icon>
          <mat-datepicker-toggle matSuffix [for]="FromDate"></mat-datepicker-toggle>
          <mat-datepicker touchUi #FromDate></mat-datepicker>
          <mat-icon matTooltip="{{fieldsInfo['fromDate']?.FieldDescription}}" matSuffix>info</mat-icon>
        </mat-form-field>
        <!-- ExpireDate Field -->
        <mat-form-field class="ntk-full-width" *ngIf="fieldsInfo['expireDate']?.accessWatchField">
          <mat-label>{{fieldsInfo['expireDate']?.fieldTitle}}</mat-label>
          <input matInput [matDatepicker]="ExpireDate" [(ngModel)]="dataModel.expireDate" name="dataModel.expireDate"
            disabled="{{!fieldsInfo['expireDate']?.accessAddField}}"
            placeholder="{{fieldsInfo['expireDate']?.fieldTitle}}" />
          <mat-icon matSuffix *ngIf="dataModel.expireDate && fieldsInfo['expireDate']?.accessAddField" matSuffix
            mat-icon-button aria-label="Clear" (click)="dataModel.expireDate = null">close</mat-icon>
          <mat-datepicker-toggle matSuffix [for]="ExpireDate"></mat-datepicker-toggle>
          <mat-datepicker touchUi #ExpireDate></mat-datepicker>
          <mat-hint align="start"><mat-icon matSuffix class="info-field-icon">info</mat-icon>
            <strong class="info-field-text">{{fieldsInfo['expireDate']?.FieldDescription}}</strong> </mat-hint>
        </mat-form-field>
        <hr class="pb-5" />
        <!-- editorConfig Field -->
        <angular-editor [placeholder]="this.translate.instant('TITLE.Enter_Text')" [config]="publicHelper.editorConfig"
          id="main" [(ngModel)]="dataModel.body" name="dataModel.body"></angular-editor>
        <div *ngIf="formInfo.formSubmitAllow  && !loading.display" class="ntk-button-row">
          <button type="button" mat-raised-button (click)="onActionBackToParent()">
            {{'ACTION.BACK' | translate}}
          </button>
          <button type="button" mat-raised-button color="primary" [disabled]="!vform.form.valid" matStepperNext>
            {{'ACTION.NEXT' | translate}}
          </button>
        </div>
      </mat-step>
      <mat-step label="{{'TITLE.Search_Engines' | translate}}" state="seo">
        <p>{{'TITLE.This_section_helps_search_engines_better_index_content' | translate}}</p>
        <!-- Source Field -->
        <mat-form-field class="ntk-full-width" *ngIf="fieldsInfo['source']?.accessWatchField">
          <mat-label>{{'TITLE.Source_page_address' | translate}}</mat-label>
          <input matInput [(ngModel)]="dataModel.source" name="dataModel.source" #Source type="text" dir="ltr"
            style="text-align: left;" placeholder="{{'TITLE.Content_reference_website_link' | translate}}"
            disabled="{{!fieldsInfo['source']?.accessAddField}}" minlength="3" maxlength="500" />
          <mat-icon matSuffix *ngIf="dataModel.source" matSuffix mat-icon-button aria-label="Clear"
            (click)="dataModel.source = ''">close</mat-icon>
          <mat-icon matSuffix>mode_edit</mat-icon>
          <mat-hint align="start"><mat-icon matSuffix class="info-field-icon">info</mat-icon>
            <strong class="info-field-text">{{fieldsInfo['source']?.FieldDescription}}</strong> </mat-hint>
          <mat-hint align="end">{{ Source.value.length }} / 500</mat-hint>
        </mat-form-field>
        <!-- Tag Field -->
        <app-cms-tag-autocomplete (optionChange)="onActionTagChange($event)" [optionPlaceholder]="' + Tag '">
        </app-cms-tag-autocomplete>
        <!-- KeywordModel Field -->
        <mat-form-field style="width: 100%;" appearance="fill">
          <mat-label>{{'TITLE.Choose_keywords_relative_to_the_content' | translate}}</mat-label>
          <mat-chip-grid #chipList aria-label="this.translate.instant('TITLE.key_word')">
            <mat-chip *ngFor="let item of keywordDataModel" (removed)="removeTag(item)">
              {{item}}
              <button matChipRemove>
                <mat-icon>cancel</mat-icon>
              </button>
            </mat-chip>
            <input placeholder="{{'TITLE.key_word' | translate}}+" [matChipInputFor]="chipList"
              [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlurTag"
              (matChipInputTokenEnd)="addTag($event)" />
          </mat-chip-grid>
        </mat-form-field>



        <div *ngIf="formInfo.formSubmitAllow  && !loading.display" class="ntk-button-row">
          <button type="button" mat-raised-button color="accent" matStepperPrevious>
            {{'ACTION.BEFOR' | translate}}
          </button>
          <button type="button" mat-raised-button color="primary" [disabled]="!vform.form.valid" matStepperNext>
            {{'ACTION.NEXT' | translate}}
          </button>
        </div>
      </mat-step>
      <mat-step label="{{'TITLE.ATTACH_FILES' | translate}}" state="file">
        <p>{{'TITLE.CONTENT_ATTACH_FILES' | translate}}</p>
        <!-- LinkMainImageIdSrc Field -->
        <div class="mb-3">
          <a href="{{dataModel.linkMainImageIdSrc | cmsthumbnail}}" target="_blank">
            <img *ngIf="dataModel?.linkMainImageIdSrc?.length>0" style="vertical-align:middle;" class="ntk-hover-zoom"
              aria-hidden src="{{dataModel.linkMainImageIdSrc | cmsthumbnail}}" height="50" width="50" />
          </a>
        </div>
        <div class="mb-9">
          <mat-form-field class="ntk-full-width">
            <mat-label (click)="fileManagerOpenForm = true">{{'TITLE.Original_Photo' | translate}}</mat-label>
            <input matInput [(ngModel)]="dataModel.linkMainImageId" name="dataModel.linkMainImageId" #LinkMainImageId
              type="text" placeholder="{{'TITLE.Original_File_ID' | translate}}" autocomplete="off"
              (click)="fileManagerOpenForm = true" />
            <mat-icon matSuffix *ngIf="dataModel.linkMainImageId" matSuffix mat-icon-button aria-label="Clear"
              (click)="dataModel.linkMainImageId = null">close</mat-icon>
            <mat-icon matSuffix (click)="fileManagerOpenForm = true">mode_edit</mat-icon>
          </mat-form-field>
          <cms-file-manager (itemSelected)="onActionFileSelectedLinkMainImageId($event)" [language]="appLanguage"
            [isPopup]="true" [(openForm)]="fileManagerOpenForm" [tree]="fileManagerTree" [openDirectUploadView]="true"
            [openFilemanagerButtonLabelKey]="'select'" [selectFileType]="selectFileTypeMainImage"
            [openFilemanagerButtonView]="false"></cms-file-manager>
        </div>
        <!-- LinkFilePodcastIdSrc Field -->
        <div class="mb-3">
          <audio *ngIf="dataModel?.linkFilePodcastIdSrc?.length>0" controls>
            <source src="{{dataModel.linkFilePodcastIdSrc | cmsthumbnail}}" type="audio/mp3">
            Your browser does not support the audio tag.
          </audio>
        </div>
        <div class="mb-9">
          <mat-form-field class="ntk-full-width">
            <input matInput [(ngModel)]="dataModel.linkFilePodcastId" name="dataModel.linkFilePodcastId"
              #LinkFilePodcastId type="text" placeholder="{{'TITLE.Audio_File_ID' | translate}}"
              (click)="fileManagerOpenFormPodcast = true" />
            <mat-icon matSuffix *ngIf="dataModel.linkFilePodcastId" matSuffix mat-icon-button aria-label="Clear"
              (click)="dataModel.linkFilePodcastId = null">close</mat-icon>
            <mat-icon matSuffix (click)="fileManagerOpenFormPodcast = true">mode_edit</mat-icon>
          </mat-form-field>
          <cms-file-manager (itemSelected)="onActionFileSelectedLinkFilePodcastId($event)" [language]="appLanguage"
            [isPopup]="true" [(openForm)]="fileManagerOpenFormPodcast" [tree]="fileManagerTree"
            [openDirectUploadView]="true" [openFilemanagerButtonLabelKey]="'select'"
            [selectFileType]="selectFileTypePodcast" [openFilemanagerButtonView]="false"></cms-file-manager>
        </div>
        <!-- LinkFileMovieId Field -->
        <div class="mb-3">
          <video *ngIf="dataModel?.linkFileMovieIdSrc?.length>0" controls>
            <source src="{{dataModel.linkFileMovieIdSrc }}" type="video/mp4">
            Your browser does not support the video tag.
          </video>
        </div>
        <div class="mb-9">
          <mat-form-field class="ntk-full-width">
            <input matInput [(ngModel)]="dataModel.linkFileMovieId" name="dataModel.linkFileMovieId" #LinkFileMovieId
              type="text" placeholder="{{'TITLE.Video_File_ID' | translate}}"
              (click)="fileManagerOpenFormMovie = true" />
            <mat-icon matSuffix *ngIf="dataModel.linkFileMovieId" matSuffix mat-icon-button aria-label="Clear"
              (click)="dataModel.linkFileMovieId = null">close</mat-icon>
            <mat-icon matSuffix (click)="fileManagerOpenFormMovie = true">mode_edit</mat-icon>
          </mat-form-field>
          <cms-file-manager (itemSelected)="onActionFileSelectedLinkFileMovieId($event)" [language]="appLanguage"
            [isPopup]="true" [(openForm)]="fileManagerOpenFormMovie" [tree]="fileManagerTree"
            [openDirectUploadView]="true" [openFilemanagerButtonLabelKey]="'select'"
            [selectFileType]="selectFileTypeMovie" [openFilemanagerButtonView]="false"></cms-file-manager>
        </div>
        <div *ngIf="formInfo.formSubmitAllow  && !loading.display" class="ntk-button-row">
          <button type="button" mat-raised-button color="accent" matStepperPrevious>
            {{'ACTION.BEFOR' | translate}}
          </button>
          <button type="button" mat-raised-button color="primary" [disabled]="!vform.form.valid" matStepperNext>
            {{'ACTION.NEXT' | translate}}
          </button>
        </div>
      </mat-step>
      <mat-step label="{{'TITLE.OTHER_INFO' | translate}}" state="otherinfo">
        <p>{{'TITLE.Add_other_information_related_to_this_content_in_this_section' | translate}}</p>
        <!-- Title Field -->
        <mat-form-field class="ntk-full-width">
          <mat-label>{{fieldsInfo['title']?.fieldTitle}}</mat-label>
          <input matInput [(ngModel)]="contentOtherInfoSelected.title" name="contentOtherInfoSelected.title"
            #contentOtherInfoSelected_Title type="text" placeholder="{{fieldsInfo['title']?.fieldTitle}}" minlength="3"
            maxlength="100" />
          <mat-icon matSuffix *ngIf="contentOtherInfoSelected.title" matSuffix mat-icon-button aria-label="Clear"
            (click)="contentOtherInfoSelected.title = ''">close</mat-icon>
          <mat-icon matSuffix>mode_edit</mat-icon>
          <mat-hint align="end">{{ contentOtherInfoSelected_Title.value.length }} / 100</mat-hint>
        </mat-form-field>
        <!-- TypeId Field -->
        <mat-form-field class="ntk-full-width">
          <mat-label>{{'TITLE.Key' | translate}}</mat-label>
          <input matInput [(ngModel)]="contentOtherInfoSelected.typeId" name="contentOtherInfoSelected.typeId"
            #contentOtherInfoSelected_TypeId type="number"
            placeholder="{{'TITLE.Agreement_number_to_display' | translate}}" />
          <mat-icon matSuffix *ngIf="contentOtherInfoSelected.typeId" matSuffix mat-icon-button aria-label="Clear"
            (click)="contentOtherInfoSelected.typeId = null">close</mat-icon>
          <mat-icon matSuffix>mode_edit</mat-icon>
          <!-- Source Field -->
        </mat-form-field>
        <mat-form-field class="ntk-full-width">
          <mat-label>{{'TITLE.Source' | translate}}</mat-label>
          <input matInput [(ngModel)]="contentOtherInfoSelected.source" name="contentOtherInfoSelected.source"
            #contentOtherInfoSelected_Source type="text" dir="ltr" style="text-align: left;" placeholder="http://"
            maxlength="100" />
          <mat-icon matSuffix *ngIf="contentOtherInfoSelected.source" matSuffix mat-icon-button aria-label="Clear"
            (click)="contentOtherInfoSelected.source = ''">close</mat-icon>
          <mat-icon matSuffix>mode_edit</mat-icon>
          <mat-hint align="end">{{ contentOtherInfoSelected_Source.value.length }} / 500</mat-hint>
        </mat-form-field>
        <!-- editorConfig Field -->
        <angular-editor [placeholder]="this.translate.instant('TITLE.Enter_Text')" [config]="publicHelper.editorConfig"
          id="OtherInfo" [(ngModel)]="contentOtherInfoSelected.htmlBody"
          name="contentOtherInfoSelected.htmlBody"></angular-editor>
        <button (click)="onActionContentOtherInfoAddToLIst()" type="button" mat-button
          class="btn btn-light-primary font-weight-bold font-size-h5 px-9 py-4" style="margin: 10px 0px;">
          {{'ACTION.Add_To_List' | translate}}
        </button>
        <p>{{'TITLE.List_of_other_information' | translate}}</p>
        <!-- TABLE  -->
        <div class="example-container mat-elevation-z8">
          <mat-table [dataSource]="otherInfoTabledataSource">
            <!-- Title Column -->
            <ng-container matColumnDef="Title">
              <mat-header-cell *matHeaderCellDef> {{fieldsInfo['title']?.fieldTitle}} </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.title}} </mat-cell>
            </ng-container>
            <!-- TypeId Column -->
            <ng-container matColumnDef="TypeId">
              <mat-header-cell *matHeaderCellDef> {{fieldsInfo['typeId']?.fieldTitle}} </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.typeId}} </mat-cell>
            </ng-container>
            <!-- Action Column -->
            <ng-container matColumnDef="Action">
              <mat-header-cell *matHeaderCellDef> {{'TITLE.OPTION' | translate}} </mat-header-cell>
              <mat-cell *matCellDef="let row; let i = index" class='Action'>
                <small (click)="onActionContentOtherInfoEditFromLIst(i)"><mat-icon aria-hidden="false"
                    style="color: blue;">edit</mat-icon>{{'ACTION.EDIT' | translate}}</small>|
                <small (click)="onActionContentOtherInfoRemoveFromLIst(i)"><mat-icon aria-hidden="false"
                    style="color: red;">delete</mat-icon>{{'ACTION.DELETE' | translate}}</small>
              </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="otherInfoTabledisplayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: otherInfoTabledisplayedColumns;"
              [ngStyle]="{'background': row.title === contentOtherInfoSelected.title ? '#d3d3da' : '' }">
            </mat-row>
          </mat-table>
        </div>
        <!-- TABLE  -->
        <div *ngIf="formInfo.formSubmitAllow  && !loading.display" class="ntk-button-row">
          <button type="button" mat-raised-button color="accent" matStepperPrevious>
            {{'ACTION.BEFOR' | translate}}
          </button>
          <button type="button" mat-raised-button color="primary" [disabled]="!vform.form.valid" matStepperNext>
            {{'ACTION.NEXT' | translate}}
          </button>
        </div>
      </mat-step>
      <mat-step label="{{'TITLE.Similar_Content' | translate}} " state="loaction">
        <p>{{'TITLE.Specify_relevant_content' | translate}}</p>
        <app-article-content-selector (optionChange)="onActionContentSimilarSelect($event)" [(loading)]="loading"
          [optionPlaceholder]="this.translate.instant('TITLE.Similar_Content')">
          <button *ngIf="contentSimilarSelected && contentSimilarSelected.id"
            (click)="onActionContentSimilarAddToLIst()" type="button" mat-button
            class="btn btn-light-primary font-weight-bold text-uppercase px-9 py-4">
            {{'ACTION.ACTION.Add_To_List' | translate}} ...
          </button>
        </app-article-content-selector>
        <!-- TABLE  -->
        <div class="example-container mat-elevation-z8">
          <mat-table [dataSource]="similarTabledataSource">
            <!-- LinkMainImageIdSrc Column -->
            <ng-container matColumnDef="LinkMainImageIdSrc">
              <mat-header-cell *matHeaderCellDef> {{'TITLE.PICTURE' | translate}} </mat-header-cell>
              <mat-cell *matCellDef="let row">
                <img *ngIf="row?.linkMainImageIdSrc?.length>0" style="vertical-align:middle;" class="ntk-hover-zoom"
                  aria-hidden src="{{row.linkMainImageIdSrc | cmsthumbnail}}" height="40" width="40" />
              </mat-cell>
            </ng-container>
            <!-- Id Column -->
            <ng-container matColumnDef="Id">
              <mat-header-cell *matHeaderCellDef> {{'TITLE.Id' | translate}} </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.id}} </mat-cell>
            </ng-container>
            <!-- LinkSiteId Column -->
            <ng-container matColumnDef="LinkSiteId">
              <mat-header-cell *matHeaderCellDef> {{'TITLE.Site_Id' | translate}} </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.linkSiteId}} </mat-cell>
            </ng-container>
            <!-- RecordStatus Column -->
            <ng-container matColumnDef="RecordStatus">
              <mat-header-cell *matHeaderCellDef> {{'TITLE.RecordStatus' | translate}} </mat-header-cell>
              <mat-cell *matCellDef="let row"> <i [ngClass]="row.recordStatus|statusClass"></i>
              </mat-cell>
            </ng-container>
            <!-- Title Column -->
            <ng-container matColumnDef="Title">
              <mat-header-cell *matHeaderCellDef> {{'TITLE.title' | translate}} </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.title}} </mat-cell>
            </ng-container>
            <!-- Action Column -->
            <ng-container matColumnDef="Action">
              <mat-header-cell *matHeaderCellDef> {{'TITLE.OPTION' | translate}} </mat-header-cell>
              <mat-cell *matCellDef="let row; let i = index" class='Action'>
                <small (click)="onActionContentSimilarRemoveFromLIst(row)"><mat-icon aria-hidden="false"
                    style="color: red;">delete</mat-icon>{{'ACTION.DELETE' | translate}}</small>
              </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="similarTabledisplayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: similarTabledisplayedColumns;"
              [ngStyle]="{'background': row.id === contentSimilarSelected.id ? '#d3d3da' : '' }">
            </mat-row>
          </mat-table>
        </div>
        <!-- TABLE  -->
        <div *ngIf="formInfo.formSubmitAllow  && !loading.display" class="ntk-button-row">
          <button type="button" mat-raised-button color="accent" matStepperPrevious>
            {{'ACTION.BEFOR' | translate}}
          </button>
          <button type="button" mat-raised-button color="primary" [disabled]="!vform.form.valid" matStepperNext>
            {{'ACTION.NEXT' | translate}}
          </button>
        </div>
      </mat-step>
      <mat-step label="{{'TITLE.Location' | translate}} " state="loaction">
        <!-- LinkLocationId Field -->
        <app-cms-location-selector (optionChange)="onActionSelectorLocation($event)" [(loading)]="loading"
          [optionDisabled]="!fieldsInfo['linkLocationId']?.accessEditField"
          [optionSelectForce]="dataModel.linkLocationId" [optionPlaceholder]="this.translate.instant('TITLE.Region')">
        </app-cms-location-selector>
        <p>{{'TITLE.Click_on_the_map_to_specify_the_location' | translate}}</p>
        <app-cms-map (map$)="receiveMap($event)" (zoom$)="receiveZoom($event)" [optonCenter]="mapOptonCenter"
          id='main-map'></app-cms-map>
        <div *ngIf="formInfo.formSubmitAllow  && !loading.display" class="ntk-button-row">
          <button type="button" mat-raised-button color="accent" matStepperPrevious>
            {{'ACTION.BEFOR' | translate}}
          </button>
          <button type="submit" mat-raised-button color="success" [disabled]="!vform.form.valid">
            {{'ACTION.SAVE' | translate}}
          </button>
        </div>
      </mat-step>
      <!-- Icon overrides. -->
      <ng-template matStepperIcon="main">
        <mat-icon>call_end</mat-icon>
      </ng-template>
      <ng-template matStepperIcon="seo">
        <mat-icon>call_end</mat-icon>
      </ng-template>
      <ng-template matStepperIcon="file">
        <mat-icon>forum</mat-icon>
      </ng-template>
      <ng-template matStepperIcon="loaction">
        <mat-icon>forum</mat-icon>
      </ng-template>
    </mat-horizontal-stepper>
    <!--end:::::::::::::::::::::::::::::::::::::::::cms-body-->
  </div>
  <div class="ntk-cms-html-card-message">
    <!--begin:::::::::::::::::::::::::::::::::::::::::cms-message-->
    <!--end:::::::::::::::::::::::::::::::::::::::::cms-message-->
  </div>
  <div class="ntk-cms-html-card-footer">
    <!--begin:::::::::::::::::::::::::::::::::::::::::cms-footer-->
    <!--end:::::::::::::::::::::::::::::::::::::::::cms-footer-->
  </div>
</form>