<form (ngSubmit)="onFormSubmit()" #vform="ngForm">
  <div class="ntk-cms-html-card-header">
    <!--begin:::::::::::::::::::::::::::::::::::::::::cms-header-->
    {{ formInfo.formTitle }}
    <!--end:::::::::::::::::::::::::::::::::::::::::cms-header-->
  </div>
  <div class="ntk-cms-html-card-body">
    <app-progress-spinner [options]="loading"> </app-progress-spinner>
    <!--begin:::::::::::::::::::::::::::::::::::::::::cms-body-->

    <!-- RecordStatus Field -->
    <mat-form-field class="ntk-full-width">
      <mat-select placeholder="{{fieldsInfo['RecordStatus']?.fieldTitle}}" [(ngModel)]="dataModel.recordStatus"
        name="dataModel.recordStatus" #RecordStatus="ngModel" panelClass="recordStatus-{{ dataModel.recordStatus }}"
        required>
        <mat-option *ngFor="
                let item of dataModelEnumRecordStatusResult.listItems;
                index as i
              " [value]="item.value">{{ item.description }}</mat-option>
      </mat-select>
      <mat-hint align="end">{{'TITLE.SELECT_STATUS' | translate}}</mat-hint>
      <mat-error *ngIf="RecordStatus.errors?.required">
        RecordStatus is <strong>{{'MESSAGE.required' | translate}}</strong>
      </mat-error>
    </mat-form-field>
    <!-- LinkParentId Field -->
    <app-core-guide-selector (optionChange)="onActionSelectorSelect($event)" [optionDisabled]="false"
      [optionSelectForce]="dataModel.linkParentId" [optionPlaceholder]="this.translate.instant('TITLE.Parent_Menu')">
    </app-core-guide-selector>

    <!-- Key Field -->
    <mat-form-field class="ntk-full-width">
      <mat-label>Key</mat-label>
      <input matInput [(ngModel)]="dataModel.key" name="dataModel.key" #Key type="text" placeholder="Key" minlength="3"
        maxlength="100" required />
      <mat-icon matSuffix *ngIf="dataModel.key" matSuffix mat-icon-button aria-label="Clear"
        (click)="dataModel.key = ''">"this.translate.instant('TITLE.close')"</mat-icon>
      <mat-icon matSuffix>mode_edit</mat-icon>
      <mat-hint align="end">{{ Key.value.length }} / 100</mat-hint>
      <mat-error *ngIf="Key.errors?.required">
        Key is <strong>{{'MESSAGE.required' | translate}}</strong>
      </mat-error>
    </mat-form-field>
    <!-- TitleFa Field -->
    <mat-form-field class="ntk-full-width">
      <mat-label>{{fieldsInfo['TitleFa']?.fieldTitle}}</mat-label>
      <input matInput [(ngModel)]="dataModel.titleFa" name="dataModel.titleFa" #TitleFa type="text"
        placeholder="{{fieldsInfo['TitleFa']?.fieldTitle}}" minlength="3" maxlength="100" required />
      <mat-icon matSuffix *ngIf="dataModel.titleFa" matSuffix mat-icon-button aria-label="Clear"
        (click)="dataModel.titleFa = ''">"this.translate.instant('TITLE.close')"</mat-icon>
      <mat-icon matSuffix>mode_edit</mat-icon>
      <mat-hint align="end">{{ TitleFa.value.length }} / 100</mat-hint>
      <mat-error *ngIf="TitleFa.errors?.required">
        TitleFa is <strong>{{'MESSAGE.required' | translate}}</strong>
      </mat-error>
    </mat-form-field>

    <!-- DescriptionEn Field -->
    <p> Description Fa </p>
    <angular-editor [placeholder]="this.translate.instant('TITLE.Enter_Text')" [config]="publicHelper.editorConfig" id="DescriptionFa"
      [(ngModel)]="dataModel.descriptionFa" name="dataModel.descriptionFa"></angular-editor>
    <br>
    <!-- BodyFa Field -->
    
    <p> Body Fa </p>
    <angular-editor [placeholder]="this.translate.instant('TITLE.Enter_File')" [config]="publicHelper.editorConfig" id="BodyFa"
      [(ngModel)]="dataModel.bodyFa" name="dataModel.bodyFa"></angular-editor>
    <br>

    <!-- TitleEn Field -->
    <mat-form-field class="ntk-full-width">
      <mat-label>{{fieldsInfo['TitleEn']?.fieldTitle}}</mat-label>
      <input matInput [(ngModel)]="dataModel.titleEn" name="dataModel.titleEn" #TitleEn type="text"
        placeholder="{{fieldsInfo['TitleEn']?.fieldTitle}}" minlength="3" maxlength="100" required />
      <mat-icon matSuffix *ngIf="dataModel.titleEn" matSuffix mat-icon-button aria-label="Clear"
        (click)="dataModel.titleEn = ''">"this.translate.instant('TITLE.close')"</mat-icon>
      <mat-icon matSuffix>mode_edit</mat-icon>
      <mat-hint align="end">{{ TitleEn.value.length }} / 100</mat-hint>
      <mat-error *ngIf="TitleEn.errors?.required">
        TitleEn is <strong>{{'MESSAGE.required' | translate}}</strong>
      </mat-error>
    </mat-form-field>
    <!-- DescriptionEn Field -->
    <p>Description En</p>
    <angular-editor [placeholder]="this.translate.instant('TITLE.Enter_Text')" [config]="publicHelper.editorConfig" id="DescriptionEn"
      [(ngModel)]="dataModel.descriptionEn" name="dataModel.descriptionEn"></angular-editor>
    <br>
    <!-- BodyEn Field -->
    <p> Body En </p>
    <angular-editor [placeholder]="this.translate.instant('TITLE.Enter_File')" [config]="publicHelper.editorConfig" id="BodyEn"
      [(ngModel)]="dataModel.bodyEn" name="dataModel.bodyEn"></angular-editor>
    <br>
    <!-- TitleAr Field -->
    <mat-form-field class="ntk-full-width">
      <mat-label>{{fieldsInfo['TitleAr']?.fieldTitle}}</mat-label>
      <input matInput [(ngModel)]="dataModel.titleAr" name="dataModel.titleAr" #TitleAr type="text"
        placeholder="{{fieldsInfo['TitleAr']?.fieldTitle}}" minlength="3" maxlength="100" required />
      <mat-icon matSuffix *ngIf="dataModel.titleAr" matSuffix mat-icon-button aria-label="Clear"
        (click)="dataModel.titleAr = ''">"this.translate.instant('TITLE.close')"</mat-icon>
      <mat-icon matSuffix>mode_edit</mat-icon>
      <mat-hint align="end">{{ TitleAr.value.length }} / 100</mat-hint>
      <mat-error *ngIf="TitleAr.errors?.required">
        TitleAr is <strong>{{'MESSAGE.required' | translate}}</strong>
      </mat-error>
    </mat-form-field>
    <!-- DescriptionAr Field -->
    <p>Description Ar</p>
    <angular-editor [placeholder]="this.translate.instant('TITLE.Enter_Text')" [config]="publicHelper.editorConfig" id="DescriptionAr"
      [(ngModel)]="dataModel.descriptionAr" name="dataModel.descriptionAr"></angular-editor>
    <br>
    <!-- BodyAr Field -->
    <p> Body Ar </p>
    <angular-editor [placeholder]="this.translate.instant('TITLE.Enter_File')" [config]="publicHelper.editorConfig" id="BodyAr"
      [(ngModel)]="dataModel.bodyAr" name="dataModel.bodyAr"></angular-editor>
    <br>
    <!-- TitleDe Field -->
    <mat-form-field class="ntk-full-width">
      <mat-label>{{fieldsInfo['TitleDe']?.fieldTitle}}</mat-label>
      <input matInput [(ngModel)]="dataModel.titleDe" name="dataModel.titleDe" #TitleDe type="text"
        placeholder="{{fieldsInfo['TitleDe']?.fieldTitle}}" minlength="3" maxlength="100" required />
      <mat-icon matSuffix *ngIf="dataModel.titleDe" matSuffix mat-icon-button aria-label="Clear"
        (click)="dataModel.titleDe = ''">"this.translate.instant('TITLE.close')"</mat-icon>
      <mat-icon matSuffix>mode_edit</mat-icon>
      <mat-hint align="end">{{ TitleDe.value.length }} / 100</mat-hint>
      <mat-error *ngIf="TitleDe.errors?.required">
        TitleDe is <strong>{{'MESSAGE.required' | translate}}</strong>
      </mat-error>
    </mat-form-field>
    <!-- DescriptionDe Field -->
    <p>Description De</p>
    <angular-editor [placeholder]="this.translate.instant('TITLE.Enter_Text')" [config]="publicHelper.editorConfig" id="DescriptionDe"
      [(ngModel)]="dataModel.descriptionDe" name="dataModel.descriptionDe"></angular-editor>
    <br>
    <!-- Body De Field -->
    <p> Body De </p>
    <angular-editor [placeholder]="this.translate.instant('TITLE.Enter_File')" [config]="publicHelper.editorConfig" id="BodyDe"
      [(ngModel)]="dataModel.bodyDe" name="dataModel.bodyDe"></angular-editor>
    <br>
    <!--end:::::::::::::::::::::::::::::::::::::::::cms-body-->
  </div>
  <div class="ntk-cms-html-card-message">
    <!--begin:::::::::::::::::::::::::::::::::::::::::cms-message-->
    <div class="form-actions">
      <small class="form-text text-muted">{{ formInfo.formAlert }} </small>
      <small class="form-text text-muted danger">{{ formInfo.formError }}
      </small>
    </div>
    <!--end:::::::::::::::::::::::::::::::::::::::::cms-message-->
  </div>
  <div class="ntk-cms-html-card-footer">
    <!--begin:::::::::::::::::::::::::::::::::::::::::cms-footer-->
    <div class="form-actions" *ngIf="formInfo.formSubmitAllow  && !loading.display">
      <button type="button" (click)="onFormCancel()" class="btn btn-light">
        <i class="ft-x"></i> {{'ACTION.CANCEL' | translate}}
      </button>
      <button type="submit" (click)="onFormSubmit()" class="btn btn-success" [disabled]="!vform.form.valid">
        <i class="fa fa-check-square-o"></i> {{'ACTION.SAVE' | translate}}
      </button>
    </div>
    <!--end:::::::::::::::::::::::::::::::::::::::::cms-footer-->
  </div>
</form>