<form (ngSubmit)="onFormSubmit()" #vform="ngForm">
  <app-cms-html-modal [optionLoading]="loading">
    <ng-container cms-header>
      <!--begin:::::::::::::::::::::::::::::::::::::::::cms-header-->
      --------------------------------------
      <!--end:::::::::::::::::::::::::::::::::::::::::cms-header-->
    </ng-container>
    <ng-container cms-body>
      <!--begin:::::::::::::::::::::::::::::::::::::::::cms-body-->
      <mat-horizontal-stepper (selectionChange)="onStepClick($event,stepper)" #stepper>

        <mat-step label="{{'TITLE.Default_module_settings'|translate}}" state="main"
          *ngIf="tokenInfo.UserAccessAdminAllowToProfessionalData">
          <p>{{'TITLE.Settings_that_are_used_in_the_first_assignment_of_the_module_to_the_site' |translate}}</p>
          <!-- StatusRenderUser Field -->
          <div class="ntk-full-width">
            <mat-slide-toggle [(ngModel)]="dataConfigSiteValuesDefaultModel.StatusRenderUser"
              name="dataConfigSiteValuesDefaultModel.StatusRenderUser">
              StatusRenderUser
            </mat-slide-toggle>
          </div>
          <div *ngIf="tokenInfo.UserAccessAdminAllowToProfessionalData">
            <div [innerHTML]="dataConfigSiteValuesDefaultModel | prettyjson"></div>
          </div>
          <div *ngIf="formInfo.FormSubmitAllow" class="ntk-button-row">
            <button type="button" mat-raised-button (click)="onActionBackToParent()">
              {{'ACTION.BACK' | translate}}
            </button>
            <button type="button" mat-raised-button color="primary" [disabled]="!vform.form.valid" matStepperNext>
              {{'ACTION.NEXT' | translate}}
            </button>
            <button type="submit" mat-raised-button color="success" [disabled]="!vform.form.valid">
              {{'ACTION.SAVE' | translate}}
            </button>
          </div>
        </mat-step>
        <mat-step label="{{'TITLE.Default_access'|translate}}" state="main"
          *ngIf="tokenInfo.UserAccessAdminAllowToProfessionalData">
          <p>{{'TITLE.Default_website_access_to_this_module'|translate}}</p>

          <!-- MainDataContentRowCount Field -->
          <mat-form-field class="ntk-full-width">
            <mat-label>MainDataContentRowCount</mat-label>
            <input matInput [(ngModel)]="dataConfigSiteAccessValuesDefaultModel.MainDataContentRowCount"
              name="dataConfigSiteAccessValuesDefaultModel.MainDataContentRowCount"
              #dataConfigSiteAccessValuesDefaultModel_MainDataContentRowCount type="number" placeholder="0" required />
            <mat-icon matSuffix *ngIf="dataConfigSiteAccessValuesDefaultModel.MainDataContentRowCount" matSuffix
              mat-icon-button aria-label="Clear"
              (click)="dataConfigSiteAccessValuesDefaultModel.MainDataContentRowCount = null">close</mat-icon>
            <mat-icon matSuffix>mode_edit</mat-icon>
            <mat-error *ngIf="dataConfigSiteAccessValuesDefaultModel_MainDataContentRowCount.errors?.required">
              MainDataContentRowCount is <strong>required</strong>
            </mat-error>
          </mat-form-field>

          <!-- MaxAppCreation Field -->
          <mat-form-field class="ntk-full-width">
            <mat-label>MaxAppCreation</mat-label>
            <input matInput [(ngModel)]="dataConfigSiteAccessValuesDefaultModel.MaxAppCreation"
              name="dataConfigSiteAccessValuesDefaultModel.MaxAppCreation"
              #dataConfigSiteAccessValuesDefaultModel_MaxAppCreation type="text" placeholder="0" required />
            <mat-icon matSuffix *ngIf="dataConfigSiteAccessValuesDefaultModel.MaxAppCreation" matSuffix mat-icon-button
              aria-label="Clear" (click)="dataConfigSiteAccessValuesDefaultModel.MaxAppCreation = null">close</mat-icon>
            <mat-icon matSuffix>mode_edit</mat-icon>
            <mat-error *ngIf="dataConfigSiteAccessValuesDefaultModel_MaxAppCreation.errors?.required">
              MaxAppCreation is <strong>required</strong>
            </mat-error>
          </mat-form-field>

          <div *ngIf="tokenInfo.UserAccessAdminAllowToProfessionalData">
            <div [innerHTML]="dataConfigSiteAccessValuesDefaultModel | prettyjson"></div>
          </div>
          <div *ngIf="formInfo.FormSubmitAllow" class="ntk-button-row">
            <button type="button" mat-raised-button color="accent" matStepperPrevious>
              {{'ACTION.BEFOR' | translate}}
            </button>
            <button type="button" color="primary" [disabled]="!vform.form.valid" matStepperNext>
              {{'ACTION.NEXT' | translate}}
            </button>
            <button type="submit" mat-raised-button color="success" [disabled]="!vform.form.valid">
              {{'ACTION.SAVE' | translate}}
            </button>
          </div>
        </mat-step>

        <mat-step label="{{'TITLE.System_management_settings'|translate}}" state="main">
          <p>{{'TITLE.The_whole_system_management_settings_for_this_module'|translate}}</p>

          <!-- AccessBuy Field -->
          <div class="ntk-full-width">
            <mat-slide-toggle [(ngModel)]="dataConfigAdminMainModel.AccessBuy"
              name="dataConfigAdminMainModel.AccessBuy">
              AccessBuy
            </mat-slide-toggle>
          </div>
          <!-- AccessBuyPrice Field -->
          <mat-form-field class="ntk-full-width">
            <mat-label>AccessBuyPrice</mat-label>
            <input matInput [(ngModel)]="dataConfigAdminMainModel.AccessBuyPrice"
              name="dataConfigAdminMainModel.AccessBuyPrice" #dataConfigAdminMainModel_AccessBuyPrice type="number"
              placeholder="0" required />
            <mat-icon matSuffix *ngIf="dataConfigAdminMainModel.AccessBuyPrice" matSuffix mat-icon-button
              aria-label="Clear" (click)="dataConfigAdminMainModel.AccessBuyPrice = null">close</mat-icon>
            <mat-icon matSuffix>mode_edit</mat-icon>
            <mat-error *ngIf="dataConfigAdminMainModel_AccessBuyPrice.errors?.required">
              AccessBuyPrice is <strong>required</strong>
            </mat-error>
          </mat-form-field>

          <!-- AccessBuyMonth Field -->
          <mat-form-field class="ntk-full-width">
            <mat-label>AccessBuyMonth</mat-label>
            <input matInput [(ngModel)]="dataConfigAdminMainModel.AccessBuyMonth"
              name="dataConfigAdminMainModel.AccessBuyMonth" #dataConfigAdminMainModel_AccessBuyMonth type="number"
              placeholder="0" required />
            <mat-icon matSuffix *ngIf="dataConfigAdminMainModel.AccessBuyMonth" matSuffix mat-icon-button
              aria-label="Clear" (click)="dataConfigAdminMainModel.AccessBuyMonth = null">close</mat-icon>
            <mat-icon matSuffix>mode_edit</mat-icon>
            <mat-error *ngIf="dataConfigAdminMainModel_AccessBuyMonth.errors?.required">
              AccessBuyMonth is <strong>required</strong>
            </mat-error>
          </mat-form-field>

          <div class="ntk-full-width">
            <mat-slide-toggle [(ngModel)]="dataConfigAdminMainModel.AccessFree"
              name="dataConfigAdminMainModel.AccessFree">
              AccessFree
            </mat-slide-toggle>
          </div>
          <!-- AccessFreeDay Field -->
          <mat-form-field class="ntk-full-width">
            <mat-label>AccessFreeDay</mat-label>
            <input matInput [(ngModel)]="dataConfigAdminMainModel.AccessFreeDay"
              name="dataConfigAdminMainModel.AccessFreeDay" #dataConfigAdminMainModel_AccessFreeDay type="number"
              placeholder="0" required />
            <mat-icon matSuffix *ngIf="dataConfigAdminMainModel.AccessFreeDay" matSuffix mat-icon-button
              aria-label="Clear" (click)="dataConfigAdminMainModel.AccessFreeDay = null">close</mat-icon>
            <mat-icon matSuffix>mode_edit</mat-icon>
            <mat-error *ngIf="dataConfigAdminMainModel_AccessFreeDay.errors?.required">
              AccessFreeDay is <strong>required</strong>
            </mat-error>
          </mat-form-field>

          <div *ngIf="tokenInfo.UserAccessAdminAllowToProfessionalData">
            <div [innerHTML]="dataConfigAdminMainModel | prettyjson"></div>
          </div>
          <div *ngIf="formInfo.FormSubmitAllow" class="ntk-button-row">
            <button type="button" mat-raised-button color="accent" matStepperPrevious>
              {{'ACTION.BEFOR' | translate}}
            </button>
            <button type="button" color="primary" [disabled]="!vform.form.valid" matStepperNext>
              {{'ACTION.NEXT' | translate}}
            </button>
            <button type="submit" mat-raised-button color="success" [disabled]="!vform.form.valid">
              {{'ACTION.SAVE' | translate}}
            </button>
          </div>
        </mat-step>
      </mat-horizontal-stepper>
      <!--end:::::::::::::::::::::::::::::::::::::::::cms-body-->
    </ng-container>
    <ng-container cms-message>
      <!--begin:::::::::::::::::::::::::::::::::::::::::cms-message-->
      
      <!--end:::::::::::::::::::::::::::::::::::::::::cms-message-->
    </ng-container>
    <ng-container cms-footer>
      <!--begin:::::::::::::::::::::::::::::::::::::::::cms-footer-->

      <!--end:::::::::::::::::::::::::::::::::::::::::cms-footer-->
    </ng-container>
  </app-cms-html-modal>
</form>
