<h2 mat-dialog-title>{{ formInfo.FormTitle }}</h2>
<mat-dialog-content>
  <form (ngSubmit)="onFormSubmit()" #vform="ngForm" class="form form-horizontal">
    <app-progress-spinner [options]="loading"> </app-progress-spinner>
    <div *ngIf="!loading.display" class="form-body">

      <!-- Name Field -->
      <mat-form-field class="example-full-width">
        <mat-label>{{fieldsInfo['Title']?.FieldTitle}}</mat-label>
        <input matInput [(ngModel)]="dataModel.Name" name="dataModel.Name" #Name type="text" placeholder="{{fieldsInfo['Title']?.FieldTitle}}"
          minlength="3" maxlength="100" required />
        <mat-icon matSuffix *ngIf="dataModel.Name" matSuffix mat-icon-button aria-label="Clear"
          (click)="dataModel.Name = ''">close</mat-icon>
        <mat-icon matSuffix>mode_edit</mat-icon>
        <mat-hint align="end">{{ Name.value.length }} / 100</mat-hint>
        <mat-error *ngIf="Name.errors?.required">
          Name is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <!-- LinkMainImageId Field -->
      <!-- <div class="mb-3">
        <img *ngIf="dataModel?.LinkMainImageIdSrc?.length>0" style="vertical-align:middle;" aria-hidden
          src="{{dataModel.LinkMainImageIdSrc}}" height="50" width="50" />
      </div>
      <div class="mb-9">
        <mat-form-field class="example-full-width">
          <mat-label (click)="fileManagerOpenForm = true">فایل آیکن
          </mat-label>
          <input matInput [(ngModel)]="dataModel.LinkMainImageId" name="dataModel.LinkMainImageId" #LinkMainImageId
            type="text" placeholder="شناسه فایل اصلی"  autocomplete="off" (click)="fileManagerOpenForm = true"   />
          <mat-icon matSuffix *ngIf="dataModel.LinkMainImageId " matSuffix mat-icon-button aria-label="Clear"
            (click)="dataModel.LinkMainImageId = null">close</mat-icon>
          <mat-icon matSuffix (click)="fileManagerOpenForm = true">mode_edit</mat-icon>
        </mat-form-field>
        <cms-file-manager (itemSelected)="onActionFileSelected($event)" [language]="appLanguage" [isPopup]="true"
          [(openForm)]="fileManagerOpenForm" [tree]="fileManagerTree" [openFilemanagerButtonLabelKey]="'select'"
          [selectFileType]="selectFileTypeMainImage" [openFilemanagerButtonView]="false"></cms-file-manager>
      </div> -->
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <div class="form-actions">
    <small class="form-text text-muted">{{ formInfo.FormAlert }} </small>
    <small class="form-text text-muted danger">{{ formInfo.FormError }}
    </small>
  </div>
  <div class="form-actions" *ngIf="formInfo.FormSubmitAllow">
    <button type="button" (click)="onFormCancel()" class="btn btn-raised btn-warning mr-1">
      <i class="ft-x"></i> {{'ACTION.CANCEL' | translate}}
    </button>
    <button type="submit" (click)="onFormSubmit()" class="btn btn-raised btn-primary" [disabled]="!vform.form.valid">
      <i class="fa fa-check-square-o"></i> {{'ACTION.SAVE' | translate}}
    </button>
  </div>
</mat-dialog-actions>
