<app-cms-guide-notice [Key]="'customerorder.content.list.edit'"
  [svg]="'assets/media/svg/icons/General/Notifications1.svg'"></app-cms-guide-notice>

<form (ngSubmit)="onFormSubmit()" #vform="ngForm">
  <!--begin:::::::::::::::::::::::::::::::::::::::::cms-header-->


  <!--end:::::::::::::::::::::::::::::::::::::::::cms-header-->
  <app-progress-spinner [options]="loading"> </app-progress-spinner>
  <!--begin:::::::::::::::::::::::::::::::::::::::::cms-body-->
  <div class="row alert alert-custom alert-white alert-shadow gutter-b">
    <div class="col-md-6 col-sm-6 col-xs-9">
      <!-- RecordStatus Field -->
      <mat-form-field class="ntk-full-width">
        <mat-select placeholder="{{fieldsInfo['recordStatus']?.fieldTitle}}" [(ngModel)]="dataModel.recordStatus"
          name="dataModel.recordStatus" #RecordStatus="ngModel" panelClass="recordStatus-{{ dataModel.recordStatus }}"
          required>
          <mat-option *ngFor="
                let item of dataModelEnumRecordStatusResult.listItems;
                index as i
              " [value]="item.value">{{ item.description }}</mat-option>
        </mat-select>
        <mat-hint align="end">{{'TITLE.SELECT_STATUS' | translate}}</mat-hint>
        <mat-error *ngIf="RecordStatus.errors?.required">
          RecordStatus is <strong>{{'MESSAGE.required' | translate}}</strong>
        </mat-error>
      </mat-form-field>
      <!-- LinkCategoryId Field -->
      <app-estate-customer-category-selector (optionChange)="onActionSelectorSelect($event)"
        [optionSelectForce]="dataModel.linkEstateCustomerCategoryId" [(loading)]="loading"
        [optionPlaceholder]="this.translate.instant('TITLE.Category')">
      </app-estate-customer-category-selector>
      <!-- Title Field -->
      <mat-form-field class="ntk-full-width">
        <mat-label>{{fieldsInfo['title']?.fieldTitle}}</mat-label>
        <input matInput [(ngModel)]="dataModel.title" name="dataModel.title" #Title type="text"
          placeholder="{{fieldsInfo['title']?.fieldTitle}}" minlength="3" maxlength="100" required />
        <mat-icon matSuffix *ngIf="dataModel.title" matSuffix mat-icon-button aria-label="Clear"
          (click)="dataModel.title = ''">close</mat-icon>
        <mat-icon matSuffix>mode_edit</mat-icon>
        <mat-hint align="end">{{ Title.value.length }} / 100</mat-hint>
        <mat-error *ngIf="Title.errors?.required">
          Title is <strong>{{'MESSAGE.required' | translate}}</strong>
        </mat-error>
      </mat-form-field>
      <!-- CaseCode Field -->
      <mat-form-field class="ntk-full-width mb-1" *ngIf="fieldsInfo['caseCode']?.accessWatchField">
        <mat-label>{{fieldsInfo['caseCode']?.fieldTitle}}</mat-label>
        <input matInput [(ngModel)]="dataModel.caseCode" name="dataModel.caseCode" #CaseCode type="text"
          disabled="{{!fieldsInfo['caseCode']?.accessEditField}}" placeholder="{{fieldsInfo['caseCode']?.fieldTitle}}"
          minlength="3" maxlength="100" required />
        <mat-icon matSuffix *ngIf="dataModel.caseCode" matSuffix mat-icon-button aria-label="Clear"
          (click)="dataModel.caseCode = ''">close</mat-icon>
        <mat-icon matSuffix>mode_edit</mat-icon>
        <mat-hint align="start">
          <mat-icon matSuffix class="info-field-icon">info</mat-icon>
          <strong class="info-field-text">{{fieldsInfo['caseCode']?.FieldDescription}}</strong>
        </mat-hint>
        <mat-hint align="end">{{ CaseCode.value.length }} / 100</mat-hint>
        <mat-error *ngIf="CaseCode.errors?.required">
          {{fieldsInfo['caseCode']?.fieldTitle}} <strong>{{'MESSAGE.required' | translate}}</strong>
        </mat-error>
      </mat-form-field>
      <!-- Description Field -->
      <mat-form-field class="ntk-full-width">
        <mat-label>{{fieldsInfo['description']?.fieldTitle}}</mat-label>
        <textarea matInput [(ngModel)]="dataModel.description" name="dataModel.description" #Description type="text"
          placeholder="{{fieldsInfo['description']?.fieldTitle}}" minlength="0" maxlength="500" rows=5></textarea>
        <mat-icon matSuffix *ngIf="dataModel.description" matSuffix mat-icon-button aria-label="Clear"
          (click)="dataModel.description = ''">close</mat-icon>
        <mat-icon matSuffix>mode_edit</mat-icon>
        <mat-hint align="end">{{ Description.value.length }} / 500</mat-hint>
      </mat-form-field>
      <!-- DescriptionHidden Field -->
      <mat-form-field class="ntk-full-width" *ngIf="fieldsInfo['descriptionHidden']?.accessWatchField">
        <mat-label>{{'TITLE.Description_Hidden' | translate}}</mat-label>
        <textarea matInput [(ngModel)]="dataModel.descriptionHidden" name="dataModel.descriptionHidden"
          #DescriptionHidden type="text" placeholder="{{fieldsInfo['descriptionHidden']?.fieldTitle}}" minlength="0"
          maxlength="500" rows=5></textarea>
        <mat-icon matSuffix *ngIf="dataModel.descriptionHidden" matSuffix mat-icon-button aria-label="Clear"
          (click)="dataModel.descriptionHidden = ''">close</mat-icon>
        <mat-icon matSuffix>mode_edit</mat-icon>
        <mat-hint align="end">{{ DescriptionHidden.value.length }} / 500</mat-hint>
      </mat-form-field>


      <hr>
      <!-- linkEstateAgencyId Field -->
      <app-estate-account-agency-selector *ngIf="this.tokenHelper.isAdminSite"
        (optionChange)="onActionSelectorEstateAgency($event)" [(loading)]="loading"
        [optionDisabled]="!fieldsInfo['linkEstateAgencyId']?.accessEditField"
        [optionSelectForce]="dataModel.linkEstateAgencyId" [optionSelectUserId]="this.tokenInfo.userId"
        [optionPlaceholder]="this.translate.instant('TITLE.Property_agency')">
      </app-estate-account-agency-selector>
      <!-- LinkEstateUserId Field -->
      <app-estate-account-user-selector (optionChange)="onActionSelectorEstateUser($event)"
        [optionDisabled]="!fieldsInfo['linkEstateUserId']?.accessEditField"
        [optionSelectForce]="dataModel.linkEstateUserId" [(loading)]="loading"
        [optionPlaceholder]="this.translate.instant('TITLE.Real_estate_customer_personnel')">
      </app-estate-account-user-selector>
      <!-- ContactMobiles Field -->
      <mat-form-field class="ntk-full-width">
        <mat-label>{{'TITLE.Mobile_customer' | translate}}</mat-label>
        <textarea matInput [(ngModel)]="dataModel.contactMobiles" name="dataModel.contactMobiles" #ContactMobiles
          type="text" placeholder="{{'TITLE.Mobile_customer' | translate}}" minlength="3" maxlength="100" rows="10">
          </textarea>
        <mat-icon matSuffix *ngIf="dataModel.contactMobiles" matSuffix mat-icon-button aria-label="Clear"
          (click)="dataModel.contactMobiles = ''">close</mat-icon>
        <mat-icon matSuffix>mode_edit</mat-icon>
        <mat-hint align="end">{{ ContactMobiles.value.length }} / 100</mat-hint>
        <mat-error *ngIf="ContactMobiles.errors?.required">
          ContactMobiles is <strong>{{'MESSAGE.required' | translate}}</strong>
        </mat-error>
      </mat-form-field>
      <!-- AreaAddress Field -->
      <mat-form-field class="ntk-full-width" *ngIf="areaAddressView">
        <mat-label>{{fieldsInfo['areaAddress']?.fieldTitle}}</mat-label>
        <textarea matInput [(ngModel)]="dataModel.areaAddress" name="dataModel.areaAddress" #AreaAddress type="text"
          placeholder="{{fieldsInfo['areaAddress']?.fieldTitle}}" minlength="0" maxlength="500" rows=5></textarea>
        <mat-icon matSuffix *ngIf="dataModel.areaAddress" matSuffix mat-icon-button aria-label="Clear"
          (click)="dataModel.areaAddress = ''">close</mat-icon>
        <mat-icon matSuffix>mode_edit</mat-icon>
        <mat-hint align="end">{{ AreaAddress.value.length }} / 500</mat-hint>
      </mat-form-field>

      <br>
      <p>
        {{'TITLE.specific_property_list' | translate}}
      </p>
      <p>
        {{'TITLE.DESCRIPTION' | translate}}:
        <br>
        {{'TITLE.The_specific_property_section_allows_you_to_search_for_registered_property' | translate}}
      </p>
      <p>{{'MESSAGE.Selecting_specific_property_will_remove_all_search_fields' | translate}}</p>
      <!-- LinkPropertyIds Field -->
      <app-estate-property-autocomplete (optionChange)="onActionSelectorProperty($event)"
        [optionDisabled]="!fieldsInfo['linkPropertyIds']?.accessEditField"
        [optionPlaceholder]="this.translate.instant('TITLE.Property')"
        [optionSelectForce]="this.dataModel.linkPropertyIds">
      </app-estate-property-autocomplete>
      <br>


      <div *ngIf="!LinkPropertyIdsInUse">
        <p>{{'MESSAGE.Content_of_your_choice_to_display' | translate}}</p>
        <P>{{'MESSAGE.Selecting_any_of_the_following_will_make_the_search_results_range_smaller' | translate}}</P>
        <hr>

        {{'TITLE.Type_Usage' | translate}} :
        <br>
        <!-- LinkPropertyTypeUsageId Field -->
        <app-estate-property-type-usage-selector (optionChange)="onActionSelectorSelectUsage($event)"
          [optionDisabled]="!fieldsInfo['linkPropertyTypeUsageId']?.accessEditField" [optionTypeView]="2"
          [optionSelectForce]="dataModel.linkPropertyTypeUsageId" [(loading)]="loading"
          [optionPlaceholder]="this.translate.instant('TITLE.Type_Usage')">
          <mat-icon matSuffix *ngIf="dataModel.linkPropertyTypeUsageId && dataModel.linkPropertyTypeUsageId?.length>0"
            matSuffix mat-icon-button aria-label="Clear" (click)="dataModel.linkPropertyTypeUsageId = null;"> close
          </mat-icon>
        </app-estate-property-type-usage-selector>

        <br>
        <br>
        <br>
        {{'TITLE.Type_Property' | translate}} :
        <br>
        <!-- LinkPropertyTypeLanduseId Field -->
        <app-estate-property-type-landuse-selector (optionChange)="onActionSelectorSelectLanduse($event)"
          [optionDisabled]="!fieldsInfo['linkPropertyTypeLanduseId']?.accessEditField" [optionTypeView]="2"
          [optionSelectForce]="dataModel.linkPropertyTypeLanduseId" [(loading)]="loading"
          [optionPlaceholder]="this.translate.instant('TITLE.Property_type')">

          <mat-icon matSuffix
            *ngIf="dataModel.linkPropertyTypeLanduseId && dataModel.linkPropertyTypeLanduseId?.length>0" matSuffix
            mat-icon-button aria-label="Clear" (click)="onActionSelectorSelectLanduse(null)"> close
          </mat-icon>
        </app-estate-property-type-landuse-selector>

        <br>
        <br>
        <br>
        {{'TITLE.Type_Transaction' | translate}} :
        <br>
        <!-- LinkContractTypeIds Field -->
        <app-estate-contract-type-selector (optionChange)="onActionSelectorContarctType($event)" [optionTypeView]="2"
          [optionDisabled]="!fieldsInfo['linkContractTypeId']?.accessEditField"
          [optionSelectForce]="dataModel.linkContractTypeId" [(loading)]="loading"
          [optionPlaceholder]="this.translate.instant('TITLE.Transaction_type')">
          <mat-icon matSuffix *ngIf="dataModel.linkContractTypeId && dataModel.linkContractTypeId?.length>0" matSuffix
            mat-icon-button aria-label="Clear" (click)="dataModel.linkContractTypeId = null;"> close
          </mat-icon>
        </app-estate-contract-type-selector>

        <br>
        <br>

        <!-- linkCoreCurrencyId Field -->
        <app-cms-currency-selector [optionSelectFirstItem]="true" [optionSelectForce]="dataModel.linkCoreCurrencyId"
          (optionChange)="onActionSelectCurrency($event)" [(loading)]="loading"
          [optionPlaceholder]="this.translate.instant('TITLE.Specify_the_transaction_currency')">
        </app-cms-currency-selector>
        <!-- SalePriceMin Field -->
        <div class="row">
          <div class="col-md-6 col-sm-6 col-xs-9">
            <!-- SalePriceMin Field -->
            <mat-form-field class="ntk-full-width"
              *ngIf="fieldsInfo['salePriceMin']?.accessWatchField && contractTypeSelected?.hasSalePrice">
              <mat-label> {{contractTypeSelected.titleSalePriceML}} {{'TITLE.Minimum' | translate}}</mat-label>
              <input matInput [(ngModel)]="dataModel.salePriceMin" name="dataModel.salePriceMin" #SalePriceMin
                type="number" [disabled]="!fieldsInfo['salePriceMin']?.accessEditField" />
              <mat-icon matSuffix *ngIf="dataModel.salePriceMin" matSuffix mat-icon-button aria-label="Clear"
                (click)="dataModel.salePriceMin = 0"> close</mat-icon>
              <mat-icon matSuffix> mode_edit</mat-icon>
            </mat-form-field>
            <!-- RentPriceMin Field -->
            <mat-form-field class="ntk-full-width"
              *ngIf="fieldsInfo['rentPriceMin']?.accessWatchField && contractTypeSelected?.hasRentPrice">
              <mat-label> {{contractTypeSelected.titleRentPriceML}} {{'TITLE.Minimum' | translate}}</mat-label>
              <input matInput [(ngModel)]="dataModel.rentPriceMin" name="dataModel.rentPriceMin" #RentPriceMin
                type="number" [disabled]="!fieldsInfo['rentPriceMin']?.accessEditField" />
              <mat-icon matSuffix *ngIf="dataModel.rentPriceMin" matSuffix mat-icon-button aria-label="Clear"
                (click)="dataModel.rentPriceMin = 0"> close</mat-icon>
              <mat-icon matSuffix> mode_edit</mat-icon>
            </mat-form-field>
            <!-- DepositPriceMin Field -->
            <mat-form-field class="ntk-full-width"
              *ngIf="fieldsInfo['depositPriceMin']?.accessWatchField && contractTypeSelected?.hasDepositPrice">
              <mat-label> {{contractTypeSelected.titleDepositPriceML}} {{'TITLE.Minimum' | translate}}</mat-label>
              <input matInput [(ngModel)]="dataModel.depositPriceMin" name="dataModel.depositPriceMin" #DepositPriceMin
                type="number" [disabled]="!fieldsInfo['depositPriceMin']?.accessEditField" />
              <mat-icon matSuffix *ngIf="dataModel.depositPriceMin" matSuffix mat-icon-button aria-label="Clear"
                (click)="dataModel.depositPriceMin = 0"> close</mat-icon>
              <mat-icon matSuffix> mode_edit</mat-icon>
            </mat-form-field>
            <!-- PeriodPriceMin Field -->
            <mat-form-field class="ntk-full-width"
              *ngIf="fieldsInfo['periodPriceMin']?.accessWatchField && contractTypeSelected?.hasDepositPrice">
              <mat-label> {{contractTypeSelected.titlePeriodPriceML}} {{'TITLE.Minimum' | translate}}</mat-label>
              <input matInput [(ngModel)]="dataModel.periodPriceMin" name="dataModel.periodPriceMin" #PeriodPriceMin
                type="number" [disabled]="!fieldsInfo['periodPriceMin']?.accessEditField" />
              <mat-icon matSuffix *ngIf="dataModel.periodPriceMin" matSuffix mat-icon-button aria-label="Clear"
                (click)="dataModel.periodPriceMin = 0"> close</mat-icon>
              <mat-icon matSuffix> mode_edit</mat-icon>
            </mat-form-field>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-9">
            <!-- SalePriceMax Field -->
            <mat-form-field class="ntk-full-width"
              *ngIf="fieldsInfo['salePriceMax']?.accessWatchField && contractTypeSelected?.hasSalePrice">
              <mat-label> {{contractTypeSelected.titleSalePriceML}} {{'TITLE.Maximum' | translate}}</mat-label>
              <input matInput [(ngModel)]="dataModel.salePriceMax" name="dataModel.salePriceMax" #SalePriceMax
                type="number" [disabled]="!fieldsInfo['salePriceMax']?.accessEditField" />
              <mat-icon matSuffix *ngIf="dataModel.salePriceMax" matSuffix mat-icon-button aria-label="Clear"
                (click)="dataModel.salePriceMax = 0"> close</mat-icon>
              <mat-icon matSuffix> mode_edit</mat-icon>
            </mat-form-field>
            <!-- RentPriceMax Field -->
            <mat-form-field class="ntk-full-width"
              *ngIf="fieldsInfo['rentPriceMax']?.accessWatchField && contractTypeSelected?.hasRentPrice">
              <mat-label> {{contractTypeSelected.titleRentPriceML}} {{'TITLE.Maximum' | translate}}</mat-label>
              <input matInput [(ngModel)]="dataModel.rentPriceMax" name="dataModel.rentPriceMax" #RentPriceMax
                type="number" [disabled]="!fieldsInfo['rentPriceMax']?.accessEditField" />
              <mat-icon matSuffix *ngIf="dataModel.rentPriceMax" matSuffix mat-icon-button aria-label="Clear"
                (click)="dataModel.rentPriceMax = 0"> close</mat-icon>
              <mat-icon matSuffix> mode_edit</mat-icon>
            </mat-form-field>
            <!-- DepositPriceMax Field -->
            <mat-form-field class="ntk-full-width"
              *ngIf="fieldsInfo['depositPriceMax']?.accessWatchField && contractTypeSelected?.hasDepositPrice">
              <mat-label> {{contractTypeSelected.titleDepositPriceML}} {{'TITLE.Maximum' | translate}}</mat-label>
              <input matInput [(ngModel)]="dataModel.depositPriceMax" name="dataModel.depositPriceMax" #DepositPriceMax
                type="number" [disabled]="!fieldsInfo['depositPriceMax']?.accessEditField" />
              <mat-icon matSuffix *ngIf="dataModel.depositPriceMax" matSuffix mat-icon-button aria-label="Clear"
                (click)="dataModel.depositPriceMax = 0"> close</mat-icon>
              <mat-icon matSuffix> mode_edit</mat-icon>
            </mat-form-field>
            <!-- PeriodPriceMax Field -->
            <mat-form-field class="ntk-full-width"
              *ngIf="fieldsInfo['periodPriceMax']?.accessWatchField && contractTypeSelected?.hasDepositPrice">
              <mat-label> {{contractTypeSelected.titlePeriodPriceML}} {{'TITLE.Maximum' | translate}}</mat-label>
              <input matInput [(ngModel)]="dataModel.periodPriceMax" name="dataModel.periodPriceMax" #PeriodPriceMax
                type="number" [disabled]="!fieldsInfo['periodPriceMax']?.accessEditField" />
              <mat-icon matSuffix *ngIf="dataModel.periodPriceMax" matSuffix mat-icon-button aria-label="Clear"
                (click)="dataModel.periodPriceMax = 0"> close</mat-icon>
              <mat-icon matSuffix> mode_edit</mat-icon>
            </mat-form-field>
          </div>


        </div>



        <!-- CreatedYaer Field -->
        <mat-form-field class="ntk-full-width"
          *ngIf="this.dataModel.linkPropertyTypeLanduseId && PropertyTypeSelected?.titleCreatedYaer?.length>1">
          <mat-label>{{PropertyTypeSelected.titleCreatedYaer}}</mat-label>
          <input matInput [(ngModel)]="dataModel.createdYaer" name="dataModel.createdYaer" #CreatedYaer type="number"
            placeholder="{{fieldsInfo['createdYaer']?.fieldTitle}}" />
          <mat-icon matSuffix *ngIf="dataModel.createdYaer" matSuffix mat-icon-button aria-label="Clear"
            (click)="dataModel.createdYaer = null">close</mat-icon>
          <mat-icon matSuffix>mode_edit</mat-icon>

        </mat-form-field>
        <!-- Partition Field -->
        <mat-form-field class="ntk-full-width"
          *ngIf="this.dataModel.linkPropertyTypeLanduseId && PropertyTypeSelected?.titlePartition?.length>1">
          <mat-label>{{PropertyTypeSelected.titlePartition}}</mat-label>
          <input matInput [(ngModel)]="dataModel.partition" name="dataModel.partition" #Partition type="number"
            placeholder="{{PropertyTypeSelected.titlePartition}}" />
          <mat-icon matSuffix *ngIf="dataModel.partition" matSuffix mat-icon-button aria-label="Clear"
            (click)="dataModel.partition = 0">close</mat-icon>
          <mat-icon matSuffix>mode_edit</mat-icon>
        </mat-form-field>
        <!-- Area Field -->
        <mat-form-field class="ntk-full-width" *ngIf="fieldsInfo['area']?.accessWatchField">
          <mat-label>{{fieldsInfo['area']?.fieldTitle}}</mat-label>
          <input matInput [(ngModel)]="dataModel.area" name="dataModel.area" #Area type="number"
            disabled="{{!fieldsInfo['area']?.accessEditField}}" placeholder="{{fieldsInfo['area']?.fieldTitle}}" />
          <mat-icon matSuffix *ngIf="dataModel.area" matSuffix mat-icon-button aria-label="Clear"
            (click)="dataModel.area = 0">close</mat-icon>
          <mat-icon matSuffix>mode_edit</mat-icon>
          <mat-hint align="start">
            <mat-icon matSuffix class="info-field-icon">info</mat-icon>
            <strong class="info-field-text">{{fieldsInfo['area']?.FieldDescription}}</strong>
          </mat-hint>
        </mat-form-field>
        <br>
        {{'TITLE.Geographical_Areas' | translate}} :
        <!-- LinkLocationIds Field -->
        <app-cms-location-autocomplete (optionChange)="onActionSelectorLocation($event)"
          [optionDisabled]="!fieldsInfo['linkLocationIds']?.accessEditField" [(loading)]="loading"
          [optionSelectForce]="dataModel.linkLocationIds" [optionPlaceholder]="this.translate.instant('TITLE.Region')">
        </app-cms-location-autocomplete>
        <mat-accordion class="example-headers-align">
          <mat-expansion-panel *ngFor="let itemGroup of dataModel.propertyDetailGroups ; index as i"
            [expanded]="step === i" (opened)="setStep(i)">
            <mat-expansion-panel-header>
              <mat-panel-title>
                {{itemGroup.title}}
              </mat-panel-title>
              <mat-panel-description>
                {{itemGroup.description}}
                <mat-icon style="width: 100px;">{{itemGroup.iconFont}}</mat-icon>
              </mat-panel-description>
            </mat-expansion-panel-header>
            <!-- value-->
            <ng-container *ngFor="let itemDetail of itemGroup.propertyDetails">
              <ng-container [ngSwitch]="itemDetail.inputDataType">
                <!-- ngSwitchCase-->
                <div *ngSwitchCase="enumInputDataType.String" class="ntk-full-width">
                  <i [ngClass]="itemDetail.iconFont" [style.color]="itemDetail.iconColor" aria-hidden="true"></i>&nbsp;
                  <app-input-string [(model)]="propertyDetails[itemDetail.id]"
                    [optionForceUseDefaultValue]="itemDetail.configValueForceUseDefaultValue"
                    [optionMultipleChoice]="itemDetail.configValueMultipleChoice"
                    [optionDefaultValue]="itemDetail.configValueDefaultValue" [optionRequired]="itemDetail.required"
                    [optionTitle]="itemDetail.title" style="color:'{{itemDetail.iconColor}}';">
                  </app-input-string>
                </div>
                <!-- ngSwitchCase-->
                <div *ngSwitchCase="enumInputDataType.Int" class="ntk-full-width">
                  <i [ngClass]="itemDetail.iconFont" [style.color]="itemDetail.iconColor" aria-hidden="true"></i>&nbsp;
                  <app-input-int [(model)]="propertyDetails[itemDetail.id]" [optionRequired]="itemDetail.required"
                    [optionTitle]="itemDetail.title" style="color:'{{itemDetail.iconColor}}';">
                  </app-input-int>
                </div>
                <!-- ngSwitchCase-->
                <div *ngSwitchCase="enumInputDataType.Boolean" class="ntk-full-width">
                  <i [ngClass]="itemDetail.iconFont" [style.color]="itemDetail.iconColor" aria-hidden="true"></i>&nbsp;
                  <app-input-boolean [(model)]="propertyDetails[itemDetail.id]">{{itemDetail.title}}
                  </app-input-boolean>
                </div>
                <!-- ngSwitchCase-->
                <div *ngSwitchCase="enumInputDataType.Float" class="ntk-full-width">
                  <i [ngClass]="itemDetail.iconFont" [style.color]="itemDetail.iconColor" aria-hidden="true"></i>&nbsp;
                  <app-input-float [(model)]="propertyDetails[itemDetail.id]" [optionRequired]="itemDetail.required"
                    [optionTitle]="itemDetail.title" style="color:'{{itemDetail.iconColor}}';">
                  </app-input-float>
                </div>
                <!-- ngSwitchCase-->
                <div *ngSwitchCase="enumInputDataType.Date" class="ntk-full-width">
                  <i [ngClass]="itemDetail.iconFont" [style.color]="itemDetail.iconColor" aria-hidden="true"></i>&nbsp;
                  <label style="color:'{{itemDetail.iconColor}}';">{{itemDetail.title}}</label>
                  <app-input-date [(model)]="propertyDetails[itemDetail.id]" [optionRequired]="itemDetail.required">
                  </app-input-date>
                </div>
                <!-- ngSwitchCase-->
                <div *ngSwitchCase="enumInputDataType.TextArea" class="ntk-full-width">
                  <i [ngClass]="itemDetail.iconFont" [style.color]="itemDetail.iconColor" aria-hidden="true"></i>&nbsp;
                  <app-input-textarea [(model)]="propertyDetails[itemDetail.id]" [optionRequired]="itemDetail.required"
                    [optionTitle]="itemDetail.title" style="color:'{{itemDetail.iconColor}}';">
                  </app-input-textarea>
                </div>
                <!-- ngSwitchCase-->
                <div *ngSwitchDefault class="ntk-full-width">
                  <i [ngClass]="itemDetail.iconFont" [style.color]="itemDetail.iconColor" aria-hidden="true"></i>&nbsp;
                  <app-input-string [(model)]="propertyDetails[itemDetail.id]"
                    [optionForceUseDefaultValue]="itemDetail.configValueForceUseDefaultValue"
                    [optionMultipleChoice]="itemDetail.configValueMultipleChoice"
                    [optionDefaultValue]="itemDetail.configValueDefaultValue" [optionRequired]="itemDetail.required"
                    [optionTitle]="itemDetail.title" style="color:'{{itemDetail.iconColor}}';">
                  </app-input-string>
                </div>
              </ng-container>
            </ng-container>
            <mat-action-row>
              <button mat-button type="button" color="warn" *ngIf="i>0" (click)="prevStep()">{{'ACTION.PREVIOUS' |
                translate}}</button>
              <button mat-button type="button" color="primary" *ngIf="(i+1)<dataModel.propertyDetailGroups.length"
                (click)="nextStep()">{{'ACTION.NEXT' | translate}}</button>
              <button mat-button type="button" color="primary" *ngIf="(i+1)===dataModel.propertyDetailGroups.length"
                (click)="nextStep()">{{'ACTION.END' | translate}}</button>

            </mat-action-row>
          </mat-expansion-panel>
          <br>

        </mat-accordion>
        <p>
          {{'TITLE.ignored_property_list' | translate}}
        </p>
        <p>
          {{'TITLE.DESCRIPTION' | translate}}:
          <br>
          {{'TITLE.ignored_property_list_DESCRIPTION' | translate}}
        </p>
        <!-- linkPropertyIdsIgnored Field -->
        <app-estate-property-autocomplete (optionChange)="onActionSelectorPropertyIgnored($event)"
          [optionDisabled]="!fieldsInfo['linkPropertyIdsIgnored']?.accessEditField"
          [optionPlaceholder]="this.translate.instant('TITLE.Property')"
          [optionSelectForce]="this.dataModel.linkPropertyIdsIgnored">
        </app-estate-property-autocomplete>
      </div>
      <div>
        جستجو:
        <hr>
        <div class="ntk-full-width">
          <!-- IncludeAllSite Field -->
          <mat-slide-toggle [(ngModel)]="dataModel.includeAllSite"
            *ngIf="fieldsInfo['includeAllSite']?.accessWatchField"
            [disabled]="!fieldsInfo['includeAllSite']?.accessEditField" name="dataModel.includeAllSite">
            {{fieldsInfo['includeAllSite']?.fieldTitle}}
          </mat-slide-toggle>
        </div>
        <div class="row">
          <div class="col-md-10 col-sm-10 col-xs-16">
            <!-- resultSortColumn Field -->
            <mat-form-field class="ntk-full-width">
              <mat-label>{{fieldsInfo['resultSortColumn']?.fieldTitle}}</mat-label>
              <mat-select placeholder="{{'TITLE.Report_Format' | translate}}" [(ngModel)]="dataModel.resultSortColumn"
                name="dataModel.resultSortColumn" #RecordStatus="ngModel">
                <mat-option *ngFor="
                let item of dataFieldInfoModel;
                index as i
              " [value]="item.fieldName">{{ item.fieldTitle }}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div *ngIf="dataModel?.resultSortColumn?.length>0" class="col-md-2 col-sm-2 col-xs-2 resultSortIcon">
            <a (click)="resultSortArrowIcon = !resultSortArrowIcon">
              <i [class]="resultSortArrowIcon ? 'fa fa-arrow-down' : 'fa fa-arrow-up'" style="color: black;"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-9" style="text-align: center;"
      *ngIf="dataModel?.urlViewContentQRCodeBase64?.length>0 && dataModel?.urlViewContent?.length>0">

      <a href="{{dataModel.urlViewContent}}" target="_blank">
        <img [src]="dataModel.urlViewContentQRCodeBase64" alt="{{'TITLE.Scan_the_barcode' | translate}}" height="300px"
          width="300px">
      </a>
      <span class="navi-icon" [cdkCopyToClipboard]="dataModel.urlViewContent" (click)="onActionCopied()">
        <i class="flaticon2-copy"></i></span>
      <h5 style="text-align: right;">{{'TITLE.DESCRIPTION' | translate}}:</h5>
      <p dir="rtl" style="text-align: right;" style="font-size: 17px;">
        {{'TITLE.You_can_view_the_output_of_your_billboard' | translate}}
      </p>
      <p dir="rtl" style="text-align: right;" style="font-size: 17px;">
        {{'TITLE.In_the_title_section_you_can_edit_the_title_of_your_screen_and_write_the_address_and_description_for_that_staff'
        | translate}}
        <br>
        {{'TITLE.In_the_next_section_you_can_see_your_display_content_for_the_billboard' | translate}}
        <br>
        {{'TITLE.You_can_narrow_your_search_by_filling_in_any_of_the_fields' | translate}}
        <br>
        {{'TITLE.Finally_by_clicking_on_the_view_option_you_can_see_the_advertisements_you_want_and_by_clicking_on_the_save_option_you_can_create_your_own_billboard'
        | translate}}
      </p>
      <hr>
      <app-cms-qdoc [optionUrl]="dataModel.urlViewContent"></app-cms-qdoc>

    </div>
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-18">

        <div class="form-actions" *ngIf="formInfo.formSubmitAllow  && !loading.display">
          <button type="button" (click)="onFormCancel()" class="btn btn-light BTN-text">
            <i class="ft-x"></i> {{'ACTION.BACK' | translate}}
          </button>
          <button type="submit" (click)="onFormSubmit()" class="btn btn-success BTN-text"
            [disabled]="!vform.form.valid">
            <i class="fa fa-check-square-o"></i> {{'ACTION.SAVE' | translate}}
          </button>
          <button type="button" (click)="onFormLoadResult()" class="btn btn-info BTN-text"
            *ngIf="dataModel?.id?.length >0 ">
            <i class="ft-x"></i> {{'ACTION.VIEW' | translate}}
          </button>
        </div>
      </div>
    </div>
  </div>



  <!--end:::::::::::::::::::::::::::::::::::::::::cms-body-->

  <!--begin:::::::::::::::::::::::::::::::::::::::::cms-message-->

  <!--end:::::::::::::::::::::::::::::::::::::::::cms-message-->

  <!--begin:::::::::::::::::::::::::::::::::::::::::cms-footer-->

  <!--end:::::::::::::::::::::::::::::::::::::::::cms-footer-->
</form>
<div class="row alert alert-custom alert-white alert-shadow gutter-b">
  <div class="col-md-12 col-sm-12 col-xs-18">
    <app-estate-property-list [optionLinkCustomerOrderId]="dataModel.id" [optionloadComponent]="optionloadComponent"
      [optionsortType]="resultSortArrowIcon ? 'asc' : 'desc'" [optionloadByRoute]="false"
      #optionReloadList></app-estate-property-list>
  </div>
</div>
