<app-cms-html-notice [svg]="'assets/media/svg/icons/Design/Edit.svg'">
  <h3 class="card-label">
    {{formInfo.FormTitle}}
  </h3>
</app-cms-html-notice>
<form (ngSubmit)="onFormSubmit()" #vform="ngForm">
  <!--begin:::::::::::::::::::::::::::::::::::::::::cms-header-->


  <!--end:::::::::::::::::::::::::::::::::::::::::cms-header-->
  <app-progress-spinner [options]="loading"> </app-progress-spinner>
  <!--begin:::::::::::::::::::::::::::::::::::::::::cms-body-->
  <div class="row alert alert-custom alert-white alert-shadow gutter-b">
    <div class="col-md-6 col-sm-6 col-xs-9">
      <!-- Title Field -->
      <mat-form-field class="ntk-full-width">
        <mat-label>{{fieldsInfo['Title']?.FieldTitle}}</mat-label>
        <input matInput [(ngModel)]="dataModel.Title" name="dataModel.Title" #Title type="text"
          placeholder="{{fieldsInfo['Title']?.FieldTitle}}" minlength="3" maxlength="100" required />
        <mat-icon matSuffix *ngIf="dataModel.Title" matSuffix mat-icon-button aria-label="Clear"
          (click)="dataModel.Title = ''">close</mat-icon>
        <mat-icon matSuffix>mode_edit</mat-icon>
        <mat-hint align="end">{{ Title.value.length }} / 100</mat-hint>
        <mat-error *ngIf="Title.errors?.required">
          Title is <strong>{{'MESSAGE.required' | translate}}</strong>
        </mat-error>
      </mat-form-field>
      <!-- Description Field -->
      <mat-form-field class="ntk-full-width">
        <mat-label>{{fieldsInfo['Description']?.FieldTitle}}</mat-label>
        <textarea matInput [(ngModel)]="dataModel.Description" name="dataModel.Description" #Description type="text"
          placeholder="{{fieldsInfo['Description']?.FieldTitle}}" minlength="0" maxlength="500" rows=5></textarea>
        <mat-icon matSuffix *ngIf="dataModel.Description" matSuffix mat-icon-button aria-label="Clear"
          (click)="dataModel.Description = ''">close</mat-icon>
        <mat-icon matSuffix>mode_edit</mat-icon>
        <mat-hint align="end">{{ Description.value.length }} / 500</mat-hint>
      </mat-form-field>

      <div class="ntk-full-width">
        <!-- IncludeAllSite Field -->
        <mat-slide-toggle [(ngModel)]="dataModel.IncludeAllSite" *ngIf="fieldsInfo['IncludeAllSite']?.AccessWatchField"
          [disabled]="!fieldsInfo['IncludeAllSite']?.AccessEditField" name="dataModel.IncludeAllSite">
          {{fieldsInfo['IncludeAllSite']?.FieldTitle}}
        </mat-slide-toggle>
      </div>
      <hr>
      <!-- LinkEstateUserId Field -->
      <app-estate-accountuser-selector (optionChange)="onActionSelectorEstateUser($event)"
        [optionDisabled]="!fieldsInfo['LinkEstateUserId']?.AccessEditField"
        [optionSelectForce]="dataModel.LinkEstateUserId" [optionPlaceholder]="'پرسنل/مشتری املاک'">
      </app-estate-accountuser-selector>
      <!-- AreaAddress Field -->
      <mat-form-field class="ntk-full-width">
        <mat-label>{{fieldsInfo['AreaAddress']?.FieldTitle}}</mat-label>
        <textarea matInput [(ngModel)]="dataModel.AreaAddress" name="dataModel.AreaAddress" #AreaAddress type="text"
          placeholder="{{fieldsInfo['AreaAddress']?.FieldTitle}}" minlength="0" maxlength="500" rows=5></textarea>
        <mat-icon matSuffix *ngIf="dataModel.AreaAddress" matSuffix mat-icon-button aria-label="Clear"
          (click)="dataModel.AreaAddress = ''">close</mat-icon>
        <mat-icon matSuffix>mode_edit</mat-icon>
        <mat-hint align="end">{{ AreaAddress.value.length }} / 500</mat-hint>
      </mat-form-field>


      <p>محتوای انتخابی شما برای نمایش </p>
      <P>با انتخاب هر کدام از موارد زیر محدوده نتایج جستجو کوچکتر می شود</P>
      <!-- LinkLocationIds Field -->
      <app-cms-location-autocomplete (optionChange)="onActionSelectorLocation($event)"
        [optionDisabled]="!fieldsInfo['LinkLocationIds']?.AccessEditField"
        [optionSelectForce]="dataModel.LinkLocationIds" [optionPlaceholder]="{{'TITLE.Region' | translate}}">
      </app-cms-location-autocomplete>
      <hr>
      <!-- LinkPropertyTypeUsageId Field -->
      <app-estate-propertytypeusage-selector (optionChange)="onActionSelectorSelectUsage($event)"
        [optionDisabled]="!fieldsInfo['LinkPropertyTypeUsageId']?.AccessEditField" [optionTypeView]="2"
        [optionSelectForce]="dataModel.LinkPropertyTypeUsageId" [optionPlaceholder]="'نوع کاربری'">
        <mat-icon matSuffix *ngIf="dataModel.LinkPropertyTypeUsageId && dataModel.LinkPropertyTypeUsageId?.length>0"
          matSuffix mat-icon-button aria-label="Clear" (click)="dataModel.LinkPropertyTypeUsageId = null;">close
        </mat-icon>
      </app-estate-propertytypeusage-selector>

      <br>
      <hr>
      <!-- LinkPropertyTypeLanduseId Field -->
      <app-estate-propertytypelanduse-selector (optionChange)="onActionSelectorSelectLanduse($event)"
        [optionDisabled]="!fieldsInfo['LinkPropertyTypeLanduseId']?.AccessEditField" [optionTypeView]="2"
        [optionSelectForce]="dataModel.LinkPropertyTypeLanduseId" [optionPlaceholder]="'نوع ملک'">
        <mat-icon matSuffix *ngIf="dataModel.LinkPropertyTypeLanduseId && dataModel.LinkPropertyTypeLanduseId?.length>0"
          matSuffix mat-icon-button aria-label="Clear" (click)="onActionSelectorSelectLanduse(null)">close
        </mat-icon>
      </app-estate-propertytypelanduse-selector>

      <br>
      <hr>
      <!-- LinkContractTypeIds Field -->
      <app-estate-contract-type-selector (optionChange)="onActionSelectorContarctType($event)" [optionTypeView]="2"
        [optionDisabled]="!fieldsInfo['LinkContractTypeId']?.AccessEditField"
        [optionSelectForce]="dataModel.LinkContractTypeId" [optionPlaceholder]="'نوع معامله'">
        <mat-icon matSuffix *ngIf="dataModel.LinkContractTypeId && dataModel.LinkContractTypeId?.length>0" matSuffix
          mat-icon-button aria-label="Clear" (click)="onActionSelectorContarctType(null)">close
        </mat-icon>
      </app-estate-contract-type-selector>

      <br>
      <hr>
      <!-- CreatedYaer Field -->
      <mat-form-field class="ntk-full-width"
        *ngIf="this.dataModel.LinkPropertyTypeLanduseId && PropertyTypeSelected?.TitleCreatedYaer?.length>1">
        <mat-label>{{PropertyTypeSelected.TitleCreatedYaer}}</mat-label>
        <input matInput [(ngModel)]="dataModel.CreatedYaer" name="dataModel.CreatedYaer" #CreatedYaer type="number"
          placeholder="{{fieldsInfo['CreatedYaer']?.FieldTitle}}" />
        <mat-icon matSuffix *ngIf="dataModel.CreatedYaer" matSuffix mat-icon-button aria-label="Clear"
          (click)="dataModel.CreatedYaer = null">close</mat-icon>
        <mat-icon matSuffix>mode_edit</mat-icon>

      </mat-form-field>
      <!-- Partition Field -->
      <mat-form-field class="ntk-full-width"
        *ngIf="this.dataModel.LinkPropertyTypeLanduseId && PropertyTypeSelected?.TitlePartition?.length>1">
        <mat-label>{{PropertyTypeSelected.TitlePartition}}</mat-label>
        <input matInput [(ngModel)]="dataModel.Partition" name="dataModel.Partition" #Partition type="number"
          placeholder="{{PropertyTypeSelected.TitlePartition}}" />
        <mat-icon matSuffix *ngIf="dataModel.Partition" matSuffix mat-icon-button aria-label="Clear"
          (click)="dataModel.Partition = 0">close</mat-icon>
        <mat-icon matSuffix>mode_edit</mat-icon>
      </mat-form-field>
      <!-- Area Field -->
      <mat-form-field class="ntk-full-width" *ngIf="fieldsInfo['Area']?.AccessWatchField">
        <mat-label>{{fieldsInfo['Area']?.FieldTitle}}</mat-label>
        <input matInput [(ngModel)]="dataModel.Area" name="dataModel.Area" #Area type="number"
          disabled="{{!fieldsInfo['Area']?.AccessEditField}}" placeholder="{{fieldsInfo['Area']?.FieldTitle}}" />
        <mat-icon matSuffix *ngIf="dataModel.Area" matSuffix mat-icon-button aria-label="Clear"
          (click)="dataModel.Area = 0">close</mat-icon>
        <mat-icon matSuffix>mode_edit</mat-icon>
        <mat-hint align="start">
          <mat-icon matSuffix class="info-field-icon">info</mat-icon>
          <strong class="info-field-text">{{fieldsInfo['Area']?.FieldDescription}}</strong>
        </mat-hint>
      </mat-form-field>


      <!-- SalePriceMin Field -->
      <mat-form-field class="ntk-full-width"
        *ngIf="fieldsInfo['SalePriceMin']?.AccessWatchField && contractTypeSelected?.HasSalePrice">
        <mat-label> {{fieldsInfo['SalePriceMin']?.FieldTitle}}</mat-label>
        <input matInput [(ngModel)]="dataModel.SalePriceMin" name="dataModel.SalePriceMin" #SalePriceMin type="number"
          [disabled]="!fieldsInfo['SalePriceMin']?.AccessEditField"
          placeholder="{{fieldsInfo['SalePriceMin']?.FieldTitle}}" />
        <mat-icon matSuffix *ngIf="dataModel.SalePriceMin" matSuffix mat-icon-button aria-label="Clear"
          (click)="dataModel.SalePriceMin = 0">close</mat-icon>
        <mat-icon matSuffix>mode_edit</mat-icon>
      </mat-form-field>
      <!-- SalePriceMax Field -->
      <mat-form-field class="ntk-full-width"
        *ngIf="fieldsInfo['SalePriceMax']?.AccessWatchField && contractTypeSelected?.HasSalePrice">
        <mat-label> {{fieldsInfo['SalePriceMax']?.FieldTitle}}</mat-label>
        <input matInput [(ngModel)]="dataModel.SalePriceMax" name="dataModel.SalePriceMax" #SalePriceMax type="number"
          [disabled]="!fieldsInfo['SalePriceMax']?.AccessEditField"
          placeholder="{{fieldsInfo['SalePriceMax']?.FieldTitle}}" />
        <mat-icon matSuffix *ngIf="dataModel.SalePriceMax" matSuffix mat-icon-button aria-label="Clear"
          (click)="dataModel.SalePriceMax = 0">close</mat-icon>
        <mat-icon matSuffix>mode_edit</mat-icon>
      </mat-form-field>
      <!-- RentPriceMin Field -->
      <mat-form-field class="ntk-full-width"
        *ngIf="fieldsInfo['RentPriceMin']?.AccessWatchField && contractTypeSelected?.HasRentPrice">
        <mat-label> {{fieldsInfo['RentPriceMin']?.FieldTitle}}</mat-label>
        <input matInput [(ngModel)]="dataModel.RentPriceMin" name="dataModel.RentPriceMin" #RentPriceMin type="number"
          [disabled]="!fieldsInfo['RentPriceMin']?.AccessEditField"
          placeholder="{{fieldsInfo['RentPriceMin']?.FieldTitle}}" />
        <mat-icon matSuffix *ngIf="dataModel.RentPriceMin" matSuffix mat-icon-button aria-label="Clear"
          (click)="dataModel.RentPriceMin = 0">close</mat-icon>
        <mat-icon matSuffix>mode_edit</mat-icon>
      </mat-form-field>
      <!-- RentPriceMax Field -->
      <mat-form-field class="ntk-full-width"
        *ngIf="fieldsInfo['RentPriceMax']?.AccessWatchField && contractTypeSelected?.HasRentPrice">
        <mat-label> {{fieldsInfo['RentPriceMax']?.FieldTitle}}</mat-label>
        <input matInput [(ngModel)]="dataModel.RentPriceMax" name="dataModel.RentPriceMax" #RentPriceMax type="number"
          [disabled]="!fieldsInfo['RentPriceMax']?.AccessEditField"
          placeholder="{{fieldsInfo['RentPriceMax']?.FieldTitle}}" />
        <mat-icon matSuffix *ngIf="dataModel.RentPriceMax" matSuffix mat-icon-button aria-label="Clear"
          (click)="dataModel.RentPriceMax = 0">close</mat-icon>
        <mat-icon matSuffix>mode_edit</mat-icon>
      </mat-form-field>
      <!-- DepositPriceMin Field -->
      <mat-form-field class="ntk-full-width"
        *ngIf="fieldsInfo['DepositPriceMin']?.AccessWatchField && contractTypeSelected?.HasDepositPrice">
        <mat-label> {{fieldsInfo['DepositPriceMin']?.FieldTitle}}</mat-label>
        <input matInput [(ngModel)]="dataModel.DepositPriceMin" name="dataModel.DepositPriceMin" #DepositPriceMin
          type="number" [disabled]="!fieldsInfo['DepositPriceMin']?.AccessEditField"
          placeholder="{{fieldsInfo['DepositPriceMin']?.FieldTitle}}" />
        <mat-icon matSuffix *ngIf="dataModel.DepositPriceMin" matSuffix mat-icon-button aria-label="Clear"
          (click)="dataModel.DepositPriceMin = 0">close</mat-icon>
        <mat-icon matSuffix>mode_edit</mat-icon>
      </mat-form-field>
      <!-- DepositPriceMax Field -->
      <mat-form-field class="ntk-full-width"
        *ngIf="fieldsInfo['DepositPriceMax']?.AccessWatchField && contractTypeSelected?.HasDepositPrice">
        <mat-label> {{fieldsInfo['DepositPriceMax']?.FieldTitle}}</mat-label>
        <input matInput [(ngModel)]="dataModel.DepositPriceMax" name="dataModel.DepositPriceMax" #DepositPriceMax
          type="number" [disabled]="!fieldsInfo['DepositPriceMax']?.AccessEditField"
          placeholder="{{fieldsInfo['DepositPriceMax']?.FieldTitle}}" />
        <mat-icon matSuffix *ngIf="dataModel.DepositPriceMax" matSuffix mat-icon-button aria-label="Clear"
          (click)="dataModel.DepositPriceMax = 0">close</mat-icon>
        <mat-icon matSuffix>mode_edit</mat-icon>
      </mat-form-field>
      <br>
      <p>
        لیست املاک خاص
      </p>
      <!-- LinkPropertyIds Field -->
      <app-estate-property-autocomplete (optionChange)="onActionSelectorProperty($event)"
        [optionDisabled]="!fieldsInfo['LinkPropertyIds']?.AccessEditField" [optionPlaceholder]="' + ملک '"
        [optionSelectForce]="this.dataModel.LinkPropertyIds">
      </app-estate-property-autocomplete>
      <br>

      <mat-accordion class="example-headers-align">
        <mat-expansion-panel *ngFor="let itemGroup of dataModel.PropertyDetailGroups ; index as i"
          [expanded]="step === i" (opened)="setStep(i)" hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{itemGroup.Title}}
            </mat-panel-title>
            <mat-panel-description>
              {{itemGroup.Description}}
              <mat-icon style="width: 100px;">{{itemGroup.IconFont}}</mat-icon>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <!-- value-->
          <ng-container *ngFor="let itemDetail of itemGroup.PropertyDetails">
            <ng-container [ngSwitch]="itemDetail.InputDataType">
              <!-- ngSwitchCase-->
              <div *ngSwitchCase="enumInputDataType.String" class="ntk-full-width">
                <app-input-string [(model)]="propertyDetails[itemDetail.Id]"
                  [optionForceUseDefaultValue]="itemDetail.ConfigValueForceUseDefaultValue"
                  [optionMultipleChoice]="itemDetail.ConfigValueMultipleChoice"
                  [optionDefaultValue]="itemDetail.ConfigValueDefaultValue" [optionRequired]="itemDetail.Required"
                  [optionTitle]="itemDetail.Title" style="color:'{{itemDetail.IconColor}}';">
                </app-input-string>
              </div>
              <!-- ngSwitchCase-->
              <div *ngSwitchCase="enumInputDataType.Int" class="ntk-full-width">
                <app-input-int [(model)]="propertyDetails[itemDetail.Id]" [optionRequired]="itemDetail.Required"
                  [optionTitle]="itemDetail.Title" style="color:'{{itemDetail.IconColor}}';">
                </app-input-int>
              </div>
              <!-- ngSwitchCase-->
              <div *ngSwitchCase="enumInputDataType.Boolean" class="ntk-full-width">
                <app-input-boolean [(model)]="propertyDetails[itemDetail.Id]">{{itemDetail.Title}}
                </app-input-boolean>
              </div>
              <!-- ngSwitchCase-->
              <div *ngSwitchCase="enumInputDataType.Float" class="ntk-full-width">
                <app-input-float [(model)]="propertyDetails[itemDetail.Id]" [optionRequired]="itemDetail.Required"
                  [optionTitle]="itemDetail.Title" style="color:'{{itemDetail.IconColor}}';">
                </app-input-float>
              </div>
              <!-- ngSwitchCase-->
              <div *ngSwitchCase="enumInputDataType.Date" class="ntk-full-width">
                <label style="color:'{{itemDetail.IconColor}}';">{{itemDetail.Title}}</label>
                <app-input-date [(model)]="propertyDetails[itemDetail.Id]" [optionRequired]="itemDetail.Required">
                </app-input-date>
              </div>
              <!-- ngSwitchCase-->
              <div *ngSwitchCase="enumInputDataType.TextArea" class="ntk-full-width">
                <app-input-textarea [(model)]="propertyDetails[itemDetail.Id]" [optionRequired]="itemDetail.Required"
                  [optionTitle]="itemDetail.Title" style="color:'{{itemDetail.IconColor}}';">
                </app-input-textarea>
              </div>
              <!-- ngSwitchCase-->
              <div *ngSwitchDefault class="ntk-full-width">
                <app-input-string [(model)]="propertyDetails[itemDetail.Id]"
                  [optionForceUseDefaultValue]="itemDetail.ConfigValueForceUseDefaultValue"
                  [optionMultipleChoice]="itemDetail.ConfigValueMultipleChoice"
                  [optionDefaultValue]="itemDetail.ConfigValueDefaultValue" [optionRequired]="itemDetail.Required"
                  [optionTitle]="itemDetail.Title" style="color:'{{itemDetail.IconColor}}';">
                </app-input-string>
              </div>
            </ng-container>
          </ng-container>
          <mat-action-row>
            <button mat-button type="button" color="warn" *ngIf="i>0" (click)="prevStep()">Previous</button>
            <button mat-button type="button" color="primary" *ngIf="(i+1)<dataModel.PropertyDetailGroups.length"
              (click)="nextStep()">Next</button>
            <button mat-button type="button" color="primary" *ngIf="(i+1)==dataModel.PropertyDetailGroups.length"
              (click)="nextStep()">End</button>

          </mat-action-row>
        </mat-expansion-panel>
        <br>

      </mat-accordion>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-9" align="center"
      *ngIf="dataModel?.UrlViewContentQRCodeBase64?.length>0 && dataModel?.UrlViewContent?.length>0">

      <a href="{{dataModel.UrlViewContent}}" target="_blank">
        <img [src]="dataModel.UrlViewContentQRCodeBase64" alt="بارکد را اسکن کنید" height="300px" width="300px">
      </a>
      <span class="navi-icon" [cdkCopyToClipboard]="dataModel.UrlViewContent" (click)="onActionCopied()">
        <i class="flaticon2-copy"></i></span>
      <h5 align="right">توضیحات:</h5>
      <p dir="rtl" align="right" style="font-size: 17px;">
        میتوانید با اسکن کردن بارکد بالا و یا کپی کردن لینک آن خروجی بیلبورد خود را مشاهده نمایید.
      </p>
      <p dir="rtl" align="right" style="font-size: 17px;">
        در بخش 'عنوان' میتوانید عنوان صفحه نمایش خود را ویرایش نمایید و برای آن پرسنل،آدرس و توضیحات بنویسید.
        <br>
        در بخش بعدی میتوانید محتوای نمایشی خود برای بیلبورد را مشاهده نمایید.
        <br>
        با پر کردن هر کدام از فیلد ها میتوانید محدوده جستجو خود را کوچکتر کنید.
        <br>
        در نهایت با کلیک بر روی گزینه 'مشاهده' میتوانید آگهی های مورد نظر خود را مشاهده و با کلیک بر روی گزینه 'ذخیره'
        بیلبورد خود را بسازید.
      </p>
      <hr>
      <app-cms-qdoc [optionUrl]="dataModel.UrlViewContent"></app-cms-qdoc>

    </div>
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-18">

        <div class="form-actions" *ngIf="formInfo.FormSubmitAllow">
          <button type="button" (click)="onFormCancel()" class="btn btn-light BTN">
            <i class="ft-x"></i> {{'ACTION.BACK' | translate}}
          </button>
          <button type="submit" (click)="onFormSubmit()" class="btn btn-success BTN" [disabled]="!vform.form.valid">
            <i class="fa fa-check-square-o"></i> {{'ACTION.SAVE' | translate}}
          </button>
          <button type="button" (click)="onFormLoadResult()" class="btn btn-info BTN" *ngIf="dataModel?.Id?.length >0 ">
            <i class="ft-x"></i> {{'ACTION.VIEW' | translate}}
          </button>
        </div>
      </div>
    </div>
  </div>



  <!--end:::::::::::::::::::::::::::::::::::::::::cms-body-->

  <!--begin:::::::::::::::::::::::::::::::::::::::::cms-message-->

  <!--end:::::::::::::::::::::::::::::::::::::::::cms-message-->

  <!--begin:::::::::::::::::::::::::::::::::::::::::cms-footer-->

  <!--end:::::::::::::::::::::::::::::::::::::::::cms-footer-->
</form>
<div class="row alert alert-custom alert-white alert-shadow gutter-b">
  <div class="col-md-12 col-sm-12 col-xs-18">
    <app-estate-property-list [optionLinkCustomerOrderId]="dataModel.Id" [optionloadComponent]="optionloadComponent"
      [optionloadByRoute]="false" #optionReloadList></app-estate-property-list>
  </div>
</div>