<div class="row">
  <div class="col-xl-12">
    <div class="button-row">
      <button *ngIf="dataModelResult.Access.AccessWatchRow && tableRowSelected.Id>0" (click)="onActionbuttonViewRow()"
        type="button" class="btn btn-info ml-2" data-toggle="modal" data-target="#categoryModal">{{'ACTION.VIEW' | translate}}</button>
      <button *ngIf="dataModelResult.Access.AccessAddRow " (click)="onActionbuttonNewRow()" type="button"
        class="btn btn-primary" id="openModalButton" data-toggle="modal" data-target="#categoryModal">{{'ACTION.ADD' | translate}}</button>
      <button *ngIf="dataModelResult.Access.AccessEditRow && tableRowSelected.Id>0" (click)="onActionbuttonEditRow()"
        type="button" class="btn btn-warning ml-2" data-toggle="modal" data-target="#categoryModal">{{'ACTION.EDIT' | translate}}</button>
      <button *ngIf="dataModelResult.Access.AccessDeleteRow && tableRowSelected.Id>0"
        (click)="onActionbuttonDeleteRow()" type="button" class="btn btn-danger  ml-2">{{'ACTION.DELETE' | translate}}</button>

      <a class="btn btn-secondary btn-sm BTN">
        <mat-slide-toggle [(ngModel)]="optionsSearch.data.show">{{'ACTION.SEARCH' | translate}}</mat-slide-toggle>
      </a>

      <a class="btn btn-success btn-sm BTN">
        <mat-slide-toggle (click)="onActionbuttonStatist()">{{'ACTION.STATIST' | translate}}
        </mat-slide-toggle>
      </a>
      <a class="btn btn-info btn-sm BTN">
        <mat-slide-toggle (click)="onActionbuttonExport()">{{'ACTION.EXPORTFILE' | translate}}
        </mat-slide-toggle>
      </a>
      <button (click)="onActionbuttonReload()" type="button" class="btn btn-warning BTN">{{'ACTION.RELOAD' | translate}}</button>
      <button (click)="onActionBackToParentSiteList()" *ngIf="this.requestLinkSiteId>0" type="button"
        class="btn btn-warning BTN">{{'ACTION.BACK' | translate}}</button>
      <app-cms-search-list [(options)]="optionsSearch"></app-cms-search-list>
      <app-cms-export-list [(options)]="optionsExport"></app-cms-export-list>
      <app-cms-statist-list [(options)]="optionsStatist"></app-cms-statist-list>
    </div>

    <app-progress-spinner [options]="loading">
    </app-progress-spinner>

    <div class="example-container mat-elevation-z8">
      <mat-table [dataSource]="tableSource" matSort #tableSort="matSort" (matSortChange)="onTableSortData(tableSort)">
        <!-- LinkMainImageIdSrc Column -->
        <ng-container matColumnDef="LinkMainImageIdSrc">
          <mat-header-cell *matHeaderCellDef mat-sort-header> {{'TITLE.PICTURE' | translate}} </mat-header-cell>
          <mat-cell *matCellDef="let row">
            <img *ngIf="row?.LinkMainImageIdSrc?.length>0" style="vertical-align:middle;" aria-hidden
              src="{{row.LinkMainImageIdSrc}}" height="40" width="40" />

          </mat-cell>
        </ng-container>
        <!-- ID Column -->
        <ng-container matColumnDef="Id">
          <mat-header-cell *matHeaderCellDef mat-sort-header> {{fieldsInfo['Id']?.FieldTitle}} </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.Id}} </mat-cell>
        </ng-container>
        <!-- LinkSiteId Column -->
        <ng-container matColumnDef="LinkSiteId">
          <mat-header-cell *matHeaderCellDef mat-sort-header> {{fieldsInfo['LinkSiteId']?.FieldTitle}}
          </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.LinkSiteId}} </mat-cell>
        </ng-container>
        <!-- RecordStatus Column -->
        <ng-container matColumnDef="RecordStatus">
          <mat-header-cell *matHeaderCellDef mat-sort-header> {{fieldsInfo['RecordStatus']?.FieldTitle}}
          </mat-header-cell>
          <mat-cell *matCellDef="let row"> <i [ngClass]="row.RecordStatus|statusClass"></i> </mat-cell>
        </ng-container>
        <!-- Username Column -->
        <ng-container matColumnDef="Username">
          <mat-header-cell *matHeaderCellDef mat-sort-header> {{fieldsInfo['Username']?.FieldTitle}} </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.Username}} </mat-cell>
        </ng-container>
        <!-- Mobile Column -->
        <ng-container matColumnDef="Mobile">
          <mat-header-cell *matHeaderCellDef mat-sort-header> {{fieldsInfo['Mobile']?.FieldTitle}} </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.Mobile}} </mat-cell>
        </ng-container>
        <!-- Email Column -->
        <ng-container matColumnDef="Email">
          <mat-header-cell *matHeaderCellDef mat-sort-header> {{fieldsInfo['Email']?.FieldTitle}} </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.Email}} </mat-cell>
        </ng-container>
        <!-- Name Column -->
        <ng-container matColumnDef="Name">
          <mat-header-cell *matHeaderCellDef mat-sort-header> {{fieldsInfo['Name']?.FieldTitle}} </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.Name}} </mat-cell>
        </ng-container>
        <!-- LastName Column -->
        <ng-container matColumnDef="LastName">
          <mat-header-cell *matHeaderCellDef mat-sort-header> {{fieldsInfo['LastName']?.FieldTitle}} </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.LastName}} </mat-cell>
        </ng-container>
        <!-- CompanyName Column -->
        <ng-container matColumnDef="CompanyName">
          <mat-header-cell *matHeaderCellDef mat-sort-header> {{fieldsInfo['CompanyName']?.FieldTitle}} </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.CompanyName}} </mat-cell>
        </ng-container>
        <!-- CreatedDate Column -->
        <ng-container matColumnDef="CreatedDate">
          <mat-header-cell *matHeaderCellDef mat-sort-header> {{fieldsInfo['CreatedDate']?.FieldTitle}}
          </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{ publicHelper.LocaleDate(row.CreatedDate) }} </mat-cell>
        </ng-container>
        <!-- UpdatedDate Column -->
        <ng-container matColumnDef="UpdatedDate">
          <mat-header-cell *matHeaderCellDef mat-sort-header> {{fieldsInfo['UpdatedDate']?.FieldTitle}}
          </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{ publicHelper.LocaleDate(row.UpdatedDate) }} </mat-cell>
        </ng-container>
        <!-- Action Column -->
        <ng-container matColumnDef="Action">
          <mat-header-cell *matHeaderCellDef> ... </mat-header-cell>
          <mat-cell *matCellDef="let row" class=' Action'>
            <!-- Action Menu -->
            <button mat-icon-button [matMenuTriggerFor]="actionMenu" aria-label="Action Menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #actionMenu="matMenu">
              <button mat-menu-item (click)="onActionbuttonViewRow(row)">
                <mat-icon>view</mat-icon>
                <span>{{'ACTION.VIEW' | translate}}</span>
              </button>
              <button mat-menu-item *ngIf="tokenInfo.UserAccessAdminAllowToProfessionalData || row.Id==tokenInfo.UserId"
                (click)="onActionbuttonEditRow(row)">
                <mat-icon>mode_edit</mat-icon>
                <span>{{'ACTION.EDIT' | translate}}</span>
              </button>
              <button mat-menu-item *ngIf="tokenInfo.UserAccessAdminAllowToProfessionalData || row.Id==tokenInfo.UserId"
                (click)="onActionbuttonChangePassword(row)">
                <mat-icon>lock</mat-icon>
                <span>تغییر کلمه عبور</span>
              </button>
              <button mat-menu-item *ngIf="tokenInfo.UserAccessAdminAllowToProfessionalData"
                (click)="onActionbuttonDeleteRow(row)">
                <mat-icon>delete_forever</mat-icon>
                <span>{{'ACTION.DELETE' | translate}}</span>
              </button>
              <button mat-menu-item *ngIf="tokenInfo.UserAccessAdminAllowToProfessionalData"
                (click)="onActionbuttonLoginToRow(row)">
                <mat-icon>login</mat-icon>
                <span>ورود به این کاربر</span>
              </button>
              <button mat-menu-item (click)="onActionbuttonSiteList(row)">
                <mat-icon>supervised_user_circle</mat-icon>
                <span>سایت های عضو</span>
              </button>
              <button mat-menu-item (click)="onActionbuttonSiteByGroupList(row)">
                <mat-icon>supervisor_account</mat-icon>
                <span>دسترسی سایت های عضو</span>
              </button>

            </mat-menu>
          </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="tabledisplayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: tabledisplayedColumns;" (click)="onActionTableRowSelect(row)"
          [ngStyle]="{'background': row.Id === tableRowSelected.Id ? '#d3d3da' : '' }">
        </mat-row>
      </mat-table>

      <mat-paginator #paginator [length]="(dataModelResult.TotalRowCount)"
        [pageIndex]="(dataModelResult.CurrentPageNumber-1)" [pageSize]="dataModelResult.RowPerPage"
        [pageSizeOptions]="[5, 10, 20, 100]" (page)="onTablePageingData($event)"></mat-paginator>

    </div>

  </div>
</div>
