<form (ngSubmit)="onFormSubmit()" #vform="ngForm">
  <div class="ntk-cms-html-card-header p-4">
    <!--begin:::::::::::::::::::::::::::::::::::::::::cms-header-->
    <h3 class="card-label">
      {{formInfo.FormTitle}}
    </h3>

    <mat-slide-toggle style="position: inherit;" [(ngModel)]="dataProfessional" name="dataProfessional">
      محتوای تکمیلی
    </mat-slide-toggle>

    <!--end:::::::::::::::::::::::::::::::::::::::::cms-header-->
  </div>
  <div class="ntk-cms-html-card-body">
    <app-progress-spinner [options]="loading"> </app-progress-spinner>
    <!--begin:::::::::::::::::::::::::::::::::::::::::cms-body-->
    <mat-horizontal-stepper (selectionChange)="onStepClick($event,stepper)" #stepper>
      <mat-step label="{{'TITLE.REQUIRED_INFORMATION' | translate}}" state="main">
        <!-- LinkPropertyTypeUsageId Field -->
        <app-estate-propertytypeusage-selector (optionChange)="onActionSelectorSelectUsage($event)"
          [optionDisabled]="!fieldsInfo['LinkPropertyTypeUsageId']?.AccessAddField" [optionTypeView]="2"
          [optionSelectForce]="dataModel.LinkPropertyTypeUsageId" [optionPlaceholder]="{{'TITLE.User_Type' | translate}}">
        </app-estate-propertytypeusage-selector>

        <!-- LinkPropertyTypeLanduseId Field -->
        <div
          *ngIf="dataModel.LinkPropertyTypeUsageId && dataModel.LinkPropertyTypeUsageId.length>0 && listTypeLanduse && listTypeLanduse.length>0"
          style="clear:both;">
          <div class="ntk-pull-right" *ngFor="let state of listTypeLanduse ">
            <button type="button" mat-raised-button
              [attr.disabled]="!fieldsInfo['LinkPropertyTypeLanduseId']?.AccessAddField? true : null"
              color="{{state.Id===dataModel.LinkPropertyTypeLanduseId ? 'primary' : 'info'}}"
              (click)="onActionSelectorSelectLanduse(state)">{{ state.TitleML }}</button>
          </div>
        </div>

        <!-- LinkPropertyTypeLanduseId Field -->
        <app-estate-propertytypelanduse-selector (optionChange)="onActionSelectorSelectLanduse($event)"
          *ngIf="(!listTypeLanduse || listTypeLanduse.length===0) && dataModel.LinkPropertyTypeUsageId && dataModel.LinkPropertyTypeUsageId.length>0"
          [optionDisabled]="!fieldsInfo['LinkPropertyTypeLanduseId']?.AccessAddField" [optionTypeView]="2"
          [optionSelectForce]="dataModel.LinkPropertyTypeLanduseId" [optionPlaceholder]="{{'TITLE.Property_Type' | translate}}"
          [optionTypeUsageId]="dataModel.LinkPropertyTypeUsageId">

        </app-estate-propertytypelanduse-selector>
        <br>
        <!-- RecordStatus Field -->
        <mat-form-field *ngIf="dataProfessional" class="ntk-full-width">
          <mat-label>{{fieldsInfo['RecordStatus']?.FieldTitle}}</mat-label>
          <mat-select placeholder="{{fieldsInfo['RecordStatus']?.FieldTitle}}"
            [disabled]="!fieldsInfo['RecordStatus']?.AccessAddField" [(ngModel)]="dataModel.RecordStatus"
            name="dataModel.RecordStatus" #Reconpm="ngModel" panelClass="recordStatus-{{ dataModel.RecordStatus }}"
            required>
            <mat-option *ngFor="
                  let item of dataModelEnumRecordStatusResult.ListItems;
                  index as i
                " [value]="item.Value">{{ item.Description }}</mat-option>
          </mat-select>
          <mat-hint align="start">
            <mat-icon matSuffix class="info-field-icon">info</mat-icon>
            <strong class="info-field-text">{{fieldsInfo['RecordStatus']?.FieldDescription}}</strong>
          </mat-hint>
          <mat-hint align="end">{{'TITLE.SELECT_STATUS' | translate}}</mat-hint>
          <mat-error *ngIf="RecordStatus.errors?.required">
            {{fieldsInfo['RecordStatus']?.FieldTitle}} <strong>{{'MESSAGE.required' | translate}}</strong>
          </mat-error>
        </mat-form-field>

        <!-- Title Field -->
        
        <mat-form-field class="ntk-full-width" *ngIf="fieldsInfo['Title']?.AccessWatchField">
          <mat-label>{{fieldsInfo['Title']?.FieldTitle}}</mat-label>
          <input matInput [(ngModel)]="dataModel.Title" name="dataModel.Title" #Title type="text"
            disabled="{{!fieldsInfo['Title']?.AccessAddField}}" placeholder="{{fieldsInfo['Title']?.FieldTitle}}"
            minlength="3" maxlength="100" required />
          <mat-icon matSuffix *ngIf="dataModel.Title" matSuffix mat-icon-button aria-label="Clear"
            (click)="dataModel.Title = ''">close</mat-icon>
          <mat-icon matSuffix>mode_edit</mat-icon>
          <mat-hint align="start">
            <mat-icon  matSuffix class=" info-field-icon">info</mat-icon>
            <strong class="info-field-text">{{fieldsInfo['Title']?.FieldDescription}}</strong>
          </mat-hint>
          <mat-hint align="end">{{ Title.value.length }} / 100</mat-hint>
          <mat-error *ngIf="Title.errors?.required">
            {{fieldsInfo['Title']?.FieldTitle}} <strong>{{'MESSAGE.required' | translate}}</strong>
          </mat-error>
        </mat-form-field>
        <!-- CaseCode Field -->
        <mat-form-field class="ntk-full-width" *ngIf="fieldsInfo['CaseCode']?.AccessWatchField">
          <mat-label>{{fieldsInfo['CaseCode']?.FieldTitle}}</mat-label>
          <input matInput [(ngModel)]="dataModel.CaseCode" name="dataModel.CaseCode" #CaseCode type="text"
            disabled="{{!fieldsInfo['CaseCode']?.AccessAddField}}" placeholder="{{fieldsInfo['CaseCode']?.FieldTitle}}"
            minlength="3" maxlength="100" required />
          <mat-icon matSuffix *ngIf="dataModel.CaseCode" matSuffix mat-icon-button aria-label="Clear"
            (click)="dataModel.CaseCode = ''">close</mat-icon>
          <mat-icon matSuffix>mode_edit</mat-icon>
          <mat-hint align="start">
            <mat-icon matSuffix class="info-field-icon">info</mat-icon>
            <strong class="info-field-text">{{fieldsInfo['CaseCode']?.FieldDescription}}</strong>
          </mat-hint>
          <mat-hint align="end">{{ CaseCode.value.length }} / 100</mat-hint>
          <mat-error *ngIf="CaseCode.errors?.required">
            {{fieldsInfo['CaseCode']?.FieldTitle}} <strong>{{'MESSAGE.required' | translate}}</strong>
          </mat-error>
        </mat-form-field>
        <!-- ViewConfigHiddenInList Field -->
        <div class="ntk-full-width">
          <mat-slide-toggle [(ngModel)]="dataModel.ViewConfigHiddenInList"
            *ngIf="fieldsInfo['ViewConfigHiddenInList']?.AccessWatchField"
            [disabled]="!fieldsInfo['ViewConfigHiddenInList']?.AccessAddField" name="dataModel.ViewConfigHiddenInList">
            {{fieldsInfo['ViewConfigHiddenInList']?.FieldTitle}}
          </mat-slide-toggle>
        </div>
        <!-- CreatedYaer Field -->
        <mat-form-field class="ntk-full-width"
          *ngIf="this.dataModel.LinkPropertyTypeLanduseId && PropertyTypeSelected.TitleCreatedYaer.length>1">
          <mat-label>{{PropertyTypeSelected.TitleCreatedYaer}}</mat-label>
          <input matInput [(ngModel)]="dataModel.CreatedYaer" name="dataModel.CreatedYaer" #CreatedYaer type="number"
            placeholder="{{fieldsInfo['CreatedYaer']?.FieldTitle}}" />
          <mat-icon matSuffix *ngIf="dataModel.CreatedYaer" matSuffix mat-icon-button aria-label="Clear"
            (click)="dataModel.CreatedYaer = null">close</mat-icon>
          <mat-icon matSuffix>mode_edit</mat-icon>

        </mat-form-field>
        <!-- Partition Field -->
        <mat-form-field class="ntk-full-width"
          *ngIf="this.dataModel.LinkPropertyTypeLanduseId && PropertyTypeSelected.TitlePartition.length>1">
          <mat-label>{{PropertyTypeSelected.TitlePartition}}</mat-label>
          <input matInput [(ngModel)]="dataModel.Partition" name="dataModel.Partition" #Partition type="number"
            placeholder="{{PropertyTypeSelected.TitlePartition}}" />
          <mat-icon matSuffix *ngIf="dataModel.Partition" matSuffix mat-icon-button aria-label="Clear"
            (click)="dataModel.Partition = 0">close</mat-icon>
          <mat-icon matSuffix>mode_edit</mat-icon>
        </mat-form-field>
        <!-- Area Field -->
        <mat-form-field class="ntk-full-width" *ngIf="fieldsInfo['Area']?.AccessWatchField">
          <mat-label>{{fieldsInfo['Area']?.FieldTitle}}</mat-label>
          <input matInput [(ngModel)]="dataModel.Area" name="dataModel.Area" #Area type="number"
            disabled="{{!fieldsInfo['Area']?.AccessAddField}}" placeholder="{{fieldsInfo['Area']?.FieldTitle}}" />
          <mat-icon matSuffix *ngIf="dataModel.Area" matSuffix mat-icon-button aria-label="Clear"
            (click)="dataModel.Area = 0">close</mat-icon>
          <mat-icon matSuffix>mode_edit</mat-icon>
          <mat-hint align="start">
            <mat-icon matSuffix class="info-field-icon">info</mat-icon>
            <strong class="info-field-text">{{fieldsInfo['Area']?.FieldDescription}}</strong>
          </mat-hint>
        </mat-form-field>
        <!-- LinkEstateUserId Field -->
        <app-estate-accountuser-selector *ngIf="dataProfessional" (optionChange)="onActionSelectorEstateUser($event)"
          [optionDisabled]="!fieldsInfo['LinkEstateUserId']?.AccessAddField"
          [optionSelectForce]="dataModel.LinkEstateUserId" [optionPlaceholder]="'پرسنل املاک'">
        </app-estate-accountuser-selector>
        <!-- LinkCmsUserId Field -->
        <app-cms-user-selector *ngIf="dataProfessional" (optionChange)="onActionSelectorCmsUser($event)"
          [optionDisabled]="!fieldsInfo['LinkCmsUserId']?.AccessAddField" [optionSelectForce]="dataModel.LinkCmsUserId"
          [optionPlaceholder]="'مالک ملک'">
        </app-cms-user-selector>
        <!-- LinkLocationId Field -->
        <app-cms-location-selector (optionChange)="onActionSelectorLocation($event)"
          [optionDisabled]="!fieldsInfo['LinkLocationId']?.AccessAddField"
          [optionSelectForce]="dataModel.LinkLocationId" [optionPlaceholder]="'منطقه'">
        </app-cms-location-selector>
        <!-- Address Field -->
        <mat-form-field class="ntk-full-width" *ngIf="fieldsInfo['Address']?.AccessWatchField">
          <mat-label>{{fieldsInfo['Address']?.FieldTitle}}</mat-label>
          <textarea matInput [(ngModel)]="dataModel.Address" name="dataModel.Address" #Address type="text"
            placeholder="{{fieldsInfo['Address']?.FieldTitle}}" minlength="1" maxlength="500" rows=5
            [disabled]="!fieldsInfo['Address']?.AccessAddField"></textarea>
          <mat-icon matSuffix *ngIf="dataModel.Address" matSuffix mat-icon-button aria-label="Clear"
            (click)="dataModel.Address = ''">close</mat-icon>
          <mat-icon matSuffix>mode_edit</mat-icon>
          <mat-hint align="start">
            <mat-icon matSuffix class="info-field-icon">info</mat-icon>
            <strong class="info-field-text">{{fieldsInfo['Address']?.FieldDescription}}</strong>
          </mat-hint>
          <mat-hint align="end">{{ Address.value.length }} / 500</mat-hint>
        </mat-form-field>


        <!-- AboutAgentTel Field -->
        <mat-form-field *ngIf="fieldsInfo['AboutAgentTel']?.AccessWatchField && dataProfessional"
          class="ntk-full-width">
          <mat-label>{{fieldsInfo['AboutAgentTel']?.FieldTitle}}</mat-label>
          <input matInput [(ngModel)]="dataModel.AboutAgentTel" name="dataModel.AboutAgentTel" #AboutAgentTel
            type="text" disabled="{{!fieldsInfo['AboutAgentTel']?.AccessAddField}}"
            placeholder="{{fieldsInfo['AboutAgentTel']?.FieldTitle}}" minlength="0" maxlength="100" />
          <mat-icon matSuffix *ngIf="dataModel.AboutAgentTel" matSuffix mat-icon-button aria-label="Clear"
            (click)="dataModel.AboutAgentTel = ''">close</mat-icon>
          <mat-icon matSuffix>mode_edit</mat-icon>
          <mat-hint align="start">
            <mat-icon matSuffix class="info-field-icon">info</mat-icon>
            <strong class="info-field-text">{{fieldsInfo['AboutAgentTel']?.FieldDescription}}</strong>
          </mat-hint>
          <mat-hint align="end">{{ AboutAgentTel.value.length }} / 100</mat-hint>
        </mat-form-field>
        <!-- AboutAgentMobile Field -->
        <mat-form-field class="ntk-full-width" *ngIf="fieldsInfo['AboutAgentMobile']?.AccessWatchField">
          <mat-label>{{fieldsInfo['AboutAgentMobile']?.FieldTitle}}</mat-label>
          <input matInput [(ngModel)]="dataModel.AboutAgentMobile" name="dataModel.AboutAgentMobile" #AboutAgentMobile
            type="text" disabled="{{!fieldsInfo['AboutAgentMobile']?.AccessAddField}}"
            placeholder="{{fieldsInfo['AboutAgentMobile']?.FieldTitle}}" minlength="0" maxlength="100" />
          <mat-icon matSuffix *ngIf="dataModel.AboutAgentMobile" matSuffix mat-icon-button aria-label="Clear"
            (click)="dataModel.AboutAgentMobile = ''">close</mat-icon>
          <mat-icon matSuffix>mode_edit</mat-icon>
          <mat-hint align="start">
            <mat-icon matSuffix class="info-field-icon">info</mat-icon>
            <strong class="info-field-text">{{fieldsInfo['AboutAgentTel']?.FieldDescription}}</strong>
          </mat-hint>
          <mat-hint align="end">{{ AboutAgentMobile.value.length }} / 100</mat-hint>
        </mat-form-field>


        <!-- AboutCustomerTel Field -->
        <mat-form-field *ngIf="dataProfessional && fieldsInfo['AboutCustomerTel']?.AccessWatchField"
          class="ntk-full-width">
          <mat-label>{{fieldsInfo['AboutCustomerTel']?.FieldTitle}}</mat-label>
          <input matInput [(ngModel)]="dataModel.AboutCustomerTel" name="dataModel.AboutCustomerTel" #AboutCustomerTel
            type="text" disabled="{{!fieldsInfo['AboutCustomerTel']?.AccessAddField}}"
            placeholder="{{fieldsInfo['AboutCustomerTel']?.FieldTitle}}" minlength="0" maxlength="100" />
          <mat-icon matSuffix *ngIf="dataModel.AboutCustomerTel" matSuffix mat-icon-button aria-label="Clear"
            (click)="dataModel.AboutCustomerTel = ''">close</mat-icon>
          <mat-icon matSuffix>mode_edit</mat-icon>
          <mat-hint align="start">
            <mat-icon matSuffix class="info-field-icon">info</mat-icon>
            <strong class="info-field-text">{{fieldsInfo['AboutCustomerTel']?.FieldDescription}}</strong>
          </mat-hint>
          <mat-hint align="end">{{ AboutCustomerTel.value.length }} / 100</mat-hint>
        </mat-form-field>
        <!-- AboutCustomerMobile Field -->
        <mat-form-field class="ntk-full-width" *ngIf="fieldsInfo['AboutCustomerMobile']?.AccessWatchField">
          <mat-label>{{fieldsInfo['AboutCustomerMobile']?.FieldTitle}}</mat-label>
          <input matInput [(ngModel)]="dataModel.AboutCustomerMobile" name="dataModel.AboutCustomerMobile"
            #AboutCustomerMobile type="text" disabled="{{!fieldsInfo['AboutCustomerMobile']?.AccessAddField}}"
            placeholder="{{fieldsInfo['AboutCustomerMobile']?.FieldTitle}}" minlength="0" maxlength="100" />
          <mat-icon matSuffix *ngIf="dataModel.AboutCustomerMobile" matSuffix mat-icon-button aria-label="Clear"
            (click)="dataModel.AboutCustomerMobile = ''">close</mat-icon>
          <mat-icon matSuffix>mode_edit</mat-icon>
          <mat-hint align="start">
            <mat-icon matSuffix class="info-field-icon">info</mat-icon>
            <strong class="info-field-text">{{fieldsInfo['AboutCustomerMobile']?.FieldDescription}}</strong>
          </mat-hint>
          <mat-hint align="end">{{ AboutCustomerMobile.value.length }} / 100</mat-hint>
        </mat-form-field>


        <!-- Description Field -->
        <mat-form-field class="ntk-full-width">
          <mat-label>{{fieldsInfo['Description']?.FieldTitle}}</mat-label>
          <textarea matInput [(ngModel)]="dataModel.Description" name="dataModel.Description" #Description type="text"
            disabled="{{!fieldsInfo['Description']?.AccessAddField}}"
            placeholder="{{fieldsInfo['Description']?.FieldTitle}}" minlength="1" maxlength="2000" rows=5></textarea>
          <mat-icon matSuffix *ngIf="dataModel.Description" matSuffix mat-icon-button aria-label="Clear"
            (click)="dataModel.Description = ''">close</mat-icon>
          <mat-icon matSuffix>mode_edit</mat-icon>
          <mat-hint align="start">
            <mat-icon matSuffix class="info-field-icon">info</mat-icon>
            <strong class="info-field-text">{{fieldsInfo['Description']?.FieldDescription}}</strong>
          </mat-hint>
          <mat-hint align="end">{{ Description.value.length }} / 2000</mat-hint>
          <mat-error *ngIf="Description.errors?.required">
            {{fieldsInfo['Description']?.FieldTitle}} <strong>{{'MESSAGE.required' | translate}}</strong>
          </mat-error>
        </mat-form-field>


        <div *ngIf="formInfo.FormSubmitAllow" class="ntk-button-row">
          <button type="button" mat-raised-button (click)="onActionBackToParent()">
            {{'ACTION.BACK' | translate}}
          </button>
          <button type="button" mat-raised-button color="primary" [disabled]="!vform.form.valid" matStepperNext>
            {{'ACTION.NEXT' | translate}}
          </button>
        </div>
      </mat-step>

      <mat-step label="{{'TITLE.Details' | translate}}" state="seo"
        *ngIf="dataProfessional &&  dataModel.PropertyDetailGroups && dataModel.PropertyDetailGroups.length>0">
        <p>جزئیات ملک نسبت به نوع ملک</p>


        <mat-accordion class="example-headers-align">
          <mat-expansion-panel *ngFor="let itemGroup of dataModel.PropertyDetailGroups ; index as i"
            [expanded]="step === i" (opened)="setStep(i)" hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title>
                {{itemGroup.Title}}
              </mat-panel-title>
              <mat-panel-description>
                {{itemGroup.Description}}
                <mat-icon>{{itemGroup.IconFont}}</mat-icon>
              </mat-panel-description>
            </mat-expansion-panel-header>
            <!-- value-->
            <ng-container *ngFor="let itemDetail of itemGroup.PropertyDetails">
              <ng-container [ngSwitch]="itemDetail.InputDataType">
                <!-- ngSwitchCase-->
                <div *ngSwitchCase="enumInputDataType.String" class="ntk-full-width">
                  <app-input-string [(model)]="propertyDetails[itemDetail.Id]"
                    [optionForceUseDefaultValue]="itemDetail.ConfigValueForceUseDefaultValue"
                    [optionMultipleChoice]="itemDetail.ConfigValueMultipleChoice"
                    [optionDefaultValue]="itemDetail.ConfigValueDefaultValue" [optionTitle]="itemDetail.Title"
                    style="color:'{{itemDetail.IconColor}}';"></app-input-string>
                </div>
                <!-- ngSwitchCase-->
                <div *ngSwitchCase="enumInputDataType.Int" class="ntk-full-width">
                  <app-input-int [(model)]="propertyDetails[itemDetail.Id]" [optionTitle]="itemDetail.Title"
                    style="color:'{{itemDetail.IconColor}}';"></app-input-int>
                </div>
                <!-- ngSwitchCase-->
                <div *ngSwitchCase="enumInputDataType.Boolean" class="ntk-full-width">
                  <app-input-boolean [(model)]="propertyDetails[itemDetail.Id]">{{itemDetail.Title}}
                  </app-input-boolean>
                </div>
                <!-- ngSwitchCase-->
                <div *ngSwitchCase="enumInputDataType.Float" class="ntk-full-width">
                  <app-input-float [(model)]="propertyDetails[itemDetail.Id]" [optionTitle]="itemDetail.Title"
                    style="color:'{{itemDetail.IconColor}}';"></app-input-float>
                </div>
                <!-- ngSwitchCase-->
                <div *ngSwitchCase="enumInputDataType.Date" class="ntk-full-width">
                  <label style="color:'{{itemDetail.IconColor}}';">{{itemDetail.Title}}</label>
                  <app-input-date [(model)]="propertyDetails[itemDetail.Id]"></app-input-date>
                </div>
                <!-- ngSwitchCase-->
                <div *ngSwitchCase="enumInputDataType.TextArea" class="ntk-full-width">
                  <app-input-textarea [(model)]="propertyDetails[itemDetail.Id]" [optionTitle]="itemDetail.Title"
                    style="color:'{{itemDetail.IconColor}}';"></app-input-textarea>
                </div>
                <!-- ngSwitchCase-->
                <div *ngSwitchDefault>
                  <app-input-string [(model)]="propertyDetails[itemDetail.Id]" [optionTitle]="itemDetail.Title"
                    style="color:'{{itemDetail.IconColor}}';"></app-input-string>
                </div>
              </ng-container>
            </ng-container>
            <mat-action-row>
              <button mat-button type="button" color="warn" *ngIf="i>0" (click)="prevStep()">{{'ACTION.BEFOR' |
                translate}}</button>
              <button mat-button type="button" color="primary" *ngIf="(i+1)<dataModel.PropertyDetailGroups.length"
                (click)="nextStep()">{{'ACTION.NEXT' | translate}}</button>
              <button mat-button type="button" color="primary" *ngIf="(i+1)==dataModel.PropertyDetailGroups.length"
                (click)="nextStep()">{{'ACTION.END' | translate}}</button>
            </mat-action-row>
          </mat-expansion-panel>
          <br>

        </mat-accordion>
        <div *ngIf="formInfo.FormSubmitAllow" class="ntk-button-row">
          <button type="button" mat-raised-button color="accent" matStepperPrevious>
            {{'ACTION.BEFOR' | translate}}
          </button>
          <button type="button" mat-raised-button color="primary" [disabled]="!vform.form.valid" matStepperNext>
            {{'ACTION.NEXT' | translate}}
          </button>
        </div>
      </mat-step>
      <mat-step label="{{'TITLE.Transaction' | translate}}" state="seo">
        <p>نوع معامله این ملک را مشخص کنید</p>
        <app-estate-contract-type-selector (optionChange)="onActionSelectorContractType($event)" [optionTypeView]="2"
          [optionDisabled]="false" [optionPlaceholder]="{{'TITLE.Type_Of_Transaction' | translate}}"
          [optionSelectForce]="contractDataModel.LinkEstateContractTypeId">
        </app-estate-contract-type-selector>

        <div class="container" *ngIf="contractTypeSelected && contractTypeSelected.Id.length>0">



          <!-- SalePrice Field -->
          <div class="row">
            <div class="col-6">
              <mat-form-field class="ntk-full-width" *ngIf="contractTypeSelected.HasSalePrice">
                <mat-label> {{'TITLE.SalePrice' | translate}}</mat-label>
                <input matInput [(ngModel)]="contractDataModel.SalePrice" name="contractDataModel.SalePrice"
                  matInputCommified [disabled]="contractDataModel.SalePriceByAgreement" #CurrentClickCount type="text"
                  placeholder="0" />
                <mat-icon matSuffix matSuffix mat-icon-button aria-label="Clear"
                  (click)="contractDataModel.SalePrice = 0">
                  close</mat-icon>
                <mat-icon matSuffix>mode_edit</mat-icon>
                <mat-label> ( {{contractTypeSelected.UnitSalePrice}} ) </mat-label>
              </mat-form-field>
            </div>
            <div class="col-6">
              <mat-slide-toggle
                *ngIf="contractTypeSelected.HasSalePrice && contractTypeSelected.SalePriceAllowAgreement"
                [(ngModel)]="contractDataModel.SalePriceByAgreement" (change)="onActionClickSalePriceAllowAgreement()"
                name="contractDataModel.SalePriceAllowAgreement">
                توافق در مبلغ فروش
              </mat-slide-toggle>
            </div>
          </div>

          <div class="row">
            <div class="col-6">
              <!-- RentPrice Field -->
              <mat-form-field class="ntk-full-width" *ngIf="contractTypeSelected.HasRentPrice">
                <mat-label>{{'TITLE.RentPrice' | translate}}</mat-label>
                <input matInput [(ngModel)]="contractDataModel.RentPrice" name="contractDataModel.RentPrice"
                  matInputCommified [disabled]="contractDataModel.RentPriceByAgreement" #CurrentClickCount type="text"
                  placeholder="0" />
                <mat-icon matSuffix matSuffix mat-icon-button aria-label="Clear"
                  (click)="contractDataModel.RentPrice = 0">
                  close</mat-icon>
                <mat-icon matSuffix>mode_edit</mat-icon>
                <mat-label> ( {{contractTypeSelected.UnitRentPrice}} ) </mat-label>
              </mat-form-field>
            </div>


            <div class="col-6">
              <mat-slide-toggle
                *ngIf="contractTypeSelected.HasRentPrice && contractTypeSelected.RentPriceAllowAgreement"
                [(ngModel)]="contractDataModel.RentPriceByAgreement" (change)="onActionClickRentPriceAllowAgreement()"
                name="contractDataModel.RentPriceByAgreement">
                توافق در اجاره
              </mat-slide-toggle>
            </div>
          </div>
          <div class="row">

            <div class="col-6">
              <!-- DepositPrice Field -->
              <mat-form-field class="ntk-full-width" *ngIf="contractTypeSelected.HasDepositPrice">
                <mat-label>{{'TITLE.DepositPrice' | translate}}</mat-label>
                <input matInput [(ngModel)]="contractDataModel.DepositPrice" name="contractDataModel.DepositPrice"
                  matInputCommified [disabled]="contractDataModel.DepositPriceByAgreement" #CurrentClickCount
                  type="text" placeholder="0" />
                <mat-icon matSuffix matSuffix mat-icon-button aria-label="Clear"
                  (click)="contractDataModel.DepositPrice = 0">
                  close</mat-icon>
                <mat-icon matSuffix>mode_edit</mat-icon>
                <mat-label> ( {{contractTypeSelected.UnitDepositPrice}} ) </mat-label>
              </mat-form-field>
            </div>

            <div class="col-6">
              <mat-slide-toggle
                *ngIf="contractTypeSelected.HasDepositPrice && contractTypeSelected.DepositPriceAllowAgreement"
                [(ngModel)]="contractDataModel.DepositPriceByAgreement"
                (change)="onActionClickDepositPriceByAgreement()" name="contractDataModel.DepositPriceByAgreement">
                توافق در رهن
              </mat-slide-toggle>
            </div>
          </div>
          <hr>
          <!-- contractDataModel.Description Field -->
          <mat-form-field class="ntk-full-width">
            <mat-label>{{fieldsInfo['Description']?.FieldTitle}}</mat-label>
            <textarea matInput [(ngModel)]="contractDataModel.Description" name="contractDataModel.Description"
              #contractDataModel_Description type="text" placeholder="{{fieldsInfo['Description']?.FieldTitle}}"
              minlength="0" maxlength="500" rows=5></textarea>
            <mat-icon matSuffix *ngIf="contractDataModel.Description" matSuffix mat-icon-button aria-label="Clear"
              (click)="contractDataModel.Description = ''">close</mat-icon>
            <mat-icon matSuffix>mode_edit</mat-icon>
            <mat-hint align="end">{{ contractDataModel_Description.value.length }} / 500</mat-hint>
          </mat-form-field>
        </div>


        <button (click)="onActionOptionAddToList()" type="button" mat-button *ngIf="contractTypeSelected && contractTypeSelected.Id.length>0"
          class="btn btn-light-primary font-weight-bold font-size-h5 px-9 py-4" style="margin: 10px 0px;">
          {{optionActionTitle}}
        </button>
        <hr>
        <p> {{'TITLE.List_Of_Transaction_Details_Of_This_Property' | translate}} </p>
        <app-progress-spinner [options]="loadingOption">
        </app-progress-spinner>
        <!-- TABLE  -->
        <div class="example-container mat-elevation-z8" *ngIf="!loadingOption.display">
          <mat-table [dataSource]="optionTabledataSource">
            <!-- LinkEstateContractTypeId Column -->
            <ng-container matColumnDef="LinkEstateContractTypeId">
              <mat-header-cell *matHeaderCellDef> {{'TITLE.Contract' | translate}} </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.LinkEstateContractTypeId | cmstitle:
                dataModelEstateContractTypeResult.ListItems}} </mat-cell>
            </ng-container>
            <!-- SalePrice Column -->
            <ng-container matColumnDef="SalePrice">
              <mat-header-cell *matHeaderCellDef> {{'TITLE.SalePrice' | translate}} </mat-header-cell>
              <mat-cell *matCellDef="let row">
                <ng-container *ngIf="row.SalePrice>0">
                  {{row.SalePrice | number}}
                  <br>
                  ({{row.ContractType.UnitSalePrice}})
                </ng-container>
                <ng-container *ngIf="row.SalePriceByAgreement">
                  {{'TITLE.PriceByAgreement' | translate}}
                </ng-container>
              </mat-cell>
            </ng-container>
            <!-- RentPrice Column -->
            <ng-container matColumnDef="RentPrice">
              <mat-header-cell *matHeaderCellDef> {{'TITLE.RentPrice' | translate}} </mat-header-cell>
              <mat-cell *matCellDef="let row">
                <ng-container *ngIf="row.RentPrice>0">
                  {{row.RentPrice | number}}
                  <br>
                  ({{row.ContractType.UnitRentPrice}})
                </ng-container>
                <ng-container *ngIf="row.RentPriceByAgreement">
                  {{'TITLE.PriceByAgreement' | translate}}
                </ng-container>
              </mat-cell>
            </ng-container>
            <!-- DepositPrice Column -->
            <ng-container matColumnDef="DepositPrice">
              <mat-header-cell *matHeaderCellDef> {{'TITLE.DepositPrice' | translate}} </mat-header-cell>
              <mat-cell *matCellDef="let row">
                <ng-container *ngIf="row.DepositPrice>0">
                  {{row.DepositPrice | number}}
                  <br>
                  ({{row.ContractType.UnitDepositPrice}})
                </ng-container>
                <ng-container *ngIf="row.DepositPriceByAgreement">
                  {{'TITLE.PriceByAgreement' | translate}}
                </ng-container>
              </mat-cell>
            </ng-container>

            <!-- Action Column -->
            <ng-container matColumnDef="Action">
              <mat-header-cell *matHeaderCellDef> {{'TITLE.OPTION' | translate}} </mat-header-cell>
              <mat-cell *matCellDef="let row; let i = index" class='Action'>
                <button mat-icon-button>
                <small (click)="onActionOptionRemoveFromList(i)">
                  <mat-icon aria-hidden="false" style="color: red;">delete</mat-icon>{{'ACTION.DELETE' | translate}}
                </small>
              </button>
              </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="optionTabledisplayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: optionTabledisplayedColumns;">
            </mat-row>
          </mat-table>
        </div>
        <!-- TABLE  -->
        <div *ngIf="formInfo.FormSubmitAllow" class="ntk-button-row">
          <button type="button" mat-raised-button color="accent" matStepperPrevious>
            {{'ACTION.BEFOR' | translate}}
          </button>
          <button type="button" mat-raised-button color="primary" [disabled]="!vform.form.valid" matStepperNext>
            {{'ACTION.NEXT' | translate}}
          </button>
        </div>
      </mat-step>
      <mat-step label="{{'TITLE.ATTACH_FILES' | translate}}" state="file">
        <p>فایل های پیوست محتوا.</p>
        <div class="mb-3" *ngIf="dataProfessional">
          <img *ngIf="dataModel?.LinkMainImageIdSrc?.length>0" style="vertical-align:middle;" class="ntk-hover-zoom"
            aria-hidden src="{{dataModel.LinkMainImageIdSrc | cmsthumbnail}}" height="50" width="50" />
        </div>
        <div class="mb-9" *ngIf="dataProfessional">
          <mat-form-field class="ntk-full-width">

            <mat-label (click)="fileManagerOpenForm = true">عکس اصلی</mat-label>
            <input matInput [(ngModel)]="dataModel.LinkMainImageId" name="dataModel.LinkMainImageId" #LinkMainImageId
              type="text" placeholder="شناسه فایل اصلی" autocomplete="off" (click)="fileManagerOpenForm = true" />
            <mat-icon matSuffix *ngIf="dataModel.LinkMainImageId" matSuffix mat-icon-button aria-label="Clear"
              (click)="dataModel.LinkMainImageId = null">close</mat-icon>
            <mat-icon matSuffix (click)="fileManagerOpenForm = true">mode_edit</mat-icon>
          </mat-form-field>

          <cms-file-manager (itemSelected)="onActionFileSelectedLinkMainImageId($event)" [language]="appLanguage"
            [openDirectUploadView]="true" [isPopup]="true" [(openForm)]="fileManagerOpenForm" [tree]="fileManagerTree"
            [openFilemanagerButtonLabelKey]="'select'" [selectFileType]="selectFileTypeMainImage"
            [openFilemanagerButtonView]="false"></cms-file-manager>
        </div>
        <hr>
        <p>لیست عکس های پیوست</p>
        <app-cms-files-selector [(dataFileModel)]="dataFileModelImgaes" [optionFileType]="selectFileTypeMainImage"
          [openDirectUploadView]="true">
        </app-cms-files-selector>
        <hr>
        <div *ngIf="dataProfessional  && !hidden">
          <p>لیست فایل های پیوست</p>
          <app-cms-files-selector [(dataFileModel)]="dataFileModelFiles" [openDirectUploadView]="true">
          </app-cms-files-selector>
          <br>
        </div>
        <div *ngIf="formInfo.FormSubmitAllow" class="ntk-button-row">
          <button type="button" mat-raised-button color="accent" matStepperPrevious>
            {{'ACTION.BEFOR' | translate}}
          </button>
          <button type="button" mat-raised-button color="primary" [disabled]="!vform.form.valid" matStepperNext>
            {{'ACTION.NEXT' | translate}}
          </button>
          <button *ngIf="dataProfessional" type="submit" mat-raised-button color="success"
            [disabled]="!vform.form.valid">
            {{'ACTION.SAVE' | translate}}
          </button>
        </div>
      </mat-step>

      <mat-step label="{{'TITLE.Location' | translate}}" state="loaction">
        <p>روی نقشه کلیک کنید تا موقیت مکانی مشخص گردد</p>
        <app-cms-map (map$)="receiveMap($event)" (zoom$)="receiveZoom($event)" [optonCenter]="mapOptonCenter"
          id='main-map'></app-cms-map>
        <button type="button" (click)="ActionCurrentPoint()"> {{'ACTION.MY_LOCATION' | translate}}</button>
        <div *ngIf="formInfo.FormSubmitAllow" class="ntk-button-row">
          <button type="button" mat-raised-button color="accent" matStepperPrevious>
            {{'ACTION.BEFOR' | translate}}
          </button>
          <button type="submit" mat-raised-button color="success" [disabled]="!vform.form.valid">
            {{'ACTION.SAVE' | translate}}
          </button>
        </div>
      </mat-step>

      <!-- Icon overrides. -->
      <ng-template matStepperIcon="main">
        <mat-icon>call_end</mat-icon>
      </ng-template>
      <ng-template matStepperIcon="seo">
        <mat-icon>call_end</mat-icon>
      </ng-template>
      <ng-template matStepperIcon="file">
        <mat-icon>forum</mat-icon>
      </ng-template>
      <ng-template matStepperIcon="loaction">
        <mat-icon>forum</mat-icon>
      </ng-template>

    </mat-horizontal-stepper>
    <!--end:::::::::::::::::::::::::::::::::::::::::cms-body-->
  </div>
  <div class="ntk-cms-html-card-message">
    <!--begin:::::::::::::::::::::::::::::::::::::::::cms-message-->

    <!--end:::::::::::::::::::::::::::::::::::::::::cms-message-->
  </div>
  <div class="ntk-cms-html-card-footer">
    <!--begin:::::::::::::::::::::::::::::::::::::::::cms-footer-->

    <!--end:::::::::::::::::::::::::::::::::::::::::cms-footer-->
  </div>
</form>