<form (ngSubmit)="onFormSubmit()" #vform="ngForm">
  <app-cms-html-card  [optionLoading]="loading">
    <ng-container cms-header>
      <h3 class="card-label">
      <!--begin:::::::::::::::::::::::::::::::::::::::::cms-header-->
      {{formInfo.FormTitle}}
      <!--end:::::::::::::::::::::::::::::::::::::::::cms-header-->
      </h3>
    </ng-container>
    <ng-container cms-body>
      <!--begin:::::::::::::::::::::::::::::::::::::::::cms-body-->
      <mat-horizontal-stepper (selectionChange)="onStepClick($event,stepper)" #stepper>
        <mat-step label="تنظیمات ماژول" state="main">
          <p>تنظیمات که ماژول به سایت به کارگیری می شود </p>
          <!-- StatusRenderUser Field -->
          <div class="ntk-full-width">
            <mat-slide-toggle [(ngModel)]="dataConfigSiteValuesModel.StatusRenderUser"
              name="dataConfigSiteValuesModel.StatusRenderUser">
              StatusRenderUser
            </mat-slide-toggle>
          </div>
          <div *ngIf="tokenInfo.UserAccessAdminAllowToProfessionalData">
            <div [innerHTML]="dataConfigSiteValuesModel | prettyjson"></div>
          </div>

          <div *ngIf="formInfo.FormSubmitAllow" class="ntk-button-row">
            <button type="button" mat-raised-button (click)="onActionBackToParent()">
              {{'ACTION.BACK' | translate}}
            </button>
            <button type="button" mat-raised-button color="primary" [disabled]="!vform.form.valid" matStepperNext>
              {{'ACTION.NEXT' | translate}}
            </button>
            <button type="submit" mat-raised-button color="success"  [disabled]="!vform.form.valid">
              {{'ACTION.SAVE' | translate}}
            </button>
          </div>
        </mat-step>

        <mat-step label="مقادیر ذخیره شده" state="main">
          <p>مقادیر ذخیره شده توسط سیستم </p>
          <!-- RowCount Field -->
          <div class="ntk-full-width">
            <mat-slide-toggle [(ngModel)]="dataSiteStorageModel.RowCount" name="dataSiteStorageModel.RowCount">
              RowCount
            </mat-slide-toggle>
          </div>
          <!-- MainDataContentRowCount Field -->
          <mat-form-field class="ntk-full-width">
            <mat-label>MainDataContentRowCount</mat-label>
            <input matInput [(ngModel)]="dataSiteStorageModel.MainDataContentRowCount"
              name="dataSiteStorageModel.MainDataContentRowCount" #dataSiteStorageModel_MainDataContentRowCount
              type="number" placeholder="0"  />
            <mat-icon matSuffix *ngIf="dataSiteStorageModel.MainDataContentRowCount" matSuffix mat-icon-button
              aria-label="Clear" (click)="dataSiteStorageModel.MainDataContentRowCount = null">close</mat-icon>
            <mat-icon matSuffix>mode_edit</mat-icon>

          </mat-form-field>


          <!-- UpdatedContent Field -->
          <mat-form-field class="ntk-full-width">
            <mat-label>UpdatedContent</mat-label>
            <input matInput [matDatepicker]="dataSiteStorageModel_UpdatedContent"
              [(ngModel)]="dataSiteStorageModel.UpdatedContent" name="dataSiteStorageModel.UpdatedContent" />
            <mat-icon matSuffix *ngIf="dataSiteStorageModel.UpdatedContent " matSuffix mat-icon-button
              aria-label="Clear" (click)="dataSiteStorageModel.UpdatedContent = null">close</mat-icon>
            <mat-datepicker-toggle matSuffix [for]="dataSiteStorageModel_UpdatedContent"></mat-datepicker-toggle>
            <mat-datepicker touchUi #dataSiteStorageModel_UpdatedContent></mat-datepicker>
          </mat-form-field>



          <div *ngIf="tokenInfo.UserAccessAdminAllowToProfessionalData">
            <div [innerHTML]="dataConfigSiteAccessValuesModel | prettyjson"></div>

          </div>
          <div *ngIf="formInfo.FormSubmitAllow" class="ntk-button-row">
            <button type="button"  mat-raised-button color="accent"   matStepperPrevious>
              {{'ACTION.BEFOR' | translate}}
            </button>
            <button type="button" color="primary"  [disabled]="!vform.form.valid" matStepperNext>
              {{'ACTION.NEXT' | translate}}
            </button>
            <button type="submit" mat-raised-button color="success"  [disabled]="!vform.form.valid">
              {{'ACTION.SAVE' | translate}}
            </button>
          </div>
        </mat-step>
        <mat-step label="دسترسی" state="main">
          <p>دسترسی ها این وب سایت به این ماژول</p>
          <!-- MainDataContentRowCount Field -->
          <mat-form-field class="ntk-full-width">
            <mat-label>MainDataContentRowCount</mat-label>
            <input matInput [(ngModel)]="dataConfigSiteAccessValuesModel.MainDataContentRowCount"
              name="dataConfigSiteAccessValuesModel.MainDataContentRowCount"
              #dataConfigSiteAccessValuesModel_MainDataContentRowCount type="number" placeholder="0" required />
            <mat-icon matSuffix *ngIf="dataConfigSiteAccessValuesModel.MainDataContentRowCount" matSuffix
              mat-icon-button aria-label="Clear"
              (click)="dataConfigSiteAccessValuesModel.MainDataContentRowCount = null">close</mat-icon>
            <mat-icon matSuffix>mode_edit</mat-icon>
            <mat-error *ngIf="dataConfigSiteAccessValuesModel_MainDataContentRowCount.errors?.required">
              MainDataContentRowCount is <strong>required</strong>
            </mat-error>
          </mat-form-field>



          <!-- MaxAppCreation Field -->
          <mat-form-field class="ntk-full-width">
            <mat-label>MaxAppCreation</mat-label>
            <input matInput [(ngModel)]="dataConfigSiteAccessValuesModel.MaxAppCreation"
              name="dataConfigSiteAccessValuesModel.MaxAppCreation" #dataConfigSiteAccessValuesModel_MaxAppCreation
              type="number" placeholder="0" required />
            <mat-icon matSuffix *ngIf="dataConfigSiteAccessValuesModel.MaxAppCreation" matSuffix mat-icon-button
              aria-label="Clear" (click)="dataConfigSiteAccessValuesModel.MaxAppCreation = null">close</mat-icon>
            <mat-icon matSuffix>mode_edit</mat-icon>
            <mat-error *ngIf="dataConfigSiteAccessValuesModel_MaxAppCreation.errors?.required">
              MaxAppCreation is <strong>required</strong>
            </mat-error>
          </mat-form-field>

          <div *ngIf="tokenInfo.UserAccessAdminAllowToProfessionalData">
            <div [innerHTML]="dataConfigSiteAccessValuesModel | prettyjson"></div>
          </div>
<div *ngIf="formInfo.FormSubmitAllow" class="ntk-button-row">
            <button type="button"  mat-raised-button color="accent"   matStepperPrevious>
              {{'ACTION.BEFOR' | translate}}
            </button>
            <button type="button" color="primary"  [disabled]="!vform.form.valid" matStepperNext>
              {{'ACTION.NEXT' | translate}}
            </button>
            <button type="submit" mat-raised-button color="success"  [disabled]="!vform.form.valid">
              {{'ACTION.SAVE' | translate}}
            </button>
          </div>
        </mat-step>

      </mat-horizontal-stepper>
      <!--end:::::::::::::::::::::::::::::::::::::::::cms-body-->
    </ng-container>
    <ng-container cms-message>
      <!--begin:::::::::::::::::::::::::::::::::::::::::cms-message-->
      
      <!--end:::::::::::::::::::::::::::::::::::::::::cms-message-->
    </ng-container>
    <ng-container cms-footer>
      <!--begin:::::::::::::::::::::::::::::::::::::::::cms-footer-->
      
      <!--end:::::::::::::::::::::::::::::::::::::::::cms-footer-->
    </ng-container>
  </app-cms-html-card>
</form>
