<form (ngSubmit)="onFormSubmit()" #vform="ngForm">
  <app-cms-html-card  [optionLoading]="loading">
    <ng-container cms-header>
      <h3 class="card-label">
      <!--begin:::::::::::::::::::::::::::::::::::::::::cms-header-->
      {{ formInfo.FormTitle }}
      <!--end:::::::::::::::::::::::::::::::::::::::::cms-header-->
      </h3>
    </ng-container>
    <ng-container cms-body>
      <!--begin:::::::::::::::::::::::::::::::::::::::::cms-body-->
      <mat-form-field class="ntk-full-width">
        <mat-select placeholder="{{fieldsInfo['RecordStatus']?.FieldTitle}}" [(ngModel)]="dataModel.RecordStatus" name="dataModel.RecordStatus"
          #RecordStatus="ngModel" panelClass="recordStatus-{{ dataModel.RecordStatus }}" required>
          <mat-option *ngFor="
            let item of dataModelEnumRecordStatusResult.ListItems;
            index as i
          " [value]="item.Value">{{ item.Description }}</mat-option>
        </mat-select>
        <mat-hint align="end">{{'TITLE.SELECT_STATUS' | translate}}</mat-hint>
        <mat-error *ngIf="RecordStatus.errors?.required">
          RecordStatus is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <!-- LinkCmsSiteId Field -->
      <app-core-site-selector (optionSelect)="onActionSiteSelect($event)" [optionDisabled]="false"
        [optionSelectForce]="dataModel.LinkSiteId" [optionPlaceholder]="'وب سایت'"></app-core-site-selector>
      <!-- LinkModuleId Field -->
      <app-core-module-selector (optionSelect)="onActionSelectorModuleSelect($event)" [optionDisabled]="false"
        [optionSelectForce]="dataModel.LinkModuleId" [optionPlaceholder]="'ماژول'">
      </app-core-module-selector>
       <!-- ExpireDate Field -->
       <mat-form-field class="ntk-full-width" *ngIf="fieldsInfo['ExpireDate']?.AccessWatchField">
        <mat-label>{{fieldsInfo['ExpireDate']?.FieldTitle}}</mat-label>
        <input matInput [matDatepicker]= "ExpireDate" [(ngModel)]="dataModel.ExpireDate" name="dataModel.ExpireDate" />
            <mat-icon matSuffix *ngIf="dataModel.ExpireDate && fieldsInfo['ExpireDate']?.AccessAddField" matSuffix
        mat-icon-button aria-label="Clear" (click)="dataModel.ExpireDate = null">close</mat-icon>
        <mat-datepicker-toggle matSuffix [for]="ExpireDate"></mat-datepicker-toggle>
        <mat-datepicker touchUi #ExpireDate></mat-datepicker>
      </mat-form-field>
      <!--end:::::::::::::::::::::::::::::::::::::::::cms-body-->
    </ng-container>
	<ng-container cms-message>
      <!--begin:::::::::::::::::::::::::::::::::::::::::cms-message-->
      <div class="form-actions">
        <small class="form-text text-muted">{{ formInfo.FormAlert }} </small>
        <small class="form-text text-muted danger">{{ formInfo.FormError }}
        </small>
      </div>
      <!--end:::::::::::::::::::::::::::::::::::::::::cms-message-->
    </ng-container>
    <ng-container cms-footer>
      <!--begin:::::::::::::::::::::::::::::::::::::::::cms-footer-->
      <div class="form-actions" *ngIf="formInfo.FormSubmitAllow">
        <button type="button" (click)="onFormCancel()" class="btn btn-raised btn-warning mr-1">
          <i class="ft-x"></i> {{'ACTION.CANCEL' | translate}}
        </button>
            <button type="submit" (click)="onFormSubmit()" class="btn btn-raised btn-primary" [disabled]="!vform.form.valid">
          <i class="fa fa-check-square-o"></i> {{'ACTION.SAVE' | translate}}
        </button>
      </div>
      <!--end:::::::::::::::::::::::::::::::::::::::::cms-footer-->
    </ng-container>
  </app-cms-html-card>
</form>
