<form (ngSubmit)="onFormSubmit()" #vform="ngForm">
  <div class="ntk-cms-html-card-header">
    <!--begin:::::::::::::::::::::::::::::::::::::::::cms-header-->
    {{ formInfo.formTitle }}
    <!--end:::::::::::::::::::::::::::::::::::::::::cms-header-->
  </div>
  <div class="ntk-cms-html-card-body">
    <app-progress-spinner [options]="loading"> </app-progress-spinner>
    <!--begin:::::::::::::::::::::::::::::::::::::::::cms-body-->
    <!-- RecordStatus Field -->
    <mat-form-field class="ntk-full-width">
      <mat-select placeholder="{{fieldsInfo['RecordStatus']?.fieldTitle}}" [(ngModel)]="dataModel.recordStatus"
        name="dataModel.recordStatus" #RecordStatus="ngModel" panelClass="recordStatus-{{ dataModel.recordStatus }}"
        required>
        <mat-option *ngFor="
              let item of dataModelEnumRecordStatusResult.listItems;
              index as i
            " [value]="item.value">{{ item.description }}</mat-option>
      </mat-select>
      <mat-hint align="end">{{'TITLE.SELECT_STATUS' | translate}}</mat-hint>
      <mat-error *ngIf="RecordStatus.errors?.required">
        RecordStatus is <strong>{{'MESSAGE.required' | translate}}</strong>
      </mat-error>
    </mat-form-field>

    <!-- NumberChar Field -->
    <mat-form-field class="ntk-full-width" *ngIf="fieldsInfo['NumberChar']?.accessWatchField">
      <mat-label>{{ fieldsInfo['NumberChar']?.fieldTitle }}</mat-label>
      <input matInput [(ngModel)]="dataModel.numberChar" [disabled]="!fieldsInfo['NumberChar']?.accessAddField"
        name="dataModel.numberChar" #NumberChar type="text" placeholder="123" />
      <mat-icon matSuffix *ngIf="dataModel.numberChar && fieldsInfo['NumberChar']?.accessAddField" matSuffix
        mat-icon-button aria-label="Clear" (click)="dataModel.numberChar = ''">close</mat-icon>
      <mat-icon *ngIf="fieldsInfo['NumberChar']?.accessAddField" matSuffix>mode_edit</mat-icon>
      <mat-hint align="start">{{ NumberChar.value.length }} / 100</mat-hint>
    </mat-form-field>

    <!-- IsPublic Field -->
    <div class="ntk-full-width">
      <mat-slide-toggle [(ngModel)]="dataModel.isPublic" *ngIf="fieldsInfo['IsPublic']?.accessWatchField"
        [disabled]="!fieldsInfo['IsPublic']?.accessAddField" name="dataModel.isPublic">
        {{fieldsInfo['IsPublic']?.fieldTitle}}
      </mat-slide-toggle>
    </div>

    <!-- SaleStatus Field -->
    <div class="ntk-full-width">
      <mat-slide-toggle [(ngModel)]="dataModel.saleStatus" *ngIf="fieldsInfo['SaleStatus']?.accessWatchField"
        [disabled]="!fieldsInfo['SaleStatus']?.accessAddField" name="dataModel.saleStatus">
        {{fieldsInfo['SaleStatus']?.fieldTitle}}
      </mat-slide-toggle>
    </div>
  <!-- Priority Field -->
  <mat-form-field class="ntk-full-width" *ngIf="fieldsInfo['Priority']?.accessWatchField">
    <mat-label>{{ fieldsInfo['Priority']?.fieldTitle }}</mat-label>
    <input matInput [(ngModel)]="dataModel.priority" [disabled]="!fieldsInfo['Priority']?.accessEditField"
      name="dataModel.priority" #Priority type="number" placeholder="1" />
    <mat-icon matSuffix *ngIf="dataModel.priority && fieldsInfo['Priority']?.accessAddField" matSuffix
      mat-icon-button aria-label="Clear" (click)="dataModel.priority = 1">close</mat-icon>
    <mat-icon *ngIf="fieldsInfo['Priority']?.accessEditField" matSuffix>mode_edit</mat-icon>
  </mat-form-field>

  <!-- DeliveryRelayStatus Field -->
  <div class="ntk-full-width">
    <mat-slide-toggle [(ngModel)]="dataModel.deliveryRelayStatus" *ngIf="fieldsInfo['DeliveryRelayStatus']?.accessWatchField"
      [disabled]="!fieldsInfo['DeliveryRelayStatus']?.accessAddField" name="dataModel.deliveryRelayStatus">
      {{fieldsInfo['DeliveryRelayStatus']?.fieldTitle}}
    </mat-slide-toggle>
  </div>
  <!-- DeliveryRelayUrl Field -->
  <mat-form-field class="ntk-full-width" *ngIf="fieldsInfo['DeliveryRelayUrl']?.accessWatchField && dataModel.deliveryRelayStatus">
    <mat-label>{{ fieldsInfo['DeliveryRelayUrl']?.fieldTitle }}</mat-label>
    <input matInput [(ngModel)]="dataModel.deliveryRelayUrl" [disabled]="!fieldsInfo['DeliveryRelayUrl']?.accessAddField"
      name="dataModel.deliveryRelayUrl" #DeliveryRelayUrl type="text" class="input-ltr" placeholder="" />
    <mat-icon matSuffix *ngIf="dataModel.deliveryRelayUrl && fieldsInfo['DeliveryRelayUrl']?.accessAddField" matSuffix
      mat-icon-button aria-label="Clear" (click)="dataModel.deliveryRelayUrl = ''">close</mat-icon>
    <mat-icon *ngIf="fieldsInfo['DeliveryRelayUrl']?.accessAddField" matSuffix>mode_edit</mat-icon>
    <mat-hint align="end">{{ DeliveryRelayUrl.value.length }} / 100</mat-hint>
  </mat-form-field>
  
  <!-- SmsRelayStatus Field -->
  <div class="ntk-full-width">
    <mat-slide-toggle [(ngModel)]="dataModel.smsRelayStatus" *ngIf="fieldsInfo['SmsRelayStatus']?.accessWatchField"
      [disabled]="!fieldsInfo['SmsRelayStatus']?.accessAddField" name="dataModel.smsRelayStatus">
      {{fieldsInfo['SmsRelayStatus']?.fieldTitle}}
    </mat-slide-toggle>
  </div>
  <!-- SmsRelayUrl Field -->
  <mat-form-field class="ntk-full-width" *ngIf="fieldsInfo['SmsRelayUrl']?.accessWatchField && dataModel.smsRelayStatus">
    <mat-label>{{ fieldsInfo['SmsRelayUrl']?.fieldTitle }}</mat-label>
    <input matInput [(ngModel)]="dataModel.smsRelayUrl" [disabled]="!fieldsInfo['SmsRelayUrl']?.accessAddField"
      name="dataModel.smsRelayUrl" #SmsRelayUrl type="text" class="input-ltr" placeholder="" />
    <mat-icon matSuffix *ngIf="dataModel.smsRelayUrl && fieldsInfo['SmsRelayUrl']?.accessAddField" matSuffix
      mat-icon-button aria-label="Clear" (click)="dataModel.smsRelayUrl = ''">close</mat-icon>
    <mat-icon *ngIf="fieldsInfo['SmsRelayUrl']?.accessAddField" matSuffix>mode_edit</mat-icon>
    <mat-hint align="end">{{ SmsRelayUrl.value.length }} / 100</mat-hint>
  </mat-form-field>

    <!-- FirstSubmit Field -->
    <mat-form-field class="ntk-full-width">
      <mat-label>{{fieldsInfo['FirstSubmit']?.fieldTitle}}</mat-label>
      <input matInput [matDatepicker]="FirstSubmit" [(ngModel)]="dataModel.firstSubmit" name="dataModel.firstSubmit" />
      <mat-icon matSuffix *ngIf="dataModel.firstSubmit && fieldsInfo['FirstSubmit']?.accessEditField" matSuffix
        mat-icon-button aria-label="Clear" (click)="dataModel.firstSubmit = null">close</mat-icon>
      <mat-datepicker-toggle matSuffix [for]="FirstSubmit"></mat-datepicker-toggle>
      <mat-datepicker touchUi #FirstSubmit></mat-datepicker>
    </mat-form-field>
    <!-- UsanceDate Field -->
    <mat-form-field class="ntk-full-width" *ngIf="fieldsInfo['UsanceDate']?.accessWatchField">
      <mat-label>{{fieldsInfo['UsanceDate']?.fieldTitle}}</mat-label>
      <input matInput [matDatepicker]="UsanceDate" [(ngModel)]="dataModel.usanceDate" name="dataModel.usanceDate" />
      <mat-icon matSuffix *ngIf="dataModel.usanceDate && fieldsInfo['UsanceDate']?.accessEditField" matSuffix
        mat-icon-button aria-label="Clear" (click)="dataModel.usanceDate = null">close</mat-icon>
      <mat-datepicker-toggle matSuffix [for]="UsanceDate"></mat-datepicker-toggle>
      <mat-datepicker touchUi #UsanceDate></mat-datepicker>
    </mat-form-field>
    <!-- ExpireDate Field -->
    <mat-form-field class="ntk-full-width" *ngIf="fieldsInfo['ExpireDate']?.accessWatchField">
      <mat-label>{{fieldsInfo['ExpireDate']?.fieldTitle}}</mat-label>
      <input matInput [matDatepicker]="ExpireDate" [(ngModel)]="dataModel.expireDate" name="dataModel.expireDate" />
      <mat-icon matSuffix *ngIf="dataModel.expireDate && fieldsInfo['ExpireDate']?.accessAddField" matSuffix
        mat-icon-button aria-label="Clear" (click)="dataModel.expireDate = null">close</mat-icon>
      <mat-datepicker-toggle matSuffix [for]="ExpireDate"></mat-datepicker-toggle>
      <mat-datepicker touchUi #ExpireDate></mat-datepicker>
    </mat-form-field>

    <!-- ActionMemo Field -->
  <mat-form-field class="ntk-full-width" *ngIf="fieldsInfo['ActionMemo']?.accessWatchField">
    <mat-label>{{ fieldsInfo['ActionMemo']?.fieldTitle }}</mat-label>
    <input matInput [(ngModel)]="dataModel.actionMemo" [disabled]="!fieldsInfo['ActionMemo']?.accessEditField"
      name="dataModel.actionMemo" #ActionMemo type="text" placeholder="1" />
    <mat-icon matSuffix *ngIf="dataModel.actionMemo && fieldsInfo['ActionMemo']?.accessAddField" matSuffix
      mat-icon-button aria-label="Clear" (click)="dataModel.actionMemo = ''">close</mat-icon>
    <mat-icon *ngIf="fieldsInfo['ActionMemo']?.accessEditField" matSuffix>mode_edit</mat-icon>
  </mat-form-field>
    <!--end:::::::::::::::::::::::::::::::::::::::::cms-body-->
  </div>
  <div class="ntk-cms-html-card-message">
    <!--begin:::::::::::::::::::::::::::::::::::::::::cms-message-->
    <div class="form-actions">
      <small class="form-text text-muted">{{ formInfo.formAlert }} </small>
      <small class="form-text text-muted danger">{{ formInfo.formError }}
      </small>
    </div>
    <!--end:::::::::::::::::::::::::::::::::::::::::cms-message-->
  </div>
  <div class="ntk-cms-html-card-footer">
    <!--begin:::::::::::::::::::::::::::::::::::::::::cms-footer-->
    <div class="form-actions" *ngIf="formInfo.formSubmitAllow  && !loading.display">
      <button type="button" (click)="onFormCancel()" class="btn btn-light">
        <i class="ft-x"></i> {{'ACTION.CANCEL' | translate}}
      </button>
      <button type="submit" (click)="onFormSubmit()" class="btn btn-success" [disabled]="!vform.form.valid">
        <i class="fa fa-check-square-o"></i> {{'ACTION.SAVE' | translate}}
      </button>
    </div>
    <!--end:::::::::::::::::::::::::::::::::::::::::cms-footer-->
  </div>
</form>