<!--begin::Header-->
<h2 *ngIf="optionHeaderDisplay" mat-dialog-title>
  <ng-content select="[cms-header]"></ng-content>
</h2>
<!--end::Header-->
<!--begin::Body-->
<mat-dialog-content>
  <app-progress-spinner [options]="loading"> </app-progress-spinner>
  <!-- <div *ngIf="loading.display" class="overlay-layer bg-transparent">
    <div class="spinner spinner-lg spinner-success"></div>
  </div> -->
  <ng-content *ngIf="!loading.display" select="[cms-body]"></ng-content>
</mat-dialog-content>
<!--end::Body-->
<!--begin::Footer-->
<mat-dialog-actions align="end">
  <ng-content select="[cms-message]"></ng-content>
  <ng-content *ngIf="optionFooterDisplay && !loading.display" select="[cms-footer]"></ng-content>
</mat-dialog-actions>
<!--end::Footer-->