<form (ngSubmit)="onFormSubmit()" #vform="ngForm">
  <div class="ntk-cms-html-card-header">
    <!--begin:::::::::::::::::::::::::::::::::::::::::cms-header-->
    {{ formInfo.formTitle }}
    <!--end:::::::::::::::::::::::::::::::::::::::::cms-header-->
  </div>
  <div class="ntk-cms-html-card-body">
    <app-progress-spinner [options]="loading"> </app-progress-spinner>
    <!--begin:::::::::::::::::::::::::::::::::::::::::cms-body-->
    <!-- RecordStatus Field -->
    <mat-form-field class="ntk-full-width">
      <mat-select placeholder="{{fieldsInfo['recordStatus']?.fieldTitle}}" [(ngModel)]="dataModel.recordStatus"
        name="dataModel.recordStatus" #RecordStatus="ngModel" panelClass="recordStatus-{{ dataModel.recordStatus }}"
        required>
        <mat-option *ngFor="
                let item of dataModelEnumRecordStatusResult.listItems;
                index as i
              " [value]="item.value">{{ item.description }}</mat-option>
      </mat-select>
      <mat-hint align="end">{{'TITLE.SELECT_STATUS' | translate}}</mat-hint>
      <mat-error *ngIf="RecordStatus.errors?.required">
        RecordStatus is <strong>{{'MESSAGE.required' | translate}}</strong>
      </mat-error>
    </mat-form-field>
     <!-- ExpertPriceType Field -->
     <mat-form-field class="ntk-full-width" *ngIf="fieldsInfo['expertPriceType']?.accessWatchField">
      <mat-select placeholder="{{fieldsInfo['expertPriceType']?.fieldTitle}}" [(ngModel)]="dataModel.expertPriceType"
        [disabled]="!fieldsInfo['expertPriceType']?.accessEditField" name="dataModel.expertPriceType" #ExpertPriceType="ngModel"
        panelClass="ExpertPriceType-{{ dataModel.expertPriceType }}" required>
        <mat-option *ngFor="
                let item of dataModelEstatePropertyExpertPriceTypeEnumResult.listItems;
                index as i
              " [value]="item.value">{{ item.description }}</mat-option>
      </mat-select>
      <mat-error *ngIf="ExpertPriceType.errors?.required">
        {{ fieldsInfo['expertPriceType']?.fieldTitle }} is <strong>{{'MESSAGE.required' | translate}}</strong>
      </mat-error>
    </mat-form-field>
    <!-- LinkLocationId Field -->
    <app-cms-location-selector (optionChange)="onActionSelectorLocation($event)"
      [optionSelectForce]="dataModel.linkLocationId" [(loading)]="loading"
      [optionPlaceholder]="this.translate.instant('TITLE.Geographical_Region')"
      [optionDisabled]="!fieldsInfo['linkLocationId']?.accessEditField">
    </app-cms-location-selector>
    <br>
    <!-- createdYaer Field -->
    <mat-form-field class="ntk-full-width">
      <mat-label>{{'TITLE.CreatedYaer' | translate}}</mat-label>
      <input matInput [(ngModel)]="dataModel.createdYaer" name="dataModel.CreatedYaer" #CreatedYaer type="number"
        placeholder="0" />
      <mat-icon matSuffix *ngIf="dataModel.createdYaer" matSuffix mat-icon-button aria-label="Clear"
        (click)="dataModel.createdYaer = 0">close</mat-icon>
    </mat-form-field>
    <br>
    <!-- linkCoreCurrencyId Field -->
    <app-cms-currency-selector [optionSelectFirstItem]="true" [optionSelectForce]="dataModel.linkCoreCurrencyId"
      (optionChange)="onActionSelectCurrency($event)" [(loading)]="loading"
      [optionPlaceholder]="this.translate.instant('TITLE.Specify_the_transaction_currency')">
    </app-cms-currency-selector>
    <br>
    <!-- LinkContractTypeIds Field -->
    <app-estate-contract-type-selector (optionChange)="onActionSelectorContarctType($event)" [optionTypeView]="2"
      [optionDisabled]="!fieldsInfo['linkContractTypeId']?.accessEditField"
      [optionSelectForce]="dataModel.linkContractTypeId" [(loading)]="loading"
      [optionPlaceholder]="this.translate.instant('TITLE.Transaction_type')">
      <mat-icon matSuffix *ngIf="dataModel.linkContractTypeId && dataModel.linkContractTypeId?.length>0" matSuffix
        mat-icon-button aria-label="Clear" (click)="dataModel.linkContractTypeId = null;">close
      </mat-icon>
    </app-estate-contract-type-selector>


    <!-- LinkPropertyTypeUsageId Field -->
    <app-estate-property-type-usage-selector (optionChange)="onActionSelectorSelectUsage($event)"
      [optionDisabled]="!fieldsInfo['linkPropertyTypeUsageId']?.accessEditField" [optionTypeView]="2"
      [optionSelectForce]="dataModel.linkPropertyTypeUsageId" [(loading)]="loading"
      [optionPlaceholder]="this.translate.instant('TITLE.Type_Usage')">
      <mat-icon matSuffix *ngIf="dataModel.linkPropertyTypeUsageId && dataModel.linkPropertyTypeUsageId?.length>0"
        matSuffix mat-icon-button aria-label="Clear" (click)="dataModel.linkPropertyTypeUsageId = null;">close
      </mat-icon>
    </app-estate-property-type-usage-selector>


    <br>
    <br>
    <!-- LinkPropertyTypeLanduseId Field -->
    <app-estate-property-type-landuse-selector (optionChange)="onActionSelectorSelectLanduse($event)"
      [optionDisabled]="!fieldsInfo['linkPropertyTypeLanduseId']?.accessEditField" [optionTypeView]="2"
      [optionSelectForce]="dataModel.linkPropertyTypeLanduseId" [(loading)]="loading"
      [optionPlaceholder]="this.translate.instant('TITLE.Property_type')">

      <mat-icon matSuffix *ngIf="dataModel.linkPropertyTypeLanduseId && dataModel.linkPropertyTypeLanduseId?.length>0"
        matSuffix mat-icon-button aria-label="Clear" (click)="onActionSelectorSelectLanduse(null)">close
      </mat-icon>
    </app-estate-property-type-landuse-selector>

    <hr>


    <table class="ntk-full-width" cellspacing="0">
      <tr>
        <td>
          <!-- SalePriceMin Field -->
          <mat-form-field class="ntk-full-width">
            <mat-label>{{fieldsInfo['salePriceMin']?.fieldTitle}}</mat-label>
            <input matInput [(ngModel)]="dataModel.salePriceMin" name="dataModel.SalePriceMin" #SalePriceMin
              type="number" placeholder="0" />
            <mat-icon matSuffix *ngIf="dataModel.salePriceMin" matSuffix mat-icon-button aria-label="Clear"
              (click)="dataModel.salePriceMin = 0">close</mat-icon>
          </mat-form-field>
        </td>
        <td>
          <!-- SalePriceMax Field -->
          <mat-form-field class="ntk-full-width">
            <mat-label>{{fieldsInfo['salePriceMax']?.fieldTitle}}</mat-label>
            <input matInput [(ngModel)]="dataModel.salePriceMax" name="dataModel.SalePriceMax" #SalePriceMax
              type="number" placeholder="0" />
            <mat-icon matSuffix *ngIf="dataModel.salePriceMax" matSuffix mat-icon-button aria-label="Clear"
              (click)="dataModel.salePriceMax = 0">close</mat-icon>
          </mat-form-field>
        </td>
        <td>
          <!-- SalePriceAverage Field -->
          <mat-form-field class="ntk-full-width">
            <mat-label>{{fieldsInfo['salePriceAverage']?.fieldTitle}}</mat-label>
            <input matInput [(ngModel)]="dataModel.salePriceAverage" name="dataModel.SalePriceAverage" #SalePriceAverage
              type="number" placeholder="0" />
            <mat-icon matSuffix *ngIf="dataModel.salePriceAverage" matSuffix mat-icon-button aria-label="Clear"
              (click)="dataModel.salePriceAverage = 0">close</mat-icon>
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td>
          <!-- RentPriceMin Field -->
          <mat-form-field class="ntk-full-width">
            <mat-label>{{fieldsInfo['rentPriceMin']?.fieldTitle}}</mat-label>
            <input matInput [(ngModel)]="dataModel.rentPriceMin" name="dataModel.RentPriceMin" #RentPriceMin
              type="number" placeholder="0" />
            <mat-icon matSuffix *ngIf="dataModel.rentPriceMin" matSuffix mat-icon-button aria-label="Clear"
              (click)="dataModel.rentPriceMin = 0">close</mat-icon>
          </mat-form-field>
        </td>
        <td>
          <!-- RentPriceMax Field -->
          <mat-form-field class="ntk-full-width">
            <mat-label>{{fieldsInfo['rentPriceMax']?.fieldTitle}}</mat-label>
            <input matInput [(ngModel)]="dataModel.rentPriceMax" name="dataModel.RentPriceMax" #RentPriceMax
              type="number" placeholder="0" />
            <mat-icon matSuffix *ngIf="dataModel.rentPriceMax" matSuffix mat-icon-button aria-label="Clear"
              (click)="dataModel.rentPriceMax = 0">close</mat-icon>
          </mat-form-field>
        </td>
        <td>
          <!-- RentPriceAverage Field -->
          <mat-form-field class="ntk-full-width">
            <mat-label>{{fieldsInfo['rentPriceAverage']?.fieldTitle}}</mat-label>
            <input matInput [(ngModel)]="dataModel.rentPriceAverage" name="dataModel.RentPriceAverage" #RentPriceAverage
              type="number" placeholder="0" />
            <mat-icon matSuffix *ngIf="dataModel.rentPriceAverage" matSuffix mat-icon-button aria-label="Clear"
              (click)="dataModel.rentPriceAverage = 0">close</mat-icon>
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td>
          <!-- DepositPriceMin Field -->
          <mat-form-field class="ntk-full-width">
            <mat-label>{{fieldsInfo['depositPriceMin']?.fieldTitle}}</mat-label>
            <input matInput [(ngModel)]="dataModel.depositPriceMin" name="dataModel.DepositPriceMin" #DepositPriceMin
              type="number" placeholder="0" />
            <mat-icon matSuffix *ngIf="dataModel.depositPriceMin" matSuffix mat-icon-button aria-label="Clear"
              (click)="dataModel.depositPriceMin = 0">close</mat-icon>
          </mat-form-field>
        </td>
        <td>
          <!-- DepositPriceMax Field -->
          <mat-form-field class="ntk-full-width">
            <mat-label>{{fieldsInfo['depositPriceMax']?.fieldTitle}}</mat-label>
            <input matInput [(ngModel)]="dataModel.depositPriceMax" name="dataModel.DepositPriceMax" #DepositPriceMax
              type="number" placeholder="0" />
            <mat-icon matSuffix *ngIf="dataModel.depositPriceMax" matSuffix mat-icon-button aria-label="Clear"
              (click)="dataModel.depositPriceMax = 0">close</mat-icon>
          </mat-form-field>
        </td>
        <td>
          <!-- DepositPriceAverage Field -->
          <mat-form-field class="ntk-full-width">
            <mat-label>{{fieldsInfo['depositPriceAverage']?.fieldTitle}}</mat-label>
            <input matInput [(ngModel)]="dataModel.depositPriceAverage" name="dataModel.DepositPriceAverage"
              #DepositPriceAverage type="number" placeholder="0" />
            <mat-icon matSuffix *ngIf="dataModel.depositPriceAverage" matSuffix mat-icon-button aria-label="Clear"
              (click)="dataModel.depositPriceAverage = 0">close</mat-icon>
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td>
          <!-- PeriodPriceMin Field -->
          <mat-form-field class="ntk-full-width">
            <mat-label>{{fieldsInfo['periodPriceMin']?.fieldTitle}}</mat-label>
            <input matInput [(ngModel)]="dataModel.periodPriceMin" name="dataModel.PeriodPriceMin" #PeriodPriceMin
              type="number" placeholder="0" />
            <mat-icon matSuffix *ngIf="dataModel.periodPriceMin" matSuffix mat-icon-button aria-label="Clear"
              (click)="dataModel.periodPriceMin = 0">close</mat-icon>
          </mat-form-field>
        </td>
        <td>
          <!-- PeriodPriceMax Field -->
          <mat-form-field class="ntk-full-width">
            <mat-label>{{fieldsInfo['periodPriceMax']?.fieldTitle}}</mat-label>
            <input matInput [(ngModel)]="dataModel.periodPriceMax" name="dataModel.PeriodPriceMax" #PeriodPriceMax
              type="number" placeholder="0" />
            <mat-icon matSuffix *ngIf="dataModel.periodPriceMax" matSuffix mat-icon-button aria-label="Clear"
              (click)="dataModel.periodPriceMax = 0">close</mat-icon>
          </mat-form-field>
        </td>
        <td>
          <!-- PeriodPriceAverage Field -->
          <mat-form-field class="ntk-full-width">
            <mat-label>{{'TITLE.Period_Price_Average' | translate}}</mat-label>
            <input matInput [(ngModel)]="dataModel.periodPriceAverage" name="dataModel.PeriodPriceAverage"
              #PeriodPriceAverage type="number" placeholder="0" />
            <mat-icon matSuffix *ngIf="dataModel.periodPriceAverage" matSuffix mat-icon-button aria-label="Clear"
              (click)="dataModel.periodPriceAverage = 0">close</mat-icon>
          </mat-form-field>
        </td>
      </tr>

    </table>

    <hr>

    <!-- Description Field -->
    <mat-form-field class="ntk-full-width">
      <mat-label>{{fieldsInfo['description']?.fieldTitle}}</mat-label>
      <textarea matInput [(ngModel)]="dataModel.description" name="dataModel.Description" #Description type="text"
        placeholder="{{fieldsInfo['description']?.fieldTitle}}" minlength="1" maxlength="1000" required
        rows="5"></textarea>
      <mat-icon matSuffix *ngIf="dataModel.description" matSuffix mat-icon-button aria-label="Clear"
        (click)="dataModel.description = ''">close</mat-icon>
      <mat-icon matSuffix>mode_edit</mat-icon>
      <mat-hint align="end">{{ Description.value.length }} / 1000</mat-hint>
      <mat-error *ngIf="Description.errors?.required">
        Description is <strong>{{'MESSAGE.required' | translate}}</strong>
      </mat-error>
    </mat-form-field>

    <!--end:::::::::::::::::::::::::::::::::::::::::cms-body-->
  </div>
  <div class="ntk-cms-html-card-message">
    <!--begin:::::::::::::::::::::::::::::::::::::::::cms-message-->
    <div class="form-actions">
      <small class="form-text text-muted">{{ formInfo.formAlert }} </small>
      <small class="form-text text-muted danger">{{ formInfo.formError }}
      </small>
    </div>
    <!--end:::::::::::::::::::::::::::::::::::::::::cms-message-->
  </div>
  <div class="ntk-cms-html-card-footer">
    <!--begin:::::::::::::::::::::::::::::::::::::::::cms-footer-->
    <div class="form-actions" *ngIf="formInfo.formSubmitAllow  && !loading.display">
      <button type="button" (click)="onFormCancel()" class="btn btn-light">
        <i class="ft-x"></i> {{'ACTION.CANCEL' | translate}}
      </button>
      <button type="submit" (click)="onFormSubmit()" class="btn btn-success" [disabled]="!vform.form.valid">
        <i class="fa fa-check-square-o"></i> {{'ACTION.SAVE' | translate}}
      </button>
    </div>
    <!--end:::::::::::::::::::::::::::::::::::::::::cms-footer-->
  </div>
</form>