<h2 mat-dialog-title>{{ formInfo.FormTitle }}</h2>
<mat-dialog-content>
  <form #vform="ngForm" class="form form-horizontal">
    <app-progress-spinner [options]="loading"> </app-progress-spinner>
    <div *ngIf="!loading.display" class="form-body">

      <!-- RecordStatus Field -->
      <mat-form-field class="example-full-width">
        <mat-select placeholder="{{fieldsInfo['RecordStatus']?.FieldTitle}}" [(ngModel)]="dataModel.RecordStatus" name="dataModel.RecordStatus"
          #RecordStatus="ngModel" panelClass="recordStatus-{{ dataModel.RecordStatus }}" required>
          <mat-option *ngFor="
                let item of dataModelEnumRecordStatusResult.ListItems;
                index as i
              " [value]="item.Value">{{ item.Description }}</mat-option>
        </mat-select>
        <mat-hint align="end">{{'TITLE.SELECT_STATUS' | translate}}</mat-hint>
        <mat-error *ngIf="RecordStatus.errors?.required">
          RecordStatus is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <!-- LinkMemberUserId Field -->
      <mat-form-field class="example-full-width">
        <mat-select placeholder="وضعیت" [(ngModel)]="dataModel.LinkMemberUserId" name="dataModel.LinkMemberUserId"
          #LinkMemberUserId="ngModel" panelClass="LinkMemberUserId-{{ dataModel.LinkMemberUserId }}" required>
          <mat-option *ngFor="
                let item of dataModelEnumManageUserAccessControllerTypesResult.ListItems;
                index as i
              " [value]="item.Value">{{ item.Description }}</mat-option>
        </mat-select>
        <mat-hint align="end">{{'TITLE.SELECT_STATUS' | translate}}</mat-hint>
        <mat-error *ngIf="LinkMemberUserId.errors?.required">
          LinkMemberUserId is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <!-- UserAccessAreaType Field -->
      <mat-form-field class="example-full-width">
        <mat-select placeholder="وضعیت" [(ngModel)]="dataModel.UserAccessAreaType" name="dataModel.UserAccessAreaType"
          #UserAccessAreaType="ngModel" panelClass="UserAccessAreaType-{{ dataModel.UserAccessAreaType }}" required>
          <mat-option *ngFor="
                  let item of dataModelEnumManageUserAccessAreaTypesResult.ListItems;
                  index as i
                " [value]="item.Value">{{ item.Description }}</mat-option>
        </mat-select>
        <mat-hint align="end">{{'TITLE.SELECT_STATUS' | translate}}</mat-hint>
        <mat-error *ngIf="UserAccessAreaType.errors?.required">
          UserAccessAreaType is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <!-- LinkSiteId Field -->
      <app-cms-site-selector [optionDisabled]="true" [optionSelectForce]=" this.dataModel.LinkSiteId"
        [optionPlaceholder]="'وب سایت'"></app-cms-site-selector>

      <!-- LinkUserId Field -->
      <app-cms-user-selector [optionDisabled]="true" [optionSelectForce]=" this.dataModel.LinkUserId"
        [optionPlaceholder]="'کاربر'"></app-cms-user-selector>
      <!-- LinkMemberUserId Field -->
      <app-cms-member-selector [optionDisabled]="true" [optionSelectForce]=" this.dataModel.LinkMemberUserId"
        [optionPlaceholder]="'عضو'"></app-cms-member-selector>
      <!-- UserAccessAdminAllowToAllData Field -->
      <div class="example-full-width">
        <mat-slide-toggle [(ngModel)]="dataModel.UserAccessAdminAllowToAllData"
          *ngIf="fieldsInfo['UserAccessAdminAllowToAllData']?.AccessWatchField"
          [disabled]="!fieldsInfo['UserAccessAdminAllowToAllData']?.AccessEditField"
          name="dataModel.UserAccessAdminAllowToAllData">
          {{fieldsInfo['UserAccessAdminAllowToAllData']?.FieldTitle}}
        </mat-slide-toggle>
      </div>
      <!-- LinkUserId Field -->
      <div class="example-full-width">
        <mat-slide-toggle [(ngModel)]="dataModel.UserAccessAdminAllowToProfessionalData"
          *ngIf="fieldsInfo['UserAccessAdminAllowToProfessionalData']?.AccessWatchField"
          [disabled]="!fieldsInfo['UserAccessAdminAllowToProfessionalData']?.AccessEditField"
          name="dataModel.UserAccessAdminAllowToProfessionalData">
          {{fieldsInfo['UserAccessAdminAllowToProfessionalData']?.FieldTitle}}
        </mat-slide-toggle>
      </div>
      <!-- RememberOnDevice Field -->
      <div class="example-full-width">
        <mat-slide-toggle [(ngModel)]="dataModel.RememberOnDevice"
          *ngIf="fieldsInfo['RememberOnDevice']?.AccessWatchField"
          [disabled]="!fieldsInfo['RememberOnDevice']?.AccessEditField" name="dataModel.RememberOnDevice">
          {{fieldsInfo['RememberOnDevice']?.FieldTitle}}
        </mat-slide-toggle>
      </div>

      <!-- BrowserLanguage Field -->
      <mat-form-field class="example-full-width">
        <mat-label>BrowserLanguage</mat-label>
        <input matInput [(ngModel)]="dataModel.BrowserLanguage" name="dataModel.BrowserLanguage" #BrowserLanguage
          type="text" placeholder="BrowserLanguage" />
        <mat-icon matSuffix *ngIf="dataModel.BrowserLanguage" matSuffix mat-icon-button aria-label="Clear"
          (click)="dataModel.BrowserLanguage = ''">close</mat-icon>
        <mat-icon matSuffix>mode_edit</mat-icon>
      </mat-form-field>
      <!-- UserLanguage Field -->
      <mat-form-field class="example-full-width">
        <mat-label>UserLanguage</mat-label>
        <input matInput [(ngModel)]="dataModel.UserLanguage" name="dataModel.UserLanguage" #UserLanguage type="text"
          placeholder="UserLanguage" />
        <mat-icon matSuffix *ngIf="dataModel.UserLanguage" matSuffix mat-icon-button aria-label="Clear"
          (click)="dataModel.UserLanguage = null">close</mat-icon>
        <mat-icon matSuffix>mode_edit</mat-icon>
      </mat-form-field>
      <!-- LinkDeviceId Field -->
      <mat-form-field class="example-full-width">
        <mat-label>LinkDeviceId</mat-label>
        <input matInput [(ngModel)]="dataModel.LinkDeviceId" name="dataModel.LinkDeviceId" #LinkDeviceId type="text"
          placeholder="LinkDeviceId" />
        <mat-icon matSuffix *ngIf="dataModel.LinkDeviceId" matSuffix mat-icon-button aria-label="Clear"
          (click)="dataModel.LinkDeviceId = null">close</mat-icon>
        <mat-icon matSuffix>mode_edit</mat-icon>
      </mat-form-field>

      <!-- LinkApplicationId Field -->
      <mat-form-field class="example-full-width">
        <mat-label>LinkApplicationId</mat-label>
        <input matInput [(ngModel)]="dataModel.LinkApplicationId" name="dataModel.LinkApplicationId" #LinkApplicationId
          type="text" placeholder="LinkApplicationId" />
        <mat-icon matSuffix *ngIf="dataModel.LinkApplicationId" matSuffix mat-icon-button aria-label="Clear"
          (click)="dataModel.LinkApplicationId = null">close</mat-icon>
        <mat-icon matSuffix>mode_edit</mat-icon>
      </mat-form-field>
      <!-- DeviceClientMAC Field -->
      <mat-form-field class="example-full-width">
        <mat-label>DeviceClientMAC</mat-label>
        <input matInput [(ngModel)]="dataModel.DeviceClientMAC" name="dataModel.DeviceClientMAC" #DeviceClientMAC
          type="text" placeholder="DeviceClientMAC" />
        <mat-icon matSuffix *ngIf="dataModel.DeviceClientMAC" matSuffix mat-icon-button aria-label="Clear"
          (click)="dataModel.DeviceClientMAC = null">close</mat-icon>
        <mat-icon matSuffix>mode_edit</mat-icon>
      </mat-form-field>
      <!-- Token Field -->
      <mat-form-field class="example-full-width">
        <mat-label>Token</mat-label>
        <input matInput [(ngModel)]="dataModel.Token" name="dataModel.Token" #Token type="text" placeholder="Token" />
        <mat-icon matSuffix *ngIf="dataModel.Token" matSuffix mat-icon-button aria-label="Clear"
          (click)="dataModel.Token = null">close</mat-icon>
        <mat-icon matSuffix>mode_edit</mat-icon>
      </mat-form-field>

      <!-- ExpireDate Field -->
      <mat-form-field class="example-full-width" *ngIf="fieldsInfo['ExpireDate']?.AccessWatchField">
        <mat-label>{{fieldsInfo['ExpireDate']?.FieldTitle}}</mat-label>
        <input matInput [matDatepicker]="ExpireDate" [(ngModel)]="dataModel.ExpireDate" name="dataModel.ExpireDate" />
        <mat-icon matSuffix *ngIf="dataModel.ExpireDate && fieldsInfo['ExpireDate']?.AccessEditField" matSuffix
          mat-icon-button aria-label="Clear" (click)="dataModel.ExpireDate = null">close</mat-icon>
        <mat-datepicker-toggle matSuffix [for]="ExpireDate"></mat-datepicker-toggle>
        <mat-datepicker touchUi #ExpireDate></mat-datepicker>
      </mat-form-field>

      <div *ngIf="tokenInfo.UserAccessAdminAllowToProfessionalData">
        <div [innerHTML]="dataModel | prettyjson"></div>
      </div>

    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <div class="form-actions">
    <small class="form-text text-muted">{{ formInfo.FormAlert }} </small>
    <small class="form-text text-muted danger">{{ formInfo.FormError }}
    </small>
  </div>
  <div class="form-actions" *ngIf="formInfo.FormSubmitAllow">
    <button type="button" (click)="onFormCancel()" class="btn btn-raised btn-warning mr-1">
      <i class="ft-x"></i> {{'ACTION.CANCEL' | translate}}
    </button>
  </div>
</mat-dialog-actions>
