<form (ngSubmit)="onFormSubmit()" #vform="ngForm">
  <div class="ntk-cms-html-card-header">
    <!--begin:::::::::::::::::::::::::::::::::::::::::cms-header-->
    {{ formInfo.formTitle }}
    <!--end:::::::::::::::::::::::::::::::::::::::::cms-header-->
  </div>
  <div class="ntk-cms-html-card-body">
    <app-progress-spinner [options]="loading"> </app-progress-spinner>
    <!--begin:::::::::::::::::::::::::::::::::::::::::cms-body-->

    <mat-form-field class="ntk-full-width" *ngIf="fieldsInfo['recordStatus']?.accessWatchField">
      <mat-select placeholder="{{fieldsInfo['recordStatus']?.fieldTitle}}" [(ngModel)]="dataModel.recordStatus"
        [disabled]="!fieldsInfo['recordStatus']?.accessEditField" name="dataModel.recordStatus" #RecordStatus="ngModel"
        panelClass="recordStatus-{{ dataModel.recordStatus }}" required>
        <mat-option *ngFor="
                let item of dataModelEnumRecordStatusResult.listItems;
                index as i
              " [value]="item.value">{{ item.description }}</mat-option>
      </mat-select>
      <mat-hint align="end">{{ 'Application.source.recordStatus_hint' | translate }}</mat-hint>
      <mat-error *ngIf="RecordStatus.errors?.required">
        {{ fieldsInfo['recordStatus']?.fieldTitle }} is <strong>{{'MESSAGE.required' | translate}}</strong>
      </mat-error>
    </mat-form-field>

    <app-ticketing-departemen-selector (optionChange)="onActionSelectSource($event)" [(loading)]="loading"
      [optionSelectForce]="this.dataModel.linkTicketingDepartemenId"
      [optionPlaceholder]="this.translate.instant('TITLE.Department')"
      [optionDisabled]="!fieldsInfo['linkTicketingDepartemenId']?.accessEditField">
    </app-ticketing-departemen-selector>



    <mat-form-field class="ntk-full-width" *ngIf="fieldsInfo['htmlBody']?.accessWatchField">
      <mat-label>{{'TITLE.Answer_Text' | translate}}</mat-label>
      <textarea matInput [(ngModel)]="dataModel.htmlBody" [disabled]="!fieldsInfo['htmlBody']?.accessEditField"
        name="dataModel.htmlBody" #HtmlBody type="text" placeholder="{{'TITLE.Answer_Text' | translate}}" row="5"
        minlength="0" maxlength="1000"></textarea>
      <mat-icon matSuffix *ngIf="dataModel.htmlBody && fieldsInfo['htmlBody']?.accessEditField" matSuffix
        mat-icon-button aria-label="Clear" (click)="dataModel.htmlBody = ''">close</mat-icon>
      <mat-icon *ngIf="fieldsInfo['htmlBody']?.accessEditField" matSuffix>mode_edit</mat-icon>
      <mat-hint align="end">{{ 'Application.source.htmlBody_hint' | translate }}</mat-hint>
      <mat-hint align="start">{{ HtmlBody.value.length }} / 1000</mat-hint>

    </mat-form-field>

    <div *ngIf="formInfo.formSubmitAllow  && !loading.display" class="ntk-button-row">
      <button type="button" mat-raised-button (click)="onActionBackToParent()">
        {{'ACTION.BACK' | translate}}
      </button>
      <button type="submit" mat-raised-button color="success" [disabled]="!vform.form.valid">
        {{'ACTION.SAVE' | translate}}
      </button>
    </div>

    <!--end:::::::::::::::::::::::::::::::::::::::::cms-body-->
  </div>
  <div class="ntk-cms-html-card-message">
    <!--begin:::::::::::::::::::::::::::::::::::::::::cms-message-->

    <!--end:::::::::::::::::::::::::::::::::::::::::cms-message-->
  </div>
  <div class="ntk-cms-html-card-footer">
    <!--begin:::::::::::::::::::::::::::::::::::::::::cms-footer-->

    <!--end:::::::::::::::::::::::::::::::::::::::::cms-footer-->
  </div>
</form>