<div class="d-flex flex-column-fluid">
  <!--begin::Container-->
  <div class="container">
    <form (ngSubmit)="onFormSubmit()" #vform="ngForm"
      class="form mt-0 mt-lg-10 fv-plugins-bootstrap fv-plugins-framework">
      <app-progress-spinner [options]="loading">
      </app-progress-spinner>
      <mat-horizontal-stepper *ngIf="!loading.display" (selectionChange)="onStepClick($event,stepper)" #stepper>

        <mat-step label="{{'TITLE.Default_module_settings'|translate}}" state="main" *ngIf="tokenInfo.UserAccessAdminAllowToProfessionalData">
          <p>{{'TITLE.Settings_that_are_used_in_the_first_assignment_of_the_module_to_the_site' |translate}}</p>
          <!-- StatusRenderUser Field -->
          <div class="example-full-width">
            <mat-slide-toggle [(ngModel)]="dataConfigSiteValuesDefaultModel.StatusRenderUser"
              name="dataConfigSiteValuesDefaultModel.StatusRenderUser">
              StatusRenderUser
            </mat-slide-toggle>
          </div>
          <!-- DomainsGoogleSitekey Field -->
          <mat-form-field class="example-full-width">
            <mat-label>DomainsGoogleSitekey</mat-label>
            <input matInput [(ngModel)]="dataConfigSiteValuesDefaultModel.DomainsGoogleSitekey"
              name="dataConfigSiteValuesDefaultModel.DomainsGoogleSitekey"
              #dataConfigSiteValuesDefaultModel_DomainsGoogleSitekey type="text" placeholder="ad....." />
            <mat-icon matSuffix *ngIf="dataConfigSiteValuesDefaultModel.DomainsGoogleSitekey" matSuffix mat-icon-button
              aria-label="Clear" (click)="dataConfigSiteValuesDefaultModel.DomainsGoogleSitekey = null">close</mat-icon>
            <mat-icon matSuffix>mode_edit</mat-icon>
            <mat-error *ngIf="dataConfigSiteValuesDefaultModel_DomainsGoogleSitekey.errors?.required">
              DomainsGoogleSitekey is <strong>required</strong>
            </mat-error>
          </mat-form-field>

          <!-- DomainsGoogleSecretkey Field -->
          <mat-form-field class="example-full-width">
            <mat-label>DomainsGoogleSecretkey</mat-label>
            <input matInput [(ngModel)]="dataConfigSiteValuesDefaultModel.DomainsGoogleSecretkey"
              name="dataConfigSiteValuesDefaultModel.DomainsGoogleSecretkey"
              #dataConfigSiteValuesDefaultModel_DomainsGoogleSecretkey type="text" placeholder="ad....." />
            <mat-icon matSuffix *ngIf="dataConfigSiteValuesDefaultModel.DomainsGoogleSecretkey" matSuffix
              mat-icon-button aria-label="Clear"
              (click)="dataConfigSiteValuesDefaultModel.DomainsGoogleSecretkey = null">close</mat-icon>
            <mat-icon matSuffix>mode_edit</mat-icon>
            <mat-error *ngIf="dataConfigSiteValuesDefaultModel_DomainsGoogleSecretkey.errors?.required">
              DomainsGoogleSecretkey is <strong>required</strong>
            </mat-error>
          </mat-form-field>
          <div class="example-full-width">
            <mat-slide-toggle [(ngModel)]="dataConfigSiteValuesDefaultModel.UserRegidteryBool"
              name="dataConfigSiteValuesDefaultModel.UserRegidteryBool">
              UserRegidteryBool
            </mat-slide-toggle>
          </div>
          <!-- UserRegidteryRecordStatus Field -->
          <mat-form-field class="example-full-width">
            <mat-select placeholder="وضعیت" [(ngModel)]="dataConfigSiteValuesDefaultModel.UserRegidteryRecordStatus"
              name="dataConfigSiteValuesDefaultModel.UserRegidteryRecordStatus" #UserRegidteryRecordStatus="ngModel"
              panelClass="UserRegidteryRecordStatus-{{ dataConfigSiteValuesDefaultModel.UserRegidteryRecordStatus }}"
              required>
              <mat-option *ngFor="
                let item of dataModelEnumRecordStatusResult.ListItems;
                index as i
              " [value]="item.Value">{{ item.Description }}</mat-option>
            </mat-select>
            <mat-hint align="end">{{'TITLE.SELECT_STATUS' | translate}}</mat-hint>
            <mat-error *ngIf="UserRegidteryRecordStatus.errors?.required">
              {{fieldsInfo['UserRegidteryRecordStatus']?.FieldTitle}} is <strong>required</strong>
            </mat-error>
          </mat-form-field>
          <!-- UserRegidteryExpireDateDay Field -->
          <mat-form-field class="example-full-width">
            <mat-label>UserRegidteryExpireDateDay</mat-label>
            <input matInput [(ngModel)]="dataConfigSiteValuesDefaultModel.UserRegidteryExpireDateDay"
              name="dataConfigSiteValuesDefaultModel.UserRegidteryExpireDateDay"
              #dataConfigSiteValuesDefaultModel_UserRegidteryExpireDateDay type="number" placeholder="0" />
            <mat-icon matSuffix *ngIf="dataConfigSiteValuesDefaultModel.UserRegidteryExpireDateDay" matSuffix
              mat-icon-button aria-label="Clear"
              (click)="dataConfigSiteValuesDefaultModel.UserRegidteryExpireDateDay = null">close</mat-icon>
            <mat-icon matSuffix>mode_edit</mat-icon>
            <mat-error *ngIf="dataConfigSiteValuesDefaultModel_UserRegidteryExpireDateDay.errors?.required">
              UserRegidteryExpireDateDay is <strong>required</strong>
            </mat-error>
          </mat-form-field>
          <!-- RSSCount Field -->
          <mat-form-field class="example-full-width">
            <mat-label>RSSCount</mat-label>
            <input matInput [(ngModel)]="dataConfigSiteValuesDefaultModel.RSSCount"
              name="dataConfigSiteValuesDefaultModel.RSSCount" #dataConfigSiteValuesDefaultModel_RSSCount type="number"
              placeholder="0" />
            <mat-icon matSuffix *ngIf="dataConfigSiteValuesDefaultModel.RSSCount" matSuffix mat-icon-button
              aria-label="Clear" (click)="dataConfigSiteValuesDefaultModel.RSSCount = null">close</mat-icon>
            <mat-icon matSuffix>mode_edit</mat-icon>
            <mat-error *ngIf="dataConfigSiteValuesDefaultModel_RSSCount.errors?.required">
              RSSCount is <strong>required</strong>
            </mat-error>
          </mat-form-field>



          <div *ngIf="tokenInfo.UserAccessAdminAllowToProfessionalData">
            <div [innerHTML]="dataConfigSiteValuesDefaultModel | prettyjson"></div>
          </div>
          <div *ngIf="formInfo.FormSubmitAllow">
            <button type="button" mat-button (click)="onActionBackToParent()"
              class="btn btn-light-primary font-weight-bold text-uppercase px-9 py-4">
              {{'ACTION.BACK' | translate}}
            </button>
            <button type="button" [disabled]="!vform.form.valid" mat-button matStepperNext
              class="btn btn-outline-primary font-weight-bold text-uppercase px-9 py-4">
              {{'ACTION.NEXT' | translate}}
            </button>
            <button type="submit" mat-button [disabled]="!vform.form.valid"
              class="btn btn-success font-weight-bold text-uppercase px-9 py-4">
              {{'ACTION.SAVE' | translate}}
            </button>
          </div>
        </mat-step>
        <mat-step label="{{'TITLE.Default_access'|translate}}" state="main" *ngIf="tokenInfo.UserAccessAdminAllowToProfessionalData">
          <p>{{'TITLE.Default_website_access_to_this_module'|translate}}</p>

          <!-- MainDataContentRowCount Field -->
          <mat-form-field class="example-full-width">
            <mat-label>MainDataContentRowCount</mat-label>
            <input matInput [(ngModel)]="dataConfigSiteAccessValuesDefaultModel.MainDataContentRowCount"
              name="dataConfigSiteAccessValuesDefaultModel.MainDataContentRowCount"
              #dataConfigSiteAccessValuesDefaultModel_MainDataContentRowCount type="number" placeholder="0" required />
            <mat-icon matSuffix *ngIf="dataConfigSiteAccessValuesDefaultModel.MainDataContentRowCount" matSuffix
              mat-icon-button aria-label="Clear"
              (click)="dataConfigSiteAccessValuesDefaultModel.MainDataContentRowCount = null">close</mat-icon>
            <mat-icon matSuffix>mode_edit</mat-icon>
            <mat-error *ngIf="dataConfigSiteAccessValuesDefaultModel_MainDataContentRowCount.errors?.required">
              MainDataContentRowCount is <strong>required</strong>
            </mat-error>
          </mat-form-field>


          <!-- DomainsList Field -->
          <mat-form-field class="example-full-width">
            <mat-label>DomainsList</mat-label>
            <textarea matInput [(ngModel)]="dataConfigSiteAccessValuesDefaultModel.DomainsList"
              name="dataConfigSiteAccessValuesDefaultModel.DomainsList"
              #dataConfigSiteAccessValuesDefaultModel_DomainsList type="text" placeholder="domain.com"
              rows="10"></textarea>
            <mat-icon matSuffix *ngIf="dataConfigSiteAccessValuesDefaultModel.DomainsList" matSuffix mat-icon-button
              aria-label="Clear" (click)="dataConfigSiteAccessValuesDefaultModel.DomainsList = null">close</mat-icon>
            <mat-icon matSuffix>mode_edit</mat-icon>
          </mat-form-field>



          <!-- MaxAdminCpUserCreation Field -->
          <mat-form-field class="example-full-width">
            <mat-label>MaxAdminCpUserCreation</mat-label>
            <input matInput [(ngModel)]="dataConfigSiteAccessValuesDefaultModel.MaxAdminCpUserCreation"
              name="dataConfigSiteAccessValuesDefaultModel.MaxAdminCpUserCreation"
              #dataConfigSiteAccessValuesDefaultModel_MaxAdminCpUserCreation type="number" placeholder="0" required />
            <mat-icon matSuffix *ngIf="dataConfigSiteAccessValuesDefaultModel.MaxAdminCpUserCreation" matSuffix
              mat-icon-button aria-label="Clear"
              (click)="dataConfigSiteAccessValuesDefaultModel.MaxAdminCpUserCreation = null">close</mat-icon>
            <mat-icon matSuffix>mode_edit</mat-icon>
            <mat-error *ngIf="dataConfigSiteAccessValuesDefaultModel_MaxAdminCpUserCreation.errors?.required">
              MaxAdminCpUserCreation is <strong>required</strong>
            </mat-error>
          </mat-form-field>



          <!-- MaxUserCreation Field -->
          <mat-form-field class="example-full-width">
            <mat-label>MaxUserCreation</mat-label>
            <input matInput [(ngModel)]="dataConfigSiteAccessValuesDefaultModel.MaxUserCreation"
              name="dataConfigSiteAccessValuesDefaultModel.MaxUserCreation"
              #dataConfigSiteAccessValuesDefaultModel_MaxUserCreation type="number" placeholder="0" required />
            <mat-icon matSuffix *ngIf="dataConfigSiteAccessValuesDefaultModel.MaxUserCreation" matSuffix mat-icon-button
              aria-label="Clear" (click)="dataConfigSiteAccessValuesDefaultModel.MaxUserCreation = null">close
            </mat-icon>
            <mat-icon matSuffix>mode_edit</mat-icon>
            <mat-error *ngIf="dataConfigSiteAccessValuesDefaultModel_MaxUserCreation.errors?.required">
              MaxUserCreation is <strong>required</strong>
            </mat-error>
          </mat-form-field>


          <div *ngIf="tokenInfo.UserAccessAdminAllowToProfessionalData">
            <div [innerHTML]="dataConfigSiteAccessValuesDefaultModel | prettyjson"></div>
          </div>
          <div *ngIf="formInfo.FormSubmitAllow">
            <button type="button" mat-button matStepperPrevious
              class="btn btn-light-primary font-weight-bold text-uppercase px-9 py-4">
              {{'ACTION.BEFOR' | translate}}
            </button>
            <button type="button" [disabled]="!vform.form.valid" mat-button matStepperNext
              class="btn btn-outline-primary font-weight-bold text-uppercase px-9 py-4">
              {{'ACTION.NEXT' | translate}}
            </button>
            <button type="submit" mat-button [disabled]="!vform.form.valid"
              class="btn btn-success font-weight-bold text-uppercase px-9 py-4">
              {{'ACTION.SAVE' | translate}}
            </button>
          </div>
        </mat-step>
        <mat-step label="{{'TITLE.System_management_settings'|translate}}" state="main">
          <p>{{'TITLE.The_whole_system_management_settings_for_this_module'|translate}}</p>

          <!-- AccessBuy Field -->
          <div class="example-full-width">
            <mat-slide-toggle [(ngModel)]="dataConfigAdminMainModel.AccessBuy"
              name="dataConfigAdminMainModel.AccessBuy">
              AccessBuy
            </mat-slide-toggle>
          </div>
          <!-- AccessBuyPrice Field -->
          <mat-form-field class="example-full-width">
            <mat-label>AccessBuyPrice</mat-label>
            <input matInput [(ngModel)]="dataConfigAdminMainModel.AccessBuyPrice"
              name="dataConfigAdminMainModel.AccessBuyPrice" #dataConfigAdminMainModel_AccessBuyPrice type="number"
              placeholder="0" required />
            <mat-icon matSuffix *ngIf="dataConfigAdminMainModel.AccessBuyPrice" matSuffix mat-icon-button
              aria-label="Clear" (click)="dataConfigAdminMainModel.AccessBuyPrice = null">close</mat-icon>
            <mat-icon matSuffix>mode_edit</mat-icon>
            <mat-error *ngIf="dataConfigAdminMainModel_AccessBuyPrice.errors?.required">
              AccessBuyPrice is <strong>required</strong>
            </mat-error>
          </mat-form-field>

          <!-- AccessBuyMonth Field -->
          <mat-form-field class="example-full-width">
            <mat-label>AccessBuyMonth</mat-label>
            <input matInput [(ngModel)]="dataConfigAdminMainModel.AccessBuyMonth"
              name="dataConfigAdminMainModel.AccessBuyMonth" #dataConfigAdminMainModel_AccessBuyMonth type="number"
              placeholder="0" required />
            <mat-icon matSuffix *ngIf="dataConfigAdminMainModel.AccessBuyMonth" matSuffix mat-icon-button
              aria-label="Clear" (click)="dataConfigAdminMainModel.AccessBuyMonth = null">close</mat-icon>
            <mat-icon matSuffix>mode_edit</mat-icon>
            <mat-error *ngIf="dataConfigAdminMainModel_AccessBuyMonth.errors?.required">
              AccessBuyMonth is <strong>required</strong>
            </mat-error>
          </mat-form-field>
          <!-- AccessFree Field -->
          <div class="example-full-width">
            <mat-slide-toggle [(ngModel)]="dataConfigAdminMainModel.AccessFree"
              name="dataConfigAdminMainModel.AccessFree">
              AccessFree
            </mat-slide-toggle>
          </div>
          <!-- AccessFreeDay Field -->
          <mat-form-field class="example-full-width">
            <mat-label>AccessFreeDay</mat-label>
            <input matInput [(ngModel)]="dataConfigAdminMainModel.AccessFreeDay"
              name="dataConfigAdminMainModel.AccessFreeDay" #dataConfigAdminMainModel_AccessFreeDay type="number"
              placeholder="0" required />
            <mat-icon matSuffix *ngIf="dataConfigAdminMainModel.AccessFreeDay" matSuffix mat-icon-button
              aria-label="Clear" (click)="dataConfigAdminMainModel.AccessFreeDay = null">close</mat-icon>
            <mat-icon matSuffix>mode_edit</mat-icon>
            <mat-error *ngIf="dataConfigAdminMainModel_AccessFreeDay.errors?.required">
              AccessFreeDay is <strong>required</strong>
            </mat-error>
          </mat-form-field>



          <!-- DomainsList Field -->
          <mat-form-field class="example-full-width">
            <mat-label>DomainsList</mat-label>
            <input matInput [(ngModel)]="dataConfigAdminMainModel.DomainsList"
              name="dataConfigAdminMainModel.DomainsList" #dataConfigAdminMainModel_DomainsList type="number"
              placeholder="0" required />
            <mat-icon matSuffix *ngIf="dataConfigAdminMainModel.DomainsList" matSuffix mat-icon-button
              aria-label="Clear" (click)="dataConfigAdminMainModel.DomainsList = null">close</mat-icon>
            <mat-icon matSuffix>mode_edit</mat-icon>
            <mat-error *ngIf="dataConfigAdminMainModel_DomainsList.errors?.required">
              DomainsList is <strong>required</strong>
            </mat-error>
          </mat-form-field>

          <!-- AdminCpUserRegidteryBool Field -->
          <div class="example-full-width">
            <mat-slide-toggle [(ngModel)]="dataConfigAdminMainModel.AdminCpUserRegidteryBool"
              name="dataConfigAdminMainModel.AdminCpUserRegidteryBool">
              AdminCpUserRegidteryBool
            </mat-slide-toggle>
          </div>

          <!-- AdminCpUserRegidteryExpireDateDay Field -->
          <mat-form-field class="example-full-width">
            <mat-label>AdminCpUserRegidteryExpireDateDay</mat-label>
            <input matInput [(ngModel)]="dataConfigAdminMainModel.AdminCpUserRegidteryExpireDateDay"
              name="dataConfigAdminMainModel.AdminCpUserRegidteryExpireDateDay"
              #dataConfigAdminMainModel_AdminCpUserRegidteryExpireDateDay type="number" placeholder="0" required />
            <mat-icon matSuffix *ngIf="dataConfigAdminMainModel.AdminCpUserRegidteryExpireDateDay" matSuffix
              mat-icon-button aria-label="Clear"
              (click)="dataConfigAdminMainModel.AdminCpUserRegidteryExpireDateDay = null">close</mat-icon>
            <mat-icon matSuffix>mode_edit</mat-icon>
            <mat-error *ngIf="dataConfigAdminMainModel_AdminCpUserRegidteryExpireDateDay.errors?.required">
              AdminCpUserRegidteryExpireDateDay is <strong>required</strong>
            </mat-error>
          </mat-form-field>
          <div *ngIf="tokenInfo.UserAccessAdminAllowToProfessionalData">
            <div [innerHTML]="dataConfigAdminMainModel | prettyjson"></div>
          </div>
          <div *ngIf="formInfo.FormSubmitAllow">
            <button type="button" mat-button matStepperPrevious
              class="btn btn-light-primary font-weight-bold text-uppercase px-9 py-4">
              {{'ACTION.BEFOR' | translate}}
            </button>
            <button type="button" [disabled]="!vform.form.valid" mat-button matStepperNext
              class="btn btn-outline-primary font-weight-bold text-uppercase px-9 py-4">
              {{'ACTION.NEXT' | translate}}
            </button>
            <button type="submit" mat-button [disabled]="!vform.form.valid"
              class="btn btn-success font-weight-bold text-uppercase px-9 py-4">
              {{'ACTION.SAVE' | translate}}
            </button>
          </div>
        </mat-step>
      </mat-horizontal-stepper>
    </form>
  </div>
  <!--end::Container-->
</div>
