<form (ngSubmit)="onFormSubmit()" #vform="ngForm">
  <div class="ntk-cms-html-card-header">
    <!--begin:::::::::::::::::::::::::::::::::::::::::cms-header-->
    {{ formInfo.formTitle }}
    <!--end:::::::::::::::::::::::::::::::::::::::::cms-header-->
  </div>
  <div class="ntk-cms-html-card-body">
    <app-progress-spinner [options]="loading"> </app-progress-spinner>
    <!--begin:::::::::::::::::::::::::::::::::::::::::cms-body-->
    <!-- RecordStatus Field -->
    <mat-form-field class="ntk-full-width">
      <mat-select placeholder="{{fieldsInfo['recordStatus']?.fieldTitle}}" [(ngModel)]="dataModel.recordStatus"
        name="dataModel.recordStatus" #RecordStatus="ngModel" panelClass="recordStatus-{{ dataModel.recordStatus }}"
        required>
        <mat-option *ngFor="
                  let item of dataModelEnumRecordStatusResult.listItems;
                  index as i
                " [value]="item.value">{{ item.description }}</mat-option>
      </mat-select>
      <mat-hint align="end">{{'TITLE.SELECT_STATUS' | translate}}</mat-hint>
      <mat-error *ngIf="RecordStatus.errors?.required">
        RecordStatus is <strong>{{'MESSAGE.required' | translate}}</strong>
      </mat-error>
    </mat-form-field>
    <!-- Title Field -->
    <mat-form-field class="ntk-full-width">
      <mat-label>{{fieldsInfo['title']?.fieldTitle}}</mat-label>
      <input matInput [(ngModel)]="dataModel.title" name="dataModel.title" #Title type="text"
        placeholder="{{fieldsInfo['title']?.fieldTitle}}" minlength="3" maxlength="100" required />
      <mat-icon matSuffix *ngIf="dataModel.title" matSuffix mat-icon-button aria-label="Clear"
        (click)="dataModel.title = ''">close</mat-icon>
      <mat-icon matSuffix>mode_edit</mat-icon>
      <mat-hint align="end">{{ Title.value.length }} / 100</mat-hint>
      <mat-error *ngIf="Title.errors?.required">
        Title is <strong>{{'MESSAGE.required' | translate}}</strong>
      </mat-error>
    </mat-form-field>


    <!-- CheckCredit Field -->
    <div class="ntk-full-width">
      <mat-slide-toggle [(ngModel)]="dataModel.checkCredit" *ngIf="fieldsInfo['checkCredit']?.accessWatchField"
        [disabled]="!fieldsInfo['checkCredit']?.accessEditField" name="dataModel.checkCredit">
        {{fieldsInfo['checkCredit']?.fieldTitle}}
      </mat-slide-toggle>
    </div>


    <!-- CalculateCredit Field -->
    <div class="ntk-full-width">
      <mat-slide-toggle [(ngModel)]="dataModel.calculateCredit" *ngIf="fieldsInfo['calculateCredit']?.accessWatchField"
        [disabled]="!fieldsInfo['calculateCredit']?.accessEditField" name="dataModel.calculateCredit">
        {{fieldsInfo['calculateCredit']?.fieldTitle}}
      </mat-slide-toggle>
    </div>
    <!-- ServiceAvailableCredit Field -->
    <mat-form-field class="ntk-full-width" *ngIf="fieldsInfo['serviceAvailableCredit']?.accessWatchField">
      <mat-label>{{ fieldsInfo['serviceAvailableCredit']?.fieldTitle }}</mat-label>
      <input matInput [(ngModel)]="dataModel.serviceAvailableCredit"
        [disabled]="!fieldsInfo['serviceAvailableCredit']?.accessEditField" name="dataModel.serviceAvailableCredit"
        #ServiceAvailableCredit type="number" placeholder="0" required />
      <mat-icon matSuffix
        *ngIf="dataModel.serviceAvailableCredit && fieldsInfo['serviceAvailableCredit']?.accessEditField" matSuffix
        mat-icon-button aria-label="Clear" (click)="dataModel.serviceAvailableCredit = null">close</mat-icon>
      <mat-icon *ngIf="fieldsInfo['serviceAvailableCredit']?.accessEditField" matSuffix>mode_edit</mat-icon>
      <mat-error *ngIf="ServiceAvailableCredit.errors?.required">
        {{ fieldsInfo['serviceAvailableCredit']?.fieldTitle }} is <strong>{{'MESSAGE.required' | translate}}</strong>
      </mat-error>
    </mat-form-field>

    <!-- ServiceSumCredit Field -->
    <mat-form-field class="ntk-full-width" *ngIf="fieldsInfo['serviceSumCredit']?.accessWatchField">
      <mat-label>{{ fieldsInfo['serviceSumCredit']?.fieldTitle }}</mat-label>
      <input matInput [(ngModel)]="dataModel.serviceSumCredit"
        [disabled]="!fieldsInfo['serviceSumCredit']?.accessEditField" name="dataModel.serviceSumCredit"
        #ServiceSumCredit type="number" placeholder="0" required />
      <mat-icon matSuffix *ngIf="dataModel.serviceSumCredit && fieldsInfo['serviceSumCredit']?.accessEditField"
        matSuffix mat-icon-button aria-label="Clear" (click)="dataModel.serviceSumCredit = null">close</mat-icon>
      <mat-icon *ngIf="fieldsInfo['serviceSumCredit']?.accessEditField" matSuffix>mode_edit</mat-icon>
      <mat-error *ngIf="ServiceSumCredit.errors?.required">
        {{ fieldsInfo['serviceSumCredit']?.fieldTitle }} is <strong>{{'MESSAGE.required' | translate}}</strong>
      </mat-error>
    </mat-form-field>

    <!-- UserAvailableCredit Field -->
    <mat-form-field class="ntk-full-width" *ngIf="fieldsInfo['userAvailableCredit']?.accessWatchField">
      <mat-label>{{ fieldsInfo['userAvailableCredit']?.fieldTitle }}</mat-label>
      <input matInput [(ngModel)]="dataModel.userAvailableCredit"
        [disabled]="!fieldsInfo['userAvailableCredit']?.accessEditField" name="dataModel.userAvailableCredit"
        #UserAvailableCredit type="number" placeholder="0" required />
      <mat-icon matSuffix *ngIf="dataModel.userAvailableCredit && fieldsInfo['userAvailableCredit']?.accessEditField"
        matSuffix mat-icon-button aria-label="Clear" (click)="dataModel.userAvailableCredit = null">close</mat-icon>
      <mat-icon *ngIf="fieldsInfo['userAvailableCredit']?.accessEditField" matSuffix>mode_edit</mat-icon>
      <mat-error *ngIf="UserAvailableCredit.errors?.required">
        {{ fieldsInfo['userAvailableCredit']?.fieldTitle }} is <strong>{{'MESSAGE.required' | translate}}</strong>
      </mat-error>
    </mat-form-field>

    <!-- UserSumCredit Field -->
    <mat-form-field class="ntk-full-width" *ngIf="fieldsInfo['userSumCredit']?.accessWatchField">
      <mat-label>{{ fieldsInfo['userSumCredit']?.fieldTitle }}</mat-label>
      <input matInput [(ngModel)]="dataModel.userSumCredit" [disabled]="!fieldsInfo['userSumCredit']?.accessEditField"
        name="dataModel.userSumCredit" #UserSumCredit type="number" placeholder="0" required />
      <mat-icon matSuffix *ngIf="dataModel.userSumCredit && fieldsInfo['userSumCredit']?.accessEditField" matSuffix
        mat-icon-button aria-label="Clear" (click)="dataModel.userSumCredit = null">close</mat-icon>
      <mat-icon *ngIf="fieldsInfo['userSumCredit']?.accessEditField" matSuffix>mode_edit</mat-icon>
      <mat-error *ngIf="UserSumCredit.errors?.required">
        {{ fieldsInfo['userSumCredit']?.fieldTitle }} is <strong>{{'MESSAGE.required' | translate}}</strong>
      </mat-error>
    </mat-form-field>

    <!-- Description Field -->
    <mat-form-field class="ntk-full-width">
      <mat-label>{{fieldsInfo['description']?.fieldTitle}}</mat-label>
      <textarea matInput [(ngModel)]="dataModel.description" name="dataModel.description" #Description type="text"
        placeholder="{{fieldsInfo['description']?.fieldTitle}}" minlength="1" maxlength="500" rows=5></textarea>
      <mat-icon matSuffix *ngIf="dataModel.description" matSuffix mat-icon-button aria-label="Clear"
        (click)="dataModel.description = ''">close</mat-icon>
      <mat-icon matSuffix>mode_edit</mat-icon>
      <mat-hint align="end">{{ Description.value.length }} / 500</mat-hint>
      <mat-error *ngIf="Description.errors?.required">
        Description is <strong>{{'MESSAGE.required' | translate}}</strong>
      </mat-error>
    </mat-form-field>

    <!--end:::::::::::::::::::::::::::::::::::::::::cms-body-->
  </div>
  <div class="ntk-cms-html-card-message">
    <!--begin:::::::::::::::::::::::::::::::::::::::::cms-message-->
    <div class="form-actions">
      <small class="form-text text-muted">{{ formInfo.formAlert }} </small>
      <small class="form-text text-muted danger">{{ formInfo.formError }}
      </small>
    </div>
    <!--end:::::::::::::::::::::::::::::::::::::::::cms-message-->
  </div>
  <div class="ntk-cms-html-card-footer">
    <!--begin:::::::::::::::::::::::::::::::::::::::::cms-footer-->
    <div class="form-actions" *ngIf="formInfo.formSubmitAllow  && !loading.display">
      <button type="button" (click)="onFormCancel()" class="btn btn-light">
        <i class="ft-x"></i> {{'ACTION.CANCEL' | translate}}
      </button>
      <button type="submit" (click)="onFormSubmit()" class="btn btn-success" [disabled]="!vform.form.valid">
        <i class="fa fa-check-square-o"></i> {{'ACTION.SAVE' | translate}}
      </button>
    </div>
    <!--end:::::::::::::::::::::::::::::::::::::::::cms-footer-->
  </div>
</form>