<form (ngSubmit)="onFormSubmit()" #vform="ngForm">
    <div class="ntk-cms-html-card-header">
      <!--begin:::::::::::::::::::::::::::::::::::::::::cms-header-->
        {{ formInfo.formTitle }}
      <!--end:::::::::::::::::::::::::::::::::::::::::cms-header-->
    </div>
    <div class="ntk-cms-html-card-body">
	<app-progress-spinner [options]="loading"> </app-progress-spinner>
      <!--begin:::::::::::::::::::::::::::::::::::::::::cms-body-->
      <!-- RecordStatus Field -->
      <mat-form-field class="ntk-full-width" *ngIf="fieldsInfo['recordStatus']?.accessWatchField">
        <mat-select placeholder="{{fieldsInfo['recordStatus']?.fieldTitle}}" [(ngModel)]="dataModel.recordStatus"
          [disabled]="!fieldsInfo['recordStatus']?.accessEditField" name="dataModel.recordStatus"
          #RecordStatus="ngModel" panelClass="recordStatus-{{ dataModel.recordStatus }}" required>
          <mat-option *ngFor="
              let item of dataModelEnumRecordStatusResult.listItems;
              index as i
            " [value]="item.value">{{ item.description }}</mat-option>
        </mat-select>
        <mat-hint align="end">{{ 'Application.source.recordStatus_hint' | translate }}</mat-hint>
        <mat-error *ngIf="RecordStatus.errors?.required">
          {{ fieldsInfo['recordStatus']?.fieldTitle }} is <strong>{{'MESSAGE.required' | translate}}</strong>
        </mat-error>
      </mat-form-field>
      <!-- LinkPublicConfigId Field -->
      <app-bankpayment-publicconfig-selector (optionChange)="onActionSelectSource($event)" [(loading)]="loading"
        [optionDisabled]="!fieldsInfo['linkPublicConfigId']?.accessEditField"
        [optionSelectForce]="dataModel.linkPublicConfigId" [optionPlaceholder]="this.translate.instant('TITLE.Account_Type')">
      </app-bankpayment-publicconfig-selector>
      <!-- Title Field -->
      <mat-form-field class="ntk-full-width" *ngIf="fieldsInfo['title']?.accessWatchField">
        <mat-label>{{ fieldsInfo['title']?.fieldTitle }}</mat-label>
        <input matInput [(ngModel)]="dataModel.title" [disabled]="!fieldsInfo['title']?.accessEditField"
          name="dataModel.title" #Title type="text" placeholder="{{fieldsInfo['title']?.fieldTitle}}" minlength="3"
          maxlength="100" required />
        <mat-icon matSuffix *ngIf="dataModel.title && fieldsInfo['title']?.accessEditField" matSuffix mat-icon-button
          aria-label="Clear" (click)="dataModel.title = ''">close</mat-icon>
        <mat-icon *ngIf="fieldsInfo['title']?.accessEditField" matSuffix>mode_edit</mat-icon>
        <mat-hint align="end">{{ Title.value.length }} / 100</mat-hint>
        <mat-error *ngIf="Title.errors?.required">
          {{ fieldsInfo['title']?.fieldTitle }} is <strong>{{'MESSAGE.required' | translate}}</strong>
        </mat-error>
      </mat-form-field>
      <!-- CurrencyUnitRatioByShop Field -->
      <mat-form-field class="ntk-full-width" *ngIf="fieldsInfo['currencyUnitRatioByShop']?.accessWatchField">
        <mat-label>{{ fieldsInfo['currencyUnitRatioByShop']?.fieldTitle }}</mat-label>
        <input matInput [(ngModel)]="dataModel.currencyUnitRatioByShop"
          [disabled]="!fieldsInfo['currencyUnitRatioByShop']?.accessEditField" name="dataModel.currencyUnitRatioByShop"
          #CurrencyUnitRatioByShop type="number" placeholder="Currency Unit Ratio By Shop" />
        <mat-icon matSuffix
          *ngIf="dataModel.currencyUnitRatioByShop && fieldsInfo['currencyUnitRatioByShop']?.accessEditField" matSuffix
          mat-icon-button aria-label="Clear" (click)="dataModel.currencyUnitRatioByShop = 1">close</mat-icon>
        <mat-icon *ngIf="fieldsInfo['currencyUnitRatioByShop']?.accessEditField" matSuffix>mode_edit</mat-icon>
      </mat-form-field>
      <!-- MinTransactionAmount Field -->
      <mat-form-field class="ntk-full-width" *ngIf="fieldsInfo['minTransactionAmount']?.accessWatchField">
        <mat-label>{{ fieldsInfo['minTransactionAmount']?.fieldTitle }}</mat-label>
        <input matInput [(ngModel)]="dataModel.minTransactionAmount"
          [disabled]="!fieldsInfo['minTransactionAmount']?.accessEditField" name="dataModel.minTransactionAmount"
          #MinTransactionAmount type="number" placeholder="Min Transaction Amount" />
        <mat-icon matSuffix
          *ngIf="dataModel.minTransactionAmount && fieldsInfo['minTransactionAmount']?.accessEditField" matSuffix
          mat-icon-button aria-label="Clear" (click)="dataModel.minTransactionAmount = 0">close</mat-icon>
        <mat-icon *ngIf="fieldsInfo['minTransactionAmount']?.accessEditField" matSuffix>mode_edit</mat-icon>
      </mat-form-field>
      <!-- MaxTransactionAmount Field -->
      <mat-form-field class="ntk-full-width" *ngIf="fieldsInfo['maxTransactionAmount']?.accessWatchField">
        <mat-label>{{ fieldsInfo['maxTransactionAmount']?.fieldTitle }}</mat-label>
        <input matInput [(ngModel)]="dataModel.maxTransactionAmount"
          [disabled]="!fieldsInfo['maxTransactionAmount']?.accessEditField" name="dataModel.maxTransactionAmount"
          #MaxTransactionAmount type="number" placeholder="Max Transaction Amount" />
        <mat-icon matSuffix
          *ngIf="dataModel.maxTransactionAmount && fieldsInfo['maxTransactionAmount']?.accessEditField" matSuffix
          mat-icon-button aria-label="Clear" (click)="dataModel.maxTransactionAmount = 100000">close</mat-icon>
        <mat-icon *ngIf="fieldsInfo['maxTransactionAmount']?.accessEditField" matSuffix>mode_edit</mat-icon>
      </mat-form-field>
      <!-- FixFeeTransactionAmount Field -->
      <mat-form-field class="ntk-full-width" *ngIf="fieldsInfo['fixFeeTransactionAmount']?.accessWatchField">
        <mat-label>{{ fieldsInfo['fixFeeTransactionAmount']?.fieldTitle }}</mat-label>
        <input matInput [(ngModel)]="dataModel.fixFeeTransactionAmount"
          [disabled]="!fieldsInfo['fixFeeTransactionAmount']?.accessEditField" name="dataModel.fixFeeTransactionAmount"
          #FixFeeTransactionAmount type="number" placeholder="Fix Fee Transaction Amount" />
        <mat-icon matSuffix
          *ngIf="dataModel.fixFeeTransactionAmount && fieldsInfo['fixFeeTransactionAmount']?.accessEditField" matSuffix
          mat-icon-button aria-label="Clear" (click)="dataModel.fixFeeTransactionAmount = 0">close</mat-icon>
        <mat-icon *ngIf="fieldsInfo['fixFeeTransactionAmount']?.accessEditField" matSuffix>mode_edit</mat-icon>
      </mat-form-field>
      <!-- PercentFeeTransactionAmount Field -->
      <mat-form-field class="ntk-full-width" *ngIf="fieldsInfo['percentFeeTransactionAmount']?.accessWatchField">
        <mat-label>{{ fieldsInfo['percentFeeTransactionAmount']?.fieldTitle }}</mat-label>
        <input matInput [(ngModel)]="dataModel.percentFeeTransactionAmount"
          [disabled]="!fieldsInfo['percentFeeTransactionAmount']?.accessEditField"
          name="dataModel.percentFeeTransactionAmount" #PercentFeeTransactionAmount type="number"
          placeholder="Percent Fee Transaction Amount" />
        <mat-icon matSuffix
          *ngIf="dataModel.percentFeeTransactionAmount && fieldsInfo['percentFeeTransactionAmount']?.accessEditField"
          matSuffix mat-icon-button aria-label="Clear" (click)="dataModel.percentFeeTransactionAmount = 100000">close
        </mat-icon>
        <mat-icon *ngIf="fieldsInfo['percentFeeTransactionAmount']?.accessEditField" matSuffix>mode_edit</mat-icon>
      </mat-form-field>
      <!-- Memo Field -->
      <mat-form-field class="ntk-full-width">
        <mat-label>{{fieldsInfo['description']?.fieldTitle}}</mat-label>
        <textarea matInput [(ngModel)]="dataModel.memo" name="dataModel.memo" #Memo type="text"
          placeholder="{{fieldsInfo['description']?.fieldTitle}}" minlength="1" maxlength="500" required
          rows=5></textarea>
        <mat-icon matSuffix *ngIf="dataModel.memo" matSuffix mat-icon-button aria-label="Clear"
          (click)="dataModel.memo = ''">close</mat-icon>
        <mat-icon matSuffix>mode_edit</mat-icon>
        <mat-hint align="end">{{ Memo.value.length }} / 500</mat-hint>
        <mat-error *ngIf="Memo.errors?.required">
          Memo is <strong>{{'MESSAGE.required' | translate}}</strong>
        </mat-error>
      </mat-form-field>
      <!--end:::::::::::::::::::::::::::::::::::::::::cms-body-->
    </div>
    <div class="ntk-cms-html-card-message">
      <!--begin:::::::::::::::::::::::::::::::::::::::::cms-message-->
      <div class="form-actions">
        <small class="form-text text-muted">{{ formInfo.formAlert }} </small>
        <small class="form-text text-muted danger">{{ formInfo.formError }}
        </small>
      </div>
      <!--end:::::::::::::::::::::::::::::::::::::::::cms-message-->
    </div>
    <div class="ntk-cms-html-card-footer">
      <!--begin:::::::::::::::::::::::::::::::::::::::::cms-footer-->
      <div class="form-actions" *ngIf="formInfo.formSubmitAllow  && !loading.display">
        <button type="button" (click)="onFormCancel()" class="btn btn-light">
          <i class="ft-x"></i> {{'ACTION.CANCEL' | translate}}
        </button>
        <button type="submit" (click)="onFormSubmit()" class="btn btn-success"
          [disabled]="!vform.form.valid">
          <i class="fa fa-check-square-o"></i> {{'ACTION.SAVE' | translate}}
        </button>
      </div>
      <!--end:::::::::::::::::::::::::::::::::::::::::cms-footer-->
    </div>
</form>