<form (ngSubmit)="onFormSubmit()" #vform="ngForm">
  <div class="ntk-cms-html-card-header">
    <!--begin:::::::::::::::::::::::::::::::::::::::::cms-header-->
    {{ formInfo.FormTitle }}
    <!--end:::::::::::::::::::::::::::::::::::::::::cms-header-->
  </div>
  <div class="ntk-cms-html-card-body">
    <app-progress-spinner [options]="loading"> </app-progress-spinner>
    <!--begin:::::::::::::::::::::::::::::::::::::::::cms-body-->
    <!-- RecordStatus Field -->
    <mat-form-field class="ntk-full-width">
      <mat-select placeholder="{{fieldsInfo['RecordStatus']?.FieldTitle}}" [(ngModel)]="dataModel.RecordStatus"
        name="dataModel.RecordStatus" #RecordStatus="ngModel" panelClass="recordStatus-{{ dataModel.RecordStatus }}"
        required>
        <mat-option *ngFor="
                  let item of dataModelEnumRecordStatusResult.ListItems;
                  index as i
                " [value]="item.Value">{{ item.Description }}</mat-option>
      </mat-select>
      <mat-hint align="end">{{'TITLE.SELECT_STATUS' | translate}}</mat-hint>
      <mat-error *ngIf="RecordStatus.errors?.required">
        RecordStatus is <strong>{{'MESSAGE.required' | translate}}</strong>
      </mat-error>
    </mat-form-field>




    <!-- NumberChar Field -->
    <mat-form-field class="ntk-full-width" *ngIf="fieldsInfo['NumberChar']?.AccessWatchField">
      <mat-label>{{ fieldsInfo['NumberChar']?.FieldTitle }}</mat-label>
      <input matInput [(ngModel)]="dataModel.NumberChar" [disabled]="!fieldsInfo['NumberChar']?.AccessEditField"
        name="dataModel.NumberChar" #NumberChar type="text" placeholder="123" />
      <mat-icon matSuffix *ngIf="dataModel.NumberChar && fieldsInfo['NumberChar']?.AccessEditField" matSuffix
        mat-icon-button aria-label="Clear" (click)="dataModel.NumberChar = ''">close</mat-icon>
      <mat-icon *ngIf="fieldsInfo['NumberChar']?.AccessEditField" matSuffix>mode_edit</mat-icon>
      <mat-hint align="start">{{ NumberChar.value.length }} / 100</mat-hint>
    </mat-form-field>
    <!-- SaleStatus Field -->
    <div class="ntk-full-width">
      <mat-slide-toggle [(ngModel)]="dataModel.SaleStatus" *ngIf="fieldsInfo['SaleStatus']?.AccessWatchField"
        [disabled]="!fieldsInfo['SaleStatus']?.AccessEditField" name="dataModel.SaleStatus">
        {{fieldsInfo['SaleStatus']?.FieldTitle}}
      </mat-slide-toggle>
    </div>

    <!-- FirstSubmit Field -->
    <mat-form-field class="ntk-full-width">
      <mat-label>{{fieldsInfo['FirstSubmit']?.FieldTitle}}</mat-label>
      <input matInput [matDatepicker]="FirstSubmit" [(ngModel)]="dataModel.FirstSubmit" name="dataModel.FirstSubmit" />
      <mat-icon matSuffix *ngIf="dataModel.FirstSubmit && fieldsInfo['FirstSubmit']?.AccessEditField" matSuffix
        mat-icon-button aria-label="Clear" (click)="dataModel.FirstSubmit = null">close</mat-icon>
      <mat-datepicker-toggle matSuffix [for]="FirstSubmit"></mat-datepicker-toggle>
      <mat-datepicker touchUi #FirstSubmit></mat-datepicker>
    </mat-form-field>
    <!-- UsanceDate Field -->
    <mat-form-field class="ntk-full-width" *ngIf="fieldsInfo['UsanceDate']?.AccessWatchField">
      <mat-label>{{fieldsInfo['UsanceDate']?.FieldTitle}}</mat-label>
      <input matInput [matDatepicker]="UsanceDate" [(ngModel)]="dataModel.UsanceDate" name="dataModel.UsanceDate" />
      <mat-icon matSuffix *ngIf="dataModel.UsanceDate && fieldsInfo['UsanceDate']?.AccessEditField" matSuffix
        mat-icon-button aria-label="Clear" (click)="dataModel.UsanceDate = null">close</mat-icon>
      <mat-datepicker-toggle matSuffix [for]="UsanceDate"></mat-datepicker-toggle>
      <mat-datepicker touchUi #UsanceDate></mat-datepicker>
    </mat-form-field>


    
    <app-sms-apipath-selectionlist [optionSelectForce]="dataCoreCpMainMenuIds" [optionDisabled]="false"
    (optionChange)="onActionSelectorUserCategorySelect($event)"
    (optionSelectAdded)="onActionSelectorUserCategorySelectAdded($event)"
    (optionSelectRemoved)="onActionSelectorUserCategorySelectRemoved($event)">
  </app-sms-apipath-selectionlist>
    <!--end:::::::::::::::::::::::::::::::::::::::::cms-body-->
  </div>
  <div class="ntk-cms-html-card-message">
    <!--begin:::::::::::::::::::::::::::::::::::::::::cms-message-->
    <div class="form-actions">
      <small class="form-text text-muted">{{ formInfo.FormAlert }} </small>
      <small class="form-text text-muted danger">{{ formInfo.FormError }}
      </small>
    </div>
    <!--end:::::::::::::::::::::::::::::::::::::::::cms-message-->
  </div>
  <div class="ntk-cms-html-card-footer">
    <!--begin:::::::::::::::::::::::::::::::::::::::::cms-footer-->
    <div class="form-actions" *ngIf="formInfo.FormSubmitAllow">
      <button type="button" (click)="onFormCancel()" class="btn btn-light">
        <i class="ft-x"></i> {{'ACTION.CANCEL' | translate}}
      </button>
      <button type="submit" (click)="onFormSubmit()" class="btn btn-success" [disabled]="!vform.form.valid">
        <i class="fa fa-check-square-o"></i> {{'ACTION.SAVE' | translate}}
      </button>
    </div>
    <!--end:::::::::::::::::::::::::::::::::::::::::cms-footer-->
  </div>
</form>