<form (ngSubmit)="onFormSubmit()" #vform="ngForm">
  <div class="ntk-cms-html-card-header">
    <!--begin:::::::::::::::::::::::::::::::::::::::::cms-header-->
    {{ formInfo.formTitle }}
    <!--end:::::::::::::::::::::::::::::::::::::::::cms-header-->
  </div>
  <div class="ntk-cms-html-card-body">
    <app-progress-spinner [options]="loading"> </app-progress-spinner>
    <!--begin:::::::::::::::::::::::::::::::::::::::::cms-body-->
    <!-- RecordStatus Field -->
    <mat-form-field class="ntk-full-width">
      <mat-select placeholder="{{fieldsInfo['recordStatus']?.fieldTitle}}" [(ngModel)]="dataModel.recordStatus"
        name="dataModel.recordStatus" #RecordStatus="ngModel" panelClass="recordStatus-{{ dataModel.recordStatus }}"
        required>
        <mat-option *ngFor="
                  let item of dataModelEnumRecordStatusResult.listItems;
                  index as i
                " [value]="item.value">{{ item.description }}</mat-option>
      </mat-select>
      <mat-hint align="end">{{'TITLE.SELECT_STATUS' | translate}}</mat-hint>
      <mat-error *ngIf="RecordStatus.errors?.required">
        RecordStatus is <strong>{{'MESSAGE.required' | translate}}</strong>
      </mat-error>
    </mat-form-field>

    <!-- NumberChar Field -->
    <mat-form-field class="ntk-full-width" *ngIf="fieldsInfo['numberChar']?.accessWatchField">
      <mat-label>{{ fieldsInfo['numberChar']?.fieldTitle }}</mat-label>
      <input matInput [(ngModel)]="dataModel.numberChar" [disabled]="!fieldsInfo['numberChar']?.accessEditField"
        name="dataModel.numberChar" #NumberChar type="text" placeholder="123" />
      <mat-icon matSuffix *ngIf="dataModel.numberChar && fieldsInfo['numberChar']?.accessEditField" matSuffix
        mat-icon-button aria-label="Clear" (click)="dataModel.numberChar = ''">close</mat-icon>
      <mat-icon *ngIf="fieldsInfo['numberChar']?.accessEditField" matSuffix>mode_edit</mat-icon>
      <mat-hint align="start">{{ NumberChar.value.length }} / 100</mat-hint>
    </mat-form-field>
    <!-- IsPublic Field -->
    <div class="ntk-full-width">
      <mat-slide-toggle [(ngModel)]="dataModel.isPublic" *ngIf="fieldsInfo['isPublic']?.accessWatchField"
        [disabled]="!fieldsInfo['isPublic']?.accessEditField" name="dataModel.isPublic">
        {{fieldsInfo['isPublic']?.fieldTitle}}
      </mat-slide-toggle>
    </div>
    <!-- SaleStatus Field -->
    <div class="ntk-full-width">
      <mat-slide-toggle [(ngModel)]="dataModel.saleStatus" *ngIf="fieldsInfo['saleStatus']?.accessWatchField"
        [disabled]="!fieldsInfo['saleStatus']?.accessEditField" name="dataModel.saleStatus">
        {{fieldsInfo['saleStatus']?.fieldTitle}}
      </mat-slide-toggle>
    </div>
  <!-- Priority Field -->
  <mat-form-field class="ntk-full-width" *ngIf="fieldsInfo['priority']?.accessWatchField">
    <mat-label>{{ fieldsInfo['priority']?.fieldTitle }}</mat-label>
    <input matInput [(ngModel)]="dataModel.priority" [disabled]="!fieldsInfo['priority']?.accessEditField"
      name="dataModel.priority" #Priority type="number" placeholder="1" />
    <mat-icon matSuffix *ngIf="dataModel.priority && fieldsInfo['priority']?.accessEditField" matSuffix
      mat-icon-button aria-label="Clear" (click)="dataModel.priority = 1">close</mat-icon>
    <mat-icon *ngIf="fieldsInfo['priority']?.accessEditField" matSuffix>mode_edit</mat-icon>
  </mat-form-field>

  <!-- DeliveryRelayStatus Field -->
  <div class="ntk-full-width">
    <mat-slide-toggle [(ngModel)]="dataModel.deliveryRelayStatus" *ngIf="fieldsInfo['deliveryRelayStatus']?.accessWatchField"
      [disabled]="!fieldsInfo['deliveryRelayStatus']?.accessEditField" name="dataModel.deliveryRelayStatus">
      {{fieldsInfo['deliveryRelayStatus']?.fieldTitle}}
    </mat-slide-toggle>
  </div>
  <!-- DeliveryRelayUrl Field -->
  <mat-form-field class="ntk-full-width" *ngIf="fieldsInfo['deliveryRelayUrl']?.accessWatchField">
    <mat-label>{{ fieldsInfo['deliveryRelayUrl']?.fieldTitle }}</mat-label>
    <input matInput [(ngModel)]="dataModel.deliveryRelayUrl" [readonly]="!dataModel.deliveryRelayStatus" [disabled]="!fieldsInfo['deliveryRelayUrl']?.accessEditField"
      name="dataModel.deliveryRelayUrl" #DeliveryRelayUrl type="text" class="input-ltr" placeholder="" />
    <mat-icon matSuffix *ngIf="dataModel.deliveryRelayUrl && fieldsInfo['deliveryRelayUrl']?.accessEditField" matSuffix
      mat-icon-button aria-label="Clear" (click)="dataModel.deliveryRelayUrl = ''">close</mat-icon>
    <mat-icon *ngIf="fieldsInfo['deliveryRelayUrl']?.accessEditField" matSuffix>mode_edit</mat-icon>
  </mat-form-field>
  
  <!-- SmsRelayStatus Field -->
  <div class="ntk-full-width">
    <mat-slide-toggle [(ngModel)]="dataModel.smsRelayStatus" *ngIf="fieldsInfo['smsRelayStatus']?.accessWatchField"
      [disabled]="!fieldsInfo['smsRelayStatus']?.accessEditField" name="dataModel.smsRelayStatus">
      {{fieldsInfo['smsRelayStatus']?.fieldTitle}}
    </mat-slide-toggle>
  </div>
  <!-- SmsRelayUrl Field -->
  <mat-form-field class="ntk-full-width" *ngIf="fieldsInfo['smsRelayUrl']?.accessWatchField">
    <mat-label>{{ fieldsInfo['smsRelayUrl']?.fieldTitle }}</mat-label>
    <input matInput [(ngModel)]="dataModel.smsRelayUrl" [readonly]="!dataModel.smsRelayStatus" [disabled]="!fieldsInfo['smsRelayUrl']?.accessEditField"
      name="dataModel.smsRelayUrl" #SmsRelayUrl type="text" class="input-ltr" placeholder="" />
    <mat-icon matSuffix *ngIf="dataModel.smsRelayUrl && fieldsInfo['smsRelayUrl']?.accessEditField" matSuffix
      mat-icon-button aria-label="Clear" (click)="dataModel.smsRelayUrl = ''">close</mat-icon>
    <mat-icon *ngIf="fieldsInfo['smsRelayUrl']?.accessEditField" matSuffix>mode_edit</mat-icon>
  </mat-form-field>

    <!-- FirstSubmit Field -->
    <mat-form-field class="ntk-full-width">
      <mat-label>{{fieldsInfo['firstSubmit']?.fieldTitle}}</mat-label>
      <input matInput [matDatepicker]="FirstSubmit" [(ngModel)]="dataModel.firstSubmit" name="dataModel.firstSubmit" />
      <mat-icon matSuffix *ngIf="dataModel.firstSubmit && fieldsInfo['firstSubmit']?.accessEditField" matSuffix
        mat-icon-button aria-label="Clear" (click)="dataModel.firstSubmit = null">close</mat-icon>
      <mat-datepicker-toggle matSuffix [for]="FirstSubmit"></mat-datepicker-toggle>
      <mat-datepicker touchUi #FirstSubmit></mat-datepicker>
    </mat-form-field>
    <!-- UsanceDate Field -->
    <mat-form-field class="ntk-full-width" *ngIf="fieldsInfo['usanceDate']?.accessWatchField">
      <mat-label>{{fieldsInfo['usanceDate']?.fieldTitle}}</mat-label>
      <input matInput [matDatepicker]="UsanceDate" [(ngModel)]="dataModel.usanceDate" name="dataModel.usanceDate" />
      <mat-icon matSuffix *ngIf="dataModel.usanceDate && fieldsInfo['usanceDate']?.accessEditField" matSuffix
        mat-icon-button aria-label="Clear" (click)="dataModel.usanceDate = null">close</mat-icon>
      <mat-datepicker-toggle matSuffix [for]="UsanceDate"></mat-datepicker-toggle>
      <mat-datepicker touchUi #UsanceDate></mat-datepicker>
    </mat-form-field>

    <!-- ExpireDate Field -->
    <mat-form-field class="ntk-full-width" *ngIf="fieldsInfo['expireDate']?.accessWatchField">
      <mat-label>{{fieldsInfo['expireDate']?.fieldTitle}}</mat-label>
      <input matInput [matDatepicker]="ExpireDate" [(ngModel)]="dataModel.expireDate" name="dataModel.expireDate" />
      <mat-icon matSuffix *ngIf="dataModel.expireDate && fieldsInfo['expireDate']?.accessAddField" matSuffix
        mat-icon-button aria-label="Clear" (click)="dataModel.expireDate = null">close</mat-icon>
      <mat-datepicker-toggle matSuffix [for]="ExpireDate"></mat-datepicker-toggle>
      <mat-datepicker touchUi #ExpireDate></mat-datepicker>
    </mat-form-field>

    <!-- ActionMemo Field -->
  <mat-form-field class="ntk-full-width" *ngIf="fieldsInfo['actionMemo']?.accessWatchField">
    <mat-label>{{ fieldsInfo['actionMemo']?.fieldTitle }}</mat-label>
    <input matInput [(ngModel)]="dataModel.actionMemo" [disabled]="!fieldsInfo['actionMemo']?.accessEditField"
      name="dataModel.actionMemo" #ActionMemo type="text" placeholder="1" />
    <mat-icon matSuffix *ngIf="dataModel.actionMemo && fieldsInfo['actionMemo']?.accessEditField" matSuffix
      mat-icon-button aria-label="Clear">close</mat-icon>
    <mat-icon *ngIf="fieldsInfo['actionMemo']?.accessEditField" matSuffix>mode_edit</mat-icon>
  </mat-form-field>
    
    <app-sms-apipath-selectionlist [optionSelectForce]="dataCoreCpMainMenuIds" [optionDisabled]="false"
    (optionChange)="onActionSelectorUserCategorySelect($event)"
    (optionSelectAdded)="onActionSelectorUserCategorySelectAdded($event)"
    (optionSelectRemoved)="onActionSelectorUserCategorySelectRemoved($event)">
  </app-sms-apipath-selectionlist>
    <!--end:::::::::::::::::::::::::::::::::::::::::cms-body-->
  </div>
  <div class="ntk-cms-html-card-message">
    <!--begin:::::::::::::::::::::::::::::::::::::::::cms-message-->
    <div class="form-actions">
      <small class="form-text text-muted">{{ formInfo.formAlert }} </small>
      <small class="form-text text-muted danger">{{ formInfo.formError }}
      </small>
    </div>
    <!--end:::::::::::::::::::::::::::::::::::::::::cms-message-->
  </div>
  <div class="ntk-cms-html-card-footer">
    <!--begin:::::::::::::::::::::::::::::::::::::::::cms-footer-->
    <div class="form-actions" *ngIf="formInfo.formSubmitAllow  && !loading.display">
      <button type="button" (click)="onFormCancel()" class="btn btn-light">
        <i class="ft-x"></i> {{'ACTION.CANCEL' | translate}}
      </button>
      <button type="submit" (click)="onFormSubmit()" class="btn btn-success" [disabled]="!vform.form.valid">
        <i class="fa fa-check-square-o"></i> {{'ACTION.SAVE' | translate}}
      </button>
    </div>
    <!--end:::::::::::::::::::::::::::::::::::::::::cms-footer-->
  </div>
</form>