<form (ngSubmit)="onFormSubmit()" #vform="ngForm">
    <div class="ntk-cms-html-card-header">
      <!--begin:::::::::::::::::::::::::::::::::::::::::cms-header-->
        {{ formInfo.FormTitle }}
      <!--end:::::::::::::::::::::::::::::::::::::::::cms-header-->
    </div>
    <div class="ntk-cms-html-card-body">
	<app-progress-spinner [options]="loading"> </app-progress-spinner>
      <!--begin:::::::::::::::::::::::::::::::::::::::::cms-body-->
      <mat-horizontal-stepper (selectionChange)="onStepClick($event,stepper)" #stepper>
        <mat-step label="مشخصات " state="main">
          <mat-form-field class="ntk-full-width">
            <mat-select placeholder="{{fieldsInfo['RecordStatus']?.FieldTitle}}" [(ngModel)]="dataModel.RecordStatus" name="dataModel.RecordStatus"
              #RecordStatus="ngModel" panelClass="recordStatus-{{ dataModel.RecordStatus }}" required>
              <mat-option *ngFor="
                let item of dataModelEnumRecordStatusResult.ListItems;
                index as i
              " [value]="item.Value">{{ item.Description }}</mat-option>
            </mat-select>
            <mat-hint align="end">{{'TITLE.SELECT_STATUS' | translate}}</mat-hint>
            <mat-error *ngIf="RecordStatus.errors?.required">
              RecordStatus is <strong>required</strong>
            </mat-error>
          </mat-form-field>
          <!-- LinkCmsSiteId Field -->
          <app-core-site-selector (optionSelect)="onActionSiteSelect($event)" [optionDisabled]="false"
            [optionSelectForce]="dataModel.LinkSiteId" [optionPlaceholder]="'وب سایت'"></app-core-site-selector>
          <!-- LinkModuleId Field -->
          <app-core-module-selector (optionSelect)="onActionSelectorModuleSelect($event)" [optionDisabled]="false"
            [optionSelectForce]="dataModel.LinkModuleId" [optionPlaceholder]="'ماژول'">
          </app-core-module-selector>
          <!-- ExpireDate Field -->
          <mat-form-field class="ntk-full-width" *ngIf="fieldsInfo['ExpireDate']?.AccessWatchField">
            <mat-label>{{fieldsInfo['ExpireDate']?.FieldTitle}}</mat-label>
            <input matInput [matDatepicker]="ExpireDate" [(ngModel)]="dataModel.ExpireDate"
              name="dataModel.ExpireDate" />
            <mat-icon matSuffix *ngIf="dataModel.ExpireDate && fieldsInfo['ExpireDate']?.AccessEditField" matSuffix
              mat-icon-button aria-label="Clear" (click)="dataModel.ExpireDate = null">close</mat-icon>
            <mat-datepicker-toggle matSuffix [for]="ExpireDate"></mat-datepicker-toggle>
            <mat-datepicker touchUi #ExpireDate></mat-datepicker>
          </mat-form-field>

          <div *ngIf="formInfo.FormSubmitAllow" class="ntk-button-row">
              <button (click)="onFormCancel()" type="button" mat-raised-button>{{'ACTION.BACK' | translate}}</button>
            <button type="button" [disabled]="!vform.form.valid" mat-button matStepperNext
              class="btn btn-primary font-weight-bold text-uppercase px-9 py-4">
              {{'ACTION.NEXT' | translate}}
            </button>
          </div>
        </mat-step>
        <mat-step label="دسترسی ها" state="seo">
          <p>دسترسی هایی که به منابع دارید</p>

          <ng-container #viewContainer></ng-container>


          <div *ngIf="formInfo.FormSubmitAllow" class="ntk-button-row">
            <button type="button" mat-raised-button color="accent" matStepperPrevious>
              {{'ACTION.BEFOR' | translate}}
            </button>
            <button type="button" mat-raised-button color="primary" [disabled]="!vform.form.valid" matStepperNext>
              {{'ACTION.NEXT' | translate}}
            </button>
          </div>
        </mat-step>
        <mat-step label="وضعیت" state="seo">
          <p>وضعیت و مقادیر ذخیره شده این ماژول</p>



          <div *ngIf="formInfo.FormSubmitAllow" class="ntk-button-row">
            <button type="button" mat-raised-button color="accent" matStepperPrevious>
              {{'ACTION.BEFOR' | translate}}
            </button>
            <button type="button" mat-raised-button color="primary" [disabled]="!vform.form.valid" matStepperNext>
              {{'ACTION.NEXT' | translate}}
            </button>
          </div>
        </mat-step>
        <mat-step label="تنظیمات" state="seo">
          <p>تنظیمات این ماژول</p>

          <div *ngIf="formInfo.FormSubmitAllow"  class="ntk-button-row">
            <button type="button" mat-raised-button color="accent"  matStepperPrevious>
              {{'ACTION.BEFOR' | translate}}
            </button>
            <button type="submit" mat-raised-button color="success"  [disabled]="!vform.form.valid">
              {{'ACTION.SAVE' | translate}}
            </button>
          </div>
        </mat-step>
      </mat-horizontal-stepper>
      <!--end:::::::::::::::::::::::::::::::::::::::::cms-body-->
     </div>
	 <div class="ntk-cms-html-card-message">
      <!--begin:::::::::::::::::::::::::::::::::::::::::cms-message-->
      
      <!--end:::::::::::::::::::::::::::::::::::::::::cms-message-->
    </div>
    <div class="ntk-cms-html-card-footer">
      <!--begin:::::::::::::::::::::::::::::::::::::::::cms-footer-->
      
      <!--end:::::::::::::::::::::::::::::::::::::::::cms-footer-->
    </div>
</form>