
<app-cms-guide-notice [Key]="'module.modulesale.header'"  [svg]="'assets/media/svg/icons/General/Notifications1.svg'"></app-cms-guide-notice>
<div class="row">
  <div Class="col-xl-12">
  
    <app-progress-spinner [options]="loading">
    </app-progress-spinner>

    <div class="row">
      <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4" *ngFor="let item of dataModelResult.listItems">
        <mat-card class="example-card">
          <mat-card-header>
            <mat-card-title>{{item.title}}</mat-card-title>
            <mat-card-subtitle>{{item.salePrice | currency:' '+currency+' '}}</mat-card-subtitle>
          </mat-card-header>
          <!-- <button> -->
            <a class="pointer" (click)="onActionbuttonDetail(item)">
          <img mat-card-image src="{{item.linkMainImageIdSrc | cmsthumbnail}}">
            </a>
          <!-- </button> -->
          <mat-card-content>
            <p>
              {{item.description }}
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button type="button" class="btn btn-secondary" (click)="onActionbuttonDetail(item)">{{'ACTION.DETAIL' | translate}}</button>
            <button mat-button type="button" class="btn btn-success" (click)="onActionbuttonBuy(item)">{{'ACTION.BUY' | translate}}</button>
          </mat-card-actions>
        </mat-card>
      </div>
      <div class="mt-4" *ngIf="this.tableRowSelected && this.tableRowSelected.id>0">
        <app-core-modulesaleitem-listview [optionHeaderId]="this.tableRowSelected.id">
        </app-core-modulesaleitem-listview>
      </div>
    </div>



  </div>
</div>
