  <div class="row">
    <div class="col" *ngFor="let item of dataModelResult.listItems">
      <mat-card style=" max-width: 200px;">
        <mat-card-header>
          <mat-card-title>{{item.title}}</mat-card-title>
        </mat-card-header>
        <img mat-card-image  style="width:95%;height:95%;"  src="{{item.linkModuleFileLogoIdSrc }}">
        <mat-card-content>
          <p>
            {{item.title }}
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button (click)="onActionSelect(item)">{{'ACTION.SELECT' | translate}}</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
