  <div class="row">
    {{errorMessage}}
    <div class="col" *ngFor="let item of dataModelResult.listItems">
      <mat-card style=" max-width: 200px;">
        <mat-card-header>
          <mat-card-title>{{item.title}}</mat-card-title>
        </mat-card-header>
        <img class="rounded mx-auto d-block mat-card-image"  style="width:95%;height:95%;"  src="{{item.linkModuleFileLogoIdSrc }}">
        <mat-card-content>
          <p class="d-flex justify-content-center">
            {{item.title }}
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button class="btn btn-lg btn-block border" mat-button (click)="onActionSelect(item)">{{'ACTION.SELECT' | translate}}</button>
        </mat-card-actions>
      </mat-card>
    </div>

  </div>
