<div class="row">
  <div *ngIf="optionTreeDisplay" [ngClass]="optionClassTree">
    <!--begin::tree-->
    <ng-content select="[cms-tree]"></ng-content>
    <!--end::tree-->
  </div>
  <div [ngClass]="optionTreeDisplay?optionClassList:'col-xl-12'">
    <!--begin::Header-->
    <div *ngIf="optionHeaderDisplay ||optionActionDisplay" class="ntk-cms-html-list-header">
      <ng-content *ngIf="optionHeaderDisplay" select="[cms-header]"></ng-content>
      <ng-content *ngIf="optionActionDisplay" select="[cms-action]"></ng-content>
    </div>
    <!--end::Header-->
    <ng-content select="[cms-action-area]"></ng-content>
    <!--begin::Body-->
    <div [ngClass]="optionClassBody" >
      <app-progress-spinner [options]="loading"> </app-progress-spinner>
      <ng-content  select="[cms-body]"></ng-content>
    </div>
    <!--end::Body-->
    <!--begin::Footer-->
    <div class="ntk-cms-html-list-footer">
      <ng-content select="[cms-message]"></ng-content>
      <ng-content *ngIf="optionFooterDisplay && !loading.display" select="[cms-footer]"></ng-content>
    </div>
    <!--end::Footer-->
  </div>
</div>