<div class="row">
  <div *ngIf="optionTreeDisplay" class="col-xl-3">
    <!--begin::tree-->
    <ng-content select="[cms-tree]"></ng-content>
    <!--end::tree-->
  </div>
  <div [ngClass]="optionTreeDisplay?'col-xl-9':'col-xl-12'">
    <!--begin::Header-->
    <div *ngIf="optionHeaderDisplay ||optionActionDisplay" class="ntk-cms-html-list-header">
      <ng-content *ngIf="optionHeaderDisplay" select="[cms-header]"></ng-content>
      <ng-content *ngIf="optionActionDisplay" select="[cms-action]"></ng-content>
    </div>
    <!--end::Header-->
    <ng-content select="[cms-action-area]"></ng-content>
    <!--begin::Body-->
    <div class="ntk-cms-html-tree-body">
      <ng-container *ngIf="loading.display">
        <div class="overlay-layer bg-transparent">
          <div class="spinner spinner-lg spinner-success"></div>
        </div>
      </ng-container>
      <ng-container *ngIf="!loading.display">
        <ng-content select="[cms-body]"></ng-content>
      </ng-container>
    </div>
    <!--end::Body-->
    <!--begin::Footer-->
    <div class="ntk-cms-html-list-footer">
      <ng-content select="[cms-message]"></ng-content>
      <ng-content *ngIf="optionFooterDisplay && !loading.display" select="[cms-footer]"></ng-content>
    </div>
    <!--end::Footer-->
  </div>
</div>