<form (ngSubmit)="onFormSubmit()" #vform="ngForm">
  <div class="ntk-cms-html-card-header">
    <!--begin:::::::::::::::::::::::::::::::::::::::::cms-header-->
    <h3 class="card-label">
      {{ formInfo.FormTitle }}
    </h3>
    <!--end:::::::::::::::::::::::::::::::::::::::::cms-header-->
  </div>
  <div class="ntk-cms-html-card-body">
    <app-progress-spinner [options]="loading"> </app-progress-spinner>
    <!--begin:::::::::::::::::::::::::::::::::::::::::cms-body-->

    <!-- LinkCategoryId Field -->
    <app-hypershop-category-selector (optionSelect)="onActionSelectorSelect($event)"
      [optionSelectForce]="dataModel.CategoryCode" [optionPlaceholder]="'دسته بندی'">
    </app-hypershop-category-selector>
    <!-- Name Field -->
    <mat-form-field class="ntk-full-width">
      <mat-label>{{fieldsInfo['Title']?.FieldTitle}}</mat-label>
      <input matInput [(ngModel)]="dataModel.Name" name="dataModel.Name" #Name type="text"
        placeholder="{{fieldsInfo['Title']?.FieldTitle}}" minlength="3" maxlength="500" required />
      <mat-icon matSuffix *ngIf="dataModel.Name" matSuffix mat-icon-button aria-label="Clear"
        (click)="dataModel.Name = ''">close</mat-icon>
      <mat-icon matSuffix>mode_edit</mat-icon>
      <mat-hint align="end">{{ Name.value.length }} / 1000</mat-hint>
      <mat-error *ngIf="Name.errors?.required">
        Name is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <!--end:::::::::::::::::::::::::::::::::::::::::cms-body-->
  </div>
  <div class="ntk-cms-html-card-message">
    <!--begin:::::::::::::::::::::::::::::::::::::::::cms-message-->
    <div class="form-actions">
      <small class="form-text text-muted">{{ formInfo.FormAlert }} </small>
      <small class="form-text text-muted danger">{{ formInfo.FormError }}
      </small>
    </div>
    <!--end:::::::::::::::::::::::::::::::::::::::::cms-message-->
  </div>
  <div class="ntk-cms-html-card-footer">
    <!--begin:::::::::::::::::::::::::::::::::::::::::cms-footer-->
    <div class="form-actions" *ngIf="formInfo.FormSubmitAllow">
      <button type="button" (click)="onFormCancel()" class="btn btn-raised btn-warning mr-1">
        <i class="ft-x"></i> {{'ACTION.CANCEL' | translate}}
      </button>
      <button type="submit" (click)="onFormSubmit()" class="btn btn-raised btn-primary" [disabled]="!vform.form.valid">
        <i class="fa fa-check-square-o"></i> {{'ACTION.SAVE' | translate}}
      </button>
    </div>
    <!--end:::::::::::::::::::::::::::::::::::::::::cms-footer-->
  </div>
</form>