<mat-form-field class="ntk-full-width">
     
    <span matPrefix>&nbsp;</span>
    <input type="text" placeholder="{{optionPlaceholder}}" aria-label="Assignee" matInput [formControl]="formControl" [matAutocomplete]="auto27">
    <mat-autocomplete #auto27="matAutocomplete" [displayWith]="displayFn" (optionSelected)="onActionSelect($event.option.value)">
        <mat-option *ngFor="let state of filteredOptions | async" [value]="state">
            <span>{{ displayOption(state) }}</span>
        </mat-option>
    </mat-autocomplete>
    <mat-icon matSuffix *ngIf="dataModelSelect.id" matSuffix
    mat-icon-button aria-label="Clear" (click)="onActionSelectClear()">close</mat-icon>
    <ng-content></ng-content>
</mat-form-field>

