<form (ngSubmit)="onFormSubmit()" #vform="ngForm">
  <div class="ntk-cms-html-card-header">
    <!--begin:::::::::::::::::::::::::::::::::::::::::cms-header-->
    {{ formInfo.FormTitle }}
    <!--end:::::::::::::::::::::::::::::::::::::::::cms-header-->
  </div>
  <div class="ntk-cms-html-card-body">
    <app-progress-spinner [options]="loading"> </app-progress-spinner>
    <!--begin:::::::::::::::::::::::::::::::::::::::::cms-body-->
    <mat-horizontal-stepper (selectionChange)="onStepClick($event,stepper)" #stepper>
      <!-- RecordStatus Field -->
      <mat-step label="{{'TITLE.REQUIRED_INFORMATION' | translate}}" state="main">
        <mat-form-field class="ntk-full-width">
          <mat-select placeholder="{{fieldsInfo['RecordStatus']?.FieldTitle}}" [(ngModel)]="dataModel.RecordStatus"
            name="dataModel.RecordStatus" #RecordStatus="ngModel" panelClass="recordStatus-{{ dataModel.RecordStatus }}"
            required>
            <mat-option *ngFor="
                let item of dataModelEnumRecordStatusResult.ListItems;
                index as i
              " [value]="item.Value">{{ item.Description }}</mat-option>
          </mat-select>
          <mat-hint align="end">{{'TITLE.SELECT_STATUS' | translate}}</mat-hint>
          <mat-error *ngIf="RecordStatus.errors?.required">
            RecordStatus is <strong>{{'MESSAGE.required' | translate}}</strong>
          </mat-error>
        </mat-form-field>

        <!-- Title Field -->
        <mat-form-field class="ntk-full-width">
          <mat-label>{{fieldsInfo['Title']?.FieldTitle}}</mat-label>
          <input matInput [(ngModel)]="dataModel.Title" name="dataModel.Title" #Title type="text"
            placeholder="{{fieldsInfo['Title']?.FieldTitle}}" minlength="3" maxlength="100" required />
          <mat-icon matSuffix *ngIf="dataModel.Title" matSuffix mat-icon-button aria-label="Clear"
            (click)="dataModel.Title = ''">close</mat-icon>
          <mat-icon matSuffix>mode_edit</mat-icon>
          <mat-hint align="end">{{ Title.value.length }} / 100</mat-hint>
          <mat-error *ngIf="Title.errors?.required">
            Title is <strong>{{'MESSAGE.required' | translate}}</strong>
          </mat-error>
        </mat-form-field>
        <!-- LinkTargetCategoryId Field -->
        <app-linkmanagement-member-selector (optionSelect)="onActionSelectorSelectLinkManagementMemberId($event)"
          [optionSelectForce]="dataModel.LinkManagementMemberId" [optionPlaceholder]="'حساب کاربر'">
        </app-linkmanagement-member-selector>

        <!-- LinkBillboardPatternId Field -->
        <app-linkmanagement-billboard-pattern-selector
          (optionSelect)="onActionSelectorSelectLinkBillboardPatternId($event)"
          [optionSelectForce]="dataModel.LinkBillboardPatternId" [optionPlaceholder]="'دسته بندی'">
        </app-linkmanagement-billboard-pattern-selector>


        <!-- bgColor Field -->
        <mat-form-field class="ntk-full-width" *ngIf="fieldsInfo['bgColor']?.AccessWatchField">
          <mat-label> {{fieldsInfo['bgColor']?.FieldTitle}}</mat-label>
          <input matInput [(ngModel)]="dataModel.bgColor" name="dataModel.bgColor" #bgColor [value]="dataModel.bgColor"
            [style.background]="dataModel.bgColor" [(colorPicker)]="dataModel.bgColor" type="text"
            [disabled]="!fieldsInfo['bgColor']?.AccessEditField" placeholder="{{fieldsInfo['bgColor']?.FieldTitle}}" />
          <mat-icon matSuffix *ngIf="dataModel.bgColor" matSuffix mat-icon-button aria-label="Clear"
            (click)="dataModel.bgColor = ''">close</mat-icon>
          <mat-icon matSuffix>mode_edit</mat-icon>
        </mat-form-field>

        <!-- CurrentClickCount Field -->
        <mat-form-field class="ntk-full-width">
          <mat-label>{{fieldsInfo['CurrentClickCount']?.FieldTitle}}</mat-label>
          <input matInput [(ngModel)]="dataModel.CurrentClickCount" name="dataModel.CurrentClickCount"
            #CurrentClickCount type="number" placeholder="تعداد کلیک تا کنون" min="0" required />
          <mat-icon matSuffix *ngIf="dataModel.CurrentClickCount" matSuffix mat-icon-button aria-label="Clear"
            (click)="dataModel.CurrentClickCount = 0">close</mat-icon>
          <mat-icon matSuffix>mode_edit</mat-icon>
          <mat-error *ngIf="CurrentClickCount.errors?.required">
            CurrentClickCount is <strong>{{'MESSAGE.required' | translate}}</strong>
          </mat-error>
        </mat-form-field>
        <!-- CurrentViewCount Field -->
        <mat-form-field class="ntk-full-width">
          <mat-label>{{fieldsInfo['CurrentViewCount']?.FieldTitle}}</mat-label>
          <input matInput [(ngModel)]="dataModel.CurrentViewCount" name="dataModel.CurrentViewCount" #CurrentViewCount
            type="number" placeholder="تعداد بازدید تا کنون" min="0" required />
          <mat-icon matSuffix *ngIf="dataModel.CurrentViewCount" matSuffix mat-icon-button aria-label="Clear"
            (click)="dataModel.CurrentViewCount = 0">close</mat-icon>
          <mat-icon matSuffix>mode_edit</mat-icon>
          <mat-error *ngIf="CurrentViewCount.errors?.required">
            CurrentViewCount is <strong>{{'MESSAGE.required' | translate}}</strong>
          </mat-error>
        </mat-form-field>
        <!-- FromDate Field -->
        <mat-form-field class="ntk-full-width">
          <mat-label>{{fieldsInfo['FromDate']?.FieldTitle}}</mat-label>
          <input matInput [matDatepicker]="FromDate" [(ngModel)]="dataModel.FromDate" name="dataModel.FromDate" />
          <mat-icon matSuffix *ngIf="dataModel.FromDate && fieldsInfo['FromDate']?.AccessEditField" matSuffix
            mat-icon-button aria-label="Clear" (click)="dataModel.FromDate = null">close</mat-icon>
          <mat-datepicker-toggle matSuffix [for]="FromDate"></mat-datepicker-toggle>
          <mat-datepicker touchUi #FromDate></mat-datepicker>
        </mat-form-field>




        <div *ngIf="formInfo.FormSubmitAllow" class="ntk-button-row">
          <button type="button" mat-raised-button (click)="onActionBackToParent()">
            {{'ACTION.BACK' | translate}}
          </button>
          <button type="button" mat-raised-button color="primary" [disabled]="!vform.form.valid" matStepperNext>
            {{'ACTION.NEXT' | translate}}
          </button>
        </div>
      </mat-step>
      <mat-step label="انتخاب هدف" state="seo">
        <app-linkmanagement-target-category-treeselector [(optionModel)]="dataContentCategoryModel"
          (optionSelectChecked)="onActionCategorySelectChecked($event)"
          (optionSelectDisChecked)="onActionCategorySelectDisChecked($event)"></app-linkmanagement-target-category-treeselector>
        <br>
        <div *ngIf="formInfo.FormSubmitAllow" class="ntk-button-row">
          <button type="button" mat-raised-button (click)="onActionBackToParent()">
            {{'ACTION.BACK' | translate}}
          </button>
          <button type="button" mat-raised-button color="primary" [disabled]="!vform.form.valid" matStepperNext>
            {{'ACTION.NEXT' | translate}}
          </button>
        </div>
      </mat-step>

      <mat-step label="{{'TITLE.ATTACH_FILES' | translate}}" state="file">
        <p>فایل های پیوست محتوا.</p>
        <div class="mb-3">
          <img *ngIf="dataModel?.LinkMainImageIdSrc?.length>0" style="vertical-align:middle;" aria-hidden
            src="{{dataModel.LinkMainImageIdSrc | cmsthumbnail}}" class="ntk-hover-zoom" height="50" width="50" />
        </div>
        <div class="mb-9">
          <mat-form-field class="ntk-full-width">

            <mat-label (click)="fileManagerOpenForm = true">عکس اصلی</mat-label>
            <input matInput [(ngModel)]="dataModel.LinkMainImageId" name="dataModel.LinkMainImageId" #LinkMainImageId
              type="text" placeholder="شناسه فایل اصلی" autocomplete="off" (click)="fileManagerOpenForm = true" />
            <mat-icon matSuffix *ngIf="dataModel.LinkMainImageId" matSuffix mat-icon-button aria-label="Clear"
              (click)="dataModel.LinkMainImageId = null">close</mat-icon>
            <mat-icon matSuffix (click)="fileManagerOpenForm = true">mode_edit</mat-icon>
          </mat-form-field>

          <cms-file-manager (itemSelected)="onActionFileSelectedLinkMainImageId($event)" [language]="appLanguage"
            [isPopup]="true" [(openForm)]="fileManagerOpenForm" [tree]="fileManagerTree" [openDirectUploadView]="true"
            [openFilemanagerButtonLabelKey]="'select'" [selectFileType]="selectFileTypeMainImage"
            [openFilemanagerButtonView]="false"></cms-file-manager>
        </div>

        <div *ngIf="formInfo.FormSubmitAllow" class="ntk-button-row">
          <button type="button" mat-raised-button color="accent" matStepperPrevious>
            {{'ACTION.BEFOR' | translate}}
          </button>
          <button type="submit" (click)="onFormSubmit()" class="btn btn-success" [disabled]="!vform.form.valid">
            <i class="fa fa-check-square-o"></i> {{'ACTION.SAVE' | translate}}
          </button>
        </div>
      </mat-step>



      <!-- Icon overrides. -->
      <ng-template matStepperIcon="main">
        <mat-icon>call_end</mat-icon>
      </ng-template>
      <ng-template matStepperIcon="seo">
        <mat-icon>call_end</mat-icon>
      </ng-template>
      <ng-template matStepperIcon="file">
        <mat-icon>forum</mat-icon>
      </ng-template>
      <ng-template matStepperIcon="loaction">
        <mat-icon>forum</mat-icon>
      </ng-template>

    </mat-horizontal-stepper>
    <!--end:::::::::::::::::::::::::::::::::::::::::cms-body-->
  </div>
  <div class="ntk-cms-html-card-message">
    <!--begin:::::::::::::::::::::::::::::::::::::::::cms-message-->

    <!--end:::::::::::::::::::::::::::::::::::::::::cms-message-->
  </div>
  <div class="ntk-cms-html-card-footer">
    <!--begin:::::::::::::::::::::::::::::::::::::::::cms-footer-->

    <!--end:::::::::::::::::::::::::::::::::::::::::cms-footer-->
  </div>
</form>