<!--begin::Card-->
<!--begin::Header-->
  <ng-content select="[cms-header]">
    
  </ng-content>
<!--end::Header-->
<!--begin::Form-->
<!--begin::Body-->
<mat-dialog-content>
    <div *ngIf="loading.display" class="overlay-layer bg-transparent" >
      <div class="spinner spinner-lg spinner-success"></div>
    </div>
    <ng-content *ngIf="!loading.display" select="[cms-body]"></ng-content>
</mat-dialog-content>
<!--end::Body-->
<!--begin::Footer-->
<mat-dialog-actions align="end">
    <ng-content *ngIf="!loading.display" select="[cms-footer]"></ng-content>
</mat-dialog-actions>
<!--end::Footer-->
<!--end::Form-->
<!--end::Card-->