<!--begin::Mixed Widget 14-->
<div class="card card-custom bgi-no-repeat bgi-size-cover" [ngClass]="cssClass"
  style="background-image: url('./assets/media/stock-600x600/img-16.jpg')">
  <!--begin::Body-->
  <div class="card-body d-flex flex-column align-items-start justify-content-start">




<app-cms-html-widget [optionLoading]="loading">
  <ng-container cms-header>
    <!--begin:::::::::::::::::::::::::::::::::::::::::cms-header-->
    <div class="p-1 flex-grow-1">
      <h3 class="text-white font-weight-bolder line-height-lg mb-5">
      {{widgetInfoModel.title}}<br />{{widgetInfoModel.description}}
      </h3>
    </div>
    <!--end:::::::::::::::::::::::::::::::::::::::::cms-header-->
  </ng-container>
  <ng-container cms-body>
    <!--begin:::::::::::::::::::::::::::::::::::::::::cms-body-->
    <a routerLink="{{widgetInfoModel.link}}" routerLinkActive="active" class="btn btn-link btn-link-warning font-weight-bold">
      {{widgetInfoModel.title}}
      <span [inlineSVG]="'./assets/media/svg/icons/Navigation/Arrow-right.svg'"
        class="svg-icon ssvg-icon-lg svg-icon-warning"></span>
    </a>
    <!--end:::::::::::::::::::::::::::::::::::::::::cms-body-->
  </ng-container>
  <ng-container cms-footer>
    <!--begin:::::::::::::::::::::::::::::::::::::::::cms-footer-->

  
    <!--end:::::::::::::::::::::::::::::::::::::::::cms-footer-->
  </ng-container>
</app-cms-html-widget>
</div>
<!--end::Body-->
</div>
<!--end::Mixed Widget 14-->
