<app-cms-html-notice [svg]="'assets/media/svg/icons/Design/Edit.svg'">
 <h4> {{'TITLE.Edit' | translate}}</h4>
  در این بخش شما میتوانید محتوای خود را ویرایش نمایید.
  <br>
</app-cms-html-notice>
<form (ngSubmit)="onFormSubmit()" #vform="ngForm">
  <div class="ntk-cms-html-card-header">
    <!--begin:::::::::::::::::::::::::::::::::::::::::cms-header-->
      {{ formInfo.FormTitle }}
    <!--end:::::::::::::::::::::::::::::::::::::::::cms-header-->
  </div>
  <div class="ntk-cms-html-card-body">
    <app-progress-spinner [options]="loading"> </app-progress-spinner>
    <!--begin:::::::::::::::::::::::::::::::::::::::::cms-body-->
    <mat-horizontal-stepper (selectionChange)="onStepClick($event,stepper)" #stepper>

      <mat-step label="{{'TITLE.REQUIRED_INFORMATION' | translate}}" state="main">

        <mat-form-field class="ntk-full-width">
          <mat-select placeholder="{{fieldsInfo['RecordStatus']?.FieldTitle}}" [(ngModel)]="dataModel.RecordStatus"
            name="dataModel.RecordStatus" #RecordStatus="ngModel" panelClass="recordStatus-{{ dataModel.RecordStatus }}"
            required>
            <mat-option *ngFor="
                let item of dataModelEnumRecordStatusResult.ListItems;
                index as i
              " [value]="item.Value">{{ item.Description }}</mat-option>
          </mat-select>
          <mat-hint align="end">{{'TITLE.SELECT_STATUS' | translate}}</mat-hint>
          <mat-error *ngIf="RecordStatus.errors?.required">
            RecordStatus is <strong>{{'MESSAGE.required' | translate}}</strong>
          </mat-error>
        </mat-form-field>
        <app-polling-category-selector (optionChange)="onActionSelectorSelect($event)"
          [optionSelectForce]="dataModel.LinkCategoryId" [optionPlaceholder]="'دسته بندی'">
        </app-polling-category-selector>
        <mat-form-field class="ntk-full-width">
          <mat-label>{{fieldsInfo['Title']?.FieldTitle}}</mat-label>
          <input matInput [(ngModel)]="dataModel.Title" name="dataModel.Title" #Title type="text"
            placeholder="{{fieldsInfo['Title']?.FieldTitle}}" minlength="3" maxlength="100" required />
          <mat-icon matSuffix *ngIf="dataModel.Title" matSuffix mat-icon-button aria-label="Clear"
            (click)="dataModel.Title = ''">close</mat-icon>
          <mat-icon matSuffix>mode_edit</mat-icon>
          <mat-hint align="end">{{ Title.value.length }} / 100</mat-hint>
          <mat-error *ngIf="Title.errors?.required">
            Title is <strong>{{'MESSAGE.required' | translate}}</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field class="ntk-full-width">
          <mat-label>سوال</mat-label>
          <textarea matInput [(ngModel)]="dataModel.Question" name="dataModel.Question" #Question type="text"
            placeholder="سوال" minlength="1" maxlength="1000" required rows="5"></textarea>
          <mat-icon matSuffix *ngIf="dataModel.Question" matSuffix mat-icon-button aria-label="Clear"
            (click)="dataModel.Question = ''">close</mat-icon>
          <mat-icon matSuffix>mode_edit</mat-icon>
          <mat-hint align="end">{{ Question.value.length }} / 1000</mat-hint>
          <mat-error *ngIf="Question.errors?.required">
            Question is <strong>{{'MESSAGE.required' | translate}}</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field class="ntk-full-width">
          <mat-label>حداکثر مجموع امتیاز</mat-label>
          <input matInput [(ngModel)]="dataModel.MaxVoteForThisContent" name="dataModel.MaxVoteForThisContent"
            #MaxVoteForThisContent type="number" placeholder="حداکثر امتیازی که کاربری می تواند بدهد" min="1" max="100"
            required />
          <mat-icon matSuffix *ngIf="dataModel.MaxVoteForThisContent" matSuffix mat-icon-button aria-label="Clear"
            (click)="dataModel.MaxVoteForThisContent = 1">close</mat-icon>
          <mat-icon matSuffix>mode_edit</mat-icon>
          <mat-error *ngIf="MaxVoteForThisContent.errors?.required">
            MaxVoteForThisContent is <strong>{{'MESSAGE.required' | translate}}</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field class="ntk-full-width">
          <mat-label>حداکثر امتیاز به هر گزینه</mat-label>
          <input matInput [(ngModel)]="dataModel.MaxVoteForEachOption" name="dataModel.MaxVoteForEachOption"
            #MaxVoteForEachOption type="number" placeholder="حداکثر امتیازی که کاربری می تواند بدهد" min="1" max="100"
            required />
          <mat-icon matSuffix *ngIf="dataModel.MaxVoteForEachOption" matSuffix mat-icon-button aria-label="Clear"
            (click)="dataModel.MaxVoteForEachOption = 1">close</mat-icon>
          <mat-icon matSuffix>mode_edit</mat-icon>
          <mat-error *ngIf="MaxVoteForEachOption.errors?.required">
            MaxVoteForEachOption is <strong>{{'MESSAGE.required' | translate}}</strong>
          </mat-error>
        </mat-form-field>



        <div class="ntk-full-width">
          <mat-slide-toggle [(ngModel)]="dataModel.ViewStatisticsAfterVote"
            *ngIf="fieldsInfo['ViewStatisticsAfterVote']?.AccessWatchField"
            [disabled]="!fieldsInfo['ViewStatisticsAfterVote']?.AccessEditField"
            name="dataModel.ViewStatisticsAfterVote">
            {{fieldsInfo['ViewStatisticsAfterVote']?.FieldTitle}}
          </mat-slide-toggle>
        </div>


        <div class="ntk-full-width">
          <mat-slide-toggle [(ngModel)]="dataModel.ViewStatisticsBeforeVote"
            *ngIf="fieldsInfo['ViewStatisticsBeforeVote']?.AccessWatchField"
            [disabled]="!fieldsInfo['ViewStatisticsBeforeVote']?.AccessEditField"
            name="dataModel.ViewStatisticsBeforeVote">
            {{fieldsInfo['ViewStatisticsBeforeVote']?.FieldTitle}}
          </mat-slide-toggle>
        </div>

        <mat-form-field class="ntk-full-width">
          <mat-label>تاریخ شروع</mat-label>
          <input matInput [matDatepicker]="FromDate" [(ngModel)]="dataModel.FromDate" name="dataModel.FromDate" />
          <mat-icon matSuffix *ngIf="dataModel.FromDate && fieldsInfo['FromDate']?.AccessEditField" matSuffix
            mat-icon-button aria-label="Clear" (click)="dataModel.FromDate = null">close</mat-icon>
          <mat-datepicker-toggle matSuffix [for]="FromDate"></mat-datepicker-toggle>
          <mat-datepicker touchUi #FromDate></mat-datepicker>
        </mat-form-field>

        <!-- ExpireDate Field -->
        <mat-form-field class="ntk-full-width" *ngIf="fieldsInfo['ExpireDate']?.AccessWatchField">
          <mat-label>{{fieldsInfo['ExpireDate']?.FieldTitle}}</mat-label>
          <input matInput [matDatepicker]="ExpireDate" [(ngModel)]="dataModel.ExpireDate" name="dataModel.ExpireDate" />
          <mat-icon matSuffix *ngIf="dataModel.ExpireDate && fieldsInfo['ExpireDate']?.AccessEditField" matSuffix
            mat-icon-button aria-label="Clear" (click)="dataModel.ExpireDate = null">close</mat-icon>
          <mat-datepicker-toggle matSuffix [for]="ExpireDate"></mat-datepicker-toggle>
          <mat-datepicker touchUi #ExpireDate></mat-datepicker>
        </mat-form-field>
        <hr class="pb-5" />



        <div *ngIf="formInfo.FormSubmitAllow" class="ntk-button-row">
          <button type="button" mat-raised-button (click)="onActionBackToParent()">
            {{'ACTION.BACK' | translate}}
          </button>
          <button type="button" mat-raised-button color="primary" [disabled]="!vform.form.valid" matStepperNext>
            {{'ACTION.NEXT' | translate}}
          </button>
        </div>
      </mat-step>

      <mat-step label="گزینه های نظر سنجی" state="seo">
        <p>این بخش برای نوع و کزینه ای نظر سنجی می باشد</p>

        <mat-form-field class="ntk-full-width">
          <mat-label>گزینه</mat-label>
          <input matInput [(ngModel)]="optionSelected.Option" name="optionSelected.Option" #optionSelected_Option
            type="text" placeholder="گزینه" minlength="1" maxlength="200" />
          <mat-icon matSuffix *ngIf="optionSelected.Option" matSuffix mat-icon-button aria-label="Clear"
            (click)="optionSelected.Option = ''">close</mat-icon>
          <mat-icon matSuffix>mode_edit</mat-icon>
          <mat-hint align="end">{{ optionSelected_Option.value.length }} / 200</mat-hint>
        </mat-form-field>

        <mat-form-field class="ntk-full-width">
          <mat-label>پاسخ</mat-label>
          <textarea matInput [(ngModel)]="optionSelected.OptionAnswer" name="optionSelected.OptionAnswer"
            #optionSelected_OptionAnswer type="text" placeholder="پاسخ" minlength="0" maxlength="500"
            row="5"></textarea>
          <mat-icon matSuffix *ngIf="optionSelected.OptionAnswer" matSuffix mat-icon-button aria-label="Clear"
            (click)="optionSelected.OptionAnswer = ''">close</mat-icon>
          <mat-icon matSuffix>mode_edit</mat-icon>
          <mat-hint align="end">{{ optionSelected_OptionAnswer.value.length }} / 500</mat-hint>
        </mat-form-field>

        <div class="ntk-full-width">
          <mat-slide-toggle [(ngModel)]="optionSelected.IsCorrectAnswer" name="optionSelected.IsCorrectAnswer">
            این گزینه صحیح است
          </mat-slide-toggle>
        </div>

        <button (click)="onActionOptionAddToList()" [disabled]="!optionActionButtomEnable" type="button" mat-button
          class="btn btn-light-primary font-weight-bold font-size-h5 px-9 py-4" style="margin: 10px 0px;">
          {{optionActionTitle}} ...
        </button>
        <p>لیست سایر اطلاعات</p>
        <app-progress-spinner [options]="loadingOption">
        </app-progress-spinner>
        <!-- TABLE  -->
        <div class="example-container mat-elevation-z8" *ngIf="!loadingOption.display">
          <mat-table [dataSource]="optionTabledataSource">
            <!-- Id Column -->
            <ng-container matColumnDef="Id">
              <mat-header-cell *matHeaderCellDef> شناسه </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.Id}} </mat-cell>
            </ng-container>
            <!-- Option Column -->
            <ng-container matColumnDef="Option">
              <mat-header-cell *matHeaderCellDef> گزینه </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.Option}} </mat-cell>
            </ng-container>
            <!-- OptionAnswer Column -->
            <ng-container matColumnDef="OptionAnswer">
              <mat-header-cell *matHeaderCellDef> پاسخ </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.OptionAnswer}} </mat-cell>
            </ng-container>
            <!-- IsCorrectAnswer Column -->
            <ng-container matColumnDef="IsCorrectAnswer">
              <mat-header-cell *matHeaderCellDef> IsCorrectAnswer </mat-header-cell>
              <mat-cell *matCellDef="let row"><i [ngClass]="row.IsCorrectAnswer|boolclass"></i> </mat-cell>
            </ng-container>
            <!-- IsCorrectAnswer Column -->
            <ng-container matColumnDef="NumberOfVotes">
              <mat-header-cell *matHeaderCellDef> NumberOfVotes </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.NumberOfVotes}} </mat-cell>
            </ng-container>
            <!-- ScoreOfVotes Column -->
            <ng-container matColumnDef="ScoreOfVotes">
              <mat-header-cell *matHeaderCellDef> ScoreOfVotes </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.ScoreOfVotes}} </mat-cell>
            </ng-container>
            <!-- Action Column -->
            <ng-container matColumnDef="Action">
              <mat-header-cell *matHeaderCellDef> {{'TITLE.OPTION' | translate}} </mat-header-cell>
              <mat-cell *matCellDef="let row; let i = index" class='Action'>
                <small (click)="onActionOptionEditFromList(i)"><mat-icon aria-hidden="false" style="color: blue;" >edit</mat-icon>{{'ACTION.EDIT' | translate}}</small>|
                <small (click)="onActionOptionRemoveFromList(i)"><mat-icon aria-hidden="false" style="color: red;" >delete</mat-icon>{{'ACTION.DELETE' | translate}}</small>
              </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="optionTabledisplayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: optionTabledisplayedColumns;"
              [ngStyle]="{'background': row.Option === optionSelected.Option ? '#d3d3da' : '' }">
            </mat-row>
          </mat-table>
        </div>
        <!-- TABLE  -->




        <div *ngIf="formInfo.FormSubmitAllow" class="ntk-button-row">
          <button type="button" mat-raised-button color="accent" matStepperPrevious>
            {{'ACTION.BEFOR' | translate}}
          </button>
          <button type="button" mat-raised-button color="primary" [disabled]="!vform.form.valid" matStepperNext>
            {{'ACTION.NEXT' | translate}}
          </button>
        </div>
      </mat-step>
      <mat-step label="{{'TITLE.ATTACH_FILES' | translate}}" state="file">
        <p>فایل های پیوست محتوا.</p>
        <div class="mb-3">
          <img *ngIf="dataModel?.LinkMainImageIdSrc?.length>0" style="vertical-align:middle;" class="ntk-hover-zoom" aria-hidden
            src="{{dataModel.LinkMainImageIdSrc | cmsthumbnail}}" height="50" width="50" />
        </div>
        <div class="mb-9">
          <mat-form-field class="ntk-full-width">

            <mat-label (click)="fileManagerOpenForm = true">عکس اصلی</mat-label>
            <input matInput [(ngModel)]="dataModel.LinkMainImageId" name="dataModel.LinkMainImageId" #LinkMainImageId
              type="text" placeholder="شناسه فایل اصلی" autocomplete="off" (click)="fileManagerOpenForm = true" />
            <mat-icon matSuffix *ngIf="dataModel.LinkMainImageId" matSuffix mat-icon-button aria-label="Clear"
              (click)="dataModel.LinkMainImageId = null">close</mat-icon>
            <mat-icon matSuffix (click)="fileManagerOpenForm = true">mode_edit</mat-icon>
          </mat-form-field>

          <cms-file-manager (itemSelected)="onActionFileSelectedLinkMainImageId($event)" [language]="appLanguage"
            [isPopup]="true" [(openForm)]="fileManagerOpenForm" [tree]="fileManagerTree" [openDirectUploadView]="true"
            [openFilemanagerButtonLabelKey]="'select'" [selectFileType]="selectFileTypeMainImage"
            [openFilemanagerButtonView]="false"></cms-file-manager>
        </div>
        <div class="mb-3">
          <audio *ngIf="dataModel?.LinkFilePodcastIdSrc?.length>0" controls>
            <source src="{{dataModel.LinkFilePodcastIdSrc | cmsthumbnail}}" type="audio/mp3">
            Your browser does not support the audio tag.
          </audio>
        </div>
        <div class="mb-9">
          <mat-form-field class="ntk-full-width">
            <input matInput [(ngModel)]="dataModel.LinkFilePodcastId" name="dataModel.LinkFilePodcastId"
              #LinkFilePodcastId type="text" placeholder="شناسه فایل صوتی"
              (click)="fileManagerOpenFormPodcast = true" />
            <mat-icon matSuffix *ngIf="dataModel.LinkFilePodcastId" matSuffix mat-icon-button aria-label="Clear"
              (click)="dataModel.LinkFilePodcastId = null">close</mat-icon>
            <mat-icon matSuffix (click)="fileManagerOpenFormPodcast = true">mode_edit</mat-icon>
          </mat-form-field>

          <cms-file-manager (itemSelected)="onActionFileSelectedLinkFilePodcastId($event)" [language]="appLanguage"
            [isPopup]="true" [(openForm)]="fileManagerOpenFormPodcast" [tree]="fileManagerTree"
            [openDirectUploadView]="true" [openFilemanagerButtonLabelKey]="'select'"
            [selectFileType]="selectFileTypePodcast" [openFilemanagerButtonView]="false"></cms-file-manager>
        </div>
        <div class="mb-3">
          <video *ngIf="dataModel?.LinkFileMovieIdSrc?.length>0" controls>
            <source src="{{dataModel.LinkFileMovieIdSrc }}" type="video/mp4">
            Your browser does not support the video tag.
          </video>
        </div>
        <div class="mb-9">
          <mat-form-field class="ntk-full-width">
            <input matInput [(ngModel)]="dataModel.LinkFileMovieId" name="dataModel.LinkFileMovieId" #LinkFileMovieId
              type="text" placeholder="شناسه فایل ویدیو" (click)="fileManagerOpenFormMovie = true" />
            <mat-icon matSuffix *ngIf="dataModel.LinkFileMovieId" matSuffix mat-icon-button aria-label="Clear"
              (click)="dataModel.LinkFileMovieId = null">close</mat-icon>
            <mat-icon matSuffix (click)="fileManagerOpenFormMovie = true">mode_edit</mat-icon>
          </mat-form-field>

          <cms-file-manager (itemSelected)="onActionFileSelectedLinkFileMovieId($event)" [language]="appLanguage"
            [isPopup]="true" [(openForm)]="fileManagerOpenFormMovie" [tree]="fileManagerTree"
            [openDirectUploadView]="true" [openFilemanagerButtonLabelKey]="'select'"
            [selectFileType]="selectFileTypeMovie" [openFilemanagerButtonView]="false"></cms-file-manager>
        </div>
        <div *ngIf="formInfo.FormSubmitAllow" class="ntk-button-row">
          <button type="button" mat-raised-button color="accent" matStepperPrevious>
            {{'ACTION.BEFOR' | translate}}
          </button>
          <button type="button" mat-raised-button color="primary" [disabled]="!vform.form.valid" matStepperNext>
            {{'ACTION.NEXT' | translate}}
          </button>
        </div>
      </mat-step>

      <mat-step label="{{'TITLE.Location' | translate}} " state="loaction">
        <p>روی نقشه کلیک کنید تا موقیت مکانی مشخص گردد</p>
        <app-cms-map (map$)="receiveMap($event)" (zoom$)="receiveZoom($event)" [optonCenter]="mapOptonCenter"
          id='main-map'></app-cms-map>
        <div *ngIf="formInfo.FormSubmitAllow" class="ntk-button-row">
          <button type="button" mat-raised-button color="accent" matStepperPrevious>
            {{'ACTION.BEFOR' | translate}}
          </button>
          <button type="submit" mat-raised-button color="success" [disabled]="!vform.form.valid">
            {{'ACTION.SAVE' | translate}}
          </button>
        </div>
      </mat-step>

      <!-- Icon overrides. -->
      <ng-template matStepperIcon="main">
        <mat-icon>call_end</mat-icon>
      </ng-template>
      <ng-template matStepperIcon="seo">
        <mat-icon>call_end</mat-icon>
      </ng-template>
      <ng-template matStepperIcon="file">
        <mat-icon>forum</mat-icon>
      </ng-template>
      <ng-template matStepperIcon="loaction">
        <mat-icon>forum</mat-icon>
      </ng-template>

    </mat-horizontal-stepper>

    <!--end:::::::::::::::::::::::::::::::::::::::::cms-body-->
  </div>
  <div class="ntk-cms-html-card-message">
    <!--begin:::::::::::::::::::::::::::::::::::::::::cms-message-->

    <!--end:::::::::::::::::::::::::::::::::::::::::cms-message-->
  </div>
  <div class="ntk-cms-html-card-footer">
    <!--begin:::::::::::::::::::::::::::::::::::::::::cms-footer-->

    <!--end:::::::::::::::::::::::::::::::::::::::::cms-footer-->
  </div>
</form>