<app-cms-guide-notice [Key]="'polling.content.list.edit'"
  [svg]="'assets/media/svg/icons/General/Notifications1.svg'"></app-cms-guide-notice>
<form (ngSubmit)="onFormSubmit()" #vform="ngForm">
  <div class="ntk-cms-html-card-header">
    <!--begin:::::::::::::::::::::::::::::::::::::::::cms-header-->
    {{ formInfo.formTitle }}
    <!--end:::::::::::::::::::::::::::::::::::::::::cms-header-->
  </div>
  <div class="ntk-cms-html-card-body">
    <app-progress-spinner [options]="loading"> </app-progress-spinner>
    <!--begin:::::::::::::::::::::::::::::::::::::::::cms-body-->
    <mat-horizontal-stepper (selectionChange)="onStepClick($event,stepper)" #stepper>

      <mat-step label="{{'TITLE.REQUIRED_INFORMATION' | translate}}" state="main">

        <mat-form-field class="ntk-full-width">
          <mat-select placeholder="{{fieldsInfo['recordStatus']?.fieldTitle}}" [(ngModel)]="dataModel.recordStatus"
            name="dataModel.recordStatus" #recordStatus="ngModel" panelClass="recordStatus-{{ dataModel.recordStatus }}"
            required>
            <mat-option *ngFor="
                let item of dataModelEnumRecordStatusResult.listItems;
                index as i
              " [value]="item.value">{{ item.description }}</mat-option>
          </mat-select>
          <mat-hint align="end">{{'TITLE.SELECT_STATUS' | translate}}</mat-hint>
          <mat-error *ngIf="recordStatus.errors?.required">
            RecordStatus is <strong>{{'MESSAGE.required' | translate}}</strong>
          </mat-error>
        </mat-form-field>
        <app-polling-category-selector (optionChange)="onActionSelectorSelect($event)" [(loading)]="loading"
          [optionSelectForce]="dataModel.linkCategoryId" [optionPlaceholder]="this.translate.instant('TITLE.Category')">
        </app-polling-category-selector>
        <mat-form-field class="ntk-full-width">
          <mat-label>{{fieldsInfo['title']?.fieldTitle}}</mat-label>
          <input matInput [(ngModel)]="dataModel.title" name="dataModel.title" #Title type="text"
            placeholder="{{fieldsInfo['title']?.fieldTitle}}" minlength="3" maxlength="100" required />
          <mat-icon matSuffix *ngIf="dataModel.title" matSuffix mat-icon-button aria-label="Clear"
            (click)="dataModel.title = ''">close</mat-icon>
          <mat-icon matSuffix>mode_edit</mat-icon>
          <mat-hint align="end">{{ Title.value.length }} / 100</mat-hint>
          <mat-error *ngIf="Title.errors?.required">
            Title is <strong>{{'MESSAGE.required' | translate}}</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field class="ntk-full-width">
          <mat-label>{{'TITLE.Question' | translate}}</mat-label>
          <textarea matInput [(ngModel)]="dataModel.question" name="dataModel.question" #Question type="text"
            placeholder="{{'TITLE.Question' | translate}}" minlength="1" maxlength="1000" required rows="5"></textarea>
          <mat-icon matSuffix *ngIf="dataModel.question" matSuffix mat-icon-button aria-label="Clear"
            (click)="dataModel.question = ''">close</mat-icon>
          <mat-icon matSuffix>mode_edit</mat-icon>
          <mat-hint align="end">{{ Question.value.length }} / 1000</mat-hint>
          <mat-error *ngIf="Question.errors?.required">
            Question is <strong>{{'MESSAGE.required' | translate}}</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field class="ntk-full-width">
          <mat-label>{{'TITLE.Maximum_Total_Score' | translate}}</mat-label>
          <input matInput [(ngModel)]="dataModel.maxVoteForThisContent" name="dataModel.maxVoteForThisContent"
            #MaxVoteForThisContent type="number"
            placeholder="{{'MESSAGE.Maximum_Score_That_User_Can_Give' | translate}}" min="1" max="100" required />
          <mat-icon matSuffix *ngIf="dataModel.maxVoteForThisContent" matSuffix mat-icon-button aria-label="Clear"
            (click)="dataModel.maxVoteForThisContent = 1">close</mat-icon>
          <mat-icon matSuffix>mode_edit</mat-icon>
          <mat-error *ngIf="MaxVoteForThisContent.errors?.required">
            MaxVoteForThisContent is <strong>{{'MESSAGE.required' | translate}}</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field class="ntk-full-width">
          <mat-label>{{'TITLE.Maximum_Score_For_Per_Option' | translate}}</mat-label>
          <input matInput [(ngModel)]="dataModel.maxVoteForEachOption" name="dataModel.maxVoteForEachOption"
            #MaxVoteForEachOption type="number" placeholder="{{'MESSAGE.Maximum_Score_That_User_Can_Give' | translate}}"
            min="1" max="100" required />
          <mat-icon matSuffix *ngIf="dataModel.maxVoteForEachOption" matSuffix mat-icon-button aria-label="Clear"
            (click)="dataModel.maxVoteForEachOption = 1">close</mat-icon>
          <mat-icon matSuffix>mode_edit</mat-icon>
          <mat-error *ngIf="MaxVoteForEachOption.errors?.required">
            MaxVoteForEachOption is <strong>{{'MESSAGE.required' | translate}}</strong>
          </mat-error>
        </mat-form-field>



        <div class="ntk-full-width">
          <mat-slide-toggle [(ngModel)]="dataModel.viewStatisticsAfterVote"
            *ngIf="fieldsInfo['viewStatisticsAfterVote']?.accessWatchField"
            [disabled]="!fieldsInfo['viewStatisticsAfterVote']?.accessEditField"
            name="dataModel.viewStatisticsAfterVote">
            {{'TITLE.View_Statistics_After_Vote' | translate}}
          </mat-slide-toggle>
        </div>


        <div class="ntk-full-width">
          <mat-slide-toggle [(ngModel)]="dataModel.viewStatisticsBeforeVote"
            *ngIf="fieldsInfo['viewStatisticsBeforeVote']?.accessWatchField"
            [disabled]="!fieldsInfo['viewStatisticsBeforeVote']?.accessEditField"
            name="dataModel.viewStatisticsBeforeVote">
            {{'TITLE.View_Statistics_Before_Vote' | translate}}
          </mat-slide-toggle>
        </div>

        <mat-form-field class="ntk-full-width">
          <mat-label>{{'TITLE.Start_Date' | translate}}</mat-label>
          <input matInput [matDatepicker]="FromDate" [(ngModel)]="dataModel.fromDate" name="dataModel.fromDate" />
          <mat-icon matSuffix *ngIf="dataModel.fromDate && fieldsInfo['fromDate']?.accessEditField" matSuffix
            mat-icon-button aria-label="Clear" (click)="dataModel.fromDate = null">close</mat-icon>
          <mat-datepicker-toggle matSuffix [for]="FromDate"></mat-datepicker-toggle>
          <mat-datepicker touchUi #FromDate></mat-datepicker>
        </mat-form-field>

        <!-- ExpireDate Field -->
        <mat-form-field class="ntk-full-width" *ngIf="fieldsInfo['expireDate']?.accessWatchField">
          <mat-label>{{'TITLE.Expire_Date' | translate}}</mat-label>
          <input matInput [matDatepicker]="ExpireDate" [(ngModel)]="dataModel.expireDate" name="dataModel.expireDate" />
          <mat-icon matSuffix *ngIf="dataModel.expireDate && fieldsInfo['expireDate']?.accessEditField" matSuffix
            mat-icon-button aria-label="Clear" (click)="dataModel.expireDate = null">close</mat-icon>
          <mat-datepicker-toggle matSuffix [for]="ExpireDate"></mat-datepicker-toggle>
          <mat-datepicker touchUi #ExpireDate></mat-datepicker>
        </mat-form-field>
        <hr class="pb-5" />



        <div *ngIf="formInfo.formSubmitAllow  && !loading.display" class="ntk-button-row">
          <button type="button" mat-raised-button (click)="onActionBackToParent()">
            {{'ACTION.BACK' | translate}}
          </button>
          <button type="button" mat-raised-button color="primary" [disabled]="!vform.form.valid" matStepperNext>
            {{'ACTION.NEXT' | translate}}
          </button>
        </div>
      </mat-step>

      <mat-step label="{{'TITLE.Poll_Option' | translate}}" state="seo">
        <p>{{'TITLE.This_section_is_for_the_type_and_option_of_the_survey' | translate}}</p>

        <mat-form-field class="ntk-full-width">
          <mat-label>{{'TITLE.OPTION' | translate}}</mat-label>
          <input matInput [(ngModel)]="optionSelected.option" name="optionSelected.option" #optionSelected_Option
            type="text" placeholder="{{'TITLE.OPTION' | translate}}" minlength="1" maxlength="200" />
          <mat-icon matSuffix *ngIf="optionSelected.option" matSuffix mat-icon-button aria-label="Clear"
            (click)="optionSelected.option = ''">close</mat-icon>
          <mat-icon matSuffix>mode_edit</mat-icon>
          <mat-hint align="end">{{ optionSelected_Option.value.length }} / 200</mat-hint>
        </mat-form-field>

        <mat-form-field class="ntk-full-width">
          <mat-label>{{'TITLE.Answer' | translate}}</mat-label>
          <textarea matInput [(ngModel)]="optionSelected.optionAnswer" name="optionSelected.optionAnswer"
            #optionSelected_OptionAnswer type="text" placeholder="{{'TITLE.Answer' | translate}}" minlength="0"
            maxlength="500" row="5"></textarea>
          <mat-icon matSuffix *ngIf="optionSelected.optionAnswer" matSuffix mat-icon-button aria-label="Clear"
            (click)="optionSelected.optionAnswer = ''">close</mat-icon>
          <mat-icon matSuffix>mode_edit</mat-icon>
          <mat-hint align="end">{{ optionSelected_OptionAnswer.value.length }} / 500</mat-hint>
        </mat-form-field>

        <div class="ntk-full-width">
          <mat-slide-toggle [(ngModel)]="optionSelected.isCorrectAnswer" name="optionSelected.isCorrectAnswer">
            {{'TITLE.This_option_is_correct' | translate}}
          </mat-slide-toggle>
        </div>

        <button (click)="onActionOptionAddToList()" [disabled]="!optionActionButtomEnable" type="button" mat-button
          class="btn btn-light-primary font-weight-bold font-size-h5 px-9 py-4" style="margin: 10px 0px;">
          {{'ACTION.Add_To_List' | translate}} ...
        </button>
        <p>{{'TITLE.List_of_other_information' | translate}}</p>
        <app-progress-spinner [options]="loadingOption">
        </app-progress-spinner>
        <!-- TABLE  -->
        <div class="example-container mat-elevation-z8" *ngIf="!loadingOption.display">
          <mat-table [dataSource]="optionTabledataSource">
            <!-- Id Column -->
            <ng-container matColumnDef="Id">
              <mat-header-cell *matHeaderCellDef> {{'TITLE.Id' | translate}} </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.id}} </mat-cell>
            </ng-container>
            <!-- Option Column -->
            <ng-container matColumnDef="Option">
              <mat-header-cell *matHeaderCellDef> {{'TITLE.OPTION' | translate}} </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.option}} </mat-cell>
            </ng-container>
            <!-- OptionAnswer Column -->
            <ng-container matColumnDef="OptionAnswer">
              <mat-header-cell *matHeaderCellDef> {{'TITLE.Answers' | translate}} </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.optionAnswer}} </mat-cell>
            </ng-container>
            <!-- IsCorrectAnswer Column -->
            <ng-container matColumnDef="IsCorrectAnswer">
              <mat-header-cell *matHeaderCellDef> {{'TITLE.Is_Correct_Answer' | translate}} </mat-header-cell>
              <mat-cell *matCellDef="let row"><i [ngClass]="row.isCorrectAnswer|boolclass"></i> </mat-cell>
            </ng-container>
            <!-- NumberOfVotes Column -->
            <ng-container matColumnDef="NumberOfVotes">
              <mat-header-cell *matHeaderCellDef> {{'TITLE.Number_Of_Votes' | translate}} </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.numberOfVotes}} </mat-cell>
            </ng-container>
            <!-- ScoreOfVotes Column -->
            <ng-container matColumnDef="ScoreOfVotes">
              <mat-header-cell *matHeaderCellDef> {{'TITLE.Score_Of_Votes' | translate}} </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.scoreOfVotes}} </mat-cell>
            </ng-container>
            <!-- Action Column -->
            <ng-container matColumnDef="Action">
              <mat-header-cell *matHeaderCellDef> {{'TITLE.OPTION' | translate}} </mat-header-cell>
              <mat-cell *matCellDef="let row; let i = index" class='Action'>
                <small (click)="onActionOptionEditFromList(i)"><mat-icon matTooltip="{{'ACTION.EDIT' | translate}}"
                    matTooltipPosition="before" aria-hidden="false" style="color: blue;">edit</mat-icon></small>|
                <small (click)="onActionOptionRemoveFromList(i)"><mat-icon matTooltip="{{'ACTION.DELETE' | translate}}"
                    matTooltipPosition="before" aria-hidden="false" style="color: red;">delete</mat-icon></small>
              </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="optionTabledisplayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: optionTabledisplayedColumns;"
              [ngStyle]="{'background': row.option === optionSelected.option ? '#d3d3da' : '' }">
            </mat-row>
          </mat-table>
        </div>
        <!-- TABLE  -->

        <div *ngIf="formInfo.formSubmitAllow  && !loading.display" class="ntk-button-row">
          <button type="button" mat-raised-button color="accent" matStepperPrevious>
            {{'ACTION.BEFOR' | translate}}
          </button>
          <button type="button" mat-raised-button color="primary" [disabled]="!vform.form.valid" matStepperNext>
            {{'ACTION.NEXT' | translate}}
          </button>
        </div>
      </mat-step>
      <mat-step label="{{'TITLE.ATTACH_FILES' | translate}}" state="file">
        <p>{{'TITLE.CONTENT_ATTACH_FILES' | translate}}</p>
        <div class="mb-3">
          <a href="{{dataModel.linkMainImageIdSrc | cmsthumbnail}}" target="_blank">
            <img *ngIf="dataModel?.linkMainImageIdSrc?.length>0" style="vertical-align:middle;" class="ntk-hover-zoom"
              aria-hidden src="{{dataModel.linkMainImageIdSrc | cmsthumbnail}}" height="50" width="50" />
          </a>
        </div>
        <div class="mb-9">
          <mat-form-field class="ntk-full-width">

            <mat-label (click)="fileManagerOpenForm = true">{{'TITLE.Original_Photo' | translate}}</mat-label>
            <input matInput [(ngModel)]="dataModel.linkMainImageId" name="dataModel.linkMainImageId" #LinkMainImageId
              type="text" placeholder="{{'TITLE.Original_File_ID' | translate}}" autocomplete="off"
              (click)="fileManagerOpenForm = true" />
            <mat-icon matSuffix *ngIf="dataModel.linkMainImageId" matSuffix mat-icon-button aria-label="Clear"
              (click)="dataModel.linkMainImageId = null">close</mat-icon>
            <mat-icon matSuffix (click)="fileManagerOpenForm = true">mode_edit</mat-icon>
          </mat-form-field>

          <cms-file-manager (itemSelected)="onActionFileSelectedLinkMainImageId($event)" [language]="appLanguage"
            [isPopup]="true" [(openForm)]="fileManagerOpenForm" [tree]="fileManagerTree" [openDirectUploadView]="true"
            [openFilemanagerButtonLabelKey]="'select'" [selectFileType]="selectFileTypeMainImage"
            [openFilemanagerButtonView]="false"></cms-file-manager>
        </div>
        <div class="mb-3">
          <audio *ngIf="dataModel?.linkFilePodcastIdSrc?.length>0" controls>
            <source src="{{dataModel.linkFilePodcastIdSrc | cmsthumbnail}}" type="audio/mp3">
            Your browser does not support the audio tag.
          </audio>
        </div>
        <div class="mb-9">
          <mat-form-field class="ntk-full-width">
            <input matInput [(ngModel)]="dataModel.linkFilePodcastId" name="dataModel.linkFilePodcastId"
              #LinkFilePodcastId type="text" placeholder="{{'TITLE.Audio_File_ID' | translate}}"
              (click)="fileManagerOpenFormPodcast = true" />
            <mat-icon matSuffix *ngIf="dataModel.linkFilePodcastId" matSuffix mat-icon-button aria-label="Clear"
              (click)="dataModel.linkFilePodcastId = null">close</mat-icon>
            <mat-icon matSuffix (click)="fileManagerOpenFormPodcast = true">mode_edit</mat-icon>
          </mat-form-field>

          <cms-file-manager (itemSelected)="onActionFileSelectedLinkFilePodcastId($event)" [language]="appLanguage"
            [isPopup]="true" [(openForm)]="fileManagerOpenFormPodcast" [tree]="fileManagerTree"
            [openDirectUploadView]="true" [openFilemanagerButtonLabelKey]="'select'"
            [selectFileType]="selectFileTypePodcast" [openFilemanagerButtonView]="false"></cms-file-manager>
        </div>
        <div class="mb-3">
          <video *ngIf="dataModel?.linkFileMovieIdSrc?.length>0" controls>
            <source src="{{dataModel.linkFileMovieIdSrc }}" type="video/mp4">
            Your browser does not support the video tag.
          </video>
        </div>
        <div class="mb-9">
          <mat-form-field class="ntk-full-width">
            <input matInput [(ngModel)]="dataModel.linkFileMovieId" name="dataModel.linkFileMovieId" #LinkFileMovieId
              type="text" placeholder="{{'TITLE.Video_File_ID' | translate}}"
              (click)="fileManagerOpenFormMovie = true" />
            <mat-icon matSuffix *ngIf="dataModel.linkFileMovieId" matSuffix mat-icon-button aria-label="Clear"
              (click)="dataModel.linkFileMovieId = null">close</mat-icon>
            <mat-icon matSuffix (click)="fileManagerOpenFormMovie = true">mode_edit</mat-icon>
          </mat-form-field>

          <cms-file-manager (itemSelected)="onActionFileSelectedLinkFileMovieId($event)" [language]="appLanguage"
            [isPopup]="true" [(openForm)]="fileManagerOpenFormMovie" [tree]="fileManagerTree"
            [openDirectUploadView]="true" [openFilemanagerButtonLabelKey]="'select'"
            [selectFileType]="selectFileTypeMovie" [openFilemanagerButtonView]="false"></cms-file-manager>
        </div>
        <div *ngIf="formInfo.formSubmitAllow  && !loading.display" class="ntk-button-row">
          <button type="button" mat-raised-button color="accent" matStepperPrevious>
            {{'ACTION.BEFOR' | translate}}
          </button>
          <button type="button" mat-raised-button color="primary" [disabled]="!vform.form.valid" matStepperNext>
            {{'ACTION.NEXT' | translate}}
          </button>
        </div>
      </mat-step>

      <mat-step label="{{'TITLE.Location' | translate}} " state="loaction">
        <!-- LinkLocationId Field -->
        <app-cms-location-selector (optionChange)="onActionSelectorLocation($event)"
          [optionDisabled]="!fieldsInfo['linkLocationId']?.accessEditField" [(loading)]="loading"
          [optionSelectForce]="dataModel.linkLocationId" [optionPlaceholder]="this.translate.instant('TITLE.Region')">
        </app-cms-location-selector>
        <p>{{'TITLE.Click_on_the_map_to_specify_the_location' | translate}}</p>
        <app-cms-map (map$)="receiveMap($event)" (zoom$)="receiveZoom($event)" [optonCenter]="mapOptonCenter"
          id='main-map'></app-cms-map>
        <div *ngIf="formInfo.formSubmitAllow  && !loading.display" class="ntk-button-row">
          <button type="button" mat-raised-button color="accent" matStepperPrevious>
            {{'ACTION.BEFOR' | translate}}
          </button>
          <button type="submit" mat-raised-button color="success" [disabled]="!vform.form.valid">
            {{'ACTION.SAVE' | translate}}
          </button>
        </div>
      </mat-step>

      <!-- Icon overrides. -->
      <ng-template matStepperIcon="main">
        <mat-icon>call_end</mat-icon>
      </ng-template>
      <ng-template matStepperIcon="seo">
        <mat-icon>call_end</mat-icon>
      </ng-template>
      <ng-template matStepperIcon="file">
        <mat-icon>forum</mat-icon>
      </ng-template>
      <ng-template matStepperIcon="loaction">
        <mat-icon>forum</mat-icon>
      </ng-template>

    </mat-horizontal-stepper>

    <!--end:::::::::::::::::::::::::::::::::::::::::cms-body-->
  </div>
  <div class="ntk-cms-html-card-message">
    <!--begin:::::::::::::::::::::::::::::::::::::::::cms-message-->

    <!--end:::::::::::::::::::::::::::::::::::::::::cms-message-->
  </div>
  <div class="ntk-cms-html-card-footer">
    <!--begin:::::::::::::::::::::::::::::::::::::::::cms-footer-->

    <!--end:::::::::::::::::::::::::::::::::::::::::cms-footer-->
  </div>
</form>