<mat-form-field class="ntk-full-width">
    <span matPrefix><img *ngIf="dataModelSelect && dataModelSelect.LinkMainImageIdSrc" style="vertical-align:middle;" class="ntk-hover-zoom" aria-hidden src="{{dataModelSelect.LinkMainImageIdSrc | cmsthumbnail}}" height="25" width="25" /> &nbsp;</span>
    <input type="text" placeholder="{{optionPlaceholder}}" aria-label="Assignee" matInput [formControl]="formControl" [matAutocomplete]="auto27">
    <mat-autocomplete #auto27="matAutocomplete" [displayWith]="displayFn" (optionSelected)="onActionSelect($event.option.value)">
        <mat-option *ngFor="let state of filteredOptions | async" [value]="state">
            <img *ngIf="state.LinkMainImageIdSrc" style="vertical-align:middle;" class="ntk-hover-zoom" aria-hidden src="{{state.LinkMainImageIdSrc | cmsthumbnail}}" height="25" width="25" />
            <span>{{ displayOption(state) }}</span>
        </mat-option>
    </mat-autocomplete>
    <mat-icon matSuffix *ngIf="dataModelSelect.Id" matSuffix
    mat-icon-button aria-label="Clear" (click)="onActionSelectClear()">close</mat-icon>
    <mat-icon matTooltip="category" matSuffix>info</mat-icon>
    <ng-content></ng-content>
</mat-form-field>

