<app-cms-guide-notice [Key]="'estate.property.list.edit'" [svg]="'assets/media/svg/icons/General/Notifications1.svg'">
</app-cms-guide-notice>

<app-cms-html-notice>
  {{'TITLE.Edit' | translate}} "{{ formInfo.formTitle }}"
  <a routerLink="{{'/core/user/edit/' +this.dataModel.createdBy}}" target="_blank"
    class="link-primary pointer float-right">
    {{'ACTION.VIEW_USER' | translate}} </a>

  <div *ngIf="dataModel.linkSiteId!==tokenHelper.tokenInfo.siteId" class="float-right">
    <a routerLink="{{'/core/site/edit/'+dataModel.linkSiteId}}" target="_blank" class="link-primary pointer">
      {{'ACTION.VIEW_SITE' | translate}} </a>
    |&nbsp;
  </div>
</app-cms-html-notice>

<form (ngSubmit)="onFormSubmit()" #vform="ngForm">
  <!-- <div class="ntk-cms-html-card-header"> -->
  <!--begin:::::::::::::::::::::::::::::::::::::::::cms-header-->

  <!--end:::::::::::::::::::::::::::::::::::::::::cms-header-->
  <!-- </div> -->
  <div class="ntk-cms-html-card-body">
    <app-progress-spinner [options]="loading"> </app-progress-spinner>
    <!--begin:::::::::::::::::::::::::::::::::::::::::cms-body-->
    <mat-horizontal-stepper (selectionChange)="onStepClick($event,stepper)" #stepper>

      <mat-step label="{{'TITLE.REQUIRED_INFORMATION' | translate}}" state="main">

        <!-- LinkPropertyTypeUsageId Field -->
        <app-estate-property-type-usage-selector (optionChange)="onActionSelectorSelectUsage($event)"
          [optionDisabled]="!fieldsInfo['linkPropertyTypeUsageId']?.accessEditField" [optionTypeView]="2"
          [optionSelectForce]="dataModel.linkPropertyTypeUsageId" [(loading)]="loading"
          [optionPlaceholder]="this.translate.instant('TITLE.Type_Usage')">
        </app-estate-property-type-usage-selector>
        <br>
        <!-- LinkPropertyTypeLanduseId Field -->
        <app-estate-property-type-landuse-selector (optionChange)="onActionSelectorSelectLanduse($event)"
          *ngIf="dataModel.linkPropertyTypeUsageId && dataModel.linkPropertyTypeUsageId.length>0"
          [optionDisabled]="!fieldsInfo['linkPropertyTypeLanduseId']?.accessEditField" [optionTypeView]="2"
          [optionSelectForce]="dataModel.linkPropertyTypeLanduseId" [(loading)]="loading"
          [optionPlaceholder]="this.translate.instant('TITLE.Property_type')"
          [optionTypeUsageId]="dataModel.linkPropertyTypeUsageId">
        </app-estate-property-type-landuse-selector>
        <br>
        <!-- RecordStatus Field -->
        <mat-form-field class="ntk-full-width mb-1" *ngIf="fieldsInfo['recordStatus']?.accessWatchField">
          <mat-select placeholder="{{fieldsInfo['recordStatus']?.fieldTitle}}"
            [disabled]="!fieldsInfo['recordStatus']?.accessEditField" [(ngModel)]="dataModel.recordStatus"
            name="dataModel.recordStatus" #RecordStatus="ngModel" panelClass="recordStatus-{{ dataModel.recordStatus }}"
            required>
            <mat-option *ngFor="
                  let item of dataModelEnumRecordStatusResult.listItems;
                  index as i
                " [value]="item.value">{{ item.description }}</mat-option>
          </mat-select>
          <mat-hint align="start">
            <mat-icon matSuffix class="info-field-icon">info</mat-icon>
            <strong class="info-field-text">{{fieldsInfo['recordStatus']?.FieldDescription}}</strong>
          </mat-hint>
          <mat-hint align="end">{{'TITLE.SELECT_STATUS' | translate}}</mat-hint>
          <mat-error *ngIf="RecordStatus.errors?.required">
            {{fieldsInfo['recordStatus']?.fieldTitle}} <strong>{{'MESSAGE.required' | translate}}</strong>
          </mat-error>
        </mat-form-field>
        <!-- MainAdminRecordStatus Field -->
        <mat-form-field class="ntk-full-width mb-1" *ngIf="fieldsInfo['recordStatus']?.accessWatchField">
          <mat-select placeholder="{{fieldsInfo['mainAdminRecordStatus']?.fieldTitle}}"
            [disabled]="!fieldsInfo['mainAdminRecordStatus']?.accessEditField"
            [(ngModel)]="dataModel.mainAdminRecordStatus" name="dataModel.mainAdminRecordStatus"
            #MainAdminRecordStatus="ngModel" panelClass="MainAdminRecordStatus-{{ dataModel.mainAdminRecordStatus }}"
            required>
            <mat-option *ngFor="
                  let item of dataModelEnumRecordStatusResult.listItems;
                  index as i
                " [value]="item.value">{{ item.description }}</mat-option>
          </mat-select>
          <mat-hint align="start">
            <mat-icon matSuffix class="info-field-icon">info</mat-icon>
            <strong class="info-field-text">{{fieldsInfo['mainAdminRecordStatus']?.FieldDescription}}</strong>
          </mat-hint>
          <mat-hint align="end">{{'TITLE.SELECT_STATUS' | translate}}</mat-hint>
          <mat-error *ngIf="MainAdminRecordStatus.errors?.required">
            {{fieldsInfo['mainAdminRecordStatus']?.fieldTitle}} <strong>{{'MESSAGE.required' | translate}}</strong>
          </mat-error>
        </mat-form-field>
        <!-- LinkSiteId Field -->
        <mat-form-field class="ntk-full-width mb-1"
          *ngIf="fieldsInfo['linkSiteId']?.accessWatchField && this.tokenHelper.isAdminSite">
          <mat-label>{{fieldsInfo['linkSiteId']?.fieldTitle}}</mat-label>
          <input matInput [(ngModel)]="dataModel.linkSiteId" name="dataModel.linkSiteId" #LinkSiteId type="text"
            disabled="{{!fieldsInfo['linkSiteId']?.accessEditField}}"
            placeholder="{{fieldsInfo['linkSiteId']?.fieldTitle}}" minlength="3" maxlength="100" required />
          <mat-hint align="start">
            <mat-icon matSuffix class="info-field-icon">info</mat-icon>
            <strong class="info-field-text">{{fieldsInfo['linkSiteId']?.FieldDescription}}</strong>
          </mat-hint>
          <mat-hint align="end">{{ LinkSiteId.value.length }} / 100</mat-hint>
          <mat-error *ngIf="LinkSiteId.errors?.required">
            {{fieldsInfo['linkSiteId']?.fieldTitle}} <strong>{{'MESSAGE.required' | translate}}</strong>
          </mat-error>
        </mat-form-field>
        <!-- Title Field -->
        <mat-form-field class="ntk-full-width mb-1" *ngIf="fieldsInfo['title']?.accessWatchField">
          <mat-label>{{fieldsInfo['title']?.fieldTitle}}</mat-label>
          <input matInput [(ngModel)]="dataModel.title" name="dataModel.title" #Title type="text"
            disabled="{{!fieldsInfo['title']?.accessEditField}}" placeholder="{{fieldsInfo['title']?.fieldTitle}}"
            minlength="3" maxlength="100" required />
          <mat-icon matSuffix *ngIf="dataModel.title" class="pointer" matSuffix mat-icon-button aria-label="Clear"
            (click)="dataModel.title = ''">close</mat-icon>
          <mat-icon matSuffix *ngIf="dataModel.title" class="pointer" (click)="onActionbuttonQuickListSearchTitle()">
            find_replace
          </mat-icon>
          <mat-icon class="pointer" matSuffix>mode_edit</mat-icon>

          <mat-hint align="start">
            <mat-icon matSuffix class="info-field-icon">info</mat-icon>
            <strong class="info-field-text">{{fieldsInfo['title']?.FieldDescription}}</strong>
          </mat-hint>
          <mat-hint align="end">{{ Title.value.length }} / 100</mat-hint>
          <mat-error *ngIf="Title.errors?.required">
            {{fieldsInfo['title']?.fieldTitle}} <strong>{{'MESSAGE.required' | translate}}</strong>
          </mat-error>
        </mat-form-field>
        <!-- Priority Field -->
        <mat-form-field class="ntk-full-width" *ngIf="fieldsInfo['priority']?.accessWatchField">
          <mat-select placeholder="{{fieldsInfo['priority']?.fieldTitle}}" [(ngModel)]="dataModel.priority"
            [disabled]="!fieldsInfo['priority']?.accessEditField" name="dataModel.priority" #Priority="ngModel"
            panelClass="Priority-{{ dataModel.priority }}">
            <mat-option *ngFor="
                let number of numbers;
              " [value]="number">{{ number }}</mat-option>
          </mat-select>
          <mat-icon matSuffix *ngIf="dataModel.priority && fieldsInfo['priority']?.accessAddField" matSuffix
            mat-icon-button aria-label="Clear" (click)="dataModel.priority = null">close</mat-icon>
          <mat-icon matSuffix>mode_edit</mat-icon>
          <mat-hint align="start">
            <mat-icon matSuffix class="info-field-icon">info</mat-icon>
            <strong class="info-field-text">شما میتوانید برای ملک خود اولویت از 1 تا 10 بدهید</strong>
          </mat-hint>
        </mat-form-field>
        <!-- CaseCode Field -->
        <mat-form-field class="ntk-full-width mb-1" *ngIf="fieldsInfo['caseCode']?.accessWatchField">
          <mat-label>{{fieldsInfo['caseCode']?.fieldTitle}}</mat-label>
          <input matInput [(ngModel)]="dataModel.caseCode" name="dataModel.caseCode" #CaseCode type="text"
            disabled="{{!fieldsInfo['caseCode']?.accessEditField}}" placeholder="{{fieldsInfo['caseCode']?.fieldTitle}}"
            minlength="3" maxlength="100" required />
          <mat-icon matSuffix *ngIf="dataModel.caseCode" matSuffix mat-icon-button aria-label="Clear"
            (click)="dataModel.caseCode = ''">close</mat-icon>
          <mat-icon matSuffix>mode_edit</mat-icon>
          <mat-hint align="start">
            <mat-icon matSuffix class="info-field-icon">info</mat-icon>
            <strong class="info-field-text">{{fieldsInfo['caseCode']?.FieldDescription}}</strong>
          </mat-hint>
          <mat-hint align="end">{{ CaseCode.value.length }} / 100</mat-hint>
          <mat-error *ngIf="CaseCode.errors?.required">
            {{fieldsInfo['caseCode']?.fieldTitle}} <strong>{{'MESSAGE.required' | translate}}</strong>
          </mat-error>
        </mat-form-field>
        <!-- SharingKey Field -->
        <mat-form-field class="ntk-full-width" *ngIf="fieldsInfo['sharingKey']?.accessWatchField">
          <mat-label>{{fieldsInfo['sharingKey']?.fieldTitle}}</mat-label>
          <input matInput [(ngModel)]="dataModel.sharingKey" name="dataModel.sharingKey" #SharingKey type="text"
            disabled="{{!fieldsInfo['sharingKey']?.accessEditField}}"
            placeholder="{{fieldsInfo['sharingKey']?.fieldTitle}}" />
          <mat-icon matSuffix>mode_edit</mat-icon>
          <mat-hint align="start">
            <mat-icon matSuffix class="info-field-icon">info</mat-icon>
            <strong class="info-field-text">{{fieldsInfo['sharingKey']?.FieldDescription}}</strong>
          </mat-hint>
          <mat-error *ngIf="SharingKey.errors?.required">
            {{fieldsInfo['sharingKey']?.fieldTitle}} <strong>{{'MESSAGE.required' | translate}}</strong>
          </mat-error>
        </mat-form-field>
        <!-- ViewConfigHiddenInList Field -->
        <div class="ntk-full-width">
          <mat-slide-toggle [(ngModel)]="dataModel.viewConfigHiddenInList"
            *ngIf="fieldsInfo['viewConfigHiddenInList']?.accessWatchField"
            [disabled]="!fieldsInfo['viewConfigHiddenInList']?.accessEditField" name="dataModel.viewConfigHiddenInList">
            {{fieldsInfo['viewConfigHiddenInList']?.fieldTitle}}
          </mat-slide-toggle>
        </div>
        <!-- CreatedYaer Field -->
        <mat-form-field class="ntk-full-width" *ngIf="this.dataModel.linkPropertyTypeLanduseId">
          <mat-label>{{PropertyTypeSelected.titleCreatedYaer}}</mat-label>
          <input matInput [(ngModel)]="dataModel.createdYaer" name="dataModel.createdYaer" #CreatedYaer type="number"
            disabled="{{!fieldsInfo['createdYaer']?.accessEditField}}"
            placeholder="{{fieldsInfo['createdYaer']?.fieldTitle}}" />
          <mat-icon matSuffix *ngIf="dataModel.createdYaer" matSuffix mat-icon-button aria-label="Clear"
            (click)="dataModel.createdYaer = null">close</mat-icon>
          <mat-icon matSuffix>mode_edit</mat-icon>
          <mat-hint align="start">
            <mat-icon matSuffix class="info-field-icon">info</mat-icon>
            <strong class="info-field-text">{{fieldsInfo['createdYaer']?.FieldDescription}}</strong>
          </mat-hint>
        </mat-form-field>
        <!-- Partition Field -->
        <mat-form-field class="ntk-full-width" *ngIf="this.dataModel.linkPropertyTypeLanduseId">
          <mat-label>{{PropertyTypeSelected.titlePartition}}</mat-label>
          <input matInput [(ngModel)]="dataModel.partition" name="dataModel.partition" #Partition type="number"
            disabled="{{!fieldsInfo['partition']?.accessEditField}}"
            placeholder="{{PropertyTypeSelected.titlePartition}}" />
          <mat-icon matSuffix *ngIf="dataModel.partition" matSuffix mat-icon-button aria-label="Clear"
            (click)="dataModel.partition = 0">close</mat-icon>
          <mat-icon matSuffix>mode_edit</mat-icon>
          <mat-hint align="start">
            <mat-icon matSuffix class="info-field-icon">info</mat-icon>
            <strong class="info-field-text">{{fieldsInfo['partition']?.FieldDescription}}</strong>
          </mat-hint>

        </mat-form-field>
        <!-- Area Field -->
        <mat-form-field class="ntk-full-width" *ngIf="this.dataModel.linkPropertyTypeLanduseId">
          <mat-label>{{fieldsInfo['area']?.fieldTitle}}</mat-label>
          <input matInput [(ngModel)]="dataModel.area" name="dataModel.area" #Area type="number"
            disabled="{{!fieldsInfo['area']?.accessEditField}}" placeholder="{{fieldsInfo['area']?.fieldTitle}}" />
          <mat-icon matSuffix *ngIf="dataModel.area" matSuffix mat-icon-button aria-label="Clear"
            (click)="dataModel.area = 0">close</mat-icon>
          <mat-icon matSuffix>mode_edit</mat-icon>
          <mat-hint align="start">
            <mat-icon matSuffix class="info-field-icon">info</mat-icon>
            <strong class="info-field-text">{{fieldsInfo['area']?.FieldDescription}}</strong>
          </mat-hint>
        </mat-form-field>

        <!-- LinkLocationId Field -->
        <app-cms-location-selector (optionChange)="onActionSelectorLocation($event)"
          [optionDisabled]="!fieldsInfo['linkLocationId']?.accessEditField" [(loading)]="loading"
          [optionSelectForce]="dataModel.linkLocationId" [optionPlaceholder]="this.translate.instant('TITLE.Region')">
        </app-cms-location-selector>

        <!-- Address Field -->
        <mat-form-field class="ntk-full-width" *ngIf="fieldsInfo['address']?.accessWatchField">
          <mat-label>{{fieldsInfo['address']?.fieldTitle}}</mat-label>
          <textarea matInput [(ngModel)]="dataModel.address" name="dataModel.address" #Address type="text"
            disabled="{{!fieldsInfo['address']?.accessEditField}}" placeholder="{{fieldsInfo['address']?.fieldTitle}}"
            minlength="1" maxlength="500" rows=5 [disabled]="!fieldsInfo['address']?.accessEditField"></textarea>
          <mat-icon matSuffix *ngIf="dataModel.address" matSuffix mat-icon-button aria-label="Clear"
            (click)="dataModel.address = ''">close</mat-icon>
          <mat-icon matSuffix>mode_edit</mat-icon>
          <mat-hint align="start">
            <mat-icon matSuffix class="info-field-icon">info</mat-icon>
            <strong class="info-field-text">{{fieldsInfo['address']?.FieldDescription}}</strong>
          </mat-hint>
          <mat-hint align="end">{{ Address.value.length }} / 500</mat-hint>
        </mat-form-field>

        <!-- Description Field -->
        <mat-form-field class="ntk-full-width">
          <mat-label>{{'TITLE.General_Description' | translate}}</mat-label>
          <textarea matInput [(ngModel)]="dataModel.description" name="dataModel.description" #Description type="text"
            disabled="{{!fieldsInfo['description']?.accessEditField}}"
            placeholder="{{fieldsInfo['description']?.fieldTitle}}" minlength="1" maxlength="2000" rows=5
            required></textarea>
          <mat-icon matSuffix *ngIf="dataModel.description" matSuffix mat-icon-button aria-label="Clear"
            (click)="dataModel.description = ''">close</mat-icon>
          <mat-icon matSuffix>mode_edit</mat-icon>
          <mat-hint align="start">
            <mat-icon matSuffix class="info-field-icon">info</mat-icon>
            <strong class="info-field-text">{{fieldsInfo['description']?.FieldDescription}}</strong>
          </mat-hint>
          <mat-hint align="end">{{ Description.value.length }} / 2000</mat-hint>
          <mat-error *ngIf="Description.errors?.required">
            Description is <strong>{{'MESSAGE.required' | translate}}</strong>
          </mat-error>
        </mat-form-field>

        <div *ngIf="formInfo.formSubmitAllow  && !loading.display" class="ntk-button-row">
          <button type="button" mat-raised-button (click)="onActionBackToParent()">
            {{'ACTION.BACK_TO_PROPERTY_LIST' | translate}}
          </button>
          <button type="button" mat-raised-button color="primary" [disabled]="!vform.form.valid" matStepperNext>
            {{'ACTION.NEXT' | translate}}
          </button>
          <button type="submit" mat-raised-button color="success" [disabled]="!vform.form.valid">
            {{'ACTION.SAVE' | translate}}
          </button>
        </div>
      </mat-step>

      <mat-step label="{{'TITLE.Personal_Information' | translate}}" state="main">
        <!-- LinkCmsUserId Field -->
        <app-cms-user-selector *ngIf="this.tokenHelper.isAdminSite" (optionChange)="onActionSelectorCmsUser($event)"
          [(loading)]="loading" [optionDisabled]="!fieldsInfo['linkCmsUserId']?.accessEditField"
          [optionSelectForce]="dataModel.linkCmsUserId"
          [optionPlaceholder]="this.translate.instant('TITLE.Property_Owner')">
        </app-cms-user-selector>
        <!-- linkEstateAgencyId Field -->
        <app-estate-account-agency-selector *ngIf="this.tokenHelper.isAdminSite"
          (optionChange)="onActionSelectorEstateAgency($event)" [(loading)]="loading"
          [optionDisabled]="!fieldsInfo['linkEstateAgencyId']?.accessEditField"
          [optionSelectForce]="dataModel.linkEstateAgencyId" [optionSelectUserId]="this.tokenInfo.userId"
          [optionPlaceholder]="this.translate.instant('TITLE.Property_agency')">
        </app-estate-account-agency-selector>
        <!-- LinkEstateUserId Field -->
        <app-estate-account-user-selector *ngIf="this.tokenHelper.isAdminSite"
          (optionChange)="onActionSelectorEstateUser($event)" [(loading)]="loading"
          [optionDisabled]="!fieldsInfo['linkEstateUserId']?.accessEditField"
          [optionSelectForce]="dataModel.linkEstateUserId"
          [optionPlaceholder]="this.translate.instant('TITLE.Property_personnel')">
        </app-estate-account-user-selector>

        <!-- AboutAgentMobile Field -->
        <mat-form-field class="ntk-full-width " *ngIf="fieldsInfo['aboutAgentMobile']?.accessWatchField">
          <mat-label>{{fieldsInfo['aboutAgentMobile']?.fieldTitle}}</mat-label>
          <input matInput [(ngModel)]="dataModel.aboutAgentMobile" name="dataModel.aboutAgentMobile"
            class="input-Mobile" #AboutAgentMobile type="text"
            disabled="{{!fieldsInfo['aboutAgentMobile']?.accessEditField}}"
            placeholder="{{fieldsInfo['aboutAgentMobile']?.fieldTitle}}" minlength="0" maxlength="100" />
          <mat-icon matSuffix *ngIf="dataModel.aboutAgentMobile" matSuffix mat-icon-button aria-label="Clear"
            (click)="dataModel.aboutAgentMobile = ''">close</mat-icon>
          <mat-icon matSuffix>mode_edit</mat-icon>
          <mat-hint align="start">
            <mat-icon matSuffix class="info-field-icon">info</mat-icon>
            <strong class="info-field-text">{{fieldsInfo['aboutAgentMobile']?.FieldDescription}}</strong>
          </mat-hint>
          <mat-hint align="end">{{ AboutAgentMobile.value.length }} / 100</mat-hint>
        </mat-form-field>

        <!-- AboutAgentTel Field -->
        <mat-form-field class="ntk-full-width" *ngIf="fieldsInfo['aboutAgentTel']?.accessWatchField">
          <mat-label>{{fieldsInfo['aboutAgentTel']?.fieldTitle}}</mat-label>
          <input matInput [(ngModel)]="dataModel.aboutAgentTel" name="dataModel.aboutAgentTel" class="input-Mobile"
            #AboutAgentTel type="text" disabled="{{!fieldsInfo['aboutAgentTel']?.accessEditField}}"
            placeholder="{{fieldsInfo['aboutAgentTel']?.fieldTitle}}" minlength="0" maxlength="100" />
          <mat-icon matSuffix *ngIf="dataModel.aboutAgentTel" matSuffix mat-icon-button aria-label="Clear"
            (click)="dataModel.aboutAgentTel = ''">close</mat-icon>
          <mat-icon matSuffix>mode_edit</mat-icon>
          <mat-hint align="start">
            <mat-icon matSuffix class="info-field-icon">info</mat-icon>
            <strong class="info-field-text">{{fieldsInfo['aboutAgentTel']?.FieldDescription}}</strong>
          </mat-hint>
          <mat-hint align="end">{{ AboutAgentTel.value.length }} / 100</mat-hint>
        </mat-form-field>

        <!-- AboutCustomerMobile Field -->
        <mat-form-field class="ntk-full-width" *ngIf="fieldsInfo['aboutCustomerMobile']?.accessWatchField">
          <mat-label>{{fieldsInfo['aboutCustomerMobile']?.fieldTitle}}</mat-label>
          <input matInput [(ngModel)]="dataModel.aboutCustomerMobile" name="dataModel.aboutCustomerMobile"
            class="input-Mobile" #AboutCustomerMobile type="text"
            disabled="{{!fieldsInfo['aboutCustomerMobile']?.accessEditField}}"
            placeholder="{{fieldsInfo['aboutCustomerMobile']?.fieldTitle}}" minlength="0" maxlength="100" />
          <mat-icon matSuffix *ngIf="dataModel.aboutCustomerMobile" class="pointer" matSuffix mat-icon-button
            aria-label="Clear" (click)="dataModel.aboutCustomerMobile = ''">close</mat-icon>
          <mat-icon matSuffix *ngIf="dataModel.aboutCustomerMobile" class="pointer"
            (click)="onActionbuttonQuickListSearchCustomerMobile()">find_replace</mat-icon>
          <mat-icon class="pointer" matSuffix>mode_edit</mat-icon>

          <mat-hint align="start">
            <mat-icon matSuffix class="info-field-icon">info</mat-icon>
            <strong class="info-field-text">{{fieldsInfo['aboutCustomerMobile']?.FieldDescription}}</strong>
          </mat-hint>
          <mat-hint align="end">{{ AboutCustomerMobile.value.length }} / 100</mat-hint>
        </mat-form-field>

        <!-- AboutCustomerTel Field -->
        <mat-form-field class="ntk-full-width" *ngIf="fieldsInfo['aboutCustomerTel']?.accessWatchField">
          <mat-label>{{fieldsInfo['aboutCustomerTel']?.fieldTitle}}</mat-label>
          <input matInput [(ngModel)]="dataModel.aboutCustomerTel" name="dataModel.aboutCustomerTel"
            class="input-Mobile" #AboutCustomerTel type="text"
            disabled="{{!fieldsInfo['aboutCustomerTel']?.accessEditField}}"
            placeholder="{{fieldsInfo['aboutCustomerTel']?.fieldTitle}}" minlength="0" maxlength="100" />
          <mat-icon matSuffix class="pointer" *ngIf="dataModel.aboutCustomerTel" matSuffix mat-icon-button
            aria-label="Clear" (click)="dataModel.aboutCustomerTel = ''">close</mat-icon>
          <mat-icon matSuffix class="pointer" *ngIf="dataModel.aboutCustomerTel"
            (click)="onActionbuttonQuickListSearchCustomerTel()">
            find_replace</mat-icon>
          <mat-icon matSuffix class="pointer">mode_edit</mat-icon>

          <mat-hint align="start">
            <mat-icon matSuffix class="info-field-icon">info</mat-icon>
            <strong class="info-field-text">{{fieldsInfo['aboutCustomerTel']?.FieldDescription}}</strong>
          </mat-hint>
          <mat-hint align="end">{{ AboutCustomerTel.value.length }} / 100</mat-hint>
        </mat-form-field>
        <div *ngIf="formInfo.formSubmitAllow  && !loading.display" class="ntk-button-row">
          <button type="button" mat-raised-button color="accent" matStepperPrevious>
            {{'ACTION.BEFOR' | translate}}
          </button>
          <button type="button" mat-raised-button color="primary" [disabled]="!vform.form.valid" matStepperNext>
            {{'ACTION.NEXT' | translate}}
          </button>
        </div>

      </mat-step>

      <mat-step label="{{'TITLE.SECRET_INFORMATION' | translate}}" state="main"
        *ngIf="fieldsInfo['descriptionHidden']?.accessWatchField && fieldsInfo['addressHidden']?.accessWatchField">

        <!-- DescriptionHidden Field -->
        <mat-form-field class="ntk-full-width">
          <mat-label>{{'TITLE.Description_Hidden' | translate}}</mat-label>
          <textarea matInput [(ngModel)]="dataModel.descriptionHidden" name="dataModel.descriptionHidden"
            #DescriptionHidden type="text" placeholder="{{fieldsInfo['descriptionHidden']?.fieldTitle}}" minlength="1"
            maxlength="2000" rows=5></textarea>
          <mat-icon matSuffix *ngIf="dataModel.descriptionHidden" matSuffix mat-icon-button aria-label="Clear"
            (click)="dataModel.descriptionHidden = ''">close</mat-icon>
          <mat-icon matSuffix>mode_edit</mat-icon>
          <mat-hint align="start">
            <mat-icon matSuffix class="info-field-icon">info</mat-icon>
            <strong class="info-field-text">{{fieldsInfo['descriptionHidden']?.FieldDescription}}</strong>
          </mat-hint>
          <mat-hint align="end">{{ DescriptionHidden.value.length }} / 2000</mat-hint>
          <mat-error *ngIf="DescriptionHidden.errors?.required">
            {{fieldsInfo['descriptionHidden']?.fieldTitle}} <strong>{{'MESSAGE.required' | translate}}</strong>
          </mat-error>
        </mat-form-field>
        <!-- AddressHidden Field -->
        <mat-form-field class="ntk-full-width">
          <mat-label>{{'TITLE.Address_Hidden' | translate}}</mat-label>
          <textarea matInput [(ngModel)]="dataModel.addressHidden" name="dataModel.addressHidden" #AddressHidden
            type="text" placeholder="{{fieldsInfo['addressHidden']?.fieldTitle}}" minlength="1" maxlength="2000"
            rows=5></textarea>
          <mat-icon matSuffix *ngIf="dataModel.addressHidden" matSuffix mat-icon-button aria-label="Clear"
            (click)="dataModel.addressHidden = ''">close</mat-icon>
          <mat-icon matSuffix>mode_edit</mat-icon>
          <mat-hint align="start">
            <mat-icon matSuffix class="info-field-icon">info</mat-icon>
            <strong class="info-field-text">{{fieldsInfo['addressHidden']?.FieldDescription}}</strong>
          </mat-hint>
          <mat-hint align="end">{{ AddressHidden.value.length }} / 2000</mat-hint>
          <mat-error *ngIf="AddressHidden.errors?.required">
            {{fieldsInfo['addressHidden']?.fieldTitle}} <strong>{{'MESSAGE.required' | translate}}</strong>
          </mat-error>
        </mat-form-field>


        <div *ngIf="formInfo.formSubmitAllow  && !loading.display" class="ntk-button-row">
          <button type="button" mat-raised-button color="accent" matStepperPrevious>
            {{'ACTION.BEFOR' | translate}}
          </button>
          <button type="button" mat-raised-button color="primary" [disabled]="!vform.form.valid" matStepperNext
            *ngIf="dataModel.linkPropertyTypeUsageId && dataModel.linkPropertyTypeUsageId.length>0">
            {{'ACTION.NEXT' | translate}}
          </button>
        </div>
      </mat-step>

      <mat-step label="{{'TITLE.Details' | translate}}" state="seo"
        *ngIf="dataModel.propertyDetailGroups && dataModel.propertyDetailGroups.length>0">
        <p>{{'TITLE.Property_details_according_to_the_type_of_property' | translate}}</p>
        <!-- LinkPropertyCompanyId Field -->
        <app-estate-property-company-selector *ngIf="this.tokenHelper.isAdminSite" [(loading)]="loading"
          (optionChange)="onActionSelectorCompany($event)" [optionSelectForce]="dataModel.linkPropertyCompanyId"
          [optionPlaceholder]="this.translate.instant('TITLE.Company')">
        </app-estate-property-company-selector>

        <!-- LinkPropertyProjectId Field -->
        <app-estate-property-project-selector *ngIf="this.tokenHelper.isAdminSite" [(loading)]="loading"
          (optionChange)="onActionSelectorProject($event)" [optionSelectForce]="dataModel.linkPropertyProjectId"
          [optionPlaceholder]="this.translate.instant('TITLE.Project')">
        </app-estate-property-project-selector>

        <hr>

        <mat-accordion class="example-headers-align">
          <mat-expansion-panel *ngFor="let itemGroup of dataModel.propertyDetailGroups ; index as i"
            [expanded]="step === i" (opened)="setStep(i)">
            <mat-expansion-panel-header>
              <mat-panel-title>
                {{itemGroup.title}}
              </mat-panel-title>
              <mat-panel-description>
                {{itemGroup.description}}
                <mat-icon>{{itemGroup.iconFont}}</mat-icon>
              </mat-panel-description>
            </mat-expansion-panel-header>

            <!-- value-->
            <ng-container *ngFor="let itemDetail of itemGroup.propertyDetails">
              <ng-container [ngSwitch]="itemDetail.inputDataType">
                <!-- ngSwitchCase-->
                <div *ngSwitchCase="enumInputDataType.String" class="ntk-full-width">
                  <i [ngClass]="itemDetail.iconFont" [style.color]="itemDetail.iconColor"
                    aria-hidden="true"></i>&nbsp;&nbsp;
                  <app-input-string [(model)]="propertyDetails[itemDetail.id]"
                    [optionForceUseDefaultValue]="itemDetail.configValueForceUseDefaultValue"
                    [optionMultipleChoice]="itemDetail.configValueMultipleChoice"
                    [optionDefaultValue]="itemDetail.configValueDefaultValue" [optionRequired]="itemDetail.required"
                    [optionTitle]="itemDetail.title" style="color:'{{itemDetail.iconColor}}';">
                  </app-input-string>
                </div>
                <!-- ngSwitchCase-->
                <div *ngSwitchCase="enumInputDataType.Int" class="ntk-full-width">
                  <i [ngClass]="itemDetail.iconFont" [style.color]="itemDetail.iconColor"
                    aria-hidden="true"></i>&nbsp;&nbsp;
                  <app-input-int [(model)]="propertyDetails[itemDetail.id]" [optionRequired]="itemDetail.required"
                    [optionTitle]="itemDetail.title" style="color:'{{itemDetail.iconColor}}';">
                  </app-input-int>
                </div>
                <!-- ngSwitchCase-->
                <div *ngSwitchCase="enumInputDataType.Boolean" class="ntk-full-width">
                  <i [ngClass]="itemDetail.iconFont" [style.color]="itemDetail.iconColor"
                    aria-hidden="true"></i>&nbsp;&nbsp;
                  <app-input-boolean [(model)]="propertyDetails[itemDetail.id]">{{itemDetail.title}}
                  </app-input-boolean>
                </div>
                <!-- ngSwitchCase-->
                <div *ngSwitchCase="enumInputDataType.Float" class="ntk-full-width">
                  <i [ngClass]="itemDetail.iconFont" [style.color]="itemDetail.iconColor"
                    aria-hidden="true"></i>&nbsp;&nbsp;
                  <app-input-float [(model)]="propertyDetails[itemDetail.id]" [optionRequired]="itemDetail.required"
                    [optionTitle]="itemDetail.title" style="color:'{{itemDetail.iconColor}}';">
                  </app-input-float>
                </div>
                <!-- ngSwitchCase-->
                <div *ngSwitchCase="enumInputDataType.Date" class="ntk-full-width">
                  <i [ngClass]="itemDetail.iconFont" [style.color]="itemDetail.iconColor"
                    aria-hidden="true"></i>&nbsp;&nbsp;
                  <label style="color:'{{itemDetail.iconColor}}';">{{itemDetail.title}}</label>
                  <app-input-date [(model)]="propertyDetails[itemDetail.id]" [optionRequired]="itemDetail.required">
                  </app-input-date>
                </div>
                <!-- ngSwitchCase-->
                <div *ngSwitchCase="enumInputDataType.TextArea" class="ntk-full-width">
                  <i [ngClass]="itemDetail.iconFont" [style.color]="itemDetail.iconColor"
                    aria-hidden="true"></i>&nbsp;&nbsp;
                  <app-input-textarea [(model)]="propertyDetails[itemDetail.id]" [optionRequired]="itemDetail.required"
                    [optionTitle]="itemDetail.title" style="color:'{{itemDetail.iconColor}}';">
                  </app-input-textarea>
                </div>
                <!-- ngSwitchCase-->
                <div *ngSwitchDefault class="ntk-full-width">
                  <i [ngClass]="itemDetail.iconFont" [style.color]="itemDetail.iconColor"
                    aria-hidden="true"></i>&nbsp;&nbsp;
                  <app-input-string [(model)]="propertyDetails[itemDetail.id]"
                    [optionForceUseDefaultValue]="itemDetail.configValueForceUseDefaultValue"
                    [optionMultipleChoice]="itemDetail.configValueMultipleChoice"
                    [optionDefaultValue]="itemDetail.configValueDefaultValue" [optionRequired]="itemDetail.required"
                    [optionTitle]="itemDetail.title" style="color:'{{itemDetail.iconColor}}';">
                  </app-input-string>
                </div>
              </ng-container>
            </ng-container>
            <mat-action-row>
              <button mat-button type="button" color="warn" *ngIf="i>0" (click)="prevStep()">{{'ACTION.PREVIOUS' |
                translate}}</button>
              <button mat-button type="button" color="primary" *ngIf="(i+1)<dataModel.propertyDetailGroups.length"
                (click)="nextStep()">{{'ACTION.NEXT' | translate}}</button>
              <button mat-button type="button" color="primary" *ngIf="(i+1)===dataModel.propertyDetailGroups.length"
                (click)="nextStep()">{{'ACTION.END' | translate}}</button>

            </mat-action-row>
          </mat-expansion-panel>
          <br>

        </mat-accordion>
        <div *ngIf="formInfo.formSubmitAllow  && !loading.display" class="ntk-button-row">
          <button type="button" mat-raised-button color="accent" matStepperPrevious>
            {{'ACTION.BEFOR' | translate}}
          </button>
          <button type="button" mat-raised-button color="primary" [disabled]="!vform.form.valid" matStepperNext>
            {{'ACTION.NEXT' | translate}}
          </button>
        </div>
      </mat-step>
      <mat-step label="{{'TITLE.Contract' | translate}}" state="seo">
        <p>{{'TITLE.If_you_sell_your_property_activate_the_option_below' | translate}}</p>
        <!-- IsSoldIt Field -->
        <div class="ntk-full-width">
          <mat-slide-toggle [(ngModel)]="dataModel.isSoldIt" *ngIf="fieldsInfo['isSoldIt']?.accessWatchField"
            [disabled]="!fieldsInfo['isSoldIt']?.accessEditField" name="dataModel.isSoldIt">
            {{fieldsInfo['isSoldIt']?.fieldTitle}}
          </mat-slide-toggle>
        </div>
        <!-- ReviewDataAfterSoldIt Field -->
        <mat-form-field class="ntk-full-width"
          *ngIf="fieldsInfo['reviewDataAfterSoldIt']?.accessWatchField && dataModel.isSoldIt">
          <mat-label>{{fieldsInfo['reviewDataAfterSoldIt']?.fieldTitle}}</mat-label>
          <input matInput [matDatepicker]="ReviewDataAfterSoldIt" [(ngModel)]="dataModel.reviewDataAfterSoldIt"
            name="dataModel.reviewDataAfterSoldIt" />
          <mat-icon matSuffix
            *ngIf="dataModel.reviewDataAfterSoldIt && fieldsInfo['reviewDataAfterSoldIt']?.accessEditField" matSuffix
            mat-icon-button aria-label="Clear" (click)="dataModel.reviewDataAfterSoldIt = null">close</mat-icon>
          <mat-datepicker-toggle matSuffix [for]="ReviewDataAfterSoldIt"></mat-datepicker-toggle>
          <mat-datepicker touchUi #ReviewDataAfterSoldIt></mat-datepicker>
        </mat-form-field>
        <hr>
        <p>{{'TITLE.Specify_the_type_of_transaction_for_this_property' | translate}}</p>
        <app-estate-contract-type-selector (optionChange)="onActionSelectorContractType($event)"
          [optionDisabled]="false" [optionTypeView]="2" [(loading)]="loading"
          [optionPlaceholder]="this.translate.instant('TITLE.Type_Of_Transaction')"
          [optionSelectForce]="contractDataModel.linkEstateContractTypeId">
        </app-estate-contract-type-selector>

        <div class="container" *ngIf="contractTypeSelected && contractTypeSelected.id.length>0">
          <br>

          <br>
          <app-cms-currency-selector [optionSelectFirstItem]="currencyOptionSelectFirstItem" [(loading)]="loading"
            [optionSelectForce]="contractDataModel.linkCoreCurrencyId" (optionChange)="onActionSelectCurrency($event)"
            [optionPlaceholder]="this.translate.instant('TITLE.Specify_the_transaction_currency')">
          </app-cms-currency-selector>
          <div *ngIf="contractDataModel.linkCoreCurrencyId>0">

            <!-- SalePrice Field -->
            <div class="row" *ngIf="contractTypeSelected.hasSalePrice">
              <div class="col-6">
                <mat-form-field class="ntk-full-width">
                  <mat-label>{{contractTypeSelected.titleSalePriceML}}</mat-label>
                  <input matInput [(ngModel)]="contractDataModel.salePrice" name="contractDataModel.salePrice"
                    [disabled]="contractDataModel.salePriceByAgreement" type="number" placeholder="0" />
                  <mat-icon matSuffix mat-icon-button aria-label="Clear" (click)="contractDataModel.salePrice = 0">
                    close</mat-icon>
                  <mat-icon matSuffix>mode_edit</mat-icon>
                  <mat-label> ({{dataModelCorCurrencySelector.titleML}} {{dataModelCorCurrencySelector.symbol}} )
                  </mat-label>
                </mat-form-field>
              </div>
              <div class="col-3">

              </div>
              <div class="col-3">
                <mat-slide-toggle *ngIf="contractTypeSelected.salePriceAllowAgreement"
                  [(ngModel)]="contractDataModel.salePriceByAgreement" (change)="onActionClickSalePriceAllowAgreement()"
                  name="contractDataModel.salePriceAllowAgreement">
                  {{'TITLE.Agreement' | translate}}
                </mat-slide-toggle>
              </div>
            </div>

            <div class="row" *ngIf="contractTypeSelected.hasDepositPrice">
              <div class="col-6">
                <!-- DepositPrice Field -->
                <mat-form-field class="ntk-full-width">
                  <mat-label>{{contractTypeSelected.titleDepositPriceML}}</mat-label>
                  <input matInput [(ngModel)]="contractDataModel.depositPrice" name="contractDataModel.depositPrice"
                    [disabled]="contractDataModel.depositPriceByAgreement" type="number" placeholder="0" />
                  <mat-icon matSuffix mat-icon-button aria-label="Clear" (click)="contractDataModel.depositPrice = 0">
                    close</mat-icon>
                  <mat-icon matSuffix>mode_edit</mat-icon>
                  <mat-label> ({{dataModelCorCurrencySelector.titleML}} {{dataModelCorCurrencySelector.symbol}} )
                  </mat-label>
                </mat-form-field>
              </div>
              <div class="col-3">

              </div>
              <div class="col-3">
                <mat-slide-toggle *ngIf="contractTypeSelected.depositPriceAllowAgreement"
                  [(ngModel)]="contractDataModel.depositPriceByAgreement"
                  (change)="onActionClickDepositPriceByAgreement()" name="contractDataModel.depositPriceByAgreement">
                  {{'TITLE.Agreement' | translate}}
                </mat-slide-toggle>
              </div>
            </div>

            <div class="row" *ngIf="contractTypeSelected.hasRentPrice">
              <div class="col-6">
                <!-- RentPrice Field -->
                <mat-form-field class="ntk-full-width">
                  <mat-label>{{contractTypeSelected.titleRentPriceML}}</mat-label>
                  <input matInput [(ngModel)]="contractDataModel.rentPrice" name="contractDataModel.rentPrice"
                    [disabled]="contractDataModel.rentPriceByAgreement" type="number" placeholder="0" />
                  <mat-icon matSuffix mat-icon-button aria-label="Clear" (click)="contractDataModel.rentPrice = 0">
                    close</mat-icon>
                  <mat-icon matSuffix>mode_edit</mat-icon>
                  <mat-label> ({{dataModelCorCurrencySelector.titleML}} {{dataModelCorCurrencySelector.symbol}} )
                  </mat-label>
                </mat-form-field>
              </div>
              <div class="col-3">

              </div>
              <div class="col-3">
                <mat-slide-toggle *ngIf="contractTypeSelected.rentPriceAllowAgreement"
                  [(ngModel)]="contractDataModel.rentPriceByAgreement" (change)="onActionClickRentPriceAllowAgreement()"
                  name="contractDataModel.rentPriceByAgreement">
                  {{'TITLE.Agreement' | translate}}
                </mat-slide-toggle>
              </div>
            </div>

            <div class="row" *ngIf="contractTypeSelected.hasPeriodPrice">
              <div class="col-6">
                <!-- periodPrice Field -->
                <mat-form-field class="ntk-full-width">
                  <mat-label>{{contractTypeSelected.titlePeriodPriceML}}</mat-label>
                  <input matInput [(ngModel)]="contractDataModel.periodPrice" name="contractDataModel.periodPrice"
                    [disabled]="contractDataModel.periodPriceByAgreement" type="number" placeholder="0" />
                  <mat-icon matSuffix mat-icon-button aria-label="Clear" (click)="contractDataModel.periodPrice = 0">
                    close</mat-icon>
                  <mat-icon matSuffix>mode_edit</mat-icon>
                  <mat-label> ({{dataModelCorCurrencySelector.titleML}} {{dataModelCorCurrencySelector.symbol}} )
                  </mat-label>
                </mat-form-field>
              </div>

              <div class="col-3">

              </div>
              <div class="col-3">
                <mat-slide-toggle
                  *ngIf="contractTypeSelected.hasPeriodPrice && contractTypeSelected.periodPriceAllowAgreement"
                  [(ngModel)]="contractDataModel.periodPriceByAgreement"
                  (change)="onActionClickPeriodPriceAllowAgreement()" name="contractDataModel.periodPriceByAgreement">
                  {{'TITLE.Agreement' | translate}}
                </mat-slide-toggle>
              </div>
            </div>
            <hr>
            <!-- contractDataModel.description Field -->
            <mat-form-field class="ntk-full-width">
              <mat-label>{{fieldsInfo['description']?.fieldTitle}}</mat-label>
              <textarea matInput [(ngModel)]="contractDataModel.description" name="contractDataModel.description"
                #contractDataModel_Description type="text" placeholder="{{fieldsInfo['description']?.fieldTitle}}"
                minlength="0" maxlength="500" rows=5></textarea>
              <mat-icon matSuffix *ngIf="contractDataModel.description" matSuffix mat-icon-button aria-label="Clear"
                (click)="contractDataModel.description = ''">close</mat-icon>
              <mat-icon matSuffix>mode_edit</mat-icon>
              <mat-hint align="end">{{ contractDataModel_Description.value.length }} / 500</mat-hint>

            </mat-form-field>
          </div>
          <br>
          <br>
          <button (click)="onActionOptionAddToList()" type="button" mat-button
            *ngIf="contractTypeSelected && contractTypeSelected.id.length>0"
            class="btn btn-light-primary font-weight-bold font-size-h5 px-9 py-4" style="margin: 10px 0px;">
            {{'ACTION.Add_To_List' | translate}} ...
          </button>
        </div>
        <hr>
        <p> {{'TITLE.List_Of_Transaction_Details_Of_This_Property' | translate}} </p>
        <app-progress-spinner [options]="loadingOption">
        </app-progress-spinner>
        <!-- TABLE  -->
        <div class="example-container mat-elevation-z8" *ngIf="!loadingOption.display">
          <mat-table [dataSource]="optionTabledataSource" multiTemplateDataRows>
            <!-- LinkEstateContractTypeId Column -->
            <ng-container matColumnDef="LinkEstateContractTypeId">
              <mat-header-cell *matHeaderCellDef> {{'TITLE.Contract' | translate}} </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.linkEstateContractTypeId | cmstitle:
                dataModelEstateContractTypeResult.listItems}} </mat-cell>

            </ng-container>
            <!-- SalePrice Column -->
            <ng-container matColumnDef="SalePrice">
              <mat-header-cell *matHeaderCellDef> {{'TITLE.SalePrice' | translate}} </mat-header-cell>
              <mat-cell *matCellDef="let row">
                <ng-container *ngIf="row.salePrice>0">
                  {{row.salePrice | number}} <br>( {{row.currencyTitle}} {{row.currencySymbol}} )
                </ng-container>
                <ng-container *ngIf="row.salePriceByAgreement">
                  {{'TITLE.PriceByAgreement' | translate}}
                </ng-container>
                <ng-container *ngIf="row.salePrice>0&&dataModel.area>0">
                  (مترمربع :{{row.salePrice/dataModel.area | number}})
                </ng-container>
              </mat-cell>
            </ng-container>
            <!-- DepositPrice Column -->
            <ng-container matColumnDef="DepositPrice">
              <mat-header-cell *matHeaderCellDef> {{'TITLE.DepositPrice' | translate}} </mat-header-cell>
              <mat-cell *matCellDef="let row">
                <ng-container *ngIf="row.depositPrice>0">
                  {{row.depositPrice | number}}<br> ( {{row.currencyTitle}} {{row.currencySymbol}} )
                </ng-container>
                <ng-container *ngIf="row.depositPriceByAgreement">
                  {{'TITLE.PriceByAgreement' | translate}}
                </ng-container>
              </mat-cell>
            </ng-container>
            <!-- RentPrice Column -->
            <ng-container matColumnDef="RentPrice">
              <mat-header-cell *matHeaderCellDef> {{'TITLE.RentPrice' | translate}} </mat-header-cell>
              <mat-cell *matCellDef="let row">
                <ng-container *ngIf="row.rentPrice>0">
                  {{row.rentPrice | number}}<br> ( {{row.currencyTitle}} {{row.currencySymbol}} )
                </ng-container>
                <ng-container *ngIf="row.rentPriceByAgreement">
                  {{'TITLE.PriceByAgreement' | translate}}
                </ng-container>
              </mat-cell>
            </ng-container>

            <!-- PeriodPrice Column -->
            <ng-container matColumnDef="PeriodPrice">
              <mat-header-cell *matHeaderCellDef> {{'TITLE.PeriodPrice' | translate}} </mat-header-cell>
              <mat-cell *matCellDef="let row">
                <ng-container *ngIf="row.periodPrice>0">
                  {{row.periodPrice | number}}
                  <br>
                  ( {{row.currencyTitle}} {{row.currencySymbol}})
                </ng-container>
                <ng-container *ngIf="row.periodPriceByAgreement">
                  {{'TITLE.PriceByAgreement' | translate}}
                </ng-container>
              </mat-cell>
            </ng-container>
            <!-- Action Column -->
            <ng-container matColumnDef="Action">
              <mat-header-cell *matHeaderCellDef> {{'TITLE.OPTION' | translate}} </mat-header-cell>
              <mat-cell *matCellDef="let row; let i = index" class='Action'>
                <button mat-icon-button type="button" (click)="onActionOptionRemoveFromList(i)">
                  <small >
                    <mat-icon matTooltip="{{'ACTION.DELETE' | translate}}" matTooltipPosition="before"
                      aria-hidden="false" style="color: red;">delete</mat-icon>
                  </small>
                </button>
              </mat-cell>
            </ng-container>

            <!-- description Detail -->
            <ng-container matColumnDef="descriptionDetail">
              <mat-cell *matCellDef="let row" colspan="6">
                {{'TITLE.DESCRIPTION' | translate}} :
                <ng-container *ngIf="row.description">
                  {{ row.description }}
                </ng-container>
              </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="optionTabledisplayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: optionTabledisplayedColumns;">
            </mat-row>
            <mat-row *matRowDef="let row; columns: ['descriptionDetail']">
            </mat-row>
          </mat-table>
        </div>
        <br>
        <!-- TABLE  -->
        <div *ngIf="formInfo.formSubmitAllow  && !loading.display" class="ntk-button-row">
          <button type="button" mat-raised-button color="accent" matStepperPrevious>
            {{'ACTION.BEFOR' | translate}}
          </button>
          <button type="button" mat-raised-button color="primary" [disabled]="!vform.form.valid" matStepperNext>
            {{'ACTION.NEXT' | translate}}
          </button>
        </div>
      </mat-step>

      <div class="row alert alert-custom alert-white alert-shadow gutter-b">
        <mat-step label="{{'TITLE.ATTACH_FILES' | translate}}" state="file">

          <div class="col-md-12 col-sm-12">

            <p>{{'TITLE.CONTENT_ATTACH_FILES' | translate}}</p>
            <div class="mb-3">
              <a href="{{dataModel.linkMainImageIdSrc | cmsthumbnail}}" target="_blank">
                <img *ngIf="dataModel?.linkMainImageIdSrc?.length>0" style="vertical-align:middle;"
                  class="ntk-hover-zoom" aria-hidden src="{{dataModel.linkMainImageIdSrc | cmsthumbnail}}" height="50"
                  width="50" />
              </a>
            </div>
            <div class="mb-9">
              <mat-form-field class="ntk-full-width">

                <mat-label (click)="fileManagerOpenForm = true">{{'TITLE.Original_Photo' | translate}}</mat-label>
                <input matInput [(ngModel)]="dataModel.linkMainImageId" name="dataModel.linkMainImageId"
                  #LinkMainImageId type="text" placeholder="{{'TITLE.Original_File_ID' | translate}}" autocomplete="off"
                  (click)="fileManagerOpenForm = true" />
                <mat-icon matSuffix *ngIf="dataModel.linkMainImageId" matSuffix mat-icon-button aria-label="Clear"
                  (click)="dataModel.linkMainImageId = null">close</mat-icon>
                <mat-icon matSuffix (click)="fileManagerOpenForm = true">mode_edit</mat-icon>
              </mat-form-field>

              <cms-file-manager (itemSelected)="onActionFileSelectedLinkMainImageId($event)" [language]="appLanguage"
                [isPopup]="true" [(openForm)]="fileManagerOpenForm" [tree]="fileManagerTree"
                [openDirectUploadView]="true" [openFilemanagerButtonLabelKey]="'select'"
                [selectFileType]="selectFileTypeMainImage" [openFilemanagerButtonView]="false"></cms-file-manager>
            </div>
            <hr>
            <p *ngIf="dataFileModelImgaes && dataFileModelImgaes.size>0">{{'TITLE.List_of_attached_photos' | translate}}
            </p>
            <app-cms-files-selector [(dataFileModel)]="dataFileModelImgaes" [openDirectUploadView]="true"
              [optionFileType]="selectFileTypeMainImage">
            </app-cms-files-selector>
            <div *ngIf="!hidden">
              <p>{{'TITLE.List_of_attached_files' | translate}}</p>
              <app-cms-files-selector [(dataFileModel)]="dataFileModelFiles" [openDirectUploadView]="true">
              </app-cms-files-selector>
            </div>
            <br>

            <hr>
            <br>

            <h3>{{'TITLE.image_360' | translate}}</h3>
            <app-cms-360-image-list [(dataModel)]="dataModel.file360Views"></app-cms-360-image-list>
            <br>
            <h3>{{'TITLE.virtual_tour' | translate}}</h3>
            <app-cms-360-tour-list [(dataModel)]="dataModel.file360Tour"
              [dataImageModel]="dataModel.file360Views"></app-cms-360-tour-list>


          </div>


          <div>
            <div class="col-md-12 col-sm-12 col-xs-18">
              <div *ngIf="formInfo.formSubmitAllow  && !loading.display" class="ntk-button-row">
                <button type="button" mat-raised-button color="accent" matStepperPrevious>
                  {{'ACTION.BEFOR' | translate}}
                </button>
                <button type="button" mat-raised-button color="primary" [disabled]="!vform.form.valid" matStepperNext>
                  {{'ACTION.NEXT' | translate}}
                </button>
              </div>
            </div>
          </div>

        </mat-step>
      </div>

      <mat-step label="{{'TITLE.Location' | translate}}" state="loaction">

        <p>{{'TITLE.Click_on_the_map_to_specify_the_location' | translate}}</p>
        <app-cms-map (map$)="receiveMap($event)" (zoom$)="receiveZoom($event)" [optonCenter]="mapOptonCenter"
          id='main-map'></app-cms-map>
        <button type="button" class="btn btn-light-primary" (click)="ActionCurrentPoint()"> {{'ACTION.MY_LOCATION' |
          translate}}</button>
        <div *ngIf="formInfo.formSubmitAllow  && !loading.display" class="ntk-button-row">
          <button type="button" mat-raised-button (click)="onActionBackToParent()">
            {{'ACTION.BACK' | translate}}
          </button>
          <button type="button" mat-raised-button color="accent" matStepperPrevious>
            {{'ACTION.BEFOR' | translate}}
          </button>
          <button type="submit" mat-raised-button color="success" [disabled]="!vform.form.valid">
            {{'ACTION.SAVE' | translate}}
          </button>
        </div>
      </mat-step>

      <!-- Icon overrides. -->
      <ng-template matStepperIcon="main">
        <mat-icon>call_end</mat-icon>
      </ng-template>
      <ng-template matStepperIcon="seo">
        <mat-icon>call_end</mat-icon>
      </ng-template>
      <ng-template matStepperIcon="file">
        <mat-icon>forum</mat-icon>
      </ng-template>
      <ng-template matStepperIcon="loaction">
        <mat-icon>forum</mat-icon>
      </ng-template>

    </mat-horizontal-stepper>


    <!--end:::::::::::::::::::::::::::::::::::::::::cms-body-->
  </div>
  <div class="ntk-cms-html-card-message">
    <!--begin:::::::::::::::::::::::::::::::::::::::::cms-message-->

    <!--end:::::::::::::::::::::::::::::::::::::::::cms-message-->
  </div>
  <div class="ntk-cms-html-card-footer">
    <!--begin:::::::::::::::::::::::::::::::::::::::::cms-footer-->

    <!--end:::::::::::::::::::::::::::::::::::::::::cms-footer-->
  </div>
</form>
