<h2 mat-dialog-title>{{ formInfo.FormTitle }}</h2>
<mat-dialog-content>
  <form (ngSubmit)="onFormSubmit()" #vform="ngForm" class="form form-horizontal">
    <app-progress-spinner [options]="loading"> </app-progress-spinner>
    <div *ngIf="!loading.display" class="form-body">



      <div>
        <mat-form-field class="example-full-width">
          <mat-select placeholder="{{fieldsInfo['RecordStatus']?.FieldTitle}}" [(ngModel)]="dataModel.RecordStatus" name="dataModel.RecordStatus"
            #RecordStatus="ngModel" panelClass="recordStatus-{{ dataModel.RecordStatus }}" required>
            <mat-option *ngFor="
                let item of dataModelEnumRecordStatusResult.ListItems;
                index as i
              " [value]="item.Value">{{ item.Description }}</mat-option>
          </mat-select>
          <mat-hint align="end">{{'TITLE.SELECT_STATUS' | translate}}</mat-hint>
          <mat-error *ngIf="RecordStatus.errors?.required">
            RecordStatus is <strong>required</strong>
          </mat-error>
        </mat-form-field>
        <app-core-site-selector (optionSelect)="onActionSiteSelect($event)" [optionDisabled]="false"
          [optionSelectForce]="dataModel.LinkCmsSiteId" [optionPlaceholder]="'وب سایت'"></app-core-site-selector>
        <mat-form-field class="example-full-width">
          <mat-label>Domain</mat-label>
          <input matInput [(ngModel)]="dataModel.Domain" name="dataModel.Domain" #Domain type="text"
            placeholder="Domain" minlength="3" maxlength="50" required />
          <mat-icon matSuffix *ngIf="dataModel.Domain" matSuffix mat-icon-button aria-label="Clear"
            (click)="dataModel.Domain = ''">close</mat-icon>
          <mat-icon matSuffix>mode_edit</mat-icon>
          <mat-hint align="end">{{ Domain.value.length }} / 100</mat-hint>
          <mat-error *ngIf="Domain.errors?.required">
            Domain is <strong>required</strong>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-label>SubDomain</mat-label>
          <input matInput [(ngModel)]="dataModel.SubDomain" name="dataModel.SubDomain" #SubDomain type="text"
            placeholder="SubDomain" minlength="0" maxlength="50" required />
          <mat-icon matSuffix *ngIf="dataModel.SubDomain" matSuffix mat-icon-button aria-label="Clear"
            (click)="dataModel.SubDomain = ''">close</mat-icon>
          <mat-icon matSuffix>mode_edit</mat-icon>
          <mat-hint align="end">{{ SubDomain.value.length }} / 100</mat-hint>
          <mat-error *ngIf="SubDomain.errors?.required">
            SubDomain is <strong>required</strong>
          </mat-error>
        </mat-form-field>



      </div>
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <div class="form-actions">
    <small class="form-text text-muted">{{ formInfo.FormAlert }} </small>
    <small class="form-text text-muted danger">{{ formInfo.FormError }}
    </small>
  </div>
  <div class="form-actions" *ngIf="formInfo.FormSubmitAllow">
    <button type="button" (click)="onFormCancel()" class="btn btn-raised btn-warning mr-1">
      <i class="ft-x"></i> {{'ACTION.CANCEL' | translate}}
    </button>
        <button type="submit" (click)="onFormSubmit()" class="btn btn-raised btn-primary" [disabled]="!vform.form.valid">
      <i class="fa fa-check-square-o"></i> {{'ACTION.SAVE' | translate}}
    </button>
  </div>
</mat-dialog-actions>
