<div class="row">

    <div *ngIf="optionUrlViewContent && optionUrlViewContent.length>0">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-18">
                <p> {{optionTitle}}</p>
            </div>
        </div>
        <!-- username Field -->
        <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-6">
                <mat-form-field class="ntk-full-width">
                    <mat-label> کد شناسه</mat-label>
                    <input matInput [(ngModel)]="QDocModel.username" name="QDocModel.username" #QDocCode type="text"
                        placeholder="12345" />
                    <mat-icon matSuffix *ngIf="QDocModel.username" matSuffix mat-icon-button aria-label="Clear"
                        (click)="QDocModel.username = 0">close</mat-icon>
                    <mat-icon matSuffix>mode_edit</mat-icon>
                </mat-form-field>


                <button type="button" (click)="onActionSendUrlToQDoc()" class="btn btn-success BTN"
                    *ngIf="optionUrlViewContent && optionUrlViewContent.length>0 && QDocModel.username">
                    <i class="fa fa-check-square-o"></i> {{'ACTION.VIEW' | translate}}
                </button>
                <br>
                <h5 align="right">توضیحات:</h5>
                <p dir="rtl" align="right" style="font-size: 15px;">
                    شما میتوانید برای مشاهده هر کدام از محتواهای خود بر روی یک دستگاه دیگر از این بخش استفاده نمایید.
                    برای این انجام این کار کافیست از طریق دستگاهی که میخواهید محتوایتان بر روی آن نمایش داده شود وارد
                    سایت
                    <a href="https://qdoc.ir" target="_blank"> https://qdoc.ir </a>
                    شوید و کد نمایش داده شده را در این بخش وارد کنید تا محتوای شما بر روی مانیتور دستگاه مورد نظر
                    نمایش داده شود.
                </p>
                <button class="btn btn-secondary BTN" type="button" (click)="onActionOpenLink()">مشاهده صفحه</button>
            </div>

            <div class="col-md-8 col-sm-8 col-xs-12" style="text-align: center;">
                <div *ngIf="optionUrlViewContentQRCodeBase64?.length>0 && optionUrlViewContent?.length>0">
                    <a href="{{optionUrlViewContent}}" target="_blank">
                        <img [src]="optionUrlViewContentQRCodeBase64" alt="بارکد را اسکن کنید" height="200px"
                            width="200px">
                    </a>
                    <span class="navi-icon" [cdkCopyToClipboard]="optionUrlViewContent" (click)="onActionCopied()">
                        <i class="flaticon2-copy"></i></span>
                </div>

                <!-- <a href="{{optionUrlViewContent}}" target="_blank">{{optionUrlViewContent}}</a>
                <br> -->

            </div>
        </div>
    </div>
</div>