<div class="row">

    <div *ngIf="optionUrlViewContent && optionUrlViewContent.length>0">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-18">
                <p> {{optionTitle}}</p>
            </div>
        </div>
        <!-- username Field -->
        <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-6">
                <mat-form-field class="ntk-full-width">
                    <mat-label> {{'ACTION.ID_Code' | translate}}</mat-label>
                    <input matInput [(ngModel)]="QDocModel.username" name="QDocModel.username" #QDocCode type="text"
                        placeholder="12345" />
                    <mat-icon matSuffix *ngIf="QDocModel.username" matSuffix mat-icon-button aria-label="Clear"
                        (click)="QDocModel.username = 0">close</mat-icon>
                    <mat-icon matSuffix>mode_edit</mat-icon>
                </mat-form-field>


                <button type="button" (click)="onActionSendUrlToQDoc()" class="btn btn-success BTN"
                    *ngIf="optionUrlViewContent && optionUrlViewContent.length>0 && QDocModel.username">
                    <i class="fa fa-check-square-o"></i> {{'ACTION.VIEW' | translate}}
                </button>
                <br>
                <app-cms-guide-notice [Key]="'linkto.content'"></app-cms-guide-notice>
                <br>
                <button class="btn btn-secondary BTN" type="button" (click)="onActionOpenLink()">{{'ACTION.VIEW_PAGE' |
                    translate}}</button>
            </div>

            <div class="col-md-8 col-sm-8 col-xs-12" style="text-align: center;">
                <div *ngIf="optionUrlViewContentQRCodeBase64?.length>0 && optionUrlViewContent?.length>0">
                    <a href="{{optionUrlViewContent}}" target="_blank">
                        <img [src]="optionUrlViewContentQRCodeBase64" alt="بارکد را اسکن کنید" height="200px"
                            width="200px">
                    </a>
                </div>
                    <div class="mt-4">
                <a target="_blank" href="whatsapp://send?text={{optionTitle}}- {{optionUrlViewContent}}" class="style whatsapp">
                    <i class="flaticon-whatsapp text-dark"></i>
                </a>

                <a target="_blank"
                    href="https://telegram.me/share/url?url={{optionUrlViewContent}}&amp;text={{optionTitle}}"
                    class="style telegram">
                    <i class="flaticon2-telegram-logo text-dark"></i>
                </a>

                <a target="_blank"
                    href="https://www.linkedin.com/shareArticle?url={{optionUrlViewContent}}&amp;title={{optionTitle}}"
                    class="style linkedin">
                    <i class="flaticon-linkedin-logo text-dark"></i>
                </a>

                <a target="_blank" href="http://www.facebook.com/share.php?u={{optionUrlViewContent}}" class="style facebook">
                    <i class="flaticon-facebook-letter-logo text-dark"></i>
                </a>

                <a target="_blank" href="http://twitter.com/share?text={{optionTitle}}&amp;url={{optionUrlViewContent}}"
                    class="style twitter">
                    <i class="flaticon-twitter-logo text-dark"></i>
                </a>
                <span class="navi-icon style cursor" [cdkCopyToClipboard]="optionUrlViewContent"
                    (click)="onActionCopied()">
                    <i class="flaticon2-copy text-dark"></i></span>
                </div>
            </div>
        </div>
    </div>
</div>