<app-cms-html-notice [svg]="'assets/media/svg/icons/Tools/Compass.svg'">
  مشخصات و لینک های اشتراک گزاری برای شما و وب سایت شما
</app-cms-html-notice>
<div class="ntk-cms-html-card-body">
  <app-progress-spinner [options]="loading"> </app-progress-spinner>
  <!--begin:::::::::::::::::::::::::::::::::::::::::cms-body-->
  <p *ngIf="dataModelResult.Item?.UserTitle?.length>0">
    نام شما:
    <br>
    {{dataModelResult.Item.UserTitle}}
  </p>
  <p *ngIf="dataModelResult.Item?.SiteTitle?.length>0">
    عنوان سامانه
    <br>
    {{dataModelResult.Item.SiteTitle}}
  </p>
  <div *ngIf="dataModelResult.Item?.UrlResellerSite?.length>0">
    <p>
      آدرس وب سایت
      <br>
      {{dataModelResult.Item.UrlSiteHome}}

      <span class="navi-icon" [cdkCopyToClipboard]="dataModelResult.Item.UrlSiteHome"
        (click)="onActionCopied()"><i class="flaticon2-copy"></i></span>
    </p>
    <img [src]="dataModelResult.Item.UrlSiteHomeShortLinkQRCodeBase64" alt="بارکد را اسکن کنید"
      *ngIf="dataModelResult?.Item?.UrlSiteHomeShortLinkQRCodeBase64?.length>0" height="300px" width="300px">
  </div>
  <div *ngIf="dataModelResult.Item?.UrlSiteCPanel?.length>0">
    <p>
      آدرس سامانه مدیریت محتوا
      <br>
      {{dataModelResult.Item.UrlSiteCPanel}}

      <span class="navi-icon" [cdkCopyToClipboard]="dataModelResult.Item.UrlSiteCPanel"
        (click)="onActionCopied()"><i class="flaticon2-copy"></i></span>
    </p>
    <img [src]="dataModelResult.Item.UrlSiteCPanelShortLinkQRCodeBase64" alt="بارکد را اسکن کنید"
      *ngIf="dataModelResult?.Item?.UrlSiteCPanelShortLinkQRCodeBase64?.length>0" height="300px" width="300px">
  </div>
  <div *ngIf="dataModelResult.Item?.UrlResellerSite?.length>0">
    <p>
      آدرس اشتراک گزاری وب سایت
      <br>
      {{dataModelResult.Item.UrlResellerSiteShortLinkUrl}}

      <span class="navi-icon" [cdkCopyToClipboard]="dataModelResult.Item.UrlResellerSiteShortLinkUrl"
        (click)="onActionCopied()"><i class="flaticon2-copy"></i></span>
    </p>
    <img [src]="dataModelResult.Item.UrlResellerSiteShortLinkQRCodeBase64" alt="بارکد را اسکن کنید"
      *ngIf="dataModelResult?.Item?.UrlResellerSiteShortLinkQRCodeBase64?.length>0" height="300px" width="300px">
  </div>
  <div *ngIf="dataModelResult.Item?.UrlResellerUser?.length>0">
    <p>
      آدرس اشتراک گزاری با حساب کاربری شما
      <br>
      {{dataModelResult.Item.UrlResellerUserShortLinkUrl}}

      <span class="navi-icon" [cdkCopyToClipboard]="dataModelResult.Item.UrlResellerUserShortLinkUrl"
        (click)="onActionCopied()"><i class="flaticon2-copy"></i></span>
    </p>
    <img [src]="dataModelResult.Item.UrlResellerUserShortLinkQRCodeBase64" alt="بارکد را اسکن کنید"
      *ngIf="dataModelResult?.Item?.UrlResellerUserShortLinkQRCodeBase64?.length>0" height="300px" width="300px">
  </div>
  <div>
    <p *ngIf="dataModelResult.Item?.UrlResellerSiteCategoryShortLinkUrl?.length>0">
      آدرس اشتراک گزاری با دسته بندی سامانه موجود
      <br>
      {{dataModelResult.Item.UrlResellerSiteCategoryShortLinkUrl}}

      <span class="navi-icon" [cdkCopyToClipboard]="dataModelResult.Item.UrlResellerSiteCategoryShortLinkUrl"
        (click)="onActionCopied()"><i class="flaticon2-copy"></i></span>
    </p>
    <img [src]="dataModelResult.Item.UrlResellerSiteCategoryShortLinkQRCodeBase64" alt="بارکد را اسکن کنید"
      *ngIf="dataModelResult?.Item?.UrlResellerSiteCategoryShortLinkQRCodeBase64?.length>0" height="300px"
      width="300px">
  </div>
  <!--end:::::::::::::::::::::::::::::::::::::::::cms-body-->
</div>