<div class="row alert alert-custom alert-white alert-shadow gutter-b" role="alert">
  <div class="col-1 alert-icon alert-icon-top">
    <span class="svg-icon svg-icon-3x svg-icon-primary" [inlineSVG]="'assets/media/svg/icons/Tools/Compass.svg'"></span>
  </div>
  <div class="col-11">
    <h5>
      مشخصات و لینک های اشتراک گزاری برای شما و وب سایت شما
    </h5>
  </div>
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-18 alert-text">
      <br>
      <p *ngIf="dataModelResult.Item?.UserTitle?.length>0">

        نام شما:
        <br>
        {{dataModelResult.Item.UserTitle}}
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-18">
      <p *ngIf="dataModelResult.Item?.SiteTitle?.length>0">

        عنوان سامانه:
        <br>
        {{dataModelResult.Item.SiteTitle}}
      </p>
    </div>
  </div>

</div>

<!-- آدرس وب سایت -->

<div class="row alert alert-custom alert-white alert-shadow gutter-b" role="alert"  *ngIf="dataModelResult.Item?.UrlSiteHome?.length>0">
  <div class="col-md-6 col-sm-6 col-xs-9">
    <div class="row">
      <div class="col-1 alert-icon alert-icon-top">
        <span class="svg-icon svg-icon-3x svg-icon-primary"
          [inlineSVG]="'assets/media/svg/icons/Home/Earth.svg'"></span>
      </div>
      <div class="col-11">
        <h5>
          آدرس وب سایت
        </h5>
      </div>
    </div>
    <br>
    <h4>توضیحات:</h4>
    <p>
      در این بخش شما میتوانید لینک وبسایت خود را مشاهده نمایید و آن را کپی کنید و با دیگران به اشتراک بگذارید.
      <br>
      همچنین میتوانید با کلیک بر روی گزینه "بارکد" لینک خود را به صورت بارکد دریافت نمایید.
    </p>
    <br>
    <h5>
      آدرس وب سایت
    </h5>
    <a href="{{dataModelResult.Item?.UrlSiteHome}}">
      {{dataModelResult.Item.UrlSiteHome}}
    </a>
    <span class="navi-icon" [cdkCopyToClipboard]="dataModelResult.Item.UrlSiteHome" (click)="onActionCopied()"><i
        class="flaticon2-copy"></i></span>
    <br>
    <br>
    <br>
    <button mat-button (click)="onActionbuttonlinkToSiteHome()" class="border">
      <mat-icon>qr_code_2</mat-icon>
      <span> {{'ACTION.QRCODE' | translate}}</span>
    </button>
    <br>
    <br>
  </div>
  <div class="col-md-6 col-sm-6 col-xs-9">
    <img src="/assets/media/stock-900x600/27.jpg" height="100%" width="100%">
    <br>
  </div>
</div>

<!-- آدرس سامانه مدیریت محتوا -->

<div class="row alert alert-custom alert-white alert-shadow gutter-b" role="alert"  *ngIf="dataModelResult.Item?.UrlSiteCPanel?.length>0">
  <div class="col-md-6 col-sm-6 col-xs-9">
    <div class="row">
      <div class="col-1 alert-icon alert-icon-top">
        <span class="svg-icon svg-icon-3x svg-icon-primary"
          [inlineSVG]="'assets/media/svg/icons/General/User.svg'"></span>
      </div>
      <div class="col-11" *ngIf="dataModelResult.Item?.UrlSiteCPanel?.length>0">
        <h5>
          آدرس سامانه مدیریت محتوا
        </h5>
      </div>
    </div>
    <br>
    <h4>توضیحات:</h4>
    <p>
      در این بخش شما میتوانید لینک سامانه مدیریت محتوا خود را مشاهده نمایید و آن را کپی کنید و با دیگران به اشتراک
      بگذارید.
      <br>
      سامانه مدیریت محتوا به شما این امکان را میدهد که به سایت خود محتوا اضافه ،ویرایش و حذف کنید و تمام قسمت های سایت
      خود را مدیریت کنید.
      <br>
      همچنین میتوانید با کلیک بر روی گزینه "بارکد" لینک خود را به صورت بارکد دریافت نمایید.

    </p>
    <br>
    <h5>
      آدرس سامانه مدیریت محتوا
    </h5>
    <a href="{{dataModelResult.Item.UrlSiteCPanel}}">
      {{dataModelResult.Item.UrlSiteCPanel}}
    </a>
    <span class="navi-icon" [cdkCopyToClipboard]="dataModelResult.Item.UrlSiteCPanel" (click)="onActionCopied()"><i
        class="flaticon2-copy"></i></span>
    <br>
    <br>
    <br>
    <button mat-button (click)="onActionbuttonlinkToSiteCPanel()" class="border">
      <mat-icon>qr_code_2</mat-icon>
      <span> {{'ACTION.QRCODE' | translate}}</span>
    </button>
    <br>
    <br>
  </div>
  <div class="col-md-6 col-sm-6 col-xs-9">
    <img src="\assets\media\stcok-900x600/5.jpg" height="100%" width="100%">
    <br>
  </div>
</div>

<!-- آدرس اشتراک گزاری وب سایت -->

<div class="row alert alert-custom alert-white alert-shadow gutter-b" role="alert"  *ngIf="dataModelResult.Item?.UrlResellerSiteShortLinkUrl?.length>0">
  <div class="col-md-6 col-sm-6 col-xs-9">
    <div class="row">
      <div class="col-1 alert-icon alert-icon-top">
        <span class="svg-icon svg-icon-3x svg-icon-primary"
          [inlineSVG]="'assets/media/svg/icons/Map/Location-arrow.svg'"></span>
      </div>
      <div class="col-11" *ngIf="dataModelResult.Item?.UrlResellerSite?.length>0">
        <h5>
          آدرس اشتراک گزاری وب سایت
        </h5>
      </div>
    </div>
    <br>
    <h4>توضیحات:</h4>
    <p>
      در این بخش شما میتوانید لینک آدرس اشتراک گزاری وب سایت خود را مشاهده نمایید و آن را کپی کنید و با دیگران به اشتراک
      بگذارید.
      <br>
      میتوانید با کلیک بر روی گزینه "مشاهده چارت" لیست سایت های زیر مجموعه خود را مشاهده نمایید.
      <br>
      همچنین میتوانید با کلیک بر روی گزینه "مشاهده آمار بازدید" تعداد بازدید سایت خود را مشاهده نمایید.
      <br>
      علاوه بر آن با کلیک بر روی گزینه "بارکد" لینک خود را به صورت بارکد دریافت نمایید.
    </p>
    <br>
    <h5>
      آدرس اشتراک گزاری وب سایت
    </h5>

    <a href="{{dataModelResult.Item.UrlResellerSiteShortLinkUrl}}">
      {{dataModelResult.Item.UrlResellerSiteShortLinkUrl}}
    </a>
    <span class="navi-icon" [cdkCopyToClipboard]="dataModelResult.Item.UrlResellerSiteShortLinkUrl"
      (click)="onActionCopied()"><i class="flaticon2-copy"></i></span>
    <br>
    <br>
    <br>
    <button mat-button (click)="onActionbuttonResllerSite()" class="border">
      <mat-icon>visibility</mat-icon>
      <span> {{'ACTION.VIEW_CHART' | translate}}</span>
    </button>
    <button mat-button (click)="onActionbuttonResllerSiteShortLinkStatus()" class="border">
      <mat-icon>visibility</mat-icon>
      <span> {{'ACTION.VIEW_VISIT_STATISTICS' | translate}}</span>
    </button>
    <button mat-button (click)="onActionbuttonResllerSiteShortLinkTo()" class="border">
      <mat-icon>qr_code_2</mat-icon>
      <span> {{'ACTION.QRCODE' | translate}}</span>
    </button>
    <br>
    <br>
  </div>
  <div class="col-md-6 col-sm-6 col-xs-9">
    <img src="\assets\media\stock-600x400/img-52.jpg" height="100%" width="100%">
  </div>
</div>

<!-- آدرس اشتراک گزاری با حساب کاربری شما -->

<div class="row alert alert-custom alert-white alert-shadow gutter-b" role="alert" *ngIf="dataModelResult.Item?.UrlResellerUserShortLinkUrl?.length>0">
  <div class="col-md-6 col-sm-6 col-xs-9">
    <div class="row">
      <div class="col-1 alert-icon alert-icon-top">
        <span class="svg-icon svg-icon-3x svg-icon-primary"
          [inlineSVG]="'assets/media/svg/icons/Map/Location-arrow.svg'"></span>
      </div>
      <div class="col-11" *ngIf="dataModelResult.Item?.UrlResellerUser?.length>0">
        <h5>
          آدرس اشتراک گزاری با حساب کاربری شما
        </h5>
      </div>
    </div>
    <br>
    <h4>توضیحات:</h4>
    <p>
      در این بخش شما میتوانید لینک آدرس اشتراک گزاری با حساب کاربری خودتان را مشاهده نمایید و آن را کپی کنید و با دیگران
      به اشتراک
      بگذارید.
      <br>
      میتوانید با کلیک بر روی گزینه "مشاهده چارت" لیست سایت های زیر مجموعه خود را مشاهده نمایید.
      <br>
      همچنین میتوانید با کلیک بر روی گزینه "مشاهده آمار بازدید" تعداد بازدید سایت خود را مشاهده نمایید.
      <br>
      علاوه بر آن با کلیک بر روی گزینه "بارکد" لینک خود را به صورت بارکد دریافت نمایید.
    </p>
    <br>
    <h5>
      آدرس اشتراک گزاری با حساب کاربری شما
    </h5>

    <a href="{{dataModelResult.Item.UrlResellerUserShortLinkUrl}}">
      {{dataModelResult.Item.UrlResellerUserShortLinkUrl}}
    </a>
    <span class="navi-icon" [cdkCopyToClipboard]="dataModelResult.Item.UrlResellerUserShortLinkUrl"
      (click)="onActionCopied()"><i class="flaticon2-copy"></i></span>
    <br>
    <br>
    <br>
    <button mat-button (click)="onActionbuttonResllerUser()" class="border">
      <mat-icon>visibility</mat-icon>
      <span> {{'ACTION.VIEW_CHART' | translate}}</span>
    </button>
    <button mat-button (click)="onActionbuttonResllerUserShortLinkStatus()" class="border">
      <mat-icon>visibility</mat-icon>
      <span> {{'ACTION.VIEW_VISIT_STATISTICS' | translate}}</span>
    </button>
    <button mat-button (click)="onActionbuttonResllerUserShortLinkTo()" class="border">
      <mat-icon>qr_code_2</mat-icon>
      <span> {{'ACTION.QRCODE' | translate}}</span>
    </button>
    <br>
    <br>
  </div>
  <div class="col-md-6 col-sm-6 col-xs-9">
    <img src="\assets\media\stock-600x400/img-61.jpg" height="100%" width="100%">
  </div>
</div>

<!-- آدرس اشتراک گزاری با دسته بندی سامانه موجود -->

<div class="row alert alert-custom alert-white alert-shadow gutter-b" role="alert" *ngIf="dataModelResult.Item?.UrlResellerSiteCategoryShortLinkUrl?.length>0">
  <div class="col-md-6 col-sm-6 col-xs-9">
    <div class="row">
      <div class="col-1 alert-icon alert-icon-top">
        <span class="svg-icon svg-icon-3x svg-icon-primary"
          [inlineSVG]="'assets/media/svg/icons/Map/Location-arrow.svg'"></span>
      </div>
      <div class="col-11" *ngIf="dataModelResult.Item?.UrlResellerUser?.length>0">
        <h5>
          آدرس اشتراک گزاری با دسته بندی سامانه موجود
        </h5>
      </div>
    </div>
    <br>
    <h4>توضیحات:</h4>
    <p>
      در این بخش شما میتوانید لینک آدرس اشتراک گزاری با دسته بندی سامانه موجود خود را مشاهده نمایید و آن را کپی کنید و
      با دیگران به اشتراک
      بگذارید.
      <br>
      میتوانید با کلیک بر روی گزینه "مشاهده چارت" لیست سایت های زیر مجموعه خود را مشاهده نمایید.
      <br>
      همچنین میتوانید با کلیک بر روی گزینه "مشاهده آمار بازدید" تعداد بازدید سایت خود را مشاهده نمایید.
      <br>
      علاوه بر آن با کلیک بر روی گزینه "بارکد" لینک خود را به صورت بارکد دریافت نمایید.
    </p>
    <div >
      <br>
      <h5>
        آدرس اشتراک گزاری با دسته بندی سامانه موجود
      </h5>
      <a href="{{dataModelResult.Item.UrlResellerSiteCategoryShortLinkUrl}}">
        {{dataModelResult.Item.UrlResellerSiteCategoryShortLinkUrl}}
      </a>
      <span class="navi-icon" [cdkCopyToClipboard]="dataModelResult.Item.UrlResellerSiteCategoryShortLinkUrl"
        (click)="onActionCopied()"><i class="flaticon2-copy"></i></span>
      <br>
      <br>
      <br>
      <button mat-button (click)="onActionbuttonResllerUser()" class="border">
        <mat-icon>visibility</mat-icon>
        <span> {{'ACTION.VIEW_CHART' | translate}}</span>
      </button>
      <button mat-button (click)="onActionbuttonResllerUserCategoryShortLinkStatus()" class="border">
        <mat-icon>visibility</mat-icon>
        <span> {{'ACTION.VIEW_VISIT_STATISTICS' | translate}}</span>
      </button>
      <button mat-button (click)="onActionbuttonResllerUserCategoryShortLinklinkTo()" class="border">
        <mat-icon>qr_code_2</mat-icon>
      <span> {{'ACTION.QRCODE' | translate}}</span>
      </button>
      <br>
      <br>
    </div>
  </div>
  <div class="col-md-6 col-sm-6 col-xs-9">
    <img src="\assets\media\stock-600x400/img-63.jpg" height="100%" width="100%">
  </div>
</div>
<!--end:::::::::::::::::::::::::::::::::::::::::cms-body-->