<!--begin::Tiles Widget 11-->
<div class="card card-custom bg-" [ngClass]="cssClass" [ngStyle]="{ height: widgetHeight }">
  <div class="card-body">
    <app-cms-html-widget [optionLoading]="loading">
      <ng-container cms-header>
        <!--begin:::::::::::::::::::::::::::::::::::::::::cms-header-->
        <span [ngClass]="svgCSSClass" [inlineSVG]="'./assets/media/svg/icons/Devices/iPhone-X.svg'"
          class="svg-icon svg-icon-3x svg-icon-white ml-n2"></span>
        <!--end:::::::::::::::::::::::::::::::::::::::::cms-header-->
      </ng-container>
      <ng-container cms-body>
        <!--begin:::::::::::::::::::::::::::::::::::::::::cms-body-->
        <div *ngFor="let item of modelData| keyvalue ; index as i" [ngClass]="textInverseCSSClass"
          class="font-weight-bolder font-size-h2 mt-3">
          {{translateHelp('TITLE.',item.key)|translate}} : {{item.value}}
        </div>
        <!--end::cms-body-->
      </ng-container>
      <ng-container cms-footer>
        <!--begin:::::::::::::::::::::::::::::::::::::::::cms-footer-->
        <a routerLink="{{widgetInfoModel.link}}" routerLinkActive="active" [ngClass]="textInverseCSSClass"
          class="font-weight-bold font-size-lg mt-1">{{widgetInfoModel.title}}</a>
        <!--end:::::::::::::::::::::::::::::::::::::::::cms-footer-->
      </ng-container>
    </app-cms-html-widget>
  </div>
</div>
<!--end::Tiles Widget 11-->