<form (ngSubmit)="onFormSubmit()" #vform="ngForm">
  <div class="ntk-cms-html-card-header">
    <!--begin:::::::::::::::::::::::::::::::::::::::::cms-header-->
      {{ formInfo.FormTitle }}
    <!--end:::::::::::::::::::::::::::::::::::::::::cms-header-->
  </div>
  <div class="ntk-cms-html-card-body">
    <app-progress-spinner [options]="loading"> </app-progress-spinner>
    <!--begin:::::::::::::::::::::::::::::::::::::::::cms-body-->
    <mat-horizontal-stepper (selectionChange)="onStepClick($event,stepper)" #stepper>

      <mat-step label="{{'TITLE.Default_module_settings'|translate}}" state="main"
        *ngIf="tokenInfo.UserAccessAdminAllowToProfessionalData">
        <p>{{'TITLE.Settings_that_are_used_in_the_first_assignment_of_the_module_to_the_site' |translate}}</p>
        <!-- StatusRenderUser Field -->
        <div class="ntk-full-width">
          <mat-slide-toggle [(ngModel)]="dataConfigSiteValuesDefaultModel.StatusRenderUser"
            name="dataConfigSiteValuesDefaultModel.StatusRenderUser">
            StatusRenderUser
          </mat-slide-toggle>
        </div>
        <!-- UseDataDefaulteSite -->
        <div class="ntk-full-width">
          <mat-slide-toggle [(ngModel)]="dataConfigSiteValuesDefaultModel.UseDataDefaulteSite"
            name="dataConfigSiteValuesDefaultModel.UseDataDefaulteSite">
            نمایش اطلاعات سایت پیش فرض در سایت
          </mat-slide-toggle>
        </div>
        <div *ngIf="tokenInfo.UserAccessAdminAllowToProfessionalData">
          <div [innerHTML]="dataConfigSiteValuesDefaultModel | prettyjson"></div>
        </div>
        <div *ngIf="formInfo.FormSubmitAllow" class="ntk-button-row">
          <button type="button" mat-raised-button (click)="onActionBackToParent()">
            {{'ACTION.BACK' | translate}}
          </button>
          <button type="button" mat-raised-button color="primary" [disabled]="!vform.form.valid" matStepperNext>
            {{'ACTION.NEXT' | translate}}
          </button>
          <button type="submit" mat-raised-button color="success" [disabled]="!vform.form.valid">
            {{'ACTION.SAVE' | translate}}
          </button>
        </div>
      </mat-step>
      <mat-step label="{{'TITLE.Default_access'|translate}}" state="main"
        *ngIf="tokenInfo.UserAccessAdminAllowToProfessionalData">
        <p>{{'TITLE.Default_website_access_to_this_module'|translate}}</p>

        <!-- MainDataContentRowCount Field -->
        <mat-form-field class="ntk-full-width">
          <mat-label>MainDataContentRowCount</mat-label>
          <input matInput [(ngModel)]="dataConfigSiteAccessValuesDefaultModel.MainDataContentRowCount"
            name="dataConfigSiteAccessValuesDefaultModel.MainDataContentRowCount"
            #dataConfigSiteAccessValuesDefaultModel_MainDataContentRowCount type="number" placeholder="0" required />
          <mat-icon matSuffix *ngIf="dataConfigSiteAccessValuesDefaultModel.MainDataContentRowCount" matSuffix
            mat-icon-button aria-label="Clear"
            (click)="dataConfigSiteAccessValuesDefaultModel.MainDataContentRowCount = null">close</mat-icon>
          <mat-icon matSuffix>mode_edit</mat-icon>
          <mat-error *ngIf="dataConfigSiteAccessValuesDefaultModel_MainDataContentRowCount.errors?.required">
            MainDataContentRowCount is <strong>{{'MESSAGE.required' | translate}}</strong>
          </mat-error>
        </mat-form-field>
        <!-- UseDataDefaulteSiteId Field -->
        <mat-form-field class="ntk-full-width">
          <mat-label>شناسه سایت اطلاعات پیش فرض</mat-label>
          <input matInput [(ngModel)]="dataConfigAdminMainModel.UseDataDefaulteSiteId"
            name="dataConfigAdminMainModel.UseDataDefaulteSiteId"
            #dataConfigAdminMainModel_UseDataDefaulteSiteId type="number" placeholder="0" />
          <mat-icon matSuffix *ngIf="dataConfigAdminMainModel.UseDataDefaulteSiteId" matSuffix
            mat-icon-button aria-label="Clear"
            (click)="dataConfigAdminMainModel.UseDataDefaulteSiteId = 0">close</mat-icon>
          <mat-icon matSuffix>mode_edit</mat-icon>
        </mat-form-field>
        <div *ngIf="tokenInfo.UserAccessAdminAllowToProfessionalData">
          <div [innerHTML]="dataConfigSiteAccessValuesDefaultModel | prettyjson"></div>
        </div>
        <div *ngIf="formInfo.FormSubmitAllow" class="ntk-button-row">
          <button type="button" mat-raised-button color="accent" matStepperPrevious>
            {{'ACTION.BEFOR' | translate}}
          </button>
          <button type="button" mat-raised-button color="primary" [disabled]="!vform.form.valid" matStepperNext>
            {{'ACTION.NEXT' | translate}}
          </button>
          <button type="submit" mat-raised-button color="success" [disabled]="!vform.form.valid">
            {{'ACTION.SAVE' | translate}}
          </button>
        </div>
      </mat-step>
      <mat-step label="{{'TITLE.System_management_settings'|translate}}" state="main">
        <p>{{'TITLE.The_whole_system_management_settings_for_this_module'|translate}}</p>

        <!-- AccessBuy Field -->
        <div class="ntk-full-width">
          <mat-slide-toggle [(ngModel)]="dataConfigAdminMainModel.AccessBuy" name="dataConfigAdminMainModel.AccessBuy">
            AccessBuy
          </mat-slide-toggle>
        </div>
        <!-- ImageMainSizeWidth Field -->
        <mat-form-field class="ntk-full-width">
          <mat-label>ImageMainSizeWidth</mat-label>
          <input matInput [(ngModel)]="dataConfigAdminMainModel.ImageMainSizeWidth"
            name="dataConfigAdminMainModel.ImageMainSizeWidth" #dataConfigAdminMainModel_ImageMainSizeWidth
            type="number" placeholder="0" required />
          <mat-icon matSuffix *ngIf="dataConfigAdminMainModel.ImageMainSizeWidth" matSuffix mat-icon-button
            aria-label="Clear" (click)="dataConfigAdminMainModel.ImageMainSizeWidth = null">close</mat-icon>
          <mat-icon matSuffix>mode_edit</mat-icon>
          <mat-error *ngIf="dataConfigAdminMainModel_ImageMainSizeWidth.errors?.required">
            ImageMainSizeWidth is <strong>{{'MESSAGE.required' | translate}}</strong>
          </mat-error>
        </mat-form-field>
        <!-- ImageMainSizeHeight Field -->
        <mat-form-field class="ntk-full-width">
          <mat-label>ImageMainSizeHeight</mat-label>
          <input matInput [(ngModel)]="dataConfigAdminMainModel.ImageMainSizeHeight"
            name="dataConfigAdminMainModel.ImageMainSizeHeight" #dataConfigAdminMainModel_ImageMainSizeHeight
            type="number" placeholder="0" required />
          <mat-icon matSuffix *ngIf="dataConfigAdminMainModel.ImageMainSizeHeight" matSuffix mat-icon-button
            aria-label="Clear" (click)="dataConfigAdminMainModel.ImageMainSizeHeight = null">close</mat-icon>
          <mat-icon matSuffix>mode_edit</mat-icon>
          <mat-error *ngIf="dataConfigAdminMainModel_ImageMainSizeHeight.errors?.required">
            ImageMainSizeHeight is <strong>{{'MESSAGE.required' | translate}}</strong>
          </mat-error>
        </mat-form-field>



        <!-- ImageThumbnailSizeWidth Field -->
        <mat-form-field class="ntk-full-width">
          <mat-label>ImageThumbnailSizeWidth</mat-label>
          <input matInput [(ngModel)]="dataConfigAdminMainModel.ImageThumbnailSizeWidth"
            name="dataConfigAdminMainModel.ImageThumbnailSizeWidth" #dataConfigAdminMainModel_ImageThumbnailSizeWidth
            type="number" placeholder="0" required />
          <mat-icon matSuffix *ngIf="dataConfigAdminMainModel.ImageThumbnailSizeWidth" matSuffix mat-icon-button
            aria-label="Clear" (click)="dataConfigAdminMainModel.ImageThumbnailSizeWidth = null">close</mat-icon>
          <mat-icon matSuffix>mode_edit</mat-icon>
          <mat-error *ngIf="dataConfigAdminMainModel_ImageThumbnailSizeWidth.errors?.required">
            ImageThumbnailSizeWidth is <strong>{{'MESSAGE.required' | translate}}</strong>
          </mat-error>
        </mat-form-field>
        <!-- ImageThumbnailSizeHeight Field -->
        <mat-form-field class="ntk-full-width">
          <mat-label>ImageThumbnailSizeHeight</mat-label>
          <input matInput [(ngModel)]="dataConfigAdminMainModel.ImageThumbnailSizeHeight"
            name="dataConfigAdminMainModel.ImageThumbnailSizeHeight" #dataConfigAdminMainModel_ImageThumbnailSizeHeight
            type="number" placeholder="0" required />
          <mat-icon matSuffix *ngIf="dataConfigAdminMainModel.ImageThumbnailSizeHeight" matSuffix mat-icon-button
            aria-label="Clear" (click)="dataConfigAdminMainModel.ImageThumbnailSizeHeight = null">close</mat-icon>
          <mat-icon matSuffix>mode_edit</mat-icon>
          <mat-error *ngIf="dataConfigAdminMainModel_ImageThumbnailSizeHeight.errors?.required">
            ImageThumbnailSizeHeight is <strong>{{'MESSAGE.required' | translate}}</strong>
          </mat-error>
        </mat-form-field>

        <div class="ntk-full-width">
          <mat-slide-toggle [(ngModel)]="dataConfigAdminMainModel.AccessFree"
            name="dataConfigAdminMainModel.AccessFree">
            AccessFree
          </mat-slide-toggle>
        </div>
        <!-- AccessFreeDay Field -->
        <mat-form-field class="ntk-full-width">
          <mat-label>AccessFreeDay</mat-label>
          <input matInput [(ngModel)]="dataConfigAdminMainModel.AccessFreeDay"
            name="dataConfigAdminMainModel.AccessFreeDay" #dataConfigAdminMainModel_AccessFreeDay type="number"
            placeholder="0" required />
          <mat-icon matSuffix *ngIf="dataConfigAdminMainModel.AccessFreeDay" matSuffix mat-icon-button
            aria-label="Clear" (click)="dataConfigAdminMainModel.AccessFreeDay = null">close</mat-icon>
          <mat-icon matSuffix>mode_edit</mat-icon>
          <mat-error *ngIf="dataConfigAdminMainModel_AccessFreeDay.errors?.required">
            AccessFreeDay is <strong>{{'MESSAGE.required' | translate}}</strong>
          </mat-error>
        </mat-form-field>

        <div *ngIf="tokenInfo.UserAccessAdminAllowToProfessionalData">
          <div [innerHTML]="dataConfigAdminMainModel | prettyjson"></div>
        </div>
        <div *ngIf="formInfo.FormSubmitAllow" class="ntk-button-row">
          <button type="button" mat-raised-button color="accent" matStepperPrevious>
            {{'ACTION.BEFOR' | translate}}
          </button>
          <button type="button" mat-raised-button color="primary" [disabled]="!vform.form.valid" matStepperNext>
            {{'ACTION.NEXT' | translate}}
          </button>
          <button type="submit" mat-raised-button color="success" [disabled]="!vform.form.valid">
            {{'ACTION.SAVE' | translate}}
          </button>
        </div>
      </mat-step>
    </mat-horizontal-stepper>

    <!--end:::::::::::::::::::::::::::::::::::::::::cms-body-->
  </div>
  <div class="ntk-cms-html-card-message">
    <!--begin:::::::::::::::::::::::::::::::::::::::::cms-message-->

    <!--end:::::::::::::::::::::::::::::::::::::::::cms-message-->
  </div>
  <div class="ntk-cms-html-card-footer">
    <!--begin:::::::::::::::::::::::::::::::::::::::::cms-footer-->

    <!--end:::::::::::::::::::::::::::::::::::::::::cms-footer-->
  </div>

</form>