<span class="ml-3" *ngIf=" loadingStatus">Loading ...</span>
<div>
  <a (click)="onActionbuttonUserAccessAdminAllowToAllData()"
    *ngIf="tokenInfo &&( tokenInfo.UserType == 1 || tokenInfo.UserType == 2 || tokenInfo.UserType == 3)"
    class="btn btn-raised mr-1 shadow-z-2 btn-success " style="width:95% ;margin: 4px;">
    <i [className]="tokenInfo.UserAccessAdminAllowToAllData ? 'fa fa-toggle-on' : 'fa fa-toggle-off'"></i>&nbsp;نمایش
    همه اطلاعات
  </a>
  <a (click)="onActionbuttonUserAccessAdminAllowToProfessionalData()"
    *ngIf="tokenInfo &&( tokenInfo.UserType == 1 || tokenInfo.UserType == 2 || tokenInfo.UserType == 3)"
    class="btn btn-raised mr-1 shadow-z-2 btn-success" style="width:95%;margin: 4px;">
    <i [className]="tokenInfo.UserAccessAdminAllowToProfessionalData ? 'fa fa-toggle-on' : 'fa fa-toggle-off'">
    </i>&nbsp;نمایش اطلاعات تخصصی
  </a>
  <div class="input-group"
    *ngIf="tokenInfo &&( tokenInfo.UserType == 1 || tokenInfo.UserType == 2 || tokenInfo.UserType == 3)"
    style="direction: ltr;width:95%;margin: 4px;">
    <div class="input-group-prepend">
      <button (click)="onActionbuttonSelectUser()" class="btn btn-outline-primary" type="button">برو</button>
    </div>
    <input [(ngModel)]="inputUserId" type="text" class="form-control" placeholder="شناسه کاربر">
  </div>
  <div class="input-group"
    *ngIf="tokenInfo &&( tokenInfo.UserType == 1 || tokenInfo.UserType == 2 || tokenInfo.UserType == 3)"
    style="direction: ltr;width:95%;margin: 4px;">
    <div class="input-group-prepend">
      <button (click)="onActionbuttonSelectSite()" class="btn btn-outline-primary" type="button">برو</button>
    </div>
    <input [(ngModel)]="inputSiteId" type="text" class="form-control" placeholder="شناسه سایت">
  </div>
  <!-- LinkCmsSiteId Field -->
  <app-cms-site-selector (optionSelect)="onActionSiteSelect($event)" [optionDisabled]="false"
    [optionSelectForce]=" this.tokenInfo.SiteId" [optionPlaceholder]="'وب سایت'"></app-cms-site-selector>
</div>
