<div class="ntk-cms-html-card-header">
  <!--begin:::::::::::::::::::::::::::::::::::::::::cms-header-->
  {{ formInfo.formTitle }}
  <!--end:::::::::::::::::::::::::::::::::::::::::cms-header-->
</div>
<div class="ntk-cms-html-card-body">
  <app-progress-spinner [options]="loading"> </app-progress-spinner>
  <!--begin:::::::::::::::::::::::::::::::::::::::::cms-body-->
  <!-- LinkUserId Field -->
  <app-cms-site-selector [optionDisabled]="true" [optionSelectForce]=" this.dataModel.linkSiteId" [(loading)]="loading"
    [optionPlaceholder]="this.translate.instant('TITLE.SITE')"></app-cms-site-selector>
  <!-- LinkUserId Field -->
  <app-cms-user-selector [optionDisabled]="true" [optionSelectForce]=" this.dataModel.linkUserId" [(loading)]="loading"
    [optionPlaceholder]="this.translate.instant('TITLE.USER')"></app-cms-user-selector>
  <app-cms-json-list [dataModel]="dataModel" [optionMethod]="1"></app-cms-json-list>
  <!-- LinkLocationId Field -->
  <app-cms-location-selector (optionChange)="onActionSelectorLocation($event)" [(loading)]="loading"
    [optionDisabled]="!fieldsInfo['linkLocationId']?.accessEditField" [optionSelectForce]="dataModel.linkLocationId"
    [optionPlaceholder]="this.translate.instant('TITLE.Region')">
  </app-cms-location-selector>
  <!--end:::::::::::::::::::::::::::::::::::::::::cms-body-->
</div>
<div class="ntk-cms-html-card-message">
  <!--begin:::::::::::::::::::::::::::::::::::::::::cms-message-->
  <div class="form-actions">
    <small class="form-text text-muted">{{ formInfo.formAlert }} </small>
    <small class="form-text text-muted danger">{{ formInfo.formError }}
    </small>
  </div>
  <!--end:::::::::::::::::::::::::::::::::::::::::cms-message-->
</div>
<div class="ntk-cms-html-card-footer">
  <!--begin:::::::::::::::::::::::::::::::::::::::::cms-footer-->
  <div class="form-actions" *ngIf="formInfo.formSubmitAllow  && !loading.display">
    <button type="button" (click)="onFormCancel()" class="btn btn-light">
      <i class="ft-x"></i> {{'ACTION.CANCEL' | translate}}
    </button>
  </div>
  <!--end:::::::::::::::::::::::::::::::::::::::::cms-footer-->
</div>