<form (ngSubmit)="onFormSubmit()" #vform="ngForm">
  <div class="ntk-cms-html-card-header">
    <!--begin:::::::::::::::::::::::::::::::::::::::::cms-header-->
    {{ formInfo.formTitle }}
    <!--end:::::::::::::::::::::::::::::::::::::::::cms-header-->
  </div>
  <div class="ntk-cms-html-card-body">
    <app-progress-spinner [options]="loading"> </app-progress-spinner>
    <!--begin:::::::::::::::::::::::::::::::::::::::::cms-body-->
    <!-- RecordStatus Field -->
    <mat-form-field class="ntk-full-width">
      <mat-select placeholder="{{fieldsInfo['recordStatus']?.fieldTitle}}" [(ngModel)]="dataModel.recordStatus"
        name="dataModel.recordStatus" #RecordStatus="ngModel" panelClass="recordStatus-{{ dataModel.recordStatus }}"
        required>
        <mat-option *ngFor="
                  let item of dataModelEnumRecordStatusResult.listItems;
                  index as i
                " [value]="item.value">{{ item.description }}</mat-option>
      </mat-select>
      <mat-hint align="end">{{'TITLE.SELECT_STATUS' | translate}}</mat-hint>
      <mat-error *ngIf="RecordStatus.errors?.required">
        RecordStatus is <strong>{{'MESSAGE.required' | translate}}</strong>
      </mat-error>
    </mat-form-field>

    <!-- LinkCoreUserId Field -->
    <app-cms-user-selector (optionChange)="onActionSelectorCmsUser($event)" [(loading)]="loading"
      [optionDisabled]="!fieldsInfo['linkCoreUserId']?.accessAddField" [optionSelectForce]="dataModel.linkCoreUserId"
      [optionPlaceholder]="this.translate.instant('TITLE.USER')">
    </app-cms-user-selector>
    <!-- LinkCoreSiteId Field -->
    <app-cms-site-selector (optionChange)="onActionSelectorCmsSite($event)" [(loading)]="loading"
      [optionDisabled]="!fieldsInfo['linkCoreSiteId']?.accessAddField" [optionSelectForce]="dataModel.linkCoreSiteId"
      [optionPlaceholder]="this.translate.instant('TITLE.SITE')">
    </app-cms-site-selector>
    <!-- LinkCoreUserGroupId Field -->
    <app-cms-usergroup-selector (optionChange)="onActionSelectorCoreUserGroup($event)" [(loading)]="loading"
      [optionDisabled]="!fieldsInfo['linkCoreUserGroupId']?.accessAddField"
      [optionSelectForce]="dataModel.linkCoreUserGroupId"
      [optionPlaceholder]="this.translate.instant('TITLE.Type_Usage')">
    </app-cms-usergroup-selector>
    <!-- LinkCoreSiteCategoryId Field -->
    <app-cms-sitecategory-selector (optionChange)="onActionSelectorCoreSiteCategory($event)" [(loading)]="loading"
      [optionDisabled]="!fieldsInfo['linkCoreSiteCategoryId']?.accessAddField"
      [optionSelectForce]="dataModel.linkCoreSiteCategoryId"
      [optionPlaceholder]="this.translate.instant('TITLE.Site_Type')">
    </app-cms-sitecategory-selector>

    <!-- LinkApiNumberId Field -->
    <app-sms-api-number-selector (optionChange)="onActionSelectorSelectLinkApiNumberId($event)" [(loading)]="loading"
      [optionSelectForce]="dataModel.linkApiNumberId" [optionPlaceholder]="this.translate.instant('TITLE.No')">
    </app-sms-api-number-selector>
    <!-- HasInherits Field -->
    <div class="ntk-full-width">
      <mat-slide-toggle [(ngModel)]="dataModel.hasInherits" *ngIf="fieldsInfo['hasInherits']?.accessWatchField"
        [disabled]="!fieldsInfo['hasInherits']?.accessEditField" name="dataModel.hasInherits">
        {{fieldsInfo['hasInherits']?.fieldTitle}}
      </mat-slide-toggle>
    </div>
    <!-- AccessStatus Field -->
    <mat-form-field class="ntk-full-width">
      <mat-select placeholder="{{'TITLE.Status_Type' | translate}}" [(ngModel)]="dataModel.accessStatus"
        name="dataModel.accessStatus" #AccessStatus="ngModel" panelClass="recordStatus-{{ dataModel.accessStatus }}"
        required>
        <mat-option *ngFor="
                          let item of dataModelEnumApiNumberPermissionAccessStatusResult.listItems;
                          index as i
                        " [value]="item.value">{{ item.description }}</mat-option>
      </mat-select>
      <mat-hint align="end">{{'TITLE.Select_type_of_content' | translate}}</mat-hint>
      <mat-error *ngIf="AccessStatus.errors?.required">
        AccessStatus is <strong>{{'MESSAGE.required' | translate}}</strong>
      </mat-error>
    </mat-form-field>

    <!-- Action Field -->
    <mat-form-field class="ntk-full-width">
      <mat-select placeholder="{{'TITLE.Type_of_Activity' | translate}}" [(ngModel)]="dataModel.action"
        name="dataModel.action" #Action="ngModel" panelClass="recordStatus-{{ dataModel.action }}" required>
        <mat-option *ngFor="
                              let item of dataModelEnumApiNumberPermissionActionResult.listItems;
                              index as i
                            " [value]="item.value">{{ item.description }}</mat-option>
      </mat-select>
      <mat-hint align="end">{{'TITLE.Select_type_of_content' | translate}}</mat-hint>
      <mat-error *ngIf="Action.errors?.required">
        Action is <strong>{{'MESSAGE.required' | translate}}</strong>
      </mat-error>
    </mat-form-field>
    <!-- FromDate Field -->
    <mat-form-field class="ntk-full-width">
      <mat-label>{{fieldsInfo['fromDate']?.fieldTitle}}</mat-label>
      <input matInput [matDatepicker]="FromDate" [(ngModel)]="dataModel.fromDate" name="dataModel.fromDate" />
      <mat-icon matSuffix *ngIf="dataModel.fromDate && fieldsInfo['fromDate']?.accessEditField" matSuffix
        mat-icon-button aria-label="Clear" (click)="dataModel.fromDate = null">close</mat-icon>
      <mat-datepicker-toggle matSuffix [for]="FromDate"></mat-datepicker-toggle>
      <mat-datepicker touchUi #FromDate></mat-datepicker>
    </mat-form-field>
    <!-- ExpireDate Field -->
    <mat-form-field class="ntk-full-width" *ngIf="fieldsInfo['expireDate']?.accessWatchField">
      <mat-label>{{fieldsInfo['expireDate']?.fieldTitle}}</mat-label>
      <input matInput [matDatepicker]="ExpireDate" [(ngModel)]="dataModel.expireDate" name="dataModel.expireDate" />
      <mat-icon matSuffix *ngIf="dataModel.expireDate && fieldsInfo['expireDate']?.accessAddField" matSuffix
        mat-icon-button aria-label="Clear" (click)="dataModel.expireDate = null">close</mat-icon>
      <mat-datepicker-toggle matSuffix [for]="ExpireDate"></mat-datepicker-toggle>
      <mat-datepicker touchUi #ExpireDate></mat-datepicker>
    </mat-form-field>
    <hr class="pb-5" />

    <!--end:::::::::::::::::::::::::::::::::::::::::cms-body-->
  </div>
  <div class="ntk-cms-html-card-message">
    <!--begin:::::::::::::::::::::::::::::::::::::::::cms-message-->
    <div class="form-actions">
      <small class="form-text text-muted">{{ formInfo.formAlert }} </small>
      <small class="form-text text-muted danger">{{ formInfo.formError }}
      </small>
    </div>
    <!--end:::::::::::::::::::::::::::::::::::::::::cms-message-->
  </div>
  <div class="ntk-cms-html-card-footer">
    <!--begin:::::::::::::::::::::::::::::::::::::::::cms-footer-->
    <div class="form-actions" *ngIf="formInfo.formSubmitAllow  && !loading.display">
      <button type="button" (click)="onFormCancel()" class="btn btn-light">
        <i class="ft-x"></i> {{'ACTION.CANCEL' | translate}}
      </button>
      <button type="submit" (click)="onFormSubmit()" class="btn btn-success" [disabled]="!vform.form.valid">
        <i class="fa fa-check-square-o"></i> {{'ACTION.SAVE' | translate}}
      </button>
    </div>
    <!--end:::::::::::::::::::::::::::::::::::::::::cms-footer-->
  </div>
</form>