<form (ngSubmit)="onFormSubmit()" #vform="ngForm">
  <div class="ntk-cms-html-card-header">
    <!--begin:::::::::::::::::::::::::::::::::::::::::cms-header-->
    {{ formInfo.formTitle }}
    <!--end:::::::::::::::::::::::::::::::::::::::::cms-header-->
  </div>
  <div class="ntk-cms-html-card-body">
    <app-progress-spinner [options]="loading"> </app-progress-spinner>
    <!--begin:::::::::::::::::::::::::::::::::::::::::cms-body-->

    <!-- RecordStatus Field -->
    <mat-form-field class="ntk-full-width">
      <mat-select placeholder="{{fieldsInfo['recordStatus']?.fieldTitle}}" [(ngModel)]="dataModel.recordStatus"
        name="dataModel.recordStatus" #RecordStatus="ngModel" panelClass="recordStatus-{{ dataModel.recordStatus }}"
        required>
        <mat-option *ngFor="
                let item of dataModelEnumRecordStatusResult.listItems;
                index as i
              " [value]="item.value">{{ item.description }}</mat-option>
      </mat-select>
      <mat-hint align="end">{{'TITLE.SELECT_STATUS' | translate}}</mat-hint>
      <mat-error *ngIf="RecordStatus.errors?.required">
        RecordStatus is <strong>{{'MESSAGE.required' | translate}}</strong>
      </mat-error>
    </mat-form-field>
    <!-- Title Field -->
    <mat-form-field class="ntk-full-width">
      <mat-label>{{fieldsInfo['title']?.fieldTitle}}</mat-label>
      <input matInput [(ngModel)]="dataModel.title" name="dataModel.title" #Title type="text"
        placeholder="{{fieldsInfo['title']?.fieldTitle}}" minlength="3" maxlength="20" required />
      <mat-icon matSuffix *ngIf="dataModel.title" matSuffix mat-icon-button aria-label="Clear"
        (click)="dataModel.title = ''">close</mat-icon>
      <mat-icon matSuffix>mode_edit</mat-icon>
      <mat-hint align="end">{{ Title.value.length }} / 20</mat-hint>
      <mat-error *ngIf="Title.errors?.required">
        Title is <strong>{{'MESSAGE.required' | translate}}</strong>
      </mat-error>
    </mat-form-field>

    <!-- TitleResourceLanguage Field -->
    <mat-form-field class="ntk-full-width">
      <mat-label>{{fieldsInfo['titleResourceLanguage']?.fieldTitle}}</mat-label>
      <input matInput [(ngModel)]="dataModel.titleResourceLanguage" name="dataModel.titleResourceLanguage"
        #TitleResourceLanguage type="text" placeholder="{{fieldsInfo['title']?.fieldTitle}}" minlength="3"
        maxlength="100" required [disabled]="!fieldsInfo['titleResourceLanguage']?.accessAddField" />
      <mat-icon matSuffix *ngIf="dataModel.titleResourceLanguage" matSuffix mat-icon-button aria-label="Clear"
        (click)="dataModel.titleResourceLanguage = ''">close</mat-icon>
      <mat-icon matSuffix>mode_edit</mat-icon>
      <mat-hint align="end">{{ TitleResourceLanguage.value.length }} / 100</mat-hint>
      <mat-error *ngIf="TitleResourceLanguage.errors?.required">
        {{fieldsInfo['titleResourceLanguage']?.fieldTitle}} is <strong>{{'MESSAGE.required' | translate}}</strong>
      </mat-error>
    </mat-form-field>
    <!-- isDefault Field -->
    <div class="ntk-full-width">
      <mat-slide-toggle [(ngModel)]="dataModel.isDefault" *ngIf="fieldsInfo['isDefault']?.accessWatchField"
        [disabled]="!fieldsInfo['isDefault']?.accessAddField" name="dataModel.isDefault">
        {{fieldsInfo['isDefault']?.fieldTitle}}
      </mat-slide-toggle>
    </div>
    <!-- Symbol Field -->
    <mat-form-field class="ntk-full-width">
      <mat-label>{{fieldsInfo['symbol']?.fieldTitle}}</mat-label>
      <input matInput [(ngModel)]="dataModel.symbol" name="dataModel.symbol" #Symbol type="text"
        placeholder="{{fieldsInfo['symbol']?.fieldTitle}}" minlength="1" maxlength="20" required />
      <mat-icon matSuffix *ngIf="dataModel.symbol" matSuffix mat-icon-button aria-label="Clear"
        (click)="dataModel.symbol = ''">close</mat-icon>
      <mat-icon matSuffix>mode_edit</mat-icon>
      <mat-hint align="end">{{ Symbol.value.length }} / 20</mat-hint>
      <mat-error *ngIf="Symbol.errors?.required">
        Symbol is <strong>{{'MESSAGE.required' | translate}}</strong>
      </mat-error>
    </mat-form-field>
    <!-- ExchangeBuyRatio Field -->
    <mat-form-field class="ntk-full-width">
      <mat-label>{{fieldsInfo['exchangeBuyRatio']?.fieldTitle}}</mat-label>
      <input matInput [(ngModel)]="dataModel.exchangeBuyRatio" name="dataModel.exchangeBuyRatio" #ExchangeBuyRatio
        type="number" placeholder="{{fieldsInfo['exchangeBuyRatio']?.fieldTitle}}" required step="0.001" />
      <mat-icon matSuffix *ngIf="dataModel.exchangeBuyRatio" matSuffix mat-icon-button aria-label="Clear"
        (click)="dataModel.exchangeBuyRatio = 1">close</mat-icon>
      <mat-icon matSuffix>mode_edit</mat-icon>
      <mat-error *ngIf="ExchangeBuyRatio.errors?.required">
        ExchangeBuyRatio is <strong>{{'MESSAGE.required' | translate}}</strong>
      </mat-error>
    </mat-form-field>
    <!-- ExchangeSaleRatio Field -->
    <mat-form-field class="ntk-full-width">
      <mat-label>{{fieldsInfo['exchangeSaleRatio']?.fieldTitle}}</mat-label>
      <input matInput [(ngModel)]="dataModel.exchangeSaleRatio" name="dataModel.exchangeSaleRatio" #ExchangeSaleRatio
        type="number" placeholder="{{fieldsInfo['exchangeSaleRatio']?.fieldTitle}}" required step="0.001" />
      <mat-icon matSuffix *ngIf="dataModel.exchangeSaleRatio" matSuffix mat-icon-button aria-label="Clear"
        (click)="dataModel.exchangeSaleRatio = 1">close</mat-icon>
      <mat-icon matSuffix>mode_edit</mat-icon>
      <mat-error *ngIf="ExchangeSaleRatio.errors?.required">
        ExchangeSaleRatio is <strong>{{'MESSAGE.required' | translate}}</strong>
      </mat-error>
    </mat-form-field>

    <!-- LinkMainImageId Field -->
    <div class="mb-3">
      <a href="{{dataModel.linkMainImageIdSrc | cmsthumbnail}}" target="_blank">
        <img *ngIf="dataModel?.linkMainImageIdSrc?.length>0" style="vertical-align:middle;" class="ntk-hover-zoom"
          aria-hidden src="{{dataModel.linkMainImageIdSrc | cmsthumbnail}}" height="50" width="50" />
      </a>
    </div>
    <div class="mb-9">
      <mat-form-field class="ntk-full-width">
        <mat-label (click)="fileManagerOpenForm = true"> {{'TITLE.Icon_File' | translate}}
        </mat-label>
        <input matInput [(ngModel)]="dataModel.linkMainImageId" name="dataModel.linkMainImageId" #LinkMainImageId
          type="text" placeholder="{{'TITLE.Original_File_ID' | translate}}" autocomplete="off"
          (click)="fileManagerOpenForm = true" />
        <mat-icon matSuffix *ngIf="dataModel.linkMainImageId " matSuffix mat-icon-button aria-label="Clear"
          (click)="dataModel.linkMainImageId = null">close</mat-icon>
        <mat-icon matSuffix (click)="fileManagerOpenForm = true">mode_edit</mat-icon>
      </mat-form-field>
      <cms-file-manager (itemSelected)="onActionFileSelected($event)" [language]="appLanguage" [isPopup]="true"
        [(openForm)]="fileManagerOpenForm" [tree]="fileManagerTree" [openFilemanagerButtonLabelKey]="'select'"
        [openDirectUploadView]="true" [selectFileType]="selectFileTypeMainImage" [openFilemanagerButtonView]="false">
      </cms-file-manager>
    </div>
    <!--end:::::::::::::::::::::::::::::::::::::::::cms-body-->
  </div>
  <div class="ntk-cms-html-card-message">
    <!--begin:::::::::::::::::::::::::::::::::::::::::cms-message-->
    <div class="form-actions">
      <small class="form-text text-muted">{{ formInfo.formAlert }} </small>
      <small class="form-text text-muted danger">{{ formInfo.formError }}
      </small>
    </div>
    <!--end:::::::::::::::::::::::::::::::::::::::::cms-message-->
  </div>
  <div class="ntk-cms-html-card-footer">
    <!--begin:::::::::::::::::::::::::::::::::::::::::cms-footer-->

    <div class="form-actions" *ngIf="formInfo.formSubmitAllow  && !loading.display">
      <button type="button" (click)="onFormCancel()" class="btn btn-light">
        <i class="ft-x"></i> {{'ACTION.CANCEL' | translate}}
      </button>
      <button type="submit" (click)="onFormSubmit()" class="btn btn-success" [disabled]="!vform.form.valid">
        <i class="fa fa-check-square-o"></i> {{'ACTION.SAVE' | translate}}
      </button>
    </div>
    <!--end:::::::::::::::::::::::::::::::::::::::::cms-footer-->
  </div>
</form>