<h2 mat-dialog-title>{{ formInfo.FormTitle }}</h2>
<mat-dialog-content>
  <form (ngSubmit)="onFormSubmit()" #vform="ngForm" class="form form-horizontal">
    <app-progress-spinner [options]="loading"> </app-progress-spinner>
    <div *ngIf="!loading.display" class="form-body">
      <mat-form-field class="example-full-width">
        <mat-select placeholder="{{fieldsInfo['RecordStatus']?.FieldTitle}}" [(ngModel)]="dataModel.RecordStatus" name="dataModel.RecordStatus"
          #RecordStatus="ngModel" panelClass="recordStatus-{{ dataModel.RecordStatus }}" required>
          <mat-option *ngFor="
                let item of dataModelEnumRecordStatusResult.ListItems;
                index as i
              " [value]="item.Value">{{ item.Description }}</mat-option>
        </mat-select>
        <mat-hint align="end">{{'TITLE.SELECT_STATUS' | translate}}</mat-hint>
        <mat-error *ngIf="RecordStatus.errors?.required">
          RecordStatus is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <!-- LinkCmsSiteId Field -->
      <app-core-sitecategory-selector (optionSelect)="onActionSiteCategorySelect($event)" [optionDisabled]="false"
        [optionSelectForce]="dataModel.LinkCmsSiteCategoryId" [optionPlaceholder]="'دسته بندی سایت'">
      </app-core-sitecategory-selector>
      <!-- LinkModuleId Field -->
      <app-core-module-selector (optionSelect)="onActionSelectorModuleSelect($event)" [optionDisabled]="false" [optionSelectFirstItem]="true"
        [optionSelectForce]="dataModel.LinkCmsModuleId" [optionPlaceholder]="'ماژول'">
      </app-core-module-selector>
      <!-- ConfigValuesJson Field -->
      <mat-form-field class="example-full-width" *ngIf="fieldsInfo['ConfigValuesJson']?.AccessWatchField">
        <mat-label>{{ fieldsInfo['ConfigValuesJson']?.FieldConfigValuesJson }}</mat-label>
        <textarea matInput [(ngModel)]="dataModel.ConfigValuesJson"
          [disabled]="!fieldsInfo['ConfigValuesJson']?.AccessAddField" name="dataModel.ConfigValuesJson"
          #ConfigValuesJson type="text" placeholder="ConfigValuesJson" row="6" minlength="0"
          maxlength="10000"></textarea>
        <mat-icon matSuffix *ngIf="dataModel.ConfigValuesJson && fieldsInfo['ConfigValuesJson']?.AccessAddField"
          matSuffix mat-icon-button aria-label="Clear" (click)="dataModel.ConfigValuesJson = ''">close</mat-icon>
        <mat-icon *ngIf="fieldsInfo['ConfigValuesJson']?.AccessAddField" matSuffix>mode_edit</mat-icon>
        <mat-hint align="start">{{ ConfigValuesJson.value.length }} / 10000</mat-hint>
      </mat-form-field>
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <div class="form-actions">
    <small class="form-text text-muted">{{ formInfo.FormAlert }} </small>
    <small class="form-text text-muted danger">{{ formInfo.FormError }}
    </small>
  </div>
  <div class="form-actions" *ngIf="formInfo.FormSubmitAllow">
    <button type="button" (click)="onFormCancel()" class="btn btn-raised btn-warning mr-1">
      <i class="ft-x"></i> {{'ACTION.CANCEL' | translate}}
    </button>
    <button type="submit" (click)="onFormSubmit()" class="btn btn-raised btn-primary" [disabled]="!vform.form.valid">
      <i class="fa fa-check-square-o"></i> {{'ACTION.SAVE' | translate}}
    </button>
  </div>
</mat-dialog-actions>
