<app-cms-guide-notice [Key]="'article.comment.list'"  [svg]="'assets/media/svg/icons/General/Notifications1.svg'"></app-cms-guide-notice>

<app-article-content-header *ngIf="this.requestContentId>0" [optionId]="this.requestContentId">

</app-article-content-header>

<app-cms-html-list [optionLoading]="loading" [optionTreeDisplay]="false">
  <ng-container cms-tree>
    <!--begin:::::::::::::::::::::::::::::::::::::::::cms-tree-->
    --------------------------------------
    <!--end:::::::::::::::::::::::::::::::::::::::::cms-tree-->
  </ng-container>
  <ng-container cms-header>
    <!--begin:::::::::::::::::::::::::::::::::::::::::cms-header-->
    <!--end:::::::::::::::::::::::::::::::::::::::::cms-header-->
  </ng-container>
  <ng-container cms-action>
    <!--begin:::::::::::::::::::::::::::::::::::::::::cms-action-->
    <button *ngIf="dataModelResult.access.accessAddRow && this.requestContentId>0" (click)="onActionbuttonNewRow()"
      type="button" class="btn btn-outline-primary" id="openModalButton" data-toggle="modal"
      data-target="#categoryModal">{{'ACTION.ADD' | translate}}</button>
    <button *ngIf="dataModelResult.access.accessEditRow && tableRowSelected.id>0" (click)="onActionbuttonEditRow()"
      type="button" class="btn btn-outline-warning" data-toggle="modal" data-target="#categoryModal">{{'ACTION.EDIT' |
      translate}}</button>
    <button *ngIf="dataModelResult.access.accessDeleteRow && tableRowSelected.id>0" (click)="onActionbuttonDeleteRow()"
      type="button" class="btn btn-outline-danger">{{'ACTION.DELETE' | translate}}</button>
    <a class="btn btn-outline-info btn-sm BTN-text">
      <mat-slide-toggle [(ngModel)]="optionsSearch.data.show">{{'ACTION.SEARCH' | translate}}</mat-slide-toggle>
    </a>
    <a class="btn btn-outline-info btn-sm BTN-text">
      <mat-slide-toggle (click)="onActionbuttonStatist()">{{'ACTION.STATIST' | translate}}
      </mat-slide-toggle>
    </a>
    <button (click)="onActionbuttonExport()" type="button" class="btn btn-outline-secondary BTN-icon">
      <mat-icon style="font-size: 20px;margin: -1px;" title="{{'ACTION.EXPORTFILE' | translate}}">cloud_download</mat-icon>
    </button>
    <button (click)="onActionButtonPrintEntity()" *ngIf="tableRowSelected?.id?.length>0" type="button" class="btn btn-outline-secondary BTN-icon">
      <mat-icon style="font-size: 20px;margin: -1px;" title="{{'ACTION.PRINT' | translate}}">print</mat-icon>
    </button>
    <a class="btn btn-outline-info btn-sm BTN-text">
      <mat-slide-toggle (click)="onActionbuttonInChecking(!searchInChecking)" [checked]="searchInCheckingChecked">
        {{'ACTION.INCHECKING' | translate}}
      </mat-slide-toggle>
    </a>
    <button (click)="onActionbuttonReload()" type="button" class="btn btn-outline-secondary BTN-icon">
      <mat-icon style="font-size: 20px;margin: -1px;" title="{{'ACTION.RELOAD' | translate}}">refresh</mat-icon>
    </button>
    <button (click)="onActionBackToParent()" type="button" class="btn btn-outline-success BTN-text">{{'ACTION.BACK' |
      translate}}</button>
    <!--end:::::::::::::::::::::::::::::::::::::::::cms-action-->
  </ng-container>
  <ng-container cms-action-area>
    <!--begin:::::::::::::::::::::::::::::::::::::::::cms-action-area-->
    <app-cms-search-list [(options)]="optionsSearch"></app-cms-search-list>

    <app-cms-statist-list [(options)]="optionsStatist"></app-cms-statist-list>
    <!--end:::::::::::::::::::::::::::::::::::::::::cms-action-area-->
  </ng-container>
  <ng-container cms-body>
    <!--begin:::::::::::::::::::::::::::::::::::::::::cms-body-->
    <mat-table [dataSource]="tableSource" matSort #tableSort="matSort" (matSortChange)="onTableSortData(tableSort)">
      <!-- ID Column -->
      <ng-container matColumnDef="Id">
        <mat-header-cell *matHeaderCellDef mat-sort-header> {{fieldsInfo['id']?.fieldTitle}} </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.id}} </mat-cell>
      </ng-container>
      <!-- LinkSiteId Column -->
      <ng-container matColumnDef="LinkSiteId">
        <mat-header-cell *matHeaderCellDef mat-sort-header> {{fieldsInfo['linkSiteId']?.fieldTitle}} </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.linkSiteId}} </mat-cell>
      </ng-container>
      <!-- LinkContentId Column -->
      <ng-container matColumnDef="LinkContentId">
        <mat-header-cell *matHeaderCellDef mat-sort-header> {{fieldsInfo['linkSiteId']?.fieldTitle}} </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.linkContentId}} </mat-cell>
      </ng-container>
      <!-- RecordStatus Column -->
      <ng-container matColumnDef="RecordStatus">
        <mat-header-cell *matHeaderCellDef mat-sort-header> {{fieldsInfo['recordStatus']?.fieldTitle}}
        </mat-header-cell>
        <mat-cell *matCellDef="let row"> <i [ngClass]="row.recordStatus|statusClass" ></i>
           <select matNativeControl  cmsRecordStatusSelfSave  [contentService]="contentService" [row]="row" [ngStyle]="{'display': row.id === tableRowSelected.id ? '' : 'none' }">
          </select> </mat-cell>
      </ng-container>
      <!-- Writer Column -->
      <ng-container matColumnDef="Writer">
        <mat-header-cell *matHeaderCellDef mat-sort-header> {{fieldsInfo['writer']?.fieldTitle}} </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.writer}} </mat-cell>
      </ng-container>
      <!-- CreatedDate Column -->
      <ng-container matColumnDef="CreatedDate">
        <mat-header-cell *matHeaderCellDef mat-sort-header> {{fieldsInfo['createdDate']?.fieldTitle}} </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{ publicHelper.LocaleDate(row.createdDate) }} </mat-cell>
      </ng-container>
      <!-- UpdatedDate Column -->
      <ng-container matColumnDef="UpdatedDate">
        <mat-header-cell *matHeaderCellDef mat-sort-header> {{fieldsInfo['updatedDate']?.fieldTitle}} </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{ publicHelper.LocaleDate(row.updatedDate) }} </mat-cell>
      </ng-container>
      <!-- Action Column -->
      <ng-container matColumnDef="Action">
        <mat-header-cell *matHeaderCellDef> {{'TITLE.OPTION' | translate}} </mat-header-cell>
        <mat-cell *matCellDef="let row" class='Action'>
          <!-- Action Menu -->
          <button mat-icon-button [matMenuTriggerFor]="actionMenu" aria-label="Action Menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #actionMenu="matMenu">
            <button mat-menu-item (click)="onActionbuttonEditRow(row)" *ngIf="dataModelResult.access.accessEditRow">
              <mat-icon>mode_edit</mat-icon>
              <span>{{'ACTION.EDIT' | translate}}</span>
            </button>
            <button mat-menu-item (click)="onActionbuttonDeleteRow(row)" *ngIf="dataModelResult.access.accessDeleteRow">
              <mat-icon>delete_forever</mat-icon>
              <span>{{'ACTION.DELETE' | translate}}</span>
            </button>
            <button mat-menu-item (click)="onActionbuttonViewContent(row)"
              *ngIf="dataModelResult.access.accessDeleteRow">
              <mat-icon>visibility</mat-icon>
              <span>{{'ACTION.VIEW_ARTICLE' | translate}}</span>
            </button>
            <button mat-menu-item (click)="onActionbuttonEditContent(row)"
              *ngIf="dataModelResult.access.accessDeleteRow">
              <mat-icon>visibility</mat-icon>
              <span>{{'ACTION.EDIT_ARTICLE' | translate}}</span>
            </button>
          </mat-menu>
        </mat-cell>
      </ng-container>
      <!-- LinkTo Column -->
      <ng-container matColumnDef="LinkTo">
        <mat-header-cell *matHeaderCellDef mat-sort-header> {{'TITLE.LINKTO' | translate}}
        </mat-header-cell>
        <mat-cell *matCellDef="let row">
          <button mat-icon-button (click)="onActionbuttonLinkTo(row)">
          <mat-icon>&#8599;</mat-icon>
        </button>
        </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="tabledisplayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: tabledisplayedColumns;" (click)="onActionTableRowSelect(row)"
        [ngStyle]="{'background': row.id === tableRowSelected.id ? '#d3d3da' : '' }">
      </mat-row>
    </mat-table>
    <!--end:::::::::::::::::::::::::::::::::::::::::cms-body-->
  </ng-container>
  <ng-container cms-footer>
    <!--begin:::::::::::::::::::::::::::::::::::::::::cms-footer-->
    <mat-paginator #paginator [length]="(dataModelResult.totalRowCount)"
      [pageIndex]="(dataModelResult.currentPageNumber-1)" [pageSize]="dataModelResult.rowPerPage"
      [pageSizeOptions]="[5, 10, 20, 100]" (page)="onTablePageingData($event)"></mat-paginator>
    <!--end:::::::::::::::::::::::::::::::::::::::::cms-footer-->
  </ng-container>
</app-cms-html-list>
