<form (ngSubmit)="onFormSubmit()" #vform="ngForm">
  <div class="ntk-cms-html-card-header">
    <!--begin:::::::::::::::::::::::::::::::::::::::::cms-header-->
    {{ formInfo.formTitle }}
    <!--end:::::::::::::::::::::::::::::::::::::::::cms-header-->
  </div>
  <div class="ntk-cms-html-card-body">
    <app-progress-spinner [options]="loading"> </app-progress-spinner>
    <!--begin:::::::::::::::::::::::::::::::::::::::::cms-body-->
    <mat-form-field class="ntk-full-width">
      <mat-select placeholder="{{fieldsInfo['RecordStatus']?.fieldTitle}}" [(ngModel)]="dataModel.recordStatus"
        name="dataModel.recordStatus" #RecordStatus="ngModel" panelClass="recordStatus-{{ dataModel.recordStatus }}"
        required>
        <mat-option *ngFor="
              let item of dataModelEnumRecordStatusResult.listItems;
              index as i
            " [value]="item.value">{{ item.description }}</mat-option>
      </mat-select>
      <mat-hint align="end">{{'TITLE.SELECT_STATUS' | translate}}</mat-hint>
      <mat-error *ngIf="RecordStatus.errors?.required">
        RecordStatus is <strong>{{'MESSAGE.required' | translate}}</strong>
      </mat-error>
    </mat-form-field>
    
    <!-- moduleName Field -->
    <mat-form-field class="ntk-full-width mb-1" *ngIf="fieldsInfo['ModuleName']?.accessWatchField">
      <mat-label>{{fieldsInfo['ModuleName']?.fieldTitle}}</mat-label>
      <input matInput [(ngModel)]="dataModel.moduleName" name="dataModel.moduleName" #ModuleName type="text"
        disabled="{{!fieldsInfo['ModuleName']?.accessEditField}}" placeholder="{{fieldsInfo['ModuleName']?.fieldTitle}}"
        minlength="3" maxlength="100" required />
      <mat-icon matSuffix *ngIf="dataModel.moduleName" matSuffix mat-icon-button aria-label="Clear"
        (click)="dataModel.moduleName = ''">close</mat-icon>
      <mat-icon matSuffix>mode_edit</mat-icon>
      <mat-hint align="start">
        <mat-icon matSuffix class="info-field-icon">info</mat-icon>
        <strong class="info-field-text">{{fieldsInfo['ModuleName']?.FieldDescription}}</strong>
      </mat-hint>
      <mat-hint align="end">{{ ModuleName.value.length }} / 100</mat-hint>
      <mat-error *ngIf="ModuleName.errors?.required">
        {{fieldsInfo['ModuleName']?.fieldTitle}} <strong>{{'MESSAGE.required' | translate}}</strong>
      </mat-error>
    </mat-form-field>



    <!-- moduleEntityName Field -->
    <mat-form-field class="ntk-full-width mb-1" *ngIf="fieldsInfo['ModuleEntityName']?.accessWatchField">
      <mat-label>{{fieldsInfo['ModuleEntityName']?.fieldTitle}}</mat-label>
      <input matInput [(ngModel)]="dataModel.moduleEntityName" name="dataModel.moduleEntityName" #ModuleEntityName
        type="text" disabled="{{!fieldsInfo['ModuleEntityName']?.accessEditField}}"
        placeholder="{{fieldsInfo['ModuleEntityName']?.fieldTitle}}" minlength="3" maxlength="100" required />
      <mat-icon matSuffix *ngIf="dataModel.moduleEntityName" matSuffix mat-icon-button aria-label="Clear"
        (click)="dataModel.moduleEntityName = ''">close</mat-icon>
      <mat-icon matSuffix>mode_edit</mat-icon>
      <mat-hint align="start">
        <mat-icon matSuffix class="info-field-icon">info</mat-icon>
        <strong class="info-field-text">{{fieldsInfo['ModuleEntityName']?.FieldDescription}}</strong>
      </mat-hint>
      <mat-hint align="end">{{ ModuleEntityName.value.length }} / 100</mat-hint>
      <mat-error *ngIf="ModuleEntityName.errors?.required">
        {{fieldsInfo['ModuleEntityName']?.fieldTitle}} <strong>{{'MESSAGE.required' | translate}}</strong>
      </mat-error>
    </mat-form-field>
    <!-- Description Field -->
    <mat-form-field class="ntk-full-width">
      <mat-label>{{fieldsInfo['Description']?.fieldTitle}}</mat-label>
      <textarea matInput [(ngModel)]="dataModel.description" name="dataModel.description" #Description type="text"
        placeholder="{{fieldsInfo['Description']?.fieldTitle}}" minlength="1" maxlength="500" rows=5></textarea>
      <mat-icon matSuffix *ngIf="dataModel.description" matSuffix mat-icon-button aria-label="Clear"
        (click)="dataModel.description = ''">close</mat-icon>
      <mat-icon matSuffix>mode_edit</mat-icon>
      <mat-hint align="end">{{ Description.value.length }} / 500</mat-hint>
      <mat-error *ngIf="Description.errors?.required">
        Description is <strong>{{'MESSAGE.required' | translate}}</strong>
      </mat-error>
    </mat-form-field>
   
    <!--end:::::::::::::::::::::::::::::::::::::::::cms-body-->
  </div>
  <div class="ntk-cms-html-card-message">
    <!--begin:::::::::::::::::::::::::::::::::::::::::cms-message-->
    <div class="form-actions">
      <small class="form-text text-muted">{{ formInfo.formAlert }} </small>
      <small class="form-text text-muted danger">{{ formInfo.formError }}
      </small>
    </div>
    <!--end:::::::::::::::::::::::::::::::::::::::::cms-message-->
  </div>
  <div class="ntk-cms-html-card-footer">
    <!--begin:::::::::::::::::::::::::::::::::::::::::cms-footer-->

    <div class="form-actions" *ngIf="formInfo.formSubmitAllow  && !loading.display">
      <button type="button" (click)="onFormCancel()" class="btn btn-light">
        <i class="ft-x"></i> {{'ACTION.CANCEL' | translate}}
      </button>
      <button type="submit" (click)="onFormSubmit()" class="btn btn-success" [disabled]="!vform.form.valid">
        <i class="fa fa-check-square-o"></i> {{'ACTION.SAVE' | translate}}
      </button>
    </div>
    <!--end:::::::::::::::::::::::::::::::::::::::::cms-footer-->
  </div>
</form>