<app-cms-html-notice [svg]="'assets/media/svg/icons/Tools/Compass.svg'">
  ایجاد اولین سامانه شما.
  <br>
  لطفا تمام دقت لازم را در انتخاب نوع سامانه و دامنه داشته باشید.
</app-cms-html-notice>
<form (ngSubmit)="onFormSubmit()" #vform="ngForm">
  <div class="ntk-cms-html-card-body">
    <app-progress-spinner [options]="loading"> </app-progress-spinner>
    <!--begin:::::::::::::::::::::::::::::::::::::::::cms-body-->
    <mat-horizontal-stepper (selectionChange)="onStepClick($event,stepper)" #stepper>
      <mat-step label="مشخضات سامانه" state="main">
        <!-- Title Field -->
        <mat-form-field class="ntk-full-width">
          <mat-label>{{'TITLE.System_Title' | translate}}</mat-label>
          <input matInput [(ngModel)]="dataModel.title" name="dataModel.title" #Title type="text"
            placeholder="{{'TITLE.System_Title' | translate}}" minlength="3" maxlength="100" required />
          <mat-icon matSuffix *ngIf="dataModel.title" matSuffix mat-icon-button aria-label="Clear"
            (click)="dataModel.title = ''">close</mat-icon>
          <mat-icon matSuffix>mode_edit</mat-icon>
          <mat-hint style="text-align: left;">{{ Title.value.length }} / 100</mat-hint>
          <mat-error *ngIf="Title.errors?.required">
            {{'MESSAGE.System.title_required' | translate}}
          </mat-error>
        </mat-form-field>
        <mat-form-field class="ntk-full-width">
          <mat-label>عنوان لاتین</mat-label>
          <input matInput [(ngModel)]="dataModel.subDomain" name="dataModel.subDomain" #SubDomain2 type="text"
            (ngModelChange)="checkValidateDomain()" placeholder="عنوان لاتین" minlength="3" maxlength="20" required
            pattern="[a-zA-Z]{2,20}" />
          <mat-icon matSuffix *ngIf="dataModel.subDomain" matSuffix mat-icon-button aria-label="Clear"
            (click)="dataModel.subDomain = 'myname'">close</mat-icon>
          <mat-icon matSuffix>mode_edit</mat-icon>
          <mat-hint style="text-align: left;">{{ SubDomain2.value.length }} / 20</mat-hint>
          <mat-error *ngIf="SubDomain2.errors?.required">
            عنوان لاتین الزامی است
          </mat-error>
          <mat-error *ngIf="!validateDomain">
            مجاز به ورود فقط کاراکتر لاتین هستید
          </mat-error>
        </mat-form-field>
        <!-- Description Field -->
        <!-- <mat-form-field class="ntk-full-width">
          <mat-label>توضیحات کوتاه در باره این سامانه</mat-label>
          <textarea matInput [(ngModel)]="dataModel.description" name="dataModel.description" #Description type="text"
            placeholder="{{fieldsInfo['Description']?.fieldTitle}}" minlength="1" maxlength="500" rows=5></textarea>
          <mat-icon matSuffix *ngIf="dataModel.description" matSuffix mat-icon-button aria-label="Clear"
            (click)="dataModel.description = ''">close</mat-icon>
          <mat-icon matSuffix>mode_edit</mat-icon>
          <mat-hint style="text-align: left;">{{ Description.value.length }} / 500</mat-hint>
          <mat-error *ngIf="Description.errors?.required">
            ورود توضیحات سامانه الزامی است
          </mat-error>
        </mat-form-field> -->
        <!-- sitecategory Field -->
        <app-core-sitecategory-selector (optionChange)="onActionSelectorSelect($event)" [optionSelectFirstItem]="true"
          [optionSelectForce]="this.dataModel.linkSiteCategoryId" [optionPlaceholder]="'نوع سامانه'"
          [optionDisabled]="siteTypeId>0"></app-core-sitecategory-selector>

        <div *ngIf="formInfo.formSubmitAllow  && !loading.display" class="ntk-button-row">
          <button type="button" mat-raised-button color="primary" [disabled]="!vform.form.valid" matStepperNext>
            {{'ACTION.NEXT' | translate}}
          </button>
        </div>
      </mat-step>
      <mat-step label="امکانات سامانه" state="seo">
        <p>نسبت به نوع سامانه انتخابی شما این امکانات در اختیار این سامانه قرار داده می شود</p>

        <app-core-sitecategorycmsmodule-listview [optionSiteCategoryId]="modelDateSiteCategory?.id">
        </app-core-sitecategorycmsmodule-listview>

        <div *ngIf="formInfo.formSubmitAllow  && !loading.display" class="ntk-button-row">
          <button type="button" mat-raised-button color="primary" matStepperPrevious>
            {{'ACTION.BEFOR' | translate}}
          </button>
          <button type="button" mat-raised-button color="primary" [disabled]="!vform.form.valid" matStepperNext>
            {{'ACTION.NEXT' | translate}}
          </button>
        </div>
      </mat-step>
      <mat-step label="توافقنامه سامانه" state="rule"
        *ngIf="this.modelDateSiteCategory?.ruleHtmlBody && this.modelDateSiteCategory?.ruleHtmlBody.length>0">
        <p>نسبت به نوع سامانه انتخابی شما این توافقنامه مورد تایید شما می باشد</p>


        <div [innerHTML]="this.modelDateSiteCategory.ruleHtmlBody"></div>

        <div *ngIf="formInfo.formSubmitAllow  && !loading.display" class="ntk-button-row">
          <button type="button" mat-raised-button color="primary" matStepperPrevious>
            {{'ACTION.BEFOR' | translate}}
          </button>
          <button type="button" mat-raised-button color="primary" [disabled]="!vform.form.valid" matStepperNext>
            {{'ACTION.NEXT' | translate}}
          </button>
        </div>
      </mat-step>
      <mat-step label="آدرس دسترسی به سامانه" state="seo">
        <p>از لیست دامنه های موجود یک دامنه را انتخاب کنید و عنوان لاتین برای متناسب با نام سامانه خود برای
          آدرس دهی انخاب نمایید</p>
        <!-- Domain Field -->
        <mat-form-field class="ntk-full-width">
          <mat-select placeholder="دامنه" [(ngModel)]="dataModel.domain" name="dataModel.domain" #Domain="ngModel"
            panelClass="recordStatus-{{ dataModel.domain }}">
            <mat-option *ngFor="
        let item of dataModelResultDomains.listItems;
        index as i
      " [value]="item">{{ item }}</mat-option>
          </mat-select>
          <mat-hint style="text-align: left;">انتخاب دامنه برای این سامانه</mat-hint>
        </mat-form-field>
        <!-- Domain Field -->
        <div class="row input-group mb-3 set-select" style="margin: 2px 17px 0 0; padding-left: 34px;">
          <div class="input-group-prepend col-4 ">
            <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown"
              aria-haspopup="false" aria-expanded="false">{{ dataModel.domain === undefined ? 'دامنه' :
              dataModel.domain }}</button>
            <div class="dropdown-menu">
              <option (click)="domain(item)" class="cursor-pointer"
                *ngFor="let item of dataModelResultDomains.listItems;let i = index" value="{{item}}">{{item}}</option>
            </div>
          </div>
          <input [(ngModel)]="dataModel.subDomain" name="subDomain" placeholder="YourSubDomain" type="text"
            class="form-control text-left  col-4" aria-label="زیر دامنه  وب سایت " />
          <div class="input-group-prepend  col-4">
            <input type="text" class="form-control text-left" style="direction: ltr;" value="http://"
              style="text-align: left;" dir="ltr" readonly />
          </div>
        </div>
        آدرس سامانه شما:
        <div class="text-left text-wrap"
          style="direction: ltr;font-size: xx-large; color: black;text-align-last:center">
          http://{{dataModel.subDomain === undefined ?'' : dataModel.subDomain + '.'}}{{ dataModel.domain ===
          undefined ? '' : dataModel.domain }}</div>


        <div class="form-actions">
          <small class="form-text text-muted">{{ formInfo.formAlert }} </small>
          <small class="form-text text-muted danger">{{ formInfo.formError }}
          </small>
        </div>
        <div *ngIf="formInfo.formSubmitAllow  && !loading.display" class="ntk-button-row">
          <button type="button" mat-raised-button color="primary" matStepperPrevious>
            {{'ACTION.BEFOR' | translate}}
          </button>
          <button type="submit" mat-raised-button color="success" [disabled]="!vform.form.valid">
            {{'ACTION.SAVE' | translate}}
          </button>
        </div>
      </mat-step>
    </mat-horizontal-stepper>
    <!--end:::::::::::::::::::::::::::::::::::::::::cms-body-->
  </div>

</form>