<h2 mat-dialog-title>{{ formInfo.FormTitle }}</h2>
<mat-dialog-content>
  <form #vform="ngForm" class="form form-horizontal">
    <app-progress-spinner [options]="loading"> </app-progress-spinner>
    <div *ngIf="!loading.display" class="form-body">

      <app-cms-json-list [dataModel]="dataModel" [optionMethod]="1" ></app-cms-json-list>

    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <div class="form-actions">
    <small class="form-text text-muted">{{ formInfo.FormAlert }} </small>
    <small class="form-text text-muted danger">{{ formInfo.FormError }}
    </small>
  </div>
  <div class="form-actions" *ngIf="formInfo.FormSubmitAllow">
    <button type="button" (click)="onFormCancel()" class="btn btn-raised btn-warning mr-1">
      <i class="ft-x"></i> {{'ACTION.CANCEL' | translate}}
    </button>
  </div>
</mat-dialog-actions>
