.height{
    height: auto;
}
.background{
    background: linear-gradient(to bottom left , rgba(160, 32, 32, 0.5),rgba(179, 30, 30, 0.5));
}
.color{
    color: black;
}
.pointer {
    cursor: pointer;
}