<!--begin::Tiles Widget 11-->
<div class="card card-custom bg- height background" [ngClass]="cssClass">
  <div class="card-body">
    <div class="ntk-cms-html-widget-header">
      <!--begin:::::::::::::::::::::::::::::::::::::::::cms-header-->
      <span [ngClass]="svgCSSClass" [inlineSVG]="'./assets/media/svg/icons/Shopping/Dollar.svg'"
        class="svg-icon svg-icon-3x svg-icon-white ml-n2"></span>
      <!--end:::::::::::::::::::::::::::::::::::::::::cms-header-->
    </div>
    <div class="ntk-cms-html-widget-body">
      <app-progress-spinner [options]="loading"> </app-progress-spinner>
      <!--begin:::::::::::::::::::::::::::::::::::::::::cms-body-->

      <div [ngClass]="textInverseCSSClass" class="font-weight-bolder font-size-h4 mt-3">
        <span>{{'ACTION.CREDIT_USER' | translate}}</span>:
         <span style >{{ dataModel.credit }}</span> 
      </div>
      <hr>
      <!--end::cms-body-->
    </div>
    <div class="ntk-cms-html-widget-footer">
      <!--begin:::::::::::::::::::::::::::::::::::::::::cms-footer-->

      <!--end:::::::::::::::::::::::::::::::::::::::::cms-footer-->
    </div>
  </div>
</div>
<!--end::Tiles Widget 11-->