 
<a (click)="fms.setSelected(folder)" class="node-anchor" [ngClass]="{'selected':fms.selected==folder}"> 
    <i (click)="fms.toggleExpand(folder)" class="glyphicon glyphicon-folder-close" *ngIf="!folder.isOpen"></i>
    <i (click)="fms.toggleExpand(folder)" class="glyphicon glyphicon-folder-open" *ngIf="folder.isOpen"></i>
    <span>{{folder.name}} </span>
</a>
<i class="glyphicon glyphicon-refresh loader-g" *ngIf="folder.isLoadingsubItems"></i>
<ng-container *ngIf="folder.isOpen">
       
    <ul *ngFor="let folder of folder.subItems | treeFolderFilter" class="tree">
        <li>
            <tree-node [folder]="folder"></tree-node>
        </li>
    </ul>
</ng-container>