<!-- <div class="row">

    <div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-18">
                <p> {{requestTitle}}</p>
                <p> {{requestModuleName}}</p>
                <p> {{requestModuleEntityName}}</p>
            </div>
        </div> -->
<!-- requestModuleEntityName Column -->
<!-- <ng-container matColumnDef="requestModuleEntityName">
            <mat-header-cell *matHeaderCellDef mat-sort-header> {{fieldsInfo['requestModuleEntityName']?.fieldTitle}}
            </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.requestModuleEntityName}} </mat-cell>
        </ng-container>
        <div class="row">


            <button (click)="onActionbuttonNewRow()" type="button" class="btn btn-outline-primary" id="openModalButton"
                data-toggle="modal" data-target="#categoryModal">{{'ACTION.ADD' | translate}}
            </button>

            {{this.dataModelResult |json}}
        </div>
    </div>
</div> -->
<!-- ==================================================  -->
<div [hidden]="!showAdd">
    <div>
        <div class="col-md-4 col-sm-4 col-xs-6 float">Title : {{ requestTitle }}</div>
        <div class="col-md-8 col-sm-8 col-xs-12 float">CreatDate : {{ dataModel.createdDate }}</div>
    </div>
    <br>
    <div>
        <div class="col-md-4 col-sm-4 col-xs-6 float">subjet title: {{ dataModel.subjectTitle }}</div>
        <div class="col-md-8 col-sm-8 col-xs-12 float">subject body:  {{ dataModel.subjectBody }}</div>
    </div>



</div>


<!-- ============================================ -->

<button  class="btn  btn-success float" (click)="onActionAdd()">{{'ACTION.ADD' |translate}}</button>

<!-- add memo -->

<form [hidden]="showAdd" (ngSubmit)="onFormSubmit()" #vform="ngForm">
    <div class="ntk-cms-html-card-header">
        <!--begin:::::::::::::::::::::::::::::::::::::::::cms-header-->
        {{ formInfo.formTitle }}
        <!--end:::::::::::::::::::::::::::::::::::::::::cms-header-->
    </div>
    <div class="ntk-cms-html-card-body">
        <app-progress-spinner [options]="loading"> </app-progress-spinner>
        <!--begin:::::::::::::::::::::::::::::::::::::::::cms-body-->

        <!-- SubjectBody Field -->
        <mat-form-field class="ntk-full-width">
            <mat-label>SubjectBody</mat-label>
            <textarea matInput [(ngModel)]="dataModel.subjectBody" name="dataModel.subjectBody" #SubjectBody type="text"
                placeholder="SubjectBody"></textarea>
            <mat-icon matSuffix *ngIf="dataModel.subjectBody" matSuffix mat-icon-button aria-label="Clear"
                (click)="dataModel.subjectBody = null">close</mat-icon>
            <mat-icon matSuffix>mode_edit</mat-icon>
        </mat-form-field>

        <!-- SubjectTitle Field -->
        <mat-form-field class="ntk-full-width">
            <mat-label>SubjectTitle</mat-label>
            <textarea matInput [(ngModel)]="dataModel.subjectTitle" name="dataModel.subjectTitle" #SubjectTitle
                type="text" placeholder="SubjectTitle"></textarea>
            <mat-icon matSuffix *ngIf="dataModel.subjectTitle" matSuffix mat-icon-button aria-label="Clear"
                (click)="dataModel.subjectTitle = null">close</mat-icon>
            <mat-icon matSuffix>mode_edit</mat-icon>
        </mat-form-field>

        <!--end:::::::::::::::::::::::::::::::::::::::::cms-body-->
    </div>
    <div class="ntk-cms-html-card-message">
        <!--begin:::::::::::::::::::::::::::::::::::::::::cms-message-->
        <div class="form-actions">
            <small class="form-text text-muted">{{ formInfo.formAlert }} </small>
            <small class="form-text text-muted danger">{{ formInfo.formError }}
            </small>
        </div>
        <!--end:::::::::::::::::::::::::::::::::::::::::cms-message-->
    </div>
    <div class="ntk-cms-html-card-footer">
        <!--begin:::::::::::::::::::::::::::::::::::::::::cms-footer-->
        <div class="form-actions" *ngIf="formInfo.formSubmitAllow  && !loading.display">
            <button type="submit" (click)="onFormSubmit()" class="btn btn-success" [disabled]="!vform.form.valid">
                <i class="fa fa-check-square-o"></i> {{'ACTION.SAVE' | translate}}
            </button>
        </div>
        <!--end:::::::::::::::::::::::::::::::::::::::::cms-footer-->
    </div>

</form>