
<div [hidden]="!showAdd" class="container" >
    <div class="row" *ngFor="let item of dataModelResult.listItems">
        <div class="col-md-12 col-sm-12 col-xs-18 float"> {{fieldsInfo['CreatedBy']?.fieldTitle}} : {{ item.createdBy }}
        </div>
        <div class="col-md-12 col-sm-12 col-xs-18 float"> {{fieldsInfo['SubjectTitle']?.fieldTitle}} : {{ item.subjectTitle }}
        </div>
        <div class="col-md-12 col-sm-12 col-xs-18 float"> {{fieldsInfo['SubjectBody']?.fieldTitle}} : {{            item.subjectBody }}</div>
    </div>

</div>


<!-- ============================================ -->
<br>
<br>
<button class="btn  btn-success float" (click)="onActionAdd()">{{'ACTION.ADD' |translate}}</button>

<!-- add memo -->

<form [hidden]="showAdd" (ngSubmit)="onFormSubmit()" #vform="ngForm">
    <div class="ntk-cms-html-card-header">
        <!--begin:::::::::::::::::::::::::::::::::::::::::cms-header-->
        {{ formInfo.formTitle }}
        <!--end:::::::::::::::::::::::::::::::::::::::::cms-header-->
    </div>
    <div class="ntk-cms-html-card-body">
        <app-progress-spinner [options]="loading"> </app-progress-spinner>
        <!--begin:::::::::::::::::::::::::::::::::::::::::cms-body-->

        <!-- SubjectBody Field -->
        <mat-form-field class="ntk-full-width">
            <mat-label>SubjectBody</mat-label>
            <textarea matInput [(ngModel)]="dataModel.subjectBody" name="dataModel.subjectBody" #SubjectBody type="text"
                placeholder="SubjectBody"></textarea>
            <mat-icon matSuffix *ngIf="dataModel.subjectBody" matSuffix mat-icon-button aria-label="Clear"
                (click)="dataModel.subjectBody = null">close</mat-icon>
            <mat-icon matSuffix>mode_edit</mat-icon>
        </mat-form-field>

        <!-- SubjectTitle Field -->
        <mat-form-field class="ntk-full-width">
            <mat-label>SubjectTitle</mat-label>
            <textarea matInput [(ngModel)]="dataModel.subjectTitle" name="dataModel.subjectTitle" #SubjectTitle
                type="text" placeholder="SubjectTitle"></textarea>
            <mat-icon matSuffix *ngIf="dataModel.subjectTitle" matSuffix mat-icon-button aria-label="Clear"
                (click)="dataModel.subjectTitle = null">close</mat-icon>
            <mat-icon matSuffix>mode_edit</mat-icon>
        </mat-form-field>

        <!--end:::::::::::::::::::::::::::::::::::::::::cms-body-->
    </div>
    <div class="ntk-cms-html-card-message">
        <!--begin:::::::::::::::::::::::::::::::::::::::::cms-message-->
        <div class="form-actions">
            <small class="form-text text-muted">{{ formInfo.formAlert }} </small>
            <small class="form-text text-muted danger">{{ formInfo.formError }}
            </small>
        </div>
        <!--end:::::::::::::::::::::::::::::::::::::::::cms-message-->
    </div>
    <div class="ntk-cms-html-card-footer">
        <!--begin:::::::::::::::::::::::::::::::::::::::::cms-footer-->
        <div class="form-actions" *ngIf="formInfo.formSubmitAllow  && !loading.display">
            <button type="submit" (click)="onFormSubmit()" class="btn btn-success" [disabled]="!vform.form.valid">
                <i class="fa fa-check-square-o"></i> {{'ACTION.SAVE' | translate}}
            </button>
        </div>
        <!--end:::::::::::::::::::::::::::::::::::::::::cms-footer-->
    </div>

</form>