<div class="d-flex flex-column-fluid">
  <!--begin::Container-->
  <div class="container">
    <form (ngSubmit)="onFormSubmit()" #vform="ngForm"
      class="form mt-0 mt-lg-10 fv-plugins-bootstrap fv-plugins-framework">
      <app-progress-spinner [options]="loading">
      </app-progress-spinner>
      <mat-horizontal-stepper *ngIf="!loading.display" (selectionChange)="onStepClick($event,stepper)" #stepper>

        <mat-step label="{{'TITLE.REQUIRED_INFORMATION' | translate}}" state="main">

          <mat-form-field class="example-full-width" *ngIf="fieldsInfo['RecordStatus']?.AccessWatchField">
            <mat-select placeholder="{{fieldsInfo['RecordStatus']?.FieldTitle}}" [(ngModel)]="dataModel.RecordStatus"
              [disabled]="!fieldsInfo['RecordStatus']?.AccessEditField" name="dataModel.RecordStatus"
              #RecordStatus="ngModel" panelClass="recordStatus-{{ dataModel.RecordStatus }}" required>
              <mat-option *ngFor="
                let item of dataModelEnumRecordStatusResult.ListItems;
                index as i
              " [value]="item.Value">{{ item.Description }}</mat-option>
            </mat-select>
            <mat-hint align="end">{{ 'Application.Source.RecordStatus_hint' | translate }}</mat-hint>
            <mat-error *ngIf="RecordStatus.errors?.required">
              {{ fieldsInfo['RecordStatus']?.FieldTitle }} is <strong>required</strong>
            </mat-error>
          </mat-form-field>






       <div *ngIf="formInfo.FormSubmitAllow">
           <button type="button" mat-button  (click)="onActionBackToParent()"
              class="btn btn-light-primary font-weight-bold text-uppercase px-9 py-4">
              {{'ACTION.BACK' | translate}}
            </button>
            <button type="button" [disabled]="!vform.form.valid" mat-button matStepperNext
              class="btn btn-outline-primary font-weight-bold text-uppercase px-9 py-4">
              {{'ACTION.NEXT' | translate}}
            </button>
          </div>
        </mat-step>

        <mat-step label="درباره ما" state="seo">
          <p>محتوای بخش درباره ما اپلیکیشن </p>




          <div *ngIf="formInfo.FormSubmitAllow">
            <button type="button" mat-button matStepperPrevious
              class="btn btn-light-primary font-weight-bold text-uppercase px-9 py-4">
              {{'ACTION.BEFOR' | translate}}
            </button>
            <button type="submit" mat-button [disabled]="!vform.form.valid"
              class="btn btn-success font-weight-bold text-uppercase px-9 py-4">
              {{'ACTION.SAVE' | translate}}
            </button>
          </div>
        </mat-step>



      </mat-horizontal-stepper>

    </form>

  </div>
  <!--end::Container-->
</div>

