<form (ngSubmit)="onFormSubmit()" #vform="ngForm">
  <div class="ntk-cms-html-card-header">
    <!--begin:::::::::::::::::::::::::::::::::::::::::cms-header-->
    {{ formInfo.formTitle }}
    <!--end:::::::::::::::::::::::::::::::::::::::::cms-header-->
  </div>
  <div class="ntk-cms-html-card-body">
    <app-progress-spinner [options]="loading"> </app-progress-spinner>
    <!--begin:::::::::::::::::::::::::::::::::::::::::cms-body-->
    <mat-horizontal-stepper (selectionChange)="onStepClick($event,stepper)" #stepper>
      <mat-step label="{{'TITLE.Menu_Profile' | translate}}" state="main">
        <!-- RecordStatus Field -->
        <mat-form-field class="ntk-full-width">
          <mat-select placeholder="{{fieldsInfo['recordStatus']?.fieldTitle}}" [(ngModel)]="dataModel.recordStatus"
            name="dataModel.recordStatus" #RecordStatus="ngModel" panelClass="recordStatus-{{ dataModel.recordStatus }}"
            required>
            <mat-option *ngFor="
                  let item of dataModelEnumRecordStatusResult.listItems;
                  index as i
                " [value]="item.value">{{ item.description }}</mat-option>
          </mat-select>
          <mat-hint align="end">{{'TITLE.SELECT_STATUS' | translate}}</mat-hint>
          <mat-error *ngIf="RecordStatus.errors?.required">
            {{fieldsInfo['recordStatus']?.fieldTitle}} is <strong>{{'MESSAGE.required' | translate}}</strong>
          </mat-error>
        </mat-form-field>
        <!-- Title Field -->
        <app-core-cpmainmenu-selector (optionChange)="onActionSelectorSelect($event)" [optionDisabled]="false"
          [(loading)]="loading" [optionSelectForce]="dataModel.linkParentId"
          [optionPlaceholder]="this.translate.instant('TITLE.Parent_Menu')">
        </app-core-cpmainmenu-selector>
        <!-- Title Field -->
        <mat-form-field class="ntk-full-width" *ngIf="fieldsInfo['title']?.accessWatchField">
          <mat-label> {{fieldsInfo['title']?.fieldTitle}}</mat-label>
          <input matInput [(ngModel)]="dataModel.title" name="dataModel.title" #Title type="text"
            [disabled]="!fieldsInfo['title']?.accessEditField" placeholder="{{fieldsInfo['title']?.fieldTitle}}"
            minlength="3" maxlength="100" required />
          <mat-icon matSuffix *ngIf="dataModel.title" matSuffix mat-icon-button aria-label="Clear"
            (click)="dataModel.title = ''">close</mat-icon>
          <mat-icon matSuffix>mode_edit</mat-icon>
          <mat-hint align="end">{{ Title.value.length }} / 100</mat-hint>
          <mat-error *ngIf="Title.errors?.required">
            {{fieldsInfo['title']?.fieldTitle}} is <strong>{{'MESSAGE.required' | translate}}</strong>
          </mat-error>
        </mat-form-field>
        <!-- TitleML Field -->
        <mat-form-field class="ntk-full-width">
          <mat-label> {{'TITLE.TitleML' | translate}}</mat-label>
          <input matInput [(ngModel)]="dataModel.titleML" name="dataModel.titleML" type="text" [disabled]="true" />
        </mat-form-field>
        <!-- TitleResourceLanguage Field -->
        <mat-form-field class="ntk-full-width" *ngIf="fieldsInfo['titleResourceLanguage']?.accessWatchField">
          <mat-label> {{fieldsInfo['titleResourceLanguage']?.fieldTitle}}</mat-label>
          <input matInput [(ngModel)]="dataModel.titleResourceLanguage" name="dataModel.titleResourceLanguage"
            #TitleResourceLanguage type="text" [disabled]="!fieldsInfo['titleResourceLanguage']?.accessEditField"
            placeholder="{{fieldsInfo['titleResourceLanguage']?.fieldTitle}}" minlength="3" maxlength="100" required />
          <mat-icon matSuffix *ngIf="dataModel.titleResourceLanguage" matSuffix mat-icon-button aria-label="Clear"
            (click)="dataModel.titleResourceLanguage = ''">close</mat-icon>
          <mat-icon matSuffix>mode_edit</mat-icon>
          <mat-hint align="end">{{ TitleResourceLanguage.value.length }} / 100</mat-hint>
          <mat-error *ngIf="TitleResourceLanguage.errors?.required">
            TitleResourceLanguage is <strong>{{'MESSAGE.required' | translate}}</strong>
          </mat-error>
        </mat-form-field>

        <!-- MenuPlaceType Field -->
        <mat-form-field class="ntk-full-width">
          <mat-select placeholder="{{'TITLE.Menu_place' | translate}}" [(ngModel)]="dataModel.menuPlaceType"
            name="dataModel.menuPlaceType" #MenuPlaceType="ngModel"
            panelClass="MenuPlaceType-{{ dataModel.menuPlaceType }}">
            <mat-option *ngFor="
                  let item of dataModelEnumMenuPlaceTypeResult.listItems;
                  index as i
                " [value]="item.value">{{ item.description }}</mat-option>
          </mat-select>
        </mat-form-field>

        <!-- RouteAddressLink Field -->
        <mat-form-field class="ntk-full-width" *ngIf="fieldsInfo['routeAddressLink']?.accessWatchField">
          <mat-label> {{fieldsInfo['routeAddressLink']?.fieldTitle}}</mat-label>
          <input matInput [(ngModel)]="dataModel.routeAddressLink" name="dataModel.routeAddressLink" #RouteAddressLink
            type="text" [disabled]="!fieldsInfo['routeAddressLink']?.accessEditField"
            placeholder="{{fieldsInfo['routeAddressLink']?.fieldTitle}}" minlength="0" maxlength="100" />
          <mat-icon matSuffix *ngIf="dataModel.routeAddressLink" matSuffix mat-icon-button aria-label="Clear"
            (click)="dataModel.routeAddressLink = ''">close</mat-icon>
          <mat-icon matSuffix>mode_edit</mat-icon>
          <mat-hint align="end">{{ RouteAddressLink.value.length }} / 100</mat-hint>
        </mat-form-field>
        <!-- RouteAddressBlankPage Field -->
        <div class="ntk-full-width">
          <mat-slide-toggle [(ngModel)]="dataModel.routeAddressBlankPage"
            *ngIf="fieldsInfo['routeAddressBlankPage']?.accessWatchField"
            [disabled]="!fieldsInfo['routeAddressBlankPage']?.accessEditField" name="dataModel.routeAddressBlankPage">
            {{fieldsInfo['routeAddressBlankPage']?.fieldTitle}}
          </mat-slide-toggle>
        </div>
        <!-- Color Field -->
        <mat-form-field class="ntk-full-width" *ngIf="fieldsInfo['color']?.accessWatchField">
          <mat-label> {{fieldsInfo['color']?.fieldTitle}}</mat-label>
          <input matInput [(ngModel)]="dataModel.color" name="dataModel.color" #Color [value]="dataModel.color"
            [style.background]="dataModel.color" [(colorPicker)]="dataModel.color" type="text"
            [disabled]="!fieldsInfo['color']?.accessEditField" placeholder="{{fieldsInfo['color']?.fieldTitle}}" />
          <mat-icon matSuffix *ngIf="dataModel.color" matSuffix mat-icon-button aria-label="Clear"
            (click)="dataModel.color = ''">close</mat-icon>
          <mat-icon matSuffix>mode_edit</mat-icon>
        </mat-form-field>

        <!-- icon Field -->
        <mat-form-field class="ntk-full-width" *ngIf="fieldsInfo['icon']?.accessWatchField">
          <mat-label> {{fieldsInfo['icon']?.fieldTitle}}</mat-label>
          <input matInput [(ngModel)]="dataModel.icon" name="dataModel.icon" #icon [iconPicker]="dataModel.icon"
            [ipIconPack]="['fa']" [ipPosition]="'top'" (iconPickerSelect)="onIconPickerSelect($event)" type="text"
            [disabled]="!fieldsInfo['icon']?.accessEditField" placeholder="{{fieldsInfo['icon']?.fieldTitle}}" />
          <span class="input-group-addon"><i [ngClass]="dataModel.icon"></i></span>
          <mat-icon>{{dataModel.icon}}</mat-icon>
          <mat-icon matSuffix *ngIf="dataModel.icon" matSuffix mat-icon-button aria-label="Clear"
            (click)="dataModel.icon = ''">close</mat-icon>
          <mat-icon matSuffix>mode_edit</mat-icon>
        </mat-form-field>

        <!-- ShowInMenuOrder Field -->
        <mat-form-field class="ntk-full-width" *ngIf="fieldsInfo['showInMenuOrder']?.accessWatchField">
          <mat-label> {{fieldsInfo['showInMenuOrder']?.fieldTitle}}</mat-label>
          <input matInput [(ngModel)]="dataModel.showInMenuOrder" name="dataModel.showInMenuOrder" #ShowInMenuOrder
            type="number" [disabled]="!fieldsInfo['showInMenuOrder']?.accessEditField"
            placeholder="{{fieldsInfo['showInMenuOrder']?.fieldTitle}}" />
          <mat-icon matSuffix *ngIf="dataModel.showInMenuOrder" matSuffix mat-icon-button aria-label="Clear"
            (click)="dataModel.showInMenuOrder = 1">close</mat-icon>
          <mat-icon matSuffix>mode_edit</mat-icon>
        </mat-form-field>
        <!-- Description Field -->
        <mat-form-field class="ntk-full-width" *ngIf="fieldsInfo['description']?.accessWatchField">
          <mat-label>{{fieldsInfo['description']?.fieldTitle}}</mat-label>
          <textarea matInput [(ngModel)]="dataModel.description" name="dataModel.description" #Description type="text"
            placeholder="{{fieldsInfo['description']?.fieldTitle}}" minlength="1" maxlength="500" rows="1"></textarea>
          <mat-icon matSuffix *ngIf="dataModel.description" matSuffix mat-icon-button aria-label="Clear"
            (click)="dataModel.description = ''">close</mat-icon>
          <mat-icon matSuffix>mode_edit</mat-icon>
          <mat-hint align="end">{{ Description.value.length }} / 500</mat-hint>
          <mat-error *ngIf="Description.errors?.required">
            {{fieldsInfo['description']?.fieldTitle}} is <strong>{{'MESSAGE.required' | translate}}</strong>
          </mat-error>
        </mat-form-field>

        <div *ngIf="formInfo.formSubmitAllow  && !loading.display" class="ntk-button-row">
          <button (click)="onFormCancel()" type="button" mat-raised-button>{{'ACTION.BACK' | translate}}</button>

          <button type="button" mat-raised-button color="primary" [disabled]="!vform.form.valid" matStepperNext>
            {{'ACTION.NEXT' | translate}}
          </button>
        </div>
      </mat-step>

      <mat-step label="{{'TITLE.ACEESS' | translate}}" state="seo">
        <p>{{'TITLE.Specify_access_to_this_content' | translate}}</p>

        <!-- ShowInMenu Field -->
        <div class="ntk-full-width">
          <mat-slide-toggle [(ngModel)]="dataModel.showInMenu" *ngIf="fieldsInfo['showInMenu']?.accessWatchField"
            [disabled]="!fieldsInfo['showInMenu']?.accessEditField" name="dataModel.showInMenu">
            {{fieldsInfo['showInMenu']?.fieldTitle}}
          </mat-slide-toggle>
        </div>
        <!-- ShowInAccessAdminAllowToProfessionalData Field -->
        <div class="ntk-full-width">
          <mat-slide-toggle [(ngModel)]="dataModel.showInAccessAdminAllowToProfessionalData"
            *ngIf="fieldsInfo['showInAccessAdminAllowToProfessionalData']?.accessWatchField"
            [disabled]="!fieldsInfo['showInAccessAdminAllowToProfessionalData']?.accessEditField"
            name="dataModel.showInAccessAdminAllowToProfessionalData">
            {{fieldsInfo['showInAccessAdminAllowToProfessionalData']?.fieldTitle}}
          </mat-slide-toggle>
        </div>
        <!-- LinkModuleId Field -->
        <app-core-module-selector (optionChange)="onActionSelectorModuleSelect($event)" [optionDisabled]="false"
          [(loading)]="loading" [optionSelectForce]="dataModel.linkModuleId"
          [optionPlaceholder]="this.translate.instant('TITLE.MODULE')">
        </app-core-module-selector>

        <app-core-usergroup-selectionlist [optionSelectForce]="dataCoreCpMainMenuIds" [optionDisabled]="false"
          (optionChange)="onActionSelectorUserCategorySelect($event)"
          (optionSelectAdded)="onActionSelectorUserCategorySelectAdded($event)"
          (optionSelectRemoved)="onActionSelectorUserCategorySelectRemoved($event)">
        </app-core-usergroup-selectionlist>
        <div *ngIf="formInfo.formSubmitAllow  && !loading.display" class="ntk-button-row">
          <button type="button" mat-raised-button color="accent" matStepperPrevious>
            {{'ACTION.BEFOR' | translate}}
          </button>
          <button type="submit" mat-raised-button color="success" [disabled]="!vform.form.valid">
            {{'ACTION.SAVE' | translate}}
          </button>

        </div>
      </mat-step>


      <!-- icon overrides. -->
      <ng-template matStepperIcon="main">
        <mat-icon>call_end</mat-icon>
      </ng-template>
      <ng-template matStepperIcon="seo">
        <mat-icon>call_end</mat-icon>
      </ng-template>
      <ng-template matStepperIcon="file">
        <mat-icon>forum</mat-icon>
      </ng-template>
      <ng-template matStepperIcon="loaction">
        <mat-icon>forum</mat-icon>
      </ng-template>

    </mat-horizontal-stepper>

    <!--end:::::::::::::::::::::::::::::::::::::::::cms-body-->
  </div>
  <div class="ntk-cms-html-card-message">
    <!--begin:::::::::::::::::::::::::::::::::::::::::cms-message-->

    <!--end:::::::::::::::::::::::::::::::::::::::::cms-message-->
  </div>
  <div class="ntk-cms-html-card-footer">
    <!--begin:::::::::::::::::::::::::::::::::::::::::cms-footer-->

    <!--end:::::::::::::::::::::::::::::::::::::::::cms-footer-->
  </div>
</form>