<form (ngSubmit)="onFormSubmit()" #vform="ngForm">
  <div class="ntk-cms-html-card-header">
    <!--begin:::::::::::::::::::::::::::::::::::::::::cms-header-->
    {{ formInfo.FormTitle }}
    <!--end:::::::::::::::::::::::::::::::::::::::::cms-header-->
  </div>
  <div class="ntk-cms-html-card-body">
    <app-progress-spinner [options]="loading"> </app-progress-spinner>
    <!--begin:::::::::::::::::::::::::::::::::::::::::cms-body-->
    <!-- RecordStatus Field -->
    <mat-form-field class="ntk-full-width">
      <mat-select placeholder="{{fieldsInfo['RecordStatus']?.FieldTitle}}" [(ngModel)]="dataModel.RecordStatus"
        name="dataModel.RecordStatus" #RecordStatus="ngModel" panelClass="recordStatus-{{ dataModel.RecordStatus }}"
        required>
        <mat-option *ngFor="
                  let item of dataModelEnumRecordStatusResult.ListItems;
                  index as i
                " [value]="item.Value">{{ item.Description }}</mat-option>
      </mat-select>
      <mat-hint align="end">{{'TITLE.SELECT_STATUS' | translate}}</mat-hint>
      <mat-error *ngIf="RecordStatus.errors?.required">
        RecordStatus is <strong>{{'MESSAGE.required' | translate}}</strong>
      </mat-error>
    </mat-form-field>

 
    <!-- LinkCoreUserId Field -->
    <app-cms-user-selector (optionChange)="onActionSelectorCmsUser($event)"
      [optionDisabled]="!fieldsInfo['LinkCoreUserId']?.AccessAddField" [optionSelectForce]="dataModel.LinkCoreUserId"
      [optionPlaceholder]="'کاربر'">
    </app-cms-user-selector>
 <!-- LinkCoreSiteId Field -->
 <app-cms-site-selector (optionChange)="onActionSelectorCmsSite($event)"
 [optionDisabled]="!fieldsInfo['LinkCoreSiteId']?.AccessAddField" [optionSelectForce]="dataModel.LinkCoreSiteId"
 [optionPlaceholder]="'سایت'">
</app-cms-site-selector>
 <!-- LinkCoreUserGroupId Field -->
 <app-cms-usergroup-selector (optionChange)="onActionSelectorCoreUserGroup($event)"
 [optionDisabled]="!fieldsInfo['LinkCoreUserGroupId']?.AccessAddField" [optionSelectForce]="dataModel.LinkCoreUserGroupId"
 [optionPlaceholder]="'نوع کاربری'">
</app-cms-usergroup-selector>
 <!-- LinkCoreSiteCategoryId Field -->
 <app-cms-sitecategory-selector (optionChange)="onActionSelectorCoreSiteCategory($event)"
 [optionDisabled]="!fieldsInfo['LinkCoreSiteCategoryId']?.AccessAddField" [optionSelectForce]="dataModel.LinkCoreSiteCategoryId"
 [optionPlaceholder]="'نوع سایت'">
</app-cms-sitecategory-selector>

    <!-- LinkApiPathId Field -->
    <app-sms-apipath-selector (optionChange)="onActionSelectorSelectLinkApiPathId($event)"
      [optionSelectForce]="dataModel.LinkApiPathId" [optionPlaceholder]="'مسیر'">
    </app-sms-apipath-selector>
    <!-- HasInherits Field -->
    <div class="ntk-full-width">
      <mat-slide-toggle [(ngModel)]="dataModel.HasInherits" *ngIf="fieldsInfo['HasInherits']?.AccessWatchField"
        [disabled]="!fieldsInfo['HasInherits']?.AccessEditField" name="dataModel.HasInherits">
        {{fieldsInfo['HasInherits']?.FieldTitle}}
      </mat-slide-toggle>
    </div>
    <!-- AccessStatus Field -->
    <mat-form-field class="ntk-full-width">
      <mat-select placeholder="نوع وضعیت" [(ngModel)]="dataModel.AccessStatus" name="dataModel.AccessStatus"
        #AccessStatus="ngModel" panelClass="recordStatus-{{ dataModel.AccessStatus }}" required>
        <mat-option *ngFor="
                          let item of dataModelEnumApiPathPermissionAccessStatusResult.ListItems;
                          index as i
                        " [value]="item.Value">{{ item.Description }}</mat-option>
      </mat-select>
      <mat-hint align="end">انتخاب نوع این محتوا</mat-hint>
      <mat-error *ngIf="AccessStatus.errors?.required">
        AccessStatus is <strong>{{'MESSAGE.required' | translate}}</strong>
      </mat-error>
    </mat-form-field>

    <!-- Action Field -->
    <mat-form-field class="ntk-full-width">
      <mat-select placeholder="نوع فعالیت" [(ngModel)]="dataModel.Action" name="dataModel.Action" #Action="ngModel"
        panelClass="recordStatus-{{ dataModel.Action }}" required>
        <mat-option *ngFor="
                              let item of dataModelEnumApiPathPermissionActionResult.ListItems;
                              index as i
                            " [value]="item.Value">{{ item.Description }}</mat-option>
      </mat-select>
      <mat-hint align="end">انتخاب نوع این محتوا</mat-hint>
      <mat-error *ngIf="Action.errors?.required">
        Action is <strong>{{'MESSAGE.required' | translate}}</strong>
      </mat-error>
    </mat-form-field>
    <!-- AcceptDate Field -->
    <mat-form-field class="ntk-full-width">
      <mat-label>{{fieldsInfo['AcceptDate']?.FieldTitle}}</mat-label>
      <input matInput [matDatepicker]="AcceptDate" [(ngModel)]="dataModel.AcceptDate" name="dataModel.AcceptDate" />
      <mat-icon matSuffix *ngIf="dataModel.AcceptDate && fieldsInfo['AcceptDate']?.AccessEditField" matSuffix
        mat-icon-button aria-label="Clear" (click)="dataModel.AcceptDate = null">close</mat-icon>
      <mat-datepicker-toggle matSuffix [for]="AcceptDate"></mat-datepicker-toggle>
      <mat-datepicker touchUi #AcceptDate></mat-datepicker>
    </mat-form-field>
    <!-- BankAcceptDate Field -->
    <mat-form-field class="ntk-full-width" *ngIf="fieldsInfo['BankAcceptDate']?.AccessWatchField">
      <mat-label>{{fieldsInfo['BankAcceptDate']?.FieldTitle}}</mat-label>
      <input matInput [matDatepicker]="BankAcceptDate" [(ngModel)]="dataModel.BankAcceptDate" name="dataModel.BankAcceptDate" />
      <mat-icon matSuffix *ngIf="dataModel.BankAcceptDate && fieldsInfo['BankAcceptDate']?.AccessAddField" matSuffix
        mat-icon-button aria-label="Clear" (click)="dataModel.BankAcceptDate = null">close</mat-icon>
      <mat-datepicker-toggle matSuffix [for]="BankAcceptDate"></mat-datepicker-toggle>
      <mat-datepicker touchUi #BankAcceptDate></mat-datepicker>
    </mat-form-field>
    <hr class="pb-5" />

    <!--end:::::::::::::::::::::::::::::::::::::::::cms-body-->
  </div>
  <div class="ntk-cms-html-card-message">
    <!--begin:::::::::::::::::::::::::::::::::::::::::cms-message-->
    <div class="form-actions">
      <small class="form-text text-muted">{{ formInfo.FormAlert }} </small>
      <small class="form-text text-muted danger">{{ formInfo.FormError }}
      </small>
    </div>
    <!--end:::::::::::::::::::::::::::::::::::::::::cms-message-->
  </div>
  <div class="ntk-cms-html-card-footer">
    <!--begin:::::::::::::::::::::::::::::::::::::::::cms-footer-->
    <div class="form-actions" *ngIf="formInfo.FormSubmitAllow">
      <button type="button" (click)="onFormCancel()" class="btn btn-light">
        <i class="ft-x"></i> {{'ACTION.CANCEL' | translate}}
      </button>
      <button type="submit" (click)="onFormSubmit()" class="btn btn-success" [disabled]="!vform.form.valid">
        <i class="fa fa-check-square-o"></i> {{'ACTION.SAVE' | translate}}
      </button>
    </div>
    <!--end:::::::::::::::::::::::::::::::::::::::::cms-footer-->
  </div>
</form>