<div class="row">
  <div Class="col-xl-12">
    <div class="button-row">
      <!-- serialNumber Field -->
      <mat-form-field class="example-full-width-1">
        <mat-label>{{fieldsInfo['serialNumber']?.fieldTitle}}</mat-label>
        <input matInput [(ngModel)]="dataModel.serialNumber" name="dataModel.serialNumber" #serialNumber type="text"
          placeholder="Serial Number" minlength="3" maxlength="20" required />
        <mat-icon matSuffix *ngIf="dataModel.serialNumber" matSuffix mat-icon-button aria-label="Clear"
          (click)="dataModel.serialNumber = ''">close</mat-icon>
        <mat-icon matSuffix>mode_edit</mat-icon>
        <mat-hint align="end">{{ serialNumber.value.length }} / 20</mat-hint>
        <mat-error *ngIf="serialNumber.errors?.required">
          {{fieldsInfo['serialNumber']?.fieldTitle}} is <strong>{{'MESSAGE.required' | translate}}</strong>
        </mat-error>
      </mat-form-field>
      <button (click)="onActionbuttonReload()" type="button" class="btn btn-outline-success BTN-text">{{'TITLE.Check' | translate}} </button>
      <!-- pwdForUse Field -->
      <mat-form-field class="example-full-width-1" *ngIf="showBuy">
        <mat-label>{{fieldsInfo['pwdForUse']?.fieldTitle}}</mat-label>
        <input matInput [(ngModel)]="dataModel.pwdForUse" name="dataModel.pwdForUse" #pwdForUse type="text"
          placeholder="Paswword" minlength="3" maxlength="20" required />
        <mat-icon matSuffix *ngIf="dataModel.pwdForUse" matSuffix mat-icon-button aria-label="Clear"
          (click)="dataModel.pwdForUse = ''">close</mat-icon>
        <mat-icon matSuffix>mode_edit</mat-icon>
        <mat-hint align="end">{{ pwdForUse.value.length }} / 20</mat-hint>
        <mat-error *ngIf="pwdForUse.errors?.required">
          {{fieldsInfo['pwdForUse']?.fieldTitle}} is <strong>{{'MESSAGE.required' | translate}}</strong>
        </mat-error>
      </mat-form-field>
      <button (click)="onActionbuttonBuy()" type="button" class="btn btn-outline-success BTN-text" *ngIf="showBuy">{{'TITLE.BUY' | translate}} </button>
      <button (click)="onActionBackToParent()" *ngIf="this.requestSerial &&this.requestSerial.length> 0" type="button"
        class="btn btn-outline-success BTN-text">{{'ACTION.BACK' | translate}}</button>

    </div>

    <app-progress-spinner [options]="loading">
    </app-progress-spinner>

    <div class="example-container mat-elevation-z8">
      <app-core-modulesaleserial-header *ngIf="this.dataModelResult?.item?.id"
        [optionId]="this.dataModelResult?.item?.id">
      </app-core-modulesaleserial-header>
      <mat-table [dataSource]="tableSource" matSort #tableSort="matSort">

        <!-- LinkModuleId Column -->
        <ng-container matColumnDef="LinkModuleId">
          <mat-header-cell *matHeaderCellDef mat-sort-header>{{fieldsInfo['linkModuleId']?.fieldTitle}}
          </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.linkModuleId | cmstitle : dataModelCoreModuleResult.listItems}}
          </mat-cell>
        </ng-container>

        <!-- EnumCmsModuleSaleItemType Column -->
        <ng-container matColumnDef="EnumCmsModuleSaleItemType">
          <mat-header-cell *matHeaderCellDef mat-sort-header> {{fieldsInfo['enumCmsModuleSaleItemType']?.fieldTitle}}
          </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.enumCmsModuleSaleItemType | enums : dataModelEnumCmsModuleSaleItemTypeResult.listItems}} </mat-cell>
        </ng-container>


        <!-- FromDate Column -->
        <ng-container matColumnDef="FromDate">
          <mat-header-cell *matHeaderCellDef mat-sort-header> {{fieldsInfo['fromDate']?.fieldTitle}}
          </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{ publicHelper.LocaleDate(row.fromDate) }} </mat-cell>
        </ng-container>
        <!-- ExpireDate Column -->
        <ng-container matColumnDef="ExpireDate">
          <mat-header-cell *matHeaderCellDef mat-sort-header> {{fieldsInfo['expireDate']?.fieldTitle}}
          </mat-header-cell>
          <mat-cell *matCellDef="let row" [ngStyle]="{'background':publicHelper.RowStyleExpireDate(row.expireDate) }">
            {{ publicHelper.LocaleDate(row.expireDate) }} </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="tabledisplayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: tabledisplayedColumns;" (click)="onActionTableRowSelect(row)"
          [ngStyle]="{'background': row.id === tableRowSelected.id ? '#d3d3da' : '' }">
        </mat-row>
      </mat-table>


    </div>

  </div>
</div>
