<app-cms-html-notice [svg]="'assets/media/svg/icons/General/Notifications1.svg'">
  <h4> ایجاد سایت</h4>
  در این بخش شما میتوانید سایتی جدید ایجاد نمایید.
</app-cms-html-notice>
<form (ngSubmit)="onFormSubmit()" #vform="ngForm">
  <div class="ntk-cms-html-card-header">
    <!--begin:::::::::::::::::::::::::::::::::::::::::cms-header-->
      {{ formInfo.FormTitle }}
    <!--end:::::::::::::::::::::::::::::::::::::::::cms-header-->
  </div>
  <div class="ntk-cms-html-card-body">
    <app-progress-spinner [options]="loading"> </app-progress-spinner>
    <!--begin:::::::::::::::::::::::::::::::::::::::::cms-body-->
    <mat-horizontal-stepper (selectionChange)="onStepClick($event,stepper)" #stepper>
      <mat-step label="{{'TITLE.REQUIRED_INFORMATION' | translate}}" state="main">
        <!-- RecordStatus Field -->
        <mat-form-field class="ntk-full-width" *ngIf="fieldsInfo['RecordStatus']?.AccessWatchField">
          <mat-label>{{fieldsInfo['RecordStatus']?.FieldTitle}}</mat-label>
          <mat-select placeholder="{{fieldsInfo['RecordStatus']?.FieldTitle}}" [(ngModel)]="dataModel.RecordStatus"
            [disabled]="!fieldsInfo['RecordStatus']?.AccessAddField" name="dataModel.RecordStatus"
            #RecordStatus="ngModel" panelClass="recordStatus-{{ dataModel.RecordStatus }}" required>
            <mat-option *ngFor="
                let item of dataModelEnumRecordStatusResult.ListItems;
                index as i
              " [value]="item.Value">{{ item.Description }}</mat-option>
          </mat-select>
          <mat-error *ngIf="RecordStatus.errors?.required">
            {{ fieldsInfo['RecordStatus']?.FieldTitle }} is <strong>{{'MESSAGE.required' | translate}}</strong>
          </mat-error>
          <mat-hint align="start" ><mat-icon matSuffix class="info-field-icon">info</mat-icon>
            <strong class="info-field-text">{{fieldsInfo['RecordStatus']?.FieldDescription}}</strong> </mat-hint>
        </mat-form-field>
        <!-- OwnerSiteSetStatus Field -->
        <mat-form-field class="ntk-full-width">
          <mat-select placeholder="وضعیت سایت" [(ngModel)]="dataModel.OwnerSiteSetStatus"
            name="dataModel.OwnerSiteSetStatus" #OwnerSiteSetStatus="ngModel"
            panelClass="OwnerSiteSetStatus-{{ dataModel.OwnerSiteSetStatus }}">
            <mat-option *ngFor="
                          let item of dataModelEnumSiteStatusResult.ListItems;
                          index as i
                        " [value]="item.Value">{{ item.Description }}</mat-option>
          </mat-select>
        </mat-form-field>
        <!-- UserLanguage Field -->
        <mat-form-field class="ntk-full-width">
          <mat-select placeholder="زبان سایت" [(ngModel)]="dataModel.UserLanguage" name="dataModel.UserLanguage"
            #UserLanguage="ngModel" panelClass="UserLanguage-{{ dataModel.UserLanguage }}">
            <mat-option *ngFor="
                                  let item of dataModelEnumLanguageResult.ListItems;
                                  index as i
                                " [value]="item.Value">{{ item.Description }}</mat-option>
          </mat-select>
        </mat-form-field>
        <!-- LinkSiteCategoryId Field -->
        <app-core-sitecategory-selector (optionChange)="onActionSelectCategory($event)"
          [optionSelectForce]="this.dataModel.LinkSiteCategoryId" [optionPlaceholder]="'نوع وب سایت'"
          [optionDisabled]="!fieldsInfo['LinkSiteCategoryId']?.AccessAddField"></app-core-sitecategory-selector>
        <!-- linkCreatedBySiteId Field -->
        <app-core-site-selector (optionChange)="onActionSelectCategory($event)"
          [optionSelectForce]="this.dataModel.linkCreatedBySiteId" [optionPlaceholder]="'سایت والد'"
          [optionDisabled]="!fieldsInfo['linkCreatedBySiteId']?.AccessAddField"></app-core-site-selector>
        <!-- Title Field -->
        <mat-form-field class="ntk-full-width" *ngIf="fieldsInfo['Title']?.AccessWatchField">
          <mat-label>{{ fieldsInfo['Title']?.FieldTitle }}</mat-label>
          <input matInput [(ngModel)]="dataModel.Title" [disabled]="!fieldsInfo['Title']?.AccessAddField"
            name="dataModel.Title" #Title type="text" placeholder="{{fieldsInfo['Title']?.FieldTitle}}" minlength="3"
            maxlength="100" required />
          <mat-icon matSuffix *ngIf="dataModel.Title && fieldsInfo['Title']?.AccessAddField" matSuffix mat-icon-button
            aria-label="Clear" (click)="dataModel.Title = ''">close</mat-icon>
          <mat-icon *ngIf="fieldsInfo['Title']?.AccessAddField" matSuffix>mode_edit</mat-icon>
          <mat-hint align="start" ><mat-icon matSuffix class="info-field-icon">info</mat-icon>
            <strong class="info-field-text">{{fieldsInfo['Title']?.FieldDescription}}</strong> </mat-hint>
          <mat-hint align="start">{{ Title.value.length }} / 100</mat-hint>
          <mat-error *ngIf="Title.errors?.required">
            {{ fieldsInfo['Title']?.FieldTitle }} is <strong>{{'MESSAGE.required' | translate}}</strong>
          </mat-error>
        </mat-form-field>
        <!-- SubDomain Field -->
        <mat-form-field class="ntk-full-width" *ngIf="fieldsInfo['SubDomain']?.AccessWatchField">
          <mat-label>{{ fieldsInfo['SubDomain']?.FieldTitle }}</mat-label>
          <input matInput [(ngModel)]="dataModel.SubDomain" [disabled]="!fieldsInfo['SubDomain']?.AccessAddField"
            name="dataModel.SubDomain" #SubDomain type="text" placeholder="test" minlength="0" maxlength="20" />
          <mat-icon matSuffix *ngIf="dataModel.SubDomain && fieldsInfo['SubDomain']?.AccessAddField" matSuffix
            mat-icon-button aria-label="Clear" (click)="dataModel.SubDomain = ''">close</mat-icon>
            <mat-hint align="start" ><mat-icon matSuffix class="info-field-icon">info</mat-icon>
              <strong class="info-field-text">{{fieldsInfo['SubDomain']?.FieldDescription}}</strong> </mat-hint>
          <mat-icon *ngIf="fieldsInfo['SubDomain']?.AccessAddField" matSuffix>mode_edit</mat-icon>
          <mat-hint align="start">{{ SubDomain.value.length }} / 20</mat-hint>
        </mat-form-field>
        <!-- Domain Field -->
        <mat-form-field class="ntk-full-width" *ngIf="fieldsInfo['Domain']?.AccessWatchField">
          <mat-label>{{ fieldsInfo['Domain']?.FieldTitle }}</mat-label>
          <input matInput [(ngModel)]="dataModel.Domain" [disabled]="!fieldsInfo['Domain']?.AccessAddField"
            name="dataModel.Domain" #Domain type="text" placeholder="domain.com" minlength="3" maxlength="100" />
          <mat-icon matSuffix *ngIf="dataModel.Domain && fieldsInfo['Domain']?.AccessAddField" matSuffix mat-icon-button
            aria-label="Clear" (click)="dataModel.Domain = ''">close</mat-icon>
          <mat-icon *ngIf="fieldsInfo['Domain']?.AccessAddField" matSuffix>mode_edit</mat-icon>
          <mat-hint align="start" ><mat-icon matSuffix class="info-field-icon">info</mat-icon>
            <strong class="info-field-text">{{fieldsInfo['Domain']?.FieldDescription}}</strong> </mat-hint>
          <mat-hint align="start">{{ Domain.value.length }} / 20</mat-hint>
        </mat-form-field>
        <!-- ViewInCmsSiteList Field -->
        <div class="ntk-full-width">
          <mat-slide-toggle [(ngModel)]="dataModel.ViewInCmsSiteList"
            *ngIf="fieldsInfo['ViewInCmsSiteList']?.AccessWatchField"
            [disabled]="!fieldsInfo['ViewInCmsSiteList']?.AccessAddField" name="dataModel.ViewInCmsSiteList">
            {{fieldsInfo['ViewInCmsSiteList']?.FieldTitle}}
          </mat-slide-toggle>
        </div>
        <!-- ExpireDate Field -->
        <mat-form-field class="ntk-full-width" *ngIf="fieldsInfo['ExpireDate']?.AccessWatchField">
          <mat-label>{{fieldsInfo['ExpireDate']?.FieldTitle}}</mat-label>
          <input matInput [matDatepicker]="ExpireDate" [(ngModel)]="dataModel.ExpireDate" name="dataModel.ExpireDate" />
          <mat-icon matSuffix *ngIf="dataModel.ExpireDate && fieldsInfo['ExpireDate']?.AccessAddField" matSuffix
            mat-icon-button aria-label="Clear" (click)="dataModel.ExpireDate = null">close</mat-icon>
          <mat-datepicker-toggle matSuffix [for]="ExpireDate"></mat-datepicker-toggle>
          <mat-datepicker touchUi #ExpireDate></mat-datepicker>
          <mat-hint align="start" ><mat-icon matSuffix class="info-field-icon">info</mat-icon>
            <strong class="info-field-text">{{fieldsInfo['ExpireDate']?.FieldDescription}}</strong> </mat-hint>
        </mat-form-field>
        <div *ngIf="formInfo.FormSubmitAllow" class="ntk-button-row">
          <button type="button" mat-raised-button (click)="onActionBackToParent()">
            {{'ACTION.BACK' | translate}}
          </button>
          <button type="button" mat-raised-button color="primary" [disabled]="!vform.form.valid" matStepperNext>
            {{'ACTION.NEXT' | translate}}
          </button>
        </div>
      </mat-step>

      <mat-step label="web application" state="seo">
        <!-- PwaName Field -->
        <mat-form-field class="ntk-full-width" *ngIf="fieldsInfo['PwaName']?.AccessWatchField">
          <mat-label>{{ fieldsInfo['PwaName']?.FieldTitle }}</mat-label>
          <input matInput [(ngModel)]="dataModel.PwaName"
            [disabled]="!fieldsInfo['PwaName']?.AccessAddField" name="dataModel.PwaName"
            #PwaName type="text" placeholder="Site Application" />
          <mat-icon matSuffix *ngIf="dataModel.PwaName && fieldsInfo['PwaName']?.AccessAddField"
            matSuffix mat-icon-button aria-label="Clear" (click)="dataModel.PwaName = ''">close</mat-icon>
          <mat-icon *ngIf="fieldsInfo['PwaName']?.AccessAddField" matSuffix>mode_edit</mat-icon>
          <mat-hint align="start">{{ PwaName.value.length }} / 100</mat-hint>
        </mat-form-field>

        <!-- PwaShortName Field -->
        <mat-form-field class="ntk-full-width" *ngIf="fieldsInfo['PwaShortName']?.AccessWatchField">
          <mat-label>{{ fieldsInfo['PwaShortName']?.FieldTitle }}</mat-label>
          <input matInput [(ngModel)]="dataModel.PwaShortName"
            [disabled]="!fieldsInfo['PwaShortName']?.AccessAddField" name="dataModel.PwaShortName"
            #PwaShortName type="text" placeholder="SiteApp" />
          <mat-icon matSuffix *ngIf="dataModel.PwaShortName && fieldsInfo['PwaShortName']?.AccessAddField"
            matSuffix mat-icon-button aria-label="Clear" (click)="dataModel.PwaShortName = ''">close</mat-icon>
          <mat-icon *ngIf="fieldsInfo['PwaShortName']?.AccessAddField" matSuffix>mode_edit</mat-icon>
          <mat-hint align="start">{{ PwaShortName.value.length }} / 100</mat-hint>
        </mat-form-field>

        <!-- PwaDescription Field -->
        <mat-form-field class="ntk-full-width" *ngIf="fieldsInfo['PwaDescription']?.AccessWatchField">
          <mat-label>{{ fieldsInfo['PwaDescription']?.FieldTitle }}</mat-label>
          <input matInput [(ngModel)]="dataModel.PwaDescription"
            [disabled]="!fieldsInfo['PwaDescription']?.AccessAddField" name="dataModel.PwaDescription"
            #PwaDescription type="text" placeholder="..." />
          <mat-icon matSuffix *ngIf="dataModel.PwaDescription && fieldsInfo['PwaDescription']?.AccessAddField"
            matSuffix mat-icon-button aria-label="Clear" (click)="dataModel.PwaDescription = ''">close</mat-icon>
          <mat-icon *ngIf="fieldsInfo['PwaDescription']?.AccessAddField" matSuffix>mode_edit</mat-icon>
          <mat-hint align="start">{{ PwaDescription.value.length }} / 100</mat-hint>
        </mat-form-field>

        <!-- PwaDisplay Field -->
        <mat-form-field class="ntk-full-width" *ngIf="fieldsInfo['PwaDisplay']?.AccessWatchField">
          <mat-label>{{ fieldsInfo['PwaDisplay']?.FieldTitle }}</mat-label>
          <input matInput [(ngModel)]="dataModel.PwaDisplay"
            [disabled]="!fieldsInfo['PwaDisplay']?.AccessAddField" name="dataModel.PwaDisplay"
            #PwaDisplay type="text" placeholder="" />
          <mat-icon matSuffix *ngIf="dataModel.PwaDisplay && fieldsInfo['PwaDisplay']?.AccessAddField"
            matSuffix mat-icon-button aria-label="Clear" (click)="dataModel.PwaDisplay = ''">close</mat-icon>
          <mat-icon *ngIf="fieldsInfo['PwaDisplay']?.AccessAddField" matSuffix>mode_edit</mat-icon>
          <mat-hint align="start">{{ PwaDisplay.value.length }} / 100</mat-hint>
        </mat-form-field>
          <!-- PwaIconSize190x192Id Field -->
          <div class="mb-3">
            <img *ngIf="dataModel?.PwaIconSize190x192IdSrc?.length>0" style="vertical-align:middle;" class="ntk-hover-zoom"
              aria-hidden src="{{dataModel.PwaIconSize190x192IdSrc | cmsthumbnail}}" height="50" width="50" />
          </div>
          <div class="mb-9">
            <mat-form-field class="ntk-full-width" *ngIf="fieldsInfo['PwaIconSize190x192Id']?.AccessWatchField">
              <mat-label (click)="fileManagerOpenFormPwaIconSize190x192Id = true">
                {{fieldsInfo['PwaIconSize190x192Id']?.FieldTitle}}
              </mat-label>
              <input matInput [(ngModel)]="dataModel.PwaIconSize190x192Id"
                [disabled]="!fieldsInfo['PwaIconSize190x192Id']?.AccessAddField" name="dataModel.PwaIconSize190x192Id" #PwaIconSize190x192Id
                type="text" placeholder="شناسه فایل اصلی" autocomplete="off"
                (click)="fileManagerOpenFormPwaIconSize190x192Id = true" />
              <mat-icon matSuffix *ngIf="dataModel.PwaIconSize190x192Id && fieldsInfo['PwaIconSize190x192Id']?.AccessAddField"
                matSuffix mat-icon-button aria-label="Clear" (click)="dataModel.PwaIconSize190x192Id = null">close</mat-icon>
              <mat-icon *ngIf="fieldsInfo['PwaIconSize190x192Id']?.AccessAddField" matSuffix
                (click)="fileManagerOpenFormPwaIconSize190x192Id = true">mode_edit</mat-icon>
              <mat-hint align="start">
                <mat-icon matSuffix class="info-field-icon">info</mat-icon>
                <strong class="info-field-text">{{fieldsInfo['PwaIconSize190x192Id']?.FieldDescription}}</strong>
              </mat-hint>
            </mat-form-field>
            <cms-file-manager (itemSelected)="onActionFileSelectedPwaIconSize190x192Id($event)" [language]="appLanguage"
              [isPopup]="true" [(openForm)]="fileManagerOpenFormPwaIconSize190x192Id" [tree]="fileManagerTree"
              [openDirectUploadView]="true" [openFilemanagerButtonLabelKey]="'select'"
              [selectFileType]="selectFileTypeMainImage" [openFilemanagerButtonView]="false"></cms-file-manager>
          </div>
  
    <!-- PwaIconSize512x512Id Field -->
          <div class="mb-3">
            <img *ngIf="dataModel?.PwaIconSize512x512IdSrc?.length>0" style="vertical-align:middle;" class="ntk-hover-zoom"
              aria-hidden src="{{dataModel.PwaIconSize512x512IdSrc | cmsthumbnail}}" height="50" width="50" />
          </div>
          <div class="mb-9">
            <mat-form-field class="ntk-full-width" *ngIf="fieldsInfo['PwaIconSize512x512Id']?.AccessWatchField">
              <mat-label (click)="fileManagerOpenFormPwaIconSize512x512Id = true">
                {{fieldsInfo['PwaIconSize512x512Id']?.FieldTitle}}
              </mat-label>
              <input matInput [(ngModel)]="dataModel.PwaIconSize512x512Id"
                [disabled]="!fieldsInfo['PwaIconSize512x512Id']?.AccessAddField" name="dataModel.PwaIconSize512x512Id" #PwaIconSize512x512Id
                type="text" placeholder="شناسه فایل اصلی" autocomplete="off"
                (click)="fileManagerOpenFormPwaIconSize512x512Id = true" />
              <mat-icon matSuffix *ngIf="dataModel.PwaIconSize512x512Id && fieldsInfo['PwaIconSize512x512Id']?.AccessAddField"
                matSuffix mat-icon-button aria-label="Clear" (click)="dataModel.PwaIconSize512x512Id = null">close</mat-icon>
              <mat-icon *ngIf="fieldsInfo['PwaIconSize512x512Id']?.AccessAddField" matSuffix
                (click)="fileManagerOpenFormPwaIconSize512x512Id = true">mode_edit</mat-icon>
              <mat-hint align="start">
                <mat-icon matSuffix class="info-field-icon">info</mat-icon>
                <strong class="info-field-text">{{fieldsInfo['PwaIconSize512x512Id']?.FieldDescription}}</strong>
              </mat-hint>
            </mat-form-field>
            <cms-file-manager (itemSelected)="onActionFileSelectedPwaIconSize512x512Id($event)" [language]="appLanguage"
              [isPopup]="true" [(openForm)]="fileManagerOpenFormPwaIconSize512x512Id" [tree]="fileManagerTree"
              [openDirectUploadView]="true" [openFilemanagerButtonLabelKey]="'select'"
              [selectFileType]="selectFileTypeMainImage" [openFilemanagerButtonView]="false"></cms-file-manager>
          </div>
        <div *ngIf="formInfo.FormSubmitAllow" class="ntk-button-row">
          <button type="button" mat-raised-button color="accent" matStepperPrevious>
            {{'ACTION.BEFOR' | translate}}
          </button>
          <button type="button" mat-raised-button color="primary" [disabled]="!vform.form.valid" matStepperNext>
            {{'ACTION.NEXT' | translate}}
          </button>
        </div>
      </mat-step>

      <mat-step label="سئو" state="seo">
        <p>تنطیمات بهینه سازی سئو</p>
        <div class="mb-3">
          <img *ngIf="dataModel?.LinkFavIconIdSrc?.length>0" style="vertical-align:middle;" class="ntk-hover-zoom" aria-hidden
            src="{{dataModel.LinkFavIconIdSrc | cmsthumbnail}}" height="50" width="50" />
        </div>
        <div class="mb-9">
          <mat-form-field class="ntk-full-width" *ngIf="fieldsInfo['LinkFavIconId']?.AccessWatchField">
            <mat-label (click)="fileManagerOpenFormLinkFavIconId = true">
              {{fieldsInfo['LinkFavIconId']?.FieldTitle}}
            </mat-label>
            <input matInput [(ngModel)]="dataModel.LinkFavIconId"
              [disabled]="!fieldsInfo['LinkFavIconId']?.AccessAddField" name="dataModel.LinkFavIconId" #LinkFavIconId
              type="text" placeholder="شناسه فایل اصلی" autocomplete="off"
              (click)="fileManagerOpenFormLinkFavIconId = true" />
            <mat-icon matSuffix *ngIf="dataModel.LinkFavIconId && fieldsInfo['LinkFavIconId']?.AccessAddField" matSuffix
              mat-icon-button aria-label="Clear" (click)="dataModel.LinkFavIconId = null">close</mat-icon>
            <mat-icon *ngIf="fieldsInfo['LinkFavIconId']?.AccessAddField" matSuffix
              (click)="fileManagerOpenFormLinkFavIconId = true">mode_edit</mat-icon>
              <mat-hint align="start" ><mat-icon matSuffix class="info-field-icon">info</mat-icon>
                <strong class="info-field-text">{{fieldsInfo['LinkFavIconId']?.FieldDescription}}</strong> </mat-hint>
          </mat-form-field>
          <cms-file-manager (itemSelected)="onActionFileSelectedLinkFavIconId($event)" [language]="appLanguage"
            [isPopup]="true" [(openForm)]="fileManagerOpenFormLinkFavIconId" [tree]="fileManagerTree"
            [openDirectUploadView]="true" [openFilemanagerButtonLabelKey]="'select'"
            [selectFileType]="selectFileTypeMainImage" [openFilemanagerButtonView]="false"></cms-file-manager>
        </div>
        <!-- KeywordModel Field -->
        <tag-input [(ngModel)]="keywordDataModel" name="keywordDataModel" [placeholder]="'+ کلمه کلیدی'"
          [secondaryPlaceholder]="'انتخاب کلمات کلیدی نسبت به مطلب'" [identifyBy]="'display'">
        </tag-input>
        <!-- CurrentSiteDomainUrl Field -->
        <mat-form-field class="ntk-full-width" *ngIf="fieldsInfo['CurrentSiteDomainUrl']?.AccessWatchField">
          <mat-label>{{ fieldsInfo['CurrentSiteDomainUrl']?.FieldTitle }}</mat-label>
          <input matInput [(ngModel)]="dataModel.CurrentSiteDomainUrl"
            [disabled]="!fieldsInfo['CurrentSiteDomainUrl']?.AccessAddField" name="dataModel.CurrentSiteDomainUrl"
            #CurrentSiteDomainUrl type="text" placeholder="https://...." minlength="3" maxlength="100"
            style="text-align: left;" dir="ltr" />
          <mat-icon matSuffix
            *ngIf="dataModel.CurrentSiteDomainUrl && fieldsInfo['CurrentSiteDomainUrl']?.AccessAddField" matSuffix
            mat-icon-button aria-label="Clear" (click)="dataModel.CurrentSiteDomainUrl = ''">close</mat-icon>
          <mat-icon *ngIf="fieldsInfo['CurrentSiteDomainUrl']?.AccessAddField" matSuffix>mode_edit</mat-icon>
          <mat-hint align="start" ><mat-icon matSuffix class="info-field-icon">info</mat-icon>
            <strong class="info-field-text">{{fieldsInfo['CurrentSiteDomainUrl']?.FieldDescription}}</strong> </mat-hint>
          <mat-hint align="start">{{ CurrentSiteDomainUrl.value.length }} / 100</mat-hint>
        </mat-form-field>
        <!-- Redirect Field -->
        <mat-form-field class="ntk-full-width" *ngIf="fieldsInfo['Redirect']?.AccessWatchField">
          <mat-label>{{ fieldsInfo['Redirect']?.FieldTitle }}</mat-label>
          <input matInput [(ngModel)]="dataModel.Redirect" [disabled]="!fieldsInfo['Redirect']?.AccessAddField"
            name="dataModel.Redirect" #Redirect type="text" placeholder="https://...." minlength="3" maxlength="100"
            style="text-align: left;" dir="ltr" />
          <mat-icon matSuffix *ngIf="dataModel.Redirect && fieldsInfo['Redirect']?.AccessAddField" matSuffix
            mat-icon-button aria-label="Clear" (click)="dataModel.Redirect = ''">close</mat-icon>
          <mat-icon *ngIf="fieldsInfo['Redirect']?.AccessAddField" matSuffix>mode_edit</mat-icon>
          <mat-hint align="start" ><mat-icon matSuffix class="info-field-icon">info</mat-icon>
            <strong class="info-field-text">{{fieldsInfo['Redirect']?.FieldDescription}}</strong> </mat-hint>
          <mat-hint align="start">{{ Redirect.value.length }} / 100</mat-hint>
        </mat-form-field>
        <!-- Copyright Field -->
        <mat-form-field class="ntk-full-width" *ngIf="fieldsInfo['Copyright']?.AccessWatchField">
          <mat-label>{{ fieldsInfo['Copyright']?.FieldTitle }}</mat-label>
          <input matInput [(ngModel)]="dataModel.Copyright" [disabled]="!fieldsInfo['Copyright']?.AccessAddField"
            name="dataModel.Copyright" #Copyright type="text" placeholder="this site ..." minlength="3"
            maxlength="100" />
          <mat-icon matSuffix *ngIf="dataModel.Copyright && fieldsInfo['Copyright']?.AccessAddField" matSuffix
            mat-icon-button aria-label="Clear" (click)="dataModel.Copyright = ''">close</mat-icon>
          <mat-icon *ngIf="fieldsInfo['Copyright']?.AccessAddField" matSuffix>mode_edit</mat-icon>
          <mat-hint align="start" ><mat-icon matSuffix class="info-field-icon">info</mat-icon>
            <strong class="info-field-text">{{fieldsInfo['Copyright']?.FieldDescription}}</strong> </mat-hint>
          <mat-hint align="start">{{ Copyright.value.length }} / 100</mat-hint>
        </mat-form-field>
        <!-- SeoDescription Field -->
        <mat-form-field class="ntk-full-width" *ngIf="fieldsInfo['SeoDescription']?.AccessWatchField">
          <mat-label>{{ fieldsInfo['SeoDescription']?.FieldTitle }}</mat-label>
          <textarea matInput [(ngModel)]="dataModel.SeoDescription"
            [disabled]="!fieldsInfo['SeoDescription']?.AccessAddField" name="dataModel.SeoDescription" #SeoDescription
            type="text" placeholder="{{fieldsInfo['SeoDescription']?.FieldTitle}}" row="6" minlength="0"
            maxlength="1000"></textarea>
          <mat-icon matSuffix *ngIf="dataModel.SeoDescription && fieldsInfo['SeoDescription']?.AccessAddField" matSuffix
            mat-icon-button aria-label="Clear" (click)="dataModel.SeoDescription = ''">close</mat-icon>
          <mat-icon *ngIf="fieldsInfo['SeoDescription']?.AccessAddField" matSuffix>mode_edit</mat-icon>
          <mat-hint align="start" ><mat-icon matSuffix class="info-field-icon">info</mat-icon>
            <strong class="info-field-text">{{fieldsInfo['SeoDescription']?.FieldDescription}}</strong> </mat-hint>
          <mat-hint align="start">{{ SeoDescription.value.length }} / 1000</mat-hint>
        </mat-form-field>
        <!-- SeoGoogleHTMLtag Field -->
        <mat-form-field class="ntk-full-width" *ngIf="fieldsInfo['SeoGoogleHTMLtag']?.AccessWatchField">
          <mat-label>{{ fieldsInfo['SeoGoogleHTMLtag']?.FieldTitle }}</mat-label>
          <textarea matInput [(ngModel)]="dataModel.SeoGoogleHTMLtag"
            [disabled]="!fieldsInfo['SeoGoogleHTMLtag']?.AccessAddField" name="dataModel.SeoGoogleHTMLtag"
            #SeoGoogleHTMLtag type="text" placeholder="<meta  ...." minlength="0" maxlength="1000"></textarea>
          <mat-icon matSuffix *ngIf="dataModel.SeoGoogleHTMLtag && fieldsInfo['SeoGoogleHTMLtag']?.AccessAddField"
            matSuffix mat-icon-button aria-label="Clear" (click)="dataModel.SeoGoogleHTMLtag = ''">close</mat-icon>
          <mat-icon *ngIf="fieldsInfo['SeoGoogleHTMLtag']?.AccessAddField" matSuffix>mode_edit</mat-icon>
          <mat-hint align="start" ><mat-icon matSuffix class="info-field-icon">info</mat-icon>
            <strong class="info-field-text">{{fieldsInfo['SeoGoogleHTMLtag']?.FieldDescription}}</strong> </mat-hint>
          <mat-hint align="start">{{ SeoGoogleHTMLtag.value.length }} / 1000</mat-hint>
        </mat-form-field>
        <!-- SeoGoogleAnalytics Field -->
        <mat-form-field class="ntk-full-width" *ngIf="fieldsInfo['SeoGoogleAnalytics']?.AccessWatchField">
          <mat-label>{{ fieldsInfo['SeoGoogleAnalytics']?.FieldTitle }}</mat-label>
          <textarea matInput [(ngModel)]="dataModel.SeoGoogleAnalytics"
            [disabled]="!fieldsInfo['SeoGoogleAnalytics']?.AccessAddField" name="dataModel.SeoGoogleAnalytics"
            #SeoGoogleAnalytics type="text" placeholder="" minlength="" maxlength="1000"></textarea>
          <mat-icon matSuffix *ngIf="dataModel.SeoGoogleAnalytics && fieldsInfo['SeoGoogleAnalytics']?.AccessAddField"
            matSuffix mat-icon-button aria-label="Clear" (click)="dataModel.SeoGoogleAnalytics = ''">close</mat-icon>
          <mat-icon *ngIf="fieldsInfo['SeoGoogleAnalytics']?.AccessAddField" matSuffix>mode_edit</mat-icon>
          <mat-hint align="start" ><mat-icon matSuffix class="info-field-icon">info</mat-icon>
            <strong class="info-field-text">{{fieldsInfo['SeoGoogleAnalytics']?.FieldDescription}}</strong> </mat-hint>
          <mat-hint align="start">{{ SeoGoogleAnalytics.value.length }} / 1000</mat-hint>
        </mat-form-field>
        <div *ngIf="formInfo.FormSubmitAllow" class="ntk-button-row">
          <button type="button" mat-raised-button color="accent" matStepperPrevious>
            {{'ACTION.BEFOR' | translate}}
          </button>
          <button type="button" mat-raised-button color="primary" [disabled]="!vform.form.valid" matStepperNext>
            {{'ACTION.NEXT' | translate}}
          </button>
        </div>
      </mat-step>
      <mat-step label="{{'ACTION.ABOUT' | translate}}" state="seo">
        <p>{{'TITLE.Content_Of_The_About_Us_App' | translate}}</p>
        <div class="mb-3">
          <img *ngIf="dataModel?.LinkImageLogoIdSrc?.length>0" style="vertical-align:middle;" class="ntk-hover-zoom" aria-hidden
            src="{{dataModel.LinkImageLogoIdSrc | cmsthumbnail}}" height="50" width="50" />
        </div>
        <div class="mb-9">
          <mat-form-field class="ntk-full-width" *ngIf="fieldsInfo['LinkImageLogoId']?.AccessWatchField">
            <mat-label (click)="fileManagerOpenFormLinkImageLogoId = true">
              {{fieldsInfo['LinkImageLogoId']?.FieldTitle}}
            </mat-label>
            <input matInput [(ngModel)]="dataModel.LinkImageLogoId"
              [disabled]="!fieldsInfo['LinkImageLogoId']?.AccessAddField" name="dataModel.LinkImageLogoId"
              #LinkImageLogoId type="text" placeholder="شناسه فایل اصلی"
              (click)="fileManagerOpenFormLinkImageLogoId = true" />
            <mat-icon matSuffix *ngIf="dataModel.LinkImageLogoId && fieldsInfo['LinkImageLogoId']?.AccessAddField"
              matSuffix mat-icon-button aria-label="Clear" (click)="dataModel.LinkImageLogoId = null">close</mat-icon>
            <mat-icon *ngIf="fieldsInfo['LinkImageLogoId']?.AccessAddField" matSuffix
              (click)="fileManagerOpenFormLinkImageLogoId = true">mode_edit</mat-icon>
              <mat-hint align="start" ><mat-icon matSuffix class="info-field-icon">info</mat-icon>
                <strong class="info-field-text">{{fieldsInfo['LinkImageLogoId']?.FieldDescription}}</strong> </mat-hint>
          </mat-form-field>
          <cms-file-manager (itemSelected)="onActionFileSelectedLinkImageLogoId($event)" [language]="appLanguage"
            [isPopup]="true" [(openForm)]="fileManagerOpenFormLinkImageLogoId" [tree]="fileManagerTree"
            [openDirectUploadView]="true" [openFilemanagerButtonLabelKey]="'select'"
            [selectFileType]="selectFileTypeMainImage" [openFilemanagerButtonView]="false"></cms-file-manager>
        </div>
        <!-- AboutUsTitle Field -->
        <mat-form-field class="ntk-full-width" *ngIf="fieldsInfo['AboutUsTitle']?.AccessWatchField">
          <mat-label>{{ fieldsInfo['AboutUsTitle']?.FieldTitle }}</mat-label>
          <input matInput [(ngModel)]="dataModel.AboutUsTitle" [disabled]="!fieldsInfo['AboutUsTitle']?.AccessAddField"
            name="dataModel.AboutUsTitle" #AboutUsTitle type="text"
            placeholder="{{fieldsInfo['AboutUsTitle']?.FieldTitle}}" minlength="0" maxlength="100" />
          <mat-icon matSuffix *ngIf="dataModel.AboutUsTitle && fieldsInfo['AboutUsTitle']?.AccessAddField" matSuffix
            mat-icon-button aria-label="Clear" (click)="dataModel.AboutUsTitle = ''">close</mat-icon>
          <mat-icon *ngIf="fieldsInfo['AboutUsTitle']?.AccessAddField" matSuffix>mode_edit</mat-icon>
          <mat-hint align="start" ><mat-icon matSuffix class="info-field-icon">info</mat-icon>
            <strong class="info-field-text">{{fieldsInfo['AboutUsTitle']?.FieldDescription}}</strong> </mat-hint>
          <mat-hint align="start">{{ AboutUsTitle.value.length }} / 100</mat-hint>
        </mat-form-field>
        <!-- AboutUsDescription Field -->
        <mat-form-field class="ntk-full-width" *ngIf="fieldsInfo['AboutUsDescription']?.AccessWatchField">
          <mat-label>{{ fieldsInfo['AboutUsDescription']?.FieldTitle }}</mat-label>
          <textarea matInput [(ngModel)]="dataModel.AboutUsDescription"
            [disabled]="!fieldsInfo['AboutUsDescription']?.AccessAddField" name="dataModel.AboutUsDescription"
            #AboutUsDescription type="text" placeholder="{{fieldsInfo['Description']?.FieldTitle}}" row="5"
            minlength="0" maxlength="1000"></textarea>
          <mat-icon matSuffix *ngIf="dataModel.AboutUsDescription && fieldsInfo['AboutUsDescription']?.AccessAddField"
            matSuffix mat-icon-button aria-label="Clear" (click)="dataModel.AboutUsDescription = ''">close</mat-icon>
          <mat-icon *ngIf="fieldsInfo['AboutUsDescription']?.AccessAddField" matSuffix>mode_edit</mat-icon>
          <mat-hint align="start" ><mat-icon matSuffix class="info-field-icon">info</mat-icon>
            <strong class="info-field-text">{{fieldsInfo['AboutUsDescription']?.FieldDescription}}</strong> </mat-hint>
          <mat-hint align="start">{{ AboutUsDescription.value.length }} / 1000</mat-hint>
        </mat-form-field>
        <!-- AboutUsTel Field -->
        <mat-form-field class="ntk-full-width" *ngIf="fieldsInfo['AboutUsTel']?.AccessWatchField">
          <mat-label>{{ fieldsInfo['AboutUsTel']?.FieldTitle }}</mat-label>
          <input matInput [(ngModel)]="dataModel.AboutUsTel" [disabled]="!fieldsInfo['AboutUsTel']?.AccessAddField"
            name="dataModel.AboutUsTel" #AboutUsTel type="text" placeholder="021444444444" minlength="0"
            maxlength="100" />
          <mat-icon matSuffix *ngIf="dataModel.AboutUsTel && fieldsInfo['AboutUsTel']?.AccessAddField" matSuffix
            mat-icon-button aria-label="Clear" (click)="dataModel.AboutUsTel = ''">close</mat-icon>
          <mat-icon *ngIf="fieldsInfo['AboutUsTel']?.AccessAddField" matSuffix>mode_edit</mat-icon>
          <mat-hint align="start" ><mat-icon matSuffix class="info-field-icon">info</mat-icon>
            <strong class="info-field-text">{{fieldsInfo['AboutUsTel']?.FieldDescription}}</strong> </mat-hint>
          <mat-hint align="start">{{ AboutUsTel.value.length }} / 100</mat-hint>
        </mat-form-field>
        <!-- AboutUsFax Field -->
        <mat-form-field class="ntk-full-width" *ngIf="fieldsInfo['AboutUsFax']?.AccessWatchField">
          <mat-label>{{ fieldsInfo['AboutUsFax']?.FieldTitle }}</mat-label>
          <input matInput [(ngModel)]="dataModel.AboutUsFax" [disabled]="!fieldsInfo['AboutUsFax']?.AccessAddField"
            name="dataModel.AboutUsFax" #AboutUsFax type="text" placeholder="02133333333" minlength="0"
            maxlength="100" />
          <mat-icon matSuffix *ngIf="dataModel.AboutUsFax && fieldsInfo['AboutUsFax']?.AccessAddField" matSuffix
            mat-icon-button aria-label="Clear" (click)="dataModel.AboutUsFax = ''">close</mat-icon>
          <mat-icon *ngIf="fieldsInfo['AboutUsFax']?.AccessAddField" matSuffix>mode_edit</mat-icon>
          <mat-hint align="start" ><mat-icon matSuffix class="info-field-icon">info</mat-icon>
            <strong class="info-field-text">{{fieldsInfo['AboutUsFax']?.FieldDescription}}</strong> </mat-hint>
          <mat-hint align="start">{{ AboutUsFax.value.length }} / 100</mat-hint>
        </mat-form-field>
        <!-- AboutUsEmail Field -->
        <mat-form-field class="ntk-full-width" *ngIf="fieldsInfo['AboutUsEmail']?.AccessWatchField">
          <mat-label>{{ fieldsInfo['AboutUsEmail']?.FieldTitle }}</mat-label>
          <input matInput [(ngModel)]="dataModel.AboutUsEmail" [disabled]="!fieldsInfo['AboutUsEmail']?.AccessAddField"
            name="dataModel.AboutUsEmail" #AboutUsEmail type="text" placeholder="info@yourdomain.com" minlength="0"
            maxlength="100" />
          <mat-icon matSuffix *ngIf="dataModel.AboutUsEmail && fieldsInfo['AboutUsEmail']?.AccessAddField" matSuffix
            mat-icon-button aria-label="Clear" (click)="dataModel.AboutUsEmail = ''">close</mat-icon>
          <mat-icon *ngIf="fieldsInfo['AboutUsEmail']?.AccessAddField" matSuffix>mode_edit</mat-icon>
          <mat-hint align="start" ><mat-icon matSuffix class="info-field-icon">info</mat-icon>
            <strong class="info-field-text">{{fieldsInfo['AboutUsEmail']?.FieldDescription}}</strong> </mat-hint>
          <mat-hint align="start">{{ AboutUsEmail.value.length }} / 100</mat-hint>
        </mat-form-field>
        <!-- AboutUsAddress Field -->
        <mat-form-field class="ntk-full-width" *ngIf="fieldsInfo['AboutUsAddress']?.AccessWatchField">
          <mat-label>{{ fieldsInfo['AboutUsAddress']?.FieldTitle }}</mat-label>
          <textarea matInput [(ngModel)]="dataModel.AboutUsAddress"
            [disabled]="!fieldsInfo['AboutUsAddress']?.AccessAddField" name="dataModel.AboutUsAddress" #AboutUsAddress
            type="text" placeholder="ایران - تهران - ..." row="5" minlength="0" maxlength="100"></textarea>
          <mat-icon matSuffix *ngIf="dataModel.AboutUsAddress && fieldsInfo['AboutUsAddress']?.AccessAddField" matSuffix
            mat-icon-button aria-label="Clear" (click)="dataModel.AboutUsAddress = ''">close</mat-icon>
          <mat-icon *ngIf="fieldsInfo['AboutUsAddress']?.AccessAddField" matSuffix>mode_edit</mat-icon>
          <mat-hint align="start" ><mat-icon matSuffix class="info-field-icon">info</mat-icon>
            <strong class="info-field-text">{{fieldsInfo['AboutUsAddress']?.FieldDescription}}</strong> </mat-hint>
          <mat-hint align="start">{{ AboutUsAddress.value.length }} / 100</mat-hint>
        </mat-form-field>
        <!-- AboutUsMoreInfoUrl Field -->
        <mat-form-field class="ntk-full-width" *ngIf="fieldsInfo['AboutUsMoreInfoUrl']?.AccessWatchField">
          <mat-label>{{ fieldsInfo['AboutUsMoreInfoUrl']?.FieldTitle }}</mat-label>
          <input matInput [(ngModel)]="dataModel.AboutUsMoreInfoUrl"
            [disabled]="!fieldsInfo['AboutUsMoreInfoUrl']?.AccessAddField" name="dataModel.AboutUsMoreInfoUrl"
            #AboutUsMoreInfoUrl type="text" placeholder="https://...." style="text-align: left;" dir="ltr" />
          <mat-icon matSuffix *ngIf="dataModel.AboutUsMoreInfoUrl && fieldsInfo['AboutUsMoreInfoUrl']?.AccessAddField"
            matSuffix mat-icon-button aria-label="Clear" (click)="dataModel.AboutUsMoreInfoUrl = ''">close</mat-icon>
          <mat-icon *ngIf="fieldsInfo['AboutUsMoreInfoUrl']?.AccessAddField" matSuffix>mode_edit</mat-icon>
          <mat-hint align="start" ><mat-icon matSuffix class="info-field-icon">info</mat-icon>
            <strong class="info-field-text">{{fieldsInfo['AboutUsMoreInfoUrl']?.FieldDescription}}</strong> </mat-hint>
        </mat-form-field>
        <!-- AboutUsLinkFacebook Field -->
        <mat-form-field class="ntk-full-width" *ngIf="fieldsInfo['AboutUsLinkFacebook']?.AccessWatchField">
          <mat-label>{{ fieldsInfo['AboutUsLinkFacebook']?.FieldTitle }}</mat-label>
          <input matInput [(ngModel)]="dataModel.AboutUsLinkFacebook"
            [disabled]="!fieldsInfo['AboutUsLinkFacebook']?.AccessAddField" name="dataModel.AboutUsLinkFacebook"
            #AboutUsLinkFacebook type="text" placeholder="https://...." style="text-align: left;" dir="ltr" />
          <mat-icon matSuffix *ngIf="dataModel.AboutUsLinkFacebook && fieldsInfo['AboutUsLinkFacebook']?.AccessAddField"
            matSuffix mat-icon-button aria-label="Clear" (click)="dataModel.AboutUsLinkFacebook = ''">close</mat-icon>
          <mat-icon *ngIf="fieldsInfo['AboutUsLinkFacebook']?.AccessAddField" matSuffix>mode_edit</mat-icon>
          <mat-hint align="start" ><mat-icon matSuffix class="info-field-icon">info</mat-icon>
            <strong class="info-field-text">{{fieldsInfo['AboutUsLinkFacebook']?.FieldDescription}}</strong> </mat-hint>
        </mat-form-field>
        <!-- AboutUsLinkTwitter Field -->
        <mat-form-field class="ntk-full-width" *ngIf="fieldsInfo['AboutUsLinkTwitter']?.AccessWatchField">
          <mat-label>{{ fieldsInfo['AboutUsLinkTwitter']?.FieldTitle }}</mat-label>
          <input matInput [(ngModel)]="dataModel.AboutUsLinkTwitter"
            [disabled]="!fieldsInfo['AboutUsLinkTwitter']?.AccessAddField" name="dataModel.AboutUsLinkTwitter"
            #AboutUsLinkTwitter type="text" placeholder="https://...." style="text-align: left;" dir="ltr" />
          <mat-icon matSuffix *ngIf="dataModel.AboutUsLinkTwitter && fieldsInfo['AboutUsLinkTwitter']?.AccessAddField"
            matSuffix mat-icon-button aria-label="Clear" (click)="dataModel.AboutUsLinkTwitter = ''">close</mat-icon>
          <mat-icon *ngIf="fieldsInfo['AboutUsLinkTwitter']?.AccessAddField" matSuffix>mode_edit</mat-icon>
          <mat-hint align="start" ><mat-icon matSuffix class="info-field-icon">info</mat-icon>
            <strong class="info-field-text">{{fieldsInfo['AboutUsLinkTwitter']?.FieldDescription}}</strong> </mat-hint>
        </mat-form-field>
        <!-- AboutUsLinkGooglePlus Field -->
        <mat-form-field class="ntk-full-width" *ngIf="fieldsInfo['AboutUsLinkGooglePlus']?.AccessWatchField">
          <mat-label>{{ fieldsInfo['AboutUsLinkGooglePlus']?.FieldTitle }}</mat-label>
          <input matInput [(ngModel)]="dataModel.AboutUsLinkGooglePlus"
            [disabled]="!fieldsInfo['AboutUsLinkGooglePlus']?.AccessAddField" name="dataModel.AboutUsLinkGooglePlus"
            #AboutUsLinkGooglePlus type="text" placeholder="https://...." style="text-align: left;" dir="ltr" />
          <mat-icon matSuffix
            *ngIf="dataModel.AboutUsLinkGooglePlus && fieldsInfo['AboutUsLinkGooglePlus']?.AccessAddField" matSuffix
            mat-icon-button aria-label="Clear" (click)="dataModel.AboutUsLinkGooglePlus = ''">close</mat-icon>
          <mat-icon *ngIf="fieldsInfo['AboutUsLinkGooglePlus']?.AccessAddField" matSuffix>mode_edit</mat-icon>
          <mat-hint align="start" ><mat-icon matSuffix class="info-field-icon">info</mat-icon>
            <strong class="info-field-text">{{fieldsInfo['AboutUsLinkGooglePlus']?.FieldDescription}}</strong> </mat-hint>
        </mat-form-field>
        <!-- AboutUsLinkInstagram Field -->
        <mat-form-field class="ntk-full-width" *ngIf="fieldsInfo['AboutUsLinkInstagram']?.AccessWatchField">
          <mat-label>{{ fieldsInfo['AboutUsLinkInstagram']?.FieldTitle }}</mat-label>
          <input matInput [(ngModel)]="dataModel.AboutUsLinkInstagram"
            [disabled]="!fieldsInfo['AboutUsLinkInstagram']?.AccessAddField" name="dataModel.AboutUsLinkInstagram"
            #AboutUsLinkInstagram type="text" placeholder="https://...." style="text-align: left;" dir="ltr" />
          <mat-icon matSuffix
            *ngIf="dataModel.AboutUsLinkInstagram && fieldsInfo['AboutUsLinkInstagram']?.AccessAddField" matSuffix
            mat-icon-button aria-label="Clear" (click)="dataModel.AboutUsLinkInstagram = ''">close</mat-icon>
          <mat-icon *ngIf="fieldsInfo['AboutUsLinkInstagram']?.AccessAddField" matSuffix>mode_edit</mat-icon>
          <mat-hint align="start" ><mat-icon matSuffix class="info-field-icon">info</mat-icon>
            <strong class="info-field-text">{{fieldsInfo['AboutUsLinkInstagram']?.FieldDescription}}</strong> </mat-hint>
        </mat-form-field>
          <!-- AboutUsLinkWhatsapp Field -->
          <mat-form-field class="ntk-full-width" *ngIf="fieldsInfo['AboutUsLinkWhatsapp']?.AccessWatchField">
            <mat-label>{{ fieldsInfo['AboutUsLinkWhatsapp']?.FieldTitle }}</mat-label>
            <input matInput [(ngModel)]="dataModel.AboutUsLinkWhatsapp"
              [disabled]="!fieldsInfo['AboutUsLinkWhatsapp']?.AccessAddField" name="dataModel.AboutUsLinkWhatsapp"
              #AboutUsLinkWhatsapp type="text" placeholder="https://...." style="text-align: left;" dir="ltr" />
            <mat-icon matSuffix
              *ngIf="dataModel.AboutUsLinkWhatsapp && fieldsInfo['AboutUsLinkWhatsapp']?.AccessAddField" matSuffix
              mat-icon-button aria-label="Clear" (click)="dataModel.AboutUsLinkWhatsapp = ''">close</mat-icon>
            <mat-icon *ngIf="fieldsInfo['AboutUsLinkWhatsapp']?.AccessAddField" matSuffix>mode_edit</mat-icon>
            <mat-hint align="start" ><mat-icon matSuffix class="info-field-icon">info</mat-icon>
              <strong class="info-field-text">{{fieldsInfo['AboutUsLinkWhatsapp']?.FieldDescription}}</strong> </mat-hint>
          </mat-form-field>
        <!-- AboutUsLinklinkedin Field -->
        <mat-form-field class="ntk-full-width" *ngIf="fieldsInfo['AboutUsLinklinkedin']?.AccessWatchField">
          <mat-label>{{ fieldsInfo['AboutUsLinklinkedin']?.FieldTitle }}</mat-label>
          <input matInput [(ngModel)]="dataModel.AboutUsLinklinkedin"
            [disabled]="!fieldsInfo['AboutUsLinklinkedin']?.AccessAddField" name="dataModel.AboutUsLinklinkedin"
            #AboutUsLinklinkedin type="text" placeholder="https://...." style="text-align: left;" dir="ltr" />
          <mat-icon matSuffix *ngIf="dataModel.AboutUsLinklinkedin && fieldsInfo['AboutUsLinklinkedin']?.AccessAddField"
            matSuffix mat-icon-button aria-label="Clear" (click)="dataModel.AboutUsLinklinkedin = ''">close</mat-icon>
          <mat-icon *ngIf="fieldsInfo['AboutUsLinklinkedin']?.AccessAddField" matSuffix>mode_edit</mat-icon>
          <mat-hint align="start" ><mat-icon matSuffix class="info-field-icon">info</mat-icon>
            <strong class="info-field-text">{{fieldsInfo['AboutUsLinklinkedin']?.FieldDescription}}</strong> </mat-hint>
        </mat-form-field>
        <!-- AboutUsLinkYahoo Field -->
        <mat-form-field class="ntk-full-width" *ngIf="fieldsInfo['AboutUsLinkYahoo']?.AccessWatchField">
          <mat-label>{{ fieldsInfo['AboutUsLinkYahoo']?.FieldTitle }}</mat-label>
          <input matInput [(ngModel)]="dataModel.AboutUsLinkYahoo"
            [disabled]="!fieldsInfo['AboutUsLinkYahoo']?.AccessAddField" name="dataModel.AboutUsLinkYahoo"
            #AboutUsLinkYahoo type="text" placeholder="https://...." style="text-align: left;" dir="ltr" />
          <mat-icon matSuffix *ngIf="dataModel.AboutUsLinkYahoo && fieldsInfo['AboutUsLinkYahoo']?.AccessAddField"
            matSuffix mat-icon-button aria-label="Clear" (click)="dataModel.AboutUsLinkYahoo = ''">close</mat-icon>
          <mat-icon *ngIf="fieldsInfo['AboutUsLinkYahoo']?.AccessAddField" matSuffix>mode_edit</mat-icon>
          <mat-hint align="start" ><mat-icon matSuffix class="info-field-icon">info</mat-icon>
            <strong class="info-field-text">{{fieldsInfo['AboutUsLinkYahoo']?.FieldDescription}}</strong> </mat-hint>
        </mat-form-field>
        <!-- AboutUsLinkYoutube Field -->
        <mat-form-field class="ntk-full-width" *ngIf="fieldsInfo['AboutUsLinkYoutube']?.AccessWatchField">
          <mat-label>{{ fieldsInfo['AboutUsLinkYoutube']?.FieldTitle }}</mat-label>
          <input matInput [(ngModel)]="dataModel.AboutUsLinkYoutube"
            [disabled]="!fieldsInfo['AboutUsLinkYoutube']?.AccessAddField" name="dataModel.AboutUsLinkYoutube"
            #AboutUsLinkYoutube type="text" placeholder="https://...." style="text-align: left;" dir="ltr" />
          <mat-icon matSuffix *ngIf="dataModel.AboutUsLinkYoutube && fieldsInfo['AboutUsLinkYoutube']?.AccessAddField"
            matSuffix mat-icon-button aria-label="Clear" (click)="dataModel.AboutUsLinkYoutube = ''">close</mat-icon>
          <mat-icon *ngIf="fieldsInfo['AboutUsLinkYoutube']?.AccessAddField" matSuffix>mode_edit</mat-icon>
          <mat-hint align="start" ><mat-icon matSuffix class="info-field-icon">info</mat-icon>
            <strong class="info-field-text">{{fieldsInfo['AboutUsLinkYoutube']?.FieldDescription}}</strong> </mat-hint>
        </mat-form-field>
        <!-- AboutUsLinkTelegram Field -->
        <mat-form-field class="ntk-full-width" *ngIf="fieldsInfo['AboutUsLinkTelegram']?.AccessWatchField">
          <mat-label>{{ fieldsInfo['AboutUsLinkTelegram']?.FieldTitle }}</mat-label>
          <input matInput [(ngModel)]="dataModel.AboutUsLinkTelegram"
            [disabled]="!fieldsInfo['AboutUsLinkTelegram']?.AccessAddField" name="dataModel.AboutUsLinkTelegram"
            #AboutUsLinkTelegram type="text" placeholder="https://...." style="text-align: left;" dir="ltr" />
          <mat-icon matSuffix *ngIf="dataModel.AboutUsLinkTelegram && fieldsInfo['AboutUsLinkTelegram']?.AccessAddField"
            matSuffix mat-icon-button aria-label="Clear" (click)="dataModel.AboutUsLinkTelegram = ''">close</mat-icon>
          <mat-icon *ngIf="fieldsInfo['AboutUsLinkTelegram']?.AccessAddField" matSuffix>mode_edit</mat-icon>
          <mat-hint align="start" ><mat-icon matSuffix class="info-field-icon">info</mat-icon>
            <strong class="info-field-text">{{fieldsInfo['AboutUsLinkTelegram']?.FieldDescription}}</strong> </mat-hint>
        </mat-form-field>
        <!-- AboutUsLinkPinterest Field -->
        <mat-form-field class="ntk-full-width" *ngIf="fieldsInfo['AboutUsLinkPinterest']?.AccessWatchField">
          <mat-label>{{ fieldsInfo['AboutUsLinkPinterest']?.FieldTitle }}</mat-label>
          <input matInput [(ngModel)]="dataModel.AboutUsLinkPinterest"
            [disabled]="!fieldsInfo['AboutUsLinkPinterest']?.AccessAddField" name="dataModel.AboutUsLinkPinterest"
            #AboutUsLinkPinterest type="text" placeholder="https://...." style="text-align: left;" dir="ltr" />
          <mat-icon matSuffix
            *ngIf="dataModel.AboutUsLinkPinterest && fieldsInfo['AboutUsLinkPinterest']?.AccessAddField" matSuffix
            mat-icon-button aria-label="Clear" (click)="dataModel.AboutUsLinkPinterest = ''">close</mat-icon>
          <mat-icon *ngIf="fieldsInfo['AboutUsLinkPinterest']?.AccessAddField" matSuffix>mode_edit</mat-icon>
          <mat-hint align="start" ><mat-icon matSuffix class="info-field-icon">info</mat-icon>
            <strong class="info-field-text">{{fieldsInfo['AboutUsLinkPinterest']?.FieldDescription}}</strong> </mat-hint>
        </mat-form-field>
        <!-- AboutUsLinkRss Field -->
        <mat-form-field class="ntk-full-width" *ngIf="fieldsInfo['AboutUsLinkRss']?.AccessWatchField">
          <mat-label>{{ fieldsInfo['AboutUsLinkRss']?.FieldTitle }}</mat-label>
          <input matInput [(ngModel)]="dataModel.AboutUsLinkRss"
            [disabled]="!fieldsInfo['AboutUsLinkRss']?.AccessAddField" name="dataModel.AboutUsLinkRss" #AboutUsLinkRss
            type="text" placeholder="https://...." style="text-align: left;" dir="ltr" />
          <mat-icon matSuffix *ngIf="dataModel.AboutUsLinkRss && fieldsInfo['AboutUsLinkRss']?.AccessAddField" matSuffix
            mat-icon-button aria-label="Clear" (click)="dataModel.AboutUsLinkRss = ''">close</mat-icon>
          <mat-icon *ngIf="fieldsInfo['AboutUsLinkRss']?.AccessAddField" matSuffix>mode_edit</mat-icon>
          <mat-hint align="start" ><mat-icon matSuffix class="info-field-icon">info</mat-icon>
            <strong class="info-field-text">{{fieldsInfo['AboutUsLinkRss']?.FieldDescription}}</strong> </mat-hint>
        </mat-form-field>
        <div class="mb-3">
          <img *ngIf="dataModel?.AboutUsLinkImageIdSrc?.length>0" style="vertical-align:middle;" class="ntk-hover-zoom" aria-hidden
            src="{{dataModel.AboutUsLinkImageIdSrc | cmsthumbnail}}" height="50" width="50" />
        </div>
        <div class="mb-9">
          <mat-form-field class="ntk-full-width" *ngIf="fieldsInfo['AboutUsLinkImageId']?.AccessWatchField">
            <mat-label (click)="fileManagerOpenFormAboutUsLinkImageId = true">
              {{fieldsInfo['AboutUsLinkImageId']?.FieldTitle}}
            </mat-label>
            <input matInput [(ngModel)]="dataModel.AboutUsLinkImageId"
              [disabled]="!fieldsInfo['AboutUsLinkImageId']?.AccessAddField" name="dataModel.AboutUsLinkImageId"
              #AboutUsLinkImageId type="text" placeholder="شناسه فایل اصلی"
              (click)="fileManagerOpenFormAboutUsLinkImageId = true" />
            <mat-icon matSuffix *ngIf="dataModel.AboutUsLinkImageId && fieldsInfo['AboutUsLinkImageId']?.AccessAddField"
              matSuffix mat-icon-button aria-label="Clear" (click)="dataModel.AboutUsLinkImageId = null">close
            </mat-icon>
            <mat-icon *ngIf="fieldsInfo['AboutUsLinkImageId']?.AccessAddField" matSuffix
              (click)="fileManagerOpenFormAboutUsLinkImageId = true">mode_edit</mat-icon>
          </mat-form-field>
          <cms-file-manager (itemSelected)="onActionFileSelectedAboutUsLinkImageId($event)" [language]="appLanguage"
            [isPopup]="true" [(openForm)]="fileManagerOpenFormAboutUsLinkImageId" [tree]="fileManagerTree"
            [openDirectUploadView]="true" [openFilemanagerButtonLabelKey]="'select'"
            [selectFileType]="selectFileTypeMainImage" [openFilemanagerButtonView]="false"></cms-file-manager>
        </div>
        <p>روی نقشه کلیک کنید تا موقیت مکانی مشخص گردد</p>
        <app-cms-map (map$)="receiveMap($event)" [optonCenter]="mapOptonCenter"  [optonCenter]="mapOptonCenter" id='main-map'></app-cms-map>
        <div *ngIf="formInfo.FormSubmitAllow" class="ntk-button-row">
          <button type="button" mat-raised-button color="accent" matStepperPrevious>
            {{'ACTION.BEFOR' | translate}}
          </button>
          <button type="button" mat-raised-button color="primary" [disabled]="!vform.form.valid" matStepperNext>
            {{'ACTION.NEXT' | translate}}
          </button>
        </div>
      </mat-step>
      <mat-step label="حسابداری" state="seo">
        <p>وضعیت مالی و تراکنش حسابداری</p>
        <!-- HasAccountingForm Field -->
        <div class="ntk-full-width">
          <mat-slide-toggle [(ngModel)]="dataModel.HasAccountingForm"
            *ngIf="fieldsInfo['HasAccountingForm']?.AccessWatchField"
            [disabled]="!fieldsInfo['HasAccountingForm']?.AccessAddField" name="dataModel.HasAccountingForm">
            {{fieldsInfo['HasAccountingForm']?.FieldTitle}}
          </mat-slide-toggle>
        </div>
        <!-- AccountingFormNo Field -->
        <mat-form-field class="ntk-full-width" *ngIf="fieldsInfo['AccountingFormNo']?.AccessWatchField">
          <mat-label>{{ fieldsInfo['AccountingFormNo']?.FieldTitle }}</mat-label>
          <input matInput [(ngModel)]="dataModel.AccountingFormNo"
            [disabled]="!fieldsInfo['AccountingFormNo']?.AccessAddField" name="dataModel.AccountingFormNo"
            #AccountingFormNo type="number" placeholder="123" />
          <mat-icon matSuffix *ngIf="dataModel.AccountingFormNo && fieldsInfo['AccountingFormNo']?.AccessAddField"
            matSuffix mat-icon-button aria-label="Clear" (click)="dataModel.AccountingFormNo = 0">close</mat-icon>
          <mat-icon *ngIf="fieldsInfo['AccountingFormNo']?.AccessAddField" matSuffix>mode_edit</mat-icon>
          <mat-hint align="start">{{ AccountingFormNo.value.length }} / 100</mat-hint>
        </mat-form-field>
        <!-- AccountingFormCreatedDate Field -->
        <mat-form-field class="ntk-full-width" *ngIf="fieldsInfo['AccountingFormCreatedDate']?.AccessWatchField">
          <mat-label>{{fieldsInfo['AccountingFormCreatedDate']?.FieldTitle}}</mat-label>
          <input matInput [matDatepicker]="AccountingFormCreatedDate" [(ngModel)]="dataModel.AccountingFormCreatedDate"
            name="dataModel.AccountingFormCreatedDate" />
          <mat-icon matSuffix
            *ngIf="dataModel.AccountingFormCreatedDate && fieldsInfo['AccountingFormCreatedDate']?.AccessAddField"
            matSuffix mat-icon-button aria-label="Clear" (click)="dataModel.AccountingFormCreatedDate = null">close
          </mat-icon>
          <mat-datepicker-toggle matSuffix [for]="AccountingFormCreatedDate"></mat-datepicker-toggle>
          <mat-datepicker touchUi #AccountingFormCreatedDate></mat-datepicker>
        </mat-form-field>
        <!-- AccountingFormUpdatedDate Field -->
        <mat-form-field class="ntk-full-width" *ngIf="fieldsInfo['AccountingFormUpdatedDate']?.AccessWatchField">
          <mat-label>{{fieldsInfo['AccountingFormUpdatedDate']?.FieldTitle}}</mat-label>
          <input matInput [matDatepicker]="AccountingFormUpdatedDate" [(ngModel)]="dataModel.AccountingFormUpdatedDate"
            name="dataModel.AccountingFormUpdatedDate" />
          <mat-icon matSuffix
            *ngIf="dataModel.AccountingFormUpdatedDate && fieldsInfo['AccountingFormUpdatedDate']?.AccessAddField"
            matSuffix mat-icon-button aria-label="Clear" (click)="dataModel.AccountingFormUpdatedDate = null">close
          </mat-icon>
          <mat-datepicker-toggle matSuffix [for]="AccountingFormUpdatedDate"></mat-datepicker-toggle>
          <mat-datepicker touchUi #AccountingFormUpdatedDate></mat-datepicker>
        </mat-form-field>
        <div *ngIf="formInfo.FormSubmitAllow" class="ntk-button-row">
          <button type="button" mat-raised-button color="accent" matStepperPrevious>
            {{'ACTION.BEFOR' | translate}}
          </button>
          <button type="submit" mat-raised-button color="success" [disabled]="!vform.form.valid">
            {{'ACTION.SAVE' | translate}}
          </button>
        </div>
      </mat-step>
    </mat-horizontal-stepper>
    <!--end:::::::::::::::::::::::::::::::::::::::::cms-body-->
  </div>
  <div class="ntk-cms-html-card-message">
    <!--begin:::::::::::::::::::::::::::::::::::::::::cms-message-->
    <!--end:::::::::::::::::::::::::::::::::::::::::cms-message-->
  </div>
  <div class="ntk-cms-html-card-footer">
    <!--begin:::::::::::::::::::::::::::::::::::::::::cms-footer-->
    <!--end:::::::::::::::::::::::::::::::::::::::::cms-footer-->
  </div>
</form>