<form (ngSubmit)="onFormSubmit()" #vform="ngForm">
  <div class="ntk-cms-html-card-header">
    <!--begin:::::::::::::::::::::::::::::::::::::::::cms-header-->
    {{ formInfo.formTitle }}
    <!--end:::::::::::::::::::::::::::::::::::::::::cms-header-->
  </div>
  <div class="ntk-cms-html-card-body">
    <app-progress-spinner [options]="loading"> </app-progress-spinner>
    <!--begin:::::::::::::::::::::::::::::::::::::::::cms-body-->
    <!-- RecordStatus Field -->
    <mat-form-field class="ntk-full-width">
      <mat-select placeholder="{{fieldsInfo['recordStatus']?.fieldTitle}}" [(ngModel)]="dataModel.recordStatus"
        name="dataModel.recordStatus" #RecordStatus="ngModel" panelClass="recordStatus-{{ dataModel.recordStatus }}"
        required>
        <mat-option *ngFor="
                  let item of dataModelEnumRecordStatusResult.listItems;
                  index as i
                " [value]="item.value">{{ item.description }}</mat-option>
      </mat-select>
      <mat-hint align="end">{{'TITLE.SELECT_STATUS' | translate}}</mat-hint>
      <mat-error *ngIf="RecordStatus.errors?.required">
        RecordStatus is <strong>{{'MESSAGE.required' | translate}}</strong>
      </mat-error>
    </mat-form-field>
    <!-- LinkManagementMemberId Field -->
    <app-linkmanagement-member-selector (optionChange)="onActionSelectorSelectLinkManagementMemberId($event)"
      [(loading)]="loading" [optionSelectForce]="dataModel.linkManagementMemberId"
      [optionPlaceholder]="this.translate.instant('TITLE.User_Account')">
    </app-linkmanagement-member-selector>
    <!-- IsCertainDocument Field -->
    <div class="ntk-full-width">
      <mat-slide-toggle [(ngModel)]="dataModel.isCertainDocument"
        *ngIf="fieldsInfo['isCertainDocument']?.accessWatchField"
        [disabled]="!fieldsInfo['isCertainDocument']?.accessEditField" name="dataModel.isCertainDocument">
        {{fieldsInfo['isCertainDocument']?.fieldTitle}}
      </mat-slide-toggle>
    </div>
    <!-- Description Field -->
    <mat-form-field class="ntk-full-width">
      <mat-label>{{fieldsInfo['description']?.fieldTitle}}</mat-label>
      <textarea matInput [(ngModel)]="dataModel.description" name="dataModel.description" #Description type="text"
        placeholder="{{fieldsInfo['description']?.fieldTitle}}" minlength="1" maxlength="500" rows=5></textarea>
      <mat-icon matSuffix *ngIf="dataModel.description" matSuffix mat-icon-button aria-label="Clear"
        (click)="dataModel.description = ''">close</mat-icon>
      <mat-icon matSuffix>mode_edit</mat-icon>
      <mat-hint align="end">{{ Description.value.length }} / 500</mat-hint>
      <mat-error *ngIf="Description.errors?.required">
        Description is <strong>{{'MESSAGE.required' | translate}}</strong>
      </mat-error>
    </mat-form-field>

    <!-- Debtor Field -->
    <mat-form-field class="ntk-full-width">
      <mat-label>{{fieldsInfo['debtor']?.fieldTitle}}</mat-label>
      <input matInput [(ngModel)]="dataModel.debtor" name="dataModel.debtor" #Debtor type="number"
        placeholder="{{'TITLE.Debtor_Credit' | translate}}" min="0" required />
      <mat-icon matSuffix *ngIf="dataModel.debtor" matSuffix mat-icon-button aria-label="Clear"
        (click)="dataModel.debtor = 0">close</mat-icon>
      <mat-icon matSuffix>mode_edit</mat-icon>
      <mat-error *ngIf="Debtor.errors?.required">
        Debtor is <strong>{{'MESSAGE.required' | translate}}</strong>
      </mat-error>
    </mat-form-field>
    <!-- Creditor Field -->
    <mat-form-field class="ntk-full-width">
      <mat-label>{{fieldsInfo['creditor']?.fieldTitle}}</mat-label>
      <input matInput [(ngModel)]="dataModel.creditor" name="dataModel.creditor" #Creditor type="number"
        placeholder="{{'TITLE.Creditor_Credit' | translate}}" min="0" required />
      <mat-icon matSuffix *ngIf="dataModel.creditor" matSuffix mat-icon-button aria-label="Clear"
        (click)="dataModel.creditor = 0">close</mat-icon>
      <mat-icon matSuffix>mode_edit</mat-icon>
      <mat-error *ngIf="Creditor.errors?.required">
        Creditor is <strong>{{'MESSAGE.required' | translate}}</strong>
      </mat-error>
    </mat-form-field>
    <!-- BeginDate Field -->
    <mat-form-field class="ntk-full-width">
      <mat-label>{{fieldsInfo['beginDate']?.fieldTitle}}</mat-label>
      <input matInput [matDatepicker]="BeginDate" [(ngModel)]="dataModel.beginDate" name="dataModel.beginDate" />
      <mat-icon matSuffix *ngIf="dataModel.beginDate && fieldsInfo['beginDate']?.accessEditField" matSuffix
        mat-icon-button aria-label="Clear" (click)="dataModel.beginDate = null">close</mat-icon>
      <mat-datepicker-toggle matSuffix [for]="BeginDate"></mat-datepicker-toggle>
      <mat-datepicker touchUi #BeginDate></mat-datepicker>
    </mat-form-field>

    <!-- EndDate Field -->
    <mat-form-field class="ntk-full-width" *ngIf="fieldsInfo['endDate']?.accessWatchField">
      <mat-label>{{fieldsInfo['endDate']?.fieldTitle}}</mat-label>
      <input matInput [matDatepicker]="EndDate" [(ngModel)]="dataModel.endDate" name="dataModel.endDate" />
      <mat-icon matSuffix *ngIf="dataModel.endDate && fieldsInfo['endDate']?.accessAddField" matSuffix mat-icon-button
        aria-label="Clear" (click)="dataModel.endDate = null">close</mat-icon>
      <mat-datepicker-toggle matSuffix [for]="EndDate"></mat-datepicker-toggle>
      <mat-datepicker touchUi #EndDate></mat-datepicker>
    </mat-form-field>
    <hr class="pb-5" />
    <!--end:::::::::::::::::::::::::::::::::::::::::cms-body-->
  </div>
  <div class="ntk-cms-html-card-message">
    <!--begin:::::::::::::::::::::::::::::::::::::::::cms-message-->
    <div class="form-actions">
      <small class="form-text text-muted">{{ formInfo.formAlert }} </small>
      <small class="form-text text-muted danger">{{ formInfo.formError }}
      </small>
    </div>
    <!--end:::::::::::::::::::::::::::::::::::::::::cms-message-->
  </div>
  <div class="ntk-cms-html-card-footer">
    <!--begin:::::::::::::::::::::::::::::::::::::::::cms-footer-->
    <div class="form-actions" *ngIf="formInfo.formSubmitAllow  && !loading.display">
      <button type="button" (click)="onFormCancel()" class="btn btn-light">
        <i class="ft-x"></i> {{'ACTION.CANCEL' | translate}}
      </button>
      <button type="submit" (click)="onFormSubmit()" class="btn btn-success" [disabled]="!vform.form.valid">
        <i class="fa fa-check-square-o"></i> {{'ACTION.SAVE' | translate}}
      </button>
    </div>
    <!--end:::::::::::::::::::::::::::::::::::::::::cms-footer-->
  </div>
</form>