<form (ngSubmit)="onFormSubmit()" #vform="ngForm">
  <div class="ntk-cms-html-card-header">
    <!--begin:::::::::::::::::::::::::::::::::::::::::cms-header-->
    {{ formInfo.formTitle }}
    <!--end:::::::::::::::::::::::::::::::::::::::::cms-header-->
  </div>
  <div class="ntk-cms-html-card-body">
    <app-progress-spinner [options]="loading"> </app-progress-spinner>
    <!--begin:::::::::::::::::::::::::::::::::::::::::cms-body-->
    <!-- LinkMainImageId Field -->
    <div class="mb-3">
      <a href="{{dataModel.linkMainImageIdSrc | cmsthumbnail}}" target="_blank">
        <img *ngIf="dataModel?.linkMainImageIdSrc?.length>0" style="vertical-align:middle;" class="ntk-hover-zoom"
          aria-hidden src="{{dataModel.linkMainImageIdSrc | cmsthumbnail}}" height="50" width="50" />
      </a>
    </div>
    <div class="mb-9">
      <mat-form-field class="ntk-full-width">
        <mat-label (click)="fileManagerOpenForm = true">{{'TITLE.Profile_Picture'|translate}}
        </mat-label>
        <input matInput [(ngModel)]="dataModel.linkMainImageId" name="dataModel.linkMainImageId" #LinkMainImageId
          type="text" placeholder="{{'TITLE.Profile_Photo_File_ID'|translate}}" autocomplete="off"
          (click)="fileManagerOpenForm = true" />
        <mat-icon matSuffix *ngIf="dataModel.linkMainImageId " matSuffix mat-icon-button aria-label="Clear"
          (click)="dataModel.linkMainImageId = null">close</mat-icon>
        <mat-icon matSuffix (click)="fileManagerOpenForm = true">mode_edit</mat-icon>
      </mat-form-field>
      <cms-file-manager (itemSelected)="onActionFileSelected($event)" [language]="appLanguage" [isPopup]="true"
        [(openForm)]="fileManagerOpenForm" [tree]="fileManagerTree" [openFilemanagerButtonLabelKey]="'select'"
        [openDirectUploadView]="true" [selectFileType]="selectFileTypeMainImage" [openFilemanagerButtonView]="false">
      </cms-file-manager>
    </div>
    <!-- Title Field -->
    <mat-form-field class="ntk-full-width">
      <mat-label>{{fieldsInfo['title']?.fieldTitle}}</mat-label>
      <input matInput [(ngModel)]="dataModel.title" name="dataModel.title" #Title type="text"
        placeholder="{{fieldsInfo['title']?.fieldTitle}}" minlength="3" maxlength="100" required
        [disabled]="!fieldsInfo['title']?.accessAddField" />
      <mat-icon matSuffix *ngIf="dataModel.title" matSuffix mat-icon-button aria-label="Clear"
        (click)="dataModel.title = ''">close</mat-icon>
      <mat-icon matSuffix>mode_edit</mat-icon>
      <mat-hint align="end">{{ Title.value.length }} / 100</mat-hint>
      <mat-error *ngIf="Title.errors?.required">
        Title is <strong>{{'MESSAGE.required' | translate}}</strong>
      </mat-error>
    </mat-form-field>
    <!-- LinkCmsUserId Field -->
    <app-cms-user-selector (optionChange)="onActionSelectorUser($event)" [optionSelectForce]="dataModel.linkCmsUserId"
      [(loading)]="loading" [optionPlaceholder]="this.translate.instant('TITLE.USER')"
      [optionDisabled]="!fieldsInfo['linkCmsUserId']?.accessAddField">
    </app-cms-user-selector>
    <!-- LinkLocationId Field -->
    <app-cms-location-selector (optionChange)="onActionSelectorLocation($event)" [(loading)]="loading"
      [optionSelectForce]="dataModel.linkLocationId"
      [optionPlaceholder]="this.translate.instant('TITLE.Geographical_Region')"
      [optionDisabled]="!fieldsInfo['linkLocationId']?.accessAddField"></app-cms-location-selector>
    <!-- JoinId Field -->
    <mat-form-field class="ntk-full-width">
      <mat-label>{{fieldsInfo['joinId']?.fieldTitle}}</mat-label>
      <input matInput [(ngModel)]="dataModel.joinId" name="dataModel.joinId" #JoinId type="text"
        placeholder="{{fieldsInfo['joinId']?.fieldTitle}}" minlength="0" maxlength="64"
        [disabled]="!fieldsInfo['joinId']?.accessAddField" />
      <mat-icon matSuffix *ngIf="dataModel.joinId" matSuffix mat-icon-button aria-label="Clear"
        (click)="dataModel.joinId = ''">close</mat-icon>
      <mat-icon matSuffix>mode_edit</mat-icon>
      <mat-hint align="end">{{ JoinId.value.length }} / 64</mat-hint>
    </mat-form-field>
    <!-- SerialRfId Field -->
    <mat-form-field class="ntk-full-width">
      <mat-label>{{fieldsInfo['serialRfId']?.fieldTitle}}</mat-label>
      <input matInput [(ngModel)]="dataModel.serialRfId" name="dataModel.serialRfId" #SerialRfId type="text"
        placeholder="{{fieldsInfo['serialRfId']?.fieldTitle}}" minlength="0" maxlength="64"
        [disabled]="!fieldsInfo['serialRfId']?.accessAddField" />
      <mat-icon matSuffix *ngIf="dataModel.serialRfId" matSuffix mat-icon-button aria-label="Clear"
        (click)="dataModel.serialRfId = ''">close</mat-icon>
      <mat-icon matSuffix>mode_edit</mat-icon>
      <mat-hint align="end">{{ SerialRfId.value.length }} / 64</mat-hint>
    </mat-form-field>
    <!-- SerialNumber Field -->
    <mat-form-field class="ntk-full-width">
      <mat-label>{{fieldsInfo['serialNumber']?.fieldTitle}}</mat-label>
      <input matInput [(ngModel)]="dataModel.serialNumber" name="dataModel.serialNumber" #SerialNumber type="text"
        placeholder="{{fieldsInfo['serialNumber']?.fieldTitle}}" minlength="0" maxlength="64"
        [disabled]="!fieldsInfo['serialNumber']?.accessAddField" />
      <mat-icon matSuffix *ngIf="dataModel.serialNumber" matSuffix mat-icon-button aria-label="Clear"
        (click)="dataModel.serialNumber = ''">close</mat-icon>
      <mat-icon matSuffix>mode_edit</mat-icon>
      <mat-hint align="end">{{ SerialNumber.value.length }} / 64</mat-hint>
    </mat-form-field>
    <!-- PlaceProduction Field -->
    <mat-form-field class="ntk-full-width">
      <mat-label>{{fieldsInfo['placeProduction']?.fieldTitle}}</mat-label>
      <input matInput [(ngModel)]="dataModel.placeProduction" name="dataModel.placeProduction" #PlaceProduction
        type="text" placeholder="{{fieldsInfo['placeProduction']?.fieldTitle}}" minlength="0" maxlength="64"
        [disabled]="!fieldsInfo['placeProduction']?.accessAddField" />
      <mat-icon matSuffix *ngIf="dataModel.placeProduction" matSuffix mat-icon-button aria-label="Clear"
        (click)="dataModel.placeProduction = ''">close</mat-icon>
      <mat-icon matSuffix>mode_edit</mat-icon>
      <mat-hint align="end">{{ PlaceProduction.value.length }} / 64</mat-hint>
    </mat-form-field>
    <!-- Description Field -->
    <mat-form-field class="ntk-full-width">
      <mat-label>{{fieldsInfo['description']?.fieldTitle}}</mat-label>
      <textarea matInput [(ngModel)]="dataModel.description" name="dataModel.description" #Description type="text"
        placeholder="{{fieldsInfo['description']?.fieldTitle}}" minlength="1" maxlength="500" rows=5
        [disabled]="!fieldsInfo['description']?.accessAddField"></textarea>
      <mat-icon matSuffix *ngIf="dataModel.description" matSuffix mat-icon-button aria-label="Clear"
        (click)="dataModel.description = ''">close</mat-icon>
      <mat-icon matSuffix>mode_edit</mat-icon>
      <mat-hint align="end">{{ Description.value.length }} / 500</mat-hint>
      <mat-error *ngIf="Description.errors?.required">
        Description is <strong>{{'MESSAGE.required' | translate}}</strong>
      </mat-error>
    </mat-form-field>
    <!-- PhoneNumber Field -->
    <mat-form-field class="ntk-full-width">
      <mat-label>{{fieldsInfo['phoneNumber']?.fieldTitle}}</mat-label>
      <input matInput [(ngModel)]="dataModel.phoneNumber" name="dataModel.phoneNumber" #PhoneNumber type="text"
        placeholder="{{fieldsInfo['phoneNumber']?.fieldTitle}}" minlength="0" maxlength="64"
        [disabled]="!fieldsInfo['phoneNumber']?.accessAddField" />
      <mat-icon matSuffix *ngIf="dataModel.phoneNumber" matSuffix mat-icon-button aria-label="Clear"
        (click)="dataModel.phoneNumber = ''">close</mat-icon>
      <mat-icon matSuffix>mode_edit</mat-icon>
      <mat-hint align="end">{{ PhoneNumber.value.length }} / 64</mat-hint>
    </mat-form-field>
      <!-- MobileNumber Field -->
      <mat-form-field class="ntk-full-width">
        <mat-label>{{fieldsInfo['mobileNumber']?.fieldTitle}}</mat-label>
        <input matInput [(ngModel)]="dataModel.mobileNumber" name="dataModel.mobileNumber" #mobileNumber type="text"
          placeholder="{{fieldsInfo['mobileNumber']?.fieldTitle}}" minlength="0" maxlength="64"
          [disabled]="!fieldsInfo['mobileNumber']?.accessAddField" />
        <mat-icon matSuffix *ngIf="dataModel.mobileNumber" matSuffix mat-icon-button aria-label="Clear"
          (click)="dataModel.mobileNumber = ''">close</mat-icon>
        <mat-icon matSuffix>mode_edit</mat-icon>
        <mat-hint align="end">{{ mobileNumber.value.length }} / 64</mat-hint>
      </mat-form-field>
    <!-- Address Field -->
    <mat-form-field class="ntk-full-width">
      <mat-label>{{fieldsInfo['address']?.fieldTitle}}</mat-label>
      <textarea matInput [(ngModel)]="dataModel.address" name="dataModel.address" #Address type="text"
        placeholder="{{fieldsInfo['address']?.fieldTitle}}" minlength="1" maxlength="500" required rows=5
        [disabled]="!fieldsInfo['address']?.accessAddField"></textarea>
      <mat-icon matSuffix *ngIf="dataModel.address" matSuffix mat-icon-button aria-label="Clear"
        (click)="dataModel.address = ''">close</mat-icon>
      <mat-icon matSuffix>mode_edit</mat-icon>
      <mat-hint align="end">{{ Address.value.length }} / 500</mat-hint>
      <mat-error *ngIf="Address.errors?.required">
        Address is <strong>{{'MESSAGE.required' | translate}}</strong>
      </mat-error>
    </mat-form-field>
    <hr>
    <!-- AccessWatchRowSite Field -->
    <div class="ntk-full-width">
      <mat-slide-toggle [(ngModel)]="dataModel.accessWatchRowSite"
        *ngIf="fieldsInfo['accessWatchRowSite']?.accessWatchField"
        [disabled]="!fieldsInfo['accessWatchRowSite']?.accessEditField" name="dataModel.accessWatchRowSite">
        {{fieldsInfo['accessWatchRowSite']?.fieldTitle}}
      </mat-slide-toggle>
    </div>
    <!-- accessWatchRowOtherAgency Field -->
    <div class="ntk-full-width">
      <mat-slide-toggle [(ngModel)]="dataModel.accessWatchRowOtherAgency"
        *ngIf="fieldsInfo['accessWatchRowOtherAgency']?.accessWatchField"
        [disabled]="!fieldsInfo['accessWatchRowOtherAgency']?.accessEditField"
        name="dataModel.accessWatchRowOtherAgency">
        {{fieldsInfo['accessWatchRowOtherAgency']?.fieldTitle}}
      </mat-slide-toggle>
    </div>
    <!-- accessWatchRowOtherAgent Field -->
    <div class="ntk-full-width">
      <mat-slide-toggle [(ngModel)]="dataModel.accessWatchRowOtherAgent"
        *ngIf="fieldsInfo['accessWatchRowOtherAgent']?.accessWatchField"
        [disabled]="!fieldsInfo['accessWatchRowOtherAgent']?.accessEditField" name="dataModel.accessWatchRowOtherAgent">
        {{fieldsInfo['accessWatchRowOtherAgent']?.fieldTitle}}
      </mat-slide-toggle>
    </div>
    <!-- accessAllowShareRowWatchOtherAgency Field -->
    <div class="ntk-full-width">
      <mat-slide-toggle [(ngModel)]="dataModel.accessAllowShareRowWatchOtherAgency"
        *ngIf="fieldsInfo['accessAllowShareRowWatchOtherAgency']?.accessWatchField"
        [disabled]="!fieldsInfo['accessAllowShareRowWatchOtherAgency']?.accessEditField"
        name="dataModel.accessAllowShareRowWatchOtherAgency">
        {{fieldsInfo['accessAllowShareRowWatchOtherAgency']?.fieldTitle}}
      </mat-slide-toggle>
    </div>
    <!-- accessAllowShareRowWatchOtherAgent Field -->
    <div class="ntk-full-width">
      <mat-slide-toggle [(ngModel)]="dataModel.accessAllowShareRowWatchOtherAgent"
        *ngIf="fieldsInfo['accessAllowShareRowWatchOtherAgent']?.accessWatchField"
        [disabled]="!fieldsInfo['accessAllowShareRowWatchOtherAgent']?.accessEditField"
        name="dataModel.accessAllowShareRowWatchOtherAgent">
        {{fieldsInfo['accessAllowShareRowWatchOtherAgent']?.fieldTitle}}
      </mat-slide-toggle>
    </div>
    <hr>
    <p>{{'TITLE.Click_on_the_map_to_specify_the_location' | translate}}</p>
    <app-cms-map (map$)="receiveMap($event)" (zoom$)="receiveZoom($event)" [optonCenter]="mapOptonCenter"
      id='main-map'></app-cms-map>

    <!--end:::::::::::::::::::::::::::::::::::::::::cms-body-->
  </div>
  <div class="ntk-cms-html-card-message">
    <!--begin:::::::::::::::::::::::::::::::::::::::::cms-message-->
    <div class="form-actions">
      <small class="form-text text-muted">{{ formInfo.formAlert }} </small>
      <small class="form-text text-muted danger">{{ formInfo.formError }}
      </small>
    </div>
    <!--end:::::::::::::::::::::::::::::::::::::::::cms-message-->
  </div>
  <div class="ntk-cms-html-card-footer">
    <!--begin:::::::::::::::::::::::::::::::::::::::::cms-footer-->
    <div class="form-actions" *ngIf="formInfo.formSubmitAllow  && !loading.display">
      <button type="button" (click)="onFormCancel()" class="btn btn-light">
        <i class="ft-x"></i> {{'ACTION.CANCEL' | translate}}
      </button>
      <button type="submit" (click)="onFormSubmit()" class="btn btn-success" [disabled]="!vform.form.valid">
        <i class="fa fa-check-square-o"></i> {{'ACTION.SAVE' | translate}}
      </button>
    </div>
    <!--end:::::::::::::::::::::::::::::::::::::::::cms-footer-->
  </div>
</form>