<form (ngSubmit)="onFormSubmit()" #vform="ngForm">
  <div class="ntk-cms-html-card-header">
    <!--begin:::::::::::::::::::::::::::::::::::::::::cms-header-->
    {{ formInfo.formTitle }}
    <!--end:::::::::::::::::::::::::::::::::::::::::cms-header-->
  </div>
  <div class="ntk-cms-html-card-body">
    <!--begin:::::::::::::::::::::::::::::::::::::::::cms-body-->

    <!-- ActionSendSmsToCustomer Field -->
    <div class="ntk-full-width">
      {{'TITLE.Send_link_message_to_the_property_customer' | translate}}
      <br>
      <mat-slide-toggle [(ngModel)]="dataModel.actionSendSmsToCustomer" name="dataModel.actionSendSmsToCustomer">
        {{'TITLE.SMS_to_the_property_customer' | translate}}
      </mat-slide-toggle>
    </div>
    <br>

    <!-- actionSendSmsToContactNumber Field -->
    <div class="ntk-full-width">
      {{'TITLE.Send_link_message_to_the_special_number' | translate}}
      <br>
      <textarea matInput [(ngModel)]="dataModel.actionSendSmsToContactNumber" name="dataModel.actionSendSmsToContactNumber"
      #ActionSendSmsToContactNumber type="text" class="text-line" rows="5" maxlength="100" placeholder="09123456789" ></textarea>
    </div>

    <!--end:::::::::::::::::::::::::::::::::::::::::cms-body-->
  </div>
  <div class="ntk-cms-html-card-message">
    <!--begin:::::::::::::::::::::::::::::::::::::::::cms-message-->
    <div class="form-actions">
      <small class="form-text text-muted">{{ formInfo.formAlert }} </small>
      <small class="form-text text-muted danger">{{ formInfo.formError }}
      </small>
    </div>
    <!--end:::::::::::::::::::::::::::::::::::::::::cms-message-->
  </div>
  <div class="ntk-cms-html-card-footer">
    <!--begin:::::::::::::::::::::::::::::::::::::::::cms-footer-->
    <div class="form-actions" *ngIf="formInfo.formSubmitAllow">
      <button type="button" (click)="onFormCancel()" class="btn btn-light">
        <i class="ft-x"></i> {{'ACTION.CANCEL' | translate}}
      </button>
      <button type="submit" (click)="onFormSubmit()" class="btn btn-success" [disabled]="!vform.form.valid">
        <i class="fa fa-check-square-o"></i> {{'ACTION.SAVE' | translate}}
      </button>
    </div>
    <!--end:::::::::::::::::::::::::::::::::::::::::cms-footer-->
  </div>
</form>