<form (ngSubmit)="onFormSubmit()" #vform="ngForm">
  <div class="ntk-cms-html-card-header">
    <!--begin:::::::::::::::::::::::::::::::::::::::::cms-header-->
    {{ formInfo.formTitle }}
    <!--end:::::::::::::::::::::::::::::::::::::::::cms-header-->
  </div>
  <div class="ntk-cms-html-card-body">
    <app-progress-spinner [options]="loading"> </app-progress-spinner>
    <!--begin:::::::::::::::::::::::::::::::::::::::::cms-body-->


    <!-- createdYaer Field -->
    <mat-form-field class="ntk-full-width">
      <mat-label>{{'TITLE.CreatedYaer' | translate}}</mat-label>
      <input matInput [(ngModel)]="dataModel.createdYaer" name="dataModel.SalePriceAverage" #CreatedYaer type="number"
        placeholder="0" />
      <mat-icon matSuffix *ngIf="dataModel.createdYaer" matSuffix mat-icon-button aria-label="Clear"
        (click)="dataModel.createdYaer = 0">close</mat-icon>
    </mat-form-field>
    <br>
    <!-- LinkLocationId Field -->
    <app-cms-location-selector (optionChange)="onActionSelectorLocation($event)"
      [optionSelectForce]="dataModel.linkLocationId" [(loading)]="loading"
      [optionPlaceholder]="this.translate.instant('TITLE.Geographical_Region')" [optionDisabled]="false">
      <br>
    </app-cms-location-selector>
    <!-- linkCoreCurrencyId Field -->
    <app-cms-currency-selector [optionSelectFirstItem]="true" [optionSelectForce]="dataModel.linkCoreCurrencyId"
      (optionChange)="onActionSelectCurrency($event)" [(loading)]="loading"
      [optionPlaceholder]="this.translate.instant('TITLE.Specify_the_transaction_currency')">
    </app-cms-currency-selector>
    <br>

    <!-- LinkContractTypeIds Field -->
    <app-estate-contract-type-selector (optionChange)="onActionSelectorContarctType($event)" [optionTypeView]="1"
      *ngIf="dataModel.linkCoreCurrencyId && dataModel.linkCoreCurrencyId>0" [optionDisabled]="false"
      [optionSelectForce]="dataModel.linkContractTypeId" [(loading)]="loading"
      [optionPlaceholder]="this.translate.instant('TITLE.Transaction_type')">
      <mat-icon class="margin-top" matSuffix
        *ngIf="dataModel.linkContractTypeId && dataModel.linkContractTypeId?.length>0" matSuffix mat-icon-button
        aria-label="Clear" (click)="dataModel.linkContractTypeId = null;">close
      </mat-icon>
    </app-estate-contract-type-selector>

    <br>
    <!-- LinkPropertyTypeUsageId Field -->
    <app-estate-property-type-usage-selector (optionChange)="onActionSelectorSelectUsage($event)"
      *ngIf="dataModel.linkCoreCurrencyId && dataModel.linkCoreCurrencyId>0" [optionDisabled]="false"
      [optionTypeView]="1" [optionSelectForce]="dataModel.linkPropertyTypeUsageId" [(loading)]="loading"
      [optionPlaceholder]="this.translate.instant('TITLE.Type_Usage')">
      <mat-icon class="margin-top" matSuffix
        *ngIf="dataModel.linkPropertyTypeUsageId && dataModel.linkPropertyTypeUsageId?.length>0" matSuffix
        mat-icon-button aria-label="Clear" (click)="dataModel.linkPropertyTypeUsageId = null;">close
      </mat-icon>
    </app-estate-property-type-usage-selector>
    <br>
    <!-- LinkPropertyTypeLanduseId Field -->
    <app-estate-property-type-landuse-selector (optionChange)="onActionSelectorSelectLanduse($event)"
      [(loading)]="loading" [optionDisabled]="false" [optionTypeView]="1"
      [optionSelectForce]="dataModel.linkPropertyTypeLanduseId"
      [optionPlaceholder]="this.translate.instant('TITLE.Property_type')">

      <mat-icon class="margin-top" matSuffix
        *ngIf="dataModel.linkPropertyTypeLanduseId && dataModel.linkPropertyTypeLanduseId?.length>0" matSuffix
        mat-icon-button aria-label="Clear" (click)="onActionSelectorSelectLanduse(null)">close
      </mat-icon>
    </app-estate-property-type-landuse-selector>

    <hr>
    <table>
      <tr>
        <td>{{'TITLE.Expert_Type'|translate}}</td>
        <td>{{'TITLE.CreatedYaer'|translate}}</td>
        <td>{{'TITLE.Minimum'|translate}}</td>
        <td>{{'TITLE.Average'|translate}}</td>
        <td>{{'TITLE.Maximum'|translate}}</td>
      </tr>
      <tr *ngFor="let item of dataModelResult.listItems">
        <td>{{item.expertPriceType| enums : dataModelEstatePropertyExpertPriceTypeEnumResult.listItems}}</td>
        <td>{{item.createdYaer}}</td>
        <td>
          <div *ngIf="item.salePriceMin&& item.salePriceMin>0">{{'TITLE.SalePrice'|translate}} : {{item.salePriceMin |
            number}} </div>
          <div *ngIf="item.rentPriceMin&& item.rentPriceMin>0">{{'TITLE.RentPrice'|translate}} : {{item.rentPriceMin |
            number}} </div>
          <div *ngIf="item.depositPriceMin&& item.depositPriceMin>0">{{'TITLE.DepositPrice'|translate}} :
            {{item.depositPriceMin | number}} </div>
          <div *ngIf="item.periodPriceMin&& item.periodPriceMin>0">{{'TITLE.PeriodPrice'|translate}}:
            {{item.periodPriceMin | number}} </div>
        </td>
        <td>
          <div *ngIf="item.salePriceAverage&& item.salePriceAverage>0">{{'TITLE.SalePrice'|translate}} :
            {{item.salePriceAverage | number}} </div>
          <div *ngIf="item.rentPriceAverage&& item.rentPriceAverage>0">{{'TITLE.RentPrice'|translate}} :
            {{item.rentPriceAverage | number}} </div>
          <div *ngIf="item.depositPriceAverage&& item.depositPriceAverage>0">{{'TITLE.DepositPrice'|translate}} :
            {{item.depositPriceAverage | number}} </div>
          <div *ngIf="item.periodPriceAverage&& item.periodPriceAverage>0">{{'TITLE.PeriodPrice'|translate}}:
            {{item.periodPriceAverage | number}} </div>
        </td>
        <td>
          <div *ngIf="item.salePriceMax&& item.salePriceMax>0">{{'TITLE.SalePrice'|translate}} : {{item.salePriceMax |
            number}} </div>
          <div *ngIf="item.rentPriceMax&& item.rentPriceMax>0">{{'TITLE.RentPrice'|translate}} : {{item.rentPriceMax |
            number}} </div>
          <div *ngIf="item.depositPriceMax&& item.depositPriceMax>0">{{'TITLE.DepositPrice'|translate}} :
            {{item.depositPriceMax | number}} </div>
          <div *ngIf="item.periodPriceMax&& item.periodPriceMax>0">{{'TITLE.PeriodPrice'|translate}}:
            {{item.periodPriceMax | number}} </div>
        </td>
      </tr>
    </table>




    <!--end:::::::::::::::::::::::::::::::::::::::::cms-body-->
  </div>
  <div class="ntk-cms-html-card-message">
    <!--begin:::::::::::::::::::::::::::::::::::::::::cms-message-->
    <div class="form-actions">
      <small class="form-text text-muted danger">{{ formInfo.formError }}
      </small>
    </div>
    <!--end:::::::::::::::::::::::::::::::::::::::::cms-message-->
  </div>
  <div class="ntk-cms-html-card-footer">
    <!--begin:::::::::::::::::::::::::::::::::::::::::cms-footer-->

    <div class="form-actions" *ngIf="formInfo.formSubmitAllow  && !loading.display">
      <button type="button" (click)="onFormCancel()" class="btn btn-light">
        <i class="ft-x"></i> {{'ACTION.CANCEL' | translate}}
      </button>
      <button type="submit" (click)="onFormSubmit()" class="btn btn-success" [disabled]="!vform.form.valid">
        <i class="fa fa-check-square-o"></i> {{'ACTION.Inquiry' | translate}}
      </button>
    </div>
    <!--end:::::::::::::::::::::::::::::::::::::::::cms-footer-->
  </div>
</form>