<form (ngSubmit)="onFormSubmit()" #vform="ngForm">
  <div class="ntk-cms-html-card-header">
    <!--begin:::::::::::::::::::::::::::::::::::::::::cms-header-->
    {{ formInfo.formTitle }}
    <!--end:::::::::::::::::::::::::::::::::::::::::cms-header-->
  </div>
  <div class="ntk-cms-html-card-body">
    <app-progress-spinner [options]="loading"> </app-progress-spinner>
    <!--begin:::::::::::::::::::::::::::::::::::::::::cms-body-->
    <mat-form-field class="ntk-full-width">
      <mat-select placeholder="{{fieldsInfo['RecordStatus']?.fieldTitle}}" [(ngModel)]="dataModel.recordStatus"
        name="dataModel.recordStatus" #RecordStatus="ngModel" panelClass="recordStatus-{{ dataModel.recordStatus }}"
        required>
        <mat-option *ngFor="
              let item of dataModelEnumRecordStatusResult.listItems;
              index as i
            " [value]="item.value">{{ item.description }}</mat-option>
      </mat-select>
      <mat-hint align="end">{{'TITLE.SELECT_STATUS' | translate}}</mat-hint>
      <mat-error *ngIf="RecordStatus.errors?.required">
        RecordStatus is <strong>{{'MESSAGE.required' | translate}}</strong>
      </mat-error>
    </mat-form-field>
    <!-- LinkSiteId Field -->
    <app-cms-site-selector [optionDisabled]="!fieldsInfo['ModuleName']?.accessEditField"
      [optionSelectForce]="this.dataModel.linkSiteId" [optionPlaceholder]="this.translate.instant('TITLE.WEBSITE')">
    </app-cms-site-selector>

    <!-- LinkUserId Field -->
    <app-cms-user-selector [optionDisabled]="!fieldsInfo['ModuleName']?.accessEditField"
      [optionSelectForce]="this.dataModel.linkUserId" [optionPlaceholder]="this.translate.instant('TITLE.USER')">
    </app-cms-user-selector>

    <!-- module-entity Field -->
    <app-core-module-entity-selector (optionChange)="onActionSelectorModuleEntitySelect($event)"
      [optionDisabled]="!fieldsInfo['ModuleName']?.accessEditField"
      [optionPlaceholder]="this.translate.instant('TITLE.MODULE')">
    </app-core-module-entity-selector>


    <!-- moduleName Field -->
    <mat-form-field class="ntk-full-width mb-1" *ngIf="fieldsInfo['ModuleName']?.accessWatchField">
      <mat-label>{{fieldsInfo['ModuleName']?.fieldTitle}}</mat-label>
      <input matInput [(ngModel)]="dataModel.moduleName" name="dataModel.moduleName" #ModuleName type="text"
        disabled="{{!fieldsInfo['ModuleName']?.accessEditField}}" placeholder="{{fieldsInfo['ModuleName']?.fieldTitle}}"
        minlength="3" maxlength="100" required />
      <mat-icon matSuffix *ngIf="dataModel.moduleName" matSuffix mat-icon-button aria-label="Clear"
        (click)="dataModel.moduleName = ''">close</mat-icon>
      <mat-icon matSuffix>mode_edit</mat-icon>
      <mat-hint align="start">
        <mat-icon matSuffix class="info-field-icon">info</mat-icon>
        <strong class="info-field-text">{{fieldsInfo['ModuleName']?.FieldDescription}}</strong>
      </mat-hint>
      <mat-hint align="end">{{ ModuleName.value.length }} / 100</mat-hint>
      <mat-error *ngIf="ModuleName.errors?.required">
        {{fieldsInfo['ModuleName']?.fieldTitle}} <strong>{{'MESSAGE.required' | translate}}</strong>
      </mat-error>
    </mat-form-field>



    <!-- moduleEntityName Field -->
    <mat-form-field class="ntk-full-width mb-1" *ngIf="fieldsInfo['ModuleEntityName']?.accessWatchField">
      <mat-label>{{fieldsInfo['ModuleEntityName']?.fieldTitle}}</mat-label>
      <input matInput [(ngModel)]="dataModel.moduleEntityName" name="dataModel.moduleEntityName" #ModuleEntityName
        type="text" disabled="{{!fieldsInfo['ModuleEntityName']?.accessEditField}}"
        placeholder="{{fieldsInfo['ModuleEntityName']?.fieldTitle}}" minlength="3" maxlength="100" required />
      <mat-icon matSuffix *ngIf="dataModel.moduleEntityName" matSuffix mat-icon-button aria-label="Clear"
        (click)="dataModel.moduleEntityName = ''">close</mat-icon>
      <mat-icon matSuffix>mode_edit</mat-icon>
      <mat-hint align="start">
        <mat-icon matSuffix class="info-field-icon">info</mat-icon>
        <strong class="info-field-text">{{fieldsInfo['ModuleEntityName']?.FieldDescription}}</strong>
      </mat-hint>
      <mat-hint align="end">{{ ModuleEntityName.value.length }} / 100</mat-hint>
      <mat-error *ngIf="ModuleEntityName.errors?.required">
        {{fieldsInfo['ModuleEntityName']?.fieldTitle}} <strong>{{'MESSAGE.required' | translate}}</strong>
      </mat-error>
    </mat-form-field>

    <div class="ntk-full-width">
      <!-- accessDeleteRow Field -->
      <mat-slide-toggle [(ngModel)]="dataModel.accessDeleteRow" *ngIf="fieldsInfo['AccessDeleteRow']?.accessWatchField"
        [disabled]="!fieldsInfo['AccessDeleteRow']?.accessEditField" name="dataModel.accessDeleteRow">
        {{'TITLE.Access_Delete_Row' | translate}}
      </mat-slide-toggle>
    </div>
    <div class="ntk-full-width">
      <!-- accessWatchRow Field -->
      <mat-slide-toggle [(ngModel)]="dataModel.accessWatchRow" *ngIf="fieldsInfo['AccessWatchRow']?.accessWatchField"
        [disabled]="!fieldsInfo['AccessWatchRow']?.accessEditField" name="dataModel.accessWatchRow">
        {{'TITLE.Access_Watch_Row' | translate}}
      </mat-slide-toggle>
    </div>
    <div class="ntk-full-width">
      <!-- accessCountRow Field -->
      <mat-slide-toggle [(ngModel)]="dataModel.accessCountRow" *ngIf="fieldsInfo['AccessCountRow']?.accessWatchField"
        [disabled]="!fieldsInfo['AccessCountRow']?.accessEditField" name="dataModel.accessCountRow">
        {{'TITLE.Access_Count_Row' | translate}}
      </mat-slide-toggle>
    </div>
    <div class="ntk-full-width">
      <!-- accessEditRow Field -->
      <mat-slide-toggle [(ngModel)]="dataModel.accessEditRow" *ngIf="fieldsInfo['AccessEditRow']?.accessWatchField"
        [disabled]="!fieldsInfo['AccessEditRow']?.accessEditField" name="dataModel.accessEditRow">
        {{'TITLE.Access_Edit_Row' | translate}}
      </mat-slide-toggle>
    </div>
    <div class="ntk-full-width">
      <!-- accessAddRow Field -->
      <mat-slide-toggle [(ngModel)]="dataModel.accessAddRow" *ngIf="fieldsInfo['AccessAddRow']?.accessWatchField"
        [disabled]="!fieldsInfo['AccessAddRow']?.accessEditField" name="dataModel.accessAddRow">
        {{'TITLE.Access_Add_Row' | translate}}
      </mat-slide-toggle>
    </div>
    <div class="ntk-full-width">
      <!-- accessExportFile Field -->
      <mat-slide-toggle [(ngModel)]="dataModel.accessExportFile"
        *ngIf="fieldsInfo['AccessExportFile']?.accessWatchField"
        [disabled]="!fieldsInfo['AccessExportFile']?.accessEditField" name="dataModel.accessExportFile">
        {{'TITLE.Access_Export_File' | translate}}
      </mat-slide-toggle>
    </div>

    <div class="ntk-full-width">
      <!-- accessWatchRowOtherSiteId Field -->
      <mat-slide-toggle [(ngModel)]="dataModel.accessWatchRowOtherSiteId"
        *ngIf="fieldsInfo['AccessWatchRowOtherSiteId']?.accessWatchField"
        [disabled]="!fieldsInfo['AccessWatchRowOtherSiteId']?.accessEditField"
        name="dataModel.accessWatchRowOtherSiteId">
        {{'TITLE.Access_Watch_Row_Other_Site_Id' | translate}}
      </mat-slide-toggle>
    </div>
    <div class="ntk-full-width">
      <!-- accessWatchRowOtherCreatedBy Field -->
      <mat-slide-toggle [(ngModel)]="dataModel.accessWatchRowOtherCreatedBy"
        *ngIf="fieldsInfo['AccessWatchRowOtherCreatedBy']?.accessWatchField"
        [disabled]="!fieldsInfo['AccessWatchRowOtherCreatedBy']?.accessEditField"
        name="dataModel.accessWatchRowOtherCreatedBy">
        {{'TITLE.Access_Watch_Row_Other_Created_By' | translate}}
      </mat-slide-toggle>
    </div>
    <div class="ntk-full-width">
      <!-- accessCountRowOtherSiteId Field -->
      <mat-slide-toggle [(ngModel)]="dataModel.accessCountRowOtherSiteId"
        *ngIf="fieldsInfo['AccessCountRowOtherSiteId']?.accessWatchField"
        [disabled]="!fieldsInfo['AccessCountRowOtherSiteId']?.accessEditField"
        name="dataModel.accessCountRowOtherSiteId">
        {{'TITLE.Access_Count_Row_Other_Site_Id' | translate}}
      </mat-slide-toggle>
    </div>
    <div class="ntk-full-width">
      <!-- accessCountRowOtherCreatedBy Field -->
      <mat-slide-toggle [(ngModel)]="dataModel.accessCountRowOtherCreatedBy"
        *ngIf="fieldsInfo['AccessCountRowOtherCreatedBy']?.accessWatchField"
        [disabled]="!fieldsInfo['AccessCountRowOtherCreatedBy']?.accessEditField"
        name="dataModel.accessCountRowOtherCreatedBy">
        {{'TITLE.Access_Count_Row_Other_Created_By' | translate}}
      </mat-slide-toggle>
    </div>

    <div class="ntk-full-width">
      <!-- accessEditRowOtherSiteId Field -->
      <mat-slide-toggle [(ngModel)]="dataModel.accessEditRowOtherSiteId"
        *ngIf="fieldsInfo['AccessEditRowOtherSiteId']?.accessWatchField"
        [disabled]="!fieldsInfo['AccessEditRowOtherSiteId']?.accessEditField" name="dataModel.accessEditRowOtherSiteId">
        {{'TITLE.Access_Edit_Row_Other_Site_Id' | translate}}
      </mat-slide-toggle>
    </div>

    <div class="ntk-full-width">
      <!-- accessEditRowOtherCreatedBy Field -->
      <mat-slide-toggle [(ngModel)]="dataModel.accessEditRowOtherCreatedBy"
        *ngIf="fieldsInfo['AccessEditRowOtherCreatedBy']?.accessWatchField"
        [disabled]="!fieldsInfo['AccessEditRowOtherCreatedBy']?.accessEditField"
        name="dataModel.accessEditRowOtherCreatedBy">
        {{'TITLE.Access_Edit_Row_Other_Created_By' | translate}}
      </mat-slide-toggle>
    </div>

    <div class="ntk-full-width">
      <!-- accessDeleteRowOtherCreatedBy Field -->
      <mat-slide-toggle [(ngModel)]="dataModel.accessDeleteRowOtherCreatedBy"
        *ngIf="fieldsInfo['AccessDeleteRowOtherCreatedBy']?.accessWatchField"
        [disabled]="!fieldsInfo['AccessDeleteRowOtherCreatedBy']?.accessEditField"
        name="dataModel.accessDeleteRowOtherCreatedBy">
        {{'TITLE.Access_Delete_Row_Other_Created_By' | translate}}
      </mat-slide-toggle>
    </div>



    <!--end:::::::::::::::::::::::::::::::::::::::::cms-body-->
  </div>
  <div class="ntk-cms-html-card-message">
    <!--begin:::::::::::::::::::::::::::::::::::::::::cms-message-->
    <div class="form-actions">
      <small class="form-text text-muted">{{ formInfo.formAlert }} </small>
      <small class="form-text text-muted danger">{{ formInfo.formError }}
      </small>
    </div>
    <!--end:::::::::::::::::::::::::::::::::::::::::cms-message-->
  </div>
  <div class="ntk-cms-html-card-footer">
    <!--begin:::::::::::::::::::::::::::::::::::::::::cms-footer-->
    <div class="form-actions" *ngIf="formInfo.formSubmitAllow  && !loading.display">
      <button type="button" (click)="onFormCancel()" class="btn btn-light">
        <i class="ft-x"></i> {{'ACTION.CANCEL' | translate}}
      </button>
      <button type="submit" (click)="onFormSubmit()" class="btn btn-success" [disabled]="!vform.form.valid">
        <i class="fa fa-check-square-o"></i> {{'ACTION.SAVE' | translate}}
      </button>
    </div>
    <!--end:::::::::::::::::::::::::::::::::::::::::cms-footer-->
  </div>
</form>