<!--begin::Card-->
<div class="card card-custom gutter-b">
  <!--begin::Header-->
  <div *ngIf="optionHeaderDisplay" class="card-header card-header-tabs-line">
    <div class="card-title">
      <ng-content select="[cms-header]"></ng-content>
    </div>
  </div>
  <!--end::Header-->
  <!--begin::Body-->
  <div class="card-body overflow-scroll">
    <app-progress-spinner [options]="loading"> </app-progress-spinner>
    <ng-content  select="[cms-body]"></ng-content>
  </div>
  <!--end::Body-->
  <!--begin::Footer-->
  <div class="card-body">
    <div class="row">
      <ng-content select="[cms-message]"></ng-content>
      <ng-content *ngIf="optionFooterDisplay " select="[cms-footer]"></ng-content>
    </div>
  </div>
  <!--end::Footer-->
</div>
<!--end::Card-->