<!--begin::Card-->
<div class="card card-custom gutter-b">
  <!--begin::Header-->
  <div class="card-header card-header-tabs-line">
    <div class="card-title">
      <ng-content select="[cms-header]"></ng-content>
    </div>
  </div>
  <!--end::Header-->
  <!--begin::Body-->
  <div class="card-body">
    <div *ngIf="loading.display" class="overlay-layer bg-transparent">
      <div class="spinner spinner-lg spinner-success"></div>
    </div>
    <ng-content *ngIf="!loading.display" select="[cms-body]"></ng-content>
  </div>
  <!--end::Body-->
  <!--begin::Footer-->
  <div class="card-body">
    <div class="row">
      <ng-container *ngIf="!loading.display">
        <ng-content select="[cms-footer]"></ng-content>
      </ng-container>
    </div>
  </div>
  <!--end::Footer-->
</div>
<!--end::Card-->