<div class="table">
  <app-progress-spinner [options]="loading"> </app-progress-spinner>
  <div class="tr">
    <div class="td small-width">
      <span class="svg-icon svg-icon-3x svg-icon-primary" [inlineSVG]="'./assets/media/svg/icons/Communication/Flag.svg'"></span>
    </div>
    <div class="td large-width">
      <h5>{{'TITLE.The_type_of_contract_selected' | translate}}</h5>
    </div>
    <div class="td" *ngIf="dataModelResult?.item?.id">

    </div>
  </div>
  <div class="tr">
    <div class="td small-width">{{fieldsInfo['id']?.fieldTitle}} : </div>
    <div class="td large-width">{{dataModelResult?.item?.id}}</div>
    <div class="td"></div>

    <div style="clear: both;"></div>
  </div>
  <div class="tr">
    <div class="td small-width">{{fieldsInfo['title']?.fieldTitle}} : </div>
    <div class="td large-width">{{dataModelResult?.item?.title}}</div>
    <div class="td"></div>
    <div style="clear: both;"></div>
  </div>
</div>