<form (ngSubmit)="onFormSubmit()" #vform="ngForm">
  <div class="ntk-cms-html-card-header">
    <!--begin:::::::::::::::::::::::::::::::::::::::::cms-header-->
    {{ formInfo.formTitle }}
    <!--end:::::::::::::::::::::::::::::::::::::::::cms-header-->
  </div>
  <div class="ntk-cms-html-card-body">
    <app-progress-spinner [options]="loading"> </app-progress-spinner>
    <!--begin:::::::::::::::::::::::::::::::::::::::::cms-body-->
    <!-- RecordStatus Field -->
    <mat-form-field class="ntk-full-width">
      <mat-select placeholder="{{fieldsInfo['recordStatus']?.fieldTitle}}" [(ngModel)]="dataModel.recordStatus"
        name="dataModel.recordStatus" #RecordStatus="ngModel" panelClass="recordStatus-{{ dataModel.recordStatus }}"
        required>
        <mat-option *ngFor="
                  let item of dataModelEnumRecordStatusResult.listItems;
                  index as i
                " [value]="item.value">{{ item.description }}</mat-option>
      </mat-select>
      <mat-hint align="end">{{'TITLE.SELECT_STATUS' | translate}}</mat-hint>
      <mat-error *ngIf="RecordStatus.errors?.required">
        RecordStatus is <strong>{{'MESSAGE.required' | translate}}</strong>
      </mat-error>
    </mat-form-field>
    <!-- LinkCmsSiteId Field -->
    <app-core-sitecategory-selector (optionChange)="onActionSiteCategorySelect($event)" [(loading)]="loading"
      [optionDisabled]="!fieldsInfo['linkCmsSiteCategoryId']?.accessEditField"
      [optionSelectForce]="dataModel.linkCmsSiteCategoryId"
      [optionPlaceholder]="this.translate.instant('TITLE.SITE_CATEGORY')">
    </app-core-sitecategory-selector>
    <!-- LinkModuleId Field -->
    <app-core-module-selector (optionChange)="onActionSelectorModuleSelect($event)" [(loading)]="loading"
      [optionDisabled]="!fieldsInfo['linkCmsModuleId']?.accessEditField" [optionSelectForce]="dataModel.linkCmsModuleId"
      [optionPlaceholder]="this.translate.instant('TITLE.MODULE')">
    </app-core-module-selector>
    <!-- ConfigValuesJson Field -->
    <mat-form-field class="ntk-full-width" *ngIf="fieldsInfo['configValuesJson']?.accessWatchField">
      <mat-label>{{ fieldsInfo['configValuesJson']?.FieldConfigValuesJson }}</mat-label>
      <textarea matInput [(ngModel)]="dataModel.configValuesJson"
        [disabled]="!fieldsInfo['configValuesJson']?.accessAddField" name="dataModel.configValuesJson" #ConfigValuesJson
        type="text" placeholder="ConfigValuesJson" row="6" minlength="0" maxlength="10000"></textarea>
      <mat-icon matSuffix *ngIf="dataModel.configValuesJson && fieldsInfo['configValuesJson']?.accessAddField" matSuffix
        mat-icon-button aria-label="Clear" (click)="dataModel.configValuesJson = ''">close</mat-icon>
      <mat-icon *ngIf="fieldsInfo['configValuesJson']?.accessAddField" matSuffix>mode_edit</mat-icon>
      <mat-hint align="start">{{ ConfigValuesJson.value.length }} / 10000</mat-hint>
    </mat-form-field>
    <!--end:::::::::::::::::::::::::::::::::::::::::cms-body-->
  </div>
  <div class="ntk-cms-html-card-message">
    <!--begin:::::::::::::::::::::::::::::::::::::::::cms-message-->
    <div class="form-actions">
      <small class="form-text text-muted">{{ formInfo.formAlert }} </small>
      <small class="form-text text-muted danger">{{ formInfo.formError }}
      </small>
    </div>
    <!--end:::::::::::::::::::::::::::::::::::::::::cms-message-->
  </div>
  <div class="ntk-cms-html-card-footer">
    <!--begin:::::::::::::::::::::::::::::::::::::::::cms-footer-->
    <div class="form-actions" *ngIf="formInfo.formSubmitAllow  && !loading.display">
      <button type="button" (click)="onFormCancel()" class="btn btn-light">
        <i class="ft-x"></i> {{'ACTION.CANCEL' | translate}}
      </button>
      <button type="submit" (click)="onFormSubmit()" class="btn btn-success" [disabled]="!vform.form.valid">
        <i class="fa fa-check-square-o"></i> {{'ACTION.SAVE' | translate}}
      </button>
    </div>
    <!--end:::::::::::::::::::::::::::::::::::::::::cms-footer-->
  </div>
</form>