<form (ngSubmit)="onFormSubmit()" #vform="ngForm">
  <app-cms-html-card [optionLoading]="loading">
    <ng-container cms-header>
      <h3 class="card-label">
        <!--begin:::::::::::::::::::::::::::::::::::::::::cms-header-->
        {{ formInfo.FormTitle }}
        <!--end:::::::::::::::::::::::::::::::::::::::::cms-header-->
      </h3>
    </ng-container>
    <ng-container cms-body>
      <!--begin:::::::::::::::::::::::::::::::::::::::::cms-body-->
      <!-- AccountUserType Field -->
      <mat-form-field class="ntk-full-width">
        <mat-select placeholder="{{fieldsInfo['AccountUserType']?.FieldTitle}}" [(ngModel)]="dataModel.AccountUserType"
          name="dataModel.AccountUserType" #AccountUserType="ngModel"
          panelClass="AccountUserType-{{ dataModel.AccountUserType }}" required>
          <mat-option *ngFor="
                  let item of dataModelEnumEstateUserTypeResult.ListItems;
                  index as i
                " [value]="item.Value">{{ item.Description }}</mat-option>
        </mat-select>
        <mat-hint align="end">{{'TITLE.SELECT_STATUS' | translate}}</mat-hint>
        <mat-error *ngIf="AccountUserType.errors?.required">
          AccountUserType is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <!-- LinkAccountUserId Field -->
      <app-estate-accountuser-selector (optionSelect)="onActionSelectorAccountUser($event)"
        [optionSelectForce]="dataModel.LinkAccountUserId" [optionPlaceholder]="'user'">
      </app-estate-accountuser-selector>

      <!-- LinkAccountAgencyId Field -->
      <app-estate-accountagency-selector (optionSelect)="onActionSelectorAccountAgency($event)"
        [optionSelectForce]="dataModel.LinkAccountAgencyId" [optionPlaceholder]="'Agency'">
      </app-estate-accountagency-selector>

      <!-- LinkPropertyId Field -->
      <app-estate-property-selector (optionSelect)="onActionSelectorProperty($event)"
        [optionSelectForce]="dataModel.LinkPropertyId" [optionPlaceholder]="'Property'"></app-estate-property-selector>


      <!--end:::::::::::::::::::::::::::::::::::::::::cms-body-->
    </ng-container>
    <ng-container cms-message>
      <!--begin:::::::::::::::::::::::::::::::::::::::::cms-message-->
      <div class="form-actions">
        <small class="form-text text-muted">{{ formInfo.FormAlert }} </small>
        <small class="form-text text-muted danger">{{ formInfo.FormError }}
        </small>
      </div>
      <!--end:::::::::::::::::::::::::::::::::::::::::cms-message-->
    </ng-container>
    <ng-container cms-footer>
      <!--begin:::::::::::::::::::::::::::::::::::::::::cms-footer-->
      <div class="form-actions" *ngIf="formInfo.FormSubmitAllow">
        <button type="button" (click)="onFormCancel()" class="btn btn-raised btn-warning mr-1">
          <i class="ft-x"></i> {{'ACTION.CANCEL' | translate}}
        </button>
        <button type="submit" (click)="onFormSubmit()" class="btn btn-raised btn-primary"
          [disabled]="!vform.form.valid">
          <i class="fa fa-check-square-o"></i> {{'ACTION.SAVE' | translate}}
        </button>
      </div>
      <!--end:::::::::::::::::::::::::::::::::::::::::cms-footer-->
    </ng-container>
  </app-cms-html-card>
</form>