<div *ngIf="optionsData.data.show" class="alert alert-primary" style="direction: ltr">
        <ngx-ntk-query-builder [(ngModel)]="query" [fieldMap]="fieldMap" [language]="lang">
        </ngx-ntk-query-builder>
        <ng-content></ng-content>
        <a *ngIf="submited" class="btn btn-raised mr-1 shadow-z-3 btn-success d-none d-lg-inline popup"
                style="float: left;" (click)="onActionCopied()" [cdkCopyToClipboard]="this.filters|json">
                <i class="flaticon2-copy"></i>
                <span [ngClass]="showLabel ? 'submited' : ''" class="popuptext" id="myPopup">Copied!</span>
        </a>

        <a *ngIf="allowSaveSearch" href="javascript:void(0)" (click)="onActionSaveRules()" style="float: left;"
                class="btn btn-raised mr-1 shadow-z-3 btn-success d-none d-lg-inline popup">{{'ACTION.SAVE'
                | translate}}</a>
        <a *ngIf="allowLoadSearch" href="javascript:void(0)" (click)="onActionLoadRules()" style="float: left;"
                class="btn btn-raised mr-1 shadow-z-3 btn-success d-none d-lg-inline popup">{{'ACTION.LOAD'
                | translate}}</a>
        
        <a href="javascript:void(0)" (click)="onSubmit()"
                class="btn btn-raised mr-1 shadow-z-3 btn-success">{{'ACTION.SEARCH' | translate}}</a>


</div>