<form (ngSubmit)="onFormSubmit()" #vform="ngForm">
  <div class="ntk-cms-html-card-header">
    <!--begin:::::::::::::::::::::::::::::::::::::::::cms-header-->
      {{ formInfo.formTitle }}
    <!--end:::::::::::::::::::::::::::::::::::::::::cms-header-->
  </div>
  <div class="ntk-cms-html-card-body">
    <app-progress-spinner [options]="loading"> </app-progress-spinner>
    <!--begin:::::::::::::::::::::::::::::::::::::::::cms-body-->
    <!-- RecordStatus Field -->
    <mat-form-field class="ntk-full-width">
      <mat-select placeholder="{{fieldsInfo['recordStatus']?.fieldTitle}}" [(ngModel)]="dataModel.recordStatus"
        name="dataModel.recordStatus" #RecordStatus="ngModel" panelClass="recordStatus-{{ dataModel.recordStatus }}"
        required>
        <mat-option *ngFor="
                let item of dataModelEnumRecordStatusResult.listItems;
                index as i
              " [value]="item.value">{{ item.description }}</mat-option>
      </mat-select>
      <mat-hint align="end">{{'TITLE.SELECT_STATUS' | translate}}</mat-hint>
      <mat-error *ngIf="RecordStatus.errors?.required">
        RecordStatus is <strong>{{'MESSAGE.required' | translate}}</strong>
      </mat-error>
    </mat-form-field>
    <!-- EnumCmsModuleSaleItemType Field -->
    <mat-form-field class="ntk-full-width">
      <mat-select placeholder="{{'TITLE.Status' | translate}}" [(ngModel)]="dataModel.enumCmsModuleSaleItemType"
        name="dataModel.enumCmsModuleSaleItemType" #EnumCmsModuleSaleItemType="ngModel"
        panelClass="EnumCmsModuleSaleItemType-{{ dataModel.enumCmsModuleSaleItemType }}" required>
        <mat-option *ngFor="
                let item of dataModelEnumCmsModuleSaleItemTypeResult.listItems;
                index as i
              " [value]="item.value">{{ item.description }}</mat-option>
      </mat-select>
      <mat-hint align="end">{{'TITLE.SELECT_STATUS' | translate}}</mat-hint>
      <mat-error *ngIf="EnumCmsModuleSaleItemType.errors?.required">
        EnumCmsModuleSaleItemType is <strong>{{'MESSAGE.required' | translate}}</strong>
      </mat-error>
    </mat-form-field>
    <!-- LinkModuleId Field -->
    <app-cms-module-selector (optionChange)="onActionSelectModule($event)" [(loading)]="loading"
      [optionSelectForce]="this.dataModel.linkModuleId" [optionPlaceholder]="this.translate.instant('TITLE.MODULE')"
      [optionDisabled]="!fieldsInfo['linkModuleId']?.accessEditField">
    </app-cms-module-selector>
    <!-- LinkModuleSaleHeader Field -->
    <app-core-modulesaleheader-selector (optionChange)="onActionSelectHeader($event)" [(loading)]="loading"
      [optionSelectForce]="this.dataModel.linkModuleSaleHeader" [optionPlaceholder]="this.translate.instant('TITLE.Category')"
      [optionDisabled]="!fieldsInfo['linkModuleSaleHeader']?.accessEditField">
    </app-core-modulesaleheader-selector>

    <!-- MonthLength Field -->
    <mat-form-field class="ntk-full-width" *ngIf="fieldsInfo['monthLength']?.accessWatchField">
      <mat-label>{{ fieldsInfo['monthLength']?.fieldTitle }}</mat-label>
      <input matInput [(ngModel)]="dataModel.monthLength" [disabled]="!fieldsInfo['monthLength']?.accessAddField"
        name="dataModel.monthLength" #MonthLength type="number" placeholder="0" required />
      <mat-icon matSuffix *ngIf="dataModel.monthLength && fieldsInfo['monthLength']?.accessAddField" matSuffix
        mat-icon-button aria-label="Clear" (click)="dataModel.monthLength = null">close</mat-icon>
      <mat-icon *ngIf="fieldsInfo['monthLength']?.accessAddField" matSuffix>mode_edit</mat-icon>
      <mat-error *ngIf="MonthLength.errors?.required">
        {{ fieldsInfo['monthLength']?.fieldTitle }} is <strong>{{'MESSAGE.required' | translate}}</strong>
      </mat-error>
    </mat-form-field>
    <!-- ExpireDate Field -->
    <mat-form-field class="ntk-full-width" *ngIf="fieldsInfo['expireDate']?.accessWatchField">
      <mat-label>{{fieldsInfo['expireDate']?.fieldTitle}}</mat-label>
      <input matInput [matDatepicker]="ExpireDate" [(ngModel)]="dataModel.expireDate" name="dataModel.expireDate" />
      <mat-icon matSuffix *ngIf="dataModel.expireDate && fieldsInfo['expireDate']?.accessAddField" matSuffix
        mat-icon-button aria-label="Clear" (click)="dataModel.expireDate = null">close</mat-icon>
      <mat-datepicker-toggle matSuffix [for]="ExpireDate"></mat-datepicker-toggle>
      <mat-datepicker touchUi #ExpireDate></mat-datepicker>
    </mat-form-field>
    <!-- Description Field -->
    <mat-form-field class="ntk-full-width">
      <mat-label>{{fieldsInfo['description']?.fieldTitle}}</mat-label>
      <textarea matInput [(ngModel)]="dataModel.description" name="dataModel.description" #Description type="text"
        placeholder="{{fieldsInfo['description']?.fieldTitle}}" minlength="1" maxlength="500" rows=5></textarea>
      <mat-icon matSuffix *ngIf="dataModel.description" matSuffix mat-icon-button aria-label="Clear"
        (click)="dataModel.description = ''">close</mat-icon>
      <mat-icon matSuffix>mode_edit</mat-icon>
      <mat-hint align="end">{{ Description.value.length }} / 500</mat-hint>
      <mat-error *ngIf="Description.errors?.required">
        Description is <strong>{{'MESSAGE.required' | translate}}</strong>
      </mat-error>
    </mat-form-field>
    <!-- ModuleSiteAccessJsonValue Field -->
    <mat-form-field class="ntk-full-width">
      <mat-label>{{fieldsInfo['moduleSiteAccessJsonValue']?.fieldTitle}}</mat-label>
      <textarea matInput [(ngModel)]="dataModel.moduleSiteAccessJsonValue" name="dataModel.moduleSiteAccessJsonValue"
        #ModuleSiteAccessJsonValue type="text" placeholder="Json" minlength="0" maxlength="1000" rows=5></textarea>
      <mat-icon matSuffix *ngIf="dataModel.moduleSiteAccessJsonValue" matSuffix mat-icon-button aria-label="Clear"
        (click)="dataModel.moduleSiteAccessJsonValue = ''">close</mat-icon>
      <mat-icon matSuffix>mode_edit</mat-icon>
      <mat-hint align="end">{{ ModuleSiteAccessJsonValue.value.length }} / 1000</mat-hint>
    </mat-form-field>
    <!--end:::::::::::::::::::::::::::::::::::::::::cms-body-->
  </div>
  <div class="ntk-cms-html-card-message">
    <!--begin:::::::::::::::::::::::::::::::::::::::::cms-message-->
    <div class="form-actions">
      <small class="form-text text-muted">{{ formInfo.formAlert }} </small>
      <small class="form-text text-muted danger">{{ formInfo.formError }}
      </small>
    </div>
    <!--end:::::::::::::::::::::::::::::::::::::::::cms-message-->
  </div>
  <div class="ntk-cms-html-card-footer">
    <!--begin:::::::::::::::::::::::::::::::::::::::::cms-footer-->
    <div class="form-actions" *ngIf="formInfo.formSubmitAllow  && !loading.display">
      <button type="button" (click)="onFormCancel()" class="btn btn-light">
        <i class="ft-x"></i> {{'ACTION.CANCEL' | translate}}
      </button>
      <button type="submit" (click)="onFormSubmit()" class="btn btn-success" [disabled]="!vform.form.valid">
        <i class="fa fa-check-square-o"></i> {{'ACTION.SAVE' | translate}}
      </button>
    </div>
    <!--end:::::::::::::::::::::::::::::::::::::::::cms-footer-->
  </div>
</form>