<h2 mat-dialog-title>{{ formInfo.FormTitle }}</h2>
<mat-dialog-content>
  <form (ngSubmit)="onFormSubmit()" #vform="ngForm" class="form form-horizontal">
    <app-progress-spinner [options]="loading"> </app-progress-spinner>
    <div *ngIf="!loading.display" class="form-body">
      <!-- RecordStatus Field -->
      <mat-form-field class="example-full-width">
        <mat-select placeholder="{{fieldsInfo['RecordStatus']?.FieldTitle}}" [(ngModel)]="dataModel.RecordStatus" name="dataModel.RecordStatus"
          #RecordStatus="ngModel" panelClass="recordStatus-{{ dataModel.RecordStatus }}" required>
          <mat-option *ngFor="
                let item of dataModelEnumRecordStatusResult.ListItems;
                index as i
              " [value]="item.Value">{{ item.Description }}</mat-option>
        </mat-select>
        <mat-hint align="end">{{'TITLE.SELECT_STATUS' | translate}}</mat-hint>
        <mat-error *ngIf="RecordStatus.errors?.required">
          RecordStatus is <strong>required</strong>
        </mat-error>
      </mat-form-field>
       <!-- EnumCmsModuleSaleItemType Field -->
       <mat-form-field class="example-full-width">
        <mat-select placeholder="وضعیت" [(ngModel)]="dataModel.EnumCmsModuleSaleItemType" name="dataModel.EnumCmsModuleSaleItemType"
          #EnumCmsModuleSaleItemType="ngModel" panelClass="EnumCmsModuleSaleItemType-{{ dataModel.EnumCmsModuleSaleItemType }}" required>
          <mat-option *ngFor="
                let item of dataModelEnumCmsModuleSaleItemTypeResult.ListItems;
                index as i
              " [value]="item.Value">{{ item.Description }}</mat-option>
        </mat-select>
        <mat-hint align="end">{{'TITLE.SELECT_STATUS' | translate}}</mat-hint>
        <mat-error *ngIf="EnumCmsModuleSaleItemType.errors?.required">
          EnumCmsModuleSaleItemType is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <!-- LinkModuleId Field -->
      <app-cms-module-selector (optionSelect)="onActionSelectModule($event)"
        [optionSelectForce]="this.dataModel.LinkModuleId" [optionPlaceholder]="'ماژول'"
        [optionDisabled]="!fieldsInfo['LinkModuleId']?.AccessEditField">
      </app-cms-module-selector>
      <!-- LinkModuleSaleHeader Field -->
      <app-core-modulesaleheader-selector (optionSelect)="onActionSelectHeader($event)"
        [optionSelectForce]="this.dataModel.LinkModuleSaleHeader" [optionPlaceholder]="'دسته بندی'"
        [optionDisabled]="!fieldsInfo['LinkModuleSaleHeader']?.AccessEditField">
      </app-core-modulesaleheader-selector>

      <!-- MonthLength Field -->
      <mat-form-field class="example-full-width" *ngIf="fieldsInfo['MonthLength']?.AccessWatchField">
        <mat-label>{{ fieldsInfo['MonthLength']?.FieldTitle }}</mat-label>
        <input matInput [(ngModel)]="dataModel.MonthLength" [disabled]="!fieldsInfo['MonthLength']?.AccessAddField"
          name="dataModel.MonthLength" #MonthLength type="number" placeholder="0" required />
        <mat-icon matSuffix *ngIf="dataModel.MonthLength && fieldsInfo['MonthLength']?.AccessAddField" matSuffix
          mat-icon-button aria-label="Clear" (click)="dataModel.MonthLength = null">close</mat-icon>
        <mat-icon *ngIf="fieldsInfo['MonthLength']?.AccessAddField" matSuffix>mode_edit</mat-icon>
        <mat-error *ngIf="MonthLength.errors?.required">
          {{ fieldsInfo['MonthLength']?.FieldTitle }} is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <!-- ExpireDate Field -->
      <mat-form-field class="example-full-width" *ngIf="fieldsInfo['ExpireDate']?.AccessWatchField">
        <mat-label>{{fieldsInfo['ExpireDate']?.FieldTitle}}</mat-label>
        <input matInput [matDatepicker]="ExpireDate" [(ngModel)]="dataModel.ExpireDate" name="dataModel.ExpireDate" />
        <mat-icon matSuffix *ngIf="dataModel.ExpireDate && fieldsInfo['ExpireDate']?.AccessAddField" matSuffix
          mat-icon-button aria-label="Clear" (click)="dataModel.ExpireDate = null">close</mat-icon>
        <mat-datepicker-toggle matSuffix [for]="ExpireDate"></mat-datepicker-toggle>
        <mat-datepicker touchUi #ExpireDate></mat-datepicker>
      </mat-form-field>
      <!-- Description Field -->
      <mat-form-field class="example-full-width">
        <mat-label>{{fieldsInfo['Description']?.FieldTitle}}</mat-label>
        <textarea matInput [(ngModel)]="dataModel.Description" name="dataModel.Description" #Description type="text"
          placeholder="{{fieldsInfo['Description']?.FieldTitle}}" minlength="1" maxlength="500" rows=5></textarea>
        <mat-icon matSuffix *ngIf="dataModel.Description" matSuffix mat-icon-button aria-label="Clear"
          (click)="dataModel.Description = ''">close</mat-icon>
        <mat-icon matSuffix>mode_edit</mat-icon>
        <mat-hint align="end">{{ Description.value.length }} / 500</mat-hint>
        <mat-error *ngIf="Description.errors?.required">
          Description is <strong>required</strong>
        </mat-error>
      </mat-form-field>
       <!-- ModuleSiteAccessJsonValue Field -->
      <mat-form-field class="example-full-width">
        <mat-label>{{fieldsInfo['ModuleSiteAccessJsonValue']?.FieldTitle}}</mat-label>
        <textarea matInput [(ngModel)]="dataModel.ModuleSiteAccessJsonValue" name="dataModel.ModuleSiteAccessJsonValue" #ModuleSiteAccessJsonValue type="text"
          placeholder="Json" minlength="0" maxlength="1000"  rows=5></textarea>
        <mat-icon matSuffix *ngIf="dataModel.ModuleSiteAccessJsonValue" matSuffix mat-icon-button aria-label="Clear"
          (click)="dataModel.ModuleSiteAccessJsonValue = ''">close</mat-icon>
        <mat-icon matSuffix>mode_edit</mat-icon>
        <mat-hint align="end">{{ ModuleSiteAccessJsonValue.value.length }} / 1000</mat-hint>
      </mat-form-field>
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <div class="form-actions">
    <small class="form-text text-muted">{{ formInfo.FormAlert }} </small>
    <small class="form-text text-muted danger">{{ formInfo.FormError }}
    </small>
  </div>
  <div class="form-actions" *ngIf="formInfo.FormSubmitAllow">
    <button type="button" (click)="onFormCancel()" class="btn btn-raised btn-warning mr-1">
      <i class="ft-x"></i> {{'ACTION.CANCEL' | translate}}
    </button>
    <button type="submit" (click)="onFormSubmit()" class="btn btn-raised btn-primary" [disabled]="!vform.form.valid">
      <i class="fa fa-check-square-o"></i> {{'ACTION.SAVE' | translate}}
    </button>
  </div>
</mat-dialog-actions>
