<form (ngSubmit)="onFormSubmit()" #vform="ngForm">
  <div class="ntk-cms-html-card-header">
    <!--begin:::::::::::::::::::::::::::::::::::::::::cms-header-->
    {{ formInfo.formTitle }}
    <!--end:::::::::::::::::::::::::::::::::::::::::cms-header-->
  </div>
  <div class="ntk-cms-html-card-body">
    <app-progress-spinner [options]="loading"> </app-progress-spinner>
    <!--begin:::::::::::::::::::::::::::::::::::::::::cms-body-->
    <!-- RecordStatus Field -->
    <mat-form-field class="ntk-full-width">
      <mat-select placeholder="{{fieldsInfo['recordStatus']?.fieldTitle}}" [(ngModel)]="dataModel.recordStatus"
        name="dataModel.recordStatus" #RecordStatus="ngModel" panelClass="recordStatus-{{ dataModel.recordStatus }}"
        required>
        <mat-option *ngFor="
                  let item of dataModelEnumRecordStatusResult.listItems;
                  index as i
                " [value]="item.value">{{ item.description }}</mat-option>
      </mat-select>
      <mat-hint align="end">{{'TITLE.SELECT_STATUS' | translate}}</mat-hint>
      <mat-error *ngIf="RecordStatus.errors?.required">
        RecordStatus is <strong>{{'MESSAGE.required' | translate}}</strong>
      </mat-error>
    </mat-form-field>
    <!-- LinkTargetPeriodId Field -->
    <app-donate-target-category-selector (optionChange)="onActionSelectorSelect($event)" [(loading)]="loading"
      [optionSelectForce]="dataModel.linkTargetPeriodId" [optionPlaceholder]="this.translate.instant('TITLE.Category')">
    </app-donate-target-category-selector>
    <!-- LinkSponsorId Field -->
    <mat-form-field class="ntk-full-width">
      <mat-label>{{fieldsInfo['linkSponsorId']?.fieldTitle}}</mat-label>
      <input matInput [matDatepicker]="LinkSponsorId" [(ngModel)]="dataModel.linkSponsorId"
        name="dataModel.linkSponsorId" />
      <mat-icon matSuffix *ngIf="dataModel.linkSponsorId && fieldsInfo['linkSponsorId']?.accessEditField" matSuffix
        mat-icon-button aria-label="Clear" (click)="dataModel.linkSponsorId = null">close</mat-icon>
      <mat-datepicker-toggle matSuffix [for]="LinkSponsorId"></mat-datepicker-toggle>
      <mat-datepicker touchUi #LinkSponsorId></mat-datepicker>
    </mat-form-field>
    <!-- payment Field -->
    <mat-form-field class="ntk-full-width">
      <mat-label>{{fieldsInfo['payment']?.fieldTitle}}</mat-label>
      <input matInput [matDatepicker]="payment" [(ngModel)]="dataModel.payment" name="dataModel.payment" />
      <mat-icon matSuffix *ngIf="dataModel.payment && fieldsInfo['payment']?.payment" matSuffix mat-icon-button
        aria-label="Clear" (click)="dataModel.payment = null">close</mat-icon>
      <mat-datepicker-toggle matSuffix [for]="payment"></mat-datepicker-toggle>
      <mat-datepicker touchUi #payment></mat-datepicker>
    </mat-form-field>
    <!--end:::::::::::::::::::::::::::::::::::::::::cms-body-->
  </div>
  <div class="ntk-cms-html-card-message">
    <!--begin:::::::::::::::::::::::::::::::::::::::::cms-message-->
    <div class="form-actions">
      <small class="form-text text-muted">{{ formInfo.formAlert }} </small>
      <small class="form-text text-muted danger">{{ formInfo.formError }}
      </small>
    </div>
    <!--end:::::::::::::::::::::::::::::::::::::::::cms-message-->
  </div>
  <div class="ntk-cms-html-card-footer">
    <!--begin:::::::::::::::::::::::::::::::::::::::::cms-footer-->
    <div class="form-actions" *ngIf="formInfo.formSubmitAllow  && !loading.display">
      <button type="button" (click)="onFormCancel()" class="btn btn-light">
        <i class="ft-x"></i> {{'ACTION.CANCEL' | translate}}
      </button>
      <button type="submit" (click)="onFormSubmit()" class="btn btn-success" [disabled]="!vform.form.valid">
        <i class="fa fa-check-square-o"></i> {{'ACTION.SAVE' | translate}}
      </button>
    </div>
    <!--end:::::::::::::::::::::::::::::::::::::::::cms-footer-->
  </div>
</form>