<form (ngSubmit)="onFormSubmit()" #vform="ngForm">
  <div class="ntk-cms-html-card-header">
    <!--begin:::::::::::::::::::::::::::::::::::::::::cms-header-->
      {{ formInfo.formTitle }}
    <!--end:::::::::::::::::::::::::::::::::::::::::cms-header-->
  </div>
  <div class="ntk-cms-html-card-body">
    <app-progress-spinner [options]="loading"> </app-progress-spinner>
    <!--begin:::::::::::::::::::::::::::::::::::::::::cms-body-->
    <!-- RecordStatus Field -->
    <mat-form-field class="ntk-full-width">
      <mat-select placeholder="{{fieldsInfo['recordStatus']?.fieldTitle}}" [(ngModel)]="dataModel.recordStatus"
        name="dataModel.recordStatus" #RecordStatus="ngModel" panelClass="recordStatus-{{ dataModel.recordStatus }}"
        required>
        <mat-option *ngFor="
                  let item of dataModelEnumRecordStatusResult.listItems;
                  index as i
                " [value]="item.value">{{ item.description }}</mat-option>
      </mat-select>
      <mat-hint align="end">{{'TITLE.SELECT_STATUS' | translate}}</mat-hint>
      <mat-error *ngIf="RecordStatus.errors?.required">
        RecordStatus is <strong>{{'MESSAGE.required' | translate}}</strong>
      </mat-error>
    </mat-form-field>
    <!-- Title Field -->
    <mat-form-field class="ntk-full-width">
      <mat-label>{{fieldsInfo['title']?.fieldTitle}}</mat-label>
      <input matInput [(ngModel)]="dataModel.title" name="dataModel.title" #Title type="text"
        placeholder="{{fieldsInfo['title']?.fieldTitle}}" minlength="3" maxlength="100" required
        [disabled]="!fieldsInfo['title']?.accessEditField" />
      <mat-icon matSuffix *ngIf="dataModel.title" matSuffix mat-icon-button aria-label="Clear"
        (click)="dataModel.title = ''">close</mat-icon>
      <mat-icon matSuffix>mode_edit</mat-icon>
      <mat-hint align="end">{{ Title.value.length }} / 100</mat-hint>
      <mat-error *ngIf="Title.errors?.required">
        {{fieldsInfo['title']?.fieldTitle}} is <strong>{{'MESSAGE.required' | translate}}</strong>
      </mat-error>
    </mat-form-field>
    <!-- TitleResourceLanguage Field -->
    <mat-form-field class="ntk-full-width" *ngIf="fieldsInfo['titleResourceLanguage']?.accessWatchField">
      <mat-label> {{fieldsInfo['titleResourceLanguage']?.fieldTitle}}</mat-label>
      <input matInput [(ngModel)]="dataModel.titleResourceLanguage" name="dataModel.titleResourceLanguage"
        #TitleResourceLanguage type="text" [disabled]="!fieldsInfo['titleResourceLanguage']?.accessEditField"
        placeholder="{{fieldsInfo['titleResourceLanguage']?.fieldTitle}}" minlength="3" maxlength="100" required />
      <mat-icon matSuffix *ngIf="dataModel.titleResourceLanguage" matSuffix mat-icon-button aria-label="Clear"
        (click)="dataModel.titleResourceLanguage = ''">close</mat-icon>
      <mat-icon matSuffix>mode_edit</mat-icon>
      <mat-hint align="end">{{ TitleResourceLanguage.value.length }} / 100</mat-hint>
      <mat-error *ngIf="TitleResourceLanguage.errors?.required">
        TitleResourceLanguage is <strong>{{'MESSAGE.required' | translate}}</strong>
      </mat-error>
    </mat-form-field>
    <!-- Folder Field -->
    <mat-form-field class="ntk-full-width">
      <mat-label>{{fieldsInfo['folder']?.fieldTitle}}</mat-label>
      <input matInput [(ngModel)]="dataModel.folder" name="dataModel.folder" #Folder type="text" placeholder="{{'TITLE.branch_path' | translate}}"
        minlength="3" maxlength="100" required [disabled]="!fieldsInfo['folder']?.accessEditField" />
      <mat-icon matSuffix *ngIf="dataModel.folder" matSuffix mat-icon-button aria-label="Clear"
        (click)="dataModel.folder = ''">close</mat-icon>
      <mat-icon matSuffix>mode_edit</mat-icon>
      <mat-hint align="end">{{ Folder.value.length }} / 100</mat-hint>
      <mat-error *ngIf="Folder.errors?.required">
        {{fieldsInfo['folder']?.fieldTitle}} is <strong>{{'MESSAGE.required' | translate}}</strong>
      </mat-error>
    </mat-form-field>
    <!-- IndexFile Field -->
    <mat-form-field class="ntk-full-width">
      <mat-label>{{fieldsInfo['indexFile']?.fieldTitle}}</mat-label>
      <input matInput [(ngModel)]="dataModel.indexFile" name="dataModel.indexFile" #IndexFile type="text"
        placeholder="index.html" minlength="3" maxlength="100" required
        [disabled]="!fieldsInfo['indexFile']?.accessEditField" />
      <mat-icon matSuffix *ngIf="dataModel.indexFile" matSuffix mat-icon-button aria-label="Clear"
        (click)="dataModel.indexFile = ''">close</mat-icon>
      <mat-icon matSuffix>mode_edit</mat-icon>
      <mat-hint align="end">{{ IndexFile.value.length }} / 100</mat-hint>
      <mat-error *ngIf="IndexFile.errors?.required">
        {{fieldsInfo['indexFile']?.fieldTitle}} is <strong>{{'MESSAGE.required' | translate}}</strong>
      </mat-error>
    </mat-form-field>
    <!-- IsPublish Field -->
    <div class="ntk-full-width">
      <mat-slide-toggle [(ngModel)]="dataModel.isPublish" *ngIf="fieldsInfo['isPublish']?.accessWatchField"
        [disabled]="!fieldsInfo['isPublish']?.accessEditField" name="dataModel.isPublish">
        {{fieldsInfo['isPublish']?.fieldTitle}}
      </mat-slide-toggle>
    </div>
    <!-- Description Field -->
    <mat-form-field class="ntk-full-width">
      <mat-label>{{fieldsInfo['description']?.fieldTitle}}</mat-label>
      <textarea matInput [(ngModel)]="dataModel.description" name="dataModel.description" #Description type="text"
        placeholder="{{fieldsInfo['description']?.fieldTitle}}" minlength="1" maxlength="500" rows=5></textarea>
      <mat-icon matSuffix *ngIf="dataModel.description" matSuffix mat-icon-button aria-label="Clear"
        (click)="dataModel.description = ''">close</mat-icon>
      <mat-icon matSuffix>mode_edit</mat-icon>
      <mat-hint align="end">{{ Description.value.length }} / 500</mat-hint>
      <mat-error *ngIf="Description.errors?.required">
        Description is <strong>{{'MESSAGE.required' | translate}}</strong>
      </mat-error>
    </mat-form-field>
   {{'TITLE.It_should_be_used_on_sites_with_the_following_categories' | translate}}
    <br>
    <app-cms-sitecategory-selectionlist [optionSelectForce]="dataCoreSiteCategoryIds" [optionDisabled]="false"
      (optionChange)="onActionSelectorUserCategorySelect($event)"
      (optionSelectAdded)="onActionSelectorUserCategorySelectAdded($event)"
      (optionSelectRemoved)="onActionSelectorUserCategorySelectRemoved($event)">
    </app-cms-sitecategory-selectionlist>
    <!--end:::::::::::::::::::::::::::::::::::::::::cms-body-->
  </div>
  <div class="ntk-cms-html-card-message">
    <!--begin:::::::::::::::::::::::::::::::::::::::::cms-message-->
    <div class="form-actions">
      <small class="form-text text-muted">{{ formInfo.formAlert }} </small>
      <small class="form-text text-muted danger">{{ formInfo.formError }}
      </small>
    </div>
    <!--end:::::::::::::::::::::::::::::::::::::::::cms-message-->
  </div>
  <div class="ntk-cms-html-card-footer">
    <!--begin:::::::::::::::::::::::::::::::::::::::::cms-footer-->
    <div class="form-actions" *ngIf="formInfo.formSubmitAllow  && !loading.display">
      <button type="button" (click)="onFormCancel()" class="btn btn-light">
        <i class="ft-x"></i> {{'ACTION.CANCEL' | translate}}
      </button>
      <button type="submit" (click)="onFormSubmit()" class="btn btn-success" [disabled]="!vform.form.valid">
        <i class="fa fa-check-square-o"></i> {{'ACTION.SAVE' | translate}}
      </button>
    </div>
    <!--end:::::::::::::::::::::::::::::::::::::::::cms-footer-->
  </div>
</form>