<form (ngSubmit)="onFormSubmit()" #vform="ngForm">
  <div class="ntk-cms-html-card-header">
    <!--begin:::::::::::::::::::::::::::::::::::::::::cms-header-->
    {{ formInfo.formTitle }}
    <!--end:::::::::::::::::::::::::::::::::::::::::cms-header-->
  </div>
  <div class="ntk-cms-html-card-body">
    <app-progress-spinner [options]="loading"> </app-progress-spinner>
    <!--begin:::::::::::::::::::::::::::::::::::::::::cms-body-->
    <app-api-telegram-bot-config-selector (optionChange)="onActionSelectorSelect($event)"
      [optionSelectForce]="dataModel.botId" [(loading)]="loading" [optionPlaceholder]="this.translate.instant('TITLE.Telegram_Bot')">
    </app-api-telegram-bot-config-selector>
    <!-- Title Field -->
    <mat-form-field class="ntk-full-width">
      <mat-label>{{'TITLE.title' | translate}}</mat-label>
      <input matInput [(ngModel)]="dataModel.title" name="dataModel.title" #title type="text" placeholder="{{'TITLE.Message_Title' | translate}}"
        minlength="3" maxlength="100" required />
      <mat-icon matSuffix *ngIf="dataModel.title" matSuffix mat-icon-button aria-label="Clear"
        (click)="dataModel.title = ''">close</mat-icon>
      <mat-icon matSuffix>mode_edit</mat-icon>
      <mat-hint align="end">{{ title.value.length }} / 100</mat-hint>
      <mat-error *ngIf="title.errors?.required">
        Title is <strong>{{'MESSAGE.required' | translate}}</strong>
      </mat-error>
    </mat-form-field>

    <!-- text Field -->
    <mat-form-field class="ntk-full-width">
      <mat-label>{{'TITLE.Message_Text' | translate}}</mat-label>
      <textarea matInput [(ngModel)]="dataModel.text" name="dataModel.text" #text type="text" placeholder="{{'MESSAGE.Message_Text' | translate}}"
        row="10" required></textarea>
      <mat-icon matSuffix *ngIf="dataModel.text" matSuffix mat-icon-button aria-label="Clear"
        (click)="dataModel.text = ''">close</mat-icon>
      <mat-icon matSuffix>mode_edit</mat-icon>
      <mat-hint align="end">{{ text.value.length }} / 1000</mat-hint>
      <mat-error *ngIf="text.errors?.required">
        text is <strong>{{'MESSAGE.required' | translate}}</strong>
      </mat-error>
    </mat-form-field>

    <!-- chatId Field -->
    <mat-form-field class="ntk-full-width">
      <mat-label>{{'TITLE.Receivers' | translate}}</mat-label>
      <textarea matInput [(ngModel)]="compModel.ChatIds" name="compModel.ChatIds"   #ChatIds type="text" placeholder="{{'TITLE.Chat_ID' | translate}}"
        row="10" required></textarea>
      <mat-icon matSuffix *ngIf="compModel.ChatIds" matSuffix mat-icon-button aria-label="Clear"
        (click)="compModel.ChatIds = ''">close</mat-icon>
      <mat-icon matSuffix>mode_edit</mat-icon>
      <mat-hint align="end">{{ ChatIds.value.length }} / 1000</mat-hint>
      <mat-error *ngIf="ChatIds.errors?.required">
        ChatIds is <strong>{{'MESSAGE.required' | translate}}</strong>
      </mat-error>
    </mat-form-field> 



    <!--end:::::::::::::::::::::::::::::::::::::::::cms-body-->
  </div>
  <div class="ntk-cms-html-card-message">
    <!--begin:::::::::::::::::::::::::::::::::::::::::cms-message-->
    <div class="form-actions">
      <small class="form-text text-muted">{{ formInfo.formAlert }} </small>
      <small class="form-text text-muted danger">{{ formInfo.formError }}
      </small>
    </div>
    <!--end:::::::::::::::::::::::::::::::::::::::::cms-message-->
  </div>
  <div class="ntk-cms-html-card-footer">
    <!--begin:::::::::::::::::::::::::::::::::::::::::cms-footer-->

    <div class="form-actions" *ngIf="formInfo.formSubmitAllow  && !loading.display">
      <button type="button" (click)="onFormCancel()" class="btn btn-light">
        <i class="ft-x"></i> {{'ACTION.CANCEL' | translate}}
      </button>
      <button type="submit" (click)="onFormSubmit()" class="btn btn-success" [disabled]="!vform.form.valid">
        <i class="fa fa-check-square-o"></i> {{'ACTION.SEND_MESSAGE' | translate}}
      </button>
    </div>
    <!--end:::::::::::::::::::::::::::::::::::::::::cms-footer-->
  </div>
</form>