<form (ngSubmit)="onFormSubmit()" #vform="ngForm">
  <div class="ntk-cms-html-card-header">
    <!--begin:::::::::::::::::::::::::::::::::::::::::cms-header-->
    {{ formInfo.formTitle }}
    <!--end:::::::::::::::::::::::::::::::::::::::::cms-header-->
  </div>
  <div class="ntk-cms-html-card-body">
    <app-progress-spinner [options]="loading"> </app-progress-spinner>
    <!--begin:::::::::::::::::::::::::::::::::::::::::cms-body-->
    <!-- RecordStatus Field -->
    <mat-form-field class="ntk-full-width">
      <mat-select placeholder="{{fieldsInfo['recordStatus']?.fieldTitle}}" [(ngModel)]="dataModel.recordStatus"
        name="dataModel.recordStatus" #RecordStatus="ngModel" panelClass="recordStatus-{{ dataModel.recordStatus }}"
        required>
        <mat-option *ngFor="
                let item of dataModelEnumRecordStatusResult.listItems;
                index as i
              " [value]="item.value">{{ item.description }}</mat-option>
      </mat-select>
      <mat-hint align="end">{{'TITLE.SELECT_STATUS' | translate}}</mat-hint>
      <mat-error *ngIf="RecordStatus.errors?.required">
        RecordStatus is <strong>{{'MESSAGE.required' | translate}}</strong>
      </mat-error>
    </mat-form-field>
    <!-- LocationType Field -->
    <mat-form-field class="ntk-full-width">
      <mat-select placeholder="{{'TITLE.Area_Type' | translate}}" [(ngModel)]="dataModel.locationType" name="dataModel.locationType"
        #LocationType="ngModel" panelClass="LocationType-{{ dataModel.locationType }}">
        <mat-option *ngFor="
                let item of dataModelEnumLocationTypeResult.listItems;
                index as i
              " [value]="item.value">{{ item.description }}</mat-option>
      </mat-select>
      <mat-hint align="end">{{'TITLE.Select_type_of_content' | translate}}</mat-hint>
      <mat-error *ngIf="LocationType.errors?.required">
        LocationType is <strong>{{'MESSAGE.required' | translate}}</strong>
      </mat-error>
    </mat-form-field>

    <!-- LinkParentId Field -->
    <app-core-location-selector (optionChange)="onActionParentSelect($event)" [(loading)]="loading" [optionDisabled]="false"
      [optionSelectForce]="dataModel.linkParentId" [optionPlaceholder]="this.translate.instant('TITLE.Parent_Area')">
    </app-core-location-selector>
    <!-- Title Field -->
    <mat-form-field class="ntk-full-width">
      <mat-label>{{fieldsInfo['title']?.fieldTitle}}</mat-label>
      <input matInput [(ngModel)]="dataModel.title" name="dataModel.title" #Title type="text"
        placeholder="{{fieldsInfo['title']?.fieldTitle}}" minlength="3" maxlength="100" required />
      <mat-icon matSuffix *ngIf="dataModel.title" matSuffix mat-icon-button aria-label="Clear"
        (click)="dataModel.title = ''">close</mat-icon>
      <mat-icon matSuffix>mode_edit</mat-icon>
      <mat-hint align="end">{{ Title.value.length }} / 100</mat-hint>
      <mat-error *ngIf="Title.errors?.required">
        Title is <strong>{{'MESSAGE.required' | translate}}</strong>
      </mat-error>
    </mat-form-field>
    <!-- TitleML Field -->
    <mat-form-field class="ntk-full-width">
      <mat-label> {{'TITLE.TitleML' | translate}}</mat-label>
      <input matInput [(ngModel)]="dataModel.titleML" name="dataModel.titleML" type="text" [disabled]="true" />
    </mat-form-field>
    <!-- TitleResourceLanguage Field -->
    <mat-form-field class="ntk-full-width">
      <mat-label>{{fieldsInfo['titleResourceLanguage']?.fieldTitle}}</mat-label>
      <input matInput [(ngModel)]="dataModel.titleResourceLanguage" name="dataModel.titleResourceLanguage"
        #TitleResourceLanguage type="text" placeholder="{{fieldsInfo['title']?.fieldTitle}}" minlength="3"
        maxlength="100" required [disabled]="!fieldsInfo['titleResourceLanguage']?.accessEditField" />
      <mat-icon matSuffix *ngIf="dataModel.titleResourceLanguage" matSuffix mat-icon-button aria-label="Clear"
        (click)="dataModel.titleResourceLanguage = ''">close</mat-icon>
      <mat-icon matSuffix>mode_edit</mat-icon>
      <mat-hint align="end">{{ TitleResourceLanguage.value.length }} / 100</mat-hint>
      <mat-error *ngIf="TitleResourceLanguage.errors?.required">
        {{fieldsInfo['titleResourceLanguage']?.fieldTitle}} is <strong>{{'MESSAGE.required' | translate}}</strong>
      </mat-error>
    </mat-form-field>
    <!-- GeoLocationLatitude Field -->
    <mat-form-field class="ntk-full-width">
      <mat-label>Geo Location Latitude</mat-label>
      <input matInput [(ngModel)]="dataModel.geoLocationLatitude" name="dataModel.geoLocationLatitude"
        #GeoLocationLatitude type="number" placeholder="Geo Location Latitude" />
      <mat-icon matSuffix *ngIf="dataModel.geoLocationLatitude" matSuffix mat-icon-button aria-label="Clear"
        (click)="dataModel.geoLocationLatitude = ''">close</mat-icon>
      <mat-icon matSuffix>mode_edit</mat-icon>
    </mat-form-field>
    <!-- GeoLocationLongitude Field -->
    <mat-form-field class="ntk-full-width">
      <mat-label>Geo Location Longitude</mat-label>
      <input matInput [(ngModel)]="dataModel.geoLocationLongitude" name="dataModel.geoLocationLongitude"
        #GeoLocationLongitude type="number" placeholder="Geo Location Latitude" />
      <mat-icon matSuffix *ngIf="dataModel.geoLocationLongitude" matSuffix mat-icon-button aria-label="Clear"
        (click)="dataModel.geoLocationLongitude = ''">close</mat-icon>
      <mat-icon matSuffix>mode_edit</mat-icon>
    </mat-form-field>

    <mat-form-field class="ntk-full-width">
      <img *ngIf="dataModel?.linkImageIdSrc?.length>0" style="vertical-align:middle;" class="ntk-hover-zoom" aria-hidden
        src="{{dataModel.linkImageIdSrc | cmsthumbnail}}" height="50" width="50" />
      <mat-label (click)="fileManagerOpenForm = true">{{'TITLE.PHOTO_FILE' | translate}}</mat-label>
      <input matInput [(ngModel)]="dataModel.linkImageId" name="dataModel.linkImageId" #LinkImageId type="text"
        placeholder="{{'TITLE.Icon_File_ID' | translate}}" (click)="fileManagerOpenForm = true" />
      <mat-icon matSuffix *ngIf="dataModel.linkImageId" matSuffix mat-icon-button aria-label="Clear"
        (click)="dataModel.linkImageId = null">close</mat-icon>
      <mat-icon matSuffix (click)="fileManagerOpenForm = true">mode_edit</mat-icon>
    </mat-form-field>

    <cms-file-manager (itemSelected)="onActionFileSelected($event)" [language]="appLanguage"
      [selectFileType]="selectFileTypeMainImage" [isPopup]="true" [(openForm)]="fileManagerOpenForm"
      [openDirectUploadView]="true" [tree]="fileManagerTree" [openFilemanagerButtonLabelKey]="'select'"
      [openFilemanagerButtonView]="false">
    </cms-file-manager>
    <!--end:::::::::::::::::::::::::::::::::::::::::cms-body-->
  </div>
  <div class="ntk-cms-html-card-message">
    <!--begin:::::::::::::::::::::::::::::::::::::::::cms-message-->
    <div class="form-actions">
      <small class="form-text text-muted">{{ formInfo.formAlert }} </small>
      <small class="form-text text-muted danger">{{ formInfo.formError }}
      </small>
    </div>
    <!--end:::::::::::::::::::::::::::::::::::::::::cms-message-->
  </div>
  <div class="ntk-cms-html-card-footer">
    <!--begin:::::::::::::::::::::::::::::::::::::::::cms-footer-->

    <div class="form-actions" *ngIf="formInfo.formSubmitAllow  && !loading.display">
      <button type="button" (click)="onFormCancel()" class="btn btn-light">
        <i class="ft-x"></i> {{'ACTION.CANCEL' | translate}}
      </button>
      <button type="submit" (click)="onFormSubmit()" class="btn btn-success" [disabled]="!vform.form.valid">
        <i class="fa fa-check-square-o"></i> {{'ACTION.SAVE' | translate}}
      </button>
    </div>
    <!--end:::::::::::::::::::::::::::::::::::::::::cms-footer-->
  </div>
</form>