<app-cms-html-notice [svg]="'assets/media/svg/icons/Design/Edit.svg'">
 <h4> {{'TITLE.Edit' | translate}}</h4>
  در این بخش شما میتوانید محتوای خود را ویرایش نمایید.
  <br>
</app-cms-html-notice>

<form (ngSubmit)="onFormSubmit()" #vform="ngForm">
  <div class="ntk-cms-html-card-header">
    <!--begin:::::::::::::::::::::::::::::::::::::::::cms-header-->
      {{ formInfo.FormTitle }}
    <!--end:::::::::::::::::::::::::::::::::::::::::cms-header-->
  </div>
  <div class="ntk-cms-html-card-body">
    <app-progress-spinner [options]="loading"> </app-progress-spinner>
    <!--begin:::::::::::::::::::::::::::::::::::::::::cms-body-->
    <mat-horizontal-stepper (selectionChange)="onStepClick($event,stepper)" #stepper>

      <mat-step label="{{'TITLE.REQUIRED_INFORMATION' | translate}}" state="main">
         <!-- RecordStatus Field -->
        <mat-form-field class="ntk-full-width" *ngIf="fieldsInfo['RecordStatus']?.AccessWatchField">
          <mat-label>{{fieldsInfo['RecordStatus']?.FieldTitle}}</mat-label>
          <mat-select placeholder="{{fieldsInfo['RecordStatus']?.FieldTitle}}"
           [disabled]="!fieldsInfo['RecordStatus']?.AccessEditField"  [(ngModel)]="dataModel.RecordStatus"
            name="dataModel.RecordStatus" #RecordStatus="ngModel" panelClass="recordStatus-{{ dataModel.RecordStatus }}"
            required>
            <mat-option *ngFor="
                let item of dataModelEnumRecordStatusResult.ListItems;
                index as i
              " [value]="item.Value">{{ item.Description }}</mat-option>
          </mat-select>
          <mat-hint align="start" ><mat-icon matSuffix class="info-field-icon">info</mat-icon>
            <strong class="info-field-text">{{fieldsInfo['RecordStatus']?.FieldDescription}}</strong> </mat-hint>
          <mat-hint align="end">{{'TITLE.SELECT_STATUS' | translate}}</mat-hint>
          <mat-error *ngIf="RecordStatus.errors?.required">
            {{fieldsInfo['RecordStatus']?.FieldTitle}} <strong>{{'MESSAGE.required' | translate}}</strong>
          </mat-error>
        </mat-form-field>
        <!-- LinkCategoryId Field -->
        <app-news-category-selector (optionChange)="onActionSelectorSelect($event)"
          [optionSelectForce]="dataModel.LinkCategoryId" [optionPlaceholder]="'دسته بندی'">
        </app-news-category-selector>
         <!-- Title Field -->
        <mat-form-field class="ntk-full-width" *ngIf="fieldsInfo['Title']?.AccessWatchField">
          <mat-label>{{fieldsInfo['Title']?.FieldTitle}}</mat-label>
          <input matInput [(ngModel)]="dataModel.Title" name="dataModel.Title" #Title type="text"
          disabled="{{!fieldsInfo['Title']?.AccessEditField}}" 
            placeholder="{{fieldsInfo['Title']?.FieldTitle}}" minlength="3" maxlength="100" required />
          <mat-icon matSuffix *ngIf="dataModel.Title" matSuffix mat-icon-button aria-label="Clear"
            (click)="dataModel.Title = ''">close</mat-icon>
          <mat-icon matSuffix>mode_edit</mat-icon>
          <mat-hint align="start" ><mat-icon matSuffix class="info-field-icon">info</mat-icon>
            <strong class="info-field-text">{{fieldsInfo['Title']?.FieldDescription}}</strong> </mat-hint>
          <mat-hint align="end">{{ Title.value.length }} / 100</mat-hint>
          <mat-error *ngIf="Title.errors?.required">
            {{fieldsInfo['Title']?.FieldTitle}} <strong>{{'MESSAGE.required' | translate}}</strong>
          </mat-error>
        </mat-form-field>
        <!-- Description Field -->
        <mat-form-field class="ntk-full-width" *ngIf="fieldsInfo['Description']?.AccessWatchField">
          <mat-label>{{fieldsInfo['Description']?.FieldTitle}}</mat-label>
          <textarea matInput [(ngModel)]="dataModel.Description" name="dataModel.Description" #Description type="text"
          disabled="{{!fieldsInfo['Description']?.AccessEditField}}" 
            placeholder="{{fieldsInfo['Description']?.FieldTitle}}" minlength="1" maxlength="500" rows="5"></textarea>
          <mat-icon matSuffix *ngIf="dataModel.Description" matSuffix mat-icon-button aria-label="Clear"
            (click)="dataModel.Description = ''">close</mat-icon>
          <mat-icon matSuffix>mode_edit</mat-icon>
          <mat-hint align="start" ><mat-icon matSuffix class="info-field-icon">info</mat-icon>
            <strong class="info-field-text">{{fieldsInfo['Description']?.FieldDescription}}</strong> </mat-hint>
          <mat-hint align="end">{{ Description.value.length }} / 500</mat-hint>
          <mat-error *ngIf="Description.errors?.required">
            {{fieldsInfo['Description']?.FieldTitle}} <strong>{{'MESSAGE.required' | translate}}</strong>
          </mat-error>
        </mat-form-field>
        <!-- FromDate Field -->
        <mat-form-field class="ntk-full-width" *ngIf="fieldsInfo['FromDate']?.AccessWatchField">
          <mat-label>{{fieldsInfo['FromDate']?.FieldTitle}}</mat-label>
          <input matInput [matDatepicker]="FromDate" [(ngModel)]="dataModel.FromDate" name="dataModel.FromDate" 
          disabled="{{!fieldsInfo['FromDate']?.AccessEditField}}" 
            placeholder="{{fieldsInfo['FromDate']?.FieldTitle}}"/>
          <mat-icon matSuffix *ngIf="dataModel.FromDate && fieldsInfo['FromDate']?.AccessEditField" matSuffix
            mat-icon-button aria-label="Clear" (click)="dataModel.FromDate = null">close</mat-icon>
          <mat-datepicker-toggle matSuffix [for]="FromDate"></mat-datepicker-toggle>
          <mat-datepicker touchUi #FromDate></mat-datepicker>
          <mat-hint align="start" ><mat-icon matSuffix class="info-field-icon">info</mat-icon>
            <strong class="info-field-text">{{fieldsInfo['FromDate']?.FieldDescription}}</strong> </mat-hint>
        </mat-form-field>

        <!-- ExpireDate Field -->
        <mat-form-field class="ntk-full-width" *ngIf="fieldsInfo['ExpireDate']?.AccessWatchField">
          <mat-label>{{fieldsInfo['ExpireDate']?.FieldTitle}}</mat-label>
          <input matInput [matDatepicker]="ExpireDate" [(ngModel)]="dataModel.ExpireDate" name="dataModel.ExpireDate"
          disabled="{{!fieldsInfo['ExpireDate']?.AccessEditField}}" 
            placeholder="{{fieldsInfo['ExpireDate']?.FieldTitle}}"/>
          <mat-icon matSuffix *ngIf="dataModel.ExpireDate && fieldsInfo['ExpireDate']?.AccessEditField" matSuffix
            mat-icon-button aria-label="Clear" (click)="dataModel.ExpireDate = null">close</mat-icon>
          <mat-datepicker-toggle matSuffix [for]="ExpireDate"></mat-datepicker-toggle>
          <mat-datepicker touchUi #ExpireDate></mat-datepicker>
          <mat-hint align="start" ><mat-icon matSuffix class="info-field-icon">info</mat-icon>
            <strong class="info-field-text">{{fieldsInfo['ExpireDate']?.FieldDescription}}</strong> </mat-hint>
        </mat-form-field>
        <hr class="pb-5" />
        <!-- editorConfig Field -->
        <angular-editor [placeholder]="'متن را وارد کنید ...'" [config]="publicHelper.editorConfig" id="main"
          [(ngModel)]="dataModel.Body" name="dataModel.Body"></angular-editor>

        <div *ngIf="formInfo.FormSubmitAllow" class="ntk-button-row">
          <button type="button" mat-raised-button (click)="onActionBackToParent()">
            {{'ACTION.BACK' | translate}}
          </button>
          <button type="button" mat-raised-button color="primary" [disabled]="!vform.form.valid" matStepperNext>
            {{'ACTION.NEXT' | translate}}
          </button>
          <button type="button" mat-raised-button color="success" [disabled]="!vform.form.valid" matStepperNext>
            {{'ACTION.SAVE' | translate}}
          </button>
        </div>
      </mat-step>

      <mat-step label="{{'TITLE.Categories' | translate}}" state="seo">
        <app-news-category-treeselector [(optionModel)]="dataContentCategoryModel"
          (optionSelectChecked)="onActionCategorySelectChecked($event)"
          (optionSelectDisChecked)="onActionCategorySelectDisChecked($event)"></app-news-category-treeselector>
        <br>
        <div *ngIf="formInfo.FormSubmitAllow" class="ntk-button-row">
          <button type="button" mat-raised-button color="accent" matStepperPrevious>
            {{'ACTION.BEFOR' | translate}}
          </button>
          <button type="button" mat-raised-button color="primary" [disabled]="!vform.form.valid" matStepperNext>
            {{'ACTION.NEXT' | translate}}
          </button>
        </div>
      </mat-step>

      <mat-step label="{{'TITLE.Search_Engines' | translate}}" state="seo">
        <p>این بخش کمک می کند موتورهای سرچ بهتر مطالب را ایندکس کنند</p>
         <!-- Source Field -->
        <mat-form-field class="ntk-full-width" *ngIf="fieldsInfo['Source']?.AccessWatchField">
          <mat-label>{{fieldsInfo['Source']?.FieldTitle}}</mat-label>
          <input matInput [(ngModel)]="dataModel.Source" name="dataModel.Source" #Source type="text" dir="ltr"
            style="text-align: left;" placeholder="لینک وب سایت مرجع محتوا"
            disabled="{{!fieldsInfo['Source']?.AccessEditField}}"  minlength="3" maxlength="500" />
          <mat-icon matSuffix *ngIf="dataModel.Source" matSuffix mat-icon-button aria-label="Clear"
            (click)="dataModel.Source = ''">close</mat-icon>
          <mat-icon matSuffix>mode_edit</mat-icon>
          <mat-hint align="start" ><mat-icon matSuffix class="info-field-icon">info</mat-icon>
            <strong class="info-field-text">{{fieldsInfo['Source']?.FieldDescription}}</strong> </mat-hint>
          <mat-hint align="end">{{ Source.value.length }} / 500</mat-hint>

        </mat-form-field>


        <app-cms-tag-autocomplete (optionChange)="onActionTagChange($event)" [optionSelectForce]="tagIdsData"
          [optionPlaceholder]="' + Tag '"></app-cms-tag-autocomplete>



        <tag-input [(ngModel)]="keywordDataModel" name="keywordDataModel" [placeholder]="'+ کلمه کلیدی'"
          [secondaryPlaceholder]="'انتخاب کلمات کلیدی نسبت به مطلب'" [identifyBy]="'display'">

        </tag-input>
        <div *ngIf="formInfo.FormSubmitAllow" class="ntk-button-row">
          <button type="button" mat-raised-button color="accent" matStepperPrevious>
            {{'ACTION.BEFOR' | translate}}
          </button>
          <button type="button" mat-raised-button color="primary" [disabled]="!vform.form.valid" matStepperNext>
            {{'ACTION.NEXT' | translate}}
          </button>
        </div>
      </mat-step>
      <mat-step label="{{'TITLE.ATTACH_FILES' | translate}}" state="file">
        <p>فایل های پیوست محتوا.</p>
        <div class="mb-3">
          <img *ngIf="dataModel?.LinkMainImageIdSrc?.length>0" style="vertical-align:middle;" class="ntk-hover-zoom" aria-hidden
            src="{{dataModel.LinkMainImageIdSrc | cmsthumbnail}}" height="50" width="50" />
        </div>
        <div class="mb-9">
          <mat-form-field class="ntk-full-width">

            <mat-label (click)="fileManagerOpenForm = true">عکس اصلی</mat-label>
            <input matInput [(ngModel)]="dataModel.LinkMainImageId" name="dataModel.LinkMainImageId" #LinkMainImageId
              type="text" placeholder="شناسه فایل اصلی" autocomplete="off" (click)="fileManagerOpenForm = true" />
            <mat-icon matSuffix *ngIf="dataModel.LinkMainImageId" matSuffix mat-icon-button aria-label="Clear"
              (click)="dataModel.LinkMainImageId = null">close</mat-icon>
            <mat-icon matSuffix (click)="fileManagerOpenForm = true">mode_edit</mat-icon>
          </mat-form-field>

          <cms-file-manager (itemSelected)="onActionFileSelectedLinkMainImageId($event)" [language]="appLanguage"
            [isPopup]="true" [(openForm)]="fileManagerOpenForm" [tree]="fileManagerTree" [openDirectUploadView]="true"
            [openFilemanagerButtonLabelKey]="'select'" [selectFileType]="selectFileTypeMainImage"
            [openFilemanagerButtonView]="false"></cms-file-manager>
        </div>
        <div class="mb-3">
          <audio *ngIf="dataModel?.LinkFilePodcastIdSrc?.length>0" controls>
            <source src="{{dataModel.LinkFilePodcastIdSrc | cmsthumbnail}}" type="audio/mp3">
            Your browser does not support the audio tag.
          </audio>
        </div>
        <div class="mb-9">
          <mat-form-field class="ntk-full-width">
            <input matInput [(ngModel)]="dataModel.LinkFilePodcastId" name="dataModel.LinkFilePodcastId"
              #LinkFilePodcastId type="text" placeholder="شناسه فایل صوتی"
              (click)="fileManagerOpenFormPodcast = true" />
            <mat-icon matSuffix *ngIf="dataModel.LinkFilePodcastId" matSuffix mat-icon-button aria-label="Clear"
              (click)="dataModel.LinkFilePodcastId = null">close</mat-icon>
            <mat-icon matSuffix (click)="fileManagerOpenFormPodcast = true">mode_edit</mat-icon>
          </mat-form-field>

          <cms-file-manager (itemSelected)="onActionFileSelectedLinkFilePodcastId($event)" [language]="appLanguage"
            [isPopup]="true" [(openForm)]="fileManagerOpenFormPodcast" [tree]="fileManagerTree"
            [openDirectUploadView]="true" [openFilemanagerButtonLabelKey]="'select'"
            [selectFileType]="selectFileTypePodcast" [openFilemanagerButtonView]="false"></cms-file-manager>
        </div>
        <div class="mb-3">
          <video *ngIf="dataModel?.LinkFileMovieIdSrc?.length>0" controls>
            <source src="{{dataModel.LinkFileMovieIdSrc }}" type="video/mp4">
            Your browser does not support the video tag.
          </video>
        </div>
        <div class="mb-9">
          <mat-form-field class="ntk-full-width">
            <input matInput [(ngModel)]="dataModel.LinkFileMovieId" name="dataModel.LinkFileMovieId" #LinkFileMovieId
              type="text" placeholder="شناسه فایل ویدیو" (click)="fileManagerOpenFormMovie = true" />
            <mat-icon matSuffix *ngIf="dataModel.LinkFileMovieId" matSuffix mat-icon-button aria-label="Clear"
              (click)="dataModel.LinkFileMovieId = null">close</mat-icon>
            <mat-icon matSuffix (click)="fileManagerOpenFormMovie = true">mode_edit</mat-icon>
          </mat-form-field>

          <cms-file-manager (itemSelected)="onActionFileSelectedLinkFileMovieId($event)" [language]="appLanguage"
            [isPopup]="true" [(openForm)]="fileManagerOpenFormMovie" [tree]="fileManagerTree"
            [openDirectUploadView]="true" [openFilemanagerButtonLabelKey]="'select'"
            [selectFileType]="selectFileTypeMovie" [openFilemanagerButtonView]="false"></cms-file-manager>
        </div>
        <div *ngIf="formInfo.FormSubmitAllow" class="ntk-button-row">
          <button type="button" mat-raised-button color="accent" matStepperPrevious>
            {{'ACTION.BEFOR' | translate}}
          </button>
          <button type="button" mat-raised-button color="primary" [disabled]="!vform.form.valid" matStepperNext>
            {{'ACTION.NEXT' | translate}}
          </button>
        </div>
      </mat-step>
      <mat-step label="{{'TITLE.OTHER_INFO' | translate}}" state="otherinfo">
        <p>سایر اطلاعات در رابطه با این محتوا در این قسمت اضافه کنید</p>

        <mat-form-field class="ntk-full-width">
          <mat-label>{{fieldsInfo['Title']?.FieldTitle}}</mat-label>
          <input matInput [(ngModel)]="contentOtherInfoSelected.Title" name="contentOtherInfoSelected.Title"
            #contentOtherInfoSelected_Title type="text" placeholder="{{fieldsInfo['Title']?.FieldTitle}}" minlength="3"
            maxlength="100" />
          <mat-icon matSuffix *ngIf="contentOtherInfoSelected.Title" matSuffix mat-icon-button aria-label="Clear"
            (click)="contentOtherInfoSelected.Title = ''">close</mat-icon>
          <mat-icon matSuffix>mode_edit</mat-icon>
          <mat-hint align="end">{{ contentOtherInfoSelected_Title.value.length }} / 100</mat-hint>
        </mat-form-field>

        <mat-form-field class="ntk-full-width">
          <mat-label>کلید</mat-label>
          <input matInput [(ngModel)]="contentOtherInfoSelected.TypeId" name="contentOtherInfoSelected.TypeId"
            #contentOtherInfoSelected_TypeId type="number" placeholder="عددی توافقی برای نمایش" />
          <mat-icon matSuffix *ngIf="contentOtherInfoSelected.TypeId" matSuffix mat-icon-button aria-label="Clear"
            (click)="contentOtherInfoSelected.TypeId = null">close</mat-icon>
          <mat-icon matSuffix>mode_edit</mat-icon>

        </mat-form-field>
        <mat-form-field class="ntk-full-width">
          <mat-label>منبع</mat-label>
          <input matInput [(ngModel)]="contentOtherInfoSelected.Source" name="contentOtherInfoSelected.Source"
            #contentOtherInfoSelected_Source type="text" dir="ltr" style="text-align: left;" placeholder="http://"
            maxlength="100" />
          <mat-icon matSuffix *ngIf="contentOtherInfoSelected.Source" matSuffix mat-icon-button aria-label="Clear"
            (click)="contentOtherInfoSelected.Source = ''">close</mat-icon>
          <mat-icon matSuffix>mode_edit</mat-icon>
          <mat-hint align="end">{{ contentOtherInfoSelected_Source.value.length }} / 500</mat-hint>
        </mat-form-field>

        <angular-editor [placeholder]="'متن را وارد کنید ...'" [config]="publicHelper.editorConfig" id="OtherInfo"
          [(ngModel)]="contentOtherInfoSelected.HtmlBody" name="contentOtherInfoSelected.HtmlBody"></angular-editor>

        <button (click)="onActionContentOtherInfoAddToLIst()" type="button" mat-button
          class="btn btn-light-primary font-weight-bold font-size-h5 px-9 py-4" style="margin: 10px 0px;">
          {{'ACTION.Add_To_List' | translate}}
        </button>
        <p>لیست سایر اطلاعات</p>
        <!-- TABLE  -->
        <div class="example-container mat-elevation-z8">
          <mat-table [dataSource]="otherInfoTabledataSource">
            <!-- Id Column -->
            <ng-container matColumnDef="Id">
              <mat-header-cell *matHeaderCellDef> شناسه </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.Id}} </mat-cell>
            </ng-container>
            <!-- Title Column -->
            <ng-container matColumnDef="Title">
              <mat-header-cell *matHeaderCellDef> عنوان </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.Title}} </mat-cell>
            </ng-container>
            <!-- TypeId Column -->
            <ng-container matColumnDef="TypeId">
              <mat-header-cell *matHeaderCellDef> نوع </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.TypeId}} </mat-cell>
            </ng-container>
            <!-- Action Column -->
            <ng-container matColumnDef="Action">
              <mat-header-cell *matHeaderCellDef> {{'TITLE.OPTION' | translate}} </mat-header-cell>
              <mat-cell *matCellDef="let row; let i = index" class='Action'>
                <small (click)="onActionContentOtherInfoEditFromLIst(i)"><mat-icon aria-hidden="false" style="color: blue;" >edit</mat-icon>{{'ACTION.EDIT' | translate}}</small>|
                <small (click)="onActionContentOtherInfoRemoveFromLIst(i)"><mat-icon aria-hidden="false" style="color: red;" >delete</mat-icon>{{'ACTION.DELETE' | translate}}</small>
              </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="otherInfoTabledisplayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: otherInfoTabledisplayedColumns;"
              [ngStyle]="{'background': row.Title === contentOtherInfoSelected.Title ? '#d3d3da' : '' }">
            </mat-row>
          </mat-table>
        </div>
        <!-- TABLE  -->


        <div *ngIf="formInfo.FormSubmitAllow" class="ntk-button-row">
          <button type="button" mat-raised-button color="accent" matStepperPrevious>
            {{'ACTION.BEFOR' | translate}}
          </button>
          <button type="button" mat-raised-button color="primary" [disabled]="!vform.form.valid" matStepperNext>
            {{'ACTION.NEXT' | translate}}
          </button>
        </div>
      </mat-step>
      <mat-step label="{{'TITLE.Location' | translate}} " state="info">
        <p>مطالب مرتبط را مشخص کنید</p>
        <app-news-content-selector (optionChange)="onActionContentSimilarSelect($event)"
          [optionPlaceholder]="'محتوای مشابه'">


          <button *ngIf="contentSimilarSelected && contentSimilarSelected.Id"
            (click)="onActionContentSimilarAddToLIst()" type="button" mat-button
            class="btn btn-light-primary font-weight-bold text-uppercase px-9 py-4">
            {{'ACTION.Add_To_List' | translate}}
          </button>
        </app-news-content-selector>


        <!-- TABLE  -->
        <div class="example-container mat-elevation-z8">
          <mat-table [dataSource]="similarTabledataSource">
            <!-- LinkMainImageIdSrc Column -->
            <ng-container matColumnDef="LinkMainImageIdSrc">
              <mat-header-cell *matHeaderCellDef> {{'TITLE.PICTURE' | translate}} </mat-header-cell>
              <mat-cell *matCellDef="let row">
                <img *ngIf="row?.LinkMainImageIdSrc?.length>0" style="vertical-align:middle;" class="ntk-hover-zoom" aria-hidden
                  src="{{row.LinkMainImageIdSrc | cmsthumbnail}}" height="40" width="40" />
              </mat-cell>
            </ng-container>
            <!-- Id Column -->
            <ng-container matColumnDef="Id">
              <mat-header-cell *matHeaderCellDef> شناسه </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.Id}} </mat-cell>
            </ng-container>
            <!-- LinkSiteId Column -->
            <ng-container matColumnDef="LinkSiteId">
              <mat-header-cell *matHeaderCellDef> شناسه سایت </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.LinkSiteId}} </mat-cell>
            </ng-container>
            <!-- RecordStatus Column -->
            <ng-container matColumnDef="RecordStatus">
              <mat-header-cell *matHeaderCellDef> وضعیت </mat-header-cell>
              <mat-cell *matCellDef="let row"> <i [ngClass]="row.RecordStatus|statusClass"></i> </mat-cell>
            </ng-container>
            <!-- Title Column -->
            <ng-container matColumnDef="Title">
              <mat-header-cell *matHeaderCellDef> عنوان </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.Title}} </mat-cell>
            </ng-container>

            <!-- Action Column -->
            <ng-container matColumnDef="Action">
              <mat-header-cell *matHeaderCellDef> {{'TITLE.OPTION' | translate}} </mat-header-cell>
              <mat-cell *matCellDef="let row; let i = index" class='Action'>
                <small (click)="onActionContentSimilarRemoveFromLIst(row)"><mat-icon aria-hidden="false" style="color: red;" >delete</mat-icon>{{'ACTION.DELETE' | translate}}</small>
              </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="similarTabledisplayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: similarTabledisplayedColumns;"
              [ngStyle]="{'background': row.Id === contentSimilarSelected.Id ? '#d3d3da' : '' }">
            </mat-row>
          </mat-table>
        </div>
        <!-- TABLE  -->

        <div *ngIf="formInfo.FormSubmitAllow" class="ntk-button-row">
          <button type="button" mat-raised-button color="accent" matStepperPrevious>
            {{'ACTION.BEFOR' | translate}}
          </button>
          <button type="button" mat-raised-button color="primary" [disabled]="!vform.form.valid" matStepperNext>
            {{'ACTION.NEXT' | translate}}
          </button>
        </div>
      </mat-step>
      <mat-step label="{{'TITLE.Similar_Content' | translate}} " state="loaction">
        <p>روی نقشه کلیک کنید تا موقیت مکانی مشخص گردد</p>
        <app-cms-map (map$)="receiveMap($event)" (zoom$)="receiveZoom($event)" [optonCenter]="mapOptonCenter"
          id='main-map'></app-cms-map>
        <div *ngIf="formInfo.FormSubmitAllow" class="ntk-button-row">
          <button type="button" mat-raised-button (click)="onActionBackToParent()">
            {{'ACTION.BACK' | translate}}
          </button>
          <button type="button" mat-raised-button color="accent" matStepperPrevious>
            {{'ACTION.BEFOR' | translate}}
          </button>
          <button type="submit" mat-raised-button color="success" [disabled]="!vform.form.valid">
            {{'ACTION.SAVE' | translate}}
          </button>
        </div>
      </mat-step>

      <!-- Icon overrides. -->
      <ng-template matStepperIcon="main">
        <mat-icon>call_end</mat-icon>
      </ng-template>
      <ng-template matStepperIcon="seo">
        <mat-icon>call_end</mat-icon>
      </ng-template>
      <ng-template matStepperIcon="file">
        <mat-icon>forum</mat-icon>
      </ng-template>
      <ng-template matStepperIcon="loaction">
        <mat-icon>forum</mat-icon>
      </ng-template>

    </mat-horizontal-stepper>

    <!--end:::::::::::::::::::::::::::::::::::::::::cms-body-->
  </div>
  <div class="ntk-cms-html-card-message">
    <!--begin:::::::::::::::::::::::::::::::::::::::::cms-message-->

    <!--end:::::::::::::::::::::::::::::::::::::::::cms-message-->
  </div>
  <div class="ntk-cms-html-card-footer">
    <!--begin:::::::::::::::::::::::::::::::::::::::::cms-footer-->

    <!--end:::::::::::::::::::::::::::::::::::::::::cms-footer-->
  </div>
</form>