<form (ngSubmit)="onFormSubmit()" #vform="ngForm">
    <div class="ntk-cms-html-card-header">
      <!--begin:::::::::::::::::::::::::::::::::::::::::cms-header-->
        {{ formInfo.formTitle }}
      <!--end:::::::::::::::::::::::::::::::::::::::::cms-header-->
    </div>
    <div class="ntk-cms-html-card-body">
	<app-progress-spinner [options]="loading"> </app-progress-spinner>
      <!--begin:::::::::::::::::::::::::::::::::::::::::cms-body-->
      
      <!-- OldPassword Field -->
      <mat-form-field class="ntk-full-width" *ngIf="!tokenInfo.userAccessAdminAllowToProfessionalData">
        <mat-label>{{'TITLE.Old_password' | translate}}</mat-label>
        <input matInput [(ngModel)]="dataModel.oldPassword" name="dataModel.oldPassword" #OldPassword type="password" placeholder="{{'TITLE.Old_password' | translate}}"
          minlength="3" maxlength="100" required />
        <mat-icon matSuffix *ngIf="dataModel.oldPassword" matSuffix mat-icon-button aria-label="Clear"
          (click)="dataModel.oldPassword = ''">close</mat-icon>
        <mat-icon matSuffix>mode_edit</mat-icon>
        <mat-hint align="end">{{ OldPassword.value.length }} / 100</mat-hint>
        <mat-error *ngIf="OldPassword.errors?.required">
          OldPassword is <strong>{{'MESSAGE.required' | translate}}</strong>
        </mat-error>
      </mat-form-field>

      <!-- NewPassword Field -->
      <mat-form-field class="ntk-full-width">
        <mat-label>{{'TITLE.New_password' | translate}}</mat-label>
        <input matInput [(ngModel)]="dataModel.newPassword" name="dataModel.newPassword" #NewPassword type="password" placeholder="{{'TITLE.New_password' | translate}}"
          minlength="3" maxlength="100" required />
        <mat-icon matSuffix *ngIf="dataModel.newPassword" matSuffix mat-icon-button aria-label="Clear"
          (click)="dataModel.newPassword = ''">close</mat-icon>
        <mat-icon matSuffix>mode_edit</mat-icon>
        <mat-hint align="end">{{ NewPassword.value.length }} / 100</mat-hint>
        <mat-error *ngIf="NewPassword.errors?.required">
          New Password is <strong>{{'MESSAGE.required' | translate}}</strong>
        </mat-error>
      </mat-form-field>

      <app-password-strength
      [passwordToCheck]="dataModel.newPassword"
      (passwordStrength)="passwordValid($event)"
      ></app-password-strength>


      <!-- NewPasswordRepeat Field -->
       <mat-form-field class="ntk-full-width">
        <mat-label>{{'TITLE.Repeat_new_password' | translate}}</mat-label>
        <input matInput [(ngModel)]="NewPasswordRepeat" name="NewPasswordRepeat" #NewPasswordRepeat2 type="password" placeholder="{{'TITLE.Repeat_new_password' | translate}}"
          minlength="3" maxlength="100" required />
        <mat-icon matSuffix *ngIf="NewPasswordRepeat" matSuffix mat-icon-button aria-label="Clear"
          (click)="this.NewPasswordRepeat = ''">close</mat-icon>
        <mat-icon matSuffix>mode_edit</mat-icon>
        <mat-hint align="end">{{ NewPasswordRepeat2.value.length }} / 100</mat-hint>
        <mat-error *ngIf="NewPasswordRepeat2.errors?.required">
          Repeat New Password is <strong>{{'MESSAGE.required' | translate}}</strong>
        </mat-error>
      </mat-form-field>
      <!--end:::::::::::::::::::::::::::::::::::::::::cms-body-->
     </div>
	 <div class="ntk-cms-html-card-message">
      <!--begin:::::::::::::::::::::::::::::::::::::::::cms-message-->
      <div class="form-actions">
        <small class="form-text text-muted">{{ formInfo.formAlert }} </small>
        <small class="form-text text-muted danger">{{ formInfo.formError }}
        </small>
      </div>
      <!--end:::::::::::::::::::::::::::::::::::::::::cms-message-->
    </div>
    <div class="ntk-cms-html-card-footer">
      <!--begin:::::::::::::::::::::::::::::::::::::::::cms-footer-->
      <div class="form-actions" *ngIf="formInfo.formSubmitAllow  && !loading.display">
        <button type="button" (click)="onFormCancel()" class="btn btn-light">
          <i class="ft-x"></i> {{'ACTION.CANCEL' | translate}}
        </button>
        <button type="submit" (click)="onFormSubmit()" class="btn btn-success" [disabled]="!vform.form.valid ">
          <i class="fa fa-check-square-o"></i> {{'ACTION.SAVE' | translate}}
        </button>
      </div>
      <!--end:::::::::::::::::::::::::::::::::::::::::cms-footer-->
    </div>
</form>
