<h2 mat-dialog-title>{{ formInfo.FormTitle }}</h2>
<mat-dialog-content>
  <form (ngSubmit)="onFormSubmit()" #vform="ngForm" class="form form-horizontal">
    <app-progress-spinner [options]="loading"> </app-progress-spinner>
    <div *ngIf="!loading.display" class="form-body">


      <!-- OldPassword Field -->
      <mat-form-field class="example-full-width" *ngIf="!tokenInfo.UserAccessAdminAllowToProfessionalData">
        <mat-label>کلمه عبور قدیم</mat-label>
        <input matInput [(ngModel)]="dataModel.OldPassword" name="dataModel.OldPassword" #OldPassword type="password" placeholder="کلمه عبور قدیم"
          minlength="3" maxlength="100" required />
        <mat-icon matSuffix *ngIf="dataModel.OldPassword" matSuffix mat-icon-button aria-label="Clear"
          (click)="dataModel.OldPassword = ''">close</mat-icon>
        <mat-icon matSuffix>mode_edit</mat-icon>
        <mat-hint align="end">{{ OldPassword.value.length }} / 100</mat-hint>
        <mat-error *ngIf="OldPassword.errors?.required">
          OldPassword is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <!-- NewPassword Field -->
      <mat-form-field class="example-full-width">
        <mat-label>کلمه عبور جدید</mat-label>
        <input matInput [(ngModel)]="dataModel.NewPassword" name="dataModel.NewPassword" #NewPassword type="password" placeholder="کلمه عبور جدید"
          minlength="3" maxlength="100" required />
        <mat-icon matSuffix *ngIf="dataModel.NewPassword" matSuffix mat-icon-button aria-label="Clear"
          (click)="dataModel.NewPassword = ''">close</mat-icon>
        <mat-icon matSuffix>mode_edit</mat-icon>
        <mat-hint align="end">{{ NewPassword.value.length }} / 100</mat-hint>
        <mat-error *ngIf="NewPassword.errors?.required">
          New Password is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <app-password-strength
      [passwordToCheck]="dataModel.NewPassword"
      (passwordStrength)="passwordValid($event)"
      ></app-password-strength>


      <!-- NewPasswordRepeat Field -->
       <mat-form-field class="example-full-width">
        <mat-label>تکرار کلمه عبور جدید</mat-label>
        <input matInput [(ngModel)]="NewPasswordRepeat" name="NewPasswordRepeat" #NewPasswordRepeat2 type="password" placeholder="تکرار کلمه عبور جدید"
          minlength="3" maxlength="100" required />
        <mat-icon matSuffix *ngIf="NewPasswordRepeat" matSuffix mat-icon-button aria-label="Clear"
          (click)="this.NewPasswordRepeat = ''">close</mat-icon>
        <mat-icon matSuffix>mode_edit</mat-icon>
        <mat-hint align="end">{{ NewPasswordRepeat2.value.length }} / 100</mat-hint>
        <mat-error *ngIf="NewPasswordRepeat2.errors?.required">
          Repeat New Password is <strong>required</strong>
        </mat-error>
      </mat-form-field>


    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <div class="form-actions">
    <small class="form-text text-muted">{{ formInfo.FormAlert }} </small>
    <small class="form-text text-muted danger">{{ formInfo.FormError }}
    </small>
  </div>
  <div class="form-actions" *ngIf="formInfo.FormSubmitAllow">
    <button type="button" (click)="onFormCancel()" class="btn btn-raised btn-warning mr-1">
      <i class="ft-x"></i> {{'ACTION.CANCEL' | translate}}
    </button>
    <button type="submit" (click)="onFormSubmit()" class="btn btn-raised btn-primary" [disabled]="!vform.form.valid ">
      <i class="fa fa-check-square-o"></i> {{'ACTION.SAVE' | translate}}
    </button>
  </div>
</mat-dialog-actions>
