<form (ngSubmit)="onFormSubmit()" #vform="ngForm">
  <div class="ntk-cms-html-card-header">
    <!--begin:::::::::::::::::::::::::::::::::::::::::cms-header-->
    {{ formInfo.formTitle }}
    <!--end:::::::::::::::::::::::::::::::::::::::::cms-header-->
  </div>
  <div class="ntk-cms-html-card-body">
    <app-progress-spinner [options]="loading"> </app-progress-spinner>
    <!--begin:::::::::::::::::::::::::::::::::::::::::cms-body-->
    <!-- LinkPageTemplateGuId Field -->
    <app-webdesigner-pagetemplate-selector (optionChange)="onActionSelectModule($event)" [(loading)]="loading"
      [optionSelectForce]="this.dataModel.linkPageTemplateGuId"
      [optionPlaceholder]="this.translate.instant('TITLE.Select_the_template')" [optionDisabled]="false">
    </app-webdesigner-pagetemplate-selector>
    <!-- LinkPageParentGuId Field -->
    <app-webdesigner-page-selector (optionChange)="onActionSelectParent($event)" [(loading)]="loading"
      *ngIf="dataModel.linkPageTemplateGuId && dataModel.linkPageTemplateGuId.length>0" [optionMasterPage]="true"
      [optionMasterTemplateId]="dataModel.linkPageTemplateGuId"
      [optionPlaceholder]="this.translate.instant('TITLE.parent_page')" [optionDisabled]="false">
    </app-webdesigner-page-selector>
    <!-- PageDependencyIsDefaultPage Field -->
    <div class="ntk-full-width">
      <mat-slide-toggle [(ngModel)]="dataModel.pageDependencyIsDefaultPage"
        name="dataModel.pageDependencyIsDefaultPage">
        {{fieldsInfo['pageDependencyIsDefaultPage']?.fieldTitle}}
      </mat-slide-toggle>
    </div>
    <!--end:::::::::::::::::::::::::::::::::::::::::cms-body-->
  </div>
  <div class="ntk-cms-html-card-message">
    <!--begin:::::::::::::::::::::::::::::::::::::::::cms-message-->
    <div class="form-actions">
      <small class="form-text text-muted">{{ formInfo.formAlert }} </small>
      <small class="form-text text-muted danger">{{ formInfo.formError }}
      </small>
    </div>
    <!--end:::::::::::::::::::::::::::::::::::::::::cms-message-->
  </div>
  <div class="ntk-cms-html-card-footer">
    <!--begin:::::::::::::::::::::::::::::::::::::::::cms-footer-->
    <div class="form-actions" *ngIf="formInfo.formSubmitAllow  && !loading.display">
      <button type="button" (click)="onFormCancel()" class="btn btn-light">
        <i class="ft-x"></i> {{'ACTION.CANCEL' | translate}}
      </button>
      <button type="submit" (click)="onFormSubmit()" class="btn btn-success" [disabled]="!vform.form.valid">
        <i class="fa fa-check-square-o"></i> {{'ACTION.SAVE' | translate}}
      </button>
    </div>
    <!--end:::::::::::::::::::::::::::::::::::::::::cms-footer-->
  </div>
</form>