<div class="row">
  <div *ngIf="requestPareintId.length===0" class="col-xl-3">
    <app-hypershop-category-tree (optionSelect)="onActionSelectorSelect($event)"></app-hypershop-category-tree>
  </div>
  <div [ngClass]="(requestPareintId.length===0)?'col-xl-9':'col-xl-12'">
    <div class="button-row">
      <button *ngIf="dataModelResult.Access.AccessEditRow && (tableRowSelected?.Code?.length>0 || requestPareintId.length>0)" (click)="onActionbuttonViewRow()"
        type="button" class="btn btn-info ml-2" data-toggle="modal" data-target="#categoryModal">{{'ACTION.VIEW' | translate}}</button>

      <button *ngIf="dataModelResult.Access.AccessAddRow " (click)="onActionbuttonNewRow()" type="button"
        class="btn btn-primary" id="openModalButton" data-toggle="modal" data-target="#categoryModal">{{'ACTION.ADD' | translate}}</button>
      <button
        *ngIf="dataModelResult.Access.AccessEditRow && (tableRowSelected?.Code?.length>0 || requestPareintId.length>0)"
        (click)="onActionbuttonEditRow()" type="button" class="btn btn-warning ml-2" data-toggle="modal"
        data-target="#categoryModal">{{'ACTION.EDIT' | translate}}</button>
      <button
        *ngIf="dataModelResult.Access.AccessDeleteRow && (tableRowSelected?.Code?.length>0 || requestPareintId.length>0)"
        (click)="onActionbuttonDeleteRow()" type="button" class="btn btn-danger  ml-2">{{'ACTION.DELETE' | translate}}</button>

      <a class="btn btn-secondary btn-sm BTN">
        <mat-slide-toggle [(ngModel)]="optionsSearch.data.show">{{'ACTION.SEARCH' | translate}}</mat-slide-toggle>
      </a>

      <a class="btn btn-success btn-sm BTN">
        <mat-slide-toggle (click)="onActionbuttonStatist()">{{'ACTION.STATIST' | translate}}
        </mat-slide-toggle>
      </a>
      <a class="btn btn-info btn-sm BTN">
        <mat-slide-toggle (click)="onActionbuttonExport()">{{'ACTION.EXPORTFILE' | translate}}
        </mat-slide-toggle>
      </a>
      <button (click)="onActionbuttonReload()" type="button" class="btn btn-warning BTN">{{'ACTION.RELOAD' | translate}}</button>
      <button (click)="onActionBackToParent()" *ngIf="requestPareintId.length>0" type="button"
        class="btn btn-warning BTN">{{'ACTION.BACK' | translate}}</button>
      <app-cms-search-list [(options)]="optionsSearch"></app-cms-search-list>
      <app-cms-export-list [(options)]="optionsExport"></app-cms-export-list>
      <app-cms-statist-list [(options)]="optionsStatist"></app-cms-statist-list>

    </div>

    <app-progress-spinner [options]="loading">
    </app-progress-spinner>

    <div class="example-container mat-elevation-z8">
      <mat-table [dataSource]="tableSource" matSort #tableSort="matSort" (matSortChange)="onTableSortData(tableSort)">
        <!-- Image Column -->
        <ng-container matColumnDef="Image">
          <mat-header-cell *matHeaderCellDef mat-sort-header> {{'TITLE.PICTURE' | translate}} </mat-header-cell>
          <mat-cell *matCellDef="let row">
            <img *ngIf="row?.Image?.length>0" style="vertical-align:middle;" aria-hidden src="{{row.Image}}" height="40"
              width="40" />

          </mat-cell>
        </ng-container>
        <!-- Code Column -->
        <ng-container matColumnDef="Code">
          <mat-header-cell *matHeaderCellDef mat-sort-header> {{fieldsInfo['Code']?.FieldTitle}} </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.Code}} </mat-cell>
        </ng-container>
        <!-- Category Column -->
        <ng-container matColumnDef="Category">
          <mat-header-cell *matHeaderCellDef mat-sort-header> {{fieldsInfo['Category']?.FieldTitle}}
          </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.Category}} </mat-cell>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="Name">
          <mat-header-cell *matHeaderCellDef mat-sort-header> {{fieldsInfo['Name']?.FieldTitle}} </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.Name}} </mat-cell>
        </ng-container>


        <!-- Status Column -->
        <ng-container matColumnDef="Status">
          <mat-header-cell *matHeaderCellDef mat-sort-header> {{fieldsInfo['Status']?.FieldTitle}} </mat-header-cell>
          <mat-cell *matCellDef="let row"> <i [ngClass]="row.Status | boolclass"></i>
          </mat-cell>
        </ng-container>
        <!-- Price Column -->
        <ng-container matColumnDef="Price">
          <mat-header-cell *matHeaderCellDef mat-sort-header> {{fieldsInfo['Price']?.FieldTitle}} </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.Price}} </mat-cell>
        </ng-container>
        <!-- SalePrice Column -->
        <ng-container matColumnDef="SalePrice">
          <mat-header-cell *matHeaderCellDef mat-sort-header> {{fieldsInfo['SalePrice']?.FieldTitle}}  </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.SalePrice}} </mat-cell>
        </ng-container>
        <!-- Count Column -->
        <ng-container matColumnDef="Count">
          <mat-header-cell *matHeaderCellDef mat-sort-header> {{fieldsInfo['Count']?.FieldTitle}} </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.Count}} </mat-cell>
        </ng-container>
          <!-- Unit Column -->
        <ng-container matColumnDef="Unit">
          <mat-header-cell *matHeaderCellDef mat-sort-header> {{fieldsInfo['Unit']?.FieldTitle}}  </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.Unit}} </mat-cell>
        </ng-container>
        <!-- Discount Column -->
        <ng-container matColumnDef="Discount">
          <mat-header-cell *matHeaderCellDef mat-sort-header>  {{fieldsInfo['Discount']?.FieldTitle}}   </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.Discount}} </mat-cell>
        </ng-container>

        <!-- Action Column -->
        <ng-container matColumnDef="Action">
          <mat-header-cell *matHeaderCellDef> ... </mat-header-cell>
          <mat-cell *matCellDef="let row" class=' Action'>
            <!-- Action Menu -->

            <button mat-icon-button [matMenuTriggerFor]="actionMenu" aria-label="Action Menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #actionMenu="matMenu">
              <button mat-menu-item (click)="onActionbuttonViewRow(row)">
                <mat-icon>view</mat-icon>
                <span>{{'ACTION.VIEW' | translate}}</span>
              </button>
              <button mat-menu-item (click)="onActionbuttonEditRow(row)" *ngIf="dataModelResult.Access.AccessEditRow">
                <mat-icon>mode_edit</mat-icon>
                <span>{{'ACTION.EDIT' | translate}}</span>
              </button>
              <button mat-menu-item (click)="onActionbuttonDeleteRow(row)"
                *ngIf="dataModelResult.Access.AccessDeleteRow">
                <mat-icon>delete_forever</mat-icon>
                <span>{{'ACTION.DELETE' | translate}}</span>
              </button>
            </mat-menu>
          </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="tabledisplayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: tabledisplayedColumns;" (click)="onActionTableRowSelect(row)"
          [ngStyle]="{'background': row.Code === tableRowSelected.Code ? '#d3d3da' : '' }">
        </mat-row>
      </mat-table>

      <mat-paginator #paginator [length]="(dataModelResult.TotalRowCount)"
        [pageIndex]="(dataModelResult.CurrentPageNumber-1)" [pageSize]="dataModelResult.RowPerPage"
        [pageSizeOptions]="[5, 10, 20, 100]" (page)="onTablePageingData($event)"></mat-paginator>

    </div>

  </div>
</div>
