<app-progress-spinner [options]="loading" ></app-progress-spinner>
<div class="example-container mat-elevation-z8">
    <app-progress-spinner [options]="loading">
    </app-progress-spinner>
    <mat-table *ngIf="!loading.display" [dataSource]="tableSource">

        <!-- Warrning Column -->
        <ng-container matColumnDef="Warrning">
            <mat-header-cell *matHeaderCellDef > {{'Warrning' | translate}} </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.Warrning}} </mat-cell>
        </ng-container>
        <!-- Key Column -->
        <ng-container matColumnDef="Key">
            <mat-header-cell *matHeaderCellDef > {{'Key' | translate}} </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.Key}} </mat-cell>
        </ng-container>
        <!-- Title Column -->
        <ng-container matColumnDef="Title">
            <mat-header-cell *matHeaderCellDef > {{'TITLE' | translate}} </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.Title}} </mat-cell>
        </ng-container>
        <!-- Description Column -->
        <ng-container matColumnDef="Description">
            <mat-header-cell *matHeaderCellDef > {{'Description' | translate}} </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.Description}} </mat-cell>
        </ng-container>


        <mat-header-row *matHeaderRowDef="tabledisplayedColumns"></mat-header-row>

    </mat-table>



</div>