<form (ngSubmit)="onFormSubmit()" #vform="ngForm">
    <div class="ntk-cms-html-card-header">
      <!--begin:::::::::::::::::::::::::::::::::::::::::cms-header-->
        {{ formInfo.FormTitle }}
      <!--end:::::::::::::::::::::::::::::::::::::::::cms-header-->
    </div>
    <div class="ntk-cms-html-card-body">
	<app-progress-spinner [options]="loading"> </app-progress-spinner>
      <!--begin:::::::::::::::::::::::::::::::::::::::::cms-body-->
      <div *ngIf="!dataModelResultGotoBank">
        <!-- LinkPrivateSiteConfigId Field -->
        <!-- <app-sms-privatesiteconfig-selector (optionSelect)="onActionSelectPrivateSiteConfig($event)"
          [optionSelectForce]="dataModel.BankPaymentPrivateId" [optionPlaceholder]="' مسیر'">
        </app-sms-privatesiteconfig-selector> -->

       
      </div>
      <app-cms-json-list [dataModel]="dataModelResult.Item" [optionMethod]="1" *ngIf="dataModelResultGotoBank">
      </app-cms-json-list>

      <!--end:::::::::::::::::::::::::::::::::::::::::cms-body-->
    </div>
    <div class="ntk-cms-html-card-message">
      <!--begin:::::::::::::::::::::::::::::::::::::::::cms-message-->
      <div class="form-actions">
        <small class="form-text text-muted">{{ formInfo.FormAlert }} </small>
        <small class="form-text text-muted danger">{{ formInfo.FormError }}
        </small>
      </div>
      <!--end:::::::::::::::::::::::::::::::::::::::::cms-message-->
    </div>
    <div class="ntk-cms-html-card-footer">
      <!--begin:::::::::::::::::::::::::::::::::::::::::cms-footer-->

      <div class="form-actions" *ngIf="formInfo.FormSubmitAllow">
        <button type="button" (click)="onFormCancel()" class="btn btn-raised btn-warning mr-1">
          <i class="ft-x"></i> {{'ACTION.CANCEL' | translate}}
        </button>
        <button type="submit" (click)="onFormSubmit()" class="btn btn-raised btn-primary"
          *ngIf="!dataModelResultGotoBank" [disabled]="!vform.valid">
          <i class="fa fa-check-square-o"></i> پرداخت
        </button>
        <button type="button" (click)="onGotoBank()" class="btn btn-raised btn-info mr-1"
          *ngIf="dataModelResultGotoBank">
          <i class="ft-x"></i> انتقال به درگاه
        </button>
      </div>
      <!--end:::::::::::::::::::::::::::::::::::::::::cms-footer-->
    </div>
</form>