<h2 mat-dialog-title>{{ formInfo.FormTitle }}</h2>
<mat-dialog-content>
  <form (ngSubmit)="onFormSubmit()" #vform="ngForm" class="form form-horizontal">
    <app-progress-spinner [options]="loading"> </app-progress-spinner>
    <div *ngIf="!loading.display" class="form-body">
      <!-- RecordStatus Field -->
      <mat-form-field class="example-full-width">
        <mat-select placeholder="{{fieldsInfo['RecordStatus']?.FieldTitle}}" [(ngModel)]="dataModel.RecordStatus" name="dataModel.RecordStatus"
          #RecordStatus="ngModel" panelClass="recordStatus-{{ dataModel.RecordStatus }}" required>
          <mat-option *ngFor="
              let item of dataModelEnumRecordStatusResult.ListItems;
              index as i
            " [value]="item.Value">{{ item.Description }}</mat-option>
        </mat-select>
        <mat-hint align="end">{{'TITLE.SELECT_STATUS' | translate}}</mat-hint>
        <mat-error *ngIf="RecordStatus.errors?.required">
          RecordStatus is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <!-- LinkCategoryId Field -->
      <app-ticketing-departemen-selector (optionSelect)="onActionSelectorSelect($event)"
        [optionSelectForce]="dataModel.LinkTicketingDepartemenId" [optionPlaceholder]="'دپارتمان'">
      </app-ticketing-departemen-selector>
      <!-- Question Field -->
      <mat-form-field class="example-full-width">
        <mat-label>سوال</mat-label>
        <input matInput [(ngModel)]="dataModel.Question" name="dataModel.Question" #Question type="text"
          placeholder="سوال" minlength="3" maxlength="1000" required />
        <mat-icon matSuffix *ngIf="dataModel.Question" matSuffix mat-icon-button aria-label="Clear"
          (click)="dataModel.Question = ''">close</mat-icon>
        <mat-icon matSuffix>mode_edit</mat-icon>
        <mat-hint align="end">{{ Question.value.length }} / 1000</mat-hint>
        <mat-error *ngIf="Question.errors?.required">
          Question is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <!-- Answer Field -->
      <p> پاسخ </p>
      <angular-editor [placeholder]="'Enter text here...'" [config]="publicHelper.editorConfig" id="Answer"
        [(ngModel)]="dataModel.Answer" name="dataModel.Answer"></angular-editor>
      <br>

      <app-cms-files-selector [(dataFileModel)]="dataFileModel"></app-cms-files-selector>
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <div class="form-actions">
    <small class="form-text text-muted">{{ formInfo.FormAlert }} </small>
    <small class="form-text text-muted danger">{{ formInfo.FormError }}
    </small>
  </div>
  <div class="form-actions" *ngIf="formInfo.FormSubmitAllow">
    <button type="button" (click)="onFormCancel()" class="btn btn-raised btn-warning mr-1">
      <i class="ft-x"></i> {{'ACTION.CANCEL' | translate}}
    </button>
    <button type="submit" (click)="onFormSubmit()" class="btn btn-raised btn-primary" [disabled]="!vform.form.valid">
      <i class="fa fa-check-square-o"></i> {{'ACTION.SAVE' | translate}}
    </button>
  </div>
</mat-dialog-actions>
