<form (ngSubmit)="onFormSubmit()" #vform="ngForm">
  <div class="ntk-cms-html-card-header">
    <!--begin:::::::::::::::::::::::::::::::::::::::::cms-header-->
    {{ formInfo.formTitle }}
    <!--end:::::::::::::::::::::::::::::::::::::::::cms-header-->
  </div>
  <div class="ntk-cms-html-card-body">
    <app-progress-spinner [options]="loading"> </app-progress-spinner>
    <!--begin:::::::::::::::::::::::::::::::::::::::::cms-body-->
    <!-- RecordStatus Field -->
    <mat-form-field class="ntk-full-width">
      <mat-select placeholder="{{fieldsInfo['recordStatus']?.fieldTitle}}" [(ngModel)]="dataModel.recordStatus"
        name="dataModel.recordStatus" #RecordStatus="ngModel" panelClass="recordStatus-{{ dataModel.recordStatus }}"
        required>
        <mat-option *ngFor="
              let item of dataModelEnumRecordStatusResult.listItems;
              index as i
            " [value]="item.value">{{ item.description }}</mat-option>
      </mat-select>
      <mat-hint align="end">{{'TITLE.SELECT_STATUS' | translate}}</mat-hint>
      <mat-error *ngIf="RecordStatus.errors?.required">
        RecordStatus is <strong>{{'MESSAGE.required' | translate}}</strong>
      </mat-error>
    </mat-form-field>
    <!-- LinkCategoryId Field -->
    <app-ticketing-departemen-selector (optionChange)="onActionSelectorSelect($event)" [(loading)]="loading"
      [optionSelectForce]="dataModel.linkTicketingDepartemenId"
      [optionPlaceholder]="this.translate.instant('TITLE.Department')">
    </app-ticketing-departemen-selector>
    <!-- Question Field -->
    <mat-form-field class="ntk-full-width">
      <mat-label>{{'TITLE.Question' | translate}}</mat-label>
      <input matInput [(ngModel)]="dataModel.question" name="dataModel.question" #Question type="text"
        placeholder="{{'TITLE.Question' | translate}}" minlength="3" maxlength="1000" required />
      <mat-icon matSuffix *ngIf="dataModel.question" matSuffix mat-icon-button aria-label="Clear"
        (click)="dataModel.question = ''">close</mat-icon>
      <mat-icon matSuffix>mode_edit</mat-icon>
      <mat-hint align="end">{{ Question.value.length }} / 1000</mat-hint>
      <mat-error *ngIf="Question.errors?.required">
        Question is <strong>{{'MESSAGE.required' | translate}}</strong>
      </mat-error>
    </mat-form-field>

    <!-- Answer Field -->
    <p> {{'TITLE.Answer' | translate}} </p>
    <angular-editor [placeholder]="this.translate.instant('TITLE.Enter_Text')" [config]="publicHelper.editorConfig"
      id="Answer" [(ngModel)]="dataModel.answer" name="dataModel.answer"></angular-editor>
    <br>

    <app-cms-files-selector [(dataFileModel)]="dataFileModel" [openDirectUploadView]="true"></app-cms-files-selector>
    <!--end:::::::::::::::::::::::::::::::::::::::::cms-body-->
  </div>
  <div class="ntk-cms-html-card-message">
    <!--begin:::::::::::::::::::::::::::::::::::::::::cms-message-->
    <div class="form-actions">
      <small class="form-text text-muted">{{ formInfo.formAlert }} </small>
      <small class="form-text text-muted danger">{{ formInfo.formError }}
      </small>
    </div>
    <!--end:::::::::::::::::::::::::::::::::::::::::cms-message-->
  </div>
  <div class="ntk-cms-html-card-footer">
    <!--begin:::::::::::::::::::::::::::::::::::::::::cms-footer-->
    <div class="form-actions" *ngIf="formInfo.formSubmitAllow  && !loading.display">
      <button type="button" (click)="onFormCancel()" class="btn btn-light">
        <i class="ft-x"></i> {{'ACTION.CANCEL' | translate}}
      </button>
      <button type="submit" (click)="onFormSubmit()" class="btn btn-success" [disabled]="!vform.form.valid">
        <i class="fa fa-check-square-o"></i> {{'ACTION.SAVE' | translate}}
      </button>
    </div>
    <!--end:::::::::::::::::::::::::::::::::::::::::cms-footer-->
  </div>
</form>