<div class="example-container mat-elevation-z8">
  <app-progress-spinner [options]="loading">
  </app-progress-spinner>
  <mat-table *ngIf="!loading.display" [dataSource]="tableSource" matSort #tableSort="matSort"
    (matSortChange)="onTableSortData(tableSort)">


    <!-- virtual_CmsSiteCategory.title Column -->
    <ng-container matColumnDef="virtual_CmsSiteCategory.title">
      <mat-header-cell *matHeaderCellDef mat-sort-header> {{'TITLE.SITE_CATEGORY' | translate}} </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.virtual_CmsSiteCategory.title}} </mat-cell>
    </ng-container>
    <!-- virtual_CmsModule.title Column -->
    <ng-container matColumnDef="virtual_CmsModule.title">
      <mat-header-cell *matHeaderCellDef mat-sort-header> {{'TITLE.MODULE' | translate}} </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.virtual_CmsModule.title}} </mat-cell>
    </ng-container>
    <!-- virtual_CmsModule.Description Column -->
    <ng-container matColumnDef="virtual_CmsModule.Description">
      <mat-header-cell *matHeaderCellDef mat-sort-header> {{'TITLE.DESCRIPTION' | translate}} </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.virtual_CmsModule.Description}} </mat-cell>
    </ng-container>


    <mat-header-row *matHeaderRowDef="tabledisplayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: tabledisplayedColumns;" (click)="onActionTableRowSelect(row)"
      [ngStyle]="{'background': row.id === tableRowSelected.id ? '#d3d3da' : '' }">
    </mat-row>
  </mat-table>

  <mat-paginator #paginator [length]="(dataModelResult.totalRowCount)"
    [pageIndex]="(dataModelResult.currentPageNumber-1)" [pageSize]="dataModelResult.rowPerPage"
    [pageSizeOptions]="[5, 10, 20, 100]" (page)="onTablePageingData($event)"></mat-paginator>

</div>