<form (ngSubmit)="onFormSubmit()" #vform="ngForm">
  <div class="ntk-cms-html-card-header">
    <!--begin:::::::::::::::::::::::::::::::::::::::::cms-header-->
    {{ formInfo.formTitle }}
    <!--end:::::::::::::::::::::::::::::::::::::::::cms-header-->
  </div>
  <div class="ntk-cms-html-card-body">
    <app-progress-spinner [options]="loading"> </app-progress-spinner>
    <!--begin:::::::::::::::::::::::::::::::::::::::::cms-body-->

    <!-- linkActivityTypeId Field -->
    <app-estate-activity-type-selector (optionChange)="onActionSelectorSelect($event)" [(loading)]="loading"
      [optionSelectForce]="dataModel.linkActivityTypeId" [optionPlaceholder]="this.translate.instant('TITLE.Category')">
    </app-estate-activity-type-selector>

    <!-- linkEstateUserId Field -->
    <app-estate-account-user-selector (optionChange)="onActionSelectorEstateUser($event)" [(loading)]="loading"
      *ngIf="fieldsInfo['linkEstateUserId']?.accessAddField" [optionSelectForce]="dataModel.linkEstateUserId"
      [optionPlaceholder]="this.translate.instant('TITLE.USER')">
    </app-estate-account-user-selector>

    <!-- linkEstateAgencyId Field -->
    <app-estate-account-agency-selector *ngIf="fieldsInfo['linkEstateAgencyId']?.accessWatchField"
      (optionChange)="onActionSelectorEstateAgency($event)" [(loading)]="loading"
      [optionSelectForce]="dataModel.linkEstateAgencyId" [optionSelectUserId]="this.tokenInfo.userId"
      [optionPlaceholder]="this.translate.instant('TITLE.Property_agency')">
    </app-estate-account-agency-selector>

    <!-- LinkPropertyId Field -->
    <app-estate-property-selector (optionChange)="onActionSelectorProperty($event)" [(loading)]="loading"
      *ngIf="fieldsInfo['linkPropertyId']?.accessAddField" [optionSelectForce]="dataModel.linkPropertyId"
      [optionPlaceholder]="this.translate.instant('TITLE.Property')"></app-estate-property-selector>

    <!-- linkCustomerOrderId Field -->
    <app-estate-customer-order-selector (optionChange)="onActionSelectorCustomerOrderId($event)" [(loading)]="loading"
      *ngIf="fieldsInfo['linkCustomerOrderId']?.accessAddField" [optionSelectForce]="dataModel.linkCustomerOrderId"
      [optionPlaceholder]="this.translate.instant('TITLE.Customer')"></app-estate-customer-order-selector>

    <!-- Title Field -->
    <mat-form-field class="ntk-full-width">
      <mat-label>{{fieldsInfo['title']?.fieldTitle}}</mat-label>
      <input matInput [(ngModel)]="dataModel.title" name="dataModel.title" #Title type="text"
        placeholder="{{fieldsInfo['title']?.fieldTitle}}" minlength="3" maxlength="100" required />
      <mat-icon matSuffix *ngIf="dataModel.title" matSuffix mat-icon-button aria-label="Clear"
        (click)="dataModel.title = ''">close</mat-icon>
      <mat-icon matSuffix>mode_edit</mat-icon>
      <mat-hint align="end">{{ Title.value.length }} / 100</mat-hint>
      <mat-error *ngIf="Title.errors?.required">
        Title is <strong>{{'MESSAGE.required' | translate}}</strong>
      </mat-error>
    </mat-form-field>

    <!-- Description Field -->
    <mat-form-field class="ntk-full-width">
      <mat-label>{{fieldsInfo['description']?.fieldTitle}}</mat-label>
      <textarea matInput [(ngModel)]="dataModel.description" name="dataModel.description" #Description type="text"
        placeholder="{{fieldsInfo['description']?.fieldTitle}}" minlength="1" maxlength="1000" rows=5></textarea>
      <mat-icon matSuffix *ngIf="dataModel.description" matSuffix mat-icon-button aria-label="Clear"
        (click)="dataModel.description = ''">close</mat-icon>
      <mat-icon matSuffix>mode_edit</mat-icon>
      <mat-hint align="end">{{ Description.value.length }} / 1000</mat-hint>
      <mat-error *ngIf="Description.errors?.required">
        Description is <strong>{{'MESSAGE.required' | translate}}</strong>
      </mat-error>
    </mat-form-field>
    <!-- activityStatus Field -->
    <mat-form-field class="ntk-full-width">
      <mat-select placeholder="{{'TITLE.TypeId' | translate}}" [(ngModel)]="dataModel.activityStatus"
        name="dataModel.activityStatus" #activityStatus="ngModel">
        <mat-option *ngFor="
                          let item of dataModelEstateActivityStatusEnumResult.listItems;
                          index as i
                        " [value]="item.value">{{ item.description }}</mat-option>
      </mat-select>
    </mat-form-field>
    <!-- DescriptionHidden Field -->
    <mat-form-field class="ntk-full-width" *ngIf="fieldsInfo['descriptionHidden']?.accessAddField">
      <mat-label>{{fieldsInfo['descriptionHidden']?.fieldTitle}}</mat-label>
      <textarea matInput [(ngModel)]="dataModel.descriptionHidden" name="dataModel.descriptionHidden" #DescriptionHidden
        type="text" placeholder="{{fieldsInfo['descriptionHidden']?.fieldTitle}}" minlength="0" maxlength="1000"
        rows=5></textarea>
      <mat-icon matSuffix *ngIf="dataModel.descriptionHidden" matSuffix mat-icon-button aria-label="Clear"
        (click)="dataModel.descriptionHidden = ''">close</mat-icon>
      <mat-icon matSuffix>mode_edit</mat-icon>
      <mat-hint align="end">{{ DescriptionHidden.value.length }} / 1000</mat-hint>
      <mat-error *ngIf="DescriptionHidden.errors?.required">
        DescriptionHidden is <strong>{{'MESSAGE.required' | translate}}</strong>
      </mat-error>
    </mat-form-field>

    <div class="row">
      <div class="col-6">
        <!-- AppointmentDateFrom Field -->
        <mat-form-field class="ntk-full-width" *ngIf="fieldsInfo['appointmentDateFrom']?.accessWatchField">
          <mat-label>{{fieldsInfo['appointmentDateFrom']?.fieldTitle}}</mat-label>
          <input matInput [matDatepicker]="AppointmentDateFrom" [(ngModel)]="dataModel.appointmentDateFrom"
            [formControl]="date" name="dataModel.appointmentDateFrom" />
          <mat-icon matSuffix *ngIf="dataModel.appointmentDateFrom && fieldsInfo['appointmentDateFrom']?.accessAddField"
            matSuffix mat-icon-button aria-label="Clear" (click)="dataModel.appointmentDateFrom = null">close</mat-icon>
          <mat-datepicker-toggle matSuffix [for]="AppointmentDateFrom"></mat-datepicker-toggle>
          <mat-datepicker touchUi #AppointmentDateFrom></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="col-6">
        <!-- AppointmentDateTo Field -->
        <mat-form-field class="ntk-full-width" *ngIf="fieldsInfo['appointmentDateTo']?.accessWatchField">
          <mat-label>{{fieldsInfo['appointmentDateTo']?.fieldTitle}}</mat-label>
          <input matInput [matDatepicker]="AppointmentDateTo" [(ngModel)]="dataModel.appointmentDateTo"
            [value]="date.value" name="dataModel.appointmentDateTo" />
          <mat-icon matSuffix *ngIf="dataModel.appointmentDateTo && fieldsInfo['appointmentDateTo']?.accessAddField"
            matSuffix mat-icon-button aria-label="Clear" (click)="dataModel.appointmentDateTo = null">close</mat-icon>
          <mat-datepicker-toggle matSuffix [for]="AppointmentDateTo"></mat-datepicker-toggle>
          <mat-datepicker touchUi #AppointmentDateTo></mat-datepicker>
        </mat-form-field>
      </div>
      <!-- LinkFileIds Field -->
      <p>{{'TITLE.List_of_attached_files' | translate}}</p>
      <app-cms-files-selector [(dataFileModel)]="dataFileModelFiles" [openDirectUploadView]="true">
      </app-cms-files-selector>
    </div>
    <!--end:::::::::::::::::::::::::::::::::::::::::cms-body-->
  </div>
  <div class="ntk-cms-html-card-message">
    <!--begin:::::::::::::::::::::::::::::::::::::::::cms-message-->
    <div class="form-actions">
      <small class="form-text text-muted">{{ formInfo.formAlert }} </small>
      <small class="form-text text-muted danger">{{ formInfo.formError }}
      </small>
    </div>
    <!--end:::::::::::::::::::::::::::::::::::::::::cms-message-->
  </div>
  <div class="ntk-cms-html-card-footer">
    <!--begin:::::::::::::::::::::::::::::::::::::::::cms-footer-->
    <div class="form-actions" *ngIf="formInfo.formSubmitAllow  && !loading.display">
      <button type="button" (click)="onFormCancel()" class="btn btn-light">
        <i class="ft-x"></i> {{'ACTION.CANCEL' | translate}}
      </button>
      <button type="submit" (click)="onFormSubmit()" class="btn btn-success" [disabled]="!vform.form.valid">
        <i class="fa fa-check-square-o"></i> {{'ACTION.SAVE' | translate}}
      </button>
    </div>
    <!--end:::::::::::::::::::::::::::::::::::::::::cms-footer-->
  </div>
</form>