<app-cms-guide-notice [Key]="'estate.billboard.list.add'" [svg]="'assets/media/svg/icons/General/Notifications1.svg'">
</app-cms-guide-notice>

<form (ngSubmit)="onFormSubmit()" #vform="ngForm">
  <!--begin:::::::::::::::::::::::::::::::::::::::::cms-header-->




  <!--end:::::::::::::::::::::::::::::::::::::::::cms-header-->

  <div class="ntk-cms-html-card-body">
    <app-progress-spinner [options]="loading"> </app-progress-spinner>
    <!--begin:::::::::::::::::::::::::::::::::::::::::cms-body-->

    <!-- Title Field -->
    <mat-form-field class="ntk-full-width">
      <mat-label>{{fieldsInfo['title']?.fieldTitle}}</mat-label>
      <input matInput [(ngModel)]="dataModel.title" name="dataModel.title" #Title type="text"
        placeholder="{{fieldsInfo['title']?.fieldTitle}}" minlength="3" maxlength="100" required />
      <mat-icon matSuffix *ngIf="dataModel.title" matSuffix mat-icon-button aria-label="Clear"
        (click)="dataModel.title = ''">close</mat-icon>
      <mat-icon matSuffix>mode_edit</mat-icon>
      <mat-hint align="end">{{ Title.value.length }} / 100</mat-hint>
      <mat-error *ngIf="Title.errors?.required">
        Title is <strong>{{'MESSAGE.required' | translate}}</strong>
      </mat-error>
    </mat-form-field>
    <!-- Description Field -->
    <mat-form-field class="ntk-full-width">
      <mat-label>{{fieldsInfo['description']?.fieldTitle}}</mat-label>
      <textarea matInput [(ngModel)]="dataModel.description" name="dataModel.description" #Description type="text"
        placeholder="{{fieldsInfo['description']?.fieldTitle}}" minlength="1" maxlength="500" rows=5></textarea>
      <mat-icon matSuffix *ngIf="dataModel.description" matSuffix mat-icon-button aria-label="Clear"
        (click)="dataModel.description = ''">close</mat-icon>
      <mat-icon matSuffix>mode_edit</mat-icon>
      <mat-hint align="end">{{ Description.value.length }} / 500</mat-hint>
      <mat-error *ngIf="Description.errors?.required">
        Description is <strong>{{'MESSAGE.required' | translate}}</strong>
      </mat-error>
    </mat-form-field>
    <!-- DescriptionHidden Field -->
    <mat-form-field class="ntk-full-width" *ngIf="fieldsInfo['descriptionHidden']?.accessWatchField">
      <mat-label>{{'TITLE.Description_Hidden' | translate}}</mat-label>
      <textarea matInput [(ngModel)]="dataModel.descriptionHidden" name="dataModel.descriptionHidden" #DescriptionHidden
        type="text" placeholder="{{fieldsInfo['descriptionHidden']?.fieldTitle}}" minlength="1" maxlength="500"
        rows=5></textarea>
      <mat-icon matSuffix *ngIf="dataModel.descriptionHidden" matSuffix mat-icon-button aria-label="Clear"
        (click)="dataModel.descriptionHidden = ''">close</mat-icon>
      <mat-icon matSuffix>mode_edit</mat-icon>
      <mat-hint align="end">{{ DescriptionHidden.value.length }} / 500</mat-hint>
      <mat-error *ngIf="DescriptionHidden.errors?.required">
        DescriptionHidden is <strong>{{'MESSAGE.required' | translate}}</strong>
      </mat-error>
    </mat-form-field>
    <!-- SpeedView Field -->
    <mat-form-field class="ntk-full-width" *ngIf="fieldsInfo['speedView']?.accessWatchField">
      <mat-label> {{fieldsInfo['speedView']?.fieldTitle}}</mat-label>
      <input matInput [(ngModel)]="dataModel.speedView" name="dataModel.speedView" #SpeedView type="number"
        [disabled]="!fieldsInfo['speedView']?.accessAddField" placeholder="{{fieldsInfo['speedView']?.fieldTitle}}" />
      <mat-icon matSuffix *ngIf="dataModel.speedView" matSuffix mat-icon-button aria-label="Clear"
        (click)="dataModel.speedView = 1">close</mat-icon>
      <mat-icon matSuffix>mode_edit</mat-icon>
    </mat-form-field>
    <!-- ReloadViewPerMin Field -->
    <mat-form-field class="ntk-full-width" *ngIf="fieldsInfo['reloadViewPerMin']?.accessWatchField">
      <mat-label> {{fieldsInfo['reloadViewPerMin']?.fieldTitle}}</mat-label>
      <input matInput [(ngModel)]="dataModel.reloadViewPerMin" name="dataModel.reloadViewPerMin" #ReloadViewPerMin
        type="number" [disabled]="!fieldsInfo['reloadViewPerMin']?.accessAddField"
        placeholder="{{fieldsInfo['reloadViewPerMin']?.fieldTitle}}" />
      <mat-icon matSuffix *ngIf="dataModel.reloadViewPerMin" matSuffix mat-icon-button aria-label="Clear"
        (click)="dataModel.reloadViewPerMin = 1">close</mat-icon>
      <mat-icon matSuffix>mode_edit</mat-icon>
    </mat-form-field>

    <!-- LinkMainImageId Field -->
    <div class="mb-3">
      <a href="{{dataModel.linkMainImageIdSrc | cmsthumbnail}}" target="_blank">
        <img *ngIf="dataModel?.linkMainImageIdSrc?.length>0" style="vertical-align:middle;" class="ntk-hover-zoom"
          aria-hidden src="{{dataModel.linkMainImageIdSrc | cmsthumbnail}}" height="50" width="50" />
      </a>
    </div>
    <div class="mb-9">
      <mat-form-field class="ntk-full-width">
        <mat-label (click)="fileManagerOpenForm = true">{{'TITLE.PHOTO_FILE' | translate}}
        </mat-label>
        <input matInput [(ngModel)]="dataModel.linkMainImageId" name="dataModel.linkMainImageId" #LinkMainImageId
          type="text" placeholder="{{'TITLE.Original_File_ID' | translate}}" autocomplete="off"
          (click)="fileManagerOpenForm = true" />
        <mat-icon matSuffix *ngIf="dataModel.linkMainImageId " matSuffix mat-icon-button aria-label="Clear"
          (click)="dataModel.linkMainImageId = null">close</mat-icon>
        <mat-icon matSuffix (click)="fileManagerOpenForm = true">mode_edit</mat-icon>
      </mat-form-field>
      <cms-file-manager (itemSelected)="onActionFileSelected($event)" [language]="appLanguage" [isPopup]="true"
        [(openForm)]="fileManagerOpenForm" [tree]="fileManagerTree" [openFilemanagerButtonLabelKey]="'select'"
        [openDirectUploadView]="true" [selectFileType]="selectFileTypeMainImage" [openFilemanagerButtonView]="false">
      </cms-file-manager>
    </div>

    <p>
      {{'TITLE.specific_property_list' | translate}}
    </p>
    <!-- LinkPropertyIds Field -->
    <app-estate-property-autocomplete (optionChange)="onActionSelectorProperty($event)"
      [optionDisabled]="!fieldsInfo['linkPropertyIds']?.accessAddField"
      [optionPlaceholder]="this.translate.instant('TITLE.Property')"
      [optionSelectForce]="this.dataModel.linkPropertyIds">
    </app-estate-property-autocomplete>
    <p>{{'MESSAGE.Selecting_specific_property_will_remove_all_search_fields' | translate}}</p>
    <hr>
    <div class="ntk-full-width">
      <!-- IncludeAllSite Field -->
      <mat-slide-toggle [(ngModel)]="dataModel.includeAllSite"
        *ngIf="fieldsInfo['includeAllSite']?.accessWatchField && !LinkPropertyIdsInUse"
        [disabled]="!fieldsInfo['includeAllSite']?.accessAddField" name="dataModel.includeAllSite">
        {{fieldsInfo['includeAllSite']?.fieldTitle}}
      </mat-slide-toggle>
    </div>
    <p *ngIf="!LinkPropertyIdsInUse">{{'MESSAGE.Content_of_your_choice_to_display_On_this_billboard' | translate}}</p>
    <P *ngIf="!LinkPropertyIdsInUse">
      {{'MESSAGE.Selecting_any_of_the_following_will_make_the_search_results_range_smaller' | translate}}</P>

    <!-- LinkPropertyTypeUsageIds Field -->
    <app-estate-property-type-usage-autocomplete (optionChange)="onActionSelectorSelectUsage($event)"
      *ngIf="!LinkPropertyIdsInUse" [optionDisabled]="!fieldsInfo['linkPropertyTypeUsageIds']?.accessAddField"
      [optionSelectForce]="dataModel.linkPropertyTypeUsageIds"
      [optionPlaceholder]="this.translate.instant('TITLE.Type_Usage')">
    </app-estate-property-type-usage-autocomplete>

    <!-- LinkPropertyTypeLanduseIds Field -->
    <app-estate-property-type-landuse-autocomplete (optionChange)="onActionSelectorSelectLanduse($event)"
      *ngIf="!LinkPropertyIdsInUse" [optionDisabled]="!fieldsInfo['linkPropertyTypeLanduseIds']?.accessAddField"
      [optionSelectForce]="dataModel.linkPropertyTypeLanduseIds"
      [optionPlaceholder]="this.translate.instant('TITLE.Property_type')">

    </app-estate-property-type-landuse-autocomplete>

    <br>
    <!-- LinkContractTypeIds Field -->
    <app-estate-contract-type-autocomplete (optionChange)="onActionSelectorContarctType($event)"
      *ngIf="!LinkPropertyIdsInUse" [optionDisabled]="!fieldsInfo['linkContractTypeIds']?.accessAddField"
      [optionSelectForce]="dataModel.linkContractTypeIds"
      [optionPlaceholder]="this.translate.instant('TITLE.Transaction_type')">
    </app-estate-contract-type-autocomplete>
    <!-- linkCoreCurrencyId Field -->
    <app-cms-currency-selector [optionSelectFirstItem]="true" [optionSelectForce]="dataModel.linkCoreCurrencyId"
      *ngIf="!LinkPropertyIdsInUse" (optionChange)="onActionSelectCurrency($event)" [(loading)]="loading"
      [optionPlaceholder]="this.translate.instant('TITLE.Specify_the_transaction_currency')">
    </app-cms-currency-selector>
    <!-- LinkLocationIds Field -->
    <app-cms-location-autocomplete (optionChange)="onActionSelectorLocation($event)" [(loading)]="loading"
      *ngIf="!LinkPropertyIdsInUse" [optionDisabled]="!fieldsInfo['linkLocationIds']?.accessAddField"
      [optionSelectForce]="dataModel.linkLocationIds" [optionPlaceholder]="this.translate.instant('TITLE.Region')">
    </app-cms-location-autocomplete>



    <div class="form-actions" *ngIf="formInfo.formSubmitAllow  && !loading.display">
      <button type="button" (click)="onFormCancel()" class="btn btn-light BTN-text">
        <i class="ft-x"></i> {{'ACTION.CANCEL' | translate}}
      </button>
      <button type="submit" (click)="onFormSubmit()" class="btn btn-success BTN-text" [disabled]="!vform.form.valid">
        <i class="fa fa-check-square-o"></i> {{'ACTION.SAVE' | translate}}
      </button>

    </div>

    <!--end:::::::::::::::::::::::::::::::::::::::::cms-body-->
  </div>
  <div class="ntk-cms-html-card-message">
    <!--begin:::::::::::::::::::::::::::::::::::::::::cms-message-->

    <!--end:::::::::::::::::::::::::::::::::::::::::cms-message-->
  </div>
  <div class="ntk-cms-html-card-footer">
    <!--begin:::::::::::::::::::::::::::::::::::::::::cms-footer-->

    <!--end:::::::::::::::::::::::::::::::::::::::::cms-footer-->
  </div>
</form>