
<div class="table" >
  <div class="tr">
    <div class="td">{{fieldsInfo['Title']?.FieldTitle}} : </div>
    <div class="td">{{dataModelResult?.Item?.Title}}</div>
    <div class="td">{{fieldsInfo['Id']?.FieldTitle}} : </div>
    <div class="td">{{dataModelResult?.Item?.Id}}</div>
    <div style="clear: both;"></div>
  </div>
  <div class="tr">
    <div class="td">{{fieldsInfo['LinkMainImageId']?.FieldTitle}} : </div>
    <div class="td">
      <img *ngIf="dataModelResult?.Item?.LinkMainImageIdSrc?.length>0" style="vertical-align:middle;" aria-hidden
      src="{{dataModelResult?.Item?.LinkMainImageIdSrc}}" height="40" width="40" id="LinkMainImageIdSrc" />
    </div>
    <div class="td"></div>
    <div class="td"></div>
    <div style="clear: both;"></div>
  </div>

</div>
