.img-wrapper{
  width: 10px;
}
img{
  object-fit: cover;
  transition: all .5s ease;
}
/* img.custom:hover {
  transform: scale(5);
 margin-top: 410px;
  z-index: 999;
} */
.symbol.symbol-50 .symbol-label {
  width: 100px;
  height: 100px;
}
