<app-cms-html-notice [svg]="'assets/media/svg/icons/Design/Edit.svg'">
 <h4> {{'TITLE.Edit' | translate}}</h4>
  در این بخش شما میتوانید مشخصات کاربر را ویرایش نمایید.
  <br>
</app-cms-html-notice>
<form (ngSubmit)="onFormSubmit()" #vform="ngForm">
  <!-- <div class="ntk-cms-html-card-header"> -->
  <!--begin:::::::::::::::::::::::::::::::::::::::::cms-header-->
  <!-- ویرایش : {{dataModel.name}} {{dataModel.lastName}} -->
  <!--end:::::::::::::::::::::::::::::::::::::::::cms-header-->
  <!-- </div> -->
  <div class="ntk-cms-html-card-body">
    <app-progress-spinner [options]="loading"> </app-progress-spinner>
    <!--begin:::::::::::::::::::::::::::::::::::::::::cms-body-->
    <mat-horizontal-stepper (selectionChange)="onStepClick($event,stepper)" #stepper>

      <mat-step label="{{'TITLE.REQUIRED_INFORMATION' | translate}}" state="main">
        <!-- RecordStatus Field -->
        <mat-form-field class="ntk-full-width" *ngIf="fieldsInfo['RecordStatus']?.accessWatchField">
          <mat-label> {{fieldsInfo['RecordStatus']?.fieldTitle}}</mat-label>
          <mat-select [disabled]="!fieldsInfo['RecordStatus']?.accessEditField" placeholder="{{fieldsInfo['RecordStatus']?.fieldTitle}}" [(ngModel)]="dataModel.recordStatus"
            name="dataModel.recordStatus" #RecordStatus="ngModel" panelClass="recordStatus-{{ dataModel.recordStatus }}"
            required>
            <mat-option *ngFor="
          let item of dataModelEnumRecordStatusResult.listItems;
          index as i
        " [value]="item.value">{{ item.description }}</mat-option>
          </mat-select>
          <mat-hint  style="text-align: right;">
            <mat-icon matSuffix class="info-field-icon">info</mat-icon>
            <strong class="info-field-text">{{fieldsInfo['Email']?.FieldDescription}}</strong>
          </mat-hint>
          <mat-hint align="end">{{'TITLE.SELECT_STATUS' | translate}}</mat-hint>
          <mat-error *ngIf="RecordStatus.errors?.required">
            RecordStatus is <strong>{{'MESSAGE.required' | translate}}</strong>
          </mat-error>
        </mat-form-field>

        <!-- Username Field -->

        <mat-form-field class="ntk-full-width" *ngIf="fieldsInfo['Username']?.accessWatchField">
          <mat-label> {{fieldsInfo['Username']?.fieldTitle}}</mat-label>
          <input matInput [(ngModel)]="dataModel.username" name="dataModel.username" #Username type="text"
            [disabled]="!fieldsInfo['Username']?.accessEditField" placeholder="{{fieldsInfo['Username']?.fieldTitle}}"
            minlength="3" maxlength="100" />
          <mat-icon matSuffix *ngIf="dataModel.username" matSuffix mat-icon-button aria-label="Clear"
            (click)="dataModel.username = ''">close</mat-icon>
          <mat-icon matSuffix>mode_edit</mat-icon>
          <mat-hint  style="text-align: right;">
            <mat-icon matSuffix class="info-field-icon">info</mat-icon>
            <strong class="info-field-text">{{fieldsInfo['Username']?.FieldDescription}}</strong>
          </mat-hint>
          <mat-hint align="end">{{ Username.value.length }} / 100</mat-hint>
          <mat-error *ngIf="Username.errors?.required">
            {{fieldsInfo['Username']?.fieldTitle}} <strong>{{'MESSAGE.required' | translate}}</strong>
          </mat-error>
        </mat-form-field>

        <!-- Email Field -->

        <mat-form-field class="ntk-full-width" *ngIf="fieldsInfo['Email']?.accessWatchField">
          <mat-label> {{fieldsInfo['Email']?.fieldTitle}}</mat-label>
          <input matInput [(ngModel)]="dataModel.email" name="dataModel.email" #Email type="text"
            [disabled]="!fieldsInfo['Email']?.accessEditField" placeholder="{{fieldsInfo['Email']?.fieldTitle}}"
            minlength="3" maxlength="100" />
          <mat-icon matSuffix *ngIf="dataModel.email" matSuffix mat-icon-button aria-label="Clear"
            (click)="dataModel.email = ''">close</mat-icon>
          <mat-icon matSuffix>mode_edit</mat-icon>
          <mat-hint  style="text-align: right;">
            <mat-icon matSuffix class="info-field-icon">info</mat-icon>
            <strong class="info-field-text">{{fieldsInfo['Email']?.FieldDescription}}</strong>
          </mat-hint>
          <mat-hint align="end">{{ Email.value.length }} / 100</mat-hint>
          <mat-error *ngIf="Email.errors?.required">
            {{fieldsInfo['Email']?.fieldTitle}} <strong>{{'MESSAGE.required' | translate}}</strong>
          </mat-error>
        </mat-form-field>

        <!-- EmailConfirmed Field -->
        <div class="ntk-full-width">
          <mat-slide-toggle [(ngModel)]="dataModel.emailConfirmed"
            *ngIf="fieldsInfo['EmailConfirmed']?.accessWatchField"
            [disabled]="!fieldsInfo['EmailConfirmed']?.accessEditField" name="dataModel.emailConfirmed">
            {{fieldsInfo['EmailConfirmed']?.fieldTitle}}
          </mat-slide-toggle>
        </div>
        <!-- Mobile Field -->
        <mat-form-field class="ntk-full-width" *ngIf="fieldsInfo['Mobile']?.accessWatchField">
          <mat-label> {{fieldsInfo['Mobile']?.fieldTitle}}</mat-label>
          <input matInput [(ngModel)]="dataModel.mobile" name="dataModel.mobile" #Mobile type="text" class="input-Mobile"
            [disabled]="!fieldsInfo['Mobile']?.accessEditField" placeholder="{{fieldsInfo['Mobile']?.fieldTitle}}"
            minlength="3" maxlength="100" />
          <mat-icon matSuffix *ngIf="dataModel.mobile" matSuffix mat-icon-button aria-label="Clear"
            (click)="dataModel.mobile = ''">close</mat-icon>
          <mat-icon matSuffix>mode_edit</mat-icon>
          <mat-hint  style="text-align: right;">
            <mat-icon matSuffix class="info-field-icon">info</mat-icon>
            <strong class="info-field-text">{{fieldsInfo['Mobile']?.FieldDescription}}</strong>
          </mat-hint>
          <mat-hint align="end">{{ Mobile.value.length }} / 100</mat-hint>
          <mat-error *ngIf="Mobile.errors?.required">
            {{fieldsInfo['Mobile']?.fieldTitle}} <strong>{{'MESSAGE.required' | translate}}</strong>
          </mat-error>
        </mat-form-field>
        <!-- MobileConfirmed Field -->
        <div class="ntk-full-width">
          <mat-slide-toggle [(ngModel)]="dataModel.mobileConfirmed"
            *ngIf="fieldsInfo['MobileConfirmed']?.accessWatchField"
            [disabled]="!fieldsInfo['MobileConfirmed']?.accessEditField" name="dataModel.mobileConfirmed">
            {{fieldsInfo['MobileConfirmed']?.fieldTitle}}
          </mat-slide-toggle>
        </div>
        <!-- ExpireDate Field -->
        <mat-form-field class="ntk-full-width" *ngIf="fieldsInfo['ExpireDate']?.accessWatchField">
          <mat-label>{{fieldsInfo['ExpireDate']?.fieldTitle}}</mat-label>
          <input matInput [matDatepicker]="ExpireDate" [(ngModel)]="dataModel.expireDate" name="dataModel.expireDate"
            disabled="{{!fieldsInfo['ExpireDate']?.accessEditField}}"
            placeholder="{{fieldsInfo['ExpireDate']?.fieldTitle}}" />
          <mat-icon matSuffix *ngIf="dataModel.expireDate && fieldsInfo['ExpireDate']?.accessEditField" matSuffix
            mat-icon-button aria-label="Clear" (click)="dataModel.expireDate = null">close</mat-icon>
          <mat-hint  style="text-align: right;">
            <mat-icon matSuffix class="info-field-icon">info</mat-icon>
            <strong class="info-field-text">{{fieldsInfo['ExpireDate']?.FieldDescription}}</strong>
          </mat-hint>
          <mat-datepicker-toggle matSuffix [for]="ExpireDate"></mat-datepicker-toggle>
          <mat-datepicker touchUi #ExpireDate></mat-datepicker>
        </mat-form-field>






        <div *ngIf="formInfo.formSubmitAllow  && !loading.display" class="ntk-button-row">
          <button type="button" mat-raised-button (click)="onActionBackToParent()">
            {{'ACTION.BACK' | translate}}
          </button>
          <button type="button" mat-raised-button color="primary" [disabled]="!vform.form.valid" matStepperNext>
            {{'ACTION.NEXT' | translate}}
          </button>
          <button type="button" mat-raised-button color="primary" (click)="onActionbuttonChangePassword()" *ngIf="this.tokenInfo.userId == this.dataModel.id || dataModelResult.access.accessEditRow" >
            {{'AUTH.FORGOT.PASSWORD' | translate}}
          </button>
        </div>
      </mat-step>

      <mat-step label="مشخصات شخصی" state="seo">
        <p>اطلاعات صاحب حساب را وارد کنید</p>


        <!-- Name Field -->

        <mat-form-field class="ntk-full-width" *ngIf="fieldsInfo['Name']?.accessWatchField">
          <mat-label> {{fieldsInfo['Name']?.fieldTitle}}</mat-label>
          <input matInput [(ngModel)]="dataModel.name" name="dataModel.name" #Name type="text"
            [disabled]="!fieldsInfo['Name']?.accessEditField" placeholder="{{fieldsInfo['Name']?.fieldTitle}}"
            minlength="3" maxlength="100" />
          <mat-icon matSuffix *ngIf="dataModel.name" matSuffix mat-icon-button aria-label="Clear"
            (click)="dataModel.name = ''">close</mat-icon>
          <mat-icon matSuffix>mode_edit</mat-icon>
          <mat-hint  style="text-align: right;">
            <mat-icon matSuffix class="info-field-icon">info</mat-icon>
            <strong class="info-field-text">{{fieldsInfo['Name']?.FieldDescription}}</strong>
          </mat-hint>
          <mat-hint align="end">{{ Name.value.length }} / 100</mat-hint>
          <mat-error *ngIf="Name.errors?.required">
            {{fieldsInfo['Name']?.fieldTitle}} <strong>{{'MESSAGE.required' | translate}}</strong>
          </mat-error>
        </mat-form-field>

        <!-- LastName Field -->

        <mat-form-field class="ntk-full-width" *ngIf="fieldsInfo['LastName']?.accessWatchField">
          <mat-label> {{fieldsInfo['LastName']?.fieldTitle}}</mat-label>
          <input matInput [(ngModel)]="dataModel.lastName" name="dataModel.lastName" #LastName type="text"
            [disabled]="!fieldsInfo['LastName']?.accessEditField" placeholder="{{fieldsInfo['LastName']?.fieldTitle}}"
            minlength="3" maxlength="100" />
          <mat-icon matSuffix *ngIf="dataModel.lastName" matSuffix mat-icon-button aria-label="Clear"
            (click)="dataModel.lastName = ''">close</mat-icon>
          <mat-icon matSuffix>mode_edit</mat-icon>
          <mat-hint  style="text-align: right;">
            <mat-icon matSuffix class="info-field-icon">info</mat-icon>
            <strong class="info-field-text">{{fieldsInfo['LastName']?.FieldDescription}}</strong>
          </mat-hint>
          <mat-hint align="end">{{ LastName.value.length }} / 100</mat-hint>
          <mat-error *ngIf="LastName.errors?.required">
            {{fieldsInfo['LastName']?.fieldTitle}} <strong>{{'MESSAGE.required' | translate}}</strong>
          </mat-error>
        </mat-form-field>

        <!-- BirthDay Field -->
        <mat-form-field class="ntk-full-width" *ngIf="fieldsInfo['BirthDay']?.accessWatchField">
          <mat-label>{{fieldsInfo['BirthDay']?.fieldTitle}}</mat-label>
          <input matInput [matDatepicker]="BirthDay" [(ngModel)]="dataModel.birthDay" name="dataModel.birthDay"
            [disabled]="!fieldsInfo['BirthDay']?.accessEditField"
            placeholder="{{fieldsInfo['BirthDay']?.fieldTitle}}" />
          <mat-icon matSuffix *ngIf="dataModel.birthDay && fieldsInfo['BirthDay']?.accessEditField" matSuffix
            mat-icon-button aria-label="Clear" (click)="dataModel.birthDay = null">close</mat-icon>
          <mat-hint  style="text-align: right;">
            <mat-icon matSuffix class="info-field-icon">info</mat-icon>
            <strong class="info-field-text">{{fieldsInfo['BirthDay']?.FieldDescription}}</strong>
          </mat-hint>
          <mat-datepicker-toggle matSuffix [for]="BirthDay"></mat-datepicker-toggle>
          <mat-datepicker touchUi #BirthDay></mat-datepicker>
        </mat-form-field>
        <!-- CompanyName Field -->
        <mat-form-field class="ntk-full-width" *ngIf="fieldsInfo['CompanyName']?.accessWatchField">
          <mat-label> {{fieldsInfo['CompanyName']?.fieldTitle}}</mat-label>
          <input matInput [(ngModel)]="dataModel.companyName" name="dataModel.companyName" #CompanyName type="text"
            [disabled]="!fieldsInfo['CompanyName']?.accessEditField"
            placeholder="{{fieldsInfo['CompanyName']?.fieldTitle}}" minlength="3" maxlength="100" />
          <mat-icon matSuffix *ngIf="dataModel.companyName" matSuffix mat-icon-button aria-label="Clear"
            (click)="dataModel.companyName = ''">close</mat-icon>
          <mat-icon matSuffix>mode_edit</mat-icon>
          <mat-hint  style="text-align: right;">
            <mat-icon matSuffix class="info-field-icon">info</mat-icon>
            <strong class="info-field-text">{{fieldsInfo['CompanyName']?.FieldDescription}}</strong>
          </mat-hint>
          <mat-hint align="end">{{ CompanyName.value.length }} / 100</mat-hint>
          <mat-error *ngIf="CompanyName.errors?.required">
            {{fieldsInfo['CompanyName']?.fieldTitle}} <strong>{{'MESSAGE.required' | translate}}</strong>
          </mat-error>
        </mat-form-field>

        <!-- Tell Field -->
        <mat-form-field class="ntk-full-width" *ngIf="fieldsInfo['Tell']?.accessWatchField">
          <mat-label> {{fieldsInfo['Tell']?.fieldTitle}}</mat-label>
          <input matInput [(ngModel)]="dataModel.tell" name="dataModel.tell" #Tell type="text"
            [disabled]="!fieldsInfo['Tell']?.accessEditField" placeholder="{{fieldsInfo['Tell']?.fieldTitle}}"
            minlength="3" maxlength="100" />
          <mat-icon matSuffix *ngIf="dataModel.tell" matSuffix mat-icon-button aria-label="Clear"
            (click)="dataModel.tell = ''">close</mat-icon>
          <mat-icon matSuffix>mode_edit</mat-icon>
          <mat-hint  style="text-align: right;">
            <mat-icon matSuffix class="info-field-icon">info</mat-icon>
            <strong class="info-field-text">{{fieldsInfo['Tell']?.FieldDescription}}</strong>
          </mat-hint>
          <mat-hint align="end">{{ Tell.value.length }} / 100</mat-hint>
          <mat-error *ngIf="Tell.errors?.required">
            {{fieldsInfo['Tell']?.fieldTitle}} <strong>{{'MESSAGE.required' | translate}}</strong>
          </mat-error>
        </mat-form-field>
        <!-- PostalCode Field -->
        <mat-form-field class="ntk-full-width" *ngIf="fieldsInfo['PostalCode']?.accessWatchField">
          <mat-label> {{fieldsInfo['PostalCode']?.fieldTitle}}</mat-label>
          <input matInput [(ngModel)]="dataModel.postalCode" name="dataModel.postalCode" #PostalCode type="text"
            [disabled]="!fieldsInfo['PostalCode']?.accessEditField"
            placeholder="{{fieldsInfo['PostalCode']?.fieldTitle}}" minlength="3" maxlength="100" />
          <mat-icon matSuffix *ngIf="dataModel.postalCode" matSuffix mat-icon-button aria-label="Clear"
            (click)="dataModel.postalCode = ''">close</mat-icon>
          <mat-icon matSuffix>mode_edit</mat-icon>
          <mat-hint  style="text-align: right;">
            <mat-icon matSuffix class="info-field-icon">info</mat-icon>
            <strong class="info-field-text">{{fieldsInfo['PostalCode']?.FieldDescription}}</strong>
          </mat-hint>
          <mat-hint align="end">{{ PostalCode.value.length }} / 100</mat-hint>
          <mat-error *ngIf="PostalCode.errors?.required">
            {{fieldsInfo['PostalCode']?.fieldTitle}} <strong>{{'MESSAGE.required' | translate}}</strong>
          </mat-error>
        </mat-form-field>
        <!-- Address Field -->
        <mat-form-field class="ntk-full-width" *ngIf="fieldsInfo['Address']?.accessWatchField">
          <mat-label> {{fieldsInfo['Address']?.fieldTitle}}</mat-label>
          <textarea matInput [(ngModel)]="dataModel.address" name="dataModel.address"
            [disabled]="!fieldsInfo['Address']?.accessEditField" #Address type="text"
            placeholder=" {{fieldsInfo['Address']?.fieldTitle}}" minlength="1" maxlength="1000" rows=5></textarea>
          <mat-icon matSuffix *ngIf="dataModel.address" matSuffix mat-icon-button aria-label="Clear"
            (click)="dataModel.address = ''">close</mat-icon>
          <mat-icon matSuffix>mode_edit</mat-icon>
          <mat-hint  style="text-align: right;">
            <mat-icon matSuffix class="info-field-icon">info</mat-icon>
            <strong class="info-field-text">{{fieldsInfo['Address']?.FieldDescription}}</strong>
          </mat-hint>
          <mat-hint align="end">{{ Address.value.length }} / 1000</mat-hint>
        </mat-form-field>

        <div *ngIf="formInfo.formSubmitAllow  && !loading.display" class="ntk-button-row">
          <button type="button" mat-raised-button color="accent" matStepperPrevious>
            {{'ACTION.BEFOR' | translate}}
          </button>
          <button type="button" mat-raised-button color="primary" [disabled]="!vform.form.valid" matStepperNext>
            {{'ACTION.NEXT' | translate}}
          </button>
        </div>
      </mat-step>
      <mat-step label="تنظیمات امینتی" state="seo">
        <p>تنظیمات لازیم برای امنیت این حساب کاربری</p>

        <!-- LinkResellerUserId Field -->
        <app-cms-user-selector [optionDisabled]="!fieldsInfo['LinkResellerUserId']?.accessEditField"
          [optionSelectForce]="dataModel.linkResellerUserId"
          (optionChange)="onActionSelectorLinkResellerUserIdSelect($event)" [optionPlaceholder]="'کاربر معرف'">
        </app-cms-user-selector>
        <!-- LinkResellerSiteId Field -->
        <app-cms-site-selector [optionDisabled]="!fieldsInfo['LinkResellerSiteId']?.accessEditField"
          [optionSelectForce]="dataModel.linkResellerSiteId"
          (optionChange)="onActionSelectorLinkResellerSiteIdSelect($event)" [optionPlaceholder]="'سایت معرف'">
        </app-cms-site-selector>
        <!-- ExpireLockAccount Field -->
        <mat-form-field class="ntk-full-width" *ngIf="fieldsInfo['ExpireLockAccount']?.accessWatchField">
          <mat-label>{{fieldsInfo['ExpireLockAccount']?.fieldTitle}}</mat-label>
          <input matInput [matDatepicker]="ExpireLockAccount" [(ngModel)]="dataModel.expireLockAccount"
            name="dataModel.expireLockAccount" />
          <mat-icon matSuffix *ngIf="dataModel.expireLockAccount && fieldsInfo['ExpireLockAccount']?.accessEditField"
            matSuffix mat-icon-button aria-label="Clear" (click)="dataModel.expireLockAccount = null">close</mat-icon>
          <mat-datepicker-toggle matSuffix [for]="ExpireLockAccount"></mat-datepicker-toggle>
          <mat-datepicker touchUi #ExpireLockAccount></mat-datepicker>
        </mat-form-field>


        <!-- FirewallAllowIP Field -->
        <mat-form-field class="ntk-full-width" *ngIf="fieldsInfo['FirewallAllowIP']?.accessWatchField">
          <mat-label> {{fieldsInfo['FirewallAllowIP']?.fieldTitle}}</mat-label>
          <textarea matInput [(ngModel)]="dataModel.firewallAllowIP" name="dataModel.firewallAllowIP"
            [disabled]="!fieldsInfo['FirewallAllowIP']?.accessEditField" #FirewallAllowIP type="text"
            placeholder=" {{fieldsInfo['FirewallAllowIP']?.fieldTitle}}" minlength="1" maxlength="1000"
            rows=5></textarea>
          <mat-icon matSuffix *ngIf="dataModel.firewallAllowIP" matSuffix mat-icon-button aria-label="Clear"
            (click)="dataModel.firewallAllowIP = ''">close</mat-icon>
          <mat-icon matSuffix>mode_edit</mat-icon>
          <mat-hint align="end">{{ FirewallAllowIP.value.length }} / 1000</mat-hint>
        </mat-form-field>

        <div *ngIf="formInfo.formSubmitAllow  && !loading.display" class="ntk-button-row">
          <button type="button" mat-raised-button color="accent" matStepperPrevious>
            {{'ACTION.BEFOR' | translate}}
          </button>
          <button type="button" mat-raised-button color="primary" [disabled]="!vform.form.valid" matStepperNext>
            {{'ACTION.NEXT' | translate}}
          </button>
        </div>
      </mat-step>
      <mat-step label="{{'TITLE.ATTACH_FILES' | translate}}" state="file">
        <p>فایل های مربوط به این حساب کاربری</p>


        <mat-form-field class="ntk-full-width">
          <img *ngIf="dataModel?.linkMainImageIdSrc?.length>0" style="vertical-align:middle;" class="ntk-hover-zoom" aria-hidden
            src="{{dataModel.linkMainImageIdSrc | cmsthumbnail}}" height="50" width="50" />
          <mat-label (click)="fileManagerOpenForm = true">فایل عکس</mat-label>
          <input matInput [(ngModel)]="dataModel.linkMainImageId" name="dataModel.linkMainImageId" #LinkMainImageId
            type="text" placeholder="شناسه فایل آیکن" (click)="fileManagerOpenForm = true" />
          <mat-icon matSuffix *ngIf="dataModel.linkMainImageId" matSuffix mat-icon-button aria-label="Clear"
            (click)="dataModel.linkMainImageId = null">close</mat-icon>
          <mat-icon matSuffix (click)="fileManagerOpenForm = true">mode_edit</mat-icon>
        </mat-form-field>

        <cms-file-manager (itemSelected)="onActionFileSelected($event)" [language]="appLanguage"
          [selectFileType]="selectFileTypeMainImage" [isPopup]="true" [(openForm)]="fileManagerOpenForm"
          [openDirectUploadView]="true" [tree]="fileManagerTree" [openFilemanagerButtonLabelKey]="'select'"
          [openFilemanagerButtonView]="false">
        </cms-file-manager>
        <div *ngIf="formInfo.formSubmitAllow  && !loading.display" class="ntk-button-row">
          <button type="button" mat-raised-button color="accent" matStepperPrevious>
            {{'ACTION.BEFOR' | translate}}
          </button>
          <button type="submit" mat-raised-button color="success" [disabled]="!vform.form.valid">
            {{'ACTION.SAVE' | translate}}
          </button>
        </div>
      </mat-step>

      <!-- Icon overrides. -->
      <ng-template matStepperIcon="main">
        <mat-icon>call_end</mat-icon>
      </ng-template>
      <ng-template matStepperIcon="seo">
        <mat-icon>call_end</mat-icon>
      </ng-template>
      <ng-template matStepperIcon="file">
        <mat-icon>forum</mat-icon>
      </ng-template>
      <ng-template matStepperIcon="loaction">
        <mat-icon>forum</mat-icon>
      </ng-template>

    </mat-horizontal-stepper>

    <!--end:::::::::::::::::::::::::::::::::::::::::cms-body-->
  </div>
  <div class="ntk-cms-html-card-message">
    <!--begin:::::::::::::::::::::::::::::::::::::::::cms-message-->

    <!--end:::::::::::::::::::::::::::::::::::::::::cms-message-->
  </div>
  <div class="ntk-cms-html-card-footer">
    <!--begin:::::::::::::::::::::::::::::::::::::::::cms-footer-->

    <!--end:::::::::::::::::::::::::::::::::::::::::cms-footer-->
  </div>
</form>