<form (ngSubmit)="onFormSubmit()" #vform="ngForm">
  <div class="ntk-cms-html-card-header">
    <!--begin:::::::::::::::::::::::::::::::::::::::::cms-header-->
    {{ formInfo.formTitle }}
    <!--end:::::::::::::::::::::::::::::::::::::::::cms-header-->
  </div>
  <div class="ntk-cms-html-card-body">
    <app-progress-spinner [options]="loading"> </app-progress-spinner>
    <!--begin:::::::::::::::::::::::::::::::::::::::::cms-body-->
    <!-- RecordStatus Field -->
    <mat-form-field class="ntk-full-width" *ngIf="ProfessionalData">
      <mat-select placeholder="{{fieldsInfo['recordStatus']?.fieldTitle}}" [(ngModel)]="dataModel.recordStatus"
        name="dataModel.recordStatus" #RecordStatus="ngModel" panelClass="recordStatus-{{ dataModel.recordStatus }}">
        <mat-option *ngFor="
                  let item of dataModelEnumRecordStatusResult.listItems;
                  index as i
                " [value]="item.value">{{ item.description }}</mat-option>
      </mat-select>
      <mat-hint align="end">{{'TITLE.SELECT_STATUS' | translate}}</mat-hint>
      <mat-error *ngIf="RecordStatus.errors?.required">
        RecordStatus is <strong>{{'MESSAGE.required' | translate}}</strong>
      </mat-error>
    </mat-form-field>
    <!-- Title Field -->
    <mat-form-field class="ntk-full-width" *ngIf="ProfessionalData">
      <mat-label>{{fieldsInfo['title']?.fieldTitle}}</mat-label>
      <input matInput [(ngModel)]="dataModel.title" name="dataModel.title" #Title type="text"
        placeholder="{{fieldsInfo['title']?.fieldTitle}}" minlength="0" maxlength="100" />
      <mat-icon matSuffix *ngIf="dataModel.title" matSuffix mat-icon-button aria-label="Clear"
        (click)="dataModel.title = ''">close</mat-icon>
      <mat-icon matSuffix>mode_edit</mat-icon>
      <mat-hint align="end">{{ Title.value.length }} / 100</mat-hint>
      <mat-error *ngIf="Title.errors?.required">
        {{fieldsInfo['title']?.fieldTitle}} is <strong>{{'MESSAGE.required' | translate}}</strong>
      </mat-error>
    </mat-form-field>

    <!-- TitleResourceLanguage Field -->
    <mat-form-field class="ntk-full-width">
      <mat-label>{{fieldsInfo['titleResourceLanguage']?.fieldTitle}}</mat-label>
      <input matInput [(ngModel)]="dataModel.titleResourceLanguage" name="dataModel.titleResourceLanguage"
        #TitleResourceLanguage type="text" placeholder="{{fieldsInfo['title']?.fieldTitle}}" minlength="3"
        maxlength="100" required [disabled]="!fieldsInfo['titleResourceLanguage']?.accessAddField" />
      <mat-icon matSuffix *ngIf="dataModel.titleResourceLanguage" matSuffix mat-icon-button aria-label="Clear"
        (click)="dataModel.titleResourceLanguage = ''">close</mat-icon>
      <mat-icon matSuffix>mode_edit</mat-icon>
      <mat-hint align="end">{{ TitleResourceLanguage.value.length }} / 100</mat-hint>
      <mat-error *ngIf="TitleResourceLanguage.errors?.required">
        {{fieldsInfo['titleResourceLanguage']?.fieldTitle}} is <strong>{{'MESSAGE.required' | translate}}</strong>
      </mat-error>
    </mat-form-field>
    <!-- LinkUserId Field -->
    <app-cms-user-selector (optionChange)="onActionSelectUser($event)" [(loading)]="loading"
      [optionSelectForce]="this.dataModel.linkUserId" *ngIf="ProfessionalData"
      [optionPlaceholder]="this.translate.instant('TITLE.USER')"
      [optionDisabled]="!fieldsInfo['linkUserId']?.accessAddField">
    </app-cms-user-selector>

    <!-- LinkSiteId Field -->
    <app-cms-site-selector (optionChange)="onActionSelectSite($event)" [(loading)]="loading"
      [optionSelectForce]="this.dataModel.linkSiteId" *ngIf="ProfessionalData"
      [optionPlaceholder]="this.translate.instant('TITLE.SITE')"
      [optionDisabled]="!fieldsInfo['linkSiteId']?.accessAddField">
    </app-cms-site-selector>

    <!-- LinkUserClaimTypeId Field -->
    <app-core-userclaimtype-selector (optionChange)="onActionSelectClaimType($event)"
      [optionSelectForce]="this.dataModel.linkUserClaimTypeId" [(loading)]="loading"
      [optionPlaceholder]="this.translate.instant('TITLE.DOCUMENT_CATEGORY')"
      [optionDisabled]="!fieldsInfo['linkUserClaimTypeId']?.accessAddField || (requestLinkUserClaimTypeId && requestLinkUserClaimTypeId>0)">
    </app-core-userclaimtype-selector>
    <!-- LinkFileContentId Field -->
    <div class="mb-3">
      <img *ngIf="dataModel?.linkFileContentIdSrc?.length>0" style="vertical-align:middle;" class="ntk-hover-zoom"
        aria-hidden src="{{dataModel.linkFileContentIdSrc | cmsthumbnail}}" height="50" width="50" />
    </div>
    <div class="mb-9">
      <mat-form-field class="ntk-full-width">
        <mat-label (click)="fileManagerOpenForm = true">{{'TITLE.Document_File' | translate}}
        </mat-label>
        <input matInput [(ngModel)]="dataModel.linkFileContentId" name="dataModel.linkFileContentId" #LinkFileContentId
          type="text" placeholder="{{'TITLE.Original_File_ID' | translate}}" autocomplete="off"
          (click)="fileManagerOpenForm = true" />
        <mat-icon matSuffix *ngIf="dataModel.linkFileContentId " matSuffix mat-icon-button aria-label="Clear"
          (click)="dataModel.linkFileContentId = null">close</mat-icon>
        <mat-icon matSuffix (click)="fileManagerOpenForm = true">mode_edit</mat-icon>
      </mat-form-field>
      <cms-file-manager (itemSelected)="onActionFileSelected($event)" [language]="appLanguage" [isPopup]="true"
        [(openForm)]="fileManagerOpenForm" [tree]="fileManagerTree" [openFilemanagerButtonLabelKey]="'select'"
        [openDirectUploadView]="true" [selectFileType]="selectFileTypeMainImage"
        [openFilemanagerButtonView]="false"></cms-file-manager>
    </div>
    <!-- Description Field -->
    <mat-form-field class="ntk-full-width">
      <mat-label>{{fieldsInfo['description']?.fieldTitle}}</mat-label>
      <textarea matInput [(ngModel)]="dataModel.description" name="dataModel.description" #Description type="text"
        placeholder="{{fieldsInfo['description']?.fieldTitle}}" minlength="1" maxlength="500" rows=0></textarea>
      <mat-icon matSuffix *ngIf="dataModel.description" matSuffix mat-icon-button aria-label="Clear"
        (click)="dataModel.description = ''">close</mat-icon>
      <mat-icon matSuffix>mode_edit</mat-icon>
      <mat-hint align="end">{{ Description.value.length }} / 500</mat-hint>
      <mat-error *ngIf="Description.errors?.required">
        {{fieldsInfo['description']?.fieldTitle}} is <strong>{{'MESSAGE.required' | translate}}</strong>
      </mat-error>
    </mat-form-field>

    <hr>

    <!-- IsApproved Field -->
    <div class="ntk-full-width">
      <mat-slide-toggle [(ngModel)]="dataModel.isApproved" *ngIf="fieldsInfo['isApproved']?.accessWatchField"
        [disabled]="!fieldsInfo['isApproved']?.accessAddField" name="dataModel.isApproved">
        {{fieldsInfo['isApproved']?.fieldTitle}}
      </mat-slide-toggle>
    </div>

    <!-- ApprovedResult Field -->
    <mat-form-field class="ntk-full-width" *ngIf="ProfessionalData">
      <mat-label>{{fieldsInfo['approvedResult']?.fieldTitle}}</mat-label>
      <textarea matInput [(ngModel)]="dataModel.approvedResult" name="dataModel.approvedResult" #ApprovedResult
        type="text" placeholder="{{fieldsInfo['description']?.fieldTitle}}" minlength="0" maxlength="500"
        rows=5></textarea>
      <mat-icon matSuffix *ngIf="dataModel.approvedResult" matSuffix mat-icon-button aria-label="Clear"
        (click)="dataModel.approvedResult = ''">close</mat-icon>
      <mat-icon matSuffix>mode_edit</mat-icon>
      <mat-hint align="end">{{ ApprovedResult.value.length }} / 500</mat-hint>
      <mat-error *ngIf="ApprovedResult.errors?.required">
        {{fieldsInfo['approvedResult']?.fieldTitle}} is <strong>{{'MESSAGE.required' | translate}}</strong>
      </mat-error>
    </mat-form-field>
    <!-- ApproveCheckDate Field -->
    <mat-form-field class="ntk-full-width" *ngIf="fieldsInfo['approveCheckDate']?.accessWatchField && ProfessionalData">
      <mat-label>{{fieldsInfo['approveCheckDate']?.fieldTitle}}</mat-label>
      <input matInput [matDatepicker]="ApproveCheckDate" [(ngModel)]="dataModel.approveCheckDate"
        name="dataModel.approveCheckDate" />
      <mat-icon matSuffix *ngIf="dataModel.approveCheckDate && fieldsInfo['approveCheckDate']?.accessAddField" matSuffix
        mat-icon-button aria-label="Clear" (click)="dataModel.approveCheckDate = null">close</mat-icon>
      <mat-icon matSuffix *ngIf="dataModel.approveCheckDate && fieldsInfo['approveCheckDate']?.accessAddField" matSuffix
        mat-icon-button aria-label="Clear" (click)="dataModel.approveCheckDate = null">close</mat-icon>
      <mat-datepicker-toggle matSuffix [for]="ApproveCheckDate"></mat-datepicker-toggle>
      <mat-datepicker touchUi #ApproveCheckDate></mat-datepicker>
    </mat-form-field>

    <!-- ExpireDate Field -->
    <mat-form-field class="ntk-full-width" *ngIf="fieldsInfo['expireDate']?.accessWatchField && ProfessionalData">
      <mat-label>{{fieldsInfo['expireDate']?.fieldTitle}}</mat-label>
      <input matInput [matDatepicker]="ExpireDate" [(ngModel)]="dataModel.expireDate" name="dataModel.expireDate" />
      <mat-icon matSuffix *ngIf="dataModel.expireDate && fieldsInfo['expireDate']?.accessAddField" matSuffix
        mat-icon-button aria-label="Clear" (click)="dataModel.expireDate = null">close</mat-icon>
      <mat-datepicker-toggle matSuffix [for]="ExpireDate"></mat-datepicker-toggle>
      <mat-datepicker touchUi #ExpireDate></mat-datepicker>
    </mat-form-field>
    <!--end:::::::::::::::::::::::::::::::::::::::::cms-body-->
  </div>
  <div class="ntk-cms-html-card-message">
    <!--begin:::::::::::::::::::::::::::::::::::::::::cms-message-->
    <div class="form-actions">
      <small class="form-text text-muted">{{ formInfo.formAlert }} </small>
      <small class="form-text text-muted danger">{{ formInfo.formError }}
      </small>
    </div>
    <!--end:::::::::::::::::::::::::::::::::::::::::cms-message-->
  </div>
  <div class="ntk-cms-html-card-footer">
    <!--begin:::::::::::::::::::::::::::::::::::::::::cms-footer-->

    <div class="form-actions" *ngIf="formInfo.formSubmitAllow  && !loading.display">
      <button type="button" (click)="onFormCancel()" class="btn btn-light">
        <i class="ft-x"></i> {{'ACTION.CANCEL' | translate}}
      </button>
      <button type="submit" (click)="onFormSubmit()" class="btn btn-success" [disabled]="!vform.form.valid">
        <i class="fa fa-check-square-o"></i> {{'ACTION.SAVE' | translate}}
      </button>
    </div>
    <!--end:::::::::::::::::::::::::::::::::::::::::cms-footer-->
  </div>
</form>