<!--begin::Navigation-->
<ul class="navi navi-hover">
  <li class="navi-header font-weight-bold py-4">
    <span class="font-size-lg">"this.translate.instant('TITLE.Choose_Label')":</span>
    <i
      class="flaticon2-information icon-md text-muted"
      data-toggle="tooltip"
      data-placement="right"
      title="Click to learn more..."
    ></i>
  </li>
  <li class="navi-separator mb-3 opacity-70"></li>
  <li class="navi-item">
    <a class="navi-link cursor-pointer">
      <span class="navi-text">
        <span class="label label-xl label-inline label-light-success"
          >"this.translate.instant('TITLE.Customer')"</span
        >
      </span>
    </a>
  </li>
  <li class="navi-item">
    <a class="navi-link cursor-pointer">
      <span class="navi-text">
        <span class="label label-xl label-inline label-light-danger"
          >"this.translate.instant('TITLE.Partner')"</span
        >
      </span>
    </a>
  </li>
  <li class="navi-item">
    <a class="navi-link cursor-pointer">
      <span class="navi-text">
        <span class="label label-xl label-inline label-light-warning"
          >"this.translate.instant('TITLE.Suplier')"</span
        >
      </span>
    </a>
  </li>
  <li class="navi-item">
    <a class="navi-link cursor-pointer">
      <span class="navi-text">
        <span class="label label-xl label-inline label-light-primary"
          >"this.translate.instant('TITLE.Member')"</span
        >
      </span>
    </a>
  </li>
  <li class="navi-item">
    <a class="navi-link cursor-pointer">
      <span class="navi-text">
        <span class="label label-xl label-inline label-light-dark">"this.translate.instant('TITLE.Staff')"</span>
      </span>
    </a>
  </li>
  <li class="navi-separator mt-3 opacity-70"></li>
  <li class="navi-footer py-4">
    <a class="btn btn-clean font-weight-bold btn-sm cursor-pointer">
      <i class="ki ki-plus icon-sm"></i>
    "this.translate.instant('TITLE.Add_New')"
    </a>
  </li>
</ul>
<!--end::Navigation-->
